[2018-05-18 05:40] ksun-stripe commented on #551
The token is the old style of creating cards and the source is the latest style. Sources can represent more payment methods than just cards ex in the future if you want to take other payment methods - say in Europe or Asia!  You can go to support@stripe.com and they can be helpful more in depth!

[2018-05-18 06:07] snandroiddev commented on #551
Thank you, already wrote to them

[2018-05-21 06:43] Flash91FS opened #577 "CardInputWidget not showing CVC EditText Field"
I am using stripe library version 7.0.0 as follows
**implementation 'com.stripe:stripe-android:7.0.0'**
On running on Android versions 21 or higher the CardInputWidget works fine and shows CVC field after Expiry date is entered, But upon testing on device running Android API level 17 and having screen size 3.7 inches, i noticed that the CardInputWidget does not show CVC field even if i end up ente

[2018-05-22 04:29] Flash91FS commented on #577
Update: I tested on a device having same 3.7 inches but running Android Marshmallow (API level 23), it worked fine. But when i tested on a Tablet running Android Jelly Bean 4.2.2 (API level 17), it gave the same issue of not showing CVC input field at all. Please see the screen shot that i am attaching.

![img_22052018_135940_0](https://user-images.githubusercontent.com/15036751/40342183-9458743c-

[2018-05-22 07:08] OleksandrGrument opened #578 "Stripe Express account creation (Question)"
Hi, is it possible to integrate stripe express account creation in app using this sdk and how ? Tnx

[2018-05-22 16:10] movify opened #579 "RetrofitFactory gradle and import"
Hi there,

I am getting an error by integrating
RetrofitFactory.getInstance();

Dependancies are:
implementation 'com.stripe:stripe-android:7.0.0'
implementation 'com.squareup.okhttp3:okhttp:3.0.1'
implementation 'com.squareup.retrofit2:retrofit:2.4.0'
implementation 'com.squareup.retrofit2:converter-gson:2.4.0'﻿
implementation 'io.reactivex:rxjava:1.3.4'
implementation 'io.reactivex.rxjava2:rxand

[2018-05-23 07:14] freszu commented on #563
Experiencing the same problem on production.
To reproduce write single number into ExpiryDateEditText and paste some long number into input.

[2018-05-25 00:08] ksun-stripe commented on #579
Hi @movify
You'll be best served by going to support@stripe.com! :D

[2018-05-25 00:08] #579 closed

[2018-05-25 00:10] ksun-stripe commented on #578
Hi @OleksandrGrument!

Currently, we don't have native SDK support for Stripe Express onboarding. You can see everything we offer here: https://stripe.com/docs/mobile/android

[2018-05-25 00:10] #578 closed

[2018-05-25 08:50] movify commented on #579
Hi Ksun

Can you please erase this entry?

Its about my nickname which I can't use.

I will write one ticket to Stripe, thanks!!!

En 25 de mayo de 2018, 02:08:54 +02:00, ksun-stripe <notifications@github.com> escribió:

[2018-05-31 20:29] ksun-stripe commented on #579
HI @movdrive
I looked into this -- it doesn't look like I can delete the issue.
https://stackoverflow.com/questions/3081521/how-to-completely-remove-an-issue-from-github?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

Maybe you can change the contents so your nickname is no longer showing?

[2018-06-01 08:26] movdrive commented on #579
Hii!!

Its fine no worries

2018-05-31 22:29 GMT+02:00 ksun-stripe <notifications@github.com>:

--

Für Frage stehe ich Ihnen gerne zur Verfügung.

Mit freundlichen Grüßen / Kind Regards

A. J. Lebrón Lobo

C/Nuñez de Balboa 120, Cink Emprende
Madrid, 28006
Tlf: +34-695 08 75 58

[2018-06-01 09:00] guidolodetti opened #582 "Payment method activity saves cards as "sources" instead of "cards" on dashboard"
Hello,

we are currently integrating the Stripe SDK into our iOS and Android apps, and this is our strange issue:

We make use of the standard `payment methods view controller / activity` to store customer cards, and the two platforms behave differently. iOS saves the cards correctly and from the customer dashboard I can see them under the "Cards" section. Android saves the cards under "sources" a

[2018-06-01 21:15] guidolodetti commented on #582
**Update:**
I have checked the source objects for the customer, and the difference is that on iOS the source is created as a `card_xxxxx` while on Android it gets created as a `src_xxxx` with a `Card` attached to it. And this is a problem of course!
<img width="530" alt="screen shot 2018-06-01 at 23 13 15" src="https://user-images.githubusercontent.com/7063023/40863833-907469d2-65f1-11e8-8848-aeda

[2018-06-01 23:30] joeydong-stripe commented on #582
👋 Hi again, the backstory here is that Stripe came out with sources around this time last year to better support non-card payment methods. The Android SDK wasn't developed back then so it defaulted to the new sources API. The iOS SDK stayed on the older cards API to avoid breaking changes. What do you think?

https://stripe.com/docs/sources

[2018-06-02 06:31] guidolodetti commented on #582
Hi Joey!

That’s ok. The only problem is that in the Stripe dashboard I can edit
cards while I cannot edit cards in the sources section. Also, in the
Android SDK the billing address required fields are completely ignored (I
can see you can set if they are required or not, but that parameter is
completely not used in the SDK and is just called once in the tests you
wrote just to check it gets corre

[2018-06-06 23:53] joeydong-stripe commented on #582
Hi @guidolodetti

I see what you mean, we're definitely looking into making the two behave more similarly.

Let us look into it and get back to you

[2018-06-08 22:47] lixw1021 opened #584 "error: " Missing required param: bank_account[account_number]" when use first BankAccount constructor in stripe.createBankAccountToken()"
There is an error: `Missing required param: bank_account[account_number]`
, when I use the first `BackAcount` constructor to create the bank account token,
There is no parameter in the constructor to add bank account number,
[BankAccount.class](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/BankAccount.java)

[code]

[2018-06-09 15:56] LiuZhe6 opened #585 "How to use Wechat pay for?"
Like the title shows ,how can I use Wechat to pay for?Like working with Alipay.
I did not find the document about that,thank you

[2018-06-12 00:01] ksun-stripe commented on #585
Hi! @LiuZhe6 Current, we do not have native SDK support for WeChat. You can you use custom params to create pass whatever parameters you need to the Stripe API though!
https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/SourceParams.java#L226

[2018-06-12 00:01] #585 closed

[2018-06-15 08:56] KWestra opened #590 "Error: crash in AddSourceActivity when a Customer has a default Sepa source."
I experience a crash in `AddSourceActivity` when adding a credit card. It always happens. It is only reproducible when the Customer you use to attach the cards to also has a Sepa Credit Transfer source attached to it. I am not certain this causes it, but when I add a Sepa source the crash starts to occur.

[Video of crash](https://www.youtube.com/watch?v=mjLJODHdgH0&feature=youtu.be)

<img width="

[2018-06-15 13:10] ebaratte opened #591 "Unable to create an Alipay source"
Following the instructions of https://stripe.com/docs/mobile/android/alipay-android, I try to create a single use Alipay source, and open the Alipay app to authorize it:

        SourceParams alipayParams = SourceParams.createAlipaySingleUseParams(1234,
               "EUR", null, null,
                "myapp://alipay");
        Source source = stripe.createSourceSynchronous(alipayParams, MY_STRIP

[2018-06-15 18:16] ksun-stripe commented on #591
hi @ebaratte thanks for bringing this our attention! I'll take a look!

[2018-06-15 18:17] ksun-stripe commented on #590
Hi @KWestra! I'm so sorry you're running into this issue - taking a look!

[2018-06-15 23:22] ksun-stripe commented on #591
Hi!  @ebaratte
If you're using the api, you should make sure you have live mode turned on. On test mode, the data will be null. For more help, you'll be best served by going to support@stripe.com

[2018-06-15 23:22] #591 closed

[2018-06-16 00:12] ksun-stripe commented on #590
Took a look! Two separate issues here:
1. The UI is crashing:
Would love some details on how you got the SEPA Credit source into the app. The AddSourceActivity only shows cards at the moment and it should have hidden the non-card sources on the first load and then you can only add card sources via the app. Did you add the sepa source via the api after the screen was loaded? Regardless, I'll put a

[2018-06-18 06:28] KWestra commented on #590
1. First thing I noticed that I get the Sepa source as the `mDefaultSource` on a `Customer`. I get this when I retrieve the Customer object through `CustomerSession`. That `AddSource` view indeed should not show non-card sources. I do not expect that. What I do noticed is that this crash starts to occur after a Sepa payment has been made (aka Customer has a Sepa defaultSource). Thank you very much

[2018-06-18 09:22] palashcn commented on #514
Hi @ksun-stripe, the issue is still there, can I know when this issue will be taken care.

[2018-06-18 20:49] ksun-stripe commented on #590
https://github.com/stripe/stripe-android/pull/592
Fix is up here! The view itself was crashing because it was attempting to render an icon we didn't have in the hashmap but also we shouldn't have been attempt to render non-card sources in the first place!

[2018-06-18 20:59] ksun-stripe commented on #590
Fix is merged! Closing this ticket for now - feel free to reopen/open a new one if you're running into anymore issues :)

[2018-06-18 20:59] #590 closed

[2018-06-18 21:20] ksun-stripe commented on #584
Hi @lixw1021

That constructor is not meant for public usage. "Constructor with no account number used internally to initialize an object"

https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/BankAccount.java#L68

Instead use the public constructor here:
https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model

[2018-06-18 21:20] #584 closed

[2018-06-19 09:29] atuldhanuka1990 commented on #514
Hi @ksun-stripe it's true still this issue is there but i don't know why it is been closed.

[2018-06-19 17:59] ksun-stripe commented on #514
Hi @atuldhanuka1990 and @palashcn! We've put it on our backlog to prioritize and will get to it as soon as possible :) Our policy is to close out any tasks that are already in our internal task tracking system.

[2018-06-20 08:56] smeurer commented on #546
The problem also appears on Galaxy S8 with lib version 7.0.0 in the credit card number input of a CardMultilineWidget

[2018-06-20 12:25] KWestra opened #593 "[Google Pay] Add support for `Source` instead of `Token` to Google Pay credit cards."
Your documentation describes that you get `Token` objects from the SDK when using Google Pay. Would be a cool enhancement to also be able to retrieve a `Source` besides a `Token` (or maybe replace Token?).

[2018-06-20 12:32] KWestra opened #594 "[Enhancement] Implement UI for `Address.RequiredBillingAddressFields` in `AddSourceActivity` ."
When you add a Credit Card through the SDK you open the `AddSourceActivity` which has an internal `CardInputWidget`. There is the possibility to set  `setRequiredBillingAddressFields` on `PaymentConfiguration`. However when I set that field the `AddSourceActivity` does not use that config or show any different UI. I am trying to request a Credit Card number and would like to add `holder name` and/

[2018-06-23 14:05] AlexDundar opened #595 "CardMultilineWidget doesnt change error text color"
Hi, i use CardMultilineWidget in my android application and i want to customize all text colors in this widget. And i can to make it with all texts except errors ("Your card`s number is invalid", for example), it always red. Is there a way to change this color?

[2018-06-28 09:09] ravenfeld commented on #593
Answer SAV stripe:
Thanks for writing in today. I'm Hasani, and I will be happy to answer your questions about our GooglePay API.

You are right that there is no information on our GooglePay documentation that explains how to make a source using the token made in GooglePay. That said, you can still do it by passing the token to in our API call to create the source object. For your convenience, you

[2018-06-28 23:18] jaz-ah commented on #546
also happens on Samsung Galaxy SM-T350 running Android 7.1.1

[2018-06-28 23:20] Xenero commented on #546
Happens on an S7 Edge running 8.0 also

On Fri, 29 Jun 2018 at 9:18 am, jaz-ah <notifications@github.com> wrote:

--
Regards
Brandon Stillitano
Project Manager
0401 007 904 <javascript:void(0);>

[2018-07-02 05:20] snandroiddev opened #596 "Source and billing address"
Hello guys

Could you help me with applying billing address to card created via source. Problem that address can't be attached to card

We use
Platform Android
Stripe sdk "7.1.0"

My code
`override fun createSource(context: Context, card: Card, listener: CustomerSession.SourceRetrievalListener) {
        val stripe = Stripe(context, PaymentConfiguration.getInstance().publishableKey)

        card.

[2018-07-03 17:49] kaylaemersongoat opened #597 "Can't enter 19 digits into CardInputWidget"
19 digit credit cards cannot be entered into credit card field. This means international customers may have issues as well 19 digit Diner Card members.

[2018-07-03 23:09] anelder-stripe commented on #596
The billing address is in the `owner.address`-attribute of the JSON you provided above (which is expected for Sources).  Meaning, you have access to the billing address.  In Stripe's backend, we'll pass that address for the billing address to the card issuer, so you can disregard that it doesn't look like the old Tokens.  Does that make sense?

[2018-07-03 23:14] anelder-stripe commented on #593
@KWestra you receive a token from Google Pay because that's how Google has decided to integrate.  You can always convert it to a Source by passing the token to the `createSource()`-method; however, you'll likely need to build the parameters by hand.  Isn't too bad though.  If you decide you'd like to try that, just let me know and I'd be happy to help you along.

[2018-07-03 23:32] anelder-stripe commented on #582
You are correct and this is an enhancement filed with the Android SDK team already.  Hopefully there will be a fix released soon.  If you're willing to roll your own you can do something like this to build out a Source w/ a Billing Address:

https://gist.github.com/anelder-stripe/07062425f79426cbeda20c4f8d4e397a

Basically, you create a Card object with all the details you'd like to add to the Sou

[2018-07-04 11:46] xelagc opened #598 "ExpiryDateTextField doesn't get focus after card completed animation"
Hello!

I've tried CardInputWidget on emulator API 25 and Huawei P9 API23 and when I enter a correct card number, animation to go to expiry date field appears but expiry date doesn't get focus so full card numbers appears again. I have debugged your code and line 759 (mExpiryDateEditText.requestFocus();) is not executed, so I think that is the problem. Maybe adding animation to the animation set c

[2018-07-05 10:23] KWestra commented on #593
@anelder-stripe: I'd love to know. I tried this: but this gives an exception that `card[number]` is required.

`
val paymentData = PaymentData.getFromIntent(data)
val stripeToken: Token? = Token.fromString(paymentData.paymentMethodToken!!.token)
stripe.createSource(SourceParams.createCardParams(stripeToken.card), object : SourceCallback { // TODO }
`
<img width="1231" alt="screen shot 2018-07-05 a

[2018-07-09 13:26] rajasekaranm opened #604 "CustomerSession.CustomerRetrievalListener not triggered on sdk 7.1.2"
Hi,
Methods onCustomerRetrieved() and onError() not trigger when I try to restive the customer with `CustomerRetrievalListener`.

I have implemented `EpheramalKeyProvder` in my app and epheramal key generated successfully. But if I try get the customer with this key ,it's automatically refreshed  and it's not return customer or error.

Note : It's not working on stripe this sample project also. I

[2018-07-09 16:57] #604 closed

[2018-07-12 06:15] payFlicFlex opened #607 "This merchant is not enabled for google pay"
On click of Google Pay button, I am getting an alert stating:

"Request failed
This merchant is not enabled for google pay"

Please help in the issue. It was working properly for last 4 months.
I am not getting any exception or error in log
and even on the google no such cases are described(either for stripe or google pay).

Urgent help required, I am in middle of something.
Thanks in advance!

[2018-07-12 21:53] ksun-stripe commented on #607
Hi! I'm so sorry you're running into this. You'll be best served going to support@stripe.com (This is more for bugs in the SDK itself)

[2018-07-12 21:53] #607 closed

[2018-07-17 14:13] Tigranbabajanyan opened #611 "Adding Google Pay as an payment option on stripe PaymentMethodsActivity"
Can I add Google Pay as an payment option on stripe PaymentMethodsActivity on top of other cards?

My purpose is to solve this without creating custom credit card form

I know it possible for IOS api to add Apple pay.

[2018-07-18 09:33] eoin-stripe opened #612 "Issue to test custom label"
Testing, feel free to close.

[2018-07-18 15:47] #612 closed

[2018-07-19 08:38] ogonzalezadell opened #613 "[Security] Improper Validation of Certificate with Host Mismatch"
After a security scan to our application it was detected the following vulnerability when including the Stripe Android SDK:

**Vulnerability**: CWE-297: Improper Validation of Certificate with Host Mismatch

**File Affected**: stripe-java/src/main/java/com/stripe/net/**StripeSSLSocketFactory.java**
[https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/net/StripeSSLSocketFacto

[2018-07-23 08:03] ema987 opened #614 "[InvalidRequestException] Expose stripeError.code"
## Summary
The class InvalidRequestException doesn't expose stripeError.code making it difficult to handle it.
Have a look [here](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/StripeApiHandler.java) at *private static void handleAPIError()*

## Code to reproduce
You can see it just looking at the SDK source code, there is no other code needed. Anyway,

[2018-07-23 12:51] mahmoud-elmorabea commented on #566
Hi @ksun-stripe
Unfortunately, we are still seeing this issue on Stripe v7.1.0
The stack trace is pretty much the same but with a different line number
[code]

[2018-07-24 14:02] Huulivoide opened #615 "Add missing locales"
Checkout on the web side supports locales Simplified zh, da, nl, en, fi, fr, de, it, ja, no, es and sv locales. I would expect equal support across all of the SDK:s. Especially since the Checkout page is the only page that Google finds when looking up locales supported by Stripe. Also the stripe.com/global page list the countries supported, and I would expect to find actual support for those in th

[2018-07-24 21:07] ksun-stripe commented on #615
Hi @Huulivoide, Thanks for the feedback :) I've added this to our backlog.
https://jira.corp.stripe.com/browse/ANDROID-266

[2018-07-24 21:07] #615 closed

[2018-07-24 21:08] #582 closed

[2018-07-25 20:34] ksun-stripe commented on #546
Hi Everyone! Thanks for bring this our attention -- adding to our backlog for prioritization.
ANDROID-270

[2018-07-25 20:34] #546 closed

[2018-07-27 07:48] Huulivoide opened #616 "StripeSourceTypeModel is not public"
Source.getSourceTypeModel() return the source model as type StripeSourceTypeModel, which is not public. Sure to use it one must cast it to one of public classes that actually implement it, but still Android studio will issue a warning about it.

[2018-07-30 09:18] Klingefjord opened #617 "Crash on stripeActivity"
# OS Version: 8.0.0
# Device: Galaxy S7
# RAM Free: 42.8%
# Disk Free: 21.5%

#0. Crashed: main
       at android.view.ViewRootImpl.setView(ViewRootImpl.java:954)
       at android.view.WindowManagerGlobal.addView(WindowManagerGlobal.java:381)
       at android.view.WindowManagerImpl.addView(WindowManagerImpl.java:100)
       at android.app.Dialog.show(Dialog.java:420)
       at com.stripe.android

[2018-07-31 12:45] mahmoud-elmorabea opened #618 "NullPointerException in MaskedCardView"
This issue was reported #566 before but closed.

Unfortunately this issue is still present in version 7.1.0 of the SDK

<img width="868" alt="screen shot 2018-07-31 at 14 44 48" src="https://user-images.githubusercontent.com/6461827/43460246-5fad3744-94d0-11e8-89a9-752ee8efe26e.png">

[2018-08-01 16:07] deftelf opened #619 "CardInputWidget can accept input after a complete number has been entered"
To reproduce:
1. enter a card number quickly
2. if you enter the last digits quickly enough, there will be one more digit than is valid left in the field
eg 42424242424242424 (focus animate-advances after the last 2 is entered, but it does not actually leave focus synchronously, if you are quick you can get an extra 4 in. The card then doesn't validate)

This appears to be because in scrollRight()

[2018-08-01 16:08] deftelf opened #620 "CardInputWidget doesn't have flagNoExtractUi so landscape entry works poorly"
It's all on a single line so can fairly safely have this flag set I believe.

[2018-08-02 09:14] pooyanmajd opened #621 "Bug in validation of post code in UK"
https://github.com/stripe/stripe-android/blob/e6bde52ccf79756d503340b3ba2f85767aa8b16c/stripe/src/main/java/com/stripe/android/view/ShippingInfoWidget.java#L159

It should be `isUKPostcodeValid`

[2018-08-08 18:34] ksun-stripe commented on #613
Hi @ogonzalezadell, I took this to our security team and we verified we are handling certificate validation correctly in the app. :)

We do have some special handling inside StripeSSLSocketFactory to improve the security of older android devices using this SDK by enabling more TLS version on old versions of Android here:
https://github.com/stripe/stripe-android/blob/a983ff80b923fa5b4a8165224ac5c3e

[2018-08-08 18:34] #613 closed

[2018-08-12 11:43] amalkronz opened #622 "Charge model class is missing"
I can not find the Charge model class in the stripe sdk, I import this in gradle file:
`implementation 'com.stripe:stripe-android:6.1.2'` also in library update version
`    implementation 'com.stripe:stripe-android:8.0.0'`

![image](https://user-images.githubusercontent.com/14049606/44001614-11acff1c-9e3e-11e8-865e-c29ccaa6621e.png)

[2018-08-14 17:14] karlr-stripe opened #623 "setShouldUseSourcesForCards seems to have no effect"
https://github.com/stripe/stripe-android/pull/277 added an option to PaymentConfiguration to choose between creating Cards or Sources(defaulting to Sources). It seems that there may have been a regression so that this option no longer has an effect(but looking at the PR I'm not convinced that the setting ever did anything).

**Expected**
* after setting `PaymentConfiguration.getInstance().setShoul

[2018-08-16 04:35] jackcsk opened #626 "CountryAutoCompleteTextView crashes due to NPE"
`CountryAutoCompleteTextView.updateUIForCountryEntered(displayCountry)` crashes on `paymentSession.presentShippingFlow()` call

The following line crashes, becauses `mCountrySelected` is null (line 103 in Stripe lib version 8.0.0)
[code]

Here is the details config:
  * LG V20, locale = Traditional Chinese (Hong Kong)
  * Android 7
  * Stripe Android Lib version 8.0.0

[2018-08-16 07:50] badoet opened #627 "PCI SAQ A Compliance if using react-native library"
Would like to check if we built a react-native wrapper around your library
like what this library: https://github.com/tipsi/tipsi-stripe did
will we still qualify under PCI SAQ A compliance?
and is it possible to share with me why?

[2018-08-16 08:54] jackcsk commented on #626
Ok, it turns out it crashes on certain locales without nation (e.g.English (XA)), rather than traditional Chinese (Hong Kong).
However, the `CountryAutoCompleteTextView` shall verify if mCountrySelected is null

[2018-08-16 18:01] jonahwh opened #628 "Expose error details in "UnexpectedException""
While attempting to tokenize a card, I was passing a two letter country code as `countryCode`. The SDK came back with the exception:

[code]
with no further information.

It wasn't until I expected the network traffic to see that the response from graphql was
[code]

Which contained much more useful information.

It would be helpful if that error was bubbled up to the exception, or generated a mor

[2018-08-16 18:01] #628 closed

[2018-08-16 22:14] anelder-stripe opened #629 "`routingNumber`-argument should be nullable on BankAccount model"
Bank Account constructor should list `routingNumber`-argument as nullable, as IBAN accounts do not support providing one.

https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/BankAccount.java#L56-L65

[2018-08-20 03:10] jackcsk commented on #621
Same thing here. Tested with UK addresses, and I got `Your postcode is invalid` error
I don't wanna fork the Stripe source code

[2018-08-21 16:54] jeffreyliu8 opened #631 "Use latest libs"
Please update to latest libs.

[2018-08-21 17:38] jeffreyliu8 commented on #631
rxjava2

[2018-08-21 19:59] DaCodeShogun opened #632 "Crash on CardNumberEditText IndexOutOfBoundsException"
Fatal Exception: java.lang.IndexOutOfBoundsException: setSpan (18 ... 18) ends beyond length 17
       at android.text.SpannableStringBuilder.checkRange(SpannableStringBuilder.java:1309)
       at android.text.SpannableStringBuilder.setSpan(SpannableStringBuilder.java:680)
       at android.text.SpannableStringBuilder.setSpan(SpannableStringBuilder.java:672)
       at android.text.Selection.setSel

[2018-08-24 23:06] ksun-stripe commented on #631
We don't use any RxJava in the actual library. I've made a note that there's a desire for updated libraries in the examples :)

[2018-08-24 23:06] #631 closed

[2018-08-24 23:07] ksun-stripe commented on #632
Hi -- were you trying to input a 19 digit card number?

[2018-08-24 23:09] ksun-stripe commented on #627
Hi! @badoet sorry for the delay -- I'm don't know the answer to that. You'd be better served emailing support@stripe.com! Really sorry I wasn't able to be more helpful here :(

[2018-08-24 23:09] #627 closed

[2018-08-27 10:58] karlr-stripe commented on #623
Closed via #625 — the setting was indeed unused, so the PR has deprecated the usage of it to make that more explicit.

[2018-08-27 10:58] #623 closed

[2018-08-27 16:04] jeffreyliu8 commented on #631
Yes I meant example. Use latest everything.

[2018-08-28 05:10] eholtrop commented on #621
I pushed a or for this last night (also fixed Canada)

https://github.com/stripe/stripe-android/pull/634

[2018-08-28 09:58] Tigranbabajanyan commented on #433
@mrmcduff-stripe , please say, do you have bug on PaymentMethodsActivity regarding scolling, after adding more cards, when appears scroll, "add new card" button becomes not visible, can not scroll to it

[2018-08-28 10:00] Tigranbabajanyan opened #635 "Stripe PaymentMethodsActivity doesn't work properly"
I use PaymentMethodsActivity to allow users to manage cards on android

https://stripe.com/docs/mobile/android/customer-information

but there is a problem:

After adding more cards, when appears scroll, "add new card" button becomes not visible.

Although this problem doesn't exist on IOS Api

[2018-08-29 12:18] sdoward opened #636 "Nullpointer Exception in `Token.fromString()`"
The method `Token.fromString(@Nullable String)` throws a NullPointer when passing a null String into the method. This is missleading for a couple of reasons

1. The method is annotated with `@Nullable` so it would seem it acceptable to pass a null object into it. It seems that this annotation should be `@NotNull`
2. The stack trace lead me to looking into the internals of `JSONTokener` which is we

[2018-08-31 22:59] caleb-allen opened #637 "setStripeAccount for AddSourceActivity"
I'm struggling to come up with a way to set the stripe instance that AddSourceActivity uses without some nasty reflection. I'd like for AddSourceActivity to use my `Stripe` instance, which I have called `setStripeAccount` on.

Unfortunately, when I launch the `PaymentMethodsActivity`, there doesn't appear to be any way to use that same instance. Any pointers?

[2018-09-08 13:12] anilthummar commented on #215
Hiii,

i have used text mode api key in stripe for payment in android:
getting exception like this , Please help me.

**W/System.err: at com.stripe.net.LiveStripeResponseGetter.handleAPIError(LiveStripeResponseGetter.java:693)
at com.stripe.net.LiveStripeResponseGetter.staticRequest(LiveStripeResponseGetter.java:533)
at com.stripe.net.LiveStripeResponseGetter.request(LiveStripeResponseGetter.java:

[2018-09-10 07:07] jackcsk commented on #498
@anelder-stripe @ksun-stripe in addition for removing payment source, is there any plan to implement updating to the payment source (e.g. updating card expiry date)?
I've examined the source of `PaymentMethodsActivity` and found no way to edit / remove card, as of sdk `8.0.0`
(we are using the activity via  `paymentSession.presentPaymentMethodSelection()`)

[2018-09-10 07:16] jackcsk commented on #433
@mrmcduff-stripe any schedule for implementing the edit / remove card feature? That would be very inconvenience for user, if he simply wants to update the card expiry date on receiving a new one.

[2018-09-10 07:35] jackcsk commented on #433
Another option is to prevent the `PaymentMethodActivity` from saving payment source, if that is viable?

[2018-09-10 18:03] John61590 opened #638 "Passing Card object in bundle / intent"
Since the Card object is not Parcelable or Serializable, I cannot pass the object in a bundle or intent. Could you make it parcelable or serializable so this is possible?

[2018-09-12 01:13] gabpa3 opened #639 "How to enable billing address flow"
Hi! I am integrating the stripe SDK following the "samplestore" project and the documentation, but I could not see how to enable the billing address UI as IOS integration in the same layout of the payment method.

On the other hand, is really necessary to have the billing address enable for a payment successful?

Some help would be great.

[2018-09-12 16:32] anelder-stripe commented on #498
I believe it's in the API Handler.

https://github.com/stripe/stripe-android/blob/932c5adac3630ab6d25ea9fc3a3ed3ca5d835a69/stripe/src/main/java/com/stripe/android/StripeApiHandler.java#L452-L489

However, I don't recall what the intended interface for using it is.  @ksun-stripe ?

[2018-09-13 22:05] j-schuster commented on #564
@OleksandrGrument Did you ever find out what happened here? I had the exact same crash

[2018-09-14 07:27] OleksandrGrument commented on #564
No, this issue sometimes occurs, but not often

[2018-09-14 10:17] kassim commented on #629
I ran into this issue too. Its messing with my Kotlin code :/

[2018-09-14 16:38] anelder-stripe commented on #629
@kassim - This has been resolved and merged into master.  I believe it's likely already in the latest release.

[2018-09-14 16:42] kassim commented on #629
ah, I see the latest commit to `master` is this fix, but there's been no release since
I'll grab a snapshot, thanks

[2018-09-14 19:30] anelder-stripe opened #640 "`EphemeralKey.fromString()` should raise error if model incorrect"
Please make `EphemeralKey.fromString()` raise an error if the String doesn't map to the structure of an Ephemeral Key response from Stripe or map to the EphemeralKey model.

https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/EphemeralKey.java#L217-L229

cc: @ksun-stripe

[2018-09-19 21:08] ksun-stripe commented on #593
Hi @KWestra,

I'm so sorry for the long delay on this - what you need to do is create it with custom params. You can see an example of how to do it here in the highlighted example code here:
https://github.com/stripe/stripe-android/blob/6670d21b18904b3adf53a3fe1a1ca897b847efc8/stripe/src/test/java/com/stripe/android/StripeTest.java#L279

[2018-09-19 21:47] ksun-stripe commented on #639
Hi @gabpa3 :)

This depends on what part of the SDK you're looking to integrate - you can information about the different types of integrations with step by step instructions [here](https://stripe.com/docs/mobile/android)

If you have further questions, you can reach out at support@stripe.com

[2018-09-19 21:47] #639 closed

[2018-09-19 21:51] ksun-stripe commented on #638
Hi @John61590,
Thanks for the feedback :) I've added it the [backlog](https://jira.corp.stripe.com/browse/ANDROID-278)

In the meantime, one option is to use the toJson() and pass it around using the JSON representation.

[2018-09-19 21:51] #638 closed

[2018-09-19 21:53] ksun-stripe commented on #621
Hi @eholtrop thanks so much for putting that :) I've gone ahead and merged it into master and it'll go out in the next release

[2018-09-19 21:53] #621 closed

[2018-09-19 22:05] anelder-stripe commented on #622
This is a super common misconception.  You don't build your charges from inside of your App.  You need to do that on a backend.  The reason is because storing your secret key in your App is basically giving anyone who inspects the memory of the App the "keys to the kingdom".  They'd be able to do all sorts of malicious things to your account (like use it to create small charges and test credit car

[2018-09-19 22:05] #622 closed

[2018-09-19 22:53] #593 closed

[2018-09-19 23:02] ksun-stripe commented on #637
Hi @caleb-allen, there are different types of integrations we provide. PaymentMethodsActivity was designed to be used with PaymentSession which would control the payment experience end to end. You can read more [here](https://stripe.com/docs/mobile/android/standard).

[2018-09-19 23:02] #637 closed

[2018-09-19 23:10] ksun-stripe commented on #636
Hi @sdoward! Thanks so much for bringing this our attention :) Sorry about your time spend debugging. I've put a PR to handle null there the same way the other methods in the class handle null.

https://github.com/stripe/stripe-android/pull/642

[2018-09-19 23:10] #636 closed

[2018-09-19 23:12] ksun-stripe commented on #635
Hi @Tigranbabajanyan,

I've added this our [backlog](https://jira.corp.stripe.com/browse/ANDROID-279)! Thanks for bringing this our attention. :)

[2018-09-19 23:12] #635 closed

[2018-09-19 23:14] ksun-stripe commented on #620
Hi @deftelf! Thanks for bring this up! I've added it our [backlog](https://jira.corp.stripe.com/browse/ANDROID-280).

[2018-09-19 23:14] #620 closed

[2018-09-19 23:17] ksun-stripe commented on #626
Hi @jackcsk,

Thanks so much for bringing this bug to our attention. I've created a [task](https://jira.corp.stripe.com/browse/ANDROID-281) in our tracking system to track it.

Thanks,
Kathy

[2018-09-19 23:17] #626 closed

[2018-09-19 23:17] #629 closed

[2018-09-19 23:19] ksun-stripe commented on #632
@DaCodeShogun -- we've created a [bug](https://jira.corp.stripe.com/browse/ANDROID-268) in our backlog to address this.

[2018-09-19 23:19] #632 closed

[2018-09-19 23:27] ksun-stripe commented on #618
Hi @mahmoud-elmorabea,

Thanks for bringing this to our attention :) I've created a new [bug](https://jira.corp.stripe.com/browse/ANDROID-283) in our systems to track this one! Stayed tuned!

[2018-09-19 23:27] #618 closed

[2018-09-19 23:30] ksun-stripe commented on #616
@Huulivoide can you show a screenshot of the warning so we can figure out what to do about it?

[2018-09-19 23:33] ksun-stripe commented on #617
Hi @Klingefjord
"Attempted to get instance of CustomerSession without initialization" is an error we intentionally throw. The CustomerSession needs to be initialized to be used so we want it fail loudly when it's used without initialization.

[2018-09-19 23:33] #617 closed

[2018-09-19 23:36] DaCodeShogun commented on #632
Thank you! It could be a copy & paste issue where the string being pasted is longer than 18.

[2018-09-19 23:47] ksun-stripe commented on #619
Hi @deftelf, I've added this [information](ANDROID-284 - CardInputWidget can accept input after a complete number has been entered) to our internal task tracking system.

[2018-09-19 23:49] ksun-stripe commented on #614
Hi @ema987 !

Thanks for bringing to us (and the through write up)! I've added this as [task](ANDROID-285 - InvalidRequestException doesn't expose stripeError.code making it difficult to handle it) in to our internal task tracking system.

[2018-09-19 23:51] ksun-stripe commented on #598
Hi @xelagc!

Thanks so much for writing in and for all the legwork you've done to debug this! I've added a [task](https://jira.corp.stripe.com/browse/ANDROID-286) to our task tracking system.

[2018-09-20 00:01] ksun-stripe commented on #594
Hi @KWestra!
Apologies for that -- the PaymentConfiguration.setRequiredBillingAddressFields doesn't do anything :(
Short term, I'll get that fixed and I've filed a [task](https://jira.corp.stripe.com/browse/ANDROID-287) in our task tracking system for the enhancement request.

[2018-09-20 00:03] ksun-stripe commented on #565
Hi @logicmelody,

Thanks for writing it! We have a task in our task tracking system for same issue. I've added the information provided here to it! Thanks for your help :)

[2018-09-20 08:47] xelagc commented on #598
Thanks to you, Ksun!!

[2018-09-20 13:55] FrameV commented on #514
+1

I would like to see this feature too.

I didn't see a similar issue on the stripe-ios repo, should we open another issue there?

[2018-09-20 23:18] AnthonyWharton opened #643 "Warning spam in LogCat when typing in Multiline Card Input"
[code]

When changing text inputs in the Multiline Card Input I'm getting a lot of spam warnings in the logcat. Although I may be incorrect I believe this may be due to how you clear the hints when doing animations in the EditText UI elements.

The code can be found [here](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/view/CardMultilineWidget.java#L45

[2018-09-20 23:38] AnthonyWharton opened #644 "CardMultilineWidget incorrectly validates inputs"
`CardMultilineWidget` validates incorrectly after entering valid details, and then making a change to the card number.

I find it unlikely that this is intended behavious as the information in the Widget is valid so in my opinion should validate successfully. If this is not the case, then feel free to close this issue.

### Steps to reproduce:

_Enter valid Card Number - Used 4242 4242 4242 4242_

[2018-09-21 09:06] APatsariya commented on #514
same here @ksun-stripe . my team is also looking forward to see this enhancement very soon. Can we have an estimated time?

[2018-09-21 12:55] Huulivoide commented on #616
Android Studio gives the following warning.

![warning](https://user-images.githubusercontent.com/294363/45882385-ab462a80-bdb6-11e8-8391-3d552ee9f9cb.png)

[2018-09-21 18:19] caleb-allen commented on #637
Yes, I ended up implementing the source management UI myself with the stripe SDK handled in my own code.

[2018-09-22 10:30] ema987 commented on #614
Hi @ksun-stripe ,

thank you for taking care of this! I will keep my eyes open to follow updates!

[2018-09-25 13:17] darwind commented on #445
@mrmcduff-stripe I know this is an old issue and it has already been closed, but I'm seeing the exact same issue on a Huawei P20 Lite (screenresolution 2280x1080).

What are my options here?

![screenshot_1537881303](https://user-images.githubusercontent.com/322562/46016743-da6ddc00-c0d5-11e8-8981-c58943ecbf3d.png)

[2018-10-05 19:17] John61590 opened #646 "Stripe certificate error (com.stripe.android.exception.APIConnectionException)"
I received a bad error that affects all devices.

com.stripe.android.exception.APIConnectionException: IOException during API request to Stripe (https://api.stripe.com/v1/tokens): com.android.org.bouncycastle.jce.exception.ExtCertPathValidatorException: Could not validate certificate: Certificate not valid until Tue Oct 22 05:00:00 PDT 2013 (compared to Wed Oct 16 19:51:45 PDT 2013) Please check y

[2018-10-08 09:59] atuldhanuka1990 commented on #514
@ksun-stripe its already more than 10 month still this issue is been pending. Please make it open issue not closed issue

[2018-10-09 02:23] jackcsk opened #647 "Update Android Doc on CustomerSession.clearInstance()"
On https://stripe.com/docs/mobile/android/customer-information :
[code]
Since `clearInstance()` is only accessible within the stripe package, shouldn't that be calling `CustomerSession.endCustomerSession()` instead?

[2018-10-10 00:13] ksun-stripe commented on #646
Hi! I believe this was handled offline so closing for now.
tl;dr; The issue is that we're hitting SSL errors because the device clock is set to 2013.

[2018-10-10 00:13] #646 closed

[2018-10-11 15:56] machinegunhairy commented on #594
@ksun-stripe Is there any update on this, or any potential timeline? The task link doesn't work, and this is a feature that I'm very interested to have working.

[2018-10-16 12:21] fadibouteraa opened #648 "CardInputWidget can't accept card bancontact"

[2018-10-22 14:14] anacoimbrag commented on #611
@Tigranbabajanyan hey, is this working?

[2018-10-22 14:19] Tigranbabajanyan commented on #611
Hi @anacoimbrag , No, The Stripe team answered me that is not supported in android yet, and they confessed they have poor android support and will improve it

[2018-10-24 15:34] ahaverty commented on #486
Hi @ksun-stripe, any update on that internal ticket?
Revolut.com have it in their android app 🤔
![screenshot_20181024-163240](https://user-images.githubusercontent.com/2920947/47442690-aa842800-d7aa-11e8-8bcd-70970f233bea.jpg)

[2018-10-30 01:16] FrancoisBlavoet opened #651 "Accessibility of CardInputWidget is broken"
CardInputWidget has apparently not been thought out for accessibility users :

- it's autoscrolling behavior is nice in theory but very cumbersome if you don't see the screen.

- CardInputWidget provides no hint to talk back, so it only provides a very poor experience to non sighted users

[2018-10-31 13:45] ebghrimtech opened #652 "Provide support for the latest API level"
Hello,
We are currently using your library in one of our application. Actually we need a favour from your side. According to the Google Play Policy, all apps have to provide support for at least API level 26 which is satisfied in your case. We are targeting API level 28. So do we need to make any changes for supporting the latest API level i.e. 28?

[2018-11-01 17:05] osrl opened #654 "CardNumberEditText's setCardBrandChangeListener should be public"
I think this and this kind of listeners should be public. Is there a good reason why you made them package-private?

[2018-11-02 14:45] osrl commented on #616
+1 to this issue. Is there a workaround for this @Huulivoide ?

[2018-11-03 23:53] rahsheen opened #655 "CardInputWidget Does Not Animate/Scroll in React-Native"
This is an issue for some  time  now, but #250 was closed by @mrmcduff-stripe  last year  stating that "new controls" would be released.

@fred-stripe  stated it would be possible to bridge the native stripe widgets for RN, but this is actually _not_ currently possible for Android https://github.com/stripe/react-stripe-elements/issues/21#issuecomment-307163466

Will this ever be addressed?

Relate

[2018-11-06 07:06] erwindetorres commented on #594
I've added the required billing address for Zip PaymentConfiguration.getInstance().setRequiredBillingAddressFields(Address.RequiredBillingAddressFields.ZIP);

but when the Add Card is presented, the zip field doesn't show, only the card number, expiration and cvc are present. We were building an app that would require the zip code for stripe's address verification

[2018-11-06 10:18] ema987 commented on #243
Hello everyone, I probably found a way to avoid showing the "Back to merchant" page, but only if you are using a webview inside your app instead of launching an external browser.

You can override the _onPageStarted_() method of the _WebViewClient_ class and intercept the URLs which will be loaded after a success or failed 3DS.

Failure case:
https://hooks.stripe.com/redirect/complete/src_xxxxxxxx

[2018-11-07 02:04] FrancoisBlavoet commented on #651
I have opened : https://github.com/stripe/stripe-android/pull/656

[2018-11-07 13:03] e-papa commented on #243
So then, unfortunately, that trick is not feasible. @michelle thank you for your explanation.

[2018-11-07 13:04] ema987 commented on #243
So then, unfortunately, that trick is not feasible. @michelle thank you for your explanation.

[2018-11-07 17:17] michelle commented on #243
We also looked briefly into why this button is necessary -- it's because for a real browser redirect (not opening up a webview), apps like Chrome do not allow websites to automatically redirect to an app URL. The redirect *must* be triggered by a physical click.

That said, this is clearly suboptimal if you're using webviews, so we're looking into other solutions.

[2018-11-09 17:26] woutervegter opened #659 "CardInputWidget is rendered cut-off"
Hi !

(1) Im using below code in styles.xml

(2) the code below that is my layout.xml

however, the hint-text is cut off, also see attachment.

is there something you can do about it?
<img width="407" alt="screen shot 2018-11-09 at 6 21 59 pm" src="https://user-images.githubusercontent.com/430654/48278071-c47d6600-e44c-11e8-9123-af5b4612a0d2.png">

thx for reading!:)

---

styles.xml
[code]

layou

[2018-11-10 05:56] Noaker opened #660 "Unable to clear focus for CardMultilineWidget (Android)"
Objective: To clear focus for CardMultilineWidget when clicked elsewhere in screen and hide keyboard
Issue; I can't clear the focus and the cursor is still showing/blinking in the card/cvc/expiration editTexts
Methods tried:
1) cardMultilineWidget.clearFocus();
2) cardMultilineWidget.findFocus().clearFocus();
3) cardMultilineWidget.getFocusedChild.clearFocus();
4) cardMultilineWidget.getFocusedChi

[2018-11-13 12:01] atuldhanuka1990 commented on #532
@joel-stripe  any update on follow bugs when it is going to release

[2018-11-13 12:03] atuldhanuka1990 commented on #514
@ksun-stripe please make it open issue because many of them need this feature and around 7-8 release has came but these issue still not resolve.

[2018-11-15 09:58] christopheblin opened #663 "Android SDK 28 : error printed to Systm.errr"
You see this stacktrace when you run a unit test where CardMultilineWidget is used in a layout

[code]

Looking at the source code, we can see https://github.com/stripe/stripe-android/blob/d0c5711c8ec32a657ff3b9d434b713b6ce633a41/stripe/src/main/java/com/stripe/android/view/IconTextInputLayout.java#L73

As well just above https://github.com/stripe/stripe-android/blob/d0c5711c8ec32a657ff3b9d434b713

[2018-11-18 14:10] highjump0615 commented on #415
Did this question have answers?
I am listing all card infos from Stripe Api..
https://api.stripe.com/v1/customers/cus_DzmEDPKEkGnNyg/sources
It results data array, but the source data from Android SDK and iOS data are different.

Here is the source data that added using "Add New Card..." in Android SDK.
[code]

And here is the source data that added using "Add New Card..." in iOS SDK.
[code]

This

[2018-12-01 01:07] ksun2-stripe commented on #643
Hi! We've added this to our JIRA backlog :)

[2018-12-01 01:09] ksun2-stripe commented on #644
Hi @AnthonyWharton
Thanks for bringing this our attention. I've added to our tasks and will work on getting a fix for this as soon as possible.

[2018-12-01 01:12] ksun2-stripe commented on #647
Hi @jackcsk,

Thanks so much for bringing this to our attention. Feedback like this helps up keep the docs in top notch! I've added this to our task queue and will work on getting it updated as soon as possible.

[2018-12-01 01:14] ksun2-stripe commented on #648
@fadibouteraa thanks for the feedback! :) We've noted it in our request tracking tool!

[2018-12-01 01:17] ksun2-stripe commented on #651
Hi @FrancoisBlavoet!

Thanks for bringing this up to us! I've added this to our task tracking tool and would love to see our accessibility improved too - thanks for opening up a pull request.

[2018-12-01 01:19] ksun2-stripe commented on #652
Hi @ebghrimtech !

I've added this to our task tracking tool and will work on getting the version updated as soon as possible.

[2018-12-01 01:27] #659 closed, assigned to nobody

[2018-12-01 02:18] FrancoisBlavoet commented on #651
Awesome @ksun2-stripe !
I am very eager to see this improve :)
We have lots of a11y users at Instacart and stripe is a crucial part of the ux

[2018-12-02 18:03] ThomasGHenry commented on #564
same here. it shows up in crashlytics, but we can't reproduce it. we're using tipsi-stripe and react native. no idea where to even begin to look for this code path, being all third party.

[2018-12-06 11:21] osrl commented on #654
I was trying to change brand icon while user entering card number. I copied your resources and implemented my own listener but it would be much easier if it was public.

[2018-12-12 14:04] RPetrov commented on #659
Why is it closed? It reproduces on version 6.1.2

[2018-12-14 16:26] izjumovfs opened #670 "onCustomerRetrieved not called"
Hi. Could you help me please to solve my issue.
The problem is that i am trying to implement the code from CustomerSessionActivity in my own app.  And the problem is in that onCustomerRetrieved callback is never called. I am doing everythin like in the sample and cannot find out what is wrong with my code

This is my method (in Fragment), where I am trying to implement this

[code]
And this is the

[2018-12-18 15:54] jgoas opened #672 "Expiration error label in CardMultilineWidget is crop"
Hello,

<img width="189" alt="capture d ecran 2018-12-18 a 16 49 53" src="https://user-images.githubusercontent.com/7227626/50165417-3e72fb80-02e5-11e9-9e6d-46e69993767b.png">

As you can see, the error label in CardMultilineWidget is crop.

Can you fix it? Or should i try to fix it and should i make a PR?

Thanks.

[2018-12-19 22:32] #652 closed

[2018-12-24 10:39] osrl opened #679 "CardNumberEditText's updateLengthFilter is never called"
Tried to debug this line but it's never called. It return's at line 241.

https://github.com/stripe/stripe-android/blob/899435a0ebd6316ab7469a3c485bbbd21cd527c3/stripe/src/main/java/com/stripe/android/view/CardNumberEditText.java#L238-L244

[2018-12-24 16:58] nesalexy commented on #445
the same on  mi a2 lite. How fix it?

[2018-12-27 02:22] tkaneko0204 opened #680 "How can I get the error thrown in paymentsession?"
I know I need to localize error messages by myself, so I want to get the error thrown in the built-in PaymentMethodsActivity.
How can I get that?
I tried PaymentSession.PaymentSessionListener#onError but it wasn't called when a error occurred in the activity.

![image](https://user-images.githubusercontent.com/6550329/50462446-b5388480-09c8-11e9-8c2d-f309a701e21e.png)

[2018-12-28 13:21] Mura75 opened #681 "Can't make payment using Source"
I create card using Source Api, But when I make payment with card I have error from Stripe.
Error message is: "You provide a customer without specifying a source. The default source of the customer is a source and cannot be shared from existing customers".

[2019-01-02 22:10] #663 closed

[2019-01-02 22:14] mshafrir-stripe commented on #572
Fixed by #537

[2019-01-02 22:14] #572 closed

[2019-01-02 22:14] #576 closed

[2019-01-02 22:17] mshafrir-stripe commented on #679
Based on the logic in `CardNumberEditText#getLengthForBrand`, `updateLengthFilter` will be called when the brand changes

[2019-01-02 22:17] #679 closed

[2019-01-02 22:45] mshafrir-stripe commented on #670
Is the usage in the example app working for you? Can you try updating the example app to use your ephemeral key?

[2019-01-03 21:08] FrancoisBlavoet opened #682 "Talkback crashes on some devices"
We have encountered a weird talkback failure when interacting with the stripe widget on some devices :
Just after tapping the stripe widget in talkback mode, the phone completely stops announcing (not just the stripe widget). A couple of minutes later, there is an ANR from the a11y service.

device used to reproduce :
Nexus 5x
Android 8.1.0
TalkBack 7.0.0.198081500

[talkback.txt](https://github.c

[2019-01-08 16:21] FrancoisBlavoet commented on #682
we have updated talkback just in case, but sadly the issue remains

[2019-01-09 13:22] alexfdz commented on #522
@ksun-stripe any updates about this request? Do stripe views support autofill framework?

[2019-01-16 04:34] jackcsk opened #769 "ShippingInfoWidget for Saudi Arabia address shall include postal code field"
Referring to CountryUtils.java ( https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/view/CountryUtils.java ), SA has postal code field disabled.
However, according to the public information, Saudi Arabia address contains a postal code:
ref 1: https://address.gov.sa/en/address-format/overview
ref 2: https://en.wikipedia.org/wiki/List_of_postal_codes

[2019-01-16 06:33] jackcsk commented on #769
Referencing the same issue on Stripe-iOS:
https://github.com/stripe/stripe-ios/issues/1125

[2019-01-16 16:32] mshafrir-stripe commented on #672
@jgoas thanks for filing. We aren't able to prioritize this issue at this time, so it would be great if you could find a fix and make a PR. It appears to be a known issue: https://issuetracker.google.com/issues/116747167

[2019-01-16 16:53] mshafrir-stripe commented on #682
@FrancoisBlavoet do you have repro steps that consistently trigger the ANR? Does it only happen on the devices you listed, but not on others?

[2019-01-16 17:02] mshafrir-stripe commented on #640
Fixed in #765

[2019-01-16 17:02] #640 closed

[2019-01-16 17:08] mshafrir-stripe commented on #565
@logicmelody would you be able to verify if this is still happening on the latest SDK? Is the user using the system keyboard or a 3rd party?

[2019-01-16 17:15] mshafrir-stripe commented on #577
@Flash91FS on an API 16, 3.7" emulator, I'm not able to repro this issue in our [example app](https://github.com/stripe/stripe-android/tree/master/example) - see screenshot below where I'm able to input CVC.

Can you first confirm if you're seeing the issue in our example app?

![screenshot_1547658817](https://user-images.githubusercontent.com/45020849/51266060-3495f400-1988-11e9-9f9f-d6bf11d0098a

[2019-01-16 17:20] mshafrir-stripe commented on #670
Could you also confirm if this is still happening in the latest SDK version? We just added extra error logging that may be triggering - https://github.com/stripe/stripe-android/pull/765/files#diff-d9e9d9cf454d7714385aa17f645510b4R64

[2019-01-16 17:23] anelder-stripe commented on #681
Hey @Mura75!  It sounds like you're attempting to share sources, but you're passing through a source rather than a token.  Is that correct?  You might be looking for this:

https://stripe.com/docs/sources/connect#shared-card-sources

In the future, please email questions like this to our support service.  They're better able to answer questions like this.

https://support.stripe.com/email

Hope th

[2019-01-16 17:23] #681 closed

[2019-01-16 18:10] mshafrir-stripe commented on #651
#656 is merged so closing this out

[2019-01-16 18:10] #651 closed

[2019-01-17 13:07] nailshaykhraziev commented on #115
Hello,
When use google pay, I build PaymentMethodTokenizationParameters where add parameters "stripe:version". Early I take them from StripeApiHandler.VERSION. In example(https://stripe.com/docs/mobile/android/google-pay) such value using "2018-11-08". Where I can get the "stripe:version"?
Thanks.

[2019-01-17 19:39] #769 closed

[2019-01-18 14:16] mshafrir-stripe commented on #680
@tkaneko0204 do you want to be able to listen for the error simply so that you can localize the message, or do you want to provide more custom error handling?

[2019-01-18 14:20] mshafrir-stripe commented on #660
Thanks for filing and sorry for the delay in responding. Is there a specific use case you need the unfocusing behavior for? Do you have an example of an app that behaves the way you describe?

[2019-01-18 14:22] mshafrir-stripe commented on #655
@rahsheen thanks for filing. Do you have an example of the behavior you're describing? A video would help.

[2019-01-18 15:31] rahsheen commented on #655
Notice that the input doesn't scroll to show entry of the CVV. It's only visible after the input loses focus.

![ac14693a-472a-11e7-9bcd-b912bf573963](https://user-images.githubusercontent.com/4641959/51395972-1822c480-1b0c-11e9-8c65-7f53928a7446.gif)

[2019-01-18 15:38] mshafrir-stripe commented on #614
@ema987 I'll put up a patch to include `StripeError.code` and `StripeError.declineCode` in `InvalidRequestException`

[2019-01-18 20:12] #614 closed

[2019-01-18 20:14] mshafrir-stripe commented on #614
@ema987 this will go out in the next SDK release. Can you confirm if this change is what you were looking for?

[2019-01-21 09:54] ema987 commented on #614
Hello @mshafrir-stripe, thank you for the update! I didn't have time to build the latest master branch but looking at the PR it looks like what I was looking for. Thank you!

[2019-01-22 07:26] HanteIsHante opened #772 "NullPointerException: Attempt to invoke virtual method 'int android.text.Layout.getLineForOffset(int)' on a null object reference"
[code]

- Meizu U10 Android 6.0
- MX6 Android 7.1.1
- PRO 6S Android 7.1.1
- PRO 6 Android 7.1.1
- M5 Note Android 7.0
- M1 E Android 7.0

https://github.com/android-in-china/Compatibility/issues/11

How to resolve?

[2019-01-22 07:46] HanteIsHante opened #773 "Attempted to get instance of CustomerSession without initialization."
[code]

[code]

I have done the initialization, as follows：
[code]

I don't know why the above error log appears.

[2019-01-22 14:38] esoxjem opened #774 "`stripe:version` is a date "yyyy-mm-dd" in Google Pay integration"
https://stripe.com/docs/mobile/android/google-pay

Is this a documentation error? If not, what is the latest value? Does this date change with every Stripe Android lib release?

[2019-01-22 14:59] esoxjem opened #775 "[Google Pay] Support for api version 2"
https://developers.google.com/pay/api/android/guides/resources/update-to-latest-version

Is updating to the newest version of Google Pay API supported by Stripe?

[2019-01-22 15:46] mshafrir-stripe commented on #772
@HanteIsHante can you provide me steps to reproduce this crash? What screen is it happening on? Does it only happen in certain scenarios?

[2019-01-22 15:55] mshafrir-stripe commented on #773
@HanteIsHante you need to call `CustomerSession#initCustomerSession` before you launch `PaymentFlowActivity`, or more generally, before you attempt to call `CustomerSession#getInstance()`.

See https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/activity/PaymentSessionActivity.java#L110 for an example in our codebase.

Let me know if this fixes the issue.

[2019-01-22 15:59] mshafrir-stripe commented on #774
We hardcode API version `2018-11-08` in our Google Pay docs to ensure forward compatibility in the possible but unlikely event that the structure of the response object changes. That being said, you are welcome to use the latest API version.

Does that answer your question?

[2019-01-22 16:02] mshafrir-stripe commented on #775
We recently [upgraded the Google Play version](https://github.com/stripe/stripe-android/commit/5ca2f98e937bae440760eaf61b795b0059df35cc#diff-cff4e8c294a5dc5e76308662ae1ddcacR8) in our example app. You can [build and run the example app](https://github.com/stripe/stripe-android/tree/master/example) locally to verify that the Google Play integration works for your use case.

[2019-01-22 21:56] searchy2 opened #776 "CustomerSession.initCustomerSession getCustomerID() Called on Null Object Reference"
[code]

CustomerSession.initCustomerSession causes the above crash on Kotlin and with the following EphemeralKeyProvider.

[code]

The `getEphemeralKeys` network method returns an ephemeral key from the backend. What could be the problem?

Can you provide a working example of the EphemeralKeyProvider in Kotlin? I am currently blocked from integrating Stripe because of this issue. Thanks!

[2019-01-23 02:51] mshafrir-stripe commented on #776
@searchy2 I think this might be an issue related to v8.2.0 - can you see if it's happening in v8.1.0?

[2019-01-23 03:55] HanteIsHante commented on #772
@msaffitz-stripe I am very sorry, I am unable to reproduce it for the time being. I just found this problem on my crash statistics platform. This problem only occurs on Meizu devices, but not all Meizu devices will appear.
Through this link:   https://github.com/android-in-china/Compatibility/issues/11  ；  I suspect that it is caused by the TextInputLayout inside the CardMultilineWidget control.

[2019-01-23 04:00] HanteIsHante commented on #773
I am in the payment process through PaymentInent. Is it necessary to perform the CustomerSession initialization?

[2019-01-23 04:06] HanteIsHante commented on #773
This problem only happens occasionally

[2019-01-23 06:49] searchy2 commented on #776
Thanks for the quick reply. I downgraded to v8.1.0 and it no longer crashes. For the time being, I'll integrate payments using v8.1.0 so I am no longer blocked. Hope to see a v8.3.0 soon with a fix!

[2019-01-23 09:31] HanteIsHante opened #777 "Attempt to invoke virtual method 'android.content.IntentSender android.app.PendingIntent.getIntentSender()' on a null object reference"
[code]

[code]

LGE Nexus 4  6.0.1

Only a crash is counted, and it is not clear where the location is triggered.
The payment method used is PaymentIntent

[2019-01-23 13:37] esoxjem commented on #774
Yes. Thanks @mshafrir-stripe

[2019-01-23 13:37] #774 closed

[2019-01-23 13:43] esoxjem commented on #775
Hi @mshafrir-stripe, I'm referring to the API version and not the wallet play services lib. If you take a look at https://developers.google.com/pay/api/android/guides/resources/update-to-latest-version, you can see there's a new way to integrate Google Pay using JSON based request objects that sets `apiVersion` to `2` and `apiVersionMinor` to `0`.

[2019-01-23 17:16] mshafrir-stripe commented on #777
The stacktrace seems to indicate that it's an issue with the Google Play Billing Library (`com.android.billingclient.api.ProxyBillingActivity`)

[2019-01-23 17:17] #777 closed

[2019-01-23 17:21] mshafrir-stripe commented on #775
@esoxjem I would recommend verifying on your end if the JSON approach in the latest version works. Are you able to do that?

[2019-01-23 17:55] searchy2 commented on #670
Stripe seems to only accept this format as the ephemeral key:
`{"associated_objects":[{"id":"some_id","type":"customer"}],"created":1544804644,"expires":1544808244,"id":"some_id","livemode":false,"secret":"some_sercet"}`

The reason onCustomerRetrieved is not being called is because you are passing the wrong parameter. Have your server return only the JSON above without wrapping it in a JSONObject

[2019-01-23 19:24] searchy2 opened #779 "setCustomerDefaultSource No such source Error"
setCustomerDefaultSource always fails with "No such source" error when I attempt to attach a source to a customer.

Here is my code:
[code]

I successfully generate a source and obtain the source id but setCustomerDefaultSource always fails. What could be the issue?

[2019-01-23 19:35] izjumovfs commented on #670
Thanks for the answer. At the current moment everything is working fine. I am now working with the raw JSON response

[2019-01-23 19:37] searchy2 commented on #779
Maybe setCustomerDefaultSource only sets an existing source as the default source. In order to attach a source, I should call the addCustomerSource function instead?

[2019-01-23 19:39] mshafrir-stripe commented on #670
@izjumovfs great to hear. Thanks @searchy2 for helping out!

[2019-01-23 19:39] #670 closed

[2019-01-23 19:55] searchy2 commented on #779
Nice, that appears to be the case.

[2019-01-23 19:55] #779 closed

[2019-01-23 21:03] mshafrir-stripe commented on #680
@takehilo what data do you need to translate the message? Do you need the error message or also the error type? See https://stripe.com/docs/api/errors (e.g. `api_connection_error`)

[2019-01-23 21:50] mshafrir-stripe commented on #647
@jackcsk thanks for filing the issue. This is now fixed.

[2019-01-23 21:50] #647 closed

[2019-01-25 03:20] jackcsk commented on #769
@mshafrir-stripe I've checked release 8.2.0, and the `CountryUtils` class still listed `SA` among `NO_POSTAL_CODE_COUNTRIES`:
https://github.com/stripe/stripe-android/blob/v8.2.0/stripe/src/main/java/com/stripe/android/view/CountryUtils.java

[2019-01-25 15:05] mshafrir-stripe commented on #769
@jackcsk this fix will go out in 8.3.0, which will happen today or Monday

[2019-01-25 16:43] AnthonyWharton commented on #644
Thanks for getting back to me. I'll have a go at this again when I get some free time, as we've had to use a different solution in the meantime.

[2019-01-25 17:02] mshafrir-stripe commented on #644
Here's a recording of what I did: https://www.youtube.com/watch?v=1yXEpqyaGOo&feature=youtu.be

[2019-01-25 17:14] mshafrir-stripe commented on #619
@deftelf I tried reproducing this in the example app and wasn't able to.

Repro steps:
1. Run example app
2. Tap "Create Card Tokens"
3. Tap on card number field
4. In terminal, run `adb shell input text "4242424242424242424242"` to rapidly type in a lot of numbers
5. Verify that correct number of digits are inputed in card number field

I also captured this in a screen cap https://www.youtube.com

[2019-01-25 17:50] mshafrir-stripe commented on #543
@acavailhez-stripe I believe your recent changes fix this issue. @anelder-stripe can you verify if you're still seeing this?

[2019-01-25 20:33] siilats commented on #594
Any update?

[2019-01-26 14:37] AnthonyWharton commented on #644
Hi again, it appears this seems to be working now as you've said, so I'm going to close the issue.

I'd do a git bisect to try and work out what changes fixed it, but it looks like things have changed a little bit in the last 4 months - maybe I'll try do this for completeness at some point if I get some more free procrastination time.

I've also updated the links to the code in the previous commen

[2019-01-26 14:37] #644 closed

[2019-01-28 17:55] kevinskrei opened #784 "Google Pay Postal Code & CVC"
Hello,

According to the Stripe/Google Pay docs, we are supposed to do this after onActivityResult:
[code]
And then we use the stripeToken to pass to our servers for payment processing. My company is concerned about the number of denials because we are not capturing the billing zip or cvc code. I am setting the billing address required

[code]

and can see that the zip is coming from google via th

[2019-01-28 21:18] mshafrir-stripe commented on #776
@searchy2 v8.3.0 is now released. Can you confirm if your issue is fixed?

[2019-01-28 21:18] mshafrir-stripe commented on #769
@jackcsk v8.3.0 is now released

[2019-01-28 21:32] mshafrir-stripe commented on #784
@kevinskrei Unfortunately I'm not familiar enough with Google Pay's API to be able to diagnose the issue, but sounds like your idea could work. You'll need to parse the `Token` and then create a new `Token` with a `Card` that includes the billing info. Let me know if that works for you.

[2019-01-28 22:00] searchy2 commented on #776
Thanks for the release! Everything looks good on my end. No crashes here!

[2019-01-28 22:00] #776 closed

[2019-01-29 11:00] beworker commented on #619
@mshafrir-stripe
We experience same issue without any quick typing tricks, but just entering test credit card and the "next field" button in the soft keyboard never turns into "ok". Here is the screencast: https://streamable.com/94ajy

Used Stripe library version: 8.3.0
Device: Honor FRD-L09 (Android 7.0, EMUI 5.0.3)

With the Stripe library 6.1.2, which we currently use, everything works as expec

[2019-01-29 14:20] jackcsk commented on #769
Thanks. Updated and confirmed Saudi Arabia address input works.

[2019-01-29 15:33] mshafrir-stripe commented on #619
@beworker does it happen only on that device, or all devices? Are the steps to reproduce 100% consistent?

[2019-01-29 17:46] beworker commented on #619
@msaffitz-stripe
The issue is 100% reproducible on that device. It means I wasn't able to add a credit card on that device at all. I haven't tested on other devices, but I tested version 8.2.0. It had the same issue.

We stayed with 6.1.2 for now, which works also on that device well.

[2019-01-29 22:18] mshafrir-stripe commented on #772
@HanteIsHante Can you verify if v8.3.0 fixes this issue? It updates to Android X.

[2019-01-29 22:19] mshafrir-stripe commented on #619
@beworker do you have access to other devices that you could test on? It would help to narrow down the surface area of the issue.

[2019-01-30 01:36] #472 closed

[2019-01-30 02:04] #543 closed

[2019-01-30 02:07] mshafrir-stripe commented on #773
@HanteIsHante I believe you need to start with `PaymentSessionActivity`, which launches `PaymentFlowActivity`. Does that fix it?

[2019-01-30 08:09] HanteIsHante commented on #772
@msaffitz-stripe If it is v8.3.0, it will conflict with the existing support version and cannot be compiled.
[code]
[code]

If I migrate directly to AndroidX, I am worried that it will cause other problems.

[2019-01-30 09:21] beworker commented on #619
@msaffitz-stripe no, not at the time.

[2019-01-30 17:02] mshafrir-stripe commented on #619
@beworker is your issue that the keyboard's action button doesn't turn to "Done" on the CVC field, or that the done button in the top right corner doesn't appear?

[2019-01-30 17:10] beworker commented on #619
@mshafrir-stripe One way or another. My issue is that I cannot finish adding a credit card because there is no "done" button, at least one, somewhere.

In 6.1.2 there is no "done" button in the top right corner either, but the keyboard's one turns into "done", which allows adding the card.

[2019-01-30 17:18] mshafrir-stripe commented on #619
@beworker I just put up a fix for the action button - https://github.com/stripe/stripe-android/pull/790. Hopefully this resolves your issue.

[2019-01-31 09:14] utwyko opened #792 "Explicitly Expose iDEAL Errors when creating iDEAL source"
The documentation on [iDEAL error codes] mention three specific iDEAL errors that should be handled in certain ways. For example, `payment_method_not_available` should invite the customer to use another payment method.

From what I see, `Stripe.createSourceSynchronous()` throws four possible exceptions:
* `AuthenticationException`
* `InvalidRequestException`
* `APIConnectionException`
* `APIExcept

[2019-01-31 14:08] iyashamihsan commented on #507
if your code works with test key but not works with production key..
then check your code where you build your client and change Environment_test to Environment_Production
mPaymentsClient =
Wallet.getPaymentsClient(this,
new Wallet.WalletOptions.Builder()
.setEnvironment(WalletConstants.ENVIRONMENT_TEST)
.build());

change WalletConstants.ENVIRONMENT_TEST to WalletConstants.ENVIRONMENT_PRODUCTION

[2019-01-31 15:06] mshafrir-stripe commented on #792
@utwyko thanks for filing this issue. I will add a `StripeError` field to `StripeException`, so that you can access `StripeError.code`, which will tell you the [error code](https://stripe.com/docs/error-codes) (e.g. `"payment_method_not_available"`).

[2019-01-31 17:52] mshafrir-stripe commented on #772
@HanteIsHante I think you left a comment but seems like you may have deleted it. Are you not able to upgrade to the latest version of the SDK?

[2019-01-31 20:33] marcglasberg opened #795 "Port Stripe-Android to Flutter"
We need Stripe-Android ported to Flutter.

There are 2 ways of doing that:

1. One is to use platform-channels, so that a Dart layer interfaces with the original Stripe-Android code, in Java or Kotlin (see: https://flutter.io/docs/development/platform-integration/platform-channels).

2. Another is to port it to native Dart.

Currently there are some individuals trying to start something in that re

[2019-02-01 14:43] mshafrir-stripe commented on #795
@marcglasberg thanks for filing the ticket. I've created an internal ticket to explore Flutter + Stripe integration. It's not something we can prioritize at this time, but it sounds like this is something that should be on our radar.

[2019-02-04 07:18] fahadalamkhan3 opened #796 "Manifest merger failed"
after edding dependency if the application is compiled on a device compiler displays the error

[2019-02-04 15:13] mshafrir-stripe commented on #796
@fahadalamkhan3 Can you provide a stack trace or error message that you're seeing?

[2019-02-04 17:58] searchy2 opened #797 "EphemeralKeyProvider Called Twice"
EphemeralKeyProvider is called twice, once upon attaching the KeyProvider and again when performing any getInstance() method.

Ephemeral Key is obtained here via this code:
[code]
And then again here:
[code]
Whenever any of the getInstance() methods are called, the ephemeral key is generated again.
![maxthonsnap20190204115614](https://user-images.githubusercontent.com/19896174/52226976-f2b7e980-28

[2019-02-04 18:38] mshafrir-stripe commented on #797
@searchy2 thanks for filing. I've created an internal ticket and will add it to our team's backlog.

[2019-02-04 18:45] searchy2 commented on #797
Thanks for taking a look and adding this to your backlog. Generating the ephm key twice doesn't cause problems as far as I can tell but it makes me somewhat nervous.

[2019-02-05 01:40] rahsheen commented on #655
I wasn't sure how I could set a breakpoint in my project within the stripe dependency, but I do have a React Native project setup where you can see the issue here. https://github.com/rahsheen/react-native-stripe-input

[2019-02-05 19:56] drewmahrt commented on #784
Wouldn't that negate the security benefits provided by Google Pay? By creating our own Card, we're handling the payment information manually. This sounds like something that needs to be resolved between Stripe and Google during the token creation process.

[2019-02-05 20:01] kevinskrei commented on #784
This could pretty easily be handled in the SDK. The SDK could add a method to take in the the Google Pay object and parse it to the Stripe Token gathering all of the data provided by Google. I would consider this a must if stripe is supposed to support Google Pay.

[2019-02-06 14:02] #792 closed

[2019-02-06 19:27] mshafrir-stripe commented on #565
@logicmelody I'm closing this ticket due to inactivity. Please reopen if you still need assistance.

[2019-02-06 19:27] #565 closed

[2019-02-07 00:25] mshafrir-stripe commented on #792
@utwyko this is now available in `v8.4.0`

[2019-02-07 00:27] mshafrir-stripe commented on #619
@beworker this is now available in `v8.4.0`. Let me know if you have any issues upgrading.

[2019-02-07 00:27] mshafrir-stripe commented on #472
@sj1717 this is now available in `v8.4.0`

[2019-02-07 07:15] utwyko commented on #792
Thank you, that was quick 👍!

[2019-02-07 15:32] mshafrir-stripe commented on #577
@Flash91FS I'm closing this ticket for now. Please reopen if you are able to reproduce in our example app.

[2019-02-07 15:32] #577 closed

[2019-02-07 17:20] mshafrir-stripe commented on #660
@Noaker please reopen if you still need help with this issue

[2019-02-07 17:20] #660 closed

[2019-02-07 17:21] mshafrir-stripe commented on #682
@FrancoisBlavoet please reopen if you still need help with this issue

[2019-02-07 17:22] mshafrir-stripe commented on #772
@HanteIsHante please reopen if you still need help with this issue

[2019-02-07 22:23] searchy2 opened #803 "Create Token or Source Does Not Return First Time"
Creating a Stripe Token or Source often does not return on the first call but succeeds on the subsequent call.
How to reproduce:
1. Install https://github.com/searchy2/Stripe-Android/tree/ray-release
2. Enter test card details (i.e. 4242 4242 4242 4242)
3. Click submit.
4. Stripe never returns success or error. Timeout occurs.
5. Click submit again.
6. Stripe succeeds.

![stripe request failure](h

[2019-02-08 13:00] Flo354 commented on #775
Just did the migration and it works

[2019-02-08 15:29] mshafrir-stripe commented on #803
@searchy2 I moved the inline anonymous `TokenCallback` class in `StripePaymentDialog#createStripeToken` to be an instance variable (see below) and the issue seems to go away. I believe that the anonymous class is being garbage collected when it's inline.

[code]

[2019-02-08 15:35] mshafrir-stripe commented on #797
@searchy2 thinking about this some more, this is arguably a "feature" instead of a "bug". Making the request for a ephemeral key in advance so that it's ready to be used when needed may save perceived response time for the end user.

[2019-02-08 15:37] mshafrir-stripe commented on #775
@Flo354 thanks for the confirmation! @esoxjem I'll close out this ticket based on this information. Please reopen if you need help.

[2019-02-08 15:37] #775 closed

[2019-02-08 17:43] mshafrir-stripe commented on #598
@xelagc please reopen if you still need help verifying in our example app

[2019-02-08 17:43] #598 closed

[2019-02-08 17:43] #619 closed

[2019-02-08 17:45] mshafrir-stripe commented on #654
@osrl can you provide more details about how the default functionality for changing brand icon is not sufficient for you?

[2019-02-08 17:58] searchy2 commented on #803
Thanks for the quick response! I've tested and confirmed that the issue is fixed.

I've run into the Android garbage collection issue before and they were notoriously difficult to diagnose. Can I ask how you were able to find the issue so quickly?

[2019-02-08 18:17] mshafrir-stripe commented on #803
@searchy2 I actually observed a similar issue myself and fixed it in v8.4.0

https://github.com/stripe/stripe-android/commit/2b743285fe6d7bfcb65983b2afa2e882b731b170

[2019-02-08 18:18] #803 closed

[2019-02-08 18:20] searchy2 commented on #797
Correct me if I'm wrong, my understanding is that the ephemeral key is used for initializing a customer session so it needs to be fetched in the initCustomerSession. Then, I'm guessing it's fetched again during an retrieveCurrentCustomer call because of staleness concerns?

For building out a shopping cart flow, it makes sense to initialize the customer and generate the ephemeral key in advance. T

[2019-02-08 20:01] mshafrir-stripe commented on #616
@Huulivoide @osrl can you help me understand what information you need to access on `StripeSourceTypeModel`?

[2019-02-09 12:53] osrl commented on #654
Hi, I'm using `CardNumberEditText` on my layout and set a `drawableLeft` on it. I wanted to change the `drawableLeft` while user is editing the card number but I couldn't find the API. `setCardBrandChangeListener` looked good to me but it wasn't public. So I've added my own implementation and used your card resources:

[code]
[code]

[2019-02-09 12:57] osrl commented on #616
I needed to display some information about customers' sources:

[code]

I get the same warning like @Huulivoide

[2019-02-11 09:28] Huulivoide commented on #616
@msaffitz-stripe Like osrl, I am not trying to access StripeSourceTypeModel directly at all. Instead, like osrl, I cast it to SourceCardData, to access the some of the cad details (brand, last 4 digits).

Still the problem is that you have a public API method, that returns a instance of package private class.

[2019-02-11 09:45] osrl commented on #616
Maybe something like `source.sourceCardData` would be a solution.

[2019-02-11 16:58] searchy2 opened #804 "CustomerSession Lost After Initialization?"
Is it possible for a customer session to be lost after initialization?

I just got an IllegalStateException in CustomerSession.java:123

[code]

What I'm doing is initializing the customer session and then asking the user to enter their payment method in a dialog. Once that is complete, I call `CustomerSession.getInstance().addCustomerSource` and then make a purchase. Perhaps it is possible for th

[2019-02-11 18:29] avaitla commented on #804
Does CustomerSession.mInstance need to be declared volatile for read safety across threads?

[2019-02-11 19:17] mshafrir-stripe commented on #654
@osrl would a `UpdateBrandListener` that gets called when `CardMultilineWidget#updateBrand` gets called suffice?

[2019-02-11 20:26] mshafrir-stripe commented on #804
@searchy2 is it possible that you are calling `CustomerSession#endCustomerSession()` at any point?

[2019-02-11 21:04] searchy2 commented on #804
No, I am not calling endCustomerSession() anywhere. My colleague looked through the Stripe code and we discussed that possibility. But it appears that the library isn't inadvertently calling it either.

[2019-02-11 21:16] searchy2 commented on #804
Our app just received 4 identical crashes from 4 different users with the same device, model, and OS version.

I'm suspecting this is one of Google's test bots?

[2019-02-12 14:08] mshafrir-stripe commented on #804
@searchy2 do you happen to have any steps to reproduce the crash?

Would your suggestion to delay initialization of the CustomerSession work for your case?

[2019-02-12 14:13] mshafrir-stripe commented on #796
@fahadalamkhan3 please reopen if you need more help

[2019-02-12 14:13] #796 closed

[2019-02-12 17:38] searchy2 commented on #804
No, I am unable to reproduce the crash. Do you have any idea how an initialized customer session could be lost?

[2019-02-12 19:34] avaitla commented on #804
Out of curiosity, why isn't the variable made volatile?

Looking through the other reports they also mention it cannot be easily reproduced. It is costly to have to make changes to delay initialization and make a release to users to see if it continues to occur.

[2019-02-13 04:14] jewom opened #808 "Fatal Exception: java.lang.IndexOutOfBoundsException setSpan (18 ... 18) ends beyond length 17"
Hi,

I have this bug for an LGE smartphone ( LM-X210(G)) with Android 8.1 and using 'com.stripe:stripe-android:8.0.0' :

[code]

[2019-02-13 14:32] mshafrir-stripe commented on #808
@jewom do you happen to have any steps to reproduce this crash?

[2019-02-13 15:21] christopheblin opened #810 "Upgrading from 8.1.0 to 8.4.0 causes a "Manifest merger" failed error"
## Summary
In my gradle file, I just modify the stripe version from 8.1.0 into 8.4.0 and I get the following error :

    Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also present at [androidx.core:core:1.0.1] AndroidManifest.xml:22:18-86 value

[2019-02-13 16:28] asikrhmn commented on #433
Any update om this issue? Is it now possible to delete source  in Android?

[2019-02-13 16:35] mshafrir-stripe commented on #810
@christopheblin the SDK's support library dependency has been updated to [Android X](https://github.com/stripe/stripe-android/commit/8fcd9ccb9de04b0643b1d46214229072631f4385). Are you able to [upgrade your app to AndroidX](https://developer.android.com/jetpack/androidx/)?

[2019-02-13 16:36] Tigranbabajanyan commented on #433
Not posible, Even in ios now

On Wed, Feb 13, 2019, 20:28 Ashikur Rahman <notifications@github.com wrote:

[2019-02-13 16:53] asikrhmn commented on #498
Any update on this? @ksun-stripe

[2019-02-13 19:18] asikrhmn commented on #433
In IOS, Now it's possible to delete.

[2019-02-13 19:18] asikrhmn commented on #433
In IOS, Now it's possible to delete.

[2019-02-13 20:14] christopheblin commented on #810
Thanks @mshafrir-stripe, I'll try that and come back to you here to tell you how it goes

[2019-02-13 22:46] #680 closed

[2019-02-14 02:04] jackcsk commented on #433
Clarification: for iOS, it depends on if you are referring to card or source. AFAIK, source can be deleted, but not card.
Also, the Swift API requires keeping at minimum one payment source. Illustration of deletion is here:
https://user-images.githubusercontent.com/28276156/28131357-7a353474-66ee-11e7-846c-b38277d111fd.png
For Android, there is no current native way to delete the source. You may p

[2019-02-14 07:33] jewom commented on #808
Sorry, I don't know. It's a crash visible in Crashlytics.

[2019-02-14 14:03] mshafrir-stripe commented on #810
@christopheblin FYI in Android Studio, you can do "Refactor -> Migrate to AndroidX..."

[2019-02-14 15:21] erangross commented on #810
Please mention this in the DOC and in the Github I just spent half an hour to finally realize that [androidx.core:core:1.0.1] conflicts with android.support.v4.app.CoreComponentFactory

[2019-02-15 17:23] searchy2 commented on #804
I've made some progress on the issue. What is happening is that Stripe loses the customer instance when the app is paused. The customer session doesn't persist across onPause and onResume events?

[2019-02-15 19:41] mshafrir-stripe commented on #804
@searchy2 I wasn't able to reproduce this in our [example app](https://github.com/stripe/stripe-android#example-apps). Can you see if you can repro in the example app?

[2019-02-15 19:41] mshafrir-stripe commented on #804
@avaitla I haven't looked into marking the variable as volatile. However, I'm not sure if that is related to the issue described.

[2019-02-15 19:59] mshafrir-stripe commented on #810
@erangross thanks for the feedback. I included it in the [CHANGELOG](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#830-2019-01-25). Is there another place you typically look for these changes? I can add it there.

[2019-02-17 17:28] christopheblin commented on #810
I've not tried to upgrade to androidx yet, this should be possible next week I hope

Just to say that I usually do not look at any doc to perform an upgrade.
I only search the error message on google when it fails. So now that this issue exists, that should do the trick (for me) :)

[2019-02-20 11:57] utwyko commented on #243
Is there any way to customise or at least translate the "Return to Merchant" button? This is very confusing for non English users.

[2019-02-21 16:01] asifjavaid commented on #591
Hi @ebaratte @ksun-stripe I am facing the same issue right now with Stripe AliPay. Can you please guide me to resolve this issue?

[2019-02-22 13:53] pvukani opened #811 "Getting crash/ app stuck while continuous typing in card number without any pause."
getting crash logs:

java.lang.NoSuchFieldError: No static field error_color_material of type I in class Landroid/support/v7/appcompat/R$color; or its superclasses (declaration of 'android.support.v7.appcompat.R$color'

getting crash while continuous typing in card number without any pause.

Design XML code:

<com.stripe.android.view.CardMultilineWidget
        android:id="@+id/card_input_widget"

[2019-02-22 18:54] mshafrir-stripe commented on #811
@pvukani sounds like this is a collision between two resources with the same name or same id [0]. Can you do a quick check through your code/dependencies to see if there's a collision?

[0] https://stackoverflow.com/questions/29440321/nosuchfielderror-no-static-field-listview1-of-type-i-in-class-lcom-disdemo-rid

[2019-02-23 15:23] mshafrir-stripe commented on #810
@christopheblin please reopen if you still have issues after upgrading

[2019-02-23 15:23] #810 closed

[2019-02-25 06:46] pvukani commented on #811
Hey @mshafrir-stripe
I have check as u have suggest me and i have tried with same not able to solve this issue.

But When i have migrate my project with AndroidX and update version And it's Work .
Thanks man 👍

[2019-02-25 06:46] #811 closed

[2019-02-25 15:29] ebaratte commented on #591
@asifjavaid I switched to the app-to-web method (which does not need Alipay SDK). Something like:

    SourceParams alipayParams = SourceParams.createAlipaySingleUseParams(1234,
            "eur",
            null, null,
            "myapp://alipay");
    stripe.createSource(alipayParams, new SourceCallback() {
        @Override
        public void onError(Exception error) {
            // ...

[2019-02-26 06:59] hongtou820 opened #814 "Error Setup"
[code]

i just     implementation 'com.stripe:stripe-android:8.3.0' on my gradle
then get this error...

after add  'tools:replace="android:appComponentFactory"'. also cannot work

[2019-02-26 09:38] mobile-stunntech commented on #243
If I click to "return to merchant" button, It returns to the app but the browser page still appears behind the activity.what is the reason for that?

[2019-02-26 14:27] mshafrir-stripe commented on #814
See #810 for more details. The v8.3.0 requires AndroidX. See more at [Migrating to Android X](https://developer.android.com/jetpack/androidx/migrate).

[2019-02-26 17:57] #616 closed

[2019-02-27 06:10] hongtou820 commented on #814
Solved
thank Q "Refactor -> Migrate to AndroidX..."

[2019-02-27 13:55] mshafrir-stripe commented on #814
@hongtou820 that's great to hear!

[2019-02-27 13:55] #814 closed

[2019-02-27 23:13] russhwolf commented on #682
@mshafrir-stripe I've come across this as well. I can reproduce it in a bare-bones project that only includes a single activity with a `CardInputWidget`. I haven't tested anything with `CardMultilineWidget` so no idea if there's something similar there.

Steps:
1. Enable TalkBack.
2. Ensure that in TalkBack settings, you have a gesture mapped to the action "Read From Top"
3. Launch a screen with a

[2019-02-27 23:20] FrancoisBlavoet commented on #682
Awesome @russhwolf  !  🙌
I was only able to get the ANR on a specific device. I think for most other devices it just silently crashes.

Can you reopen the issue @mshafrir-stripe please ?

[2019-02-28 00:28] mshafrir-stripe commented on #808
@jewom are you still seeing this issue, and if so, how often?

[2019-02-28 00:30] mshafrir-stripe commented on #682
@russhwolf thanks for the repro steps. Have you been able to repro on an emulator, or only on real device?

[2019-02-28 10:15] hongtou820 commented on #810
Other than change to AndroidX, got other method to solved it?

[2019-02-28 13:59] mshafrir-stripe commented on #810
@hongtou820 is there anything blocking you from upgrading?

[2019-02-28 14:10] mshafrir-stripe commented on #682
@FrancoisBlavoet @russhwolf I was able to repro on my Pixel 1, but I don't see anything in the logs or otherwise that would help track down the root cause.

Have you [filed a ticket with Google](https://issuetracker.google.com/issues/new) or seen if there are any existing tickets for the same issue?

[2019-02-28 14:31] russhwolf commented on #682
I haven't checked in an emulator yet, nor had a chance to look at google issues. The accessibility tester on my team says he's never seen this sort of behavior before which suggests to me that it's something particular to the stripe widget, but I don't really have any more concrete information than that.

Is there any accessibility-specific code internal to the Stripe widget that you can try disab

[2019-02-28 15:57] mshafrir-stripe commented on #682
@russhwolf thanks to your repro steps I was able to find the issue! Putting up a PR shortly.

[2019-02-28 16:12] russhwolf commented on #682
@mshafrir-stripe That's great! Let me know if I can help test the fix.

[2019-02-28 16:17] mshafrir-stripe commented on #682
@russhwolf sure:

0. Enable TalkBack on device
1. Clone the repo and checkout my branch
2. Open in Android Studio
3. Run the example app
<img width="215" alt="screen shot 2019-02-28 at 11 15 04 am" src="https://user-images.githubusercontent.com/45020849/53580659-1fe17a00-3b4a-11e9-8b08-71964c4a8b08.png">

4. Tap "Create Card Tokens"
5. Attempt to navigate through the input fields or do "Read from

[2019-02-28 18:26] #682 closed

[2019-02-28 19:06] russhwolf commented on #682
@mshafrir I don't see the crash in master now. However, in testing that sample, it also seems like the screen reader skips the card number and expiration data fields. This is probably still an issue for us but it's a smaller one.

In any event, is there any schedule for when the next version will be released so we know when to update to get the fix?

[2019-02-28 19:34] mshafrir-stripe commented on #682
@russhwolf is what you're describing a regression or something that was happening before the fix? I can confirm on my end if you don't know off hand.

I can get a release out early next week, likely Monday.

[2019-02-28 19:49] russhwolf commented on #682
@mshafrir-stripe It's not a regression only because the previous behavior was this bug. It's feasible that it might be caused by the fix here since you were adjusting the field read order but I'd have to look closer at the Stripe code to understand for certain.

To be a little more explicit about the current behavior: When I read from top the card number and expiration fields are skipped. The cvc

[2019-02-28 20:56] mshafrir-stripe commented on #682
@russhwolf unfortunately I don't have the bandwidth to further investigate that issue, but I agree that it's something we should fix. I'll add it to the backlog.

[2019-02-28 21:10] russhwolf commented on #682
Yeah that makes some sense. Thanks for the quick response on this!

[2019-02-28 21:29] farruhha commented on #215
Hi,

I'm having the same problem that if the expire date (12/21 actually, but I have inserted 12/25) is invalid, Stripe doesn't validate,  and produces the token.

I expect to have some utility method to check if expire date or cvc is invalid, or Stripe must throw an error instead of generating the token.

Is there possibility of doing it?

[2019-02-28 21:33] farruhha opened #819 "How to validate if the card is valid (e.g for expire date, cvc)"
Hi ,

I'm having the problem with Stripe that if the expire date (12/21 actually, but I have inserted 12/25) is invalid, Stripe doesn't validate, and produces the token.

I expect to have some utility method to check if expire date or cvc is invalid, or Stripe must throw an error instead of generating the token.

Is there possibility of doing it?

[2019-03-01 17:47] mshafrir-stripe commented on #819
@farruhha can you provide more context? Are you using a Stripe UI widget, and if so, which one?

And are you saying that you are entering data that matches the format rules (e.g. correct length), but actually incorrect for the given card?

[2019-03-01 18:01] farruhha commented on #819
Hi Michael,

Thanks for responding me. I appreciate it.  I am using stripe **Card** class to create card object. Card object provides some utility methods to validate date, number and cvc. So the problem those validate methods are working for logical validation, for example if the expire date is in the future, it is validating true even though expire date is wrong (e.g I have input 12/25 which is

[2019-03-01 18:34] mshafrir-stripe commented on #819
@farruhha so if I understand correctly, you are seeing different behavior when using live vs test keys for the same `Card` data?

[2019-03-01 18:40] mshafrir-stripe commented on #819
@farruhha can you provide me the request ids for both the live and test requests that you're describing above. You can find them at https://dashboard.stripe.com/logs/ (use the toggle to switch between live and test). They'll be in the form `req_abcdef123456`.

[2019-03-01 18:55] farruhha commented on #819
@mshafrir-stripe , I am sorry for confusing you. I have just tested and realized that it is failing in both test and live. I mean,

[code]
Even though I have invalid card information (e.g wrong expire date), onSuccess callback is being return. Is it normal? At little more explanation would help. I have tried to read and find the related info in Stripe API but I could not find related to this issue

[2019-03-01 19:03] mshafrir-stripe commented on #819
@farruhha I would look up the request/response in the Dashboard logs and verify that it's successfully returning a Token. It's possible that an error would only occur when the Card was attempted to be charged.

[2019-03-03 14:54] rafikmechria opened #821 "Received unknown parameter: account[legal_entity]"
## Summary

I am using the new api version of stripe :2019-02-19 last version on the platform.
there is a bug or missing development stuff in stripe-android integration when calling this method :
**Token token= stripe.createAccountTokenSynchronous(AccountParams.createAccountParams(true,LegalEntityMap))** 
The method keep returning  :
**Received unknown parameter: account[legal_entity]** 

Since yo

[2019-03-04 14:43] mshafrir-stripe commented on #821
@rafikmechria thanks for filing. I'm able to reproduce the issue and will put up a fix shortly.

[2019-03-04 15:28] mshafrir-stripe commented on #821
@rafikmechria I put up a fix (#822). Feel free to test it and see if it resolves your issue.

[2019-03-04 18:39] mshafrir-stripe commented on #821
@rafikmechria in the mean time, are you still able to roll back to a previous version? You have 72 hours to roll back.

[2019-03-04 18:42] rafikmechria commented on #821
Why you don't just release a new sdk update ?

[2019-03-04 18:45] mshafrir-stripe commented on #821
@rafikmechria I can do that once the PR merges and we go through our release procedures. It was a suggestion in case this is a blocking issue and roll back is still a viable option.

[2019-03-04 19:03] rafikmechria commented on #821
My stripe account is new and points me directly to the new version,  How do they remove legal entity parameters in the api  without preparing an update for the sdks(Android,ios js)??

[2019-03-04 20:23] #821 closed

[2019-03-04 20:43] mshafrir-stripe commented on #819
@farruhha please reopen if you still need assistance

[2019-03-04 20:43] #819 closed

[2019-03-06 21:43] mshafrir-stripe commented on #821
@rafikmechria I just released `stripe-android:8.5.0` with support for the Account API changes. It should take some propagate so it may be several hours before it's available to you. The latest version is also pinned to API version `2017-06-05`, but the changes to the params will work on that version as well.

[2019-03-06 21:45] mshafrir-stripe commented on #682
@russhwolf @FrancoisBlavoet I just released `stripe-android:8.5.0` with the fix. It should propagate out over the next few hours.

[2019-03-06 21:45] mshafrir-stripe commented on #616
This is now available in `stripe-android:8.5.0`

[2019-03-06 21:47] mshafrir-stripe commented on #680
Your feature request is now available in `stripe-android:8.5.0`

[2019-03-07 00:16] rafikmechria commented on #821
alright , thanks

[2019-03-07 06:29] samirmangroliya opened #838 "Change hint CVC to CVV"
How can i change hint from  CVC to CVV in CardMultilineWidget?

[2019-03-07 14:43] mshafrir-stripe commented on #838
@samirmangroliya can you give me more information around the use case for this change? We currently show "CVC" for non-Amex cards and "CVV" for Amex cards.

[2019-03-08 04:36] samirmangroliya commented on #838
I want to show only CVV for all cards as per my requirement.

[2019-03-08 05:23] hongtou820 commented on #814
@mshafrir-stripe may i know got other way to convert to android it ?
because my project inside got other think...

[2019-03-08 05:23] hongtou820 commented on #814
More than one file was found with OS independent path 'META-INF/androidx.legacy_legacy-support-core-utils.version'

[2019-03-08 06:08] hongtou820 commented on #810
"Refactor -> Migrate to AndroidX..."
this method are refactor all project, this will effect my other coding, may i know got other solution for this ?

[2019-03-08 06:12] hongtou820 opened #840 "Alipay Payment Error"
i follow https://stripe.com/docs/mobile/android/alipay-android#app-to-app-one-time all the step from here, because this simple code are no support test_key.  When i use test_key, [data_string] get from source is null.
After that i change to Live_key, payment can pay success, but on my stripe dashboard are no get any amount

[2019-03-08 13:53] mshafrir-stripe commented on #840
@hongtou820 have you tried using the Alipay Sandbox app? https://global.alipay.com/help/integration/23

[2019-03-10 20:25] copypasteearth opened #841 "payment required"
when running the example project and trying the launch payment intent example I am getting

[code]

I have been trying to eliminate the allowed_source_types from the code but it keeps being sent as I can see in the console, any help is appreciated thank you

[2019-03-11 10:12] yassinecc commented on #655
@mshafrir-stripe the breakpoint on `mCvcNumberEditText.requestFocus();` is indeed triggered. I also noticed that the scroll was triggered when I toggled the keyboard on/off. Could it be the layout with which we implement the CardInputWidget?

[2019-03-11 13:12] mshafrir-stripe commented on #841
@copypasteearth thanks for filing. What version of the SDK are you using? Can you provide the request ID of the failing request?

[2019-03-11 13:33] copypasteearth commented on #841
I just imported this project with git in android studio yesterday changed the Heroku url and my test publishable key

[2019-03-12 06:44] hongtou820 commented on #840
no, i no try sandbox

[2019-03-12 06:47] hongtou820 opened #842 "Alipay Webview Success Error"
com.stripe:stripe-android:8.2.0
i am using this version, after i done alipay payment success through webview provide from (https://stripe.com/docs/mobile/android/alipay-android#app-to-web)

**2019-03-12 14:39:33.150 28322-28934/com.cheetahvpn.android E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #5 Process: com.cheetahvpn.android, PID: 28322 java.lang.RuntimeException: An error occurred while execu

[2019-03-14 22:09] mshafrir-stripe commented on #842
@hongtou820 thanks for filling. I'll look into this in the next 24 hours.

[2019-03-15 02:14] hongtou820 commented on #842
Thank Q

[2019-03-18 14:58] normdoow commented on #564
I am also getting this issue. Out of all of the different devices that are using this code in my app, it only seems to crash for Android version 7.1.1. So it seems like there is an underlying issue for that OS.

[2019-03-20 14:50] mshafrir-stripe commented on #840
Were you able to try the sandbox app and see if that worked for you?

[2019-03-20 14:56] mshafrir-stripe commented on #842
@hongtou820 sorry for the delay in response. Are you calling `Stripe.createSource()`? It appears that you are passing in a null `SourceParams` argument.

[2019-03-20 16:40] dominolog opened #844 "Stripe card Source object returns null Card object"
## Summary
Stripe card Source object returns null Card object

## Code to reproduce
String selectedSource = data.getStringExtra(PaymentMethodsActivity.EXTRA_SELECTED_PAYMENT);
        Source source = Source.fromString(selectedSource);
source.asCard() // card is sometimes null

## Android version
Each

## Impacted devices
Emulator and real device

## Installation method
via gradle

## SDK version
L

[2019-03-20 20:16] mshafrir-stripe commented on #844
@dominolog thanks for filing. I've added to our backlog to investigate.

[2019-03-26 09:20] evanjmg commented on #486
Any update on this?

[2019-03-26 19:03] siilats commented on #594
Any update

[2019-03-28 13:52] ffdez commented on #810
I think it's a bad idea to include heavy libraries like Material (or Android Support Library). This only generates headaches when using third-party libraries that also use them.

The fastest and least painful solution I've found is: **keep the latest version that does not include Material: stripe-android: 8.2.0**

[2019-04-01 04:36] HanteIsHante commented on #772
My project can't be upgraded to Androidx for now, because it will cause other problems. This is currently v.8.2.0, and this problem will still occur. On the MeiZu individual device, the app will crash whenever "com.stripe.android.view.CardMultilineWidget" pops up.

[2019-04-01 04:36] HanteIsHante commented on #772
Is there any other solution?

[2019-04-01 04:40] HanteIsHante commented on #772
This problem can be avoided by replacing TextInputEditTexts with AppCompatEditText

[code]
I tried it is ok, but I can't change it inside your SDK, so you still need to modify the SDK internal controls.

[2019-04-01 18:10] #838 closed

[2019-04-01 20:17] mshafrir-stripe commented on #844
@dominolog what is the value of `selectedSource`?

[2019-04-03 17:12] mshafrir-stripe commented on #810
Fyi I'm planning on downgrading from AndroidX to Android Support Library to resolve the issues that have been reported with AndroidX (see #848)

[2019-04-04 14:00] mshafrir-stripe commented on #842
@hongtou820 please reopen if you still need help with this issue

[2019-04-04 14:00] #842 closed

[2019-04-04 14:00] mshafrir-stripe commented on #841
@copypasteearth please reopen if you still need help with this issue

[2019-04-04 14:00] #841 closed

[2019-04-04 17:06] mshafrir-stripe commented on #840
@hongtou820 please reopen if you still need help with this issue

[2019-04-04 17:06] #840 closed

[2019-04-04 19:49] RaviAsnani commented on #594
Any update on this issue?

[2019-04-05 13:35] mshafrir-stripe commented on #810
The downgrade is now released in v8.6.0

[2019-04-08 03:11] HanteIsHante commented on #772
@mshafrir-stripe   hello ?

[2019-04-08 13:28] mshafrir-stripe commented on #772
@HanteIsHante can you try updating to v8.6.0 and let me know if it resolves your issue? That version reverts to the AndroidX migration.

[2019-04-09 03:46] HanteIsHante commented on #772
@msaffitz-stripe  ok , Let me try

[2019-04-09 08:08] HanteIsHante commented on #772
@msaffitz-stripe  I upgraded to version 8.6.0 and still have this problem on Meizu devices.

[2019-04-09 08:48] HanteIsHante commented on #772
@msaffitz-stripe  You can refer to the link posted on me to fix it.

[2019-04-09 15:21] mshafrir-stripe commented on #772
@HanteIsHante I just merged the fix. This will go out with the next release.

[2019-04-09 19:13] mshafrir-stripe commented on #804
@searchy2 I was able to reproduce this by enabling the "Don't keep activities" setting under Debug options. I'll investigate.

[2019-04-09 19:14] mshafrir-stripe commented on #844
@dominolog please reopen if you still need help with this ticket

[2019-04-09 19:14] #844 closed

[2019-04-10 03:19] HanteIsHante commented on #772
ok, Thanks!

[2019-04-12 06:00] daigok opened #868 "stripe.createToken stuck if a callback is removed by garbage collection."
## Summary
In some rare cases, Stripe.createToken method doesn't invoked both onSuccess and onError methods if the callback is null. This will cause the stuck of the application and quite difficult to investigate the cause.

A Stripe.createToken method invoke callback when the AsyncTask finishes the task. However, callback reference is using WeakReference<TokenCallback> and tokenTaskPostExecution

[2019-04-12 12:55] mshafrir-stripe commented on #868
@daigok thanks for filing. I fixed this issue in 9804bcde9b713f078d8f05c9674dba3066b12df1 and will be releasing a new version today.

[2019-04-12 12:55] #868 closed

[2019-04-12 19:22] mshafrir-stripe commented on #868
8.7.0 has now been released

[2019-04-15 10:30] HanteIsHante commented on #772
ok ,V8.7.0, the test is no problem on the Meizu device

[2019-04-23 19:01] mshafrir-stripe commented on #784
@kevinskrei so you're seeing actual declines due to missing billing address? I can investigate on my end whether Google is indeed transmitting us the billing address.

[2019-04-27 08:19] droidluv opened #912 "Create token callback/timeout is taking too long on slow or broken connections"
## Summary
Our customers seem to get stuck for quite a while and sometimes for a really long time for a callback, 5 minutes at-least and possibly upwards when I am trying to generate a token for the card by calling stripe.createToken() method, the callback or timeout just doesn't come for a long time

## Code to reproduce
The normal createToken method
stripe.createToken(
    card,
    new TokenCal

[2019-04-28 22:22] mshafrir-stripe commented on #912
@droidluv there was a garbage collection issue that was resolved in 8.7.0. If you upgrade to that version, this issue should be resolved. Please let me know if that's the case.

[2019-04-29 10:17] elisavetgrig commented on #504
I had the same same issue with the apiVersion. I managed to solve by using a simple trick in the code. In the CreateEphemeralKey function there are two parameters, one for the String (apiVersion) and one Listener. So added an "if..else" that when the Listener is not null, modify the ApiVersion. The listener is never null so every time that I need an ephemeral Key, I send the new version of the api

[2019-04-29 14:08] #912 closed

[2019-04-30 00:29] mshafrir-stripe commented on #784
@kevinskrei please reopen if you still need assistance

[2019-04-30 00:30] #654 closed

[2019-04-30 02:34] VvoidVano commented on #243
any news?

[2019-04-30 06:44] puzanov commented on #498
Hey @anelder-stripe & @ksun-stripe

Do you guys plan to implement this feature? I believe that the issue is a bit of a strange because we have the "remove source" feature in ios-sdk, but not in Android. We understand that everything can be done via direct API calls, but when we - as developers - try to arrange things fast for the MVP having such different feature set in both SDKs are annoying.

If

[2019-04-30 06:55] puzanov commented on #498
Found this merge https://github.com/stripe/stripe-android/pull/524 which has an update about removing sources. But the feature is not available in UI-widget (within standard implementation).

[2019-05-07 13:31] dri94 opened #939 "Stripe SDK crashing on rooted devices"
## Summary
When on a rooted device and trying to use stripes multiline card widget. It crashes on view inflation. Devices will show up in Fabric is rooted sometimes with the name 'batmobile' or 'trendmicro' which i believe to be test devices. And also with actual users who have root installed.

## Android version
6.0.2, 5.0.1

## Impacted devices
Rooted devices and automatic (google play) test dev

[2019-05-07 13:53] mshafrir-stripe commented on #939
@dri94 What are automatic test devices?

[2019-05-09 05:07] mshafrir-stripe commented on #808
@jewom please reopen if you're still seeing this issue

[2019-05-09 05:07] #808 closed

[2019-05-09 15:13] dri94 commented on #939
Google's test devices, amazon's, etc. Can also just be tested on any rooted deviced

[2019-05-09 15:15] mshafrir-stripe commented on #939
@dri94 by test devices do you mean emulators?

[2019-05-09 16:19] dri94 commented on #939
yes google's emulators, and/or an actual rooted device

[2019-05-09 16:29] mshafrir-stripe commented on #939
@dri94 I tested on API 21 (5.0) in our [example and samplestore apps](https://github.com/stripe/stripe-android#example-apps) and wasn't able to reproduce the crash. Can you try reproducing on those apps?

[2019-05-10 17:54] dri94 commented on #939
@mshafrir-stripe the key here is being rooted. I should have stated a rooted emulator

[2019-05-10 17:59] mshafrir-stripe commented on #939
@dri94 can you provide me the exact steps you use to root? Can you also confirm if you are seeing the crash on the example apps I pointed to?

[2019-05-12 10:35] Sach97 commented on #795
@mshafrir-stripe I would like to add that it would be interesting to have clean interfaces allowing the package to be avaliable on the web too without breaking the build, now that with have [flutter web](https://github.com/flutter/flutter_web) released in developper preview.

[2019-05-12 19:14] mshafrir-stripe commented on #795
@Sach97 can you elaborate on what you mean by "clean interfaces"?

[2019-05-13 16:50] dri94 commented on #939
Its on rooted users in production. And it varies for every device. I could not provide yo usteps to root

[2019-05-13 22:14] shawnvega commented on #541
It has been over a year since this issue was filed. Are there any updates on this? Is there an imminent release with this feature?

[2019-05-14 14:37] karlr-stripe opened #943 "Account tokens are missing the business_type parameter"
## Summary

When creating an account token using the SDK, the BusinessType can be provided as an argument to `AccountParams.createAccountParams`. However, if you also provide other fields on the token, this value does not get passed through to the API as `business_type`. At the API-level, that field is actually required — the SDK creates an `individual` or `company` hash on the API request, and if

[2019-05-15 01:15] #943 closed

[2019-05-15 13:39] bsameh commented on #443
It's still not clear how to extract the card details from a `Source`. Can you please elaborate?

@Petrulak did you manage to extract the card data without having to manually parse JSON?

[2019-05-15 17:13] Lobstercode opened #950 "Created Account Tokens Cause Server Side Errors"
Generating an account token using :

final AccountParams accountParams = AccountParams.createAccountParams(true, AccountParams.BusinessType.Individual, paramsMap);

stripe.createAccountTokenSynchronous(accountParams);

And then sending that token to server to be used for account creation with:

stripe.setApiVersion("2019-03-14");
stripe.accounts.create({
        country: 'US',
        type: 'custo

[2019-05-15 17:15] #950 closed

[2019-05-15 17:16] Lobstercode commented on #950
Nevermind, just realised that this issue is already flagged up.

[2019-05-21 20:56] eddiecrawford opened #971 "StripeEditText view's text color going transparent"
## Summary
When typing in to the `StripeEditText` fields, then deleting characters and reentering, the entire edit text sometimes goes transparent:

![cardNumberBlank](https://user-images.githubusercontent.com/6463368/58129970-3bec3900-7bd8-11e9-8ed9-9f6da48977fa.gif)

## Code to reproduce

[code]

## Android version
API 26 (8.0)

## Installation method
Maven / Gradle

## SDK version
8.0

[2019-05-21 22:13] csabol-stripe commented on #971
@eddiecrawford thanks for the report! We're going to investigate this internally and get back to you :)

[2019-05-23 11:50] Flo354 opened #981 "minSdk to 19?"
Hi there,

Why did the minSdk is now set to 19?
My app has minSdk set to 16, so I can not update Stripe's library anymore?

[2019-05-23 13:31] mshafrir-stripe commented on #981
@Flo354 the decision to upgrade was based on our SDK usage analytics. Approximately 0.02% of Stripe API requests were coming from Android APIs 16, 17, and 18. Upgrading the minimum version simplifies maintenance of our Stripe SDK.

[2019-05-23 14:09] mshafrir-stripe commented on #971
@eddiecrawford I wasn't able to reproduce this on device or emulator. Can you provide more details on what device you are testing on, what app, and whether it always reproduces?

[2019-05-23 14:10] mshafrir-stripe commented on #981
@Flo354 as there doesn't seem to be further action at this point, I'll close this ticket. If you need anything else, please feel free to re-open.

[2019-05-23 14:10] #981 closed

[2019-05-23 14:23] Flo354 commented on #981
Thanks for your answer. It's your choice, but in the end, I just can't update the library anymore. I hope I will not have some need in the near future...

[2019-05-23 14:25] mshafrir-stripe commented on #981
@Flo354 thanks for the input. Can you point me to more information about your app? Do you have any plans in the future to upgrade the min SDK of your app?

[2019-05-23 14:35] Flo354 commented on #981
The app is not really used as of today so it is not really a problem now.
That's why I wanted to know if there was some good reasons to upgrade to SDK 19. There is one.

We don't have any plans yet to upgrade the app, but I think we will see that soon. If the app is used by an important part of Devices < 19, I'll come back here.

Otherwise, we will upgrade our app. The issue can stays close for no

[2019-05-23 19:10] eddiecrawford commented on #971
@mshafrir-stripe Interesting 🤔
I'm able to reproduce on different APIs (23, 26, & 28). We're just wrapping Stripe's EditText views in a `TextInputLayout` and showing TIL errors accordingly. We also have a `TextWatcher` attached to these EditText views AND a `OnFocusChangeListener`, so we can validate on every key press. I'm able to reproduce on the `ExpiryDateEditText` class as well.

We're wrappi

[2019-05-23 19:45] eddiecrawford commented on #971
Found where it's occurring. When `setShouldShowError(true)` is called via `afterTextChanged` on a `StripeEditText` view, it sets the error color to the default value. Since the `mErrorColor` was never instantiated in our flow (we never set the error color, and in fact don't want to since we're using a `TextInputLayout` to show our errors), it defaults to 0. Which is why it's dissapearing, but then

[2019-05-24 15:48] mshafrir-stripe commented on #971
@eddiecrawford thanks for the thorough investigation. I put up a PR to fix the issue - #989. In a future PR I'll look into specifying error color via XML.

[2019-05-24 16:34] #971 closed

[2019-05-28 15:55] searchy2 commented on #981
Good reason for updating to minSDK 19. However, just because the SDK is not used extensively by those devices does not mean that the minSDK should be incremented so dramatically. Apps that still target minSDK  less than 19 are incompatible with the newer version of Stripe's SDK.

Maybe it would be better to follow Google's deprecation schedule in the future? Google's libraries target minSDK 16.

[2019-05-28 16:04] mshafrir-stripe commented on #981
@searchy2 I understand your concern. Our `stripe-android` users are not required to update to the latest SDK version, and the `v9.0.0` release was intentionally marked as a breaking change to reflect the min SDK increase. I'm not familiar with Google's deprecation schedule, so if you have a link to a document describing their schedule that would be helpful for future releases.

[2019-05-28 18:18] florian-do commented on #115
Hello,

I'm using this for getting the last version https://stripe.com/docs/upgrades

[2019-05-28 19:51] mshafrir-stripe commented on #594
See #1001 for support for flagging postal code as a required field

[2019-05-28 22:30] #594 closed

[2019-05-29 19:03] droidluv opened #1015 "Minimum SDK is 19"
I am getting the error

  	Suggestion: use a compatible library with a minSdk of at most 17

while your documentation https://stripe.com/docs/mobile/android
says,

[2019-05-29 19:41] florian-do opened #1017 "Payment Intents API throw exception with savePaymentMethod: true"
## Summary
I'm using the PaymentIntent API on Android and I want to save card information on payment, but when i set `savePaymentMethod` to `true` the app crash on the creation of the Intent, if I set it to false it will work and create the intent successfully

This is the exception

The problem is I can't figure it out how to provide a valid customer, I tried to set a customer on the extraParamet

[2019-05-29 19:46] mshafrir-stripe commented on #1015
@droidluv thanks for pointing out the issue with our docs, I'll need to update them. We recently updated our minSDKVersion to 19. See #981

[2019-05-29 19:46] #1015 closed

[2019-05-29 20:01] mshafrir-stripe commented on #1017
@florian-do thanks for filing this issue.

The `customer` field can only be set on the PaymentIntent object on your server (i.e. using your secret key) when you [create](https://stripe.com/docs/api/payment_intents/create#create_payment_intent-customer) or [update](https://stripe.com/docs/api/payment_intents/update#update_payment_intent-customer) the PaymentIntent. If you do this, you'll be able to

[2019-05-29 20:09] #1017 closed

[2019-05-30 17:50] mrmarcsmith opened #1025 "Missing IdempotencyKey, Workaround?"
## Summary

We are currently experiencing an issue where when a customer adds a card it sometimes adds the same card 2-4 times.  I noticed that the IdempotencyKey was removed from this framework somewhere along the line. What are we supposed to use instead to block double adding of cards to customers?

## Code to reproduce

[code]
## Android version

All

## Impacted devices

Galaxy S6

## Install

[2019-05-30 18:41] mshafrir-stripe commented on #1025
@mrmarcsmith I removed `"Idempotency-Key"` from Stripe API request headers in #991 because it could only be set internally and was never being set. Was there some way you were setting this header? What are you experiencing after updating?

[2019-05-30 19:08] XandrMaster opened #1027 "Didn't find get Default PaymentMethod or CustomerSession.getCustomerDefaultSource()"
## Summary
Didn't find the method CustomerSession.GETCustomerDefaultSource()

## Code to reproduce
https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/CustomerSession.java#L440

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information
Could you tell me how can I get CustomerDefaultSource(Bank card) and Default Pa

[2019-05-30 19:12] mrmarcsmith commented on #1025
Hi @mshafrir-stripe, Thanks for your prompt reply. To clarify I was never able to use "Idempotency-Key" in this framework but the documentation [here](https://stripe.com/docs/api/idempotent_requests?lang=java) says that I should be able to using the RequestOptions builder to add an idempotencyKey.
example code pulled from docs:
[code]

[2019-05-30 19:19] mshafrir-stripe commented on #1025
I believe that documentation is for [stripe-java](https://github.com/stripe/stripe-java), which is for server-side Java integrations, where we use the secret key.

None of the API methods that can be called from the SDK using the publishable key can actually capture payment, so you shouldn't need an idempotency key to prevent double-charging.

We can implement idempotency in the SDK for double-add

[2019-05-30 19:24] mrmarcsmith commented on #1025
Unfortunately I don't have a lot of information as to why the double cards are happening because its all real users who report the issue. We can't reproduce it in our dev environment but enough people have reported it that I know it's a problem with the code and not just a once-off issue. Maybe network requests are failing resulting in two tokens being created and therefore 2 cards? I will keep yo

[2019-05-30 19:25] mshafrir-stripe commented on #1025
If you have an "add card" form, is it possible that users are quickly tapping twice on the "submit" button?

[2019-05-30 19:45] mrmarcsmith commented on #1025
I suppose its possible but for us the "best" solution be the one that fixes both network requests or double taps.

[2019-05-30 19:53] mshafrir-stripe commented on #1027
@XandrMaster I'm not sure if I fully understood your question - are you wondering how to set/get a customer's default PaymentMethod? If so, a Customer can only have a default Source, but not a default PaymentMethod.

[2019-05-31 07:27] XandrMaster commented on #1027
Thanks for answer Michael. Actually I want to get default credit card , which user chose before from list of cards . How I can do it for Android ? Thanks .

[2019-05-31 13:24] mshafrir-stripe commented on #1027
@XandrMaster if you're using PaymentMethods, there is no default customer PaymentMethod. You'll need to keep track of the user's preferred card in your app.

[2019-05-31 15:10] XandrMaster commented on #1027
Ok, thanks

[2019-05-31 15:10] #1027 closed

[2019-05-31 21:46] florian-do commented on #1017
Thank you for your fast answer ! this solve my problem

Best Regards

[2019-06-03 05:39] anthony-seventhbeam commented on #498
I'm also looking for some clarity here. Is this something that will have its UI updated to match the iOS sdk behaviour?

[2019-06-03 11:59] puzanov commented on #498
@anelder-stripe & @ksun-stripe pls help

[2019-06-04 09:45] thomas-le-bihan opened #1042 "Proguard issue"
## Summary
I'm dealing with some issues trying last stripe SDK version with proguard (I migrate from 8.7.0).

## Code to reproduce
Use stripe > 9.0.0

## Installation method
gradle

## SDK version
greater than 9.0.0

## Other information
Here is my current proguard configuration :
[code]
Here are the related warnings:
[code]

[2019-06-04 10:53] ivanessence opened #1043 "Get card from PaymentMethodsActivity"
I use stripe SDK version 9.0.1

I used PaymentMethodsActivity, choose card and than I tried to get this card im my host activity method onActivityResult. But with this information I can't create source for payment.

Where can I get full card information? Android example app and official documentation not actual and does not match with SDK version 9.0.1 because I didn't find method getPaymentMethod

[2019-06-04 12:12] mshafrir-stripe commented on #1042
@thomas-le-bihan thanks for filing. Can you give me more context on your project? Is it an app or a library?

[2019-06-04 12:14] #1043 closed

[2019-06-04 12:28] nirpatel15 opened #1044 "transformClassesWithDexBuilderForDebug"
I am trying to integrate Stripe into my app.
Below is my build.gradle.

[code]
First I was getting conflict with some Nimbus gradle which I solved by adding this line at the end :
**com.google.gms.googleservices.GoogleServicesPlugin.config.disableVersionCheck = true**
 Now I am getting below error.

[code]

I tried adding MultiDex, but it did not work. Can anyone help me with this?

[2019-06-04 12:44] thomas-le-bihan commented on #1042
It's an ecommerce application. I'm just using stripe SDK to get and tokenize the `Card` object like this :
[code]
[code]

[2019-06-04 13:05] thomas-le-bihan commented on #1042
I was using 8.7.0  previously and the issue occured when I migrated to 9.1.1

[2019-06-04 13:15] mshafrir-stripe commented on #1044
@nirpatel15 what version of Gradle[0] and the Android Gradle Plugin[1] are you using?

[0] found in `gradle-wrapper.properties`
[code]

[1] found in `build.gradle`
[code]

[2019-06-04 13:21] mshafrir-stripe commented on #1042
@thomas-le-bihan can you tell me what version of Gradle and the Android Gradle Plugin you're using?

Also, can you try adding the following to your `proguard-rules.pro` config?
`-dontwarn com.nimbusds.jose.**`

[2019-06-04 13:34] thomas-le-bihan commented on #1042
Ok there are less warnings but it remains these two:
[code]
I'm using android gradle plugin version `3.5.0-beta03` and gradle `4.10.3`

[2019-06-04 13:48] mshafrir-stripe commented on #1042
If you add `-dontwarn com.stripe.android.**` it should resolve the other issues. Let me know if this fixes it.

FYI, the minimum version of Gradle for AGP 3.4.1+ is 5.1.1+[0]. You can update your `gradle-wrapper.properties` to `distributionUrl=https\://services.gradle.org/distributions/gradle-5.4.1-all.zip`.

[0] https://developer.android.com/studio/releases/gradle-plugin#updating-gradle

[2019-06-04 14:00] mshafrir-stripe commented on #1044
@nirpatel15 can you also try adding the following to your app's `build.gradle`:

[code]

[2019-06-04 14:12] thomas-le-bihan commented on #1042
Thanks it works ! Here is the working proguard configuration :
[code]

[2019-06-04 14:21] mshafrir-stripe commented on #1042
@thomas-le-bihan thanks for the update, I'm glad that fixed it for you 👍

[2019-06-04 14:21] #1042 closed

[2019-06-05 04:59] nirpatel15 commented on #1044
Below is my version of Gradle[0] and the Android Gradle Plugin[1] that I am using.
[code]

gradle-wrapper.properties :

[code]

[2019-06-05 05:01] nirpatel15 commented on #1044
Adding below in my build.gradle did not work. Getting same error.
[code]

[2019-06-05 05:08] nirpatel15 commented on #1044
Updating classpath and distributionUrl to latest fixed the issue.
Thanks alot.

[2019-06-05 05:08] #1044 closed

[2019-06-05 07:40] shokimble commented on #784
Having the same problem. Declines from issuer because stripe is not capturing the Google pay billing address and sending to issuer.

Google pay returns the billing address but stripe returns a token that does not have the billing information attached to it so the transaction is declined or worse, authorised without a valid billing address and open to fraud.

Unfortunately we have had chargebacks c

[2019-06-05 09:01] jackcsk opened #1056 "Inconsistent Documentation: CustomerRetrievalListener"
On Stripe documentation page:
https://stripe.com/docs/mobile/android/customer-information#nonui
`CustomerRetrievalListener.onError(errorCode, errorMessage)` takes 2 arguments

However, as according to `stripe-android-9.1.1-sources.jar`, `CustomerRetrievalListener` inherits from `RetrievalListener`, where `onError` method takes 3:
[code]

This `StripeError` class is not inherited from `Throwable`.

[2019-06-05 19:32] mshafrir-stripe commented on #1056
@jackcsk thanks for flagging. I have updated the docs to reflect the `StripeError` param.

https://stripe.com/docs/mobile/android/customer-information#nonui

[2019-06-05 19:32] #1056 closed

[2019-06-07 19:39] mshafrir-stripe commented on #784
Thanks for filing. We're aware of this issue and investigating it internally. It's due to a backend issue, not the Stripe Android SDK or Google Pay SDK.

[2019-06-09 03:20] shokimble commented on #784
@mshafrir good to hear it's being worked on. Are you able to update us here when it's resolved or is there somewhere else we can subscribe for updates?

[2019-06-10 11:57] Huulivoide opened #1073 "9.x presentPaymentMethodSelection no longer sets default source"
## Summary
Before version (9.x) selecting a payment method in `PaymentSession.presentPaymentMethodSelection` the selection would be automatically made to be the default source for the customer.  This is no longer the case. This breaking change in the behavior of the SDK is not mentioned on the Releases page not on the MIGRATING.md document.

## SDK version
9.2.0

[2019-06-10 14:10] mshafrir-stripe commented on #1073
@Huulivoide you're correct, in the Stripe API, the Customer object can only specify a default Source[0], not a default PaymentMethod. I'll update the MIGRATING.doc to reflect this.

[0] https://stripe.com/docs/api/customers/object#customer_object-default_source

[2019-06-10 15:19] #1073 closed

[2019-06-11 04:34] jackcsk opened #1085 "Incorrect Google Pay with the Payment Intents API Documentation"
Contrast to the Stripe documentation here:
https://stripe.com/docs/payments/payment-intents/android#using-google-pay-with-the-payment-intents-api

There is no `setToken(tokenString)` method in `PaymentMethodCreateParams.Card.Builder` class. See:
https://github.com/stripe/stripe-android/blob/v9.2.0/stripe/src/main/java/com/stripe/android/model/PaymentMethodCreateParams.java

[2019-06-11 10:14] mshafrir-stripe commented on #1085
@jackcsk thank you for pointing this out. I'll update the docs to use the static create method for tokens, [PaymentMethodCreateParams.Card#create(String)](https://github.com/stripe/stripe-android/blob/v9.2.0/stripe/src/main/java/com/stripe/android/model/PaymentMethodCreateParams.java#L132)

[2019-06-11 19:35] mshafrir-stripe commented on #1085
@jackcsk https://stripe.com/docs/payments/payment-intents/android#using-google-pay-with-the-payment-intents-api has now been updated

[2019-06-11 19:35] #1085 closed

[2019-06-12 19:04] navdeepg opened #1105 "Crash on StripeApiHandler"
We are having crash on live environment  on StripApiHandler. I am going to attach log file for it. please let me know how can we fix it.

## Android version
28.0.0

## Impacted devices
Samsung S9+ and Google Pixel 3

## Installation method
Gradle
 implementation 'com.stripe:stripe-android:6.0.0'
Thanks,
Navdeep
[com.kater.krs.customer_issue_crash_5D013157036100014ADE7F1E47C52CBB_DNE_0_v2.txt](http

[2019-06-12 19:15] isaac-wcy commented on #1105
same here, we are seeing the same crashes today.

[2019-06-12 19:20] mshafrir-stripe commented on #1105
@navdeep @isaac-wcy thanks for filing, investigating now

[2019-06-12 19:21] HaiLe commented on #1105
same issue for us.  please take a look!

[2019-06-12 19:53] mshafrir-stripe commented on #1105
The root cause was a backend issue. It should be resolved now. Please let me know if you're still seeing issues.

@navdeep @isaac-wcy @HaiLe

[2019-06-12 20:12] isaac-wcy commented on #1105
It works now. Thanks

[2019-06-12 20:39] mshafrir-stripe commented on #1105
@isaac-wcy thanks for the update. I'll close this ticket now.

[2019-06-12 20:39] #1105 closed

[2019-06-12 23:47] ThomasGHenry commented on #773
Crashlytics just reported this intermittent bug from one of our users in production. I don't have a lot to go on at the moment, but FYI it's still out there.

[2019-06-12 23:54] ThomasGHenry commented on #564
Still out there. And +1 on 7.1.1...

https://github.com/stripe/stripe-android/issues/773#issuecomment-501495024

[2019-06-13 08:41] Flo354 opened #1106 "Cannot set name on Card"
Hi there,

Since I updated my SDK version from 8.X to 9.3.2, the method _setName()_ on *Card* class does not exists anymore. Since the card is built with *CardMultilineWidget*, I can't set the name anymore.

How can I set the cardholder name without having to create an other instance of Card and set name in the builder?

Before:
[code]

Now:
[code]

Thanks,

[2019-06-13 08:43] jackcsk opened #1107 "Incorrect Android Payment Intent Authentication Documentation"
In Android Payment Intent authentication documentation:
https://stripe.com/docs/payments/payment-intents/android#handle-authentication
This call:
[code]
can be written as
[code]
instead

That is because `paymentIntent.getStatus()` already returns the `Status` enum, rather than having to lookup with `fromCode(string)` call.

[2019-06-13 12:53] mshafrir-stripe commented on #773
@ThomasGHenry can you provide a stacktrace?

[2019-06-13 14:37] mshafrir-stripe commented on #1107
@jackcsk thanks, I'll fix this today

[2019-06-13 15:02] mshafrir-stripe commented on #1106
@Flo354 sorry for the inconvenience caused by removing the setter. I put up a PR (#1108) that adds a `Card#toBuilder()` convenience method which you can use to add the `name` field.

[2019-06-13 15:35] #1107 closed

[2019-06-13 18:23] #1106 closed

[2019-06-13 20:03] ThomasGHenry commented on #773
stripe-android 8.1.0 via tipsi-stripe 7.5.0 on react native

[code]

[2019-06-13 20:13] ThomasGHenry commented on #773
We've had many successful transactions since the last time we saw this in December and a few since (on a Nexus 6, Android 7.1.1, as it was reported) just to test. It only shows up in crashlytics, so I'm not sure under which conditions it's occurring, or how to reproduce it. I have a vague suspicion it might be related to some automation either in the google play store or elsewhere, that might be l

[2019-06-19 21:10] mindlapse opened #1131 "AppInfo class needs to be public"
## Summary
AppInfo needs to be public.  Currently it is `final class AppInfo` when it should be `public final class AppInfo`

## Code to reproduce

The following method in Stripe.java accepts an AppInfo class, however the class is not public, thus I cannot call this method.
[code]

What I'm trying to do is to set AppInfo (as part of an update to send user-agent info for the tipsi-stripe plugin) as

[2019-06-20 00:41] mshafrir-stripe commented on #1131
Thanks for filing. I put up a fix and I'll issue a new release.

[2019-06-20 00:53] #1131 closed

[2019-06-20 12:10] shokimble commented on #784
@mshafrir any updates on this? Is it a google pay issue or stripe? When will it be resolved?

I have done some analysis on our payments using Google Pay and I am pretty confident that there appears to be a pattern of fraudulent attacks on us via google pay. One example is a single "customer" trying 10 more cards on our app within a period of 24 hours all through Google Pay. This takes some effort

[2019-06-20 13:18] mshafrir-stripe commented on #1131
stripe-android 9.3.4 is now available with this change

[2019-06-20 13:55] mindlapse commented on #1131
Awesome, thank you for the fast turn-around!

[2019-06-20 16:34] mshafrir-stripe commented on #784
@shokimble I understand that this issue continues to impact you, so thanks for your patience and providing more details. I have escalated this issue internally as we continuing our investigation. I’ll respond back to this issue once I have any details that I can share. Is there a way to directly contact you?

[2019-06-20 19:31] mshafrir-stripe commented on #1131
@mindlapse we found a small bug in 9.3.4, so I just released 9.3.5[0].

[0] https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#935---2019-06-20

[2019-06-20 21:05] mshafrir-stripe commented on #784
@shokimble if you create a `PaymentMethod.BillingDetails` object using from Google Pay's [CardInfo#getBillingAddress()](https://developers.google.com/android/reference/com/google/android/gms/wallet/CardInfo.html#getBillingAddress()) and then create a new Payment Method with that + the token, that may ensure that the billing address is passed along.

[code]

then create a Payment Intent using the P

[2019-06-21 00:06] shokimble commented on #784
Thanks for the work around. It should help others experiencing this issue. As I have said we have removed the Google Pay functionality entirely (pending the all clear from your end).

My major concern right now is whether there is some sort of vulnerability with Google Pay and/or the Stripe integration. I understand you may not be able to give specific updates, however, I just wanted to raise the

[2019-06-25 06:21] GHChrisSu opened #1139 "Could not compile when integrate into my project"
Error: Class content provided for type descriptor com.stripe.android.stripe3ds2.transaction.A actually defines class com.stripe.android.stripe3ds2.transaction.a

My android studio providing this error message to me, and I tried exclude com.stripe.android.stripe3ds2 but it not working at runtime stripe is depends on 3d secure.
In stripe3ds2 with class of name A and a, make me confuse

## Installati

[2019-06-25 09:20] mshafrir commented on #1139
What version of Gradle and the Android Gradle Plugin are you using? I recommend upgrading both to the latest. Are you using the Stripe Proguard rules? Are you attempting to reference that class in your code? What version of stripe-android did you upgrade from?

[2019-06-25 09:41] ChristianBecker opened #1140 "Remove android:supportsRtl="true" from stripe-3ds2-android library"
## Summary
I specify `android:supportsRtl="false"` for my Android application in the app's `AndroidManifest.xml`. Unfortunately, the `stripe-3ds2-android` also sets this field with a value of `true`. This leads to an error in the Manifest Merger:
[code]

While this might be true for your library, it might for sure not be true for any app that depends on your library. Please remove this statement f

[2019-06-25 11:20] mshafrir commented on #1106
@Flo354 this is now available in 9.3.5

[2019-06-25 12:43] mshafrir-stripe commented on #1140
@ChristianBecker thanks for filing. This will be fixed in the next release.

[2019-06-26 01:27] GHChrisSu commented on #1139
I made my Gradle and Gradle plugin same with this project. Yes, I used the Proguard rules to my project, and I didn't reference the 3ds directly, and it's my first integrate.I just use the PaymentActivity code into my project, and use the version in Readme.

For now I just comment out the code about 3ds, and it's working temporarily

[2019-06-26 10:14] mshafrir-stripe commented on #1139
@GHChrisSu what code did you comment out? Can you provide an example?

[2019-06-26 13:32] GHChrisSu commented on #1139
@mshafrir-stripe A lot of I was commented out
remove the dependency of "com.stripe:stripe-3ds2-android:0.0.17"
and comment out the code about com.stripe:stripe-3ds2-android:0.0.17

cause the error is in com.stripe.android.stripe3ds2 said Class A and a seems to be repetitive

and I also use the kotlin to compile the code

[2019-06-28 09:59] RomainPiel opened #1141 "The 3ds2 dependency breaks Firebase Performance and Robolectric"
## Summary

Upgrading Stripe to version 9.3.5 (or any version after 9.1.1) breaks our app. The 3ds2 dependency added transitively the dependency to `org.bouncycastle:bcprov-jdk15on:1.61`. This forces a few other dependency to use that version and breaks the app in different ways:
- The Firebase performance plugin (version 1.1.5) fails to load with the following error:
[code]
- The robolectric (ver

[2019-06-28 10:25] RomainPiel commented on #1141
I was wondering if we could downgrade the bouncy castle to something like 1.56, given it's the version most commonly used by other dependencies?

[2019-07-01 08:37] droidluv commented on #1141
I was also facing an issue with Firebase performance plugin, its reported here https://issuetracker.google.com/issues/135171107#comment14 the problem is Firebase extracts the jar files and the obfuscated filenames are designed to be used on a case-sensitive file system, like A.class and a.class are considered same in the default case insensitive file systems of Windows and Mac so either one will o

[2019-07-03 12:03] JulienDev commented on #1139
Same problem here with minify enabled :
[code]
My proguard config is `-keep class com.stripe.android.** { *; }`

Did you find any workaround?

[2019-07-04 04:55] asadqazi commented on #546
was this issue fixed because I am still facing it on Android 6(Samsung Note 4) and android 7(Samsung galaxy s6). Its working fine on Pixel3 XL Android 9

[2019-07-04 05:36] asadqazi opened #1145 "CardInputWidget is slow"
I am facing the cardInputWidget slow issue on Android 6(Samsung Note 4) and android 7(Samsung galaxy s6). Its working fine on Pixel3 XL Android

[2019-07-05 00:42] mshafrir-stripe commented on #1145
@asadqazi are you able to reproduce on an AVD (i.e. emulator)?

[2019-07-05 10:46] j-koenig commented on #1139
Hey @mshafrir-stripe,

we are also facing this issue after trying to update the Stripe SDK to version 9.3.5. It seems like the Firebase Performance gradle plugin in combination with the case insensitive file system of MacOS is the root cause of this problem.

As @droidluv mentioned here: https://github.com/stripe/stripe-android/issues/1141#issuecomment-507171882 the Firebase Performance plugin doe

[2019-07-05 13:12] mshafrir-stripe commented on #1139
@j-koenig thanks for the repro steps! Specifying `-dontusemixedcaseclassnames` seems to not have any impact, and it appears to be in the [default proguard config](https://android.googlesource.com/platform/sdk/+/master/files/proguard-android-optimize.txt). However, disabling R8 in `stripe-3ds2-android` did resolve the issue. I'll disable R8 for now in that project to unblock.

[2019-07-08 07:00] asadqazi commented on #1145
I didn't checked it on AVD. I am using real devices. and its always slow

[2019-07-08 17:17] #1139 closed

[2019-07-08 20:11] mshafrir-stripe commented on #1140
@ChristianBecker this should be fixed in stripe-android 9.3.6, which was just published

[2019-07-08 20:11] #1140 closed

[2019-07-08 20:11] mshafrir-stripe commented on #1139
This should be fixed in stripe-android 9.3.6, which was just published

[2019-07-08 20:12] mshafrir-stripe commented on #1141
@droidluv see #1139 for discussion about the issue you are running into (fixed in 9.3.6)

[2019-07-08 20:31] mshafrir-stripe commented on #1145
@asadqazi are you able to reproduce the slowness in the stripe-android example apps?

[2019-07-08 22:47] mshafrir-stripe commented on #1141
@RomainPiel out of curiosity, does upgrading to the [latest version of Robolectric (4.3)](https://mvnrepository.com/artifact/org.robolectric/robolectric) help with the performance issues?

[2019-07-09 08:15] RomainPiel commented on #1141
@msaffitz-stripe I tried upgrading Robolectric to version 4.3 and faced that other issue: https://github.com/robolectric/robolectric/issues/4621#issuecomment-499080171

Trying with 4.2.1 now...

[2019-07-09 09:55] RomainPiel commented on #1141
I just noticed the same issue with Robolectric 4.2.1 on our CI.

[2019-07-09 10:16] asadqazi commented on #1145
Yes I also checked in example app and its there too

[2019-07-09 10:17] asadqazi commented on #1145
I checked into the code and its due to onTextChanged() card validation, cardFormatting etc. Its in CardNumberEditText class

[2019-07-09 11:14] IHNEL opened #1152 "The library crashes when I clicked "Add new card...""
It always crashes when I clicked "Add new card..." on Android UI standard component. Please help to check.

My code:
[code]

Here is the crash log:
[code]

[2019-07-09 12:28] JulienDev opened #1153 "Proguard configuration is outdated"
## Summary
Proguard configuration is outdated, it's not possible to build anymore when minify is enabled even if Stripe SDK is updated to freshly released 9.3.6

## SDK version
9.3.6

## Other information
The following warnings are displayed in the console during the build. Nimbusds and Bouncycastle are both dependencies of the Stripe SDK

Warning: com.nimbusds.jose.crypto.Ed25519Signer: can't fin

[2019-07-09 14:13] sw-ms-bhaveshsasaniya commented on #803
I have same problem in my code but i am using create token method in angular 7. So, what can i do for that timeout issue.

[2019-07-09 14:26] mshafrir-stripe commented on #1153
@JulienDev what version did you upgrade from? Can you share your build.gradle with me? What version of Gradle and Android Gradle Plugin are you using?

[2019-07-09 14:41] mshafrir-stripe commented on #1152
@IHNEL is this a new integration or was it previously working?

[2019-07-09 15:26] #1152 closed

[2019-07-09 15:28] mshafrir-stripe commented on #1153
@JulienDev I wasn't able to reproduce the issue in an app using Android Gradle Plugin 3.4.1 and Gradle 5.4.1

[2019-07-09 15:29] mshafrir-stripe commented on #803
@sw-ms-bhaveshsasaniya are you using the Stripe Android SDK?

[2019-07-09 15:37] mshafrir-stripe commented on #1141
@RomainPiel I can downgrade the version of BouncyCastle we're using, but is that the cause of the Robolectric performance issues? Are the performance issues resolved when you force 1.5.2? Are you able to add any log statements to your tests to see where the bottleneck is? Also, does upgrading to stripe-android 9.3.6 improve anything?

[2019-07-09 17:10] DEXIT33 opened #1155 "The provided key does not have the required permissions for this endpoint on account"
## Summary
When attaching a test payment method via `CustomerSession.getInstance().attachPaymentMethod` it throws this error:

`The provided key 'ek_test_***********************************************************************_******y50L' does not have the required permissions for this endpoint on account 'acct_***************'. Having the 'source_create' permission would allow this request to cont

[2019-07-09 17:41] mshafrir-stripe commented on #1155
@DEXIT33 can you provide me with the request-id from the error response?

[2019-07-09 18:03] DEXIT33 commented on #1155
Sure, request id is `req_YuM9zqHetebxU5`

[2019-07-09 18:37] mshafrir-stripe commented on #1155
@DEXIT33 looks like you're attempting to use the test PaymentMethod id `pm_card_de` as listed in our [testing guide](https://stripe.com/docs/testing#international-cards). Unfortunately you can't use this PaymentMethod id directly - you'll first need to create a new PaymentMethod using the equivalent card number `4000002760000016`, then attach that PaymentMethod to the customer using the id.

[2019-07-09 18:43] DEXIT33 commented on #1155
Oh, that will probably be the case. It didn't seem obvious to me at first. Thanks for clarification.

[2019-07-09 18:45] mshafrir-stripe commented on #1155
@DEXIT33 I understand how that's confusing, I'll see if there's any way to improve the experience

[2019-07-09 18:45] #1155 closed

[2019-07-10 02:04] IHNEL commented on #1152
@msaffitz-stripe
This is new integration. I was using Stripe with add-card manually 2 years ago and now I would like to support multiple CC so I want to integrate Android-UI-Component.
This always happens, the "BuildConfig.STRIPE_TOKEN" value is correctly and was using for more than 2 years. I also just upgrade the library version from `8.0.0` to `9.3.6`.

[2019-07-10 02:37] IHNEL commented on #1152
hi @msaffitz-stripe
 I just upgraded again to `9.3.6` and got the same issue.

[2019-07-10 04:31] sw-ms-bhaveshsasaniya commented on #803
@mshafrir-stripe ,
No, I am using "https://js.stripe.com/v3/" js in angular 7 and using stripe element i am calling createToken method.

[2019-07-10 04:38] mshafrir-stripe commented on #803
@sw-ms-bhaveshsasaniya for help with that, please contact support https://support.stripe.com/contact

[2019-07-10 04:50] sw-ms-bhaveshsasaniya commented on #803
okay, Thank you :)

[2019-07-10 07:16] RomainPiel commented on #1141
Yes the firebase issue gets fixed when I force bouncy castle to version 1.56 and the robolectric issue gets fixed when I force bouncy castle to version 1.52.

We noticed this issue on some of our machines (like on the CI). It took us quite a long time to reach the conclusion that it was related to bouncy castle and didn't go further in our investigation.

I can try that today.

I also tried this a

[2019-07-10 07:56] Greelings opened #1160 "Card input widget does not accept debit card numbers (maestro)"
Impossible to enter a debit card number (maestro) into the Card input widget.
The debit card number are 1digit longer and do not have CVC code.

Is the Card input widget configurable?
If not, could I manually create a source for a debit card number (maestro) without using the Card input widget?

[2019-07-10 10:14] RomainPiel commented on #1141
The Firebase team has asked me to build a sample to demonstrate the issue. I can share that later if it helps.

[2019-07-10 14:05] droidluv commented on #1141
@mshafrir-stripe I updated to 9.3.6 and I am now facing the issue with bouncy castle as mentioned by the OP

AGPBI: {"kind":"error","text":"Unsupported source file type","sources":[{"file":"/app/build/intermediates/transforms/FirebasePerformancePlugin/staging/186/module-info.class"}],"tool":"D8"}

186 directory is part of org.bouncycastle

[2019-07-10 14:09] mshafrir-stripe commented on #1160
@Greelings you can reference https://stripe.com/docs/mobile/android/sources for a guide on how to create a Source using our API bindings. That said, I'm not familiar with Maestro and whether the Stripe API supports it as a payment method. Based on https://stripe.com/docs/api/sources/object#source_object-type, it doesn't appear that it does. You can also contact https://support.stripe.com/ for more

[2019-07-10 14:12] mshafrir-stripe commented on #1141
@droidluv what versions of Gradle and Android Gradle Plugin are you using?

[2019-07-10 14:39] #1160 closed

[2019-07-10 15:13] droidluv commented on #1141
@mshafrir-stripe Gradel 3.4.2 and Android Studio is 3.4.2, also Firebase plugin is 1.2.1

[2019-07-10 15:15] mshafrir-stripe commented on #1141
@droidluv can you try upgrading Gradle to at least 5.4.1

[code]

and Android Gradle Plugin to at least 3.4.1

[code]

[2019-07-10 15:17] droidluv commented on #1141
Oh I'm sorry I was not clear enough my gradle plugin is 3.4.2 and gradle version is 5.1.1

[2019-07-10 15:22] mshafrir-stripe commented on #1141
@droidluv can you try using Gradle 5.4.1?

[2019-07-10 15:23] droidluv commented on #1141
@mshafrir-stripe also just updated and started using gradle 5.4.1 but facing same failure

AGPBI: {"kind":"error","text":"Unsupported source file type","sources":[{"file":"/app/build/intermediates/transforms/FirebasePerformancePlugin/staging/186/module-info.class"}],"tool":"D8"}

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:transformClassesAndResourc

[2019-07-10 15:32] mshafrir-stripe commented on #1141
@droidluv can you send me your build.gradle and Proguard rules. I'd like to reproduce the issue.

[2019-07-10 15:38] droidluv commented on #1141
@mshafrir-stripe How should I send it, can you give me your email address?

[2019-07-10 16:06] mshafrir-stripe commented on #1141
@droidluv can you post it as a [gist](https://gist.github.com/)

[2019-07-11 07:34] RomainPiel commented on #1141
@mshafrir-stripe You can also use the sample I posted yesterday to reproduce the issue: https://github.com/RomainPiel/quickstart-android/tree/stripe-issue
* open the `perf` folder
* run `./gradlew assembleDebug`

I think we're facing the same issue with @droidluv

[2019-07-11 07:37] RomainPiel commented on #1141
Also for reference, the firebase team got back to me with this answer:

[2019-07-11 08:35] IHNEL commented on #1152
hi @msaffitz-stripe , this is the new crash log on `9.3.6`

[code]

[2019-07-11 11:26] droidluv commented on #1141
@mshafrir-stripe sorry I ran off it was getting late for me and the error I am facing is just like @RomainPiel's sample

[2019-07-11 12:17] IHNEL opened #1168 "How can get selected payment method from Android Standard component?"
I integrated Android Standard UI component and able to add or click on added payment method items, but when I click the check button at top-right corner, the UI just disappears without any invoking to the `PaymentSessionListener`

in additional, on the first time when the PaymentMethodActivity is presented, `PaymentSessionListener` is called with null data fields, there is no calling after this.

[2019-07-11 13:12] mshafrir-stripe commented on #1168
@IHNEL after you click the checkmark in the top-right corner, the PaymentMethodsActivity finishes and returns the result to the calling activity.

Please refer to https://stripe.com/docs/mobile/android/customer-information#let-your-user-select-their-payment-method for documentation on how to obtain the selected PaymentMethod.

[2019-07-11 13:17] mshafrir-stripe commented on #1141
I followed these steps but got the following:

[code]

[2019-07-11 13:20] mshafrir-stripe commented on #1152
@IHNEL FYI my username is mshafrir-stripe, not msaffitz-stripe.

The stacktrace looks the same as from 9.3.5. However, based on #1168, it looks like you were able to work through this issue?

[2019-07-11 13:20] RomainPiel commented on #1141
@mshafrir-stripe Ah right, You need to create a Firebase project following these steps first: https://firebase.google.com/docs/android/setup
The config is not included in the config.

[2019-07-11 13:22] mshafrir-stripe commented on #1106
@Flo354 we're using immutable models where possible, but an alternative option would be to add a `getCardBuilder()` method to the widget so you can start with a Builder.

[2019-07-11 13:46] mshafrir-stripe commented on #1141
@RomainPiel what Application Id should I be using when registering the app in Firebase?

<img width="571" alt="Screen Shot 2019-07-11 at 6 46 21 AM" src="https://user-images.githubusercontent.com/45020849/61056102-9ec3aa80-a3a7-11e9-9ff5-0c64a27315a8.png">

[2019-07-11 13:49] RomainPiel commented on #1141
`com.google.firebase.quickstart.perfmon`

[2019-07-11 14:20] mshafrir-stripe commented on #1141
@RomainPiel this is what I'm seeing now after adding `implementation 'com.stripe:stripe-android:9.3.6' to the perf module's dependencies

[code]

[2019-07-11 14:24] RomainPiel commented on #1141
@mshafrir-stripe you can switch to my branch `stripe-issue` https://github.com/RomainPiel/quickstart-android/tree/stripe-issue where this is fixed

[2019-07-11 14:35] mshafrir-stripe commented on #1141
@RomainPiel I came across the following two issues which seem to indicate that they'll be fixed in the next Android Studio release?

https://issuetracker.google.com/issues/131114388
https://issuetracker.google.com/issues/134093979

[2019-07-11 14:37] RomainPiel commented on #1141
Interesting 👍

[2019-07-11 14:39] Flo354 commented on #1106
Thanks for your answer.

It would be great indeed. So we don't have to create multiple objects... I
don't think that recreating such an object is expansive, but it's better.
Will you create this method in a next release?

Thanks,

On Thu, Jul 11, 2019 at 3:23 PM Michael Shafrir <notifications@github.com>
wrote:

[2019-07-12 00:36] IHNEL commented on #1152
Hi
It works when I pull the snapshot version (latest commit on master branch) but still doesn’t work on version 9.3.6

[2019-07-12 03:40] IHNEL commented on #1168
Hi, @mshafrir-stripe
Sorry, a short question related to this component: How can I create a Stripe Token with selected payment method?
the first parameter of function `com.stripe.android.Stripe#createToken()` need to be `com.stripe.android.model.Card`, while I got `com.stripe.android.model.PaymentMethod.Card`

[2019-07-12 04:23] mshafrir-stripe commented on #1152
@IHNEL the fix for the NPE will go out in the next release

[2019-07-12 04:26] mshafrir-stripe commented on #1168
@IHNEL please refer to our guides on the [Payment Intents API](https://stripe.com/docs/payments/payment-intents) and [Using Payment Intents on Android](https://stripe.com/docs/payments/payment-intents/android) for details on how to capture payment using a Payment Method.

[2019-07-12 04:53] mshafrir-stripe commented on #1106
@Flo354 I added a `getCardBuilder()` method to the widgets in #1174

[2019-07-12 05:47] IHNEL commented on #1168
hi @msaffitz-stripe
in our app, we charged user by creating a Stripe Token at Android app, and send it to backend where payment actually happened.
For now we would like to convert selected payment method into Stripe Token sothat we can keep entire of backend code.

Using Payment Intents API require us to change the whole payment flow which is not expected. Is there any other way?

[2019-07-12 06:02] mshafrir-stripe commented on #1168
@IHNEL as of [9.1.0](https://github.com/stripe/stripe-android/blob/master/MIGRATING.md#migration-from-versions--910), our UI components use Payment Methods. We provide a [migration guide](https://stripe.com/docs/payments/payment-intents/migration) for users on the older Charges API.

[2019-07-12 09:46] IHNEL commented on #1168
@mshafrir-stripe
I read through the migration guide and I understand it's for web development while I'm on Android code, there is no similar migration for Android.

After user select the card, I receive a PaymentMethod but don't know how to process the next steps to charge:

[code]

Could you please give me more hints?

[2019-07-12 10:30] Flo354 commented on #1106
Thanks!

Le ven. 12 juil. 2019 à 6:53 AM, Michael Shafrir <notifications@github.com>
a écrit :

[2019-07-12 14:23] mshafrir-stripe commented on #1168
@IHNEL please refer to https://stripe.com/docs/payments/payment-intents/android#manual-confirmation-android

[2019-07-12 15:45] #1168 closed

[2019-07-13 03:38] sjla opened #1177 "Null Pointer Exception"
I added gradle dependency in my project,but after adding this,i am getting null exception.I don't know why i am getting this but after removing this dependency.Everything is working good.

[2019-07-13 11:56] mshafrir-stripe commented on #1177
@sjla I'll need more details to help you diagnose the issue. Can you provide the stacktrace and tell me what triggers it?

[2019-07-13 20:40] sjla commented on #1177
I did nothing.I just added gradle dependency 9.3.6 and after adding this i run my app and getting build error null exception.But after removing dependency my whole app works good, i tried to downgrade the dependency 9.3.6 to 8.1.0 it's working fine.but i did not find all my requirement in 8.1.0 gradle so i have to use 9.3.6.

[2019-07-13 21:41] mshafrir-stripe commented on #1177
@sjla I need the stacktrace or exact error that you're experiencing with 9.3.6 in order to help diagnose the issue

[2019-07-14 17:56] Greelings opened #1178 "Invalid provider: null"
It returns this error when the location (gps) is not enabled on the device.
Is the location absolutely required to make a payment?

[code]

[2019-07-14 22:53] mshafrir-stripe commented on #1178
@Greelings thanks for filing. What version of the Stripe SDK are you using? Can you provide me any more details to help reproduce the crash?

[2019-07-15 08:23] Greelings commented on #1178
Of course.

Stripe SDK : 9.3.6
Device : Samsung S4 GT-I9505
Android : 5.0.1
Crash frequency : every time
Conditions :
1. Use a SAMSUNG S4
2. Disable the location (GPS)

[code]
I tried on some others devices (Crosscall Trekker-M1 Core, Samsung S5, Samsung A7), but I failed to reproduce the crash. This seems specific to the Samsung S4.

[2019-07-15 10:49] OlafStaf opened #1183 "Samsung Pay Demo"
Can we use Stripe like Payment Gateway for Samsung Pay?

[2019-07-15 11:19] mshafrir-stripe commented on #1183
@OlafStaf I'm not familiar with Payment Gateway for Samsung Pay. Can you point me to an example?

[2019-07-15 11:20] mshafrir-stripe commented on #1177
Without more details, I'm going to assume this is the same issue as described in #1178. Please reopen if it's not.

[2019-07-15 11:20] #1177 closed

[2019-07-15 11:26] mshafrir-stripe commented on #784
I updated our [Google Pay documentation](https://stripe.com/docs/mobile/android/google-pay#submit-payment) and [example app](https://github.com/stripe/stripe-android/blob/bb0294715efc445d3fbce71fb34865d70ba77baf/example/src/main/java/com/stripe/example/activity/PayWithGoogleActivity.java) with instructions on how to create a new PaymentMethod object using the Google Pay token + billing details.

I

[2019-07-15 11:26] #784 closed

[2019-07-15 12:44] mshafrir-stripe commented on #1141
@RomainPiel FYI there are new versions of some dependencies, including the Firebase perf plugin. I wonder if it makes any difference.

[code]

[code]

[2019-07-15 14:46] RomainPiel commented on #1141
Updated and it still fails with the same error:
[code]
I've pushed the update in this commit: https://github.com/RomainPiel/quickstart-android/commit/70ce8e7eb4357dfa9cc9b20afbe17b4b09c5f956
Feel free to fork the project if you'd like to play with it.

[2019-07-15 16:25] #1178 closed

[2019-07-15 17:25] mshafrir-stripe commented on #1152
I just published stripe-android-9.3.7 which fixes the `NullPointerException`

[2019-07-16 08:10] OlafStaf commented on #1183
@mshafrir-stripe  I mean integration with Samsung Pay like with [Google Pay](https://stripe.com/docs/mobile/android/google-pay).  On Samsung Pay site tells about abillity to integrate [Stripe](https://d3sfvyfh4b9elq.cloudfront.net/ptr/guide/techguide/v1.4/guide/03_03_06_payment_sample.html#payment_3_6_3), but I didn't  find any topics on official site of Stripe Developers about this abillity.

[2019-07-16 09:12] OlafStaf commented on #1183
My mistake. Stripe don't support Samsung Pay like payment method.

[2019-07-16 09:12] #1183 closed

[2019-07-16 09:21] Greelings commented on #1178
Update tested with success. Bug fixed in just a few hours. You are awesome... incredibly effective!

[2019-07-16 09:26] RomainPiel opened #1191 "Crash when instanciating Stripe() off the main thread"
## Summary

We recently upgrade our Stripe dependency to version 9.3.5. After rolling out our app, we got the following stacktrace:
[code]
It is quite hard to reproduce, it looks like a race condition. I couldn't reproduce it myself but we got quite a lot of affected users.

## Code to reproduce

Our code is close to something like this:
[code]

The crash happens on the `val stripe = Stripe(contex

[2019-07-16 10:28] RomainPiel commented on #1191
I found the failing code in the obfuscated 3ds2 lib:
[code]
I think the looper should be `Looper.getMainLooper()` instead of `null`

[2019-07-16 13:01] mshafrir-stripe commented on #1191
@RomainPiel thanks for flagging. We’ll have this fixed and issue a new release today.

[2019-07-16 17:18] sjla commented on #1177
Getting this.Failed to resolve : com.stripe:stripe-android:9.3.6

[2019-07-16 17:20] mshafrir-stripe commented on #1177
@sjla Can you try upgrading to 9.3.7 and see if that resolves the issue?

[2019-07-16 18:57] mshafrir-stripe commented on #1191
@RomainPiel I just released stripe-android 9.3.8, this should fix the issue you were experiencing

[2019-07-16 18:57] #1191 closed

[2019-07-17 05:43] sjla commented on #1177
After upgradinv getting
Caused by: java.lang.RuntimeException

[2019-07-17 07:18] mshafrir-stripe commented on #1177
Try 9.3.8. Also please send the full stacktrace, not just the name of the exception.

[2019-07-17 08:59] htchaan commented on #1168
@mshafrir-stripe looks like I am facing the same problem.
new integration using `presentPaymentMethodSelection` with `9.3.7`.
`onPaymentSessionDataChanged` is not triggered after tapping top right and fragment screen is shown.

no problem with the second point thou,`PaymentSessionData` is not null at the first time `onPaymentSessionDataChanged` is called.

the code in my fragment is rather simple:

[2019-07-17 11:39] sjla commented on #1177
I have solved my issue,i was doing mistake.

[2019-07-17 11:52] sjla opened #1199 "Not able to add card"
I am integrating stripe in my app and using dependency 9.3.7.

Implementing EphemeralKeyProvider,EphemerallKeyUpdateListner

Than add this code :

PaymentConfiguration.init(APIConstant.kStripePublishKey);
ephemeralKeyProvider.createEphemeralKey("2019-05-16", ephemeralKeyUpdateListener);
 CustomerSession.initCustomerSession(mContext, ephemeralKeyProvider);
 final Intent payIntent = PaymentMethodsAc

[2019-07-17 13:09] mshafrir-stripe commented on #1199
@sjla I would take a look through [Using Android Standard UI Components](https://stripe.com/docs/mobile/android/standard) for how to use `PaymentSession` to manage the payment experience through our SDK.

You can also refer to our integration in the sample app:
https://github.com/stripe/stripe-android/blob/56fe945a1dbf2bc4c727fea2fe5030dc5c73c1a7/samplestore/src/main/java/com/stripe/samplestore/Pa

[2019-07-17 13:10] mshafrir-stripe commented on #1199
Please reopen if you still have questions after referencing the documentation I linked to above.

[2019-07-17 13:10] #1199 closed

[2019-07-17 13:13] mshafrir-stripe commented on #1168
@htchaan please refer to our sample app integration to see if there's anything you're missing in your integration

https://github.com/stripe/stripe-android/blob/56fe945a1dbf2bc4c727fea2fe5030dc5c73c1a7/samplestore/src/main/java/com/stripe/samplestore/PaymentActivity.java

[2019-07-17 15:30] sjla commented on #1199
How can i go to the payment session untill i add card.

[2019-07-17 15:45] mshafrir-stripe commented on #1199
@sjla I don't understand your question. Did the links I provided help?

[2019-07-17 18:51] sjla commented on #1199
You provided me link for payment session,but my question is why i unable to add card.and i described above what i have done for adding card.

[2019-07-17 23:05] mshafrir-stripe commented on #1199
@sjla it's possible that you're attempting to add payment methods before the customer has been initialized

[2019-07-18 06:34] sjla commented on #1199
I am initailizing customer before payment method.As i mentioned above in my code

[2019-07-18 07:57] aurelhubert opened #1212 "Create SetupIntent from Stripe SDK"
Hi,

I'm currently working on the implementation of the Stripe SDK and I'm facing an issue with the creation of `SetupIntent` objects.

I've seen that you've added recently the model to the SDK, and I was wondering if you plan to add the creation, like you did for the PaymentMethod (`stripe.createPaymentMethod`), or do I have to use a web-service to create the object?

Thanks

[2019-07-18 12:57] mshafrir-stripe commented on #1212
@aurelhubert SetupIntents can only be created with a secret key, so they should be created on your backend. The SDK allows you to [confirm](https://stripe.com/docs/api/setup_intents/confirm) and [retrieve](https://stripe.com/docs/api/setup_intents/retrieve) a SetupIntent.

[2019-07-18 14:07] #1212 closed

[2019-07-19 00:28] droidluv commented on #1141
@mshafrir-stripe I updated to 1.3.0 and walla all my problems disappeared into thin air, I have Firebase Performance Monitoring working and Stripe right along with it, thanks for all your help!!!

[2019-07-19 02:52] mshafrir-stripe commented on #1141
@droidluv that's great to hear! Can you share your `build.gradle` and Gradle version so we can compare your config with @RomainPiel's?

[2019-07-19 20:18] mshafrir-stripe commented on #243
Two years later, we have an update!

We just release stripe-android [v10.0.0](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1000---2019-07-19). As part of this release, if you use our new [Payment Intent integration](https://stripe.com/docs/payments/payment-intents/android), the Stripe Android SDK now manages both native 3DS2 and web-hosted 3DS1 authentication flows for you, in

[2019-07-19 20:18] #243 closed

[2019-07-22 07:51] RomainPiel commented on #1141
I've just tried using version 1.3.0 and I'm getting the same issue as with version 1.2.1 of the plugin (unrelated to the one described in this github issue): https://stackoverflow.com/questions/45172123/errorexecution-failed-for-task-apptransformclasseswithfirebaseperformanceplu

[2019-07-22 08:11] madsager commented on #1139
@mshafrir-stripe I'm on the R8 team at Google. I think you might have been bitten by https://issuetracker.google.com/issues/129493704

I would love to make sure that we have actually fixed this issue. On the project where you disabled R8, would it be possible for you to enable R8 again and just check if the result contains class files in the same package both with lower-case and upper-case names?

[2019-07-22 08:52] utwyko commented on #243
@mshafrir-stripe That's great. Does this also apply to the iDEAL flow?

[2019-07-22 11:51] mikhailkompot commented on #1199
The same problem when i am trying to add card. I see error "No such payment_method: pm_...." @ @mshafrir-stripe
I used tests visa cards. Have any ideas about how to fix it?

[2019-07-22 16:20] mshafrir-stripe commented on #243
@utwyko this should work for any authentication that was using PaymentIntent's [next_action.redirect_to_url](https://stripe.com/docs/api/payment_intents/object#payment_intent_object-next_action-redirect_to_url)

[2019-07-22 18:26] mshafrir-stripe commented on #1139
@madsager I re-enabled R8 after upgrading to Android Studio 3.5 RC1 and verified using the Gradle config in https://github.com/stripe/stripe-android/issues/1139#issuecomment-508718494 - this seems to have resolved the issue. The change will go out in the next release.

[2019-07-22 20:03] mshafrir-stripe commented on #1141
@RomainPiel can you DM me in ASG?

[2019-07-22 21:05] mshafrir-stripe commented on #1139
@madsager I just released stripe-android 10.0.1, which has R8 re-enabled

[2019-07-22 21:10] mshafrir-stripe commented on #1141
@RomainPiel I just released 10.0.1 which fixes some of the incompatibilities with the Firebase plugin. Can you let me know if it resolves your issues?

[2019-07-23 02:31] mshafrir-stripe commented on #939
@dri94 do you still see this issue on the latest version of stripe-android?

[2019-07-23 05:54] madsager commented on #1139
@mshafrir-stripe Great! Thank for confirming that this did indeed resolve the issue!

[2019-07-23 08:13] alaffray opened #1236 "10.0.1 java.lang.VerifyError: Verifier rejected class com.stripe.android.stripe3ds2.a.h"
## Summary
I updated the Stripe sdk from 10.0.0 to 10.0.1 and the stripe SDK crash while trying to verify the SecretKey

## Code to reproduce

## Android version
Only tested on Android 9 , API 28

## Impacted devices
Only tested on a Google Pixel 2

## Installation method
Gradle

## SDK version
10.0.1

## Other information
[code]

[2019-07-23 11:55] mshafrir-stripe commented on #1236
@alaffray thanks for reporting this issue, I’ll investigate it this morning. Can you also send me an email to my Github username with the `-stripe` part replaced with “at stripe dot com”? I could use your help debugging the issue and I also have some other questions.

[2019-07-23 16:23] sergey-belenkiy opened #1237 "java.lang.RuntimeException: Parcelable encountered ClassNotFoundException reading a Serializable object (name = com.stripe.android.stripe3ds2.transaction.d$b)"
## Summary
Crash on ChallengeActivity

## Code to reproduce

## Android version
Android 9 , API 28

## Impacted devices
Samsung S9+

## Installation method
Gradle

## SDK version
10.0.1

## Other information
`java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.debug/com.stripe.android.stripe3ds2.views.ChallengeActivity}: java.lang.RuntimeException: Parcelable encountered

[2019-07-23 17:40] mshafrir-stripe commented on #1237
@sergey-belenkiy thanks for filing. Are you able to consistently reproduce? Is this in testmode? If so, what test card are you testing with?

[2019-07-23 17:44] mshafrir-stripe commented on #1237
@sergey-belenkiy can you also share the code you're using to trigger the 3DS2 flow, including any customizations you're applying via `PaymentAuthConfig`?

[2019-07-23 17:48] sergey-belenkiy commented on #1237
@msaffitz-stripe, we use Payment Intents.
Yes, in testmode.
Test card: 4000 0000 0000 3220
Crash occurs when I confirm payment.

[2019-07-23 17:50] sergey-belenkiy commented on #1237
1. ConfirmPaymentIntentParams params = ConfirmPaymentIntentParams.createWithSourceId(sourceId, clientSecret, REDIRECT_URL);
2. mStripe.confirmPayment(this, params);

[2019-07-23 17:58] sergey-belenkiy commented on #1237
No customizations used.

[2019-07-23 18:50] mshafrir-stripe commented on #1237
@sergey-belenkiy thanks for your help. I believe I found the root cause, and will be publishing a new version of the SDK with the fix shortly.

[2019-07-23 19:09] mshafrir-stripe commented on #1237
@sergey-belenkiy I just published 10.0.2 [0]. Once it's available, let me know if it fixes the issue you're seeing.

[0] https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1002---2019-07-23

[2019-07-23 19:35] sergey-belenkiy commented on #1237
Thanks, I'll check it tomorrow and let you know if it is fixed.

[2019-07-24 08:32] sergey-belenkiy commented on #1237
@mshafrir-stripe, not fixed

[2019-07-24 11:24] mshafrir-stripe commented on #1237
@sergey-belenkiy is the issue fixed in 10.0.2?

[2019-07-24 12:46] sergey-belenkiy commented on #1237
@mshafrir-stripe, yeap. Thanks!

[2019-07-24 15:17] #1236 closed

[2019-07-24 16:56] dri94 commented on #939
I no longer work on the project, so im unsure

[2019-07-24 16:56] #939 closed

[2019-07-25 09:15] madsager commented on #1236
The R8 team is looking into this issue at https://issuetracker.google.com/issues/138337238

@alaffray would it be possible for you to share the APK either on the bug report above or privately by email? Alternatively, can you provide us with more information about your build setup. Which version of Android Studio and the Android Gradle Plugin are you using. Are you using shrinking? In that case are

[2019-07-26 02:19] #1141 closed

[2019-07-26 19:06] sergey-belenkiy commented on #1237
@mshafrir-stripe, 3DS2 works on your example app but on my app I get a crash.
I can't integrate 3DS2 to my app.
Can you help me plz?

Android Studio 3.4.1
distributionUrl=https\://services.gradle.org/distributions/gradle-5.1.1-all.zip
classpath 'com.android.tools.build:gradle:3.4.2'
multiDexEnabled true
Any obfuscation (ProGuard/R8 and etc.) are disabled

Crash log:
`java.lang.RuntimeException: Un

[2019-07-26 19:13] mshafrir-stripe commented on #1237
@sergey-belenkiy can you upgrade to `10.0.3` if you haven't already? Also can you upgrade to Gradle 5.5.1?

[2019-07-26 19:15] sergey-belenkiy commented on #1237
@mshafrir-stripe, I already upgrade stripe version to 10.0.3 and I tried with Gradle to 5.5.1 like as on stripe example.

[2019-07-26 19:19] sergey-belenkiy commented on #1237
Stripe.confirmPayment() works fine for card without 3DS and with 3DS but doesn't work with 3DS2.

[2019-07-26 19:21] mshafrir-stripe commented on #1237
@sergey-belenkiy can you test on an emulator using an older Android API, like API 21, and see if you are able to reproduce the issue?

[2019-07-26 19:24] mshafrir-stripe commented on #1237
@sergey-belenkiy can you also share your project and module's build.gradle?

[2019-07-26 19:37] sergey-belenkiy commented on #1237
@mshafrir-stripe, sorry I can't share you my project and module's build.gradle because they contains private info but I can share you same part which you needed.

[2019-07-26 19:42] sergey-belenkiy commented on #1237
`apply plugin: 'com.android.application'
apply plugin: 'kotlin-android'
apply plugin: 'kotlin-android-extensions'
apply plugin: 'kotlin-kapt'
apply plugin: 'io.fabric'
apply plugin: 'com.google.gms.google-services'
apply from: "$project.rootDir/lint-tools/pmd.gradle"

repositories {
    maven { url "https://maven.google.com" }
    maven { url 'https://maven.fabric.io/public' }
    maven { url 'htt

[2019-07-26 19:42] sergey-belenkiy commented on #1237
`buildscript {
    ext.kotlin_version = '1.3.41'

    repositories {
        google()
        jcenter()
        maven { url 'https://maven.fabric.io/public' }
        //maven { url "http://storage.googleapis.com/r8-releases/raw/master" }
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:3.5.0-rc01'
        classpath "org.ajoberstar.grgit:grgit-gradle:3.0.0-beta.1"

[2019-07-26 19:54] sergey-belenkiy commented on #1237
<img width="1213" alt="Screen Shot 2019-07-26 at 10 52 38 PM" src="https://user-images.githubusercontent.com/20242621/61977835-3526db80-aff8-11e9-9d9c-cc75247576ad.png">
@mshafrir-stripe , on emulator with Android 21 API same issue

[2019-07-26 20:34] mshafrir-stripe commented on #1237
@sergey-belenkiy it appears to be a conflict between the cryptography provider you're using (conscrypt) and the Stripe SDK. I'm going to try to reproduce the error using the config you provided and then hopefully debug it.

[2019-07-26 21:17] mshafrir-stripe commented on #1237
@sergey-belenkiy can you check if adding the following to your dependencies fixes the issue?

`implementation 'org.conscrypt:conscrypt-android:2.1.0'`

[2019-07-26 21:19] mshafrir-stripe commented on #1237
@sergey-belenkiy One more thing, can you add this to your Application class (or launch activity)

[code]

and tell me what is logged?

[2019-07-26 21:39] sergey-belenkiy commented on #1237
@mshafrir-stripe, thanks. I'm out of office now. I will check it on Monday and let you know. Have a nice weekend.

[2019-07-26 22:45] tmtrademarked commented on #1141
Hmm - I'm using Stripe 10.0.1, Firebase Performance plugin 1.3.0, Firebase Performance library 18.0.1, and Gradle 5.5.1, and Android Gradle plugin 3.4.2. And I still get a similar error when building my optimized builds with R8:
[code]

Any ideas for how to debug further? It seems like there's some bad configuration somewhere, but it's a bit mysterious to me where this would come from.

[2019-07-27 00:38] mshafrir-stripe commented on #1141
@tmtrademarked can you try upgrading to the latest SDK version `10.0.3` and let me know if it resolves the issues? Can you share your other dependencies as well?

[2019-07-29 10:56] sergey-belenkiy commented on #1237
@mshafrir-stripe , I found reason why 3DS2 doesn't work (crashed).

`public static void initializeSSLContext(Context mContext) {
        try {
            SSLContext.getInstance("TLSv1.2");
            ProviderInstaller.installIfNeeded(mContext.getApplicationContext());
        } catch (Exception e) {
            e.printStackTrace();
        }
    }`

After I remove this code 3DS2 works fine.

[2019-07-29 10:56] sergey-belenkiy commented on #1237
@mshafrir-stripe , I think we can close this issue.

[2019-07-29 10:57] sergey-belenkiy commented on #1237
@mshafrir-stripe , thank you for support.

[2019-07-29 11:02] mshafrir-stripe commented on #1237
Looks like that code is related to the following. Did you need to add that support for older devices?

https://developer.android.com/training/articles/security-gms-provider

https://medium.com/tech-quizlet/working-with-tls-1-2-on-android-4-4-and-lower-f4f5205629a.

[2019-07-29 13:00] #1237 closed

[2019-07-29 13:59] jessetinell commented on #795
I would absolutely LOVE an official package from the Stripe team. With support for 3D secure (v1, v2) and the upcoming EU regulations.  The unofficial ones are not as reliable.

Hey, if you need a Flutter-dev in your team in SF, [hook me up](https://www.linkedin.com/in/jessetinell/) 😄

[2019-07-29 14:49] sergey-belenkiy opened #1253 "PaymentIntentResult > incorrect statuses"
## Summary
**Actual result:**
For success and failed payment with 3DS: `status = Status.UNKNOWN`
For failed payment with 3DS2: `status = Status.SUCCEEDED`

**Example of failed payment with 3DS2:**
<img width="2343" alt="Screen Shot 2019-07-29 at 5 25 38 PM" src="https://user-images.githubusercontent.com/20242621/62057593-99c87d00-b228-11e9-8e11-e49640a173f1.png">

**Expected result:**
For success

[2019-07-29 14:53] sergey-belenkiy commented on #1237
@mshafrir-stripe, No

[2019-07-29 14:58] sergey-belenkiy commented on #1253
@mshafrir-stripe , also if I close 3DS "Secure Checkout" activity.
`status = Status.UNKNOWN`
should be
`status = Status.CANCELED`

[2019-07-29 15:33] tmtrademarked commented on #1141
I've tried updating to the 10.0.3 branch, but unfortunately, no luck so far. We're still seeing the same error. It sure appears that this is the same problem with the `org.bouncycastle:bcprov-jdk15on:1.61` dependency, which we see in our builds.

We have a LOT of dependencies in our APK. I can provide a partial dump from `./gradlew :mobile:dependencies` if you think that would be instructive, thou

[2019-07-29 15:46] tmtrademarked commented on #1141
I've confirmed that adding the following to our top-level build.gradle does fix the problem by forcing a bouncycastle downgrade. It's ugly, but that may be our best path forward until someone finds a real fix for the root issue.

[code]

[2019-07-29 16:16] romainpiel commented on #1141
Yes I am using a similar fix:
[code]

The tricky bit with this issue is that it's not really a bug on Stripe nor a bug on Firebase (or bouncy castle). But rather the three parts not playing well together.

[2019-07-29 16:47] mshafrir-stripe commented on #1253
Is this for the 3DS web-view or 3DS2 challenge screen? Can you provide a screenshot of the screen you're closing?

[2019-07-29 16:57] sergey-belenkiy commented on #1253
@mshafrir-stripe , it's 3DS web-view

[2019-07-29 17:08] sergey-belenkiy commented on #1253
@mshafrir-stripe , I have a few question can I contact to you via email?

[2019-07-29 17:15] mshafrir-stripe commented on #1253
@sergey-belenkiy yes, my email address is the first part of my username with the `-stripe` part replaced with `@stripe.com`

[2019-07-29 19:52] #1253 closed

[2019-07-30 15:42] Greelings opened #1265 "Stripe3ds2UiCustomization has no effect 2 times out of 3."
Description : During the tests of the 3d secure 2 flow, I noticed that 2 out of 3, the Stripe3ds2UiCustomization has no effect. I have not managed to find out why, but I guess it may come from a timing problem. Is PaymentAuthConfig.init() executed asynchronously?

Test card : 4000 0000 0000 3220
Stripe sdk version : 10.0.3
Device : Samsung Galaxy S4 GT-I9505
Android : 5.0.1

Code :
[code]

[2019-07-30 15:45] mshafrir-stripe commented on #1265
@Greelings `PaymentAuthConfig.init()` should be initialized before creating your `Stripe` instance - this may not have been documented, so sorry for the confusion. I'll update the docs accordingly.

[2019-07-30 15:49] Greelings commented on #1265
Maybe I did not see it. Problem fixed. Thank you.

[2019-07-30 15:49] #1265 closed

[2019-07-30 16:50] aurelhubert opened #1266 "Stripe confirmPayment crashes silently"
## Summary
When I test a fake card number, the Stripe SDK crashes silently. Is there a way to catch the exception? Or maybe it's not the correct way to use the SDK?

Maybe the exception should be return in the `onActivityResult` part, inside `stripe.onPaymentResult`?

[code]

## Code to reproduce
[code]

## SDK version
10.0.3

[2019-07-30 17:10] mshafrir-stripe commented on #1266
@aurelhubert the last argument for [Stripe#onPaymentResult()](https://stripe.dev/stripe-android/com/stripe/android/Stripe.html#onPaymentResult-int-android.content.Intent-com.stripe.android.ApiResultCallback-) is [ApiResultCallback](https://stripe.dev/stripe-android/com/stripe/android/ApiResultCallback.html), which defines both `onSuccess()` and `onError()` callbacks. This exception should be retur

[2019-07-30 17:11] #1266 closed

[2019-07-31 04:54] sunilkumar2222 opened #1270 "How to delete a card in android sdk?"
currently i an using stripe sdk in my android project. i want to delete card from mobile side. is there any way sdk provide for delete/remove card?
I am using 10.0.3  stripe version

[2019-07-31 10:49] sergey-belenkiy opened #1271 "Incorrect status for failed 3DS1"
## STR
Test card: 4000 0000 0000 3063

1. `stripe.confirmPayment(this, confirmPaymentIntentParams)`
2. Click on "FAIL AUTHENTICATION"
![Screenshot_2019-07-31-13-27-01-026_com dozens debug](https://user-images.githubusercontent.com/20242621/62205815-f3e85000-b398-11e9-802d-6e9bc484be17.png)
3.
<img width="861" alt="Screen Shot 2019-07-31 at 1 39 09 PM" src="https://user-images.githubusercontent.com

[2019-07-31 10:54] mshafrir-stripe commented on #1271
@sergey-belenkiy thanks for filing. For 3DS1 it may not be possible to signal whether the auth succeeded or failed, so I may return a more generic `COMPLETED`. In any case, for 3DS1 you can check the result’s Intent object’s status to determine the outcome.

[2019-07-31 12:07] Greelings opened #1272 "Update 10.1.0 - No text visible on the 3d secure 2 test screen toolbar"
With the last update (10.1.0), I noticed an issue concerning the new Stripe3ds2UiCustomization.Builder.createWithAppTheme() method:

- The 3d secure 2 test screen title "Secure Checkout" (on the toolbar) is gone. So is the cancel button. The toolbar is empty of text, although I can click the button.

Also some colors have changed:

- The status bar of the visa processing page is now purple. It sho

[2019-07-31 12:22] sergey-belenkiy commented on #1271
@mshafrir-stripe, iOS SDK same case and SDK returns correct status for failed payment with 3DS1. Why you can't return correct statuses for 3DS1 in Android SDK?
<img width="1087" alt="Screen Shot 2019-07-31 at 2 56 58 PM" src="https://user-images.githubusercontent.com/20242621/62211350-dfab4f80-b3a6-11e9-953b-da378174dcbc.png">

[2019-07-31 12:53] mshafrir-stripe commented on #1271
@sergey-belenkiy I'll look into fixing this. Just FYI, the status flag was intended to be a signal of what happened during authentication. The intent is the ultimate source of truth, so you should always look there first.

[2019-07-31 13:01] mshafrir-stripe commented on #1272
@Greelings thanks for filing. I'll investigate this.

I recommend looking at the theme and colors I used in the example app:
[example/res/values/themes.xml](https://github.com/stripe/stripe-android/commit/2ed3e718a99b8a9b4637ddcbbe2ee65e0bbafae2#diff-f8144bd2c7b51d5a83a4d315ba9799aa)
[example/res/values/colors.xml](https://github.com/stripe/stripe-android/commit/2ed3e718a99b8a9b4637ddcbbe2ee65e0bb

[2019-07-31 13:09] Greelings commented on #1272
I remain at your disposal if you need more info about the bug.
Thank you for the links.

[2019-07-31 13:26] Greelings commented on #1272
Oh, I forgot to mention that using PaymentAuthConfig.Stripe3ds2UiCustomization.Builder() with the 10.1.0 update makes the 3d secure theme purple (status bar, toolbar, "complete authentication" button, ...). Only the header and the text are customized.

[2019-07-31 13:46] mshafrir-stripe commented on #1270
@sunilkumar2222 unfortunately our standard integration does not currently provide UI for detaching a card from a customer. This is on our backlog of things to fix.

[2019-07-31 14:43] NitroG42 opened #1273 "Make PaymentSession compatible with Fragment"
## Summary
Right now, the PaymentSession requires an Activity to work, and the presentPaymentMethodSelection will use the activity to startIntentForResult.
New Android architecture is advising for one activity with multiple framgents using Navigation Component.
From experience, it usually works out pretty good.

Unfortunatelly here, as the PaymentMethodsActivity is started from the activity, the f

[2019-07-31 16:00] mshafrir-stripe commented on #1237
@sergey-belenkiy I found a fix for the `ClassNotFoundException` you initially reported. This will go out in the next release. You can re-add the code you removed in https://github.com/stripe/stripe-android/issues/1237#issuecomment-515945007 after that.

[2019-07-31 16:10] sergey-belenkiy commented on #1271
@michelle-stripe , can you make this method public?
PaymentSession
`String getSelectedPaymentMethodId(@Nullable String userSelectedPaymentMethodId)`

[2019-07-31 16:13] mshafrir-stripe commented on #1271
@sergey-belenkiy you shouldn't need to access this method directly. What are you trying to accomplish?

[2019-07-31 16:14] sergey-belenkiy commented on #1237
@mshafrir-stripe , cool. Thanks!

[2019-07-31 16:56] gtomek opened #1274 "Closeable not closed when creating token using stripe.createTokenSynchronous(card);"
## Summary
When StrictMode is enabled with detectLeakedClosableObjects()
e.g. like this
[code]
application crashes on calling
`stripe.createToken()` or `stripe.createTokenSynchronous()`

with
`E/StrictMode: A resource was acquired at attached stack trace but never released. See java.io.Closeable for information on avoiding resource leaks.
java.lang.Throwable: Explicit termination method 'end' not

[2019-07-31 17:03] sergey-belenkiy commented on #1271
@mshafrir-stripe , I need to show following text "$card.brand *$card.last4" ("Visa *4242") on my TextView before user open PaymentMethodsActivity.

[2019-07-31 18:49] mshafrir-stripe commented on #1271
@sergey-belenkiy if the user has already selected a Payment Method using our standard integration, you'll be able to get it from `PaymentSessionData.getPaymentMethod()`.

See https://github.com/stripe/stripe-android/blob/2ed3e718a99b8a9b4637ddcbbe2ee65e0bbafae2/samplestore/src/main/java/com/stripe/samplestore/PaymentActivity.java#L330 for an example.

[2019-07-31 19:15] mshafrir-stripe commented on #1274
@gtomek thanks for filing, I found the issue

[2019-07-31 19:29] #1274 closed

[2019-07-31 20:17] #1271 closed

[2019-07-31 21:09] mshafrir-stripe commented on #1271
This is fixed in 10.1.1

[2019-07-31 21:09] mshafrir-stripe commented on #1274
This is fixed in 10.1.1

[2019-07-31 21:42] mshafrir-stripe commented on #1273
@NitroG42 should be relatively straightfoward to do this. I'll add it to the backlog.

[2019-08-01 06:00] ChristianBecker opened #1280 "Migrate to AndroidX?"
I already noted that you already migrated to AndroidX in PR #778 but downgraded a couple of months later in PR #849 .

Do you have any plans when you will migrate for good?

As an example: The Play Services and the Firebase SDK migrated their libraries [back in June to AndroidX](https://developers.google.com/android/guides/releases#june_17_2019).

[2019-08-01 12:04] nataliakuznetsova commented on #797
Hello, Stripe. I am experiencing the same issue with version 10.0.3 but in my case EphemeralKeyProvider is called 3 times within SCA 2 flow. Please provide an update. Thank you

[2019-08-01 16:28] mshafrir-stripe commented on #1280
@ChristianBecker this is definitely on our short-term roadmap and will likely be part of the next major release

[2019-08-01 17:14] youngliangzhang opened #1283 "Unable to set `RequiredBillingAddressFields.FULL` and `RequiredBillingAddressFields.NAME` options"
AddPaymentMethodActivity supports only RequiredBillingAddressFields.ZIP.
There is no way to set RequiredBillingAddressFields.FULL and RequiredBillingAddressFields.NAME options while iOS sdk supports them.

[2019-08-01 20:58] alejandrorios-condor opened #1287 "Android Studio 3.5??"
## Summary
This repo is asking for **Android Studio 3.5 or newer**, when the latest stable release is **3.4.2**

<img width="891" alt="Screen Shot 2019-08-01 at 3 57 06 PM" src="https://user-images.githubusercontent.com/49882857/62327000-12bc1480-b475-11e9-818b-49fb346190e2.png">

[2019-08-01 21:04] #1273 closed

[2019-08-01 21:15] mshafrir-stripe commented on #1287
@alejandrorios-condor do you have a specific need to open the source code in Android Studio? Due to a bug with R8 we had to upgrade to the latest version of Android Gradle Plugin, which requires Android Studio 3.5 RC1.

You can download the latest RC here: https://developer.android.com/studio/preview

[2019-08-01 21:18] alejandrorios-condor commented on #1287
I want to run the sample applications :(

[2019-08-01 21:22] mshafrir-stripe commented on #1287
@alejandrorios-condor I understand. You can run the release and release candidate versions of Android Studio side-by-side.

[2019-08-01 21:26] alejandrorios-condor commented on #1287
Which Stripe version library wouldn't need the release candidate version to run?

[2019-08-01 21:29] mshafrir-stripe commented on #1287
@alejandrorios-condor https://github.com/stripe/stripe-android/releases/tag/v10.0.0

[2019-08-01 21:30] #1287 closed

[2019-08-02 15:38] IrinaBulygina commented on #486
@ksun-stripe @anelder-stripe  hey! Any updates on this?

[2019-08-02 15:49] mshafrir-stripe commented on #486
@IrinaBulygina thanks for resurfacing this issue. We're starting to investigate a card scan solution for our Android SDK. I'll share further updates here.

[2019-08-02 15:51] mshafrir-stripe commented on #1283
@youngliangzhang thanks for filing this issue. I've added it to our backlog and will update you once I have something to share.

[2019-08-02 17:25] mshafrir-stripe commented on #1272
@Greelings are you seeing a regression in `new PaymentAuthConfig.Stripe3ds2UiCustomization.Builder()`?

[2019-08-02 19:47] Greelings commented on #1272
Yes, I clearly saw a regression from the update 10.1.0
In the version 10.0.3, the PaymentAuthConfig.Stripe3ds2UiCustomization.Builder() was almost perfect, matching particularly well the theme of my app.

[2019-08-02 20:21] mshafrir-stripe commented on #797
@nataliakuznetsova thanks for raising the issue. I'll hopefully investigate it this week.

[2019-08-02 20:25] mshafrir-stripe commented on #797
@nataliakuznetsova can you provide me more details around your integration (e.g. which `Stripe`, `PaymentSession`, `CustomerSession` methods are you calling), and at what point do you see `EphemeralKeyProvider` called?

[2019-08-03 12:06] sunilkumar2222 commented on #1270
is it ok to use CustomerSession of detaching card.. i solve this by using this
 CustomerSession.getInstance().detachPaymentMethod(paymentMethodId, object :
            CustomerSession.PaymentMethodRetrievalListener {
            override fun onPaymentMethodRetrieved(paymentMethod: PaymentMethod) {
                cardMultilineWidget.clear()
                Log.d("Payment detach", paymentMethod.id.

[2019-08-05 02:32] mshafrir-stripe commented on #1270
@sunilkumar2222 yes, `CustomerSession#detachPaymentMethod` is the method you'd want to use to remove a payment method from a customer

[2019-08-05 13:35] pvarry opened #1299 "Make onActivityResult() of the Fragment easy usable"
## Summary
Every time the SDK need a `onActivityResult()`, for example on the `authenticateSetup()` an Activity instance is needed and the `startActivityForResult()` will be called for this Activity but if we need this callback inside a Fragment to change the view according to the result, we are basically struck, and need to implement boilerplate code.

Instead of that, can you also implement the

[2019-08-05 13:45] mshafrir-stripe commented on #1299
@pvarry I merged #1289 late last week, which adds support for exactly what you're asking for. It'll be part of the next release, which will go out today or tomorrow.

[2019-08-05 13:45] #1299 closed

[2019-08-05 15:07] mshafrir-stripe commented on #1272
@Greelings thanks, we should have the issue resolved this week

[2019-08-05 15:10] Greelings commented on #1272
@mshafrir-stripe Amazing team :)

[2019-08-05 21:05] mshafrir-stripe commented on #1299
This will be available in 10.2.0 https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1020---2019-08-05

[2019-08-05 21:05] mshafrir-stripe commented on #1273
This will be available in 10.2.0 https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1020---2019-08-05

[2019-08-05 21:22] mshafrir-stripe commented on #774
FYI, #1302 adds [GooglePayConfig#getTokenizationSpecification()](https://github.com/stripe/stripe-android/pull/1302/files#diff-38c228d4e94c5213a56f96f4e5a4f2ecR32), which handles configuring Stripe as the Google Pay gateway. This is available in 10.2.0.

[2019-08-05 21:24] mshafrir-stripe commented on #775
#1304 updates `PayWithGoogleActivity` to version 2 and JSON serialization.

[2019-08-05 21:42] mshafrir-stripe commented on #784
FYI I just published [10.2.0](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1020---2019-08-05), which adds the method [PaymentMethodCreateParams#createFromGooglePay(JSONObject)](https://stripe.dev/stripe-android/com/stripe/android/model/PaymentMethodCreateParams.html#createFromGooglePay-org.json.JSONObject-) to facilitate creating a `PaymentMethodCreateParams` from a Google Pay

[2019-08-05 21:43] mshafrir-stripe commented on #1085
@jackcsk FYI I just published [10.2.0](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1020---2019-08-05), which adds the method [PaymentMethodCreateParams#createFromGooglePay(JSONObject)](https://stripe.dev/stripe-android/com/stripe/android/model/PaymentMethodCreateParams.html#createFromGooglePay-org.json.JSONObject-) to facilitate creating a `PaymentMethodCreateParams` from a G

[2019-08-06 10:15] sdoward opened #1310 "Docs Don't Compile"
## Summary
Code Samples in Documentation for Saving Cards Does not Compile

## Code to reproduce
[code]
## Android version
N/A

## Impacted devices
N/A

## Installation method
N/A

## SDK version
N/A

## Other information
Find the problem [here](https://stripe.com/docs/payments/cards/saving-cards#testing).

[2019-08-06 12:13] SergioDim3nsions opened #1311 "ActivityOnResult is not called after ConfirmSetupIntent in Fragments with 3dSecure Validation"
## Summary
I am trying confirm the setupIntent with a test card "4000 000 000 3220" for add a payment method.

For card without 3dSecure works fine the ActivityOnResult with fragment context.
with Activity context work in all cases.

Example Code:
`stripe.confirmSetupIntent(fragment, confirmSetupIntentParams)`

## Android version
Version 8.0.0

## Impacted devices
Samsung Galaxy S8

## Installatio

[2019-08-06 14:14] mshafrir-stripe commented on #1311
@SergioDim3nsions thanks for filing, I'll look into this today

[2019-08-06 15:21] Flo354 opened #1313 "Make ApiVersion public"
Hi there,

For some reason, I do not want to use the helper **GooglePayConfig** just released with the version **10.2.0**.

By analyzing the code, I saw that there is a call to `ApiVersion.get().code` to set the field **stripe:version**. Thus, I saw that in my code, there was the version **2018-11-08** hardcoded.

I would like to use this helper so I can always use the same api version as the Libr

[2019-08-06 15:26] mshafrir-stripe commented on #1313
Sure, adding `Stripe.API_VERSION` in #1314

[2019-08-06 15:56] Flo354 commented on #1313
Thanks, that's perfect!

Le mar. 6 août 2019 à 17:26, Michael Shafrir <notifications@github.com> a
écrit :

[2019-08-06 16:32] mshafrir-stripe commented on #1310
@sdoward are you referring to the code example in https://stripe.com/docs/payments/cards/saving-cards#submit-card-details? If so, thanks for pointing this out. I'm fixing it now. It should be `onSetupResult` instead of `onPaymentResult`.