[2021-01-12 16:38] mshafrir-stripe commented on #3245
@ccmtmp unfortunately there isn't a way to hide just the phone number field at this time. We'll add this to our backlog of features to consider.

[2021-01-13 00:50] ccmtmp commented on #3245
Noted, thanks!

[2021-01-13 17:18] lamrak commented on #3173
I see the same issue here
`Duplicate class **** found in modules jetified-bcprov-jdk15on-1.57 (org.bouncycastle:bcprov-jdk15on:1.57) and jetified-bcprov-jdk15to18-1.68 (org.bouncycastle:bcprov-jdk15to18:1.68)`

I need to check where it comes from but looks like the same

[2021-01-19 14:54] calvarez-ov opened #3272 "Why does the sdk depend on RC versions of androidx artifacts?"
## Summary
The stripe sdk depends on unstable (release candidate) versions of some androidx artifacts. Looks like in commit 97c3ac31e5d47759fca6c7e3258ae2912707ab56, for example, these versions were specified:
* androidx fragment:  1.2.5 or maybe 1.3.0-rc01 (I see both in that commit)
* androidx activity: 1.2.0-rc01

We prefer to stay on stable versions of libraries whenever possible.

I did try t

[2021-01-19 22:05] mshafrir-stripe commented on #3272
@calvarez-ov thanks for filing this issue. I'd like to apologize for the inconvenience that this release caused. We noted this dependency in our [changelog](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1620---2021-01-11), but there might be other ways of publicizing these changes. We don't have a stated policy about dependency version stability, but I agree that including an R

[2021-01-20 09:18] calvarez-ov commented on #3272
Thanks for the response. Indeed, I missed this note in the changelog!

You can close is issue :)

[2021-01-20 09:52] calvarez-ov commented on #3272
One more note: It looks like `fragment` `1.3.0-rc01` is also required.

If I force `fragment` to the latest stable (`1.2.5`), (but keep the `1.2.0-rc01` for `activity`): the app crashes when launching the activity to create a new card, from the activity with the list of cards:
[code]

Maybe that should go into the release notes as well?

[2021-01-20 10:37] calvarez-ov commented on #3272
Also, `lifecycle` `2.3.0-rc01` is required. If I force it to stable `2.2.0` (but keep the rc versions for `fragment` and `activity`), I get another crash, when opening the "fragment examples":
[code]

[2021-01-20 13:22] lamrak commented on #3173
Here I created a default Android project and added smack and stripe dependencies. It's easy to see the same error:

https://github.com/lamrak/stripe_smack_int

[2021-01-25 06:25] ScottStabb opened #3289 "Scan a card launches camera with frame, but never snaps card info"
## Summary
I have a basic custom integration working.
I was delighted to see the "Scan card" element appear when testing on my Android device (LG Stylo 4, Android 8.1.0)
However when the camera frame is centered on a card, nothing happens.  Is this a known issue?

## Code to reproduce
Custom Payment Flow in asp.net core, MVC, using instructions from: https://stripe.com/docs/payments/integration-bu

[2021-01-25 10:01] jleprinc opened #3290 "3D Secure Webview is destoyed when leaving the app"
## Summary
Can not leave the app while 3D secure webview is open, the fragment that contains onActivityResult is not destroyed but the webview is

## Step to reproduce
1- Enter card info
2- Start the Webview 3d secure page
3- Leave the app to check the sms app for example
4- Come back to the app
5- Webview is destroyed

## SDK version
16.0.1

https://user-images.githubusercontent.com/24356904/1056

[2021-01-26 13:10] bendiknesbo commented on #3290
Having the same issue here, following

[2021-01-26 13:32] bendiknesbo commented on #3290
Another re-production:

![Screenshot_20210126-142927](https://user-images.githubusercontent.com/1478147/105851438-5d273e80-5fe3-11eb-8c7e-c01e26ee3987.png)

[2021-01-26 18:26] mshafrir-stripe commented on #3289
@ScottStabb this repo is for the Stripe Android SDK. Looks like you might be looking for something else?

[2021-01-26 18:26] mshafrir-stripe commented on #3290
Thanks for the feedback, we'll investigate.

[2021-01-27 05:35] ScottStabb commented on #3289
Gotcha.  Thanks.
Any suggestions on where a bug report for the Stripe UX on Android mobile device can be sent?
I don’t see any other repro that seems to apply, and support sent me to GitHub.
I heard Scan a card is in beta. Possibly a beta team?

From: Michael Shafrir <notifications@github.com>
Sent: Tuesday, January 26, 2021 10:27 AM
To: stripe/stripe-android <stripe-android@noreply.github.com>
Cc

[2021-01-27 20:22] mshafrir-stripe commented on #3289
@ScottStabb what library are you integrating with? There isn't a card scanning option available in the Stripe Android SDK.

[2021-01-27 20:25] ScottStabb commented on #3289
Web integration.
Server is .net.
________________________________
From: Michael Shafrir <notifications@github.com>
Sent: Wednesday, January 27, 2021 12:22:37 PM
To: stripe/stripe-android <stripe-android@noreply.github.com>
Cc: Scott Stabbert, Northwest Paragliding Adventures <scott@nwpa.aero>; Mention <mention@noreply.github.com>
Subject: Re: [stripe/stripe-android] Scan a card launches camera wit

[2021-01-27 20:51] aliriaz-stripe commented on #3289
@ScottStabb Hello! ah it looks like you're building a Stripe Elements integration. The "scan card" feature that you're seeing is actually not one that comes from Stripe Elements but is probably a native browser feature on your Android device.

Could you write in to Support at https://support.stripe.com/contact with all the above info (including the documentation link that you followed), the Androi

[2021-01-27 20:51] #3289 closed

[2021-01-28 13:42] Irfanhaidermomin commented on #2884
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.stripe.android.Stripe.createPaymentMethod(com.stripe.android.model.PaymentMethodCreateParams, com.stripe.android.ApiResultCallback)' on a null object reference

Card details doesn't getting.

[2021-01-28 13:52] bendiknesbo commented on #3290
We are running version 16.1.1, as version 16.2.0 brings in release-candidate versions of at least 11 different libraries.
Maybe this is already fixed in #3237, and could be back-ported to 16.1, until 16.2 is more stable?

[2021-01-28 14:10] mortennost commented on #3290
As a side note, we tried adding dependency on `'com.stripe:stripe-3ds2-android:5.0.1'` (also tried `5.1.0`) in conjunction with `'com.stripe:stripe-android:16.1.1'` and the issue is still present.

[2021-01-29 07:00] Irfanhaidermomin commented on #1085
**Getting null pointer exception error (PaymentMethodCreateParams doesn't getting card value )**

[2021-01-29 12:57] bendiknesbo commented on #3272
This is not the first time Stripe Android is pulling in non-stable dependencies :/

Version 12.7.0 (more than 1 year ago) pulled in some alpha-versions of Material: https://github.com/stripe/stripe-android/issues/1966

Pulling in `1.3.0-rc01` of `fragment-ktx` ends up pulling in release-candidate versions of:

[code]

Quite a few of these bring in breaking changes, as pointed out above.

[2021-02-01 05:47] Irfanhaidermomin commented on #3236
@mshafrir-stripe  **Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.stripe.android.Stripe.createPaymentMethod(com.stripe.android.model.PaymentMethodCreateParams, com.stripe.android.ApiResultCallback)' on a null object reference**
How to fix this.
PaymentMethodCreateParams(type=Card, card=Card(number=null, expiryMonth=null, expiryYear=null, cvc=null, token=tok_

[2021-02-01 08:48] calvarez-ov commented on #3272
I see there's a new release of the stripe sdk, 16.2.1, which has one item which could be interesting:

the problem is that 16.2.1 still depends on unstable versions of libraries.

We would like to have the latest 3DS2 library, if it has important updates, without having to rely on unstable androidx artifacts.

[2021-02-01 17:37] mshafrir-stripe commented on #3236
@Irfanhaidermomin can you provide some code that shows how you are integrating?

[2021-02-01 18:38] mshafrir-stripe commented on #3272
@calvarez-ov thanks for the feedback. I'm anticipating that a stable version will be released soon [0], which will allow you to upgrade.

[0] https://twitter.com/ianhlake/status/1354530722258636800

[2021-02-02 05:07] Irfanhaidermomin commented on #3236
https://stripe.com/docs/google-pay  as per your doc.

    private PaymentsClient paymentsClient;

    @Override
    protected void onCreate(@Nullable Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);

        PaymentConfiguration.init(this, STRIPE_KEY);

        paymentsClient = Wallet.getPaymentsClient(
                this,
                new Wallet.WalletOptions.Builder(

[2021-02-04 14:07] costular opened #3333 "BouncyCastle Android Studio 4.2 beta 4"
## Summary

Hi! I'm getting this failure when building.

[code]
## Code to reproduce

Just implement the dependency and build the project using Android Studio 4.2 Beta 4 throws that exception.
## Android version

## Impacted devices

## Installation method

## SDK version

16.2.1

## Other information

[2021-02-04 14:10] mshafrir-stripe commented on #3333
@costular thanks for filing this issue. Did this start happening when you upgraded to 4.2 beta 4?

[2021-02-04 14:12] costular commented on #3333
@mshafrir-stripe to be honest I can't tell you, I was already using this version before included Stripe SDK

[2021-02-04 14:13] mshafrir-stripe commented on #3333
@costular so it started happening when you added the Stripe SDK as a dependency? I'm trying to narrow down what triggered the issue (e.g. a new integration, an upgrade, something else)

[2021-02-04 14:14] mshafrir-stripe commented on #3333
Can you share your `dependencies` block?

[2021-02-04 14:15] costular commented on #3333
Yep! Also the failure disappear when you exclude BouncyCastle artifact like

[code]

Will share my dependencies block here later.

[2021-02-04 14:19] mshafrir-stripe commented on #3333
BouncyCastle is required for 3DS2 transactions, so simply excluding it may not work.

[2021-02-04 15:36] costular commented on #3333
@mshafrir-stripe this is the module which implements the dependency.

[code]

[2021-02-04 16:50] mshafrir-stripe commented on #3333
What version of Gradle and Android Gradle Plugin are you using?

[2021-02-04 16:51] costular commented on #3333
it is `com.android.tools.build:gradle:4.2.0-beta04`

[2021-02-04 17:30] mshafrir-stripe commented on #3333
Thanks. I'll investigate.

[2021-02-04 17:32] mshafrir-stripe commented on #3333
@costular can you check if this suggestion helps? https://stackoverflow.com/a/58112656/11103900

(You can change the country and language to whatever is relevant to you)

[2021-02-04 17:53] costular commented on #3333
Unfortunately it didn't work

[2021-02-05 12:44] Irfanhaidermomin commented on #3236
@mshafrir-stripe Please check this and give me reply.

[2021-02-05 15:32] mshafrir-stripe commented on #3236
@Irfanhaidermomin looks like our docs aren't specifying that you need to instantiate the `Stripe` object. I can fix that.

[2021-02-05 16:22] Irfanhaidermomin commented on #3236
@mshafrir-stripe In this document you are define instantiate of the `Stripe` object.  https://stripe.com/docs/google-pay

[2021-02-05 17:58] Irfanhaidermomin commented on #3236
@mshafrir Thanks a lot.

[2021-02-05 18:01] costular commented on #3333
I solved the issue. We had a conflict with another 3DS2 payment SDK (Adyen) so removing it completely fixed the issue. We intended to keep both in order to migrate slower but I wasn't able to do it successfully.

Thanks for your help!

[2021-02-05 18:01] #3333 closed

[2021-02-10 21:25] westy92 commented on #3272
These dependencies have graduated to stable: https://github.com/stripe/stripe-android/pull/3367

[2021-02-10 21:42] leandrofavarin opened #3369 "Make use of ActivityResultRegistry / ActivityResultContract"
Hi,

Today marks the [release](https://developer.android.com/jetpack/androidx/releases/activity#1.2.0) of stable version of the Activity v1.2.0, and was wondering if there are plans of expanding `handleNextActionForPayment()` and `handleNextActionForSetupIntent()` APIs to support `ActivityResultRegistry`/`ActivityResultContract` to simplify the interaction with the SDK and make it more type-safe.

[2021-02-10 22:17] darrinps opened #3370 "Cannot access '<init>': it is internal in 'ConfirmSetupIntentParams'"
Version: implementation 'com.stripe:stripe-android:16.2.0'

I'm trying to create a function to return back ConfirmSetupIntentParams. It looks like this:

`
    fun getSetupIntentParams(argMap: Map<String, Any>) : ConfirmSetupIntentParams {
        val cardDetails = getCardDetails(argMap)
        val billingDetails = getBillingDetails(argMap)
        val paymentMethodParams = PaymentMethodCreatePar

[2021-02-10 22:35] mshafrir-stripe commented on #3370
@darrinps you can use one of the `create()` [0] functions

[code]

[0] https://stripe.dev/stripe-android/stripe/com.stripe.android.model/-confirm-setup-intent-params/-companion/index.html#com.stripe.android.model/ConfirmSetupIntentParams.Companion/create/#kotlin.String#kotlin.String#kotlin.String?#kotlin.String?#com.stripe.android.model.MandateDataParams?/PointingToDeclaration/

[2021-02-10 22:40] darrinps commented on #3370
Would like to see the same thing between the two API's, but this works for this one. I think I ran across one where it wouldn't but I'll open up a specific defect for that one once I verity it.

Thanks,

[2021-02-11 04:06] mshafrir-stripe commented on #3370
@darrinps please let me know if you have any further issues

[2021-02-11 04:06] #3370 closed

[2021-02-11 11:16] calvarez-ov commented on #3272
Will we have a new release of Stripe, which will depend on the new stable versions of the androidx artifacts?

[2021-02-11 14:33] mshafrir-stripe commented on #3272
@calvarez-ov yes, planning on doing a new release with the stable artifacts today.

See changelog: https://github.com/stripe/stripe-android/pull/3371/

[2021-02-11 14:33] #3272 closed

[2021-02-11 14:34] mshafrir-stripe commented on #3369
@leandrofavarin 👋 this is definitely something we plan to add support for. I'll notify this issue when we have something more to share.

[2021-02-11 16:18] calvarez-ov commented on #3272
I noticed in the release notes of [activity 1.2.0 ](https://developer.android.com/jetpack/androidx/releases/activity#1.2.0):

Will the new stripe release have a direct or transitive dependency on this alpha version of app compat?

[2021-02-11 16:22] westy92 commented on #3272
@calvarez-ov It sounds like that only applies if the SDK needs to "gain ViewTree support."

[2021-02-11 16:25] calvarez-ov commented on #3272
Does stripe need viewtree support?

[2021-02-11 16:55] mshafrir-stripe commented on #3272
@calvarez-ov no, we don't depend on ViewTree support. The latest Android SDK release will not be depending on any non-release Jetpack libraries. :)

[2021-02-11 17:02] calvarez-ov commented on #3272
awesome, thanks! 🙇

[2021-02-11 21:30] mshafrir-stripe commented on #3272
16.3.0 has now been released: https://github.com/stripe/stripe-android/releases/tag/v16.3.0

[2021-02-11 21:32] mshafrir-stripe commented on #3272
Thanks for your feedback regarding the RC dependencies.

[2021-02-16 02:01] Manish7799 opened #3376 "I have two issues:"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-02-16 02:05] Manish7799 opened #3377 "Duplicate cards and edit card details; Stripe-sdk Android"
I am using stripe sdk for Android app. I have two issues:

1. Cards with the same details can be added multiple times. Any way to ignore the duplication?
2. Is there any methods that allows user to edit saved cards in Prebuilt UI including billing addresses or any card details.

Please advise.
Thanks

[2021-02-16 02:07] #3376 closed

[2021-02-16 15:48] jleprinc commented on #3290
Issue is still present on 'com.stripe:stripe-android:16.3.0'

I notice that if i quit the app and come back by selecting the app from the list of app in background, the webview is not destroyed, but if i come back by clicking on the launcher app icon, it does kill the webview even if the main activity hasn't been destroyed and the backstack stayed the same.

[2021-02-16 18:23] mshafrir-stripe commented on #3377
@Manish7799 for your first question, you could first create a payment method without attaching it to a customer, check the card's [fingerprint](https://stripe.com/docs/api/payment_methods/object#payment_method_object-card-fingerprint), then only attach the card if it has a unique fingerprint. Unfortunately this property is currently not available in our SDK, but we can add it for an upcoming relea

[2021-02-16 23:44] Manish7799 commented on #3377
@msaffitz-stripe Thanks.

[2021-02-16 23:44] #3377 closed

[2021-02-17 14:55] sebj54 commented on #2958
Hi @mshafrir-stripe, is there any update or any workaround while we're waiting for an "official" way of supporting this? Maybe by overriding a layout?

I found an issue and a related PR which should have addressed this issue but it does not work either:

- https://github.com/stripe/stripe-android/issues/2628
- https://github.com/stripe/stripe-android/pull/2646

I also tested by adding this to my a

[2021-02-18 11:44] cristeahub commented on #3290
I'm in the Scandinavian countries (namely Norway) and we see this issue a lot.
We are using `com.stripe:stripe-android:16.2.0`.

Currently we are seeing around 15 % of all charges to through 3D Secure, 20 % of these (!!) are currently failing.
We see that **96 %** of or failed payments comes from 3DS v1.

We have confirmed in internal testing this happening with the following cards:

- Mastercard

[2021-02-18 12:12] cristeahub commented on #3290
I'm in the Scandinavian countries (namely Norway) and we see this issue a lot.
We are using `com.stripe:stripe-android:16.2.0`.

I want to mention that we do see other 3DS issues from specific banks etc, however I'm not talking about those issues right now. I'm simply talking about the 3ds view being removed. Maybe this is related to https://github.com/stripe/stripe-android/issues/2917 ?

Currentl

[2021-02-18 12:15] jleprinc commented on #3290
I found a workaround by setting my activity to the default launchMode instead of the launchMode "singleTask" in the manifest but not everyone can do that.

[2021-02-18 13:40] cristeahub commented on #3290
We're using React Native and that library doesn't seem to work well with changing that field. There are a few double-mounting issues and other that can happen if you change away from `singleTask`. We do use that setting, though.

[2021-02-19 13:03] Greelings opened #3391 "Static interface methods are only supported starting with Android N (--min-api 24)"
Since the last update, I can no longer generate a signed Bundle / APK (minifyEnabled and shrinkResources are set to TRUE).

I have **2 errors.**

**The first one :**

**The second :**

## Android version
21 -> 30

## Installation method
implementation 'com.stripe:stripe-android:16.3.0'

## SDK version
16.3.0

[2021-02-19 13:23] Greelings commented on #3391
I fixed it by adding :

    sourceCompatibility JavaVersion.VERSION_1_8
    targetCompatibility JavaVersion.VERSION_1_8
}

[2021-02-19 13:23] #3391 closed

[2021-02-22 14:17] mshafrir-stripe commented on #3173
@lamrak can you try using Gradle's [DependencySubstitutions](https://docs.gradle.org/current/dsl/org.gradle.api.artifacts.DependencySubstitutions.html) to replace the dependency?

Maybe something similar to what is suggested here? https://stackoverflow.com/a/48724412/11103900

[2021-02-22 21:35] jhonnyx2012 commented on #2915
Hello, is there any update in this issue?

[2021-02-23 11:54] droidluv opened #3400 "Missing connivence functions"
Following up for https://github.com/stripe/stripe-android/issues/2893 I was asked for the convenience functions which was used in the Card instance pre 16.0.0

[code]

I hope these convenience functions can be added to CardParams so we can rely on Stripe for a complete solution even with respect to validation

[2021-02-24 08:59] lamrak commented on #3173
I'll check.

In general I played with different solutions trying to exclude one of library and had no luck. But will check this one.

[2021-02-24 14:32] lamrak commented on #3173
got it done,
 with

[code]
project is built and run successfully. Hope everything will work now,

Thank you!

[2021-02-24 15:55] lamrak commented on #3173
Just need to add comment that for my multi modules project it works on slightly another way
[code]

[2021-02-24 17:17] batadamnjanovic opened #3412 "Replace card logo icons with new design"
## Summary
SDK version: 16.3.0

SDK has some old logos for credit cards.

**VISA old:**
<img width="349" alt="Screen Shot 2021-02-24 at 6 12 38 PM" src="https://user-images.githubusercontent.com/22530295/109038556-23258700-76cc-11eb-8ef3-272810b6220b.png">

**VISA new:**
<img width="100" alt="Screen Shot 2021-02-24 at 6 13 21 PM" src="https://user-images.githubusercontent.com/22530295/109039183-cb

[2021-02-25 13:22] mshafrir-stripe commented on #3173
@lamrak that is fantastic to hear, thanks for sharing what worked for you. I'll add a link to your setup in the comments.

[2021-02-26 22:44] Khosbayar opened #3423 "Postal Code accepts Emojis and symbols"
## Summary

Postal Code accepts Emojis and symbols in `CardWidget`
How can I filter the zip code field to accept only digit and alphabetic characters?
Is there any reason that CardInputWidget's postal code field accepts Emojis and symbols?
![Screenshot_20210226-144338](https://user-images.githubusercontent.com/5780664/109363317-22fac800-7841-11eb-8bfb-9c2e6762a5c2.png)

## Code to reproduce

Enter

[2021-03-01 22:49] csabol-stripe commented on #3400
Hi @droidluv , thanks for the request! Those methods on Card are considered deprecated but we have plans to re-add the functionality in the future and will update this issue when we do :)

[2021-03-01 22:50] csabol-stripe commented on #3412
Hi @batadamnjanovic , thanks for ping on this! Our team is working with our design teams on updated logos so I'm going to close this issue :)

[2021-03-01 22:50] #3412 closed

[2021-03-01 23:33] csabol-stripe commented on #3423
Hi @Khosbayar, I'm not aware of any reason that this field would need to accept non-alphanumeric characters. I'll record this request :)

[2021-03-01 23:48] Khosbayar commented on #3423
Hello @csabol-stripe, thank you, and I'm looking forward to it!

[2021-03-02 02:35] michaelbayday commented on #3173
Hi @mshafrir, we actually have this issue integrating the stripe react native library into our android app. will keep you updated on developments

[2021-03-02 13:41] scruffyfox commented on #3400
+1 for this https://github.com/stripe/stripe-android/pull/2789

We have our own card input UI that need these validation methods

[2021-03-04 13:52] catalin-florescu commented on #439
I have the same problem with ```stripe-android:16.1.1``` in test mode. Is there any way to see the logs in console? Also it's keep loading after i proceed ```paymentSession.presentPaymentMethodSelection()```. It can be a problem on my side?

[2021-03-05 09:38] sdoward opened #3433 "Fix Google Pay Documentation"
## Summary
Documentation at https://stripe.com/docs/google-pay doesn't compile. `Token.fromString()` is not found. Also a lot of the methods used on that page are deprecated.

The documentation also contradicts documentation at google.  https://developers.google.com/pay/api/android/overview

The samples use an old version of the client https://github.com/stripe-samples/sample-store-android/blob/ma

[2021-03-09 22:35] mshafrir-stripe commented on #3433
@sdoward thank you for filing this issue. We'll get the docs updated and follow up with the best approach.

[2021-03-11 14:50] GiuFio opened #3453 "Add new card button doesn't work the second time."
## Summary
`Add new card...` doesn't work the second time.
To reproduce:
- Open `PaymentMethodsActivity`
- Click on `Add new card...`
- Click on back button
- Click again on `Add new card...`

https://user-images.githubusercontent.com/3746868/110805164-23538400-8281-11eb-940b-62a6706c3735.mp4

## Code to reproduce
Code used to start the PaymentSession
[code]

## SDK version
`implementation('com.st

[2021-03-16 14:42] mshafrir-stripe commented on #3377
@Manish7799 we just released `16.3.1`, which includes the [card.fingerprint](https://stripe.com/docs/api/payment_methods/object#payment_method_object-card-fingerprint) property.

[2021-03-17 10:37] akashydv04 opened #3475 "OnActivityResult is not responding"
@msaffitz-stripe @msaviano-stripe

OnActivityResult is not responding  and after stripe.confirmPayment(this, params); it going back to previous activity.
Stripe account changed but didn't get result.

[2021-03-17 14:38] mshafrir-stripe commented on #3217
@VictorKalevich this is actually expected behavior. We no longer mask the CVC.

[2021-03-17 14:40] mshafrir-stripe commented on #3475
@akashydv04 can you provide the SDK version you're integrating with as well as some sample code that shows your integration?

[2021-03-17 14:43] mshafrir-stripe commented on #3453
@GiuFio thanks for filing this issue. I can reproduce it. I'll prepare a fix.

[2021-03-17 15:19] #3217 closed

[2021-03-17 15:19] mshafrir-stripe commented on #2733
@Krishnasony thanks for following up.

[2021-03-17 15:19] #2733 closed

[2021-03-17 16:34] akashydv04 commented on #3475
@mshafrir-stripe
    implementation 'com.stripe:stripe-android:16.2.0'
i use this dependency and here is my connectivity code

PaymentMethodCreateParams params = cardInputWidget.getPaymentMethodCreateParams();
            if (params != null) {
                ConfirmPaymentIntentParams confirmParams = ConfirmPaymentIntentParams
                        .createWithPaymentMethodCreateParams(params, p

[2021-03-17 17:01] mshafrir-stripe commented on #3475
@akashydv04 are you running this in test mode, and if so what test card are you using?

[2021-03-17 17:24] mshafrir-stripe commented on #3475
@akashydv04 by default, `4242424242424242` does not require any user action for confirmation, so it is expected that `onActivityResult` is invoked on your Activity without any additional screens being shown.

[2021-03-17 17:29] mshafrir-stripe commented on #3475
Please refer to https://stripe.com/docs/payments/accept-a-payment#android-submit-payment

[2021-03-17 17:34] akashydv04 commented on #3475
@Override
    protected void onActivityResult(int requestCode, int resultCode, Intent data) {
        super.onActivityResult(requestCode, resultCode, data);
        // Handle the result of stripe.confirmPayment
        Log.d("TAG", "stripe payment onActivityResult: "+requestCode);
        stripe.onPaymentResult(requestCode, data, new PaymentResultCallback(this));

    }

private static final class

[2021-03-17 17:37] mshafrir-stripe commented on #3475
Can you share a video recording of what you're seeing?

[2021-03-17 17:53] akashydv04 commented on #3475
#

https://user-images.githubusercontent.com/41301494/111514458-c6bc0180-8777-11eb-8f97-5fa962a816e3.mp4

[2021-03-17 18:07] mshafrir-stripe commented on #3475
Do you have any developer settings enabled, like "Don't keep activities"?

[2021-03-17 18:27] #3453 closed

[2021-03-17 23:54] akashydv04 commented on #3475
no this is disable

[2021-03-18 02:46] mshafrir-stripe commented on #3475
Is your Activity's `onActivityResult` invoked at all?

[2021-03-18 02:57] akashydv04 commented on #3475
no

[2021-03-18 11:43] mshafrir-stripe commented on #3475
@akashydv04 I'd recommend setting a debugger and walking through the code path in the Stripe codebase to see what code is invoked. It sounds like there's something else going on. I don't think I can further investigate without more information from your end.

[2021-03-18 13:34] akashydv04 commented on #3475
will you able to check my code on team viewer or anydesk

[2021-03-18 13:59] mshafrir-stripe commented on #3475
Unfortunately no. You might want to create a brand new Activity with just the Stripe integration code to help isolate and debug the issue. I'll close the issue now, but please reopen after you've done that and still have issues.

[2021-03-18 13:59] #3475 closed

[2021-03-18 22:11] userlab-nelsontorres opened #3489 "Zip code not working in a dynamic way for CardInputWidget"
## Summary

Hi, i did not seen to find it on the documentation, but is there a way to have a Zip code dynamic on the CardInputWidget?, i needed as a required field, but if i use the test card from US `4242 4242 4242 4242` the keyboard for the zip code is shown as a full keyboard and not the numeric one.

I tested with the `cardInputWidget.setUsZipCodeRequired(true);` but it forces the 5 digits for

[2021-03-19 12:36] akashydv04 commented on #2917
@msaffitz-stripe i have same issue i have done everything same as mentioned in docs

[2021-03-22 17:54] bellierjonathan opened #3499 "PIN Management - Method "retrievePinCode" seems to block the main thread"
## Summary
When I'm using `retrievePin` from `IssuingCardPinService` the call from the Stripe SDK to Stripe API seems to block the main thread.

What you suggest to avoid this? I tried to use Thread but not working.

## Code to reproduce
[code]
## Android version
11

## SDK version
16.3.1

[2021-03-22 19:19] michelleb-stripe commented on #3489
Let me take a look and get back to you.

[2021-03-23 12:46] mshafrir-stripe commented on #3499
@bellierjonathan can you share your `EphemeralKeyProvider` implementation?

[2021-03-23 14:12] bellierjonathan commented on #3499
I use an Observable from Rx created by
[code]

[2021-03-23 14:22] mshafrir-stripe commented on #3499
I think I see the issue on our end, will verify.

[2021-03-23 14:35] bellierjonathan commented on #3499
Oh and to give you more detail when I was using the SDK version `16.0.1` I had a `NetworkOnMainThreadException`.
Now with the last version of Stripe `16.3.1` the `Exception` disappears but still freeze the app.

On `16.0.1` I had to use this code (for testing)
[code]
to avoid the `NetworkOnMainThreadException` for testing

[2021-03-23 15:11] mshafrir-stripe commented on #3499
I found the issue - it was on our end. Thanks for flagging!

[2021-03-23 15:30] mshafrir-stripe commented on #3489
@userlab-nelsontorres can you verify if you're still seeing this issue on `16.3.1`?

[2021-03-23 15:46] userlab-nelsontorres commented on #3489
@mshafrir-stripe will update test and write back

[2021-03-23 15:54] userlab-nelsontorres commented on #3489
@mshafrir-stripe yes the bug is still there on `16.3.1`

[2021-03-23 16:16] michelleb-stripe commented on #3489
Thanks for running that test @userlab-nelsontorres.  We will add this to our upcoming backlog.

[2021-03-23 16:40] userlab-nelsontorres commented on #3489
Thanks!

[2021-03-23 18:33] #3499 closed

[2021-03-23 21:18] batadamnjanovic opened #3510 "'Add new card' button on Payment Method screen does not work"
## Summary
'Add new card...' button stops working after resuming back from 'Add a Card' screen.

## Steps to reproduce
- Invoke `presentPaymentMethodSelection()`
- Click on a 'Add new card...' button
- Click back button or enter a card information and confirm
- Try again to click 'Add new card...' button

## Android version
10

## Impacted devices
Samsung A71, HTC U Ultra

## SDK version
16.3.1

[2021-03-24 01:29] mshafrir-stripe commented on #3510
@batadamnjanovic thanks for filing. This was fixed in #3476 and will be part of the next release.

[2021-03-24 14:36] jd565 opened #3515 "Odd card number formatting in RTL"
## Summary
When the app is in RTL and the user is entering a card number, the card number is formatted in an odd manner.

The expectation is that the whole card number would be formatted in ltr, and be displayed the same as if the app was in an ltr setting.

Instead, each block of 4 digits is written in ltr, but each group is arranged in rtl.

For example,
- Input: 1234567834567890
- Expected: 123

[2021-03-24 14:55] jaypratapsingh opened #3516 "Background missing in delete card dialog"
Hello,

When I go to delete the card, the background UI is missing. Please check the image.

![Screenshot_1616597559](https://user-images.githubusercontent.com/11877215/112331525-fe2e2f00-8cde-11eb-9097-ce12d62ae72a.png)

[2021-03-24 18:48] #3510 closed

[2021-03-25 12:14] michelleb-stripe commented on #3516
Can you share the style you are using in your application?

[2021-03-25 12:23] michelleb-stripe commented on #3515
Which component are you using to enter the card number?

[2021-03-25 14:43] jaypratapsingh commented on #3516
Hello @michelleb-stripe

Please find the style which I am using.

 <style name="StripeDefaultTheme" parent="StripeBaseTheme">
        <item name="colorPrimary">#039145</item>
        <item name="colorPrimaryDark">#039145</item>
        <item name="colorAccent">#039145</item>
    </style>

[2021-03-25 15:54] michelleb-stripe commented on #3516
Which version of the sdk are you using?

[2021-03-25 22:39] martymiller opened #3526 "Does the SDK support multiple API keys?"
I have two API keys I need to use.  One is for the US and the other is for Canada.  There is only one instance of Stripe which is initialized in my Application class:
`PaymentConfiguration.init(application, environmentManager.STRIPE_API_KEY_USA)`

I need to change the key depending on which country the user selects.  Can I just call
`PaymentConfiguration.init(application, environmentManager.STRIPE

[2021-03-26 03:08] jaypratapsingh commented on #3516
I am using the latest version:

`implementation 'com.stripe:stripe-android:16.3.1'`

[2021-03-26 03:21] jaypratapsingh opened #3527 "Add new card is not working"
Hello,

There is a case where add new card not working. Please follow the below steps:

1. Click on add new card
2. Add valid data in the form and submit
3. Delete that card now
4. Now select add new card option and observe it is not working.

Using the latest stripe version:
`implementation 'com.stripe:stripe-android:16.3.1'`

![image](https://user-images.githubusercontent.com/11877215/112572584-

[2021-03-26 07:19] jd565 commented on #3515
This is using the default stripe UI, so CardNumberEditText under the hood

[2021-03-26 09:50] calvarez-ov commented on #3527
Indeed we see the same in our project.

A simpler scenario:
* click add card
   - you enter the add card screen ✅
* click back without entering anything
* click add card again
  - nothing happens :x:

Note this bug is reproducible on 16.2.0, but not reproducible on 16.1.1

[2021-03-26 09:58] calvarez-ov commented on #3527
Looks like a duplicate of https://github.com/stripe/stripe-android/issues/3510

[2021-03-26 12:20] michelleb-stripe commented on #3515
We will have this fixed in an upcoming release.

[2021-03-26 14:10] michelleb-stripe commented on #3526
I was wondering if you could share why you need two API keys?

[2021-03-26 14:24] michelleb-stripe commented on #3526
There is not a way to set two API keys using the PaymentConfiguration, but one of these solutions might work:

- If you are using Stripe to make API calls, they can pass in a different API key to the constructor.
- If you are using some of the UI components, you will need to call PaymentConfiguration.init(application, new_key) right before using it.

[2021-03-26 14:25] michelleb-stripe commented on #3515
For your reference, here is the PR: https://github.com/stripe/stripe-android/pull/3524

[2021-03-29 10:58] kasvith commented on #795
any update in 2021? Flutter reached 2.0 and now it's going far beyond mobile/web. So indeed providing flutter official support will be really good. There are thousands of apps running with flutter and even growing more day by day. Stripe can really play a good role there.

I think this should be prioritized

[2021-03-29 20:44] mshafrir-stripe commented on #3527
This is now fixed in `16.4.0`.

[2021-03-29 20:44] #3527 closed

[2021-03-29 20:44] mshafrir-stripe commented on #3510
This is now fixed in `16.4.0`.

[2021-03-29 21:12] bellierjonathan opened #3536 "PIN Management - How can we pass stripeAccountId on "retrievePinCode" method"
## Summary
Hello I would like to know if there is a way to pass the `stripeAccountId` when using the `retrievePinCode` from `IssuingCardPinService`.

After checking the code it look like not possible?
https://github.com/stripe/stripe-android/blob/a20164ed31749b4f5936c06bcc13064cc9dcb594/stripe/src/main/java/com/stripe/android/networking/StripeApiRepository.kt#L785

[2021-03-29 21:31] mshafrir-stripe commented on #3536
@bellierjonathan thanks for flagging. This will be available in the next release.

[2021-03-30 16:11] chuck-stein commented on #2642
+1, would also appreciate any updates on this feature

[2021-03-30 21:23] CoreFloDev opened #3539 "3ds rejected due to missing card holder name"
## Summary
Some of our payment got rejected due to missing card holder name. After investigating our SDK, I found that you can request the full address by setting `setBillingAddressFields(BillingAddressFields.Full)` that also include the card holder name. But it is really inconvenient for the user as they need to enter their full address twice. So I was thinking that there maybe a way to prepopula

[2021-03-31 01:04] #3536 closed

[2021-03-31 01:59] martymiller opened #3542 "CardInputWidget card brand image functionality breaks when postalCodeEnabled = false"
I'm using a `CardInputWidget` with `postalCodeEnabled = false`  My app already has a zip code field in the UI.

I'm enterring the test card number "4242 4242..." and as soon as I type 4, the Visa logo appears.  The image remains as I'm typing the expiration date.  **As soon as I start enterring the CVC code, the Visa image disappears and never returns.**

<img width="423" alt="Screen Shot 2021-03-

[2021-03-31 02:14] martymiller commented on #3526
The endpoint I'm using requires that the Stripe token is generated with the Canada API key if the account is in Canada. Otherwise it won't recognize the token and the call will fail.

[2021-03-31 17:10] Khosbayar commented on #3423
Hi @michelleb-stripe, when is the ETA for the fix?

[2021-03-31 23:52] brnunes-stripe commented on #3542
Hi @martymiller, thanks for raising the issue!
The behavior is actually expected. When the user is typing the CVC number, the card brand image becomes an image of the back of the card, highlighting the CVC. It stays that way while the CVC field is in focus.
This behavior matches Stripe's elements in other platforms, [like web](https://stripe-payments-demo.appspot.com/).
I'll forward the feedback t

[2021-03-31 23:52] #3542 closed

[2021-04-01 04:06] brnunes-stripe commented on #3539
Hi @CoreFloDev, thanks for raising this issue!
I see what you're trying to do, but the `ShippingInformation` supplied to `PaymentSession` is not used when collecting the billing address.
Let me check what the best approach would be here and get back to you soon.

[2021-04-01 14:31] michelleb-stripe commented on #3515
This is fixed in 16.4.0

[2021-04-01 14:31] #3515 closed

[2021-04-02 02:16] mshafrir-stripe commented on #3536
This is now available in `16.4.2`.

[2021-04-05 20:30] CoreFloDev commented on #3539
Hi @brnunes-stripe

For that missing feature, are we talking months or days to have it added to your SDK? To know if I need to do a release where the users would have to input all the field himself twice

[2021-04-05 22:49] martymiller opened #3563 "CardInputWidget: Is there a callback for when the CVC field gains/loses focus?"
My credit card field has a visual above it that "flips" from front to back depending on which field is currently in focus.  Selecting the CVC field should make the card flip to the back.  However, I don't see any way to detect this.  I even set a FocusChangedListener on my CardInputWidget and it nothing gets called.

The only thing I've found is `setCvcNumberTextWatcher` but that detects changes i

[2021-04-06 01:23] #2642 closed

[2021-04-06 05:17] #3563 closed

[2021-04-06 05:18] martymiller commented on #3563
Sorry, I found the solution.  CardInputListener's `onFocusChange`

[2021-04-08 10:36] atulk101992 commented on #819
hi @mshafrir-stripe i am getting same issue, i am entered correct card number but wrong expiry and wrong CVC but still it will not giving me error, i expect that it should verify expiry date and CVC of my card and return an error, should it possible on stripe? or can we able to custom validation for CVC and Expiry Date on Stripe

[2021-04-09 01:42] jaypratapsingh commented on #3516
Hello @michelleb-stripe

Any update on this issue?

[2021-04-09 07:47] h3llafresh opened #3581 "Android: CardInputWidget misses right paddings when font size of the phone is large"
## Summary
When the font size of the Android phone is large there's no space between card number and expiraton date

## Code to reproduce
Change font size in device settings to be large
Try to enter any values into CardInputWidget

## Android version
API 30

## Impacted devices
Any device

## Installation method

## SDK version

![изображение](https://user-images.githubusercontent.com/47475768/114

[2021-04-12 23:33] mshafrir-stripe commented on #3581
@h3llafresh thanks for flagging. We'll investigate.

[2021-04-13 19:43] michelleb-stripe commented on #3581
Could you share the width dimension of your CardInputWidget, and the font size you are using?

If your width dimension is small you might be interested in trying the CardMultilineWidget.

[2021-04-14 01:03] michelleb-stripe commented on #3526
I am going to close the issue, but if you still have issues feel free to reopen it.

[2021-04-14 01:03] #3526 closed

[2021-04-14 07:40] h3llafresh commented on #3581
I am using Android system font that is one point bigger than the middle one (see picture below) or 46 px and CardInputWidget width is 984 px or 328 dp
![изображение](https://user-images.githubusercontent.com/47475768/114670860-1d334600-9d0c-11eb-804b-89a0ac8f6c01.png)

[2021-04-14 18:59] ccen-stripe commented on #3581
Hi @h3llafresh, just so you know we're deprecating `CardInputWidget` and introducing a new UI widget `CardFormView`(#3573 ). This new class works fine with different Font sizes, has a cleaner UI and has similar interface to collect `cardParams`, we'll publicize it in a couple of weeks, will notify this thread when it happens.
At the moment I would recommend keep `CardInputWidget` and migrate over

[2021-04-14 19:03] h3llafresh commented on #3581
Oh, cool, thank you!)

[2021-04-14 20:12] mshafrir-stripe commented on #2493
@calvarez-ov we are starting work on moving to Custom Tabs in #3596. Thanks for flagging this issue last year.

[2021-04-15 20:28] ccen-stripe commented on #3400
Hi @droidluv and @scruffyfox , the reason behind #2789 is that all our prebuilt UI widgets(legacy `CardInputWidget`, `CardMultilineWidget` and the upcoming [CardFormView](https://github.com/stripe/stripe-android/pull/3573)) only returns **valid** `CardParams` or `null` when you access it, to check if the current widget can return a non-null `CardParams`, you can [register](https://github.com/strip

[2021-04-16 08:10] scruffyfox commented on #3400
@ccen-stripe Is it now Stripe's position that developers must be using the UI components provided in the library rather than use their own components?

[2021-04-16 17:28] Khosbayar commented on #3423
Hi, any updates on this issue?
Thank you and looking forward to hearing from you soon.

[2021-04-16 19:15] ccen-stripe commented on #3400
Yes, please refer to the `Mobile SDK` section on our [integration guide](https://stripe.com/docs/security/guide):

[2021-04-19 04:52] droidluv commented on #3400
I guess we can close this then, so peeps the recommended way is to use Stipe UI components.

[2021-04-19 04:52] #3400 closed

[2021-04-19 09:23] amanzan opened #3610 "App crashes when integrating Stripe library. SecurityException: Invalid signature file digest for Manifest main attributes"
## Summary
App crashes when integrating Stripe library. With no other changes, my app crashes after building my project. Reading other issues, I tried to exclude some certs in build.gradle, but it did not work:
[code]

Gradle version: 4.1.3
Kotlin version: 1.4.32

## Android version
targetSdkVersion = 29

## Impacted devices
All devices

## Installation method
Gradle

## SDK version
implementation

[2021-04-19 11:53] michelleb-stripe commented on #3610
Can you remove the packagingOptions excludes and share the error?

[2021-04-19 11:54] bnandhinidevi commented on #486
Hi, is there any update on card scan in android stripe SDK

[2021-04-19 12:04] amanzan commented on #3610
@michelleb-stripe that's the error before adding the excludes. But actually adding excludes does not have any effect, error is the same

[2021-04-19 12:31] michelleb-stripe commented on #3610
I am having trouble reproducing the error.  Are there any other dependencies that are included in your app?

[2021-04-19 12:56] amanzan commented on #3610
I have several other dependencies: firebase, auth0, kotlin coroutines....only the last one seems to be named in the stack trace. Could it be related to that? I am completely lost

[2021-04-19 13:08] michelleb-stripe commented on #3610
Try commenting out each of the dependencies and associated code, and see if you can determine which one is the issue.

[2021-04-19 14:59] amanzan commented on #3610
could this be related? https://github.com/stripe/stripe-android/issues/1519
My integration is new, not an update

[2021-04-19 15:55] amanzan commented on #3610
Is there anything else needed, in addition to the gradle import? I am removing all the other dependencies and still getting an error :(
[code]

[2021-04-19 17:18] michelleb-stripe commented on #3610
Can you check the plugins and dependencies to make sure they are on the latest version found in the places shown below.  Maybe pay special attention to the kotlinx dependencies.

Usually in the top level build.gradle file:
`buildscript {
      dependencies{
           ...
      }
}`

and usually in the module build.gradle file:
`
android{
    dependencies {
        ...
    }
}
`

[2021-04-19 19:19] amanzan commented on #3610
Found the error. I had in my AndroidManifest
[code]
and that was causing the crash. I needed it to be able to build the project, so I am using this instead
[code]
and now it seems to work fine, at least the app doesn't crash after adding the Stripe library

[2021-04-19 19:21] #3610 closed

[2021-04-19 22:05] michelleb-stripe commented on #3423
Work is actively being done on this issue.

[2021-04-20 08:43] johnvdvaart opened #3615 "java.lang.IllegalArgumentException: Required value was null"
## Summary
[code]
[code]

## Impacted devices
Only two instances of this crash so far, but both are using a Nexus Nexus 5X running Android 8.1.0

## Installation method
https://stripe.com/docs/payments/save-and-reuse

## SDK version
16.5.0

## Other information
I have setup stripe for future payments without the stripe widget. `PaymentConfiguration` is initialised in the `Application` class on sta

[2021-04-20 10:57] LaVielle opened #3616 "No ChallengeStatusReceiver for transaction id"
## Summary

My React Native app is crashing when some users try to add a payment method in production. This is happening on Android only. I am using [tipsi-stripe](https://github.com/tipsi/tipsi-stripe), a wrapper around native Stripe SDKs, hence I am posting the issue here. I cannot reproduce it in debug. I'm getting this mysterious error report in Sentry and after some Googling I have no idea wh

[2021-04-21 09:12] calvarez-ov opened #3622 "Documentation issue, regarding bancontact"
## Summary
In the "[Accept a Bancontact payment](https://stripe.com/docs/payments/bancontact/accept-a-payment?platform=android)" document, in the section "4. Submit the payment to Stripe", there's the following code snippet:

[code]

This [function](https://stripe.dev/stripe-android/stripe/com.stripe.android/-stripe/confirm-payment.html) actually takes two required parameters, the first one being

[2021-04-22 13:36] mshafrir-stripe commented on #3622
Thanks for flagging. Will have this fixed today.

[2021-04-22 13:38] #3622 closed

[2021-04-22 16:47] john-mejia opened #3629 "[Feature] make 'setPostalCode' on 'CardInputWidget' public"
**Is your feature request related to a problem? Please describe.**
We use the setter methods on CardInputWidget for testing purposes. After requiring a postal code in our application we can no longer write a test to confirm a car is valid. A potential solution is reaching into the view hierarchy and manipulating the `TextInputLayout` directly but it feels odd that this is the only API that is not

[2021-04-23 21:45] #2493 closed

[2021-04-26 18:06] Khosbayar commented on #3423
Which version are you referring to?
I have checked the issue on the latest version, but it was still happening.

[2021-04-26 21:39] ccen-stripe commented on #3423
hey @Khosbayar just so you know we're deprecating old card widgetsand introducing a new UI widget CardFormView(#3573 ). This new class will enforce correct format for the zip code and country. We'll publish in a week or two, will let you know know when it's available

[2021-04-27 10:50] furaiev commented on #2560
the same question.
@minhazur-piash have you managed to implement this check?

[2021-04-27 14:22] josefXitaso opened #3642 "3D Secure broken for ING Di-Ba"
## Summary
Customers of us have trouble with the 3D secure screen while using our app. The view is only displaying a dark or light screen (depending on dark or light mode) and a button without any text on it.
![WIN_20210419_09_16_28_Pro](https://user-images.githubusercontent.com/60657913/116256393-702ce480-a773-11eb-948e-4292024ada27.jpg)
The credit institute of the user is ING-DiBa (Visa)

This i

[2021-04-27 16:25] Khosbayar commented on #3423
Oh okay, I got it. Thanks a lot for your info.

[2021-04-28 02:48] mshafrir-stripe commented on #3642
@josefXitaso thanks for flagging this. To verify, this is a 3DS2 challenge? Can you add your email address to your profile so I can reach out to you for some more information?

[2021-04-28 07:25] josefXitaso commented on #3642
@mshafrir-stripe we are pretty certain about that this is a 3DS2 challange! I made my email public, you can reach me now.

[2021-04-28 15:42] mshafrir-stripe commented on #2493
@calvarez-ov our next release, `16.7.0`, adds support for 3DS1 authentication via Custom Tabs. Custom Tabs will be used when the customer's device supports Custom Tabs and when the PaymentIntent/SetupIntent is confirmed without a custom `return_url` (i.e. value is `null`). Otherwise, we'll fall back to WebView. In a future release we'll add support for authentication through the device's browser.

[2021-04-28 16:38] calvarez-ov commented on #2493
Great news!  We'll be testing this out in the coming weeks. Thanks so much 🙏

[2021-04-29 22:37] mshafrir-stripe commented on #2493
This is now available in 16.7.1

https://github.com/stripe/stripe-android/releases/tag/v16.7.1

[2021-04-29 22:39] mshafrir-stripe commented on #3290
We just released [16.7.1](https://github.com/stripe/stripe-android/releases/tag/v16.7.1), which adds support for authenticating 3DS1 in Custom Tabs instead of a WebView. I believe this will fix the issues described here.

Please refer to the [release notes](https://github.com/stripe/stripe-android/releases/tag/v16.7.1) and the [Stripe#confirmPayment()](https://github.com/stripe/stripe-android/blob

[2021-04-30 01:35] mshafrir-stripe commented on #2945
We just released [16.7.1](https://github.com/stripe/stripe-android/releases/tag/v16.7.1), which adds support for authenticating 3DS1 in Custom Tabs instead of a WebView. I believe this will fix the issues described here.

Please refer to the [release notes](https://github.com/stripe/stripe-android/releases/tag/v16.7.1) and the [Stripe#confirmPayment()](https://github.com/stripe/stripe-android/blob

[2021-04-30 01:51] brnunes-stripe commented on #3539
Hi @CoreFloDev, sorry I missed this. This is in our backlog, but we won't get to it in the next few weeks.
Out of curiosity, do you see any patterns on the types of card or country of issuance that are having the payments rejected for that reason? That's not something we commonly see.

[2021-04-30 12:10] calvarez-ov commented on #2493
I can't seem to find test card numbers for 3DS v1. I tried a few sources:
* https://stripe.com/docs/payments/accept-a-payment?platform=android
* https://stripe.com/docs/payments/3d-secure#android
* https://stripe.com/docs/testing

In this [PR](https://github.com/stripe/stripe-android/pull/3596) I see screenshots with buttons to choose between v1 and v2.

But I don't see this option when using `400

[2021-04-30 12:18] mshafrir-stripe commented on #2493
The screenshots in that PR are from the [example app](https://github.com/stripe/stripe-android/tree/master/example).

Are you setting a `return_url` value? Custom Tabs requires no `return_url` set in `ConfirmPaymentIntentParams`.

[2021-04-30 12:47] mshafrir-stripe commented on #2763
We just released [16.7.1](https://github.com/stripe/stripe-android/releases/tag/v16.7.1), which adds support for authenticating 3DS1 in Custom Tabs instead of a WebView. I believe this will fix the issues described here.

Please refer to the [release notes](https://github.com/stripe/stripe-android/releases/tag/v16.7.1) and the [Stripe#confirmPayment()](https://github.com/stripe/stripe-android/blob

[2021-04-30 12:47] #2763 closed

[2021-04-30 12:47] calvarez-ov commented on #2493
Yes we were indeed 😄

If I remove this return url, I now see custom tabs with `4000 0000 0000 3063`

Thanks!

[2021-04-30 16:19] #2945 closed

[2021-04-30 19:06] ccen-stripe commented on #2624
hey @briskemen just so you know we're deprecating old card widgets and introducing a new UI widget CardFormView(#3573 ). This new class will enforce correct format for the zip code and country. We'll publish in a week or two, will let you know know when it's available

[2021-05-06 08:43] dominolog opened #3697 "[BUG] Fatal Exception: java.lang.NullPointerException: Attempt to write to field 'int android.graphics.Rect.left' on a null object reference at com.stripe.android.view.IconTextInputLayout.adjustBounds(IconTextInputLayout.java:30)"
## Summary
Crash

## Code to reproduce

## Android version
10.0

## Impacted devices
Samsung

## Installation method

## SDK version
8.4.0

## SDK classes

## Other information

`Fatal Exception: java.lang.NullPointerException: Attempt to write to field 'int android.graphics.Rect.left' on a null object reference
       at com.stripe.android.view.IconTextInputLayout.adjustBounds(IconTextInputLayout

[2021-05-06 09:07] dominolog opened #3698 "[Feature] What is the latest SDK version that still supports CustomerSource payments?"
What is the latest SDK version that still supports CustomerSource payments? We are still on SDK 8.4.0 because our backend is still using Payment Sources and tokens and can't migrate to Payment Intents. What is the latest SDK level that I can use to be not forced to migrate to Payment Intents?

[2021-05-06 11:08] #2624 closed

[2021-05-06 15:37] michelleb-stripe commented on #3698
I would be happy to help. Our SDK still has Source/Token functionality including: CustomerSource, Stripe.createToken, Stripe.createBankAccountToken, Stripe.createPiiToken, and Stripe.createCvcUpdateToken. If you provide the methods you are using I can help check the availability, or provide alternatives.

[2021-05-07 07:15] YLPeng opened #3705 "AAPT: error: resource style/Widget.MaterialComponents.ProgressIndicator not found."
## Summary
After updating to stripe-android:16.7.1, I got following error AAPT: error: resource style/Widget.MaterialComponents.ProgressIndicator.Circular.Indeterminate not found.

I've also added the proguard rules suggested in the readme, the problem still occur.

## SDK version
16.7.1

[2021-05-07 14:40] #3705 closed

[2021-05-10 15:25] cristeahub commented on #3290
Hi @mshafrir-stripe ,

We have tested this version and if we try to background our app on Android and come back, we still have the bug. If we simply move from our app to a banking app (for instance via a notification), it will work.

I have attached a video with SDK version 16.7.1 showing that thee web view is gone when backgrounding and coming back to the app.

https://user-images.githubuserconte

[2021-05-10 15:34] mshafrir-stripe commented on #3290
@cristeahub thanks for sharing, we will investigate further.

[2021-05-11 16:13] calvarez-ov opened #3713 "[BUG] Documentation refers to PaymentResult instead of PaymentSheetResult"
## Summary
The new [pre-build multi-step payment ui documentation](https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=payment-sheet-custom) mentions `PaymentResult` instead of `PaymentSheetResult`

## Code to reproduce
The documentation has this code:
[code]

However, the actual callback in the Stripe sdk is this:
[code]
The result is `PaymentSheetResult`, not `PaymentResult`.

[2021-05-12 02:29] mshafrir-stripe commented on #3616
@LaVielle I would recommend migrating to the official Stripe client library for React Native. This will bring in the latest fixes from the Android SDK.

https://github.com/stripe/stripe-react-native

[2021-05-12 02:29] #3616 closed

[2021-05-12 02:30] mshafrir-stripe commented on #2460
@n-sviridenko FYI the official Stripe client library for React Native is now in public beta.

https://github.com/stripe/stripe-react-native

[2021-05-12 02:31] mshafrir-stripe commented on #2102
@vyasishanatc194 FYI the official Stripe client library for React Native is now in public beta.

https://github.com/stripe/stripe-react-native

[2021-05-12 02:31] mshafrir-stripe commented on #1654
@bramski FYI the official Stripe client library for React Native is now in public beta.

https://github.com/stripe/stripe-react-native

[2021-05-12 02:32] mshafrir-stripe commented on #1507
@lukebrandonfarrell FYI the official Stripe client library for React Native is now in public beta.

https://github.com/stripe/stripe-react-native

[2021-05-12 02:33] mshafrir-stripe commented on #655
@sharadrb FYI the official Stripe client library for React Native is now in public beta.

https://github.com/stripe/stripe-react-native

[2021-05-12 07:24] thorsten-stripe commented on #795
We're working with the Flutter community on a new package: https://github.com/flutter-stripe/flutter_stripe

It is currently in beta, but we'd love for you to test it out and provide feedback there. Thanks.

[2021-05-12 08:56] calvarez-ov opened #3714 "[Feature] Make the postal code and country/region optional for credit card entry, in new payment sheet ui"
**Is your feature request related to a problem? Please describe.**

The prebuilt-ui multi-step: https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=payment-sheet-custom credit card entry form requires country/region and postal code fields. This used to be optional, but now is required. We want it to be optional.

* In our payment flow, the user already provides their address (inc

[2021-05-12 09:23] calvarez-ov commented on #3714
Additional info:

The new ui isn't customizable regarding the postal code:
https://github.com/stripe/stripe-android/blob/v16.8.0/stripe/src/main/java/com/stripe/android/paymentsheet/ui/BillingAddressView.kt#L290
[code]
It's hardcoded to show the postal code if the provided country is null or if the country itself has postal codes

The old UI is customizable:
https://github.com/stripe/stripe-androi

[2021-05-12 09:56] calvarez-ov opened #3715 "[Feature] Allow card deletion in the new payment sheet UI"
**Is your feature request related to a problem? Please describe.**
We're currently using the old UI (PaymentMethodsActivity). The possibility to delete a card is kind of hidden: the users have to swipe to delete a card. However, the feature exists at least, and the users can use it. Some users don't find it and contact our support, who guide them to find the swipe to delete feature.

In the new pa

[2021-05-12 10:16] calvarez-ov opened #3716 "[Feature] Provide a `PaymentIntentResult` (or equivalent) in the `PaymentSheetResultCallback` callback"
**Is your feature request related to a problem? Please describe.**
With the old basic integration, we call `Stripe.onPaymentResult()` with a `ApiResultCallback<PaymentIntentResult>`.  If the payment is not successful, we log some data to our analytics backend, for analysis. Examples:
* `intent.lastPaymentError.type`
* `intent.lastPaymentError.code`
* `intent.lastPaymentError.declineCode`
* `intent

[2021-05-12 14:04] vellov commented on #3615
Hello!

One of my clients just received the same error on Nexus 5X, OS 8.1.0

[2021-05-12 16:26] yuki-stripe commented on #3716
Hi @calvarez-ov,

Thanks for writing in. The recommended way to know the final result of the payment is by [listening to webhooks on the server](https://stripe.com/docs/payments/handling-payment-events) - does this work for you?

[2021-05-12 20:33] brnunes-stripe commented on #3713
Hi @calvarez-ov,
Thanks for filing the issue, it's fixed now!

[2021-05-12 20:33] #3713 closed

[2021-05-13 09:43] developerGM opened #3718 "[BUG] Problems with jetified-kotlin-stdlib-1.5.0.jar"
When try to compile the project I recive this error:

`e: .../.gradle/caches/transforms-2/files-2.1/2c2eb0b29b5b297b4060ddfe0109d9af/jetified-kotlin-stdlib-1.5.0.jar!/META-INF/kotlin-stdlib.kotlin_module: Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.5.1, expected version is 1.1.13.`

My project is mixed Java-Kotlin and I am using
`apply plugin

[2021-05-13 11:15] mshafrir-stripe commented on #3718
@developerGM what version of Gradle and Android Gradle Plugin are you using?

[2021-05-13 11:23] developerGM commented on #3718
@mshafrir-stripe
[code]

[2021-05-13 11:33] michelleb-stripe commented on #3715
@calvarez-ov Thanks for trying out PaymentSheet and the feedback.   We have plans to implement the removal of saved cards with a visible remove button.

[2021-05-13 13:17] mshafrir-stripe commented on #3718
@developerGM can you try upgrading to Gradle 6.9?

[2021-05-13 14:44] developerGM commented on #3718
@mshafrir-stripe
I updated my gradle like this
[code]
and in project gradle add this
`classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:1.4.32"`

so now it works.
Thanks

[2021-05-13 15:11] developerGM opened #3719 "[Feature] Country or region can be optional on PaymentSheet ?"
I am using the new excellent `PaymentSheet` prebuilt UI.
How can hide the "Country or region" box to compile?
Or this is always mandatory to activate Pay button on the bottom of the view?

[2021-05-13 15:32] chenni521 opened #3720 "Import the latest version error"
[com.stripe:stripe-android:16.8.0] C:\Users\tt\.gradle\caches\transforms-2\files-2.1\d6906a42e462f7b4dfc185adbe21e581\stripe-android-16.8.0\AndroidManifest.xml:13:9-54 Error:
        Missing 'package' key attribute on element package at [com.stripe:stripe-android:16.8.0] AndroidManifest.xml:13:9-54
[com.stripe:stripe-android:16.8.0] C:\Users\tt\.gradle\caches\transforms-2\files-2.1\d6906a42e462f7b

[2021-05-13 15:40] mshafrir-stripe commented on #3720
@chenni521 what versions of Gradle and Android Gradle Plugin are you using?

[2021-05-13 15:44] chenni521 commented on #3720
android studio 3.5.2&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;gradle-5.4.1-all

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "stripe/stripe-android"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月13日(星期四) 晚

[2021-05-13 15:48] mshafrir-stripe commented on #3720
Are you able to upgrade your Gradle and AGP versions? Can you try upgrading to Gradle 6.9?

[2021-05-13 15:48] #3718 closed

[2021-05-13 17:51] michelleb-stripe commented on #3719
@developerGM I am glad you are liking the `PaymentSheet` prebuilt UI.

Currently the `Country or Region` section is required in order to proceed.   We do have plans to add in full billing address information.

Could you share more on when you would like the `Country or Region` section hidden?  For example, is this because the user is already setting their country or billing code somewhere else?

[2021-05-13 18:44] developerGM commented on #3719
@michelleb-stripe
Yes, we already ask user for his shipping address and country.
This is a payment on a checkout for food delivery app so we have already all of these fields

[2021-05-13 19:36] michelleb-stripe commented on #3719
ok, thanks for this update we have it in our backlog.

[2021-05-14 13:02] mshafrir-stripe commented on #2754
@ra-devel please check out our new payment UI, PaymentSheet:

https://stripe.com/docs/payments/accept-a-payment?platform=android

[2021-05-14 13:04] mshafrir-stripe commented on #2872
@calvarez-ov This functionality is available via PaymentSheet. We don't plan to include this functionality in `AddPaymentMethodActivity`.

[2021-05-14 13:04] #2872 closed

[2021-05-14 13:08] mshafrir-stripe commented on #2341
@odedharth @js-bonin I would recommend checking out our new prebuilt payment UI product, PaymentSheet.

https://stripe.com/docs/payments/accept-a-payment?platform=android

[2021-05-14 13:08] #2341 closed

[2021-05-15 19:33] dhananjay10 opened #3728 "[BUG] PaymentConfiguration class not found in 16.8.2 SDK version"
When I try to initiate " PaymentConfiguration.init(context, "key", "accountId") inside Application class, It does not import the class. I keep getting "Cannot resolve symbol 'PaymentConfiguration'" error.

**App level build.gradle :**
implementation 'com.stripe:stripe-android:16.8.2'

**Project level build.gradle :**

`buildscript {
    ext.kotlin_version = '1.4.10'
    repositories {
        goog

[2021-05-16 02:43] chenni521 commented on #3720
hello&nbsp;&nbsp;

I upgraded android studio and still report an error

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "stripe/stripe-android"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月13日(星期四)

[2021-05-16 02:43] chenni521 commented on #3720
It prompts this error

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "stripe/stripe-android"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月13日(星期四) 晚上11:48
***@***.***&gt;;
***@***.******@***.***&g

[2021-05-16 23:52] mshafrir-stripe commented on #3720
What versions of Gradle and Android Gradle Plugin are you using?

[2021-05-17 01:00] chenni521 commented on #3720
Hello, I imported the 9.0.0 version without reporting an error. My current process is to request the order number obtained by the server. How can I suspend the payment and complete the payment, because I can't find the previous document

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-05-17 10:10] nataliakuznetsova opened #3730 "[BUG] CardInputWidget icon is not updated after CVC is added"
## Summary

When inputting the card info on the CardInputWidget the icon does not switch to card icon after CVC is added. For steps to reproduce please see the video:
https://user-images.githubusercontent.com/42141970/118472141-cbb21880-b708-11eb-8d61-bcc4168082b0.mp4

## Android version

API 29

## SDK version

SDK version 16.8.0

## SDK classes

CardInputWidget

[2021-05-17 10:15] amanzan commented on #2733
This is still happening, tested on several devices (Realme X2 Pro and Samsung Galaxy S10e, for example).
Is there any solution? Unfortunately using multiline is not possible in my case.

I guess one solution could be to do like iOS version, which shows the "contracted" version of the credit card number field when it doesn't have focus (it only expands to the 16-digit when on focus).

[2021-05-17 10:18] amanzan commented on #3581
Could this new widget fix the overlapping issue in small screens? https://github.com/stripe/stripe-android/issues/2733

[2021-05-17 15:17] frlgrd opened #3731 "[BUG] Unsupported PaymentMethod type: sepa_debit"
## Summary

I'm trying to use `PaymentMethod.Type.Card` AND `PaymentMethod.Type.SepaDebit` with my `PaymentSession` but I have this error `Unsupported PaymentMethod type: sepa_debit` during the binding in the `PaymentMethodsAdapter` because it looks like there is no associated ViewHolder for SepaDebit payement method in this adapter. With `PaymentMethod.Type.Card` only, it works well.

Here the ex

[2021-05-18 05:29] minhazur-piash commented on #2560
@furaiev in android I couldn't find exactly that but we can safely guess google pay is available if the google play service is available.

[2021-05-18 13:21] mshafrir-stripe commented on #3731
@frlgrd thanks for reaching out. Unfortunately we do not support `sepa_debit` in Basic Integration.

[2021-05-18 13:21] #3731 closed

[2021-05-18 14:30] mshafrir-stripe commented on #3728
@dhananjay10 I can't reproduce this issue. Are you sure that the `stripe-android` dependency is correctly being pulled in?

[2021-05-18 15:45] dhananjay10 commented on #3728
Yes it is correctly being pulled in. When I downgraded the SDK to 16.7.1 it worked. But I want to use 16.8.2 SDK

[2021-05-18 15:51] mshafrir-stripe commented on #3728
Are you able to resolve other Stripe SDK classes?

[2021-05-18 16:25] dhananjay10 commented on #3728
No. My project is in Java. All I can see is stripe Data Binding classes

[2021-05-18 17:09] mshafrir-stripe commented on #3728
@dhananjay10 what version of Gradle and Android Gradle Plugin are you using?

[2021-05-18 17:13] dhananjay10 commented on #3728
Gradle version is 7.0.1 & Android gradle plugin is 4.2.1

[2021-05-18 19:02] michelleb-stripe commented on #3730
@nataliakuznetsova Thanks for writing in.   Currently while the CVC icon field has focus it will show the CVC icon.  Click on the credit card number will show the Card Brand icon again.

[2021-05-20 12:59] masmil1988 opened #3744 "[BUG] PaymentSheet.presentWithSetupIntent shows the payment sheet with only an infinite circular progress bar"
When I call
[code]

with a valid setupIntentClientSecret, customerId and ephemeralKeySecret, I only see the sheet coming out from the bottom with only a progress bar. No way to know what is happening and why it is not fully loading the payment sheet.

<img src="https://user-images.githubusercontent.com/6042561/118982627-e7712500-b97b-11eb-83b8-40bc42badf9c.png" data-canonical-src="https://user-ima

[2021-05-20 13:49] marcglasberg commented on #795
@thorsten-stripe So, the flutter_stripe plugin is officially supported by Stripe?

[2021-05-21 04:22] thorsten-stripe commented on #795
@marcglasberg Yes, we’re actively supporting and sponsoring this project. The maintainers are some of the best developers in the Flutter community and we’re excited to work together with them and Google’s engineering team on upcoming features: https://opencollective.com/flutter_stripe

[2021-05-21 07:58] calvarez-ov commented on #3716
Sorry for the delay. I've reached out to our team working on the backend integration. They're currently busy focusing on other parts of the stripe integration, so I don't have an answer from them at this point regarding how well this would work.

It looks like it would require additional work on our side, unifying analytics data from multiple sources.  Currently it's possible to understand payment

[2021-05-21 11:41] michelleb-stripe commented on #3744
@masmil1988  Unfortunately we accidentally exposed the Setup Intent functions.  We will remove `presentWithSetupIntent` function in the next release until it is ready for use.

[2021-05-21 13:44] michelleb-stripe commented on #3615
This is now fixed in version [16.8.2](https://github.com/stripe/stripe-android/releases/tag/v16.8.2).

[2021-05-21 14:04] michelleb-stripe commented on #3615
@vellov, I apologize this is not fixed in 16.8.2, but I recommending trying out our new [prebuilt UI ](https://stripe.com/docs/payments/accept-a-payment?platform=android)

[2021-05-21 14:24] dhananjay10 commented on #3728
@mshafrir-stripe Any update on this defect?

[2021-05-21 23:55] trex-quo commented on #3173
This worked for me, I have no idea how but it did... this was the error I was getting more specifically.

`
  Duplicate class org.bouncycastle.x509.util.StreamParsingException found in modules jetified-bcprov-jdk15on-1.65.jar (org.bouncycastle:bcprov-jdk15on:1.65) and jetified-bcprov-jdk15to18-1.68.jar (org.bouncycastle:bcprov-jdk15to18:1.68)
..........
* What went wrong:
Execution failed for task

[2021-05-24 13:42] abualgait opened #3754 "Duplicate class org.bouncycastle.x found in modules jetified-bcprov-jdk15to18-1.68.jar"
I got the above error just when I try to build the app.
even after i added this

SPECS:

-         minSdkVersion              : 21,
-         targetSdkVersion           : 29,
-         compileSdkVersion          : 29

[2021-05-24 13:47] mshafrir-stripe commented on #3754
Can you verify if the recommendation here works for you? https://github.com/stripe/stripe-android/issues/3173#issuecomment-785176608

[2021-05-24 14:12] abualgait commented on #3754
I tried it but unfortunately gives me another error :

[2021-05-24 19:45] #3754 closed

[2021-05-25 05:25] arpitagarwal1301 commented on #3705
Facing similar issue in 16.9.0 . Any solution yet ?

`ERROR:/Users/arpit/.gradle/caches/transforms-3/bc7845c7f34f0a5250f6f50ed8ff0f0a/transformed/jetified-stripe-android-16.9.0/res/layout/payment_auth_web_view_activity.xml:44: AAPT: error: resource style/Widget.MaterialComponents.CircularProgressIndicator (aka com.example.app:style/Widget.MaterialComponents.CircularProgressIndicator) not found.`

[2021-05-25 05:37] arpitagarwal1301 opened #3757 "[BUG] AAPT: error: resource style/Widget.MaterialComponents.CircularProgressIndicator not found"
**Summary**

Getting this error while building .

1. All these error are in .xml with view of <com.google.android.material.*>
2. Using latest 1.3.0 version for material design

compileSDKVersion : 29 ( tried with 30 also)
Gradle : 4.2.1 and 6.9
Stripe-android sdk version - 16.9.0 ( tried with 16.8.0 also)

[2021-05-25 08:14] arpitagarwal1301 commented on #3757
Found the issue . It was in app build.gradle .

[code]
The above code was overriding my latest version for material library

[2021-05-25 08:14] #3757 closed

[2021-05-25 08:44] calvarez-ov commented on #3719
Looks like a duplicate of #3714

[2021-05-25 11:20] mshafrir-stripe commented on #3705
@arpitagarwal1301 what versions of Gradle and Android Gradle plugin are you using?

[2021-05-25 12:04] michelleb-stripe commented on #3698
Please feel free to re-open the issue if you need more support with this problem.

[2021-05-25 12:04] #3698 closed

[2021-05-25 12:17] michelleb-stripe commented on #3728
@dhananjay10 If you manually import com.stripe.android.PaymentConfiguration and build from the command line using `./gradlew assemble` does it work?  I am wondering if Android Studio is having problems resolving the symbols.

I am still unable to reproduce this issue locally. Do you have a small github project you can link to in order to demonstrate this issue.

[2021-05-25 12:28] MszSabab commented on #819
Hello @mshafrir-stripe i am also getting the same issue, I entered correct card number but wrong expiry and wrong CVC but still it will not giving me error, i think, it should verify CVC and expiry date of my card and return an error, can we able to custom validation for Expiry Date and CVC on Stripe??????????????? please reply immediately

[2021-05-25 12:29] arpitagarwal1301 commented on #3333
Facing the same issue .
We need to use Adyen also , any fix yet ??

[2021-05-25 13:12] costular commented on #3333
@arpitagarwal1301 Unfortunately from my side I wasn't able to get both work together so we had to remove Adyen dependencies.

[2021-05-25 13:34] arpitagarwal1301 commented on #3705
Got the fix . It was dependency resolution strategy  issue for material design library
https://github.com/stripe/stripe-android/issues/3757

[2021-05-25 13:40] arpitagarwal1301 commented on #3333
implementation(Deps.stripe) {
        exclude(group = "org.bouncycastle")
}

@costular
Did you try exluding bouncy from adyen instead of stripe . I think it should work since bouncy dependency for stripe is transitive, which might not be the case for adyen .

[2021-05-25 13:51] mshafrir-stripe commented on #2333
@mansoorshahsaid please reopen if you still need any help with this issue

[2021-05-25 13:51] #2333 closed

[2021-05-25 14:24] costular commented on #3333
@arpitagarwal1301 I tried and it didn't work for us, maybe something has changed since then

[2021-05-25 15:24] mshafrir-stripe commented on #3333
@costular can you share your versions of Android Studio, Gradle, and Android Gradle plugin?

[2021-05-25 17:58] michelleb-stripe commented on #3615
From the stack trace it looks like there are parameters missing from when the activity was started.  Can you share how you are starting the AddPaymentMethodActivity()?   It should be started using the AddPaymentMethodActivityStarter.

If you are starting a new integration I would recommend using the new prebuilt UI.  We will continue supporting bug fixes on basic integration, but will not be addin

[2021-05-25 21:08] aliriaz-stripe commented on #819
@atulk101992 @MszSabab Hello!
Creating a PaymentMethod (or legacy Token) on Stripe does not validate the card. Tokenization simply takes raw card details and converts it to a PaymentMethod/Token, it mostly just runs a Luhn check to verify if the card number is valid.

Validation occurs when you:
1. attach a PaymentMethod to a Customer
2. confirm a SetupIntent

After creating a PaymentMethod, you s

[2021-05-26 08:05] ben-j69 opened #3764 "[BUG] java.lang.IllegalStateException · Invalid directory server networkName: 'cartes_bancaires'"
## Summary
Hello,
Since 24 of may, and never before : java.lang.IllegalStateException · Invalid directory server networkName: 'cartes_bancaires

It looks like it is a 3D secure issue.

Our test in staging with test 3Dsecure card numbers are ok, but not in prod env.

## Code to reproduce
[code]
The confirmPayment is triggering the issue.

## Android version
11, 10, 9, 8, 7

## Impacted devices
All

[2021-05-26 10:52] QumberAbbas12 commented on #1604
@chander-stripe If we use our custom view (not Card Widget), then the cvcEdit text has an unknown brand that has a limit from 3 to 4 characters. Is there any way in which I can set the brand of card to cvcEdit text.com.stripe.android.view.CvcEditText

[2021-05-26 10:56] QumberAbbas12 opened #3765 "Custom Card widget for Stripe Add Credit Card"
I want to add the credit card via stripe api. Design specs have different requirements than pre-built Card Widget. I am using the stripe CardEditText, Expiry, and CVV. But the issue with these views is I am not getting any callback. One method is exposed which is validated. And for CVV there is not even a validation method. I cannot set the brand of the card for the cvv validation as most of the m

[2021-05-26 11:20] mshafrir-stripe commented on #3764
@ben-j69 thanks for flagging this - I'm sorry to hear that your users have been experiencing this. There was an issue on our backend that caused 3DS2 challenges to be triggered for `cartes_bancaires` transactions; this has since been fixed. Can you verify if you're still actively seeing crashes? Can you share the PaymentIntent id of a transaction where there was a crash?

[2021-05-26 11:32] ben-j69 commented on #3764
@mshafrir-stripe the last official crash was on May 26th, 10:51:28 UTC

I saw that it now pass for some users but I just triggered it with the paymentIntentId : pi_1IvKFzItyoAIMS8ZPtO8EvlY

[2021-05-26 14:17] mshafrir-stripe commented on #3764
We are continuing to investigate this on our end.

In the meantime:

1. Can you describe your integration? Are you calling `/confirm` on the PaymentIntent from your backend, your client (i.e. your app), or both? Our recommended integration is to confirm from the client.
2. Can you upgrade your app to integrate with v16.9.0? While this wouldn't be an immediate fix, that version isn't impacted by th

[2021-05-26 14:45] h3llafresh commented on #3581
@ccen-stripe Hello, are there any updates about new widget?

[2021-05-26 15:44] ledouxvi commented on #3764
Hi,
We have the same problem here, we have a lot of crash today.
If it may help, this is another PaymentIntent pi_1ItZrEJudrUvPKncZGakwSlL.
and we are on this version :
`implementation 'com.stripe:stripe-android:10.0.3'`

[2021-05-26 16:14] ben-j69 commented on #3764
Yes, before to accept on client side confirm is set to  true in Stripe::PaymentIntent.create

Working on it

[2021-05-26 16:16] mshafrir-stripe commented on #3764
Thanks. If you're doing backend confirmation, you should use the `Stripe#handleNextActionForPayment()` method of the Android SDK. You don't need to re-confirm the PI.

[2021-05-26 16:57] mshafrir-stripe commented on #3764
Thanks for sharing this information. Are you able to upgrade to `16.9.0`?

[2021-05-26 17:43] arpitagarwal1301 commented on #3333
Try this , was able to build the project successfully and tested some payment cards .

[code]

[2021-05-27 06:56] ledouxvi commented on #3764
@mshafrir-stripe

I can plan it but it's could not be done before monday as there are many breaking changes between 10.0.3 and 16.9.0.
It's a very long delay (with additionnal playstore validation / update)

[2021-05-27 12:06] ChadiGSfeir opened #3770 "CardInputWidget cant be inflated"
## Summary
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.dev, PID: 10077
    android.view.InflateException: Binary XML file line #57: Binary XML file line #57: Error inflating class com.stripe.android.view.CardInputWidget
    Caused by: android.view.InflateException: Binary XML file line #57: Error inflating class com.stripe.android.view.CardInputWidget
    Caused by: java.lang.

[2021-05-27 12:11] michelleb-stripe commented on #3770
I am sorry to hear you are having problems, and I am happy to help.  Can you provide the details of the error you are seeing?

[2021-05-27 13:21] michelleb-stripe commented on #3765
Thanks for writing in!   We are not supporting CvcEditText as a standalone widget.   We would like to try and support your work through the new CardFormView widget that we hope to release on Friday.  @ccen-stripe will post an update when it is released.   Let us know how it works for you.

[2021-05-27 14:37] Alexander-Pliaka commented on #3744
@michelleb-stripe can you please tell me when the presentWithSetupIntent functionality will be implemented?

[2021-05-27 14:41] michelleb-stripe commented on #3744
I can't commit to any dates, but I would suspect it would be in the next few months.

[2021-05-27 15:22] michelleb-stripe commented on #3770
Did you encounter this problem as part of upgrading from a prior version of the Stripe Android SDK, or is this a new integration?

I also have found varying versions between the Application and SDK to be problematic in the past.  Would it be possible to match the following dependencies to what we use in our 16.9.0 SDK:

- Gradle Version 7.0.2
- Android Gradle Plugin: 4.2.1
- Kotlin version 1.4.32

[2021-05-27 15:32] ChadiGSfeir commented on #3770
yes, the problem I think that when I update my dependencies. because everything was working fine and I didn't even change anything concerning the XML or the CardInputWidget.
my dependencies are:

- Gradle Version 7.0.2
- Android Gradle Plugin: 4.2.1
**- Kotlin version 1.5.10 may be the problem?**
- com.google.android.material:material:1.3.0

[2021-05-27 15:40] michelleb-stripe commented on #3770
What was the last version of the SDK that worked for you?

[2021-05-27 16:45] ChadiGSfeir commented on #3770
Im not sure :/
maybe 1.4.20 or 1.4.32
How can I downgrade the version? I'm trying from settings but I'm only allowed to have the latest.

[2021-05-27 16:52] michelleb-stripe commented on #3770
For setting the kotlin version there are a couple of places to set it:
buildscript {
    ext.kotlinVersion = '1.4.32’.

    repositories {
       …
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:4.2.1'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlinVersion"
        …
    }
}

dependencies {
    implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk

[2021-05-27 16:53] michelleb-stripe commented on #3770
Did a prior version of the Android Stripe SDK work for you?

[2021-05-27 17:21] michelleb-stripe commented on #1604
@ QumberAbbas12  Thanks for writing in! We are not supporting CvcEditText as a standalone widget. We would like to try and support your work through the new CardFormView widget that we hope to release on Friday. @ccen-stripe will post an update when it is released. Let us know how it works for you.

[2021-05-28 12:29] ChadiGSfeir commented on #3770
Yes, everything was working fine.

[2021-05-28 13:27] michelleb-stripe commented on #3770
Which prior version of the Android Stripe SDK was working?  I can take a look and compare them to see if anything stands out as an issue.

Were you able to get setup with kotlin version 1.4.32?

[2021-05-28 13:47] mshafrir-stripe commented on #3236
The docs should be updated now. Let me know if you need any other help with this issue.

[2021-05-28 13:47] #3236 closed

[2021-05-28 13:48] mshafrir-stripe commented on #3369
Duplicate of #2640

[2021-05-28 13:48] #3369 closed

[2021-05-28 13:49] mshafrir-stripe commented on #2640
@twobeeronebread thanks for filing. This is on our roadmap and we'll update this ticket when we have an update. Closing for now.

[2021-05-28 13:49] #2640 closed

[2021-05-28 14:59] michelleb-stripe commented on #3770
ok, let us know if we can help.

[2021-05-28 23:31] #3730 closed

[2021-05-28 23:35] michelleb-stripe commented on #3714
Thanks for writing in and the feedback.  We have this in our backlog and will provide an update when it is ready.

[2021-05-28 23:43] michelleb-stripe commented on #3697
Thanks for writing in.  The IconTextInputLayout is no longer in our SDK.  However, we would be happy to help support you update to the latest SDK.   We have a new CardFormView Widget released today.  We do still provide limited support for the CardMultilineWidget and the CardInputWidget.  Let us know how we can help!

[2021-05-28 23:47] brnunes-stripe commented on #3744
Hi @masmil1988, @Alexander-Pliaka,
Support for Setup Intents in Payment Sheet was released today in [v16.10.0](https://github.com/stripe/stripe-android/releases/tag/v16.10.0).
Please try it out and let us know if you find any issues.

[2021-05-28 23:47] #3744 closed

[2021-05-28 23:59] ccen-stripe commented on #3423
hi @Khosbayar , FYI we just released [v16.10.0](https://github.com/stripe/stripe-android/releases/tag/v16.10.0) that publishes [CardFormView](https://github.com/stripe/stripe-android/blob/7a55a3e7a41489fe0e5047a6255ae4dd555f14c9/payments-core/src/main/java/com/stripe/android/view/CardFormView.kt), [here](https://github.com/stripe/stripe-android/blob/ef2197fabeb47436a4119e23dab74041c31320d4/example

[2021-05-29 00:00] ccen-stripe commented on #3581
Hi @h3llafresh, sorry for the wait, we just released [v16.10.0](https://github.com/stripe/stripe-android/releases/tag/v16.10.0) that publishes [CardFormView](https://github.com/stripe/stripe-android/blob/7a55a3e7a41489fe0e5047a6255ae4dd555f14c9/payments-core/src/main/java/com/stripe/android/view/CardFormView.kt), [here](https://github.com/stripe/stripe-android/blob/ef2197fabeb47436a4119e23dab74041

[2021-05-29 00:00] ccen-stripe commented on #2624
Hi @briskemen , FYI we just released [v16.10.0](https://github.com/stripe/stripe-android/releases/tag/v16.10.0) that publishes [CardFormView](https://github.com/stripe/stripe-android/blob/7a55a3e7a41489fe0e5047a6255ae4dd555f14c9/payments-core/src/main/java/com/stripe/android/view/CardFormView.kt), [here](https://github.com/stripe/stripe-android/blob/ef2197fabeb47436a4119e23dab74041c31320d4/example

[2021-05-29 00:01] ccen-stripe commented on #3765
Hi @QumberAbbas12 , FYI we just released [v16.10.0](https://github.com/stripe/stripe-android/releases/tag/v16.10.0) that publishes [CardFormView](https://github.com/stripe/stripe-android/blob/7a55a3e7a41489fe0e5047a6255ae4dd555f14c9/payments-core/src/main/java/com/stripe/android/view/CardFormView.kt), [here](https://github.com/stripe/stripe-android/blob/ef2197fabeb47436a4119e23dab74041c31320d4/exa

[2021-05-30 09:34] h3llafresh commented on #3581
@ccen-stripe that's cool, thanks a lot!

[2021-05-31 15:57] ChadiGSfeir commented on #3770
Hello, again
I find that the last working version is  implementation 'com.stripe:stripe-android:16.4.3'

this is my dependencies:
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'androidx.appcompat:appcompat:1.3.0'
    implementation 'androidx.constraintlayout:constraintlayout:2.0.4'
    implementation 'androidx.lifecycle:lifecycle-extensions:2.2.0'

[2021-06-03 02:45] cmcheungapp opened #3789 "[BUG] Crash when show Payment Sheet"
## Summary
Crash when call `paymentSheet.presentWithPaymentIntent()` on Samsung device.
Crash occur in Guest Mode.

Its a big urgent bug for me, thanks for help!

## Code to reproduce
Exception thrown:
[code]

## Android version
Android 9

## Impacted devices
Galaxy Note9

## Installation method
Through a gradle dependency

## Dependency Versions
stripe-android:16.8.0

Gradle:6.5

## Other informa

[2021-06-03 03:14] cmcheungapp commented on #3789
Fixed for v16.8.2
Seems any other blank page issue when using latest v16.10.0

[2021-06-03 05:17] VirajShirwalkar opened #3790 "[BUG] CardFormView has few bugs 16.10.0"
Hi there, i am using CardFormView with stripe version **16.10.0**.
A. I found in **MM/YY** field,
     If i enter **1,2,4,7,9** it shows **1,2,4,7,9 (Single digit)**.
     If i enter **3,5,6,8** it shows **"03 /** ", **"05 /** ", "**06 /** ", "**08 /** ". **(Single to Double digit with slash and space)**.
B. In **CVV** field,
     After enter 3 digits, cvv icon/image not changed.
C. Below CVV has

[2021-06-03 13:31] mshafrir-stripe commented on #3789
@cmcheungapp thanks for filing. What issue are you seeing with 16.10.0?

[2021-06-03 14:39] SaezChristopher commented on #486
Any update ? Ineterrested in as well

[2021-06-04 03:05] cmcheungapp commented on #3789
After integrated with v16.10.0, after app launch, cannot display my MainActivity layout correctly, only show a white and blank page with a horizontal line in center position.
I still have no time to check what happened for it now.

What I know is that
- only this device (Galaxy Note9, Android 9) has this issue.
- also occur on v16.9.0

[2021-06-04 15:16] CaptnBlubber opened #3803 "[Feature] Paymentsheet Compose Integration"
**Is your feature request related to a problem? Please describe.**
I would like to be able to Call the PaymentSheet from a composable.
It currently works but I had to put another Activity in between and basically duplicate the Contract of the SDK

**Describe the solution you'd like**
It would be enough if `PaymentSheetContract` is not internal and could be used via `rememberLauncherForActivityResu

[2021-06-04 15:21] CaptnBlubber commented on #3803
For anyone with compose looking for a (dirty) workaround: My Current Implementation is the Following:

If have an activity and a contract and use exactly the approach I described with `rememberLauncherForActivityResult()` its a bit unnecessary as it will jump 2 times to another activity but it works:

Activity:
[code]

Contract:
[code]

[2021-06-04 18:28] ccen-stripe commented on #3790
hey @VirajShirwalkar , thanks for reporting this.

For A, MM/YY is supposed to always display a valid date with a slash in between, since the largest month number can could only be `12`,  it will automatically adds an `0` in front month if the first digit is not `1`.

For B, the cvv icon is not supposed to change, only card icon would change

For C, could you attach any screenshot/recording? Are y

[2021-06-05 05:21] VirajShirwalkar opened #3808 "[BUG] Downloaded zip for stripe-android not working."
**Your stripe-android zip is not building project. See below, **
Unable to find method 'org.gradle.api.artifacts.result.ComponentSelectionReason.getDescription()Ljava/lang/String;'.
Possible causes for this unexpected error include:
Gradle's dependency cache may be corrupt (this sometimes occurs after a network connection timeout.)
Re-download dependencies and sync project (requires network)

The

[2021-06-05 07:05] VirajShirwalkar commented on #3790
I don't want to send sometimes "2" or "02". It should be fixed. [default text color is white comes with card.]
![image](https://user-images.githubusercontent.com/75793707/120882914-0b796b00-c5f8-11eb-856f-119415342723.png)

Rest of the elements have something to indicate as a title. (I know TextInputLayout.) [Real device testing only]
![image](https://user-images.githubusercontent.com/75793707/120

[2021-06-07 09:36] josefXitaso commented on #3642
@mshafrir-stripe is there any update on this issue?

[2021-06-07 12:54] vellov commented on #3615
@michaelc-stripe Does the prebuilt ui support collecting credit card details for later use? Our app is similar to uber where the amount is known after the client stops activity (think it like when user reaches its destination using taxi)

[2021-06-07 13:16] vellov commented on #3615
@michaelc-stripe everything is done according to the documentation: https://stripe.com/docs/payments/save-and-reuse

[2021-06-07 18:42] mshafrir-stripe commented on #3803
@CaptnBlubber thanks for the detailed issue. We'll investigate this internally and get back to you.

[2021-06-08 02:35] ccen-stripe commented on #3808
Please use `implementation 'com.stripe:stripe-android:16.10.0'` in your app.gradle instead of downloading it

[2021-06-08 02:35] #3808 closed

[2021-06-08 02:56] ccen-stripe commented on #3790
Hi,
The text colors is white because you're have dark mode on, we have different colors for [light](https://github.com/stripe/stripe-android/blob/32999b5c870095268f6144e7823d751ee194781f/payments-core/res/values/colors.xml#L56)/[dark](https://github.com/stripe/stripe-android/blob/32999b5c870095268f6144e7823d751ee194781f/payments-core/res/values-night/colors.xml#L34) theme.

For the 1st screenshot,

[2021-06-08 14:48] mshafrir-stripe commented on #3764
This should be resolved now. Please let me know if you are seeing any issues on your end.

[2021-06-08 14:48] #3764 closed

[2021-06-08 14:54] mshafrir-stripe commented on #3728
@dhananjay10 would you be able to verify if upgrading to Kotlin 1.4.32 fixes the issue?

[2021-06-08 17:28] sz32 commented on #3770
Yes I'm also facing the same issue

using this dependecy
implementation 'com.stripe:stripe-android:16.8.0'

`2021-06-08 22:54:35.626 18617-18617/com.money.hub.loan E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.money.hub.loan, PID: 18617
    android.view.InflateException: Binary XML file line #73 in com.money.hub.loan:layout/fragment_paymentsheet_add_card: Binary XML file line #73 in com

[2021-06-09 14:25] freszu commented on #2573
@mshafrir-stripe tomorrow it's going to be 1 year anniversary of no action taken. I would expect that proper handling of 3ds1 & 3ds2 should be at the core of Stripe business responsible for big revenue percentage - as every failing customer is a money lost for us but also for you so please make sure proper priority is assigned to this issue!

**The recent switch to custom tabs did improve 3ds1 flo

[2021-06-09 15:35] sz32 commented on #3770
anyone able to fix this issue? @ChadiGSfeir ?

[2021-06-09 16:44] condesales opened #3818 "[Feature] Change access for updateBrand method from internal to public"
**Is your feature request related to a problem? Please describe.**
When using the custom stripe widgets to build a custom card input form I'm using the custom `CardNumberEditText` `ExpiryDateEditText` `CvcEditText` with no problems.
The only issue I currently have is that I cannot update the `CvcEditText` with the card brand from the user's input.

**Describe the solution you'd like**
change the i

[2021-06-10 05:29] ashishnmg opened #3829 ":paymentsheet-example:kotlin-extension'. > Could not find androidx.compose:compose-compiler:1.0.0-beta08."
i have chnage this beta08 to beta07 or beta06 but still not working

[2021-06-10 12:35] johnvdvaart commented on #3615
I am not directly using any Activity, so this is likely happing internally as per the steps followed using the installation method URL

[2021-06-10 14:07] mshafrir-stripe commented on #3615
Yes, we support Setup Intents in Payment Sheet in `16.10.0`.

[2021-06-10 15:41] mshafrir-stripe commented on #2573
@freszu thanks for the detailed feedback, it's really helpful. I'm sorry that we haven't been able to address this issue over the past year. This is something we're actively working on fixing now.

[2021-06-11 11:17] ChadiGSfeir commented on #3770
Hey @sz32 , I didn't fix the bug.
what I did is go back to my original project and continue working from there.
(in my original project I update stripe to the latest version with the 'com.stripe:stripe-android:16.10.0' and 'com.google.android.material:material:1.4.0-beta01' )
My notes:
1-this could be something with the drawable file some of the files can be messed up.
2-app theme or some theme ca

[2021-06-11 14:15] mshafrir-stripe commented on #3770
Thanks for sharing notes. Do you require `androidx.appcompat:appcompat:1.3.0-rc01` instead of `androidx.appcompat:appcompat:1.3.0`?

[2021-06-14 07:24] ChadiGSfeir commented on #3770
Hello @mshafrir-stripe,
in my case, it's only working with 1.3.0-rc01 if I upgrade to 1.3.0 or 1.4.0-alpha02  the cardinputswidget will disappear.

[2021-06-14 09:30] josefXitaso commented on #3642
@mshafrir-stripe seems like the customer did not have Two Factor Authentication enabled for his credit card. I dont know if this is probably related?

[2021-06-15 17:56] mshafrir-stripe commented on #3829
Are you still experiencing this with latest master?

[2021-06-15 17:58] #3728 closed

[2021-06-15 19:41] #3245 closed

[2021-06-15 22:34] ccen-stripe commented on #3790
I’m going to close this ticket. Feel free to re-open if you need any further help.

[2021-06-15 22:34] #3790 closed

[2021-06-18 08:57] apelt opened #3860 "[BUG] PaymentMethodOptionsParams ignored on Android"
## Summary
I am trying to update **network** under **payment_intent_options** during Payment Intent confirmation from Android, so the customer can choose which _card brand network_ to use for the payment.

The payment is always completed successfully, however the specified network "**visa**" is not used. For testing I use card **4000 0025 0000 1001** that has more networks:
[https://stripe.com/doc

[2021-06-18 14:54] PabloGiraudCarrier commented on #3290
Hello, any update on that?
This is a big issue that makes Stripe unusable on Android.

[2021-06-18 18:42] vinayakheg123 opened #3861 "[BUG]"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

stripe-android:

Gradle:

## Other information

[2021-06-18 18:53] ccen-stripe commented on #3818
Hi @condesales , we recently launhced [CardFormView](https://github.com/stripe/stripe-android/blob/05d4053a/payments-core/src/main/java/com/stripe/android/view/CardFormView.kt#L1) for collecting card information, [here](https://github.com/stripe/stripe-android/blob/05d4053ad8e980744e8e7c277857d3e92bc1b608/example/src/main/java/com/stripe/example/activity/CreateCardPaymentMethodActivity.kt#L40) is

[2021-06-18 19:02] #3861 closed

[2021-06-18 21:28] ccen-stripe commented on #3860
hi @apelt , we're looking into this and will get back to you :)

[2021-06-18 21:32] ccen-stripe commented on #3765
Hi @QumberAbbas12 I'm closing this ticket for now, feel free to reopen it if you need more help

[2021-06-18 21:32] #3765 closed

[2021-06-19 07:36] vinayakheg123 opened #3862 "[BUG] Stripe Paymentsheet Class methods are missing for Java with Android"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

stripe-android:

Gradle:

## Other information

[2021-06-19 18:30] vellov commented on #3615
@msaffitz-stripe link do documentation please for 16.10.0

[2021-06-21 07:08] lukasz-revolve opened #3864 "[BUG] com.stripe:stripe-android, 10.4.6 - new app releases containing this SDK will be rejected"
When uploading app to the Play Store:

[2021-06-21 07:32] apelt commented on #3860
**Little update**

It is also possible to use constructor:
`PaymentMethodOptionsParams paymentMethodOptions = new PaymentMethodOptionsParams.Card(null,  "visa");`
Instead of:
`PaymentMethodOptionsParams paymentMethodOptions = new PaymentMethodOptionsParams.Card.Card(null, "visa");`
But the result is still the same (it is ignored).

[2021-06-21 14:00] mshafrir-stripe commented on #3864
@lukasz-revolve thanks for filing. If you are on `10.4.6` and don't wish to upgrade to the latest version, `16.10.0`, you can upgrade to a hot fix version, `10.5.0`, which resolves the Google Play compliance issues.

[2021-06-21 14:00] #3864 closed

[2021-06-21 14:01] mshafrir-stripe commented on #3862
@vinayakheg123 what version of `stripe-android` are you on? You didn't include this information in your issue. Please upgrade to the latest version; this should resolve your issue.

[2021-06-21 14:01] #3829 closed

[2021-06-21 14:32] aghaaliabbas opened #3865 "[BUG]"
I have received this email from google play store regarding this sdk

Your app includes non compliant SDK version

Your app ---- version code --- includes SDK com.stripe:stripe-android, 10.4.6 which facilitates the transmission or collection of personal and sensitive information. Such behavior must comply with Google Play's Prominent Disclosure & Consent Requirements and applicable privacy policy

[2021-06-21 14:36] mshafrir-stripe commented on #3865
@aghaaliabbas thanks for filing. If you are on `10.4.6` and don't wish to upgrade to the latest version, `16.10.0`, you can upgrade to a hot fix version, `10.5.0`, which resolves the Google Play compliance issues.

[2021-06-21 14:36] #3865 closed

[2021-06-22 10:05] vishalkumarsinghvi commented on #3770
Thanks, @ChadiGSfeir
 I downgraded to 1.4.0-aplha02 to 1.3.0-rc01 and working fine
But please fix this issue for 1.4.0-aplha02

[2021-06-22 15:23] mshafrir-stripe commented on #3770
@ChadiGSfeir `material-components:1.4.0-rc1` [0] is now available. Can you verify if you can reproduce the crash on this version?

[0] https://github.com/material-components/material-components-android/releases/tag/1.4.0-rc01

[2021-06-22 15:44] ChadiGSfeir commented on #3770
Hello @msaffitz-stripe ,
For  implementation 'com.google.android.material:material:1.4.0-rc01', its **working**.
The issue is in :
implementation 'androidx.appcompat:appcompat: latest version '(latest version: **1.4.0-aplha02**)
the working version is **1.3.0-rc01**

[2021-06-23 20:40] cvillaseca opened #3874 "[BUG] Kapt compilation error when using Stripe SDK >= 16.6.1"
## Summary
Hi 👋

Due to the requirement of updating the Stripe SDK to 16.9.0 from Google in order to comply with Google Play's Prominent Disclosure & Consent Requirements, I'm trying to update the Stripe SDK in our app.

I've had problems compiling the app with Stripe SDK 16.6.1 and above (no other changes made) the compilation is failing when the annotation processor is running (kapt), the except

[2021-06-23 20:49] mshafrir-stripe commented on #3874
@cvillaseca thanks for filing this issue. We will investigate.

What version are you upgrading from?

[2021-06-23 20:59] cvillaseca commented on #3874
We were using `13.2.0` but I was able to update (and migrate) to `16.5.0` without problems.

[2021-06-23 21:13] mshafrir-stripe commented on #3874
I'm glad to hear that worked for you. We'll continue investigating the issue you reported.

[2021-06-24 08:22] condesales commented on #3818
That's very handy, thank you.
I understand the widget is very customizable, but we all know it's never going to be enough to cover all possible implementations.
Not having that method as public in case we need to build the form ourselves is the only part letting me down at the moment.

By using the 3 widgets I mentioned to build the form I can leverage the input validations Stripe already performs

[2021-06-24 16:25] fbarthelery opened #3878 "[BUG] PaymentSheetActivity.fetchConfig() race condition when activity recreates"
## Summary
There is a race condition in `PaymentSheetActivity.fetchConfig()`. `fetchConfig()` is only called when the activity is created for the first time : [link](https://github.com/stripe/stripe-android/blob/master/payments-core/src/main/java/com/stripe/android/paymentsheet/PaymentSheetActivity.kt#L152). The observation of `viewModel.fetchFragmentConfig()` triggers the transition to the next f

[2021-06-24 18:05] mshafrir-stripe commented on #3878
@fbarthelery thanks for the detailed issue report. We'll investigate this.

[2021-06-25 09:37] marla-singer commented on #3865
@mshafrir-stripe Hello. I've got the same warning from Google, but I'm using 14.2.1 version and have issue with upgrading to 16.10.0. What version of 14.x.x should I use to resolve Google warning?

[2021-06-25 15:32] mshafrir-stripe commented on #3865
Thanks for filing and sorry for the inconvenience. You can use `14.5.0` to resolve this issue.

[2021-06-25 20:30] vinayakheg123 opened #3885 "[BUG] Manifest merger failed with multiple errors, see logs"
## Summary
 After adding the stripe to the androind gradle file manifest merge error is appearing

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

Stripe version : 16.10.1
Android details :
   minSdkVersion 24
   targetSdkVersion 29

Gradle: 5.1.1
Android Gradle Plugin: 4.2.1

## SDK classes

## Other information
The android manifest m

[2021-06-25 21:55] mshafrir-stripe commented on #3885
@vinayakheg123 `16.10.0` is the latest officially published version: https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#16100---2021-05-28. Can you try that and see if it works?

[2021-06-26 08:10] vinayakheg123 commented on #3885
@mshafrir-stripe Sorry my bad, I did typo while writing the stripe version above. Problem is appearing with Stripe version  16.10.0

[2021-06-27 06:21] RageshAntony opened #3886 "How to resolve this build error that showing attr/**** not found?"
## Summary
I am developing a flutter app and using stripe_payment plugin for stipe. The flutter plugin using Stripe Android library and bridging it with Flutter

## Code to reproduce
The plugin using com.stripe:stripe-android:16.10.0 . When building the project I am getting the following error messages

[code]

## Android version

## Impacted devices

## Installation method

## Dependency Versions

[2021-06-27 12:15] mshafrir-stripe commented on #3885
Can you share the errors?

[2021-06-27 12:16] mshafrir-stripe commented on #3886
What version of Android Gradle Plugin are you using? Can you upgrade Gradle to 6.x?

[2021-06-28 01:56] CCCCauchy commented on #1805
Hello, I update to v16.10.0, it reproduce again. And it never reproduce on v14.x

[2021-06-28 03:52] Aisalkyn commented on #1805
Hi, my sdk version is 16.9.0 and i am ficing the crash, with an error
java.lang.IllegalStateException: PaymentConfiguration was not initialized. Call PaymentConfiguration.init().

[2021-06-28 04:30] CCCCauchy commented on #1805
I add PaymentConfiguration.init() before confirm pay intent。it’s resolved.

[2021-06-28 06:33] Aisalkyn commented on #1805
Thank you @CCCCauchy It works for me too)

[2021-06-28 14:13] mshafrir-stripe commented on #3290
@cristeahub I can't reproduce this issue using `v16.10.0` on the [example app](https://github.com/stripe/stripe-android/tree/master/example) - see below. Can you try reproducing with the example app?

![3ds1](https://user-images.githubusercontent.com/45020849/123651247-4fc3e980-d7f9-11eb-9a3b-87d58fb2b79c.gif)

[2021-06-28 14:16] mshafrir-stripe commented on #3770
@ChadiGSfeir thanks for filing, I can reproduce the crash.

[2021-06-28 20:13] mshafrir-stripe commented on #3290
It appears that this issue only appears through `stripe-react-native`. I am closing this issue and redirecting to https://github.com/stripe/stripe-react-native/issues/355.

[2021-06-28 20:13] #3290 closed

[2021-06-28 20:57] cristeahub commented on #3290
Thanks for working on this, and making the 3ds1 fix available.

Could you perhaps ask someone to look at the bug on the other repo? I get that you have a lot to work on, so mentioning the seriousness of the issue would hopefully bump it up the priority ladder.

[2021-06-29 10:21] scruffyfox opened #3894 "Restoring from process death crash for CardFormView"
## Summary

Killing app process via logcat and restoring causes a crash

## Code to reproduce

Open CardFormView, press home, force a process death via logcat, reopen screen from recents

## Android version

API 29

## Impacted devices

Emulator

## Installation method

Gradle dependency

## Dependency Versions

stripe-android: 16.10.0

Gradle:

Android Gradle Plugin: gradle-6.7.1-all

## SDK clas

[2021-06-29 12:13] michelleb-stripe commented on #3894
I apologize for the issue.  We do have a fix commited for it, and it will be in our next release.

[2021-06-29 12:36] michelleb-stripe commented on #3886
If this is a flutter specific issue you might also find some helpful resources here: https://github.com/flutter-stripe/flutter_stripe#recommended-usage.

cc: @thorsten-stripe

[2021-06-29 14:52] thorsten-stripe commented on #3886
@RageshAntony for Flutter please use https://github.com/flutter-stripe/flutter_stripe and file issues there if you run into any. Thanks.

[2021-06-29 14:52] #3886 closed

[2021-06-29 20:05] mshafrir-stripe commented on #3885
@vinayakheg123 please re-open if you're still experiencing an issue.

[2021-06-30 04:28] IamMathankumar opened #3902 "Received Error inflating class com.stripe.android.view.CardMultilineWidget exception and app crashed in Accept a payment Android"
## Summary
 [Followed the Accept payment Kotlin document](https://stripe.com/docs/payments/accept-a-payment?platform=android), App crashed while calling presentPaymentSheet() function

## Code to reproduce
 Checkout activity kotlin class
`class CheckoutActivity : AppCompatActivity() {

    private lateinit var paymentSheet: PaymentSheet

    private lateinit var customerId: String
    private late

[2021-06-30 14:30] mshafrir-stripe commented on #3902
@IamMathankumar thanks for filing. Can you share what AndroidX dependencies you're using?

[2021-06-30 17:45] vijay7503637339 opened #3907 "Menifest Merge failed[BUG]"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

stripe-android:

Gradle:

## Other information

[2021-06-30 18:15] #3770 closed

[2021-07-01 03:07] IamMathankumar commented on #3902
@mshafrir-stripe Thanks for immediate response.

These all are app dependencies

` implementation 'androidx.core:core-ktx:1.6.0-rc01'
    implementation 'androidx.appcompat:appcompat:1.4.0-alpha02'
    implementation 'com.google.android.material:material:1.3.0'
    implementation 'androidx.constraintlayout:constraintlayout:2.0.4'
    implementation 'androidx.fragment:fragment-ktx:1.3.5'
    implem

[2021-07-01 13:23] michelleb-stripe commented on #3902
This is an issue with 1.4.0-alph02 of androidx.appcompat:appcompat.  If you are able to downgrade to 1.3.0 that will work, otherwise a fix will be in the next release.

[2021-07-01 15:50] infodesga opened #3926 "[BUG] Crash SDK on Android API 24 when display payment screen"
## Summary
SDK Crash on android API 24

## Code to reproduce
As android kotlin [documentation ](https://stripe.com/docs/payments/accept-a-payment?platform=android) say on Stripe:

[code]

## Android version
API 24 Crash
API 30 works fine

## Impacted devices
Crash on real devices and emulators with Android 7 (Nougat).

## Installation method
Installed as a gradle dependency

## Dependency Versions

[2021-07-01 15:54] #3926 closed

[2021-07-01 17:27] #3902 closed

[2021-07-01 21:10] ccen-stripe commented on #3860
Hi @apelt , we're looking into this in our backend, do you mind reproduce this issue from your test key and share us the payment Intent ID that doesn't get updated to `visa`

[2021-07-02 09:47] Significantinfotech2020 commented on #3885
Hello @mshafrir-stripe

I upgraded stripe dependency version from 10.4.6 to 16.9.0

After updating stripe dependency I can not build apk.

I faced "Manifest merger failed with multiple errors, see logs"  error.

Below are my logcat  error.

[code]

Please help me to solve this issue.

[2021-07-02 13:03] mshafrir-stripe commented on #3885
What version of Gradle and Android Gradle Plugin are you using?

[2021-07-02 21:11] gabediazm opened #3949 "[BUG] PaymentSheet.FlowController PaymentOptionCallback returns a payment option when tapping 'close' icon"
## Summary
PaymentOptionCallback.onPaymentOption returns data even though close icon has been tapped

## Code to reproduce
1 - setup with flowController.configureWithSetupIntent()
2 - trigger new sheet by calling  flowController.presentPaymentOptions()
3 - close/dismiss without selecting an option.

The expected result here will should be **null** instead of paymentOption data (label + resId)

##

[2021-07-02 21:21] michelleb-stripe commented on #3949
Thanks for writing in.

Our intent is that the receiver of the callback will always receive the last user selected Payment Option.  This means that if they selected a Visa card, and then went to select a different card, but cancelled the Visa card would still be returned, and the user can just click Buy.

Can you describe the scenario in which you would want null rather than the last selected paym

[2021-07-02 21:30] gabediazm commented on #3949
Thanks for the quick answer.

I'm currently implementing the multi-step solution and trying to use the new payment sheet (migrating from the old prebuilt UI) to let the customer choose either a new or existing credit/debit card. In this scenario, I don't want to pre-select the previous card for him when he taps on 'close' or dismiss the sheet but rather have him select or cancel the action and the

[2021-07-02 22:56] michelleb-stripe commented on #3949
So we have designed the cancel behavior to work as follows:

In the case of a new customer:
1. When the flowController is configured the `onConfigured` callback will be invoked and it will then call `onPaymentOption` with a null argument.
2. If the flowController.present is then called, the sheet will open prompting the user to add new card details or pay with google pay.   If the user begins ente

[2021-07-02 23:30] gabediazm commented on #3949
Im talking about the case existing customer with last used card ****4242.

If _flowController.present_ called and NOT pressed "add new card" but "close" icon or dismiss. I think it doesn't make sense that _onPaymentOption_ returns last used card since technically the customer have not selected any yet for this transaction.

[2021-07-03 05:33] Significantinfotech2020 commented on #3885
@mshafrir-stripe

I used below dependecies:

[code]

This are Android Gradle Plugin:

[code]

[2021-07-03 10:51] michelleb-stripe commented on #3949
We don't currently have plans to change this behavior.

[2021-07-03 10:57] michelleb-stripe commented on #3885
@Significantinfotech2020 I did notice you are using some flutter plugins and did want to make you aware of a flutter project we are supporting: https://github.com/flutter-stripe/flutter_stripe

[2021-07-03 11:23] michelleb-stripe commented on #3885
@Significantinfotech2020 In the log you posted I am not seeing any Manifest merger failed with multiple errors.   Can you send your build logs?

[2021-07-03 11:25] michelleb-stripe commented on #3885
@Significantinfotech2020

We have sometimes found that differing Gradle, Kotlin, and Android gradle plugin versions cause different issues.  For 16.10.2, we recommend using:
Android Gradle plugin: 4.2.1
Gradle version 7.0.2
kotlin version 1.4.32

Match these versions in your build.gradle file:
- The kotlin version you will need to find in your build.gradle file manually.
- You can find the gradle

[2021-07-05 12:20] kirubakaranHTS opened #3952 "Mi Note - 7s Android app not redirecting back to app after completing a PaymentIntent Stripe"
## Summary

I integrated stripe payment in my project .
Android app not redirecting back to app after completing a PaymentIntent Stripe in Only Mi Note 7s device.
To solve this issue,we need to use return_url in PaymentIntent. but I don't know how to implement return_url

## Code to reproduce

## Android version

we used SdkVersion - 30
## Impacted devices

Mi Note 7s, vivo V2036.
## Installation

[2021-07-06 11:21] michelleb-stripe commented on #3952
Thanks for writing in, and I am sorry to hear you are having problems, we will try to help.

In 16.10.0 a return_url should not be required.

1. Can you describe a little more of which api you are using in the SDK?  Are you using this one?
[code]

2. What behavior are you seeing?  You can take a video of a connected device or emulator by:
  a. Open Android Studio.
  b. Click on View -> Tool Window

[2021-07-06 11:30] michelleb-stripe commented on #3902
Version 16.10.2 is released and should resolve your issue.

[2021-07-06 11:34] michelleb-stripe commented on #3803
This is now available in 16.10.2.  You can use it like below:
[code]

[2021-07-06 11:36] michelleb-stripe commented on #3770
@ChadiGSfeir A new version has been released, 16.10.2, and it should resolve this issue.

[2021-07-06 11:37] michelleb-stripe commented on #3926
@infodesga A new version has been released, 16.10.2, and it should resolve this issue.

[2021-07-06 12:10] kirubakaranHTS commented on #3952
Hi,
I used stripe in gradle.
implementation 'com.stripe:stripe-android:16.10.0'

I used this method to open payment sheet:
paymentSheet.presentWithPaymentIntent(
                paymentIntentClientSecret,
                new PaymentSheet.Configuration(
                        "Example, Inc.",
                        new PaymentSheet.CustomerConfiguration(
                                customerId

[2021-07-06 13:09] michelleb-stripe commented on #3952
You can remove the video now if you want to restrict access to the data.  I appreciate the extra information, it is really helpful.   I will take a look at it and get back to you.

[2021-07-06 13:11] kirubakaranHTS commented on #3952
Hi ,
this issue happened only in some devices( vivo V2036, Mi note 7s), other
devices is working fine.
Thanks.

*Kirubakaran , Senior Android Developer*
*Hitasoft Technology Solutions Pvt. Ltd.,*
thoughts sync with action
6/1 Karthick Center,
Kamala First Street,
China Chokikulam,
Madurai - 625002,
Tamil Nadu, India
Phone: 0452-4220611

On Tue, Jul 6, 2021 at 6:39 PM michelleb-stripe ***@***.***>

[2021-07-06 15:42] shamoon192 opened #3955 "Feature: Change default payment method"
we should be able to change default payment method from list of payment methods without making a purchase.
There is method we can use is to change default customer source but if we give payment method id, it throws error that payment id does not exists. If we have to follow a spacific format in that function for payment id, please let me know in comments.

[2021-07-06 18:51] brnunes-stripe commented on #3907
Hi @vijay7503637339, can you please provide more details on the issue you're seeing? Error logs and the information requested on the issue template would be helpful.

[2021-07-06 18:54] brnunes-stripe commented on #3894
Hi @scruffyfox, this issue is fixed in (v16.10.2)[https://github.com/stripe/stripe-android/releases/tag/v16.10.2]. Thanks for filing!

[2021-07-06 18:54] #3894 closed

[2021-07-06 20:30] michelleb-stripe commented on #3955
@shamoon192 Thanks for writing in.  Which api in the SDK are you requesting a change to?  Are you using a function in Stripe.kt or PaymentSheet.kt, or another class?  Which method are you using?

[2021-07-07 15:16] gabediazm commented on #3715
Hi, @michelleb-stripe do you have any ETA on when this will be available?

[2021-07-07 17:28] michelleb-stripe commented on #3715
It is on our backlog, but I don't have a date on when it will be available yet.

[2021-07-08 23:24] ccen-stripe commented on #3952
Hi @kirubakaranHTS , we use [Chrome Custom Tab](https://developer.chrome.com/docs/android/custom-tabs/overview/) to to open a url by default, on some devices where this is not available, we fallback to [WebView](https://developer.android.com/reference/android/webkit/WebView), which is less secure. The inconsistency you see is due to some devices doesn't have Chrome Custom Tab available.

We will h

[2021-07-09 11:43] alvarezGarciaMarcos opened #3973 "[BUG] Black background when launching PaymentSheet"
## Summary

I am using  _stripe-android v16.10.2_ and when the _PaymentSheet_ is presented, the background of the activity right below the sheet is black. The _PaymentSheet_ is presented correctly. I tried the same code in the emulator and it works just fine, so I assume the problem is something related to the phone itself.
## Code to reproduce

I used the code in the examples.

## Android version

[2021-07-09 12:09] alexfdz commented on #3290
As far as I can see in #2573 and in #3928 this issue has not been fixed yet and should not be closed. It creates confusion and wrong expectations about this important issue being fixed after an upgrade to `v16.10.0`.

@mshafrir-stripe could you reopen it?

[2021-07-09 13:55] IamMathankumar commented on #3902
Ok, Thank you

[2021-07-12 05:22] brnunes-stripe commented on #3907
I'll close this as a duplicate of #3885, feel free to reopen if they're different.

[2021-07-12 05:22] #3907 closed

[2021-07-12 05:24] #3803 closed

[2021-07-12 13:44] gabediazm commented on #3715
@michelleb-stripe thanks for the answer. We are seeking to release this to production and wanted to know what is the expected behaviour of expired / inactive cards?

[2021-07-12 19:21] mshafrir-stripe commented on #3874
@cvillaseca are you able to reproduce this issue on 16.10.2?

[2021-07-12 19:26] cvillaseca commented on #3874
@mshafrir-stripe We were able to fix the problem. We needed to add the `material` dependency to our `app` module. The problem is that the error associated wasn't showing in my Android Studio due to use JDK11. Sorry for the noise, closing the issue.

[2021-07-12 19:26] #3874 closed

[2021-07-12 19:27] mshafrir-stripe commented on #3874
Thanks for the quick response!

[2021-07-13 19:59] #2573 closed

[2021-07-15 18:21] emmaxCreative commented on #3719
I have the same problem and use case. I already collected all the billing details and payment is just the final step where I do not want to collect country and zip again.

AND I have a bigger problem with it. Since it uses the country from the device language as far as I know, it will show the wrong country for 90% of my users.
My app is used in Northern Italy where most of the users speak german

[2021-07-15 19:15] mshafrir-stripe commented on #2573
@freszu and others, I appreciate your patience with this issue. We have finally released [17.0.0](https://github.com/stripe/stripe-android/releases/tag/v17.0.0), which fixes this issue.

Please let me know if everything is resolved on your end after integrating with the latest release.

Thank you!

[2021-07-15 22:29] ccen-stripe commented on #3973
Hi @alvarezGarciaMarcos , we tried to reproduce this on Android 9 from our emulators and actual phones, but couldn't reproduce. Unfortunately we don't have a "Huawei Mate 10" at the moment, will try if we can get a device and update the ticket.

[2021-07-16 01:44] mshafrir-stripe commented on #3433
@sdoward we just launched `GooglePayLauncher` in https://github.com/stripe/stripe-android/releases/tag/v17.0.0 to greatly simplify integrating with Google Pay. This might be a good integration option for you, depending on your needs.

Here's an integration example: https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/activity/GooglePayLauncherIntegrationAct

[2021-07-16 01:45] #3433 closed

[2021-07-16 01:48] mshafrir-stripe commented on #2560
@minhazur-piash @furaiev we just launched `GooglePayLauncher` in https://github.com/stripe/stripe-android/releases/tag/v17.0.0 to greatly simplify integrating with Google Pay. We are also updating our publics docs to provide guidance for `GooglePayLauncher`. This might be a good integration option for you, depending on your needs.

Here's an integration example: https://github.com/stripe/stripe-an

[2021-07-16 01:49] mshafrir-stripe commented on #3236
👋  we just launched `GooglePayLauncher` in https://github.com/stripe/stripe-android/releases/tag/v17.0.0 to greatly simplify integrating with Google Pay. We are also updating our publics docs to provide guidance for `GooglePayLauncher`. This might be a good integration option for you, depending on your needs.

Here's an integration example: https://github.com/stripe/stripe-android/blob/master/exam

[2021-07-16 01:49] mshafrir-stripe commented on #2695
@Flo354 we just launched `GooglePayLauncher` in https://github.com/stripe/stripe-android/releases/tag/v17.0.0 to greatly simplify integrating with Google Pay. We are also updating our publics docs to provide guidance for `GooglePayLauncher`. This might be a good integration option for you, depending on your needs.

Here's an integration example: https://github.com/stripe/stripe-android/blob/master

[2021-07-16 01:50] mshafrir-stripe commented on #2600
@dominolog we just launched `GooglePayLauncher` in https://github.com/stripe/stripe-android/releases/tag/v17.0.0 to greatly simplify integrating with Google Pay. We are also updating our publics docs to provide guidance for `GooglePayLauncher`. This might be a good integration option for you, depending on your needs.

Here's an integration example: https://github.com/stripe/stripe-android/blob/mas

[2021-07-16 01:50] mshafrir-stripe commented on #774
@esoxjem we just launched `GooglePayLauncher` in https://github.com/stripe/stripe-android/releases/tag/v17.0.0 to greatly simplify integrating with Google Pay. We are also updating our publics docs to provide guidance for `GooglePayLauncher`. This might be a good integration option for you, depending on your needs.

Here's an integration example: https://github.com/stripe/stripe-android/blob/maste

[2021-07-16 01:51] mshafrir-stripe commented on #2101
@vhontar we just shipped `GooglePayLauncher` in https://github.com/stripe/stripe-android/releases/tag/v17.0.0 to greatly simplify integrating with Google Pay. We are also updating our publics docs to provide guidance for `GooglePayLauncher`. This might be a good integration option for you, depending on your needs.

Here's an integration example: https://github.com/stripe/stripe-android/blob/master

[2021-07-16 01:52] mshafrir-stripe commented on #784
👋 we just shipped `GooglePayLauncher` in https://github.com/stripe/stripe-android/releases/tag/v17.0.0 to greatly simplify integrating with Google Pay. We are also updating our publics docs to provide guidance for `GooglePayLauncher`. This might be a good integration option for you, depending on your needs.

Here's an integration example: https://github.com/stripe/stripe-android/blob/master/exampl

[2021-07-16 08:09] esoxjem commented on #774
Thanks @mshafrir-stripe

[2021-07-16 08:38] akankshaldots opened #4017 "No way to remove the pre-selected card."
The UI auto selects the last used payment method as default payment.

On next payment, event if I consider to not to do payment and press back button, **onActivityResult** calls and return payment method value in "**PaymentMethodsActivityStarter.Result.fromIntent(data)**".

[2021-07-16 10:06] akankshaldots opened #4018 "Back press not handled"
On click on back icon of stripe payment screen, or on click on system back press, onActivityResult get called

[2021-07-16 11:18] nataliakuznetsova commented on #3730
@michaelc-stripe thanks for your response. Does this mean that you dont consider this an issue?

[2021-07-16 12:38] michelleb-stripe commented on #3730
Correct, the widget is behaving as designed.

[2021-07-16 13:16] CoreFloDev opened #4019 "[BUG] Deployment of stripe 17.0.0 not completed?"
Hi,

I just tried to use version `17.0.0` but it seems that com.stripe:paymentsheet:17.0.0 isn't resolvable

I am using
    repositories {
        google()
        mavenCentral()
        jcenter()
    }

Am i missing something?

Thanks!
Flo

[2021-07-16 13:21] mshafrir-stripe commented on #4019
@CoreFloDev thanks for flagging. This is on our radar and we hope to resolve it today.

[2021-07-16 15:23] mshafrir-stripe commented on #4019
This is now resolved. Thanks again.

[2021-07-16 15:23] #4019 closed

[2021-07-19 06:29] inulugbek opened #4022 "Upgrade TapAndPay library to 17.1.0"
`com.stripe:stripe-android-issuing-push-provisioning`
Dependency to `TapAndPay` library should be upgraded to the latest 17.1.0 to support new `listTokens` feature

`listTokens`
Returns a list of tokens and associated metadata registered to the active wallet.

This is a very vital and long requested feature

[2021-07-19 13:59] gabediazm commented on #3715
@michelleb-stripe could you please provide an answer to the above question? Thanks

[2021-07-19 20:24] michelleb-stripe commented on #4017
This is currently as designed.   Every time you return from the payment sheet the onActivityResult will be called with the last successfully selected payment method.

[2021-07-19 20:25] michelleb-stripe commented on #4018
This is currently as designed. Every time you return from the payment sheet the onActivityResult will be called with the last successfully selected payment method.

[2021-07-20 10:44] CoreFloDev opened #4027 "[BUG] dependency to rxjava since 17.0.0"
Hi,

It looks like you added a dependency to rxjava since the version 17.0.0 that comes via androidx.compose.runtime:runtime-rxjava2:1.0.0-rc02 but as far as I can see there isn't any api provided for Rxjava so why include it? is it just a copy paste?

it seems to come from com.stripe:paymentsheet:17.0.0

[code]

Thanks,
Flo

[2021-07-20 10:56] jaypratapsingh opened #4028 "[BUG] com.stripe.net.ReflectionCheckingTypeAdapterFactory.create (ReflectionCheckingTypeAdapterFactory.java:17)"
Fatal Exception: java.lang.NoSuchMethodError
No interface method getTypeName()Ljava/lang/String; in class Ljava/lang/reflect/Type; or its super classes (declaration of 'java.lang.reflect.Type' appears in /system/framework/core-oj.jar)

[2021-07-20 15:18] michelleb-stripe commented on #4027
Yes, paymentsheet is using compose, in a future release we hope to change the dependency so that core doesn't depend on payment sheet.

[2021-07-20 15:18] michelleb-stripe commented on #4028
@jaypratapsingh Could you provide the full stack trace?

[2021-07-20 15:53] gabediazm commented on #3949
The explanation was clear enough. Closing ticket.

[2021-07-20 15:53] #3949 closed

[2021-07-20 16:46] jaypratapsingh commented on #4028
`Fatal Exception: java.lang.NoSuchMethodError: No interface method getTypeName()Ljava/lang/String; in class Ljava/lang/reflect/Type; or its super classes (declaration of 'java.lang.reflect.Type' appears in /system/framework/core-oj.jar)
       at com.stripe.net.ReflectionCheckingTypeAdapterFactory.create(ReflectionCheckingTypeAdapterFactory.java:17)
       at com.google.gson.Gson.getAdapter(Gson.j

[2021-07-20 18:05] CoreFloDev commented on #4027
compose is fine, the part I don't get is why it is using rxjava, as you don't seems to use it internally

[2021-07-21 06:06] brnunes-stripe commented on #4022
Hi @inulugbek,
Thanks for creating the issue, I'll look into this.

[2021-07-21 07:27] brnunes-stripe commented on #3878
Hi @fbarthelery, thanks for the details! Fixing this in #4034.

[2021-07-21 07:31] #3697 closed

[2021-07-21 07:36] brnunes-stripe commented on #4027
Hi @CoreFloDev, you are correct, thanks for raising! Fixing in #4035.

[2021-07-21 07:47] brnunes-stripe commented on #3952
Hi @kirubakaranHTS, the change mentioned by @ccen-stripe is included in release [v17.0.0](https://github.com/stripe/stripe-android/releases/tag/v17.0.0). Can you please update your dependency and report back if you still see the issue?
Thanks!

[2021-07-21 12:46] calvarez-ov commented on #3829
I'm experiencing this with stripe 17.0.0:

[2021-07-21 12:49] calvarez-ov commented on #4027
I have a couple of problems:

:one: we want to avoid depending on unstable dependencies. It looks like now compose is required if we want to use stripe, and only unstable versions exist?

:two: getting a build error in our app when trying to update our app to use stripe 17.0.0:

[2021-07-21 13:12] calvarez-ov commented on #2493
Could you please confirm that custom tabs is now required in 17.0.0?  I don't see a way to set the return url anymore.

Thanks!

[2021-07-21 13:17] kirubakaranHTS commented on #3952
Hi,

Thanks for your cooperation.

 I have updated my dependency implementation
'com.stripe:stripe-android:17.0.0' in my gradle & I checked still this
issue is happened in live  mode(Live card Test).
 but when I check in test mode, external browser is not opened  & issue not
happened.

 I mentioned issue in below video link
https://www.dropbox.com/s/imcfy65h4p9y956/freepostissyes.mp4?dl=0

Thanks.

[2021-07-21 13:32] calvarez-ov opened #4036 "[Feature] Support only stable versions of libraries (make payment sheet artifact optional)"
**Is your feature request related to a problem? Please describe.**
We prefer to stay on stable versions of dependencies.  In Stripe 17.0.0, there are rc and alpha version dependencies to some compose artifacts.

Related issues:
#4027
#3272

**Describe the solution you'd like**
Only use stable versions of depedencies

**Describe alternatives you've considered**
We can stay on an old version of stri

[2021-07-21 15:08] michelleb-stripe commented on #4036
@calvarez-ov I understand the desire to wait for stable versions of dependencies.   We are hopeful that the compose state release will be out soon!

We are still working on #3714, #3719 and #3715.   We will keep you updated as we complete them.

[2021-07-21 17:43] #4027 closed

[2021-07-21 17:44] #3878 closed

[2021-07-21 22:36] palakRpatel opened #4040 "How to change Default card icon and CVV icon?"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-07-21 22:40] dalton5 commented on #3715
Hi,

How did you get select payment method screen? I can't have it by using the payment view. It always shows the screen to fill new card details.

[2021-07-22 08:46] maciej-wichrowski commented on #3952
We have experienced same behavior. The button is not triggering any redirect.
stripesdk://payment_return_url/com.xxx.app?setup_intent=seti_xxx&setup_intent_client_secret=seti_xxx&source_redirect_slug=live_xxx

[2021-07-22 11:09] michelleb-stripe commented on #4040
@palakRpatel Currently we do not support changing the card icon or CVV icon on the CardFormView or PaymentSheet.

Can you provide which widget in the SDK you are using? And also provide the SDK version number you are using?

[2021-07-22 11:57] palakRpatel commented on #4040
Also can't we change default card icon when user has not entered card number?

[2021-07-22 17:30] michelleb-stripe commented on #4040
@palakRpatel We do not support changing the card icon at all.

Can you provide which widget in the SDK you are using? And also provide the SDK version number you are using?

[2021-07-22 22:55] demo55oo commented on #1805
where did you  put excatly

[2021-07-26 09:12] calvarez-ov opened #4047 "[Documentation] Requesting clarification on chrome custom tabs vs webview for 3DS 1"
* In Stripe 16.x, it's possible to force using WebView for 3DS 1, by specifying a return url. This was mentioned in another issue: https://github.com/stripe/stripe-android/issues/2493#issuecomment-828560960
* In Stripe 17.0.0, the return url parameter was removed, as described in the [migration document](https://github.com/stripe/stripe-android/blob/master/MIGRATING.md).

Could you please add a st

[2021-07-26 13:19] michelleb-stripe commented on #4047
@calvarez-ov The SDK will use Custom Chrome tabs when supported by a browser on the phone, otherwise it will fallback to a WebView.  There is no way to force it to use a WebView.

I will add a note in the migration guide as well.

[2021-07-26 22:32] brnunes-stripe commented on #3789
Hi @cmcheungapp,
can you please check if this issue is still happening with the latest release?
If so, could you add an updated stack trace here so we can investigate further?
Thanks

[2021-07-27 12:21] CCCCauchy opened #4054 "[BUG] Stripe SDK 16.10.0 is not compliant with one or more of our Developer Program Policies"
Google has sent email to me.But i has updated stripe SDK to 16.10.0。 Why still  happened the issue?

![image](https://user-images.githubusercontent.com/20200752/127150062-32df12e8-fc3e-4f16-bdd8-f2d8170a365a.png)

[2021-07-27 17:27] brnunes-stripe commented on #4054
Hi @CCCCauchy, thanks for raising the issue!
We're aware that older versions of the SDK were flagged as non-compliant, but that should not include any version above 14.3.0. Were you using a version lower than 14.3.0, and just recently upgraded?

[2021-07-27 19:52] niccorder-dd commented on #4054
Hey @brnunes-stripe, I also received this message as well.

I did upgrade our stripe SDK recently from `14.2.1` -> `16.9.0`... would this cause any issues?

[2021-07-27 19:55] tmtrademarked commented on #4054
Just to point something out in case it helps - Google might send you this email if any of your APKs in any of your tracks still contain the old SDK. That happened to me this morning, and caused me a bit of a scare. So make sure you check all of your various testing/internal tracks/etc to ensure that they have an SDK greater than 14.3.0 (as @brnunes-stripe mentioned above).

[2021-07-27 19:58] niccorder-dd commented on #4054
Thanks @tmtrademarked – will investigate on that front as well!

[2021-07-27 21:26] brnunes-stripe commented on #4054
We're investigating and trying to verify with Google if it's actually an issue with our latest release.
We believe versions 14.3.0 and above are compliant, and these messages might be because of what @tmtrademarked pointed, or they're being sent because the apps recently depended on a non-compliant SDK version.
@niccorder-dd can you please report back if you found out the reason?

[2021-07-27 21:38] niccorder-dd commented on #4054
I've also reached out to google-play for the exact reason as well.

We do have an older version on our internal testing track that may be the cause (that @tmtrademarked suggested), but I'm not 100% sure if this is the cause still.

@brnunes-stripe Will follow-up here with more details as I find out.

[2021-07-27 23:48] michelleb-stripe commented on #3952
@maciej-wichrowski and @kirubakaranHTS We are releasing version 17.1.0 which has a fix to make the redirect work on Firefox.  I hope this also makes it work on the Mi Note Browser.

If you are still having issues after updating to 17.1.0, please let us know.

[2021-07-28 00:39] #4047 closed

[2021-07-28 02:11] CCCCauchy commented on #4054
Thank you ! we really have an older version on our internal testing track.I have stop the track. Hope it can be resolved.

[2021-07-28 03:39] rmanacmol opened #4056 "[BUG] Stripe confirm payment intent does not trigger onActivityResult"
Stripe version : 15.1.0
Android details :
minSdkVersion 23
targetSdkVersion 29

//Confirm Payment
[code]

//onActivity Result

[code]

[2021-07-28 08:08] kirubakaranHTS commented on #3952
Hi,
Thanks for your response. I will check and update you soon.
Thanks.

*Kirubakaran , Senior Android Developer*
*Hitasoft Technology Solutions Pvt. Ltd.,*
thoughts sync with action
6/1 Karthick Center,
Kamala First Street,
China Chokikulam,
Madurai - 625002,
Tamil Nadu, India
Phone: 0452-4220611

On Wed, Jul 28, 2021 at 5:19 AM michelleb-stripe ***@***.***>
wrote:

[2021-07-28 12:18] kirubakaranHTS commented on #3952
Hi,
we updated to 17.1.0 in gradle & checked this issue. In Redmi Note 7s, when
enter card details , it is stuck & it is not going forward after enter card
details .
It is showing processing in Pay button.   In all devices(except Redmi
note7s) it is working correctly.
Thanks.

*Kirubakaran , Senior Android Developer*
*Hitasoft Technology Solutions Pvt. Ltd.,*
thoughts sync with action
6/1 Karthick

[2021-07-28 14:28] michelleb-stripe commented on #3952
@kirubakaranHTS Does this accurately describe what you are seeing:
1. Enter card details
2. Press pay
3. Redirected to a browser to do confirmation
4. Confirm authentication in the browser
5. See the PaymentSheet again, and the buy button is showing processing forever and never dismisses?

If this is the case there is a fix in 17.1.0 that should fix it.  17.0.1 should be out later today.

[2021-07-28 18:58] michelleb-stripe commented on #3885
Please feel free to reopen this issue if you are still experiencing issues.

[2021-07-28 18:58] #3885 closed

[2021-07-28 21:12] yuki-stripe commented on #3714
Hey @calvarez-ov,

We're working on adding the ability for you to pre-fill billing details in the sheet, like country and postal code. This means that when the sheet appears, it will have those fields filled out with the values you provide.

Does that work for your use case? Your feedback is appreciated!

[2021-07-29 01:42] #4036 closed

[2021-07-29 17:37] brnunes-stripe commented on #4022
Hello @inulugbek,
We've published a [new version of the library](https://search.maven.org/artifact/com.stripe/stripe-android-issuing-push-provisioning/1.0.4/aar) yesterday, which depends on `play-services-tapandpay` v17.1.2.
For now you'll have to call `listTokens` directly on `TapAndPayClient`, as we haven't added the new methods to our library.
Also in order to get the tokens you'll need them to

[2021-07-29 17:37] #4022 closed

[2021-07-29 17:57] brnunes-stripe commented on #2560
So we have two different asks here:

@minhazur-piash,
There's no way to verify if the user has cards added to Google Pay. You can only verify if Google Pay is available on the device, through [`PaymentsClient.isReadyToPay`](https://developers.google.com/android/reference/com/google/android/gms/wallet/PaymentsClient#isReadyToPay(com.google.android.gms.wallet.IsReadyToPayRequest)) or using Stripe's

[2021-07-29 17:57] #2560 closed

[2021-07-29 18:09] brnunes-stripe commented on #4054
So for the record if you are facing this issue, make sure:

- You've upgraded to v14.4.0 or higher.
- You don't have older versions of your app bundled in your active release version (to support older Android versions, for example)
- You don't have older versions of your app available in testing tracks on Google Play Console.

If you're still having issues please reopen this ticket and we can take

[2021-07-29 20:12] plevetsky opened #4067 "[BUG] Text keyboard being used for card number input in PaymentSheet"
## Summary
A text keyboard is shown for card number entry in `com.stripe.android.paymentsheet.PaymentSheet`.  This makes number input very difficult.  Video of user experience attached.

## Code to reproduce
Standard PaymentSheet integration (as per example code in dev docs).

## Android version
Discovered using Android 8.1.0, may apply to other versions.

## Impacted devices
Discovered on Google

[2021-07-30 12:49] acarpe commented on #4054
Hi @brnunes-stripe ,
We upgraded to 16.10.0.
We do not have any older versions in our app bundle.
We do not have any older versions of our app available in other channels.

I contacted the google support but for two times in a row said:
[code]

and the bundle version 80 is our latest one.

[2021-08-02 21:34] martymiller opened #4078 "[BUG] Unable to to target API 31 (Android 12) because of StripeBrowserLauncherActivity"
I'm trying to target Android 12 in the app I'm working on.  One of the requirements is to declare `exported=true/false` in the Manifest for each activity that declares an Intent filter.  Otherwise the app will fail to install.  I've done this for my activities, however this apparently also applies to any Activity in dependencies. This looks to be missing in the manifest that declares StripeBrowser

[2021-08-02 22:08] #4078 closed

[2021-08-03 19:00] nasif opened #4079 "facing issue with integrating PaymentSheet in android"
HI,
I followed the android integration steps as per the link
https://stripe.com/docs/payments/accept-a-payment?platform=android
I am using following dependencies in my  gradle as per the docs
**implementation 'com.stripe:stripe-android:17.1.0'**
But i am mot able to locate PaymentSheet class inside this depencies, did i need to use any extra dependencies is there any sample code with PaymentSheet,

[2021-08-05 00:27] awfasano commented on #2640
Do you have an updates related to this issue?

[2021-08-05 10:34] kirubakaranHTS commented on #3952
Hi,
I faced issue following scenarios:
*Enter card details
*then click pay button . pay button is showing as processing. it does not
redirected to Otp page
*this issue happend only in Redmi note 7s so this is my issue in V17.1.0

Thanks

*Kirubakaran , Senior Android Developer*
*Hitasoft Technology Solutions Pvt. Ltd.,*
thoughts sync with action
6/1 Karthick Center,
Kamala First Street,
China Chok

[2021-08-05 12:21] calvarez-ov opened #4087 "[BUG] Not falling back to webview if browser is installed but disabled"
## Summary
Preconditions:
Device has the default browser installed, but it's disabled (no other browsers installed)

## Code to reproduce
[code]

## Android version
Tested Android 6 and Android 8

## Impacted devices
Tested:
* Emulator: Android 6
* LG V20 (Android 8)

## Installation method
Gradle dependency

## Dependency Versions

kotlin:1.5.21
stripe-android:17.1.0
Android Gradle Plugin: 7.0.0

[2021-08-05 18:05] gabediazm commented on #3715
Hi @michelleb-stripe, do you have an ETA yet? I would really appreciate it if you could provide one. Thanks

[2021-08-06 04:39] nasif commented on #4079
Any update ?

[2021-08-06 19:39] ccen-stripe commented on #4056
Hi @rmanacmol , this should get triggered, please see our example [here](https://github.com/stripe/stripe-android/blob/71be61b1ee347ad4d2bdb1b0339e682867b2979e/example/src/main/java/com/stripe/example/activity/StripeIntentActivity.kt#L170).
A couple of possible fixes:
1. You should save the `Stripe` object in your `Activity` or `ViewModel`
2. Is it possible your activity gets destroyed after `Stri

[2021-08-06 19:47] ccen-stripe commented on #4079
Hi @nasif , do you mean you can't find the class from its `aar` file downloaded? Stripe SDK has multiple modules, the `PaymentSheet` class lives in the [payment-core](https://search.maven.org/artifact/com.stripe/payments-core/17.1.0/aar) module, which is a [dependency](https://search.maven.org/artifact/com.stripe/stripe-android/17.1.0/aar) downloaded separately when you declare
`implementation 'co

[2021-08-06 20:41] ccen-stripe commented on #4087
Hi @calvarez-ov Thanks for flagging this, we're taking a look and will get back to you soon

[2021-08-06 21:03] tanvi12 opened #4089 "[BUG] Payment-sheet pay button disabled when entering correct postal code in small letters (Canada postal codes)"
Allow postal code to enter in only capital letters or either it should be enabled when entered correct zip code in small letters

## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

kotlin:
stripe-android:
Android Gradle Plugin:
Gradle:

## SDK classes

## Video

## Other information

[2021-08-06 22:46] forntoh opened #4091 "[Feature] Bancontact payment support for Jetpack Compose"
**Is your feature request related to a problem? Please describe.**
It's really difficult to integrate the Bancontact payment method into a Compose app, also the PaymentSheet doesn't support the Bancontact payment method.

Right now the only way to start a Bancontact payment is by using `stripe.confirmPayment(activity, params)`, which means that you need to launch form activity and observe results

[2021-08-09 07:00] helozq1 commented on #1270
How to enable delete option in new ui android?
![image](https://user-images.githubusercontent.com/83276978/128669941-f50772c3-7760-4e4a-8e4a-c77de3c40429.png)

[2021-08-09 18:47] ccen-stripe commented on #4087
Hi @calvarez-ov , the cause of this issue is that we introduced ChromTab and disabled WebView, as WebView is insecure(Please see more details [here](https://developer.chrome.com/docs/android/custom-tabs/overview/)). We're in the process to sunset WebView.

All Android phones should ship with a browser, the case where a phone doesn't have a browser or have it disabled sounds like an extreme edge ca

[2021-08-09 19:25] calvarez-ov commented on #4087
Indeed, this is an extreme edge case 😅 As long as it's not revealing any potential issues with more reasonable edge cases, I'll be ok with closing it without a fix.

Thanks!

[2021-08-10 06:24] helozq1 opened #4093 "How to enable delete option in new ui android?[Feature]"
How to enable delete option in new ui android?
![128669941-f50772c3-7760-4e4a-8e4a-c77de3c40429](https://user-images.githubusercontent.com/83276978/128818396-915af788-bb49-41c5-b7f0-345ad61307a2.png)

[2021-08-10 09:47] agrawalshubham1012 commented on #4079
Hi @nasif , Please check kotlin version . I also faced trouble with same issue due to kotlin version.

[2021-08-10 12:08] ritubala1415 commented on #4079
Hi @nasif , Please check Language& Framework Kotlin version in your plugins. Stripe 17.1.0 uses 1.4.21 so our kotlin version should be same or greater than this.

[2021-08-10 12:51] lbrembil opened #4094 "[BUG] ramdom app crash when we try to add a new card"
During the last 30 days, we are experiencing a random issue. Some of our clients can add a new card without any issue but others do not, moreover the application is crashing when stripe fails ... some of them after trying multiple times, finally can add the card ...

We couldn't reproduce the application crash until today, we got the following information after the crash. Anyone can help us to und

[2021-08-10 13:31] michelleb-stripe commented on #4093
@helozq1 Thanks for writing in, this functionality is not yet available, but it is in our backlog.

[2021-08-10 13:40] michelleb-stripe commented on #4094
@lbrembil Can you verify that you are using SDK version 16.10.2 or higher?

[2021-08-10 13:41] #4087 closed

[2021-08-10 13:49] lbrembil commented on #4094
We are using SDK version 14.X.X

The most strange thing is that we did not update the application since we implemented that SDK version last year, and now the application has become unstable since the beginning of July.

[2021-08-10 13:55] michelleb-stripe commented on #4094
@lbrembil There are several updates since 14.x.x and I would be happy to help you migrate to the latest version.   The [migration guide](https://github.com/stripe/stripe-android/blob/master/MIGRATING.md) might be helpful.

[2021-08-10 14:01] tanvi12 commented on #4089
Is there any update on this?

[2021-08-10 15:04] michelleb-stripe commented on #4089
@tanvi12 I will take a look, let me get back to you.

[2021-08-10 17:33] michelleb-stripe commented on #4054
@acarpe In your previous message the error from google was in regards to a version 80.  However, I believe I was able to download the latest version of your app from the google play store, and I am seeing version Code 81 (version 1.5.46?).   I am curious if you published a new version since your last message, and if you are still receiving emails about non-compliance from google about your apk wit

[2021-08-10 17:49] ccen-stripe commented on #4091
Hey @forntoh , we're working on a new API to replace `Stripe`, which uses the new [ActivityResultLaunhcer](https://developer.android.com/reference/androidx/activity/result/ActivityResultLauncher). So instead of capturing th eresult in `onActivityResult`, you pass a callback to the API object when creating it.

The API object will be available in a couple of weeks, will let you know when it is avai

[2021-08-11 05:51] helozq1 commented on #4093
Thanks @michelleb-stripe to write back. Will looking forward to it. :)

[2021-08-11 08:41] acarpe commented on #4054
I published a new version after upgrading to the 16.10.2.
I hope this will work for them.

[2021-08-11 11:58] EjazAmir opened #4099 "[BUG] Manifest Merge Error"
Hi,
I have upgrage the stripe version to 9.6.0 and i got following error while gradle building:
[com.stripe:stripe-android:16.9.0] /Users/ejaz/.gradle/caches/transforms-2/files-2.1/c6de7558a328d332d19607c847fdd52b/AndroidManifest.xml:13:9-54 Error:
	Missing 'package' key attribute on element package at [com.stripe:stripe-android:16.9.0] AndroidManifest.xml:13:9-54
[com.stripe:stripe-android:16.9.0

[2021-08-11 12:16] michelleb-stripe commented on #4054
@acarpe I am going to close this issue, but feel free to re-open it if you still have problems.

[2021-08-11 12:16] #4054 closed

[2021-08-11 12:35] michelleb-stripe commented on #4099
@EjazAmir I am sorry to hear you are having trouble.  I have seen this error happen before if the Android Gradle Plugin and Gradle version do not match the library.

You can run the following to get the versions you are using:
[code]

Here is the version we are using in 17.1.0:
[code]

[2021-08-11 12:45] EjazAmir commented on #4099
but i dont want to upgrade to 16.x.x because my project is too old to upgrde to that gradle versions. how can i fix the google compliance issue, im on 10.x.x verison currently.

[2021-08-11 13:32] EjazAmir commented on #4099
Gradle Version: 5.4.1-bin.zip
Android Gradle Version: 3.4.2
Stripe library version: 16.9.0

[2021-08-11 13:48] michelleb-stripe commented on #4067
@plevetsky I was not able to reproduce this issue on a 8.1 Android emulator.   This field is using a `InputType` of `TYPE_CLASS_NUMBER`.   This is also used on the CVC field, expiration date, and the US zip code.   Are you also seeing the same behavior on these fields as well?

When is the keyboard first shown?  The video shows the keyboard already open.  Is the keyboard open only when you click o

[2021-08-11 13:52] michelleb-stripe commented on #4099
@EjazAmir Can you try upgrading your Android Gradle Plugin version from 3.4.2 to 3.4.3?

[2021-08-11 14:27] EjazAmir commented on #4099
same error, i did.

[2021-08-11 15:44] brnunes-stripe commented on #3715
I'm currently working on the deletion feature, it should be part of our next release.

@dalton5 You'll see the saved payment methods if you're passing the `CustomerConfiguration` like below and the customer has saved payment methods. If you pass the `CustomerConfiguration` and they don't have any saved payment methods, they'll see the screen to add a new one, and a checkbox allowing them to save f

[2021-08-11 15:44] brnunes-stripe commented on #4093
Hi @helozq1, I'm currently working on this feature and it should be part of our next release.

[2021-08-11 15:45] brnunes-stripe commented on #4093
Closing as duplicate of https://github.com/stripe/stripe-android/issues/3715

[2021-08-11 15:45] #4093 closed

[2021-08-12 11:14] shubhamrb opened #4102 "Google pay integration using GooglePayLauncher"
## Summary
onGooglePayReady always returns false.

## Code to reproduce
 final GooglePayLauncher googlePayLauncher = new GooglePayLauncher(
                this,
                new GooglePayLauncher.Config(
                        GooglePayEnvironment.Test,
                        "IN",
                        "Widget Store"
                ),
                this::onGooglePayReady,

[2021-08-12 11:29] michelleb-stripe commented on #4102
@shubhamrb I am sorry that onGooglePayReady is always returning false.

In order to test and use Google Pay on a phone you must have the Google Pay App installed, and a payment method added as described [here](https://developers.google.com/pay/api/android/guides/setup).

Sometime users worry that during testing the payment method attached to their Google Pay account will be charged.  If you set th

[2021-08-12 11:32] shubhamrb commented on #4102
i've Google pay installed in my phone,

also i've added following lines in my manifest :

<meta-data
    android:name="com.google.android.gms.wallet.api.enabled"
    android:value="true" />

still facing this issue

[2021-08-12 13:35] UsamaKarim commented on #3715
@bruno-stripe Is there a possibility if I can use Payment Sheet for only adding cards to save them for future use Like instead of a "Pay" button, there is a "Save" button only

[2021-08-12 13:49] michelleb-stripe commented on #4102
@shubhamrb Can you share the following values being set in the `GooglePayLauncher.Config`?

- environment (GooglePayEnvironment) - Test or Production?
- merchantCountryCode
- isEmailRequired - True or False?
- BillingAddressConfig
    - isRequired - True or False?
    - format - Min or Full?
    - isPhoneNumberRequired - True or False
- existingPaymentMethodRequired - True or False?

[2021-08-12 13:55] shubhamrb commented on #4102
new GooglePayLauncher.Config(
                        GooglePayEnvironment.Test,
                        "IN",
                        "Widget Store",
                        false,
                        new GooglePayLauncher.BillingAddressConfig(
                                false, GooglePayLauncher.BillingAddressConfig.Format.Min,
                                true

[2021-08-12 16:27] shubhamrb commented on #4102
FYI i am using it inside Fragment.

[2021-08-12 20:12] michelleb-stripe commented on #4102
@shubhamrb Google Pay is not available across all countries and devices.  I am curious if you would be able to test it out on an emulator?

[2021-08-12 20:39] michelleb-stripe commented on #4099
@EjazAmir If you are upgrading a 10.x.x version of the Stripe Android SDK because of a Google Play Store policy violation email, you can upgrade to Stripe Android SDK 10.5.0.

You will need to make sure:
- You don't have older versions of your app bundled in your active release (to support older Android versions, for example)
- You don't have older versions of your app available in testing tracks

[2021-08-12 21:50] michelleb-stripe commented on #3715
@UsamaKarim I think what you might want to use is a SetupIntent.   You can see the difference between SetupIntents and PaymentIntents described here: https://support.stripe.com/questions/payment-intents-api-vs-setup-intents-api

We will have official documentation for SetupIntents soon but for now you can follow [this](https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=payment-s

[2021-08-13 04:13] helozq1 commented on #4093
Thank you so much.

[2021-08-13 05:47] shubhamrb commented on #4102
@michelleb-stripe can you please confirm if it is available in India?

and as you suggest for emulator, I will try but i guess in emulator Google pay app won't work

[2021-08-13 05:50] UsamaKarim commented on #3715
@michelleb-stripe Thanks for the response.
I am a flutter developer. I opened the issue on `flutter_stripe` but they redirected me here. They told that they are waiting for the implementation from native SDK. That's why I asked here. I'll try to implement that with your guidance.

Thanks

[2021-08-13 08:13] kamandemwangi commented on #4079
Facing the same issues as @nasif and I am using java. Any updates?
Thank You.

[2021-08-13 12:10] michelleb-stripe commented on #4102
@shubhamrb I currently have PaymentSheet from the Stripe SDK working with Google Pay on my emulator, so you shouldn't have any trouble.  Specifically I am using Android 10.0 (Google Play), I have also associated my Google account with the phone.  I am happy to help if you have any trouble getting it set up.

Based on [this](https://support.google.com/pay/india/answer/9023773?hl=en&visit_id=6376445

[2021-08-13 12:24] shubhamrb commented on #4102
@michelleb-stripe can you please help me with the pseudocose for paymentsheet integration, because i used it previously and it didn't work.

[2021-08-13 12:48] michelleb-stripe commented on #4102
@shubhamrb Since you already have GooglePayLauncher configured and setup you can continue to use it.  I have verified that GooglePayLauncher will also work on the emulator:  Android 10.0 (Google Play).

[2021-08-13 12:57] michelleb-stripe commented on #4079
@kamandemwangi

1. We have found that matching the following libraries and tools with the Stripe SDK version sometimes resolves issues.  For 17.1.0 these tools and versions are:
[code]

2. Verify that you have the following in your gradle file:
[code]

3. Can you provide the versions you are using for the following?
- com.android.tools.build:gradle
- Gradle

[2021-08-13 13:08] shubhamrb commented on #4102
@michelleb-stripe i tried in emulator also but it didn't work, i don't know i am doing something wrong

[2021-08-13 14:25] michelleb-stripe commented on #4102
@shubhamrb I am continue to troubleshoot your issue.

When setting up my account on GooglePay I had to add a card on a real phone, and then use the same GooglePay account on the emulator.  (This is because the GooglePay standalone could not be opened on the emulator to setup the card).

Could you share how you configured GooglePay for your account?  Which type of card network you associated with y

[2021-08-13 14:47] shubhamrb commented on #4102
@michelleb-stripe i didn't have any card in my Google pay account, i have connected by bank account using registered mobile number.

[2021-08-13 17:44] Pacchio77 opened #4104 "[BUG] App crash after presentForPaymentIntent method of GooglePayLauncher if paymentIntent is cancelled"
## Summary

Our app follows the sample code of the Stripe documentation and it behaves as expected with a valid paymentIntent.
The flow that generates the unexpected behaviour is the following:
- In our backend, a payment_intent is created without `payment_method` and with `capture_method: manual`
- The client gets the `client_secret` for the payment_intent from the backend
- The client calls on t

[2021-08-13 18:13] michelleb-stripe commented on #4102
@shubhamrb Google Pay lists the supported PaymentMethods [here](https://developers.google.com/pay/api/android/reference/request-objects#CardParameters).  As of today, they support a limited number of Cards or PayPal.  Unfortunately a connected bank account is not supported.

Today the SDK works with a subset of what Google Pay supports.  It should work with the following cards: "AMEX", "DISCOVER",

[2021-08-13 20:22] michelleb-stripe commented on #4104
@Pacchio77 We will take a look and get back to you.

[2021-08-14 05:18] shubhamrb commented on #4102
@michelleb-stripe that's really unfortunate and strange bcz most no. of user in India user their bank account in GPay not cards.
anyways thanks for the help.
hope Stripe resolve it soon.

[2021-08-16 05:44] helozq1 opened #4109 "How can we Limit List of countries while adding card information in prebuild android UI."
How can we Limit List of countries while adding card information in prebuild android UI.

[2021-08-16 06:17] kamandemwangi commented on #4079
@michelleb-stripe

1). I have :`android {
    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }
}` in my build.gradle(Module:app)

2). And I am using:
'com.android.tools.build:gradle:3.5.0'
distributionUrl=https\://services.gradle.org/distributions/gradle-5.4.1-all.zip

[2021-08-16 09:43] sumitrvi opened #4110 "After upgrading stripe sdk version give me a "Missing 'package' key attribute on element package at [com.stripe:payments-core:16.10.0]" Error"
[com.stripe:payments-core:16.10.0] /Users/theninehertz/.gradle/caches/transforms-2/files-2.1/1fc0d3e8399cb8c23bf5976e34b8c8db/payments-core-16.10.0/AndroidManifest.xml:13:9-54 Error:
[   +3 ms] 	Missing 'package' key attribute on element package at [com.stripe:payments-core:16.10.0] AndroidManifest.xml:13:9-54
[        ] [com.stripe:payments-core:16.10.0] /Users/theninehertz/.gradle/caches/transfo

[2021-08-16 11:37] nataliakuznetsova opened #4111 "[BUG] Progress bar color is not set correctly with 16.10.2 version"
## Summary

ChallangeProgressActivity progress bar is n purple color. I am configuring the 3ds with an accent color, but the progress bard on the loading screen has the default color. Stripe version 16.1.0

Expected: the progress bar has accent color
Actual: the progress bar has default purple color

![Screenshot_1629113218](https://user-images.githubusercontent.com/42141970/129557460-2eeada0c-723

[2021-08-16 11:43] michelleb-stripe commented on #4110
@sumitrvi

Please provide the version numbers of the following before and after updating the Stripe version:
Android Gradle Plugin Version:
Gradle version:
Stripe library version:

[2021-08-16 12:21] michelleb-stripe commented on #4109
@helozq1 This is not something we currently support, but I can add it to our backlog.   Can you tell me a little more about why you want to restrict the list of countries?

[2021-08-16 12:41] michelleb-stripe commented on #4079
@kamandemwangi I am not able to reproduce the problem with the setup you described.  I always like to recommend doing a clean rebuild, Invalidating caches in Android Studio (File -> Invalidate Caches and Restart), and to also try building from the command line outside of Android Studio.

You will also need to upgrade your build tools to `com.android.tools.build:gradle:3.5.4` at a minimum.  However

[2021-08-16 13:10] ritubala1415 commented on #4079
Ok, But check your studio kotlin version let us know, because I am also using java and facing same issue due to kotlin version.

[2021-08-16 14:46] michelleb-stripe commented on #3715
@UsamaKarim See https://github.com/flutter-stripe/flutter_stripe/issues/275#issuecomment-899563734

[2021-08-16 21:12] michelleb-stripe commented on #4102
@shubhamrb Unfortunately we will not be able to resolve this issue until Google supports this in their API.   We will keep watching for when they publish new support and add it when it becomes available.

[2021-08-17 04:19] helozq1 commented on #4109
Dear @michelleb-stripe thanks for your response. The app I am developing will only allow specific country user to make payments through credit card.

[2021-08-18 10:22] bridgingamit18 commented on #4102
Hello @michaelc-stripe

onGooglePayReady always returns false.
And My G-Pay Account "MASTERCARD" and "VISA" Card are both links but still always return false.
Can you please guide me?

 googlePayLauncher = GooglePayLauncher(
            activity = this,
            config = GooglePayLauncher.Config(
                environment = GooglePayEnvironment.Test,
                merchantCountryCode = "US"

[2021-08-18 14:47] tanvi12 commented on #4089
Hello, is there any update on this?

[2021-08-18 15:27] michelleb-stripe commented on #4089
@tanvi12 I will get a fix ready for the next release.

[2021-08-18 22:22] brnunes-stripe commented on #4104
Hi @Pacchio77, thanks for the detailed report. Fixing in #4117, that will be included in our next release.

[2021-08-19 08:43] Qiubeijun commented on #4102
I have the same problem, but I guess it might be because I don't have a payment card in my Google account (I can't add a payment card to my account), so I decided to let my customer test it out

[2021-08-19 09:02] bridgingamit18 commented on #4102
Hello @michaelc-stripe and @Qiubeijun
In my G-Pay Account, I have added a payment card as well but still, I have received onGooglePayReady always returns false.

[2021-08-19 20:14] brnunes-stripe commented on #4111
Hi @nataliakuznetsova, are all the other attributes working correctly?
Can you share your `getStripeHexColor`, and try to use for example `textAccentColorHex = "#00FF00"` to see if that works?

[2021-08-20 19:27] #4089 closed

[2021-08-23 18:15] ccen-stripe commented on #4056
Closing the ticket for now, feel free to reopen it if the issue persists :)

[2021-08-23 18:15] #4056 closed

[2021-08-24 13:42] freszu commented on #2573
@mshafrir-stripe @ccen-stripe sadly i have to bring your attention to this issue again and ask for its reopening as it resurfaced again.

So version 17.0.0 and 17.1.0 indeed thats fixed but in 17.1.1 i noticed that returning.... It seems i was able to pin down exact PR that started it again https://github.com/stripe/stripe-android/pull/3991 - it seems that the new approach to injection is flawed i

[2021-08-24 14:13] emmaxCreative commented on #3714
@calvarez-ov do you have a date on when this feature will be available ?

[2021-08-24 18:08] calvarez-ov commented on #3714
@yuki-stripe Sorry I completely missed your question!

I'll get in touch with the PO and report back here.

From my POV, I'm thinking it would be best if we could not show the fields at all, if we're just going to use the values they entered in our own screen. I don't know how we would handle it if the user put different values in the card entry screen compared to our own payment screen. Would rea

[2021-08-26 09:55] calvarez-ov opened #4145 "[BUG] 3DS Webview: ChallengeActivityViewModel.onSubmitClicked crashes setting LiveData on background thread"
## Summary

We see this crash reported in Firebase Crashlytics. We didn't reproduce it during our internal testing, and don't have logs.
[code]
## Code to reproduce
[code]

## Android version
Android 6

## Impacted devices
iTel S11

## Installation method
gradle dependency

## Dependency Versions
* com.android.tools.build:gradle:7.0.0
* kotlin 1.5.21
* com.stripe:stripe-android:17.1.0
* Gradle 7.1

[2021-08-26 10:08] calvarez-ov opened #4146 "[BUG] Invalid Publishable Key: You must use a valid Stripe API key to make a Stripe API request"
## Summary

We see this crash reported in Firebase Crashlytics. We didn't reproduce it during our internal testing, and don't have logs.
[code]
## Code to reproduce
Not sure, because the stack trace isn't in our code.

## Android version
Android 6
Android 9

## Impacted devices
iTel S11 (Android 6)
Samsung Galaxy M10 (Android 9)

## Installation method
gradle dependency

## Dependency Versions
* c

[2021-08-29 17:02] UmairKhalid786 commented on #2640
Any update on this issue team?

[2021-08-30 20:29] Patiyang commented on #4110
was this issue resolved?

[2021-08-31 12:35] michelleb-stripe commented on #4110
@sumitrvi  and @Patiyang Can you provide the version numbers of the following before and after updating the Stripe version:
Android Gradle Plugin Version:
Gradle version:
Stripe library version:

[2021-08-31 12:36] michelleb-stripe commented on #4110
#4099 might be related

[2021-08-31 12:38] michelleb-stripe commented on #4111
@nataliakuznetsova Can you provide any of the information above?

[2021-09-01 05:10] raushanlyl commented on #4110
Facing the same issue in stripe_payment: ^1.1.4

[2021-09-01 06:13] sumitrvi commented on #4110
issue resolved to Need to upgrade flutter version 2.2

[2021-09-01 06:22] bhomaramgtsinfo opened #4155 "[BUG] GooglePayLauncher existingPaymentMethodRequired is hardcoded"
## Summary
I wanted to change `existingPaymentMethodRequired` to false when implementing GooglePayLauncher,
but it is hardcoded as `true`, there is no option to change that value in ```DefaultGooglePayRepository``` Constructor

[2021-09-01 06:26] bhomaramgtsinfo commented on #4102
I think i got the issue

https://github.com/stripe/stripe-android/blob/master/payments-core/src/main/java/com/stripe/android/googlepaylauncher/GooglePayRepository.kt#L26-L53

In `DefaultGooglePayRepository` the value of `existingPaymentMethodRequired` is always true, the value is not taking from `Config`

[2021-09-01 16:09] martinshare opened #4156 "[BUG] App crash when used google.material library"
I'm using google material lib and after adding stripe dependecies I received this error:
    Process: com.mypackagename, PID: 15893
    **java.lang.NoSuchFieldError: No static field BottomNavigationView_menu of type I in class Lcom/google/android/material/R$styleable; or its superclasses (declaration of 'com.google.android.material.R$styleable' appears in /data/app/com.mypackagename-24ZNBPJ5U_jG5E

[2021-09-01 18:46] michelleb-stripe commented on #4155
@bhomaramgtsinfo We are working on a change now.

[2021-09-01 18:51] martinshare commented on #4156
Yes, I'm using 1.0.0 google material. A few moments ago I downgraded my stripe dependency from 17.1.2(uses material 1.4.0) to  16.10.2(uses material 1.3.0) and now works fine. Please fix this issue to be able to use the latest stripe version.

[2021-09-01 19:36] michelleb-stripe commented on #4156
@martinshare Would ti be possible to update to the latest google material libraries in your project.  We generally try to keep up to date with the latest libraries when possible.

[2021-09-02 07:56] GaneshkumarOPTISOL opened #4163 "[BUG] For android 7.0 (Lowerend model), can't able to create a token, it throws error like this"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

kotlin:
stripe-android:
Android Gradle Plugin:
Gradle:

## SDK classes

## Video

## Other information

[2021-09-02 07:57] GaneshkumarOPTISOL opened #4164 "[BUG] For android 7.0 (Lowerend model), can't able to create a token, it throws error like this."
## Summary
For Android 7(Noughat) facing a crash issue.

## Code to reproduce

## Android version
7

## Impacted devices
redmi 5A

## Installation method

## Dependency Versions

kotlin:
stripe-android:16.1.0
Android Gradle Plugin:
Gradle:3.6.3

## SDK classes

## Video

## Other information

[2021-09-02 11:18] Patiyang commented on #4110
thanks...got it working

[2021-09-02 18:13] #4163 closed

[2021-09-02 18:14] ccen-stripe commented on #4164
Hi @GaneshkumarOPTISOL , could you share a stacktrace?

[2021-09-03 11:02] freszu opened #4167 "[BUG] 3DS2/3DS1 flow is crashing on process death"
## Summary

This is a follow up to https://github.com/stripe/stripe-android/issues/2573#issuecomment-904654209 which had no reaction.

The 3DS1 / 3DS2 flows will crash if there is a process death - while we use 3DS1/3DS2 flows in our integrations and thats the components we experienced issues with and care the most about , recent refactors could have bigger impact and affected other components as

[2021-09-03 12:53] OskarAtJoint opened #4168 "Is location permission needed ?"
Docs states: Also verify that the app user grants location permission—the SDK doesn’t function without it.
But is that true? cant see that the sdk is requestion location from somewhere?

[2021-09-03 13:25] calvarez-ov commented on #3714
I talked with our PO.

This isn't the ideal solution we were hoping for. But it could be enough.

We could accept showing these fields if they're pre-filled.

However, if the user first enters the card (with these two fields), and then comes back to our own billing screen, we won't retrieve/use the values from the card input. In this case, the user will still have to enter the fields twice.

One t

[2021-09-03 14:05] michelleb-stripe commented on #3789
@cmcheungapp Please reopen if you are still experiencing issues with the latest version.

[2021-09-03 14:07] #3789 closed

[2021-09-03 14:10] michelleb-stripe commented on #3860
@apelt If you are still having issues please let us know and we will reopen.

[2021-09-03 15:28] Greelings opened #4169 "[BUG] Stripe-Android SDK doesn’t comply with the User Data and Mobile Unwanted Software policies of Google Play Store"
Yesterday our app was removed from Google Playstore because it was using the Stripe-Android 17.1.2 API.

Here is the reason why our app was removed from Google Playstore :
"We’ve identified that your app is using Stripe SDK or library, which facilitates the transmission and collection of Phone Number and Installed Application information without meeting the prominent disclosure guidelines. Make su

[2021-09-03 15:42] michelleb-stripe commented on #3955
@shamoon192 Please reopen with the requested information if you are still in need of this feature.

[2021-09-03 15:42] #3955 closed

[2021-09-03 17:11] michelleb-stripe commented on #4168
@OskarAtJoint The SDK does not reqiure the location permission.   Can you point to the docs that state this is required.  I will make sure they are updated.

[2021-09-03 17:11] #4156 closed

[2021-09-03 17:20] OskarAtJoint commented on #4168
thanks @michelleb-stripe https://stripe.com/docs/terminal/sdk/android

[2021-09-03 17:23] michelleb-stripe commented on #2915
@jhonnyx2012 We will work with the appropriate team and provide an update.

[2021-09-03 17:27] ccen-stripe commented on #4167
Hey @freszu thanks for reporting this, we're working on a fix

[2021-09-03 17:30] michelleb-stripe commented on #2591
@minhazur-piash Please reopen with the additional information if you still need support on this issue.

[2021-09-03 17:30] #2591 closed

[2021-09-03 17:49] michelleb-stripe commented on #2915
We have filed an issue internally (1685)

[2021-09-03 18:03] michelleb-stripe commented on #3719
@developerGM You can now pass in default values (including country and zip/postal code) for the billing address.  These fields will be pre-populated and if any errors are found it will be shown in the form.   See [this](https://stripe.dev/stripe-android/payments-core/com.stripe.android.paymentsheet/-payment-sheet/index.html) documentation for more details.

We have added your request to add the de

[2021-09-03 18:07] #4017 closed

[2021-09-03 18:07] #4018 closed

[2021-09-03 18:14] michelleb-stripe commented on #4028
@ jaypratapsingh Which version of the SDK are you using.  I am not seeing the class ReflectionCheckingTypeAdapterFactory in our source repository.

To use this stripe repository use the dependency:
`implementation 'com.stripe:stripe-android:17.1.2'
`

Please reopen if you are still having issues.

[2021-09-03 18:14] #4028 closed

[2021-09-03 18:17] michelleb-stripe commented on #4109
@helozq1 We have this item in our backlog and will post an update when complete.

[2021-09-03 19:04] michelleb-stripe commented on #4168
@OskarAtJoint Are you using the terminal SDK or the Android SDK?  The android SDK documentation is found at: https://stripe.dev/stripe-android/, the Terminal SDK is a different product.

[2021-09-03 19:08] michelleb-stripe commented on #4169
@Greelings Were you able to resolve this issue?

If you have upgraded from a previous version of the Stripe Android SDK, there are a few things to check:
- You don't have older versions of your app bundled in your active release (to support older Android versions, for example)
- You don't have older versions of your app available in testing tracks on Google Play Console.

If you are still having i

[2021-09-03 22:27] OskarAtJoint commented on #4168
aaa sry @michelleb-stripe its the android sdk, react native one to be correct, "@stripe/stripe-react-native": "^0.1.4", which is using com.stripe:stripe-android:16.10.0. Reason for me asking is that google removed one of our apps with the reason:

APK:15980 | APK REQUIRES PROMINENT DISCLOSURE​We’ve identified that your app is using Stripe SDK or library, which facilitates the transmission of colle

[2021-09-04 05:38] raushanlyl commented on #4110
Not in my case. Can you please let me know the process?
@Patiyang  @sumitrvi

[2021-09-04 09:50] Greelings commented on #4169
Thank you for your response @michelleb-stripe.

You are right, the problem comes from an old version in the internal testing track.
However, I really don't know how to desactivate it.
I uploaded a new update, but it didn't work. (Although it is displayed "Release not live" next to it).

I searched on Google, and all the forums are adamant, you cannot deactivate a release.
So what can I do? Thank y

[2021-09-05 11:20] loga4 commented on #4169
@Greelings did you find a solution? i have the same issue

[2021-09-06 03:49] wst24365888 commented on #4169
Same issue here, any solution would be appreciated. :)

[2021-09-06 09:02] Greelings commented on #4169
I finally managed to solve the problem. What you have to do is:
1. Update the Stripe SDK
2. Upload your app update to all release tracks (production, open, closed and internal), incrementing the version number each time.
3. Go to the **Publishing overview** page and click **Send for review** to submit your changes. (This is important. I had forgotten this point)

Maybe Google will ask you to add a

[2021-09-06 09:19] #4169 closed

[2021-09-08 13:21] joccjo commented on #486
Any update ? Ineterrested in as well

[2021-09-08 17:31] brnunes-stripe commented on #4168
Hi @OskarAtJoint, we've seen this with some older versions of the SDK, but that's been fixed since v14.4.0. What version are you using?

[2021-09-08 18:40] awush-stripe commented on #486
Hello! Stripe recently acquired Bouncer, which is a native android and iOS card scanning library (see https://getbouncer.com/scan and https://github.com/getbouncer/cardscan-android). Bouncer is presently working on integrating its card scanning technology into the stripe android and iOS SDK, with an anticipated release date in early 2022.

[2021-09-09 06:42] OskarAtJoint commented on #4168
aa ye actual they were referring to an older apk, laying around on a test track, closing this one

[2021-09-09 06:42] #4168 closed

[2021-09-09 19:53] #2457 closed

[2021-09-10 04:29] Lab360-inc commented on #3714
@yuki-stripe wouldn't it a better if we have the option the disable country and postal code/zip code?

[2021-09-10 15:20] michelleb-stripe commented on #4099
@EjazAmir Please reopen if you are still experiencing issues.

[2021-09-10 15:20] #4099 closed

[2021-09-13 11:58] michelleb-stripe commented on #4155
@bhomaramgtsinfo  and @yogeshpaliyal A fix has been applied in [this](https://github.com/stripe/stripe-android/releases/tag/v17.2.0) release.

[2021-09-13 11:58] #4155 closed

[2021-09-13 13:09] maciej-wichrowski commented on #3952
@michelleb-stripe We have an issue that user is entering the correct card then finishing 3dsecure and no data is passed to onActivityResult

[2021-09-13 15:38] michelleb-stripe commented on #3952
@maciej-wichrowski Could you share some information about your setup as well?

1. Are you using the stripe-android library directory or are you using Flutter or react native?
2. Which phone model are you using?
3. What Stripe SDK interfact are you using to kick off 3DS2? (PaymentSheet, Stripe.confirmSetupIntent, Stripe.confirmPaymentIntent, or something else)?
4. What version of the Stripe SDK are

[2021-09-13 23:45] ccen-stripe commented on #4167
Hi @freszu , this bug should be fixed in the latest [17.2.0](https://github.com/stripe/stripe-android/releases/tag/v17.2.0) release. Sorry for introducing the regression on this.

[2021-09-13 23:45] #4167 closed

[2021-09-13 23:48] ccen-stripe commented on #4146
Hey @calvarez-ov , we just launched PaymentLauncher in our latest [17.2.0](https://github.com/stripe/stripe-android/releases/tag/v17.2.0) release, it replaces the old `Stripe` object and takes publishable key for parameter, and won't have the issue reported here. Please check out [StripeIntentActivity](https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/ac

[2021-09-13 23:48] #4146 closed

[2021-09-14 08:19] KristapsKrumins opened #4195 "Fragments must call registerForActivityResult() before they are created"
GooglePayPaymentMethodLauncher requires Config object and Config requires merchant name and country code. I don't want to hard code those values, I fetch them from backend. The problem is that when I have successfully fetched data from backend Activity/Fragment is already created and I am unable to create  instance of GooglePayPaymentMethodLauncher. Can You please decouple config from initializati

[2021-09-14 13:43] michelleb-stripe commented on #4110
@raushanlyl Could you provide some more details of your configuration?

1. Flutter version if you are using it (run flutter doctor)
2. Stripe android sdk version
3. Gradle version
4. Android Gradle plugin version

If you are using flutter I would recommend posting to this repo: https://github.com/flutter-stripe/flutter_stripe

[2021-09-15 10:07] magnumrocha opened #4197 "[BUG] Can't import Stripe 17.2.0"
## Summary
I can't build my App after adding the Stripe dependency with version 17.2.0.
My App keeps stuck on the task:
[code]
I've been waiting for 30 minutes and then I've canceled the task.

## Code to reproduce
[code]
I have to exclude the `com.google.guava.listenablefuture` because it was conflicting with another dependency on my project.

kotlin:
stripe-android: 17.2.0
Android Gradle Plugin:

[2021-09-16 06:40] VivekThummar52 commented on #197
I'm using `v9.0.0` right now and even if i manually type every details, still app crashes for the same line `mCardInputWidget.getCard()`, when i debug the app i noticed that `mCardNumberEditText.getCardNumber();` is returning null and that's why method `getCard()` returns null in my case, is there any solution for this problem??
(**NOTE**: I don't want to update version so please keep in mind this

[2021-09-16 17:29] brnunes-stripe commented on #4195
Hi @KristapsKrumins, thanks for the feedback!
We'll discuss about this change and get back to you.
For now, could you fetch that information before showing the Activity/Fragment that uses GooglePayPaymentMethodLauncher?

[2021-09-16 21:12] #4145 closed

[2021-09-16 21:13] skyler-stripe commented on #4197
Hey there. We have a sample app using our latest dependency here: https://github.com/stripe-samples/mobile-saving-card-without-payment

I added your dependency declaration like so:
[code]

and was able to get a successful build. Do older versions of Stripe work for you? Or is this your first time adding the dependency? I would cross reference with our sample app to try and spot the issue.

[2021-09-17 06:42] KristapsKrumins commented on #4195
@bradley-stripe Yes, that's what I am planning to do. I can wait a week or two before I do that.

[2021-09-17 10:21] magnumrocha commented on #4197
Hi, after making the update of the Android Gradle Plugin to version 7.0.2, I could compile my project successfully with Stripe.
But I had to import the Stripe SDK like excluding the guava.listebablefuture dependency:
[code]

[2021-09-17 12:30] michelleb-stripe commented on #4195
@brnunes-stripe

[2021-09-21 11:32] bhanuka96 opened #4206 "Change stripe country from mobile"
Is it possible to hide the country and postal code from this form? or is it possible to set UAE by default?

![Screenshot_20210921-165613](https://user-images.githubusercontent.com/34953062/134163514-14f4d098-8ca4-4e18-b418-17ed0b0e5fc0.jpg)

[2021-09-21 11:43] michelleb-stripe commented on #4206
@bhanuka96 You can set the country to UAE by passing the country in the `defaultBillingDetails` of the `Configuration.Configuration`.  When the country is set to UAE the postal code will not show.

[2021-09-22 09:26] ForbiddenZone opened #4209 "Modifying Payment Sheet"
Hello, I know this isn't really an issue, I wanted to ask if there is a way to modify the payment sheet to remove the save card checkbox.
Thanks in advance!

[2021-09-22 11:06] priyankgandhi0 opened #4210 "Getting error Google Pay failed with error: 412:"
I have implemented Google pay with stripe. Set up all things mentioned in documentation provided by stripe.[https://stripe.com/docs/google-pay] and get onGooglePayReady is true. after that button press to pass client_secret to **presentForPaymentIntent**

[code]

But getting error every time in **onGooglePayResult** result failed

**Google Pay failed with error: 412:**

[2021-09-22 13:04] sebj54 commented on #2958
Hi Stripe, any update on this in 7 months?

[2021-09-22 14:21] michelleb-stripe commented on #4210
@ priyankgandhi0  Thanks for writing in, and I am sorry to hear you are having problems.   I hope we can help you get it working quickly.

The error you describe is coming from the Google Pay code and is documented by Google [here](https://developers.google.com/android/reference/com/google/android/gms/wallet/WalletConstants#ERROR_CODE_UNSUPPORTED_API_VERSION) as an `ERROR_CODE_UNSUPPORTED_API_VERS

[2021-09-22 14:32] michelleb-stripe commented on #3719
Please reopen if you still have any problems.

[2021-09-22 14:32] #3719 closed

[2021-09-22 16:35] michelleb-stripe commented on #4209
@ForbiddenZone If you don't pass a customer object in `PaymentSheet.Configuration` then there will not be a Save Card checkbox.  Will this address your need?

[2021-09-22 16:46] ForbiddenZone commented on #4209
I was wondering if there was a way to maintain the functionality of saving cards for repeat use. I found a workaround where I simply did an override of the layout and disabled the button while making it checked and colored everything white. I know it's not a very elegant solution 😅

[2021-09-22 17:39] LoredanaZdranc opened #4211 "IllegalArgumentException when launching AddPaymentMethodActivity"
[code]

I want to use the prebuild UI `AddPaymentMethodActivity` but the app is charshing when calling the code above and the exception is:

        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3623)
        at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:3775)
        at android.app.servertransaction.LaunchActivityItem.execute(LaunchActivityItem.j

[2021-09-22 21:02] skyler-stripe commented on #4211
Hey there,

Is your app in java or kotlin? I'm thinking you may have missed a nullable on one of your bundles in an activity.

`override fun onCreate(savedInstanceState: Bundle)` versus `override fun onCreate(savedInstanceState: Bundle?)`

According to [this post here](https://stackoverflow.com/questions/44597348/illegalargumentexception-savedinstancestate-specified-as-non-null-is-null) that's how

[2021-09-23 04:34] LoredanaZdranc commented on #4211
Hi @skyler-stripe,

My app is Kotlin. The `Unknown Source` links to the `com.viniciusmo.keyboardvisibility.WrapperActivityLifecycleCallback.onActivityCreated` and here the `Bundle` parameter is not nullable

![Screenshot 2021-09-23 at 07 34 05](https://user-images.githubusercontent.com/78419424/134454978-b6945da7-c7cb-431f-822b-9810d5723d52.png)

[2021-09-23 16:42] skyler-stripe commented on #4211
Going to close out this issue now that you have it working. I did file an issue with that library but the most recent commit is from three years ago, so you may have to use your own fork if you end up needing it.

cheers.

[2021-09-23 16:42] #4211 closed

[2021-09-24 10:35] KristapsKrumins opened #4222 "Create PaymentSheet.FlowController in compose"
How can I create PaymentSheet.FlowController in compose?
I tried to do it like this:
[code]
And got exeption:
[code]

There is example on how to [start PaymentSheet in compose](https://github.com/stripe/stripe-android/blob/master/paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/activity/LaunchPaymentSheetWithComposeActivity.kt), but it requires clientSecret. All I want is

[2021-09-24 13:08] ibrahim-sdsol opened #4223 "Cards being saved, and not able to remove them, when user logout, Prebuilt Ui should be attached to specific id"
My cards are cached in prebuilt UI. And any other customer can pay from previously logged in user on same account.
Cards should be removed on logout and retrieve back on login for a specific customer id(or any random number)
Is there any thing already for this, or this is a bug?

[2021-09-24 13:54] michelleb-stripe commented on #4223
@ibrahim-sdsol The payment methods are associated with the id you pass into `PaymentSheet.CustomerConfiguration`, so if the id is the same you will see the previously saved payment methods.

Passing in a different customer id for each new user should only show payment methods associated with that id.  If you are seeing something different please let us know.

[2021-09-24 14:26] KristapsKrumins opened #4224 "handleNextActionForPayment in compose"
Is there an other way to get result from Stripe.handleNextActionForPayment() without overriding onActivityResult()? I want to migrate this to compose. That is, how to handle the next_action for a previously confirmed PaymentIntent in compose?

[2021-09-24 16:35] michelleb-stripe commented on #4224
@KristapsKrumins I would recommend taking a look at our newly launched `PaymentLauncher`.   You can read more about it [here](https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=custom#android-submit-payment), and [here](https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/activity/ComposeExampleActivity.kt) is an example of its usage in C

[2021-09-24 18:27] michelleb-stripe commented on #2958
@sebj54 Sorry for the delay just looking to see if I have an alternative

[2021-09-24 18:30] sebj54 commented on #2958
Hi @michelleb-stripe, thanks for catching up!

I don't know if it can be useful, but here's the better I can get with CardMultilineWidget style: https://github.com/triniwiz/nativescript-plugins/issues/83#issuecomment-925851635

[2021-09-24 18:40] michelleb-stripe commented on #2958
@sebj54 Based on that comment looks like you were able to do a lot of the style, but still were unable to make it an OutlineBox.  Is that correct?

[2021-09-24 18:44] sebj54 commented on #2958
Exactly! If I use an OutlineBox in the XML layout file, it throws an error. If I remember well, it is because OutlineBox does not implement everything the Stripe view is using (I don't remember if it's the Layout or the EditText).

[2021-09-24 19:16] michelleb-stripe commented on #2958
@sebj54 Thanks for that clarification.  We have some work in our backlog to work on our overall widget styling strategy.

[2021-09-24 19:26] sebj54 commented on #2958
Great! Can't wait to try it 😃

[2021-09-26 11:49] ilazakis opened #4226 "Adding a card / payment method in Android Compose"
Hi, I'm looking for the currently proposed way to add / update payment methods (cards) when using @Composables.

I am effectively looking for the equivalent of [`STPAddCardViewController ` in iOS](https://github.com/stripe/stripe-ios/blob/fabd7ebe14052d505466ffe824b49eeab3778501/Stripe/STPAddCardViewController.swift#L13) for Compose based apps, a built-in UI that captures all info within the Strip

[2021-09-27 07:10] KristapsKrumins commented on #4224
@michelleb-stripe Thanks, that's what I was looking for, but couldn't find on my own. 🙈

[2021-09-27 07:10] #4224 closed

[2021-09-27 10:07] xiangyanhui commented on #4210
同样的问题:
  SDK版本: com.stripe:stripe-android:17.2.0
google play商店版本: 27.1.14
google pay版本: 2.134.392709498
gradle:4.0.1
手机: MI 8 SE android10

[2021-09-27 13:38] AIprototype opened #4228 "[BUG] .asFlow() in androidx.lifecycle.asFlow doesn't work with stipe-sdk 17.2.0"
## Summary
Converting liveData to coroutine flows using .asFlow() doesn't work on the latest android sdk

## Installation method
Installed using gradle build

## SDK classes
implementation 'com.stripe:stripe-android:17.2.0'

[2021-09-27 13:44] michelleb-stripe commented on #4226
@ilazakis We do not yet have a compose only version of our Card widgets, but have it in our backlog.

We recommend using CardFormView which can be used from compose as describe [here](https://developer.android.com/jetpack/compose/interop/interop-apis#views-in-compose).  CardInputWidget is in maintenance mode and is not receiving new features, only major bug fixes.

Let us know if we can help any f

[2021-09-27 15:25] magnumrocha opened #4229 "[Feature] Apply specific PaymentBottomSheet theme like on iOS SDK (light | dark)"
**Is your feature request related to a problem? Please describe.**
My App has no support for Dark theme mode yet and the Stripe Payment BottomSheet always appears on the System's theme, which makes it very different from my App style when on dark mode.

**Describe the solution you'd like**
Have a property on `PaymentSheet.Configuration` class to set up the desired theme.

**Describe alternatives y

[2021-09-27 17:05] skyler-stripe commented on #4229
Hey there.

We've been looking into this issue [here](https://github.com/stripe/stripe-react-native/issues/593)

The short is that we have a feature like this in our backlog. There is a potential work around for you. You can call this method early in your app's life and force dark/light mode on your app. Let me know if it works for you. Otherwise, you may have to wait until we implement more advan

[2021-09-27 18:06] ilazakis commented on #4226
Thank you @michelleb-stripe!

With regards to compose compatibility, I already had a view wrapped up like this, was just wondering about a compose equivalent; I will keep an eye on the release schedule to update it when the time comes.

With regards to the actual Stripe UI used, `CardFormView` seems to only be validating cards, not creating a `PaymentMethod` using that card. I would like the latte

[2021-09-27 19:14] brnunes-stripe commented on #4228
Hi @AIprototype,
`asFlow()` is an extension function part of the [`androidx.lifecycle`](https://developer.android.com/reference/kotlin/androidx/lifecycle/package-summary#asflow) library.
Make sure your project depends on it and you should be able to use it:
[code]
Let us know if that still doesn't work.

[2021-09-27 19:14] #4228 closed

[2021-09-28 08:40] priyankgandhi0 commented on #4210
@michelleb-stripe
Stripe SDK: com.stripe:stripe-android:17.2.0
play-services : com.google.android.gms:play-services-wallet:18.1.3
Phome model: Redmi K20 Pro
Android OS: 11
Google pay version: 136.1.5

[2021-09-28 14:10] Flo354 commented on #2640
Maybe if more persons are asking for this, it will come to an end.
So... Any update on this?

Thank you,

[2021-09-28 14:51] michelleb-stripe commented on #2640
@Flo354 @UmairKhalid786 @awfasano @twobeeronebread

Take a look at our new PaymentLauncher described [here](https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=custom#android-submit-payment) and see if this addresses your need.  This interface will take a callback and internally we will use the registerForActivityResult. Also note there is a compose interface `PaymentLauncher.cre

[2021-09-28 16:05] Flo354 commented on #2640
Thank you.

Why does it returns a `PaymentResult` and not a `PaymentIntentResult`
I need to get back the id of my `PaymentIntent`

[2021-09-28 20:45] #4223 closed

[2021-09-28 20:47] #4206 closed

[2021-09-28 22:54] ccen-stripe commented on #2640
Hi @Flo354 , the `PaymentLauncher` API is designed to just return the state of the confirmation, if you need the `PaymentIntent` object, please use the [retrievePaymentIntent](https://github.com/stripe/stripe-android/blob/master/payments-core/src/main/java/com/stripe/android/StripeKtx.kt#L478) API

[2021-09-29 09:36] Flo354 commented on #2640
Hmmm, I will stay on the deprecated method, too much changes, too much things to do in addition, just for a warning.

The register of the activity result must be done before the activity is actually started, but I get the stripe account id after, when I create the payment intent server side (because I am processing payments on behalf of standard connected accounts).
After, I have to launch, this.