[2013-05-10 16:38] jharlap opened #3 "Using Stripe with AndroidAnnotations @Background function fails because of compat.AsyncTask"
In an app using [AndroidAnnotations](https://github.com/excilys/androidannotations) where Stripe().createToken(...) is invoked inside a method annotated with @Background, the use of com.stripe.android.compat.AsyncTask causes a crash which is solved by just using android.os.AsyncTask. Do you really anticipate people using stripe-android in an environment that doesn't have android.os.AsyncTask?

[co

[2013-09-02 20:25] RayRegalado opened #5 "Address attributes of credit card not saved during createToken"
The method hashMapFromCard in Stripe.java should have the following lines:

[code]

Changed to:

[code]

This will bring the android library in line with the ios library, and will fix the issue.

[2013-10-16 19:33] precipice opened #7 "Importing "Existing Android Code into Workspace" causes an error"
Project doesn't import into current Android Developer Tools:

![2013-10-16 at 11 54 am](https://f.cloud.github.com/assets/2874/1346001/cf3b441a-3699-11e3-8969-522c95772f7f.png)

(Note: I'm new to Android development and could entirely possibly be screwing this up somehow.)

[2014-02-03 13:41] chrisjenx opened #8 "Maven dependancy"
Can this be added as an Maven dependency? Or at least gradleise it, Eclipse is dead and importing as a library option is long dead for Intellij/AndroidStudio.

[2014-02-04 19:25] chrisjenx opened #9 "Add Javadoc to public methods"
There is nothing more evil than public api with no documentation.

Can you start stubbing out what your Public API actually does?

[2014-02-09 18:05] arriolac opened #10 "AuthenticationException class is missing in the library source code"

[2014-03-17 15:05] thedamfr opened #12 "Missing com.stripe.model.StripeObject"
It doesn't appear anywhere. I don't know how it's supposed to work.
Is this lib dead ?

[2014-03-25 20:46] phillco opened #13 "Example app does not separate the card number groups"
A card with the number `4242 4242 4242 4242` is shown as `4242424242424242`.

[2014-03-25 20:46] phillco opened #14 "Example app doesn't include card type icons"

[2014-03-25 20:50] phillco opened #15 "Example app "next" behavior is inconsistent"
It skips to the CVC, even though the expiry fields are visually next in line.

[2014-03-26 03:42] phillco opened #16 "Error messages are too vague"
For example, entering an incorrect CVC returns `You did not enter a valid card.`

[2014-03-26 04:07] phillco opened #17 "Allow easy import into Android Studio"

[2014-06-04 07:38] orliXdx opened #18 "your example is not working"
your example is not working,
my data below:
number: 4242424242424242
expYear:2014
expMonth:12
cvc:123
PUBLISHABLE_KEY:pk_test_6pRNASCoBOKtIshFeQd4XMUh
then, i accept a error: illegalStateException! help me , thanks~~

[2014-07-11 21:03] #10 closed, assigned to nobody

[2014-07-11 21:28] #7 closed, assigned to stephen

[2014-07-11 21:30] #5 closed, assigned to nobody

[2014-07-11 22:20] #16 closed, assigned to stephen

[2014-07-11 23:12] #15 closed, assigned to stephen

[2014-07-12 02:47] #18 closed, assigned to stephen

[2014-07-12 11:12] #12 closed, assigned to stephen

[2014-07-14 23:16] berg opened #23 "Document proper proguard exclusions"
Proguard will mangle the class names in the `stripe-java` API resource classes, yielding 404s upon token creation (among other things).

The docs should inform users to add the following line to their proguard.cfg:

`-keep class com.stripe.** { *; }`

[2014-07-18 19:05] #17 closed, assigned to nobody

[2014-07-18 19:05] #8 closed, assigned to berg

[2014-07-18 19:15] #23 closed, assigned to nobody

[2014-07-29 05:08] bearprada opened #26 "Can you support STPView for Android version"
in iOS version. we can use beautiful input view for typing credit card.

https://github.com/stripe/stripe-ios/tree/master/Stripe

but Android version is not.

[2014-07-31 21:20] stephen opened #27 "Up stripe-java jar version"
Currently using v1.15.1, when newest `stripe-java` is 1.16.0. (https://github.com/stripe/stripe-java)

[2014-09-26 15:17] caiban opened #28 "Why need Android API 17 ?"
Hi,Berg.
Why need Android API 17 ?
Are you using "addJavascriptInterface" in stripe-android?

[2015-01-27 09:45] Gaudon commented on #28
I too am curious as to why they've opted to use API 17 opposed to 16. By using android API level 17 (Android version 4.2.x+) you're neglecting 34% of all android users. You can regain 20% of this is your product was functional on android SDK version 16 (Android 4.0.x+).

[2015-01-27 22:40] andrewpthorp commented on #28
The `minSdkVersion` is actually 7, so this should build on any SDK >= 7, the `targetSdkVersion`, however, is 17. If you are noticing it not build on an SDK < 17, let us know!

[2015-01-27 22:40] #28 closed

[2015-02-05 06:54] ddomgn opened #32 "Unable to import stripe-android project in Eclipse"
Hi,

I have Eclipse Luna Service Release 1a (4.4.1), Android SDK including API level 17 and Android Support Library 21.0.3. I've cloned the stripe-android/ and tried to import stripe-android/stripe/ to Eclipse as "Existing project into workspace", as outlined in https://github.com/stripe/stripe-android#eclipse, but have been unable to do it. The stripe item in "Projects" list of the "Import Projec

[2015-02-09 16:08] Numan1617 opened #33 "Card number validation returns false in various cases it shouldn't"
If a card is initialised with an invalid card number and updated with a valid card the type of the card will never get set e.g. `Card card = new Card("1234", null, null, "");` and then updated using `card.setNumber("3782 822463 10005");`

[2015-02-26 02:31] dbachelder opened #35 "card expiration validates on client and fails on server"
for expiration year of `99` I get a client side success and a server side failure.

here is a snip of code....

[code]

all of those error checks are negative... then I get the server side failure in the callback:

[code]

If I use an invalid month, I get a client side failure as I would expect... So it just seems like the client and the server do not validate years in the same way.

[2015-03-04 17:35] schwiz opened #36 "Project using unsupported version of Android Gradle Plugin"
All in the title, you can no longer import this project into Android Studio.

[2015-03-07 03:20] Gaudon opened #37 "Card type mismatch between android and model?"
Is there a full example of executing a charge on android? It seems that there are multiple models at play here and they don't play nice with each other.

[2015-03-09 15:02] sichevoi opened #38 "Request to upload the latest release to maven repo for android-strudio access"
Hi!
Could you please upload the latest release (1.0.1) to the maven repo such that it's available from the gradle build? Currently only 1.0.0 version is there:
http://search.maven.org/#browse%7C1181361068

Thanks in advance!

[2015-03-22 10:36] eshkoliGilad opened #40 "Expiration Date issue in Android"
Is the validation of Expiry Date only seek to look if it is a future date or it is actual comapre the values entered with the card real values ?

[2015-03-23 18:46] orrc commented on #40
As per the [README](https://github.com/stripe/stripe-android/blob/6147d76/README.md#validateexpirydate), this check is made offline:

The code which implements this can be found [here](https://github.com/stripe/stripe-android/blob/6147d76/stripe/src/main/java/com/stripe/android/model/Card.java#L204-L226).

[2015-04-28 09:18] markmooibroek opened #41 "Models update to reflect API changes"
Customer model needs to be updated to reflect breaking changes in API update 2015-02-18.

`defaultCard` needs to become `defaultSource`
`cards` needs to bedome `sources`

The model Customer in the current SDK version is not usable now.

![screen shot 2015-04-28 at 11 14 33](https://cloud.githubusercontent.com/assets/1412238/7366357/fa435d80-ed97-11e4-9fd6-72848e1afa74.png)

[2015-04-28 09:21] markmooibroek commented on #41
Looks like this issue will solve the outdated model - https://github.com/stripe/stripe-android/issues/27

[2015-05-20 08:57] nbarraille commented on #3
Same problem, what we really need is a synchronous way to `createToken()`

[2015-05-20 09:01] chrisjenx commented on #3
There is a Yoyo fork which does this. We then wrap it using Rx.

On Wed, 20 May 2015 09:57 Nathan Barraille <notifications@github.com> wrote:

[2015-06-01 17:19] VladIancu opened #42 "Withdrawal model/code snippet? Android."
Hello!

I have been looking and can't find anything on it. Are there any code snippets/models to implement withdrawal for users in Android?

Much oblidged.

[2015-06-11 16:41] dlambeth opened #43 "Request to support creating bank account tokens"
requested by a user in IRC

[2015-06-22 18:17] bkrausz commented on #38
Where are you seeing a version 1.0.1? As far as [I can tell](https://github.com/stripe/stripe-android/blob/master/gradle.properties#L1), we are still on 1.0.0.

[2015-06-22 18:21] bkrausz commented on #38
Sorry, just noticed the tagged release for 1.0.1...we're looking into it.

[2015-07-18 14:38] danielgomezrico opened #46 "Publish 1.0.1 to maven"
You can see here https://github.com/stripe/stripe-android/releases a 1.0.1 version but in public repo is only available 1.0.0, why? is there a changelog?

[2015-07-18 17:11] caipivara opened #47 "Rx-java support"
I want to put my credit card creation inside an observable for testing purposes: and I get:

[code]

When I execute:

[code]

[2015-07-18 17:16] danielgomezrico commented on #3
I´m using rxjava too and still getting the error, why are they using an asynctask here?

How can I wrap it then?

https://github.com/stripe/stripe-android/issues/47

[2015-07-18 20:50] chrisjenx commented on #47
@danielgomezrico see the yoyo/stripe-android fork

[2015-07-19 04:48] danielgomezrico commented on #47
@chrisjenx  You mean this one? https://github.com/justyoyo/stripe-android

[2015-07-19 09:57] chrisjenx commented on #47
Yeah, we added a sync method so we can wrap it with RX calls

On Sun, 19 Jul 2015 05:48 Daniel Gomez Rico <notifications@github.com>
wrote:

[2015-07-19 16:40] danielgomezrico commented on #47
:+1: thanks

[2015-07-22 20:23] anubiann00b commented on #9
This would be much appreciated.

[2015-09-08 02:23] wlof opened #49 "requestToken() doesn't work"
I'll admit I haven't actually tested this, but I'm pretty sure `requestToken()` doesn't work, as it issues a call to the retrieve token API endpoint with a publishable key (see [here](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/Stripe.java#L52)).

My best guess is that it was an undocumented behavior that was removed at some point? Anyway, the API w

[2015-09-21 21:58] Aystub commented on #33
So the issue I had was that if you initialize a card using that constructor, it's`type` is set to `null`. `card.validateNumber()` checks the card's type against defined lengths (15 in the case of Amex). If you have no type, it assumes you want the standard card length (16 for Visa's, Mastercard, and Discover). So in your example, it would most likely work if you called `card.setNumber("4242 4242 4

[2015-10-01 06:34] luca992 commented on #43
Is the only way to do this at the moment by creating the request:
POST https://api.stripe.com/v1/tokens

https://stripe.com/docs/api/curl#create_card_token

[2015-10-13 18:52] bhaskarmurthy commented on #46
:+1:

[2015-10-18 08:23] matthewarkin commented on #49
Hmm, something does seem weird there. Though you should be creating the tokens in Stripe-Android, so there shouldn't be a huge need to re-request one client side. Normally the reason to re-request a token would be to get the fingerprint but that is only accessible with the private API key.

[2015-10-26 19:11] liminal commented on #46
Anything?

[2015-12-16 21:21] StevenJLawson opened #50 "Card validation fails when doing real time checks."
Related to issue #33 and Pull request #34

Unless the card is re-created from scratch any time the number changes, it's not possible to get the number validation to work properly, particularly if using AMEX cards, as type is only set once. (Ie: populating a blank card is not guaranteed to work even with correct data.)

A quick solution for this is to change validateNumber() to reference type indir

[2016-01-04 19:19] aneemtalukder opened #53 "Feature Request: Credit Card Number text formatter"
Can you please provide a text formatter for the credit card numbers? It seems like cards do not always follow XXXX-XXXX-XXXX-XXXX pattern, would be really nice to have a TextWatcher or something of that nature.

Without it, CC input is a bit tedious!

[2016-01-06 08:42] olivierbellone commented on #27
Covered by #51 (updated `stripe-java` to 1.40.0).

[2016-01-06 08:42] #27 closed

[2016-01-06 08:43] olivierbellone commented on #36
Covered by #51.

[2016-01-06 08:43] #36 closed

[2016-01-06 08:58] olivierbellone commented on #41
Resolved by #51 (updated `stripe-java` to 1.40.0).

[2016-01-06 08:58] #41 closed

[2016-01-06 09:16] olivierbellone commented on #37
(Sorry for the very late reply.)

You're not supposed to create a charge on the Android device itself. The only operation that takes place on the device itself is the tokenization of card information. Once the token has been created, your app should send it to an external server where it can be used to actually create a charge.

The reason an external server is required is because aside from token

[2016-01-06 09:16] #37 closed

[2016-01-06 09:17] olivierbellone commented on #46
Duplicate of #38.

[2016-01-06 09:17] #46 closed

[2016-01-06 09:18] #40 closed

[2016-01-17 23:13] mikeorr85 opened #54 "Upgrade to 1.0.3 causes execution error"
```Error:Execution failed for task ':app:transformClassesWithDexForDebug'.> com.android.build.api.transform.TransformException: com.android.ide.common.process.ProcessException: org.gradle.process.internal.ExecException: Process 'command '/Library/Java/JavaVirtualMachines/jdk1.7.0_79.jdk/Contents/Home/bin/java'' finished with non-zero exit value 2```

When I downgrade to compile **'com.stripe:strip

[2016-01-18 21:55] caroth92 opened #55 "Duplicate card number prefix"
Just wondering if there was a mistake on this line
https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/Card.java#L19
or why is it that you are including `37` as a `Diners Club` prefix if according to your source page https://en.wikipedia.org/wiki/Bank_card_number#Issuer_identification_number_.28IIN.29 it clearly exclude `37`

[2016-01-21 16:13] mikeorr85 commented on #54
My problem did not have anything to do with the library. I exceeded the 65K limit, and fixed this by removing some unnecessary Google Play Services libs. SO Post has more details

[2016-01-21 16:13] #54 closed

[2016-01-22 22:32] olivierbellone commented on #55
Hi @caroth92, thanks for reporting this! Thankfully this shouldn't cause any issues because we first check for American Express' prefixes, which also include `37`.

Nevertheless, I submitted a PR to fix this: #57

[2016-01-22 23:09] #55 closed

[2016-02-07 17:39] agentcoops commented on #33
Hi, @Numan1617, thanks again for reporting this issue! I just wanted to note that your PR at https://github.com/stripe/stripe-android/pull/34 has been merged---did that resolved the problem for you?

[2016-02-07 17:41] agentcoops commented on #50
Hi, @StevenJLawson, thanks for reporting this issue! I just wanted to note that PR #34 has now been merged and make sure that this resolved the problem for you.

[2016-02-22 08:06] RUDavid commented on #53
+

[2016-03-01 10:53] miceliedna opened #59 "Store card and charge it later."
I have got this link and code from support docs

https://support.stripe.com/questions/can-i-save-a-card-and-charge-it-later

but code is not in android, is it possible in android also to store card and later on charge it?

[2016-03-14 05:38] katoree commented on #43
Any update on this one?

[2016-03-20 03:28] evelyne24 commented on #47
That's because the AsyncTask execute() needs to be called on the main thread. I'm imagining that you're probably calling subscribeOn() with a different thread or this observable is part of a bigger chain and at the end you call subscribeOn() a background thread. This could be solved (without using the Stripe fork) by simply making this observable call subscribeOn() the main thread so that it start

[2016-03-22 19:16] danielgomezrico commented on #47
@evelyne24 but that will not let me wrap it inside "my own rx api" for my project.

[2016-03-29 18:19] asielgil88 opened #60 "Card getType() returning null"
The card.getType() is always returning null on android

[code]

[2016-04-05 18:13] kmdeepthi opened #61 "validateNumber for American express and Diners club is not working correctly"
validateNumber is not working correctly for American express and Diners club card.
The check is being made on "type" which is null, where as getType is returning the right card type.
https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/Card.java#L207

[2016-04-08 15:55] filipebarcos commented on #60
This is indeed true. I'm experiencing the same problem. I double checked with their API, and the API returns this value.
[code]

I noticed that https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/Stripe.java#L178 is not storing the brand on the card. the problem is that, since the `getType` method computes on demand the brand and that card has not number (f

[2016-04-08 17:26] andrewnelder commented on #60
@filipebarcos - We are presently not storing the `brand`-attribute on Card's which was a change implemented in the API a while ago.  If you're using an older version of the API, you'll still see a `type` and this will work correctly.  It is fixed with Pull Request #64 though!

[2016-04-08 17:30] andrewnelder commented on #61
Hey!  You're totally right.  The reason this is occurring is because in an update to the Stripe API, we changed the name of the `type`-property to `brand`.  In theory, this code should be working before you actually generate the token, but not after, since the `type`-parameter would have been set to null by the constructor.  This should be fixed in Pull Request #64.

[1] https://stripe.com/docs/up

[2016-04-08 18:30] filipebarcos commented on #60
I'm almost sure I'm using a recent version of the app (I'm using Stripe Connect). With your change you're saying we should have that working again? (sorry not sure if I'm following)

Would be nice to have that reviewed soon :)

[2016-04-13 10:56] PorridgeBear opened #66 "Documentation seems out of sync with implementation"
The README seems to suggest Stripe can be instantiated as a class with the publishable key and that createToken exists accepting a card and callback. I have found none of this in the Stripe Android library I installed in the manner described (i.e. compile 'com.stripe:stripe-android:+')

Stripe is an abstract class:

`public abstract class Stripe`

I have to set the apiKey thus:

`Stripe.apiKey = "

[2016-04-28 21:33] fleficher commented on #43
On iOS, the SDK allows to create a token from a bank acccount... That's so bad

[2016-05-22 16:14] aristide commented on #49
I had the same issue, what i did to solve it:
  1- clone and udapte stripe-java to **2.5.0**  in  **_stripe/build.gradle_**
  2- use **secret_key** instead of publishable_key when requesting token, according to [https://stripe.com/docs/api#retrieve_token]( https://stripe.com/docs/api#retrieve_token )
[code]
Tell me if it's useful for you ? Then i'll create a pull request for my contribution.

[2016-05-22 19:22] olivierbellone commented on #49
@aristide Mobile apps should never have access to secret keys. An attacker could extract the key from the app and use it maliciously.

The correct answer here is that checking the token should happen server-side, not directly within the app. We should either completely remove the `requestToken()` method, or at least make it clear that it's only usable with API versions < 2014-10-07.

[2016-05-22 19:25] olivierbellone commented on #59
Hi @miceliedna, sorry for the very late reply! The Android library is only for tokenizing card information. Once you've created a token, you need to send it to an external server in order to use it in API requests, e.g. to save it on a customer object that can be used to create charges in the future, as explained in [this tutorial](https://stripe.com/docs/charges#saving-credit-card-details-for-lat

[2016-05-22 19:25] #59 closed

[2016-05-22 19:28] olivierbellone commented on #66
Hey @PorridgeBear, sorry for the late reply! I think you confused the [Android library](https://github.com/stripe/stripe-android) (meant to be used in native Android apps to tokenize card information) and the [Java library](https://github.com/stripe/stripe-java) (meant to be used in server-side code to issue requests to Stripe's API).

You can find usage instructions for the Android bindings [here

[2016-05-22 19:28] #66 closed

[2016-05-23 06:59] aristide commented on #49
Then wwe should remove `requestToken()` method like you said and update the documentation to promote server-side token checking.

[2016-05-24 18:39] asielgil88 commented on #60
@andrewnelder as you can see in my code im using method getType() and is not working, also i'm using this dependencies   compile 'com.stripe:stripe-android:+' so it should be updated

[2016-05-24 19:10] asielgil88 commented on #60
@filipebarcos is like you said the method getType() is compute based in the card numbers since they don't store the card numbers, it can't be computed so always result is null.

[2016-06-10 06:11] Ansalibrahim opened #70 "Are you sure that the doc is correct"
I've added `compile 'com.stripe:stripe-android:+'` into my gradle dependencies and sync the gradle. After that I tried the codes from the doc. Unfortunately, the class `Card` had no contructors(only default contructor is available). I am stuck there and not sure about how to proceed with the integration. Am I missing something in the steps or doc is no more valid.

[2016-06-13 13:32] alaouinihel opened #71 "How to handle the price that will be reduced from the card in this example ?"

[2016-06-15 10:47] #71 closed

[2016-06-18 08:39] BhargavVGhodasara opened #72 "WalletFragmentOptions not found"
hi @bct

i am using your code in eclipse and unfortunately i can not get class **com.google.android.gms.wallet.fragment**  is there i missing something,then please guide me..

Thanks.

[2016-07-01 06:24] samirmangroliya opened #73 "Customer does not have a linked card with ID"
i got error that Customer  cus_id does not have a linked card with ID

[code]

[2016-07-26 11:16] chrisjenx commented on #47
@evelyne24 It would be preferable to provide a sync method or a RxJava hook/extension (See retrofit etc)

[2016-08-08 10:19] manidesto commented on #61
@andrewnelder #64 is closed but the issue is not fixed yet!

[2016-08-09 18:37] a-shark commented on #66
In case anyone else runs into this—there are, as of this writing, two "Stripe" objects included in the Android library:

`com.stripe.android.Stripe;`

and

`com.stripe.Stripe`

Android Studio's auto-import may (did for me) grab the second one instead of the first. This is not immediately obvious, but if you see errors about Stripe being abstract that's likely your problem. Fix your import.

So thi

[2016-08-11 11:06] prataptest opened #74 "Card.java considers 3 digit CVV for AMEX card invalid"
https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/Card.java

check the boolean validateCVC(); method. But in iOS SDK 3 digit CVV for AMEX cards are accepted.
refer: https://github.com/stripe/stripe-ios/issues/299

Also, adding comments and a handful of formatting changes, setting public methods that don't need to be public to be package-private, and

[2016-08-15 16:05] RicardoE105 opened #75 "funding property is not in the card object"
i created a card token, but when i check the response i can't find the funding property. the funding property let me know if the card is debit, credit or prepaid.

[2016-08-16 14:35] tomislavturcic commented on #47
Is there any solution to this? I'm having 3 network calls after Stripe token is created and it would be nice to wrap them all up into a single call :)

[2016-10-17 14:58] toidv commented on #43
Please help to update on this issue, or make something workaround would be great. Thanks

[2016-10-29 18:03] tribitinfotech opened #77 "Failed to resolve: com.stripe:stripe-android:+"
I have added this line in my build. project as described in your doc.
 compile 'com.stripe:stripe-android:+'

I am getting this kind of error. why I got this? which version of your library for android working now?
Error:(14, 13) Failed to resolve: com.stripe:stripe-android:+

[2016-11-14 23:25] #50 closed

[2016-11-14 23:27] mrmcduff-stripe commented on #33
Looks like this has been resolved -- if you're still experiencing this problem, feel free to reopen!

[2016-11-14 23:27] #33 closed

[2016-11-14 23:29] mrmcduff-stripe commented on #77
In which build.gradle did you put his value?

This line belongs in the dependencies { } task of the app/build.gradle file (not the root level build.gradle file!)

I'm not seeing any problems compiling a sample project.

[2016-11-14 23:29] #77 closed

[2016-11-14 23:33] mrmcduff-stripe commented on #72
Hi @BhargavVGhodasara -- I'm not sure exactly what problem you're running into, but the most comprehensive guide for using the google payment api can be found on the [Google Dev Site](https://developers.google.com/android-pay/tutorial).

It may also be worth your time to look at the [WalletFragment overview and discussion](https://developers.google.com/android/reference/com/google/android/gms/wall

[2016-11-14 23:33] #72 closed

[2016-11-14 23:35] mrmcduff-stripe commented on #38
The current version in maven is 1.0.5 -- looks like we got to this last year.

[2016-11-14 23:35] #38 closed

[2016-11-14 23:53] mrmcduff-stripe commented on #14
Hi @phillco -- this would be nice, but it's outside the scope of the Example app if/until we add those features to the SDK itself. I'm going to go ahead and close this.

[2016-11-14 23:53] #14 closed

[2016-11-14 23:55] mrmcduff-stripe commented on #42
@VladIancu -- there is presently no such model. We're looking to expand the functionality of the SDK in the future, though.

[2016-11-14 23:55] #42 closed

[2016-11-14 23:58] mrmcduff-stripe commented on #53
#13 addresses this issue, and has a link to a TextWatcher-EditText combo that does do this. We're looking to expand the functionality of the SDK in the not-too-distant future, though, so keep your eyes peeled.

[2016-11-14 23:59] mrmcduff-stripe commented on #13
This is set as a feature request and being tracked in #53 , so I'm going to go ahead and close it here.

[2016-11-14 23:59] #13 closed

[2016-11-15 00:03] mrmcduff-stripe commented on #70
Card does indeed have a public constructor (see https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/Card.java#L189)

Are you by chance trying to use a com.stripe.model.Card instead of a com.stripe.model.android.Card? The former has no constructor, but the latter has several public constructors.

[2016-11-15 00:03] #70 closed

[2016-11-15 01:46] mrmcduff-stripe commented on #32
Hi @ddomgn -- are you still experiencing this problem? As [Google has stopped supporting Eclipse as of June 2015](http://android-developers.blogspot.de/2015/06/an-update-on-eclipse-android-developer.html),  we're no longer going to be actively maintaining compatibility. We won't be doing anything to stop you from continuing to use your IDE of choice, and stripe-android should continue to be import

[2016-11-15 01:46] #32 closed

[2016-11-15 04:51] ddomgn commented on #32
No, I'm not experiencing this problem anymore. Thanks for the quick response! :-)

[2016-11-15 14:05] simon-marino opened #81 "No model for Parent when expanding parent to SKU in fetch Order request"
When requesting all orders, it's possible to add a data flag to get more information about the parent, using, for example

[code]

Usually the OrderItem object will have a member "parent" which is a String, which is the parent ID. However with the above flag we get back a more complex parent object.

There is no such complex parent object supplied in the models with this SDK, can you add this?

[2016-11-15 14:18] ob-stripe commented on #81
Hey @simon-marino. The only operation that should be done from the Android SDK is the collection and tokenization of the payment information.

Technically, our Android SDK relies on our [Java SDK](https://github.com/stripe/stripe-java#stripe-java-bindings-) to issue tokenization requests, and the Java SDK can be used to issue any API request. However, you should not do so from your mobile app as n

[2016-11-15 14:18] #81 closed

[2016-11-15 15:15] simon-marino commented on #81
Hi @ob-stripe thanks for your response.

We're using a server for to passthrough requests in order to implement the kind of security you mention, so we have no such vulnerability.

IMO the issue still stands and is an Android SDK issue. I would like the ability to deserialize the resulting JSON into a model which you provide without having to roll my own. Is this possible?

[2016-11-15 15:36] ob-stripe commented on #81
I think this is more of an issue with the Java SDK than with the Android one. At the moment, the Java SDK does not have support for the [`expand`](https://stripe.com/docs/api#expanding_objects) parameter, although we're working on it.

You can check the following issues for more information about the current state:
- https://github.com/stripe/stripe-java/issues/268
- https://github.com/stripe/stri

[2016-11-15 15:40] simon-marino commented on #81
Okay thanks for that.

[2016-11-15 15:55] simon-marino commented on #81
@ob-stripe I see that in the Java SDK the branch dpetrovics-expanding-objects was merged into master two weeks ago, looks like it'll be in the next reelase. Currently the Java SDK is on v3.2.0 but the Android SDK dependency is for v1.48.0, will you be updating to latest version soon? Obviously I'm interested to get this `ExpandableField<>` support in!

[2016-11-15 16:33] ob-stripe commented on #81
The Android SDK is actually using stripe-java 2.6.0 at the moment ([here](https://github.com/stripe/stripe-android/blob/24005371e95ea68db9d37b068f2d88b01a178f66/stripe/build.gradle#L4)), the 1.48.0 JAR file is a red herring, it's no longer used.

I've just opened a PR to use the latest stripe-java, 3.2.0 ([here](https://github.com/stripe/stripe-android/pull/82)).

That said, I'm not sure I underst

[2016-11-16 17:41] mrmcduff-stripe commented on #74
Closed with #83 !

[2016-11-16 17:43] mrmcduff-stripe commented on #26
Closing to keep working towards inbox zero -- this is definitely an item on our radar, though. Thanks for requesting!

[2016-11-16 17:43] #26 closed

[2016-11-17 08:09] ming13 commented on #74
@mrmcduff-stripe Not sure it is closed properly though. As mentioned in the stripe/stripe-ios#299, American Express can have 3 or 4 numbers in CVC. This fix does not change this as I see it, it still validates AmEx as 4 numbers in CVC. Can we please reopen this issue at least?

[2016-11-17 18:41] mrmcduff-stripe commented on #74
Ah, I see. I misunderstood what was causing the bug -- elsewhere someone had pointed out that the card type can get set when it shouldn't, and then our logic to check against AMEX didn't get called. I'll put in a separate fix for this.

[2016-11-17 18:41] mrmcduff-stripe commented on #61
I believe this was closed in #83 -- are you still seeing this @manidesto ?

[2016-11-17 18:41] #61 closed

[2016-11-17 23:59] #74 closed

[2016-11-18 00:20] mrmcduff-stripe commented on #74
Should be good now. Not quite ready to roll a new version of the libraries, but I'll try to get that pushed soon.

[2016-11-18 00:22] mrmcduff-stripe commented on #49
I'll put it on my todo list -- this could cause some apps that use it to break, so I'll have to roll it into a major version bump.

[2016-11-18 01:32] #3 closed

[2016-11-18 05:50] ming13 commented on #74
Thanks! Will check it after the push.

[2016-11-21 12:29] simon-marino commented on #81
Good point, I presumed the Android wrapper was a complete wrapper fro the Java SDK. Thanks for your help.

[2016-11-21 15:37] simon-marino commented on #53
Are you (the Stripe team) interested in a clone of the iOS STPPaymentCardTextField I'm working on? It includes a solution directly to this issue, but also extends to cover #13 and #14. I could either make a pull request with it incorporated into the example, or added to the library, or send you the WIP files directly.

[2016-11-22 17:38] bisonfute opened #93 "how to use stripe.createToken is an asynctask?"
Hi all,

I would like to use stripe.createToken in an Asynctask as I am creating the Stripe Token at the same time than other network requests.
I did look for a synchronous way to createToken but only the async mode seems to be available.

The issue is that when I try to use stripe.createToken in a custom Asynctask, it crashes. If I understood correctly the TokenCallBack expects to be in the UI Th

[2016-11-24 20:15] simon-marino commented on #53
@mrmcduff-stripe bump ^

[2016-11-25 11:34] boopathi07 commented on #13
hi i am stuck to set Credit card for GUI to show like IOS ,is there any solution

[2016-11-28 17:53] mrmcduff-stripe commented on #93
Hi @bisonfute -- At the moment we don't have a nice synchronous way for you to do that so that you could wrap that method in your own Async handler, _however_ I'm working on getting that out there to free up any kind of async handling that people want to use. It shouldn't take me long to do, but I have a short list of other improvements that we want to put into the repo before I do that. Thanks!

[2016-11-28 17:53] #93 closed

[2016-11-28 18:08] mrmcduff-stripe commented on #13
Hi @boopathi07,
At the moment there isn't a solution because we don't have a built-in gui on android like we do on iOS. I'm working to fix that, though.

[2016-11-28 21:36] #9 closed

[2016-11-29 22:49] #75 closed

[2016-11-30 02:58] mrmcduff-stripe commented on #49
This method _will_ be removed from version 2.0.0 of the SDK, but will remain in legacy versions because requestToken actually can work with a sufficiently old account. There aren't any breaking changes in versions below 2. I'm deprecating the methods, and will soon be removing them from the api to remove the potentially endangering temptation to add a secret key to an application.

[2016-11-30 03:02] mrmcduff-stripe commented on #73
@oliver-stripe -- looks like this is failing on a call in stripe-java. Is this the right usage of the id for creating a charge?

[2016-11-30 05:02] oliver-stripe commented on #73
I suspect I am not the Oliver you're looking for...

[2016-11-30 11:53] ob-stripe commented on #73
@samirmangroliya First, the customer creation request and charge creation request should be fired from your backend server, not your mobile app.

Stripe's Android SDK technically relies on the [Stripe Java bindings](https://github.com/stripe/stripe-java#stripe-java-bindings-) to create tokens, but you should never use the bindings for sending any other request directly from an Android app. If you

[2016-11-30 11:53] #73 closed

[2016-11-30 21:37] mrmcduff-stripe commented on #43
@fleficher @toidv @katoree
I'm going to add this, but there are some other changes I'm pushing first. Looking to Q1 2017 to land additional token types.

[2016-12-01 04:02] mrmcduff-stripe commented on #49
Closing, as the methods in question have been deprecated.

[2016-12-01 04:02] #49 closed

[2016-12-01 18:13] mrmcduff-stripe commented on #43
This is being tracked internally, so I'm going to go ahead and close this issue.

[2016-12-01 18:13] #43 closed

[2016-12-01 18:14] mrmcduff-stripe commented on #53
@simon-marino -- I would love to take a look. Go ahead and send a pull request!

[2016-12-01 18:14] #53 closed

[2016-12-01 18:20] mrmcduff-stripe commented on #60
This issue should be solved with pr #85. That hasn't been included in a version bump for release yet, but I'm going to be doing that very soon. In that change, we do the getType (deprecated and renamed to getBrand) calculation _if_ you set the number manually, but if you set the brand manually, we use that.

[2016-12-01 18:20] #60 closed

[2016-12-01 18:25] simon-marino commented on #53
Great @mrmcduff-stripe , will do over the next few days

[2016-12-01 19:21] #47 closed

[2016-12-01 19:23] mrmcduff-stripe commented on #35
@dbachelder -- are you still seeing this today? Just wanted to check since this is a 22-month old issue (turnaround is getting way, way faster, I promise)

[2016-12-01 19:25] mrmcduff-stripe commented on #47
@tomislavturcic, @chrisjenx, @caipivara, @evelyne24, and @chrisjenx

I'm happy to announce that we now have a synchronous createToken method (`createTokenSynchronous`) in Stripe.java, and an example of using it with rxJava hooks in the example project.

I haven't yet shipped a new version to maven central, but I'll be doing that very shortly. In the meantime, the code is in the repo if you'd like

[2016-12-01 19:26] dbachelder commented on #35
heh.. I'm not even working on that product any more :) if no one else is complaining I guess you can close! :)

[2016-12-01 20:38] mrmcduff-stripe commented on #35
Thanks! Just wanted to check before I closed it.

[2016-12-01 20:38] #35 closed

[2016-12-05 08:19] nostra13 opened #100 "Dependency on Android Framework breaks our unit tests"
[`StripeTextUtils` recently started](https://github.com/stripe/stripe-android/blob/29ea0ca00a6713f6fb7b3c6b7b7a5f0a682d11ab/stripe/src/main/java/com/stripe/android/util/StripeTextUtils.java#L47) depending on Android Framework through call to `android.text.TextUtils` which breaks our Unit Tests…

Can you please roll back to your own code which does not invoke Android Framework?

[2016-12-05 15:24] mrmcduff-stripe commented on #100
If you prefer to keep that change out, you can roll the change back in your code by using
`compile com.stripe:stripe-android:1.0.5`, which is the version before any of the changes took place.

Since I don't otherwise use TextUtils, I could use something else in a future update for this check, but use of the android framework is probably going to creep into new features at some point.

[2016-12-05 15:26] mrmcduff-stripe commented on #100
Since you can fix the broken tests using a quick gradle change, I'm going to go ahead and close this issue. Let me know if rolling back the version in your code doesn't work!

[2016-12-05 15:56] nostra13 commented on #100
We use Stripe 1.0.6 now and it works (it has no Android framework dependency yet) but we obviously want to get new features/fixes in future Stripe releases. So dependency on Android framework makes our Android-independent Unit testing of payment logic impossible.

I think you should avoid Android-framework dependency as long as you can to allow developers to use the library in Unit tests. As I see

[2016-12-05 17:11] mrmcduff-stripe commented on #100
Are you trying to share code between an android and a java application? I'm a little confused as to why you'd want to write an Android app without the Android framework.

[2016-12-05 17:15] mrmcduff-stripe commented on #100
It's not a big deal for me to move it out of that method - I added it by habit more than anything else. But I hadn't planned to make a concerted effort to keep core android classes out of future updates to our android API. There are future plans down the line to do things like having the simple checkout forms, similar to what exists in the stripe-ios SDK, and creating overlay forms is something I'

[2016-12-05 19:22] mrmcduff-stripe commented on #100
I'll go ahead and take this out for now -- but I'm doubtful on my ability to keep the android framework out of the API indefinitely.

[2016-12-06 18:36] #100 closed

[2016-12-07 16:48] simon-marino commented on #53
That's done @mrmcduff-stripe , #104

[2016-12-15 10:53] Azhar0790 opened #108 "Not getting price parameter in source"
Everything is working fine. But I am not getting from where should i add price in source code?

[2016-12-15 17:34] mrmcduff-stripe commented on #108
Hi @Azhar0790,

There is no price parameter in the stripe-android code because you can't do anything price-related without your secret key, which shouldn't be in your application code. What you can do with the stripe-android project is to collect a card from your customer and convert that into a token using the `createToken` methods supplied. You can then send that token up to your server, which w

[2016-12-15 17:34] #108 closed

[2016-12-22 09:15] baole opened #115 "com.stripe.android.Stripe.VERSION not found on v2.0.0"
When using Stripe with Android Pay, MaskedWalletRequest needs stripe:version which is set to com.stripe.android.Stripe.VERSION. But this field is not available on version 2.0.0. Any help?

[2016-12-22 09:32] milcarzgrzegorz opened #116 "TokenParser.parseToken()"
parseToken(java.lang.String) is not public in 'com.stripe.android.net.TokenParser'. Cannot be accessed from outside package  ??  Need some help here

androidPay example from https://stripe.com/docs/mobile/android

Token token = TokenParser.parseToken(tokenJSON);

[2016-12-22 17:34] mrmcduff-stripe commented on #116
My apologies -- you can use a GSON instance to do so in the interim, but that was a mistake on my part. I'll have that fixed in a few hours.

[2016-12-22 17:42] mrmcduff-stripe commented on #116
Let me know if this fixes the matter for you -- I'm going to close for now, but feel free to reopen if there's still a problem parsing the token.

[2016-12-22 17:42] #116 closed

[2016-12-22 17:48] mrmcduff-stripe commented on #115
The version string you need is "3.5.0", which is stored in com.stripe.android.net.StripeApiHandler.VERSION. I'll make that field public in an update in a few hours.

[2016-12-27 13:45] clem44 opened #117 "Missing static variables and Model classes"
With the latest build version (2.0.2) Android Studio is giving gradle build errors of **can not find symbol**  for Stripe.apiKey and also for The Charge model class. Have these been given private access or removed all together?
How do I immediately charge a card with a saved token using the new stripe api?
I was following this tutorial [https://stripe.com/docs/charges](url)  but it seems to be not

[2016-12-27 17:46] mrmcduff-stripe commented on #117
Hi @clem44 --

With version 2.0.0 and later, we broke the dependency from stripe-android on stripe-java. The primary reason for this is that it reduces the number of libraries you have to compile into your app -- stripe-android doesn't depend on GSON. The other reason is that stripe-java was designed to be run server-side, and most of the actions that you can take with it require a secret key (in

[2016-12-27 17:46] #117 closed

[2017-01-04 04:36] kesienajoel opened #118 "my app crashes when i create card object"
hello, My app crashes when i create a card object, if i use null values for expMonth and expYear, it works but when i use an integer value, my app closes.
example

 card = new Card("4242-4242-4242-4242", 12, 2018, "123"); [this fails]
 card = new Card("4242-4242-4242-4242", null, null, "123"); [this works]

n.b - I am creating a stripe plugin for use in my Nativescript project

[2017-01-04 17:46] mrmcduff-stripe commented on #118
Try
[code]
You're not supposed to have dashes or spaces in the credit card number when you put it into the constructor. I have some tests around this -- it shouldn't crash with an invalid number on the constructor, but it very well may depending on what you do with it in the following lines.

[2017-01-04 17:46] #118 closed

[2017-01-04 18:31] kesienajoel commented on #118
thanks for the response, I discovered that variables cardExpMonth and cardExpYear were both declared as Integer and javascript was sending the variables as type Number. So I edited the code as shown below and it worked:

cardExpYear = new java.lang.Integer(cardExpYear);
cardExpMonth = new java.lang.Integer(cardExpMonth);
card = new Card(cardNumber,cardExpMonth,cardExpYear,cardCVC);

[2017-01-04 18:32] mrmcduff-stripe commented on #118
Ahhh... that makes more sense for why it would crash then. That was the
only part that was confusing me; I'd been writing junit tests trying to
recreate a crash in the constructor.

On Wed, Jan 4, 2017 at 10:31 AM, kesienajoel <notifications@github.com>
wrote:

[2017-01-04 18:34] mrmcduff-stripe commented on #118
Depending on how you're parsing your javascript, there are ways to get that number->integer transition automatically. [Retrofit](https://square.github.io/retrofit/) should make that pretty easy.

[2017-01-09 11:32] AndroidKrayze opened #120 "Fatal Exception: java.lang.IncompatibleClassChangeError"
After updating Build Tools and SDK my application crashes in my Payment Fragment as soon as I want to add a new Card.

I have had this problem before with Stripe because I was using 'com.stripe:stripe-android:+' Then I switched to stable version 1.0.1 which worked fine.

Once I updated to BuildTools 25.0.1 and Stripe 2.0.2 it crashes with IncompatibleClassChange Error, and if it happenes to switch

[2017-01-09 12:39] AndroidKrayze commented on #120
Hello Guys, You can close the issue now.

I found out that a library I was using, had an outdated version of Stripe in its gradle, so as soon as I updated it crash has been fixed. Apologies for the false alarm ;)

[2017-01-09 13:12] ob-stripe commented on #120
Thanks for the followup @AndroidKrayze, glad you figured out the problem! :)

[2017-01-09 13:12] #120 closed

[2017-02-09 09:52] Rkr999 opened #142 "Payment Screen"
How to add credit cards to stripe without PCI compliance issues. In iOS payment method controller is there to handle the same, which doesn't allow the developer to read the credit card data.

Please let me know if Stripe has some Android Activity to tokenise the credit card information?

thanks.

[2017-02-10 17:40] mrmcduff-stripe commented on #142
Hi @Rkr999 -- I'm working on that right now. The progress is coming on the [cardreader](https://github.com/stripe/stripe-android/tree/cardreader) branch. We won't be shipping that at first completely without the ability to touch the Card object, but our development is trending in that direction and you should start to see a lot more of that in the near future.

[2017-02-10 17:40] #142 closed

[2017-03-02 17:24] ahaverty opened #156 "Card Input Widget Example/Screenshot"
Hi Stripe,
An example/screenshot of the Card Input Widget in the readme would be a nice bonus and would help in deciding whether it's suitable without having to implement and run.
(Apologies if there are examples, I couldn't see one here or on stripe's docs.

[2017-03-02 17:34] mrmcduff-stripe commented on #156
No problem - we do indeed need it out there. I'm working with design to get a better image/animation (our docs team puts a lot of work into how things look). Here are a few quick screenshots of it on a dark background.

It picks up coloring from whatever the EditText values (note that the "Add Payment Method" header is not part of the widget, just a TextView above it)
<img width="322" alt="screens

[2017-03-02 17:40] ahaverty commented on #156
Thanks for the super quick response! Looks good 🎉

[2017-03-02 17:40] #156 closed

[2017-03-02 17:43] ahaverty commented on #156
Also, can I suggest the placeholder be made 1234 5678 1234 5678, there's a surprising amount of people who try their hand at entering test cards on our production app, I'd hate to encourage anymore, I believe the stripe iOS uses 1234 5678 1234 5678 by default too. Thanks for the help

[2017-03-02 17:53] ahaverty opened #157 "Card Input Widget Setting suggestion"
Hi Intercom, I hope it's okay to make suggestions here.

I want to stay stripe native, and use the Card Input Widget, but I also want to allow users to enter card details faster with libraries like card.io or NFC libraries. I'd like to use the Card Input Widget as the core card entry regardless, but it doesn't look like it's possible to programmatically set the Widget's card number/expiry/cvc.

Su

[2017-03-02 18:06] ahaverty opened #158 "Spacing and Width issues while using drawer_layout"
Hi Stripe,
I'm seeing strange width and spacing issues using the CardInputWidget on my drawer_layout. It seems like it's getting the width of the layout and the menu to determine the spacing of the CardInputWidget rather than the Widget's actual parent's width (The Linear Layout)? (Please see attached)

I could move it to another activity, but i'm trying to keep the clicks down for first time user

[2017-03-02 23:00] mrmcduff-stripe commented on #158
The layout calculations are based on the FrameLayout that contains the moving EditTexts -- the ImageView on the side (with the card icons) is actually outside of that (I was trying to avoid adding more layout depth when possible), and the entire control is contained inside a horizontal LinearLayout. You can add margin to the left side of it without disturbing the calculations.

Something like

[co

[2017-03-02 23:01] mrmcduff-stripe commented on #158
It's as if you had a LinearLayout at that place in your layout, so you can apply whatever modifications you'd like as if it was such.

[2017-03-02 23:03] mrmcduff-stripe commented on #157
Absolutely! We love getting suggestions. Camera is on our roadmap (but not in the immediate future).

Would you be looking for just having:
[code]

[2017-03-02 23:04] mrmcduff-stripe commented on #157
That's pretty reasonable -- one of our goals is to reduce the amount of ways for customer code to hit the actual card data (that way the security risk / auditing is all on our side, not yours).

[2017-03-02 23:16] mrmcduff-stripe commented on #157
*adding as feature request*

(This is something that wouldn't take super long to do -- I'll float it by the team and make sure it's not breaking the pathways we'd intended the product to be used)

[2017-03-02 23:16] #157 closed

[2017-03-02 23:47] mrmcduff-stripe commented on #158
Let me know if this clears up the issue you were having (or if I misinterpreted what the issue was!)

[2017-03-03 00:30] ahaverty commented on #157
Exactly that, awesome thanks👌

[2017-03-03 00:33] ahaverty commented on #158
I see, looks like it's working as intended so, sorry for jumping the gun. I quickly added the widget without any padding and it just seemed odd, but your example makes sense, thanks again for the help 👌

[2017-03-03 00:33] #158 closed

[2017-03-03 00:40] mrmcduff-stripe commented on #158
I was worried about assigning it a default amount of padding, because then you'd have to calculate around my pre-added value. No worries about reporting! We're always happy to help.

[2017-03-03 21:04] ahaverty opened #160 "Suggestions/Requests"
- A utility with access to things like the BRAND_RESOURCE_MAP from the CardInputWidget class
- A simple UI widget for displaying a single payment method, similar to the CardInputWidget (last four, card icon, name etc) [Anything to speed up developing the user's list of payment methods]
- A basic recyclerview adapter and layout combining the above 🤔
 👍

[2017-03-04 00:35] mrmcduff-stripe commented on #160
Thanks!

[2017-03-07 17:45] mrmcduff-stripe commented on #160
Re: a stored-card display item:

This is a feature we'll be doing in the future, but we have to point that towards getting stored card information off of our servers (with queries done on your server, since right now this takes a secret key), and with limited card data coming back (last4 instead of number, etc). We have to make sure not to encourage users to store card information themselves. This

[2017-03-07 17:45] #160 closed

[2017-03-07 22:57] Nicrob64 opened #164 "Widget listener and Customer/Source support"
Could we have support for a widget listener so that we can enable/disable action buttons if the fields are not filled in correctly or are just plain empty? (without needing to roll our own custom form)

It would also be nice If there was a `Customer` and `Source` object like in the ios library. I've made my own versions specific to what I need, but it took some digging though some docs and the ios

[2017-03-08 00:32] mrmcduff-stripe commented on #164
Source is on the way (I'm developing that in the `sources` branch right this second) -- Customer is something that's a little further down the pipeline because of some other changes that are hopefully going to make it much easier for you to do a lot more client-side.

For the widget listener, are you thinking you'd just want a setOnComplete(CardWidgetListener listener) function that we would call

[2017-03-08 01:29] Nicrob64 commented on #164
A state based listener would allow us to create a more ios like controller (change hero image in fragment depending on what state they are in), so that would be the ideal. But any sort of completion listener would be good enough.

[2017-03-08 19:04] mrmcduff-stripe commented on #164
Okay! Thanks. I'll put in a feature request for that (feature requests go to me, but it helps to have a record).
Sources support is the priority at the moment, but we're going to have some time to do minor updates in a bit as well.

[2017-03-08 19:04] #164 closed

[2017-03-09 05:24] malti4 opened #167 "Could not resolve et_card_number"
The following classes could not be found:
- com.stripe.android.view.CardNumberEditText (Fix Build Path, Edit XML, Create Class)
- com.stripe.android.view.ExpiryDateEditText (Fix Build Path, Edit XML, Create Class)
- com.stripe.android.view.StripeEditText (Fix Build Path, Edit XML, Create Class)

stripe'CardinputWidget shows error 'Cant resolve et_card_number' and view is also a mess.Kindly help

[2017-03-09 22:21] mrmcduff-stripe commented on #167
What are you trying to do when you get those errors? Can you paste some of the code surrounding it?

If you are just dropping in a CardInputWidget, then you should be able to use the full functionality without ever referring to those sub-views.

[2017-03-09 22:36] mrmcduff-stripe commented on #167
In general, you should call `CardInputWidget#getCard()`, not attempt to get the individual card field values.

[2017-03-10 05:36] malti4 commented on #167
![2017310105956 1](https://cloud.githubusercontent.com/assets/24933428/23783432/6633250c-0510-11e7-8669-0c4dee75cd1e.jpg)
Here is the image of my code kindly take a look and please help me out

[2017-03-10 13:51] schopy opened #169 "CardInputWidget setters"
Is there a way to set a card in the CardInputWidget? I'm thinking of using a lib to allow the user to scan the card using the camera. Once this is done I would like to populate the CardInputWidget with the info retrieved.
Is there something I'm missing or the feature does not exist ?

[2017-03-10 16:55] mrmcduff-stripe commented on #167
Does it look like that only in the preview, or when you actually launch an activity? I calculate the locations of the various sub-views dynamically based on the dimensions of the phone, but that happens during the activity lifecycle. It also helps to give the CardInputWidget an android:id field (Though I assign a default one if you don't -- otherwise Android doesn't by default allow for View lifec

[2017-03-10 16:55] mrmcduff-stripe commented on #167
Also, if you want it to have some padding on the left, you can add that in the XML. I didn't give it a default amount so that you can set it to match your appliciation.

[2017-03-10 17:00] mrmcduff-stripe commented on #169
This feature doesn't yet exist -- we're going to expand to card input systems, but doing it by allowing setters is actually an anti-pattern for us. We're looking to work with a common input library like that, but in the meantime allowing a setCardNumber() method encourages users to have their code touch actual credit card numbers, which exposes them to potentially being required to do their own se

[2017-03-10 17:00] #169 closed

[2017-03-13 08:16] schopy commented on #169
@mrmcduff-stripe Maybe "setters" wasn't the best choice of words but you understood what I was thinking about : a way to give input to the widget. As for the card-scanning library I am going with https://www.card.io/

[2017-03-13 10:09] sergeyfitis opened #172 "ID of the Card"
Hi. How I can get `cardId` parameter from stripe `Card` model? There is no such field. Stripe ios sdk has `cardId` field.
`Android Card class`
https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/Card.java#L74
![screen shot 2017-03-13 at 12 10 40](https://cloud.githubusercontent.com/assets/3204638/23850010/5bf10dce-07e6-11e7-8fe2-f5acb226ac4a.png)
`iOS

[2017-03-13 10:17] sergeyfitis commented on #172
@mrmcduff-stripe Could you help me?

[2017-03-13 16:45] mrmcduff-stripe commented on #172
We don't have that in the API yet -- it's actually a pretty small field to put in. We're going to push an update to add some other things in just a little while; this shouldn't be a problem.

[2017-03-13 16:45] #172 closed

[2017-03-13 16:45] mrmcduff-stripe commented on #172
(To clarify -- this doesn't exist in the API presently, but I'll add it soon)

[2017-03-13 16:46] mrmcduff-stripe commented on #167
@malti4 -- Just wanted to check, does the positioning issue happen when you run that activity in the simulator, or only when looking at the design preview?

[2017-03-13 19:21] esong commented on #115
Hello,

StripeApiHandler.VERSION was removed in https://github.com/stripe/stripe-android/commit/aef343478c9515dfef310baf0603e07d09ee58f5. Are there any other ways of getting it now? Using com.stripe.android.BuildConfig.VERSION_NAME?

Could you please also update the documentation(https://stripe.com/docs/mobile/android#collecting-payment-information-through-android-pay) with this change?

Thanks,
E

[2017-03-13 20:09] mrmcduff-stripe commented on #115
BuildConfig.VERSION_NAME is exactly what that field is looking for -- I removed it so that we didn't have a manual field to (possibly forget to) update with each release, since it was tracking the API bindings.

Thanks for pointing out the missed update in the documentation!

[2017-03-13 20:21] mrmcduff-stripe commented on #169
Card.io integration is the best way to go for this -- what I think we'll end up doing is creating a card display widget that looks suspiciously like the card entry widget, but isn't manually updatable and only shows safe data (last4, etc) and that you'd be able to swap out to an entry widget to allow for input.

Thanks for the suggestion -- I'll add a feature request. This isn't what I'm adding ri

[2017-03-13 20:23] mrmcduff-stripe commented on #115
@esong -- the site should be updated in about an hour, depending on how long our deploy server feels like taking. Thanks again for pointing out the error!

[2017-03-13 20:23] #115 closed

[2017-03-13 20:29] esong commented on #115
@markwong-stripe No problem, thank you for the quick update.

[2017-03-14 02:39] luisabaroa14 opened #175 "Customer model does not appear"
Hi, I have some troubles when trying to create a customer in android. The classes Customer and Charge does not appear.

[2017-03-14 06:30] malti4 commented on #167
@mrmcduff-stripe -- it happens at the design preview aswell as in simulator, in my phone.

[2017-03-14 08:47] schopy commented on #169
Having a card display widget can be useful for displaying a list of available cards.

But for this particular use case I think the widget should be editable.
For example, if the card scanning library gets one digit wrong (it's been a while since I used a feature like this but I remember having trouble with scanning my cards) the user should be able to manually edit the card number once the widget

[2017-03-14 16:43] mrmcduff-stripe commented on #167
It looks like the theme you're in has a pretty dark hint text, which is why those lines are more visible than they should be. Do you have any unusual settings on your EditText elements?

It also appears from your screen photo as if you're using a default orientation linear layout, which is horizontal. You probably want the enclosing LinearLayout to be vertical

[code]

[2017-03-14 16:45] mrmcduff-stripe commented on #175
Hi @luisabaroa14 -- when you say that you're trying to create a customer in Android, what do you mean? We don't actually have Customer and Charge creation models in the Android SDK.

[2017-03-14 16:49] mrmcduff-stripe commented on #167
I tried changing the example project (in this SDK) to just have a horizontal linear layout as the base and put in the CardInputWidget as an element, and it still looked normal. My best guess is that this has to do with an odd theme setting -- if you have default paddings or gravity set on all EditText elements, then this is going to throw off the way that the CardInputWidget displays them.

[2017-03-14 22:35] luisabaroa14 commented on #175
Yes I have seen on the documentation that you were able to create those clases on java https://stripe.com/docs/charges
Or how does it works on android for creating a customer?

[2017-03-14 23:07] mrmcduff-stripe commented on #175
Yes, those are in our Java library (meant for server-side Java), but not in our Android library. There's nothing stopping you from including `stripe-java` in your Android application, but we don't encourage you to that because
1. `stripe-java` is not optimized for mobile -- that was never the intention of the writers when it was created
2. `stripe-java` has functions that should not ever be used i

[2017-03-14 23:08] mrmcduff-stripe commented on #175
I'm going to go ahead and close this issue, as the functionality you're looking for is not yet in stripe-android, but feel free to follow up if you have any other questions.

[2017-03-14 23:08] #175 closed

[2017-03-15 09:38] malti4 commented on #167
@mrmcduff-stripe  Sir i used linear layout with vertical orientation,with no padding.The issue is it gives me render problem with Could not resolve @id/et_card_number.And even on refreshing same error comes

[2017-03-16 06:32] fxo140130 opened #177 "Stripe connect backend server (using node js)"
@ mrmcduff-stripe

Please, could you advise me on how I can put together the stripe connect so I can pay my users ?

thanks

[2017-03-17 02:11] mrmcduff-stripe commented on #167
The padding won't mess up your layout -- it would just move the card icon off the side of the page, if that's what you prefer.

It really looks like there's something going on with your theme -- something is telling the `EditText` elements to ignore their alignment and do something that they otherwise wouldn't be doing. The positioning on all of them is done by setting each textview's `layout_marg

[2017-03-17 02:16] mrmcduff-stripe commented on #177
Hi @fxo140130 -- connect isn't something that's directly a part of this SDK (Stripe offers it, but we don't have a dedicated android library for it). I'll look up the appropriate field engineering team and get you in touch.

[2017-03-17 02:18] mrmcduff-stripe commented on #177
@fxo140130 -- this issue tracker is intended to be specifically for bugs and/or feature requests for the android bindings. For integration questions, the best way to get in touch is to email support@stripe.com, and they'll be happy to answer your questions!

[2017-03-17 02:18] #177 closed

[2017-03-20 04:55] malti4 commented on #167
@mrmcduff-stripe i build and run the sample application and it work fine and it looks normal in emulator!!

[2017-03-20 16:14] mrmcduff-stripe commented on #167
That's great news! But I still want to help you figure out what's not working about your application -- that's the important one. My best guess is that something is setting layout margins in one of your themes. I'd love to get to the bottom of it so that I can make any changes necessary to the control so that our code works better with everyone else's.

[2017-03-21 05:46] malti4 commented on #167
@mrmcduff-stripe Sir i started a new application and took a new xml file which has linear layout with orientation as vertical n no margins ,no paddings and then add CardInputWidget to that linear layout .But it agains shows that same view and the same error "Render Error-can not resolve et_card_number".So can u just do the same thing and see that same error will come up into your view or not!!

[2017-03-22 15:49] NickEcho opened #182 "Styling CardNumberEditText"
I'm using the CardNumberEditText view in my layout. This works fine and all but unfortunately the [error color](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/view/StripeEditText.java#L33) is set by  [CardInputWidget](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/view/CardInputWidget.java#L383-L385) and ca

[2017-03-23 23:13] mrmcduff-stripe commented on #167
Sorry - got pulled away for a bit. I'll try it on a brand new application in just a bit.

[2017-03-23 23:16] mrmcduff-stripe commented on #182
Hi @NickEcho --

You can't directly set it, but you can actually determine the error color in the XML -- you can also change the hint color (which changes the color of the card icon when it's not a logo):
https://stripe.com/docs/mobile/android#styling-the-card-widget

I'm going to close this out, but please let me know if that doesn't work for you!

[2017-03-23 23:16] #182 closed

[2017-03-24 10:20] NickEcho commented on #182
You can only use that styling in the [CardInputWidget](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/view/CardInputWidget.java#L374-L377) though.

I'm not using the whole widget but rather just the [CardNumberEditText](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/view/CardNumberEditText.java) component b

[2017-03-24 16:48] mrmcduff-stripe commented on #182
Ah, I see. I can probably roll that into a larger update I've got coming.

[2017-03-24 17:43] NickEcho commented on #182
That would be great!
Thanks.

You don't suppose have an eta on that release, do you?

[2017-03-24 17:45] mrmcduff-stripe commented on #182
It's actually very, very near -- not allowed to give out exact dates though.

[2017-03-24 17:52] mrmcduff-stripe commented on #167
Started a blank new project, did nothing but add a CardInputWidget to the activity:
<img width="327" alt="screenshot 2017-03-24 10 54 41" src="https://cloud.githubusercontent.com/assets/23323692/24307017/d7665d14-107f-11e7-9d53-9a548067da51.png">

Then I tried switching the default ConstraintLayout for a LinearLayout:
<img width="329" alt="screenshot 2017-03-24 10 55 39" src="https://cloud.githubu

[2017-03-24 17:53] mrmcduff-stripe commented on #167
My best guess is that you've got something weird going on in a theme file somewhere. Other than that I'm not sure why it would be showing up for you this way.

[2017-03-27 08:36] malti4 commented on #167
@mrmcduff-stripe I will try to change the theme .Thank you for your support sir

[2017-03-27 12:19] malti4 commented on #167
![image](https://cloud.githubusercontent.com/assets/24933428/24355981/f9b5dfaa-12ac-11e7-9ccb-89674a89d28b.png)

[2017-03-27 12:31] malti4 commented on #167
![image](https://cloud.githubusercontent.com/assets/24933428/24356394/9f3df36c-12ae-11e7-83bc-b390630e5351.png)

[2017-03-29 16:43] mrmcduff-stripe commented on #167
Hmm. Okay, just as a quick check, what version of the library are you downloading? Also, what is your target and min version of the android SDK?

[2017-03-30 17:12] anelder-stripe commented on #167
Hey @malti4,

Do you think you could please bring this to us through the Support Email?

https://support.stripe.com/email

We'll be happy to dig a bit deeper with you.  Please add this link (https://github.com/stripe/stripe-android/issues/167) somewhere in your email so it gets sent to the correct team.

Thank you so much!
Andrew

[2017-03-30 17:15] mrmcduff-stripe commented on #167
Hi @malti4 -- I think our support team will be better able to help you out on this one. I'm going to go ahead and close the issue, but be sure to follow up like @anelder-stripe suggested (and include the link!) and you'll have someone helping you out very quickly.

[2017-03-30 17:15] #167 closed

[2017-03-30 17:57] mrmcduff-stripe commented on #182
@NickEcho -- it's out. Update to stripe-android:3.1.0, and you should be able to set that color on individual StripeEditText instances (including the CardNumberEditText)

[2017-03-30 18:40] NickEcho commented on #182
great! much appreciated!

[2017-04-08 13:42] adonixis opened #197 "mCardInputWidget.getCard() return null when copy/paste"
When I copy and paste card information into the CardInputWidget, method mCardInputWidget.getCard() returns null. But if I type card information manually, everything is fine.

[2017-04-10 16:19] mrmcduff-stripe commented on #197
Interesting -- I wouldn't have thought copy-paste was any different from typing things in. If getCard is returning null, that means the card reader doesn't think it's a valid value. It'll return null, for instance, if the entered date is in the past, or if the card number doesn't pass a luhn check.

This sounds like a bug -- I'll verify and put out a fix ASAP.

[2017-04-10 22:00] mrmcduff-stripe commented on #197
@adonixis -- thanks for pointing this out. Fixed with the updated to v4.0.0 (live right now)!

[2017-04-10 22:00] #197 closed

[2017-04-10 22:08] adonixis commented on #197
@mrmcduff-stripe Thanks for this quick fix!

[2017-04-19 00:49] mrmcduff-stripe commented on #164
@Nicrob64 -- we added a CardInputListener in v4.0.1! Sorry for the delay!

[2017-04-21 10:16] dungnguyendotme opened #212 "Can not find CardInputWidget"
I can not resolve com.stripe.android.view in 4.0.1

Please help

<img width="487" alt="screen shot 2017-04-21 at 5 14 03 pm" src="https://cloud.githubusercontent.com/assets/17266479/25273453/0ba718e2-26b6-11e7-883f-b9c142862ec2.png">

[2017-04-21 10:25] #212 closed

[2017-04-21 22:49] andrewmunn opened #213 "PII Data API"
I need to use the PII API to get a PII token, but the Android library seems to be missing it. I can only find documentation for the Javascript API.

https://stripe.com/docs/stripe.js?#collecting-pii-data

Thanks

[2017-04-24 16:19] mrmcduff-stripe commented on #213
Hi Andrew!

You're right that it's missing it -- at the moment that is down the pipeline, just hadn't bumped up quite high enough in the dev priority queue. But with an actual customer asking for it, I'll see if I can get it moved up.

Michael

[2017-04-26 04:37] luisabaroa14 opened #215 "Error on card.validateCard() method"
Hi I have some issues when using this method, when I introduce an invalid card it does not advices me if it is wrong.
Thanks

[2017-04-26 16:22] mrmcduff-stripe commented on #215
Hi @luisabaroa14 -- what kind of invalid cards are you seeing it pass? Can you paste some code?

That method doesn't explicitly check to see if it's a valid card (for instance, 4242 4242 4242 4242 with any expiry date in the future and any 3-digit CVC code passes, despite that not being a real credit card). It does a few client-side verifications to see if that card information could *possibly* be

[2017-04-26 19:54] luisabaroa14 commented on #215
Hi I am using real cards but I wanted to check if the CVC and the expiration date were correct. Is there any method that can do that?
Thanks for the fast reply!

[2017-04-26 21:09] mrmcduff-stripe commented on #215
Not on the client-side, I'm afraid. I can only check if those are possibly valid dates, so the only verification on the date is whether or not it's in the future, and the only verification on the CVC is to be the right length.

If you try to make a token with an incorrect expiration date or CVC, you'll get an error back -- but we have to make a call to the server to check on that. You'll receive a

[2017-04-26 21:09] #215 closed

[2017-04-27 05:38] ming13 opened #217 "English and Default strings"
Seems like `values/strings.xml` and `values-en/strings.xml` are essentially the same. I believe `values-en/strings.xml` can be eliminated since Android will use default ones which are in English anyway.

This is important because this way `resources.arsc` table `string` at this point has redundant column `en`, which consumes additional space of `{number of strings}` rows.

<img width="655" alt="sc

[2017-04-27 16:41] mrmcduff-stripe commented on #217
Looks like we forgot to remove the old file (values/strings.xml); it should be a simlink. It's only three strings, but we should remove it.

[2017-04-28 05:58] ming13 commented on #217
Actually this way the column will stay the same. I think that `values/strings.xml` should contain English strings and `values-en/strings.xml` should be removed. If there is something really specific, there are `values-en-US` and `values-en-GB`.

[2017-05-10 20:45] nextdimension opened #227 "Request Layout improperly called for CardWidget"
The card Widget has the warnings below  when its being drawn on screen.
If you leave the screen open long enough the widget stops responding.

 requestLayout() improperly called by com.stripe.android.view.CardNumberEditText{80df43f VFED..CL. ......ID 0,0-452,63 #7f0d00b5 app:id/et_card_number} during layout: running second layout pass

requestLayout() improperly called by com.stripe.android.view.E

[2017-05-10 21:23] mrmcduff-stripe commented on #227
Interesting. Do you get this only on one phone, or consistently?
I'll look into it - didn't think about things showing up if you just leave the item on the screen for a while.
Also - are you displaying this in a RecyclerView?

[2017-05-11 08:22] nextdimension commented on #227
I have only tested this on an emulator so far.
I am displaying it in view without a recycler, just a linear layout.

[2017-05-15 22:36] mrmcduff-stripe commented on #227
@nextdimension - just wanted to check in; have you noticed this at all on test devices yet? I haven't been able to repro the behavior

[2017-05-16 20:53] mrmcduff-stripe commented on #213
Solution was merged - this should be shipped with version 4.0.3 (can't promise a timeline, but sometime after a week is most likely)

[2017-05-16 20:53] #213 closed

[2017-05-16 21:14] #217 closed

[2017-05-16 21:15] mrmcduff-stripe commented on #217
This will ship with 4.0.3

[2017-05-20 11:26] Belozerow opened #243 "Is the "return to merchant" screen required?"
After 3d secure verification I see this screen:
<img src="https://cloud.githubusercontent.com/assets/973215/26275359/1437b5c4-3d78-11e7-8434-338a448f1b5b.png" width="300">

Are there any ways to skip this screen and redirect user to application as soon as he confirmed 3d secure?
There is no such screen in js version.

[2017-05-23 17:36] mrmcduff-stripe commented on #243
At the moment there isn't -- in JS we don't have that screen because you can do an auto-redirect, but at the moment we can't auto-launch an Intent to go back to your app.

[2017-05-23 17:36] mrmcduff-stripe commented on #243
If we figure out a way to do that, we'll definitely include it quickly.

[2017-05-23 17:37] mrmcduff-stripe commented on #227
Hi @nextdimension -- going to go ahead and close this issue. If you're seeing a repro in devices, please feel free to reopen!

[2017-05-23 17:37] #227 closed

[2017-05-23 17:39] nextdimension commented on #227
Sorry, I didn't reply, I have not had time to investigate further

[2017-05-24 12:58] neilmcguiggan opened #245 "Android Pay test payment fails with "invalid_cvc""
I can make payments using Android Pay in the live environment without any problems, but when I try to make a payment in the test environment, I get an error after calling `Wallet.Payments.loadFullWallet(googleApiClient, fullWalletRequest, LOAD_FULL_WALLET_REQUEST_CODE);` and the test payment fails.

When I check the Stripe logs, the POST request to `/v1/tokens` has a 402 error status and I see thi

[2017-05-24 16:25] mrmcduff-stripe commented on #245
Hmm. You absolutely should be able to make test payments. When you load the full wallet, do you get a Stripe token back from google?

[2017-05-25 08:29] neilmcguiggan commented on #245
I don't get a token from Google - while I do get a `FullWallet` object returned, this line:
 `String tokenJSON = fullWallet.getPaymentMethodToken().getToken();`
throws a NullPointerException. Presumably the error mentioned above gets thrown earlier in the flow, so a Stripe token is never sent to Google.

The POST body that shows in the log in the Stripe dashboard contains most required card detail

[2017-05-25 14:57] maxspencer commented on #245
I've got the same problem, I have set up a real debit card in the Android Pay app, but am just trying to make a payment in the test environment (`WalletConstants.ENVIRONMENT_TEST` and `pk_test_...` stripe key). After calling `loadFullWallet` I can see the following error in logcat:

    W/WalletMerchantError: Error in loadFullWallet: {
      "error": {
        "message": "You must provide a value

[2017-05-25 15:12] neilmcguiggan commented on #245
For completeness, I'm also using `ENVIRONMENT_TEST` and my test publishable key from Stripe. I see that error in Logcat too. Sounds like @maxspencer and I are experiencing exactly the same problem.

[2017-05-25 15:16] maxspencer commented on #245
In `onActivityResult` I have a `resultCode` of `1` and `data.getIntExtra(WalletConstants.EXTRA_ERROR_CODE)` returns `10`

[2017-05-25 17:03] mrmcduff-stripe commented on #245
I just started seeing this myself -- including in an integration that I literally built and tested (successfully) last week. I'll investigate -- I suspect this is server side, since there's nothing the Stripe Android SDK can do to access the card used.

[2017-05-25 17:05] mrmcduff-stripe commented on #245
Incidentally, are you using the stripe:android-pay library? This will not fix your problems - but it'll make the Android Pay integration a lot cleaner.

[2017-05-25 18:30] anelder-stripe commented on #245
@neilmcguiggan - Do you think you could please email into me about this?  I'd like to take a closer look at the transactions but unfortunately, since that would require some account-specific data, it's a bit unsafe to have that discussion here.

We can leave this ticket open, but please reach out to me via our [Support Page](https://support.stripe.com/email) and include a link to this GitHub issue

[2017-05-26 09:55] neilmcguiggan commented on #245
@anelder-stripe I've just emailed you.

[2017-05-27 00:23] ahaverty opened #249 "Clear/Reset method"
Feature request:
A .clear() or .reset() method for clearing fields without having to recreate/redraw the widget

[2017-05-31 20:57] mrmcduff-stripe commented on #249
Good idea.

[2017-06-01 21:31] paynd opened #250 "Animation into CardInputWidget are broken when it wrapped by ReactViewGroup"
I'm trying to use CardInputWidget to solve tipsi-stripe [issue](https://github.com/tipsi/tipsi-stripe/issues/68)
I found that when CardInputWidget has been wrapped with ReactViewGroup scroll animation got broken.
![stripe_widget_issue](https://cloud.githubusercontent.com/assets/1286226/26701659/ac14693a-472a-11e7-9bcd-b912bf573963.gif)
 It looks better when focus are changing.
Source code [here](h

[2017-06-02 12:35] maxspencer commented on #245
Has there been any progress on this issue since last week?

[2017-06-02 17:39] mrmcduff-stripe commented on #250
Interesting -- I've never tried wrapping it into a react native viewgroup before. I'll take a look.

[2017-06-05 10:05] neilmcguiggan commented on #245
I've been emailing one of your colleagues about it, apparently the work to fix it is still ongoing.

[2017-06-05 10:46] maxspencer commented on #245
@neilmcguiggan nice one, so it is definitely a Stripe problem then? Any indication about when it might be sorted?

[2017-06-05 16:38] mrmcduff-stripe commented on #245
@maxspencer -- We've got a handle on it and it should be fixed in relatively short order. It won't require a new release of the mobile SDK, so it'll go into effect as soon as we roll it. I'll let you know here when it's resolved.

[2017-06-05 16:39] mrmcduff-stripe commented on #249
Closing the issue, but keeping it logged as a feature enhancement.

[2017-06-05 16:39] #249 closed

[2017-06-05 23:47] mrmcduff-stripe commented on #213
@andrewmunn  This is now live in 4.0.3

[2017-06-05 23:48] mrmcduff-stripe commented on #249
@ahaverty -- this is now live in 4.0.3

[2017-06-06 00:03] ahaverty commented on #249
Impressive 👌 thanks @mrmcduff-stripe

[2017-06-06 02:25] andrewmunn commented on #213
thanks @mrmcduff-stripe :-)!!!

[2017-06-07 19:02] mrmcduff-stripe commented on #245
@maxspencer - update; part of the fix has to happen on google's side as well, so there may be a bit of a delay.

[2017-06-12 19:33] mrmcduff-stripe commented on #250
So, it looks like the ReactViewGroup is interfering with what I'm doing for focus control and animation; this is a pretty non-standard android widget (it was matching web design more than material). Have you seen this sort of behavior when wrapping views that  do animations on margins in other instances?

[2017-06-15 19:57] YvgenTroshchiy opened #265 "Create Attr for TextColor And TextHint like cardHintText"

[2017-06-15 21:10] mrmcduff-stripe commented on #265
Good idea! (closing to keep with other feature enhancements)

[2017-06-15 21:10] #265 closed

[2017-06-15 21:11] mrmcduff-stripe commented on #245
Hi @neilmcguiggan && @maxspencer -- the fix for this is happening server-side, so I'm going to go ahead and close the issue in the stripe-android repo. Thanks for letting us know about this!

[2017-06-15 21:11] #245 closed

[2017-06-20 09:44] maxspencer commented on #245
Hey @mrmcduff-stripe, I just checked out the branch where we're working on this Android Pay/Stripe integration to see if the issue has been resolved and it does not seem to be for me. Do I need to update any of the following?

* Android Pay app
* Any Google dependency of our app
* Stripe dependency

Thanks!

[2017-06-21 20:53] mrmcduff-stripe commented on #245
@maxspencer -- there are still some changes that need to go in on Google's side. Unfortunately we don't have any ability to speed that part up :(

[2017-06-22 09:42] maxspencer commented on #245
@mrmcduff-stripe -- thanks, sorry I misunderstood your previous message. I understand, thank you for letting me know.

[2017-06-24 11:19] ernymarvind opened #271 "onAndroidPayAvailable() is not called on StripeAndroidPayActivity"
I have an activity that extends StripeAndroidPayActivity and when it starts, It seems that onAndroidPayAvailable() was not invoked on my activity even though I have my Android Pay App with a card.

I took a peak on StripeAndroidPayActivity class and onAndroidPayAvailable() method was never used.

onAndroidPayNotAvailable() works fine though.  Thanks!

[2017-06-26 09:12] AAleksiev commented on #245
@mrmcduff-stripe -- Hey, we've got same issue and I got in touch with Google Android Pay support team and I'm under impression that they do not do anything about that issue. Here's the reply I've got:
-----
We've had just one other merchant come across that Stripe issue when they were integrating as well, so that very well could be the cause.  Did you submit an inquiry to their support page?
-----

[2017-06-26 18:12] mrmcduff-stripe commented on #271
Hi @ernymarvind! I'll take a look today and get back to you.

On Sat, Jun 24, 2017 at 1:20 AM ernymarvind <notifications@github.com>
wrote:

[2017-06-26 19:38] mrmcduff-stripe commented on #271
You're right - looks like I mistakenly took that out of the callback to `verifyAndPrepareAndroidPayControls`, replacing it instead with a call to `createAndAddBuyButtonWalletFragment`, which isn't correct since you might be adding the confirmation fragment instead of the buy button fragment. I'll put out an update for this. The right change would be to swap `onAndroidPayAvailable` for `createAndAd

[2017-06-27 13:17] ernymarvind commented on #271
Awesome, thank you Michael!

[2017-06-27 23:12] mrmcduff-stripe commented on #271
@ernymarvind -- I just pushed out an update to 4.1.2 which will call onAndroidPayAvailable in the place we were discussing. At the moment, it still also calls `createAndAddBuyButtonWalletFragment` because I don't want to break dependencies, but the flow after we upgrade to 5.0.0 (will be a while) will be that you should call either `createAndAddBuyButtonWalletFragment` or `createAndAddConfirmation

[2017-06-27 23:12] #271 closed

[2017-06-28 10:29] AAleksiev opened #275 "Android Pay test payment fails with "invalid_cvc""
Hey, we're trying to integrate Android Pay using Stripe only as a processor and got issue on test env. When I've checked the logs I found this:
{
  "error": {
    "message": "You must provide a value for 'cvc'.",
    "type": "card_error",
    "param": "cvc",
    "code": "invalid_cvc"
  }
}
I got in touch with Google Android Pay support team and according to them this is an issue on your side. Here

[2017-06-29 13:28] maxspencer commented on #245
@mrmcduff-stripe or someone else from Stripe -- please could you provide me with contact details for whoever it is at Google who is looking at this issue so that we can chase them directly? Thank you.

[2017-06-29 13:33] maxspencer commented on #275
More info in #245

[2017-06-29 16:50] AAleksiev commented on #275
Hi here's the latest response I've got from Google:
-------------------------------------------------------------------------------------------------------------
I checked in with our tech specialist and he found no significant errors in your bugreport.

If you're still experiencing the error of the invalid cvc, I would recommend following up with Stripe.  If you haven't already done so, please re

[2017-06-30 06:16] yashshreeWindows commented on #157
I want to change the orientation of default CardInputWidget . that vertical placement of edittext. how can i do it?

[2017-06-30 15:52] mrmcduff-stripe commented on #157
@yashshreeWindows -- offhand, I suspect that wouldn't work due to the way that the animations in the CardInputWidget work (by moving the marginLeft property)

[2017-06-30 16:03] anelder-stripe commented on #275
Thanks for reaching out!  This is actually a known issue that is currently being worked on by both our Engineers and the Google Engineers internally.  It should only affect Test-mode, but obviously is still an issue.  If you'd like to be kept informed of when this issue gets fixed (which will hopefully be soon), please feel free to email into support and mention this GitHub issue.

https://support

[2017-07-04 15:50] dipenpatel235 opened #279 "help for integration with php server"
hello..
i have compile https://github.com/stripe/stripe-android android app.
but now i want to used that app with my php mysql server based api and store user balance into database.
so how i can do that ?
i have already installed drupal php stripe module but not getting any idea how to interface android to php server with stripe.

Thanks
Dipen

[2017-07-05 18:06] mrmcduff-stripe commented on #279
Hi @dipenpatel235,

The calls specifically to store user balance to a backend aren't directly supported in the Android SDK (work on those sorts of changes are in the pipeline, but not here yet) -- you can talk to your server using whichever GET/POST implementation you prefer ( [Retrofit](http://square.github.io/retrofit/) is a popular tool for this on the Android side )

For a more thorough walkth

[2017-07-05 18:06] #279 closed

[2017-07-07 17:59] mrmcduff-stripe commented on #250
@paynd -- just checking, have you seen ReactViewGroup interfering with views that do animations on margins elsewhere?

[2017-07-08 15:56] mwiley63 opened #283 "How to localize error messages?"
I am trying to localize error messages, but I do not see them configured in the strings.xml of the source code of this repository.

Am I missing something or are these error messages only returned in English when calling getLocalizedMessage()?

[2017-07-10 03:43] Cvarier opened #284 "Request for ability to view only specific Stripe card details"
Hi, I was wondering if you could include a method for setting the visibility of the expiry date and CVC EditTexts, as well as a method for setting the brand of the card within the ```CardInputWidget```. I request this feature simply so that I can use the ```CardInputWidget``` as a viewer which allows users to see the cards they currently have added and select the individual ones they wish to edit.

[2017-07-10 17:40] mrmcduff-stripe commented on #283
Hi @mwiley63 ,
The error messages are returned directly from Stripe's servers (I don't reinterpret them in the SDK. Let me check on how they determine the language of the messages passed back (we do have error messages in multiple languages)

[2017-07-10 17:42] mrmcduff-stripe commented on #284
Hi @Cvarier,

We're actually working on a control similar to this right now. I can't specify any timelines, but this is very much on our radar.

I'm going to go ahead and close the issue just to keep the channel clean, but I'll circle back and let you know when this gets finished.

[2017-07-10 17:42] #284 closed

[2017-07-10 18:13] Cvarier commented on #284
@mrmcduff-stripe thanks for the update

[2017-07-10 18:22] Cvarier commented on #284
@mrmcduff-stripe As a temporary workaround, if I wanted to replicate the described design with a custom view, how would you recommend I go about setting the brand ```ImageView``` given the brand ```String``` value in the most painless way?

[2017-07-11 17:25] mrmcduff-stripe commented on #283
@mwiley63 -- it looks like a bug on our end. The `getLocalizedMessage` function won't return any errors if none are given to it. There's another parameter that we need to be passing down to get localized error strings. I'll add this to the todo list and see if we can ship it in the next update.

[2017-07-11 17:26] mrmcduff-stripe commented on #250
Hi @paynd. Just checking in again. Right now we don't plan to support this, but we have some new controls in the pipeline that will make this sort of wrapper a lot easier to build, so I'm going to close for now. Thanks for bringing this up!

[2017-07-11 17:26] #250 closed

[2017-07-14 08:39] jessejiang0214 opened #296 "Can you add tag 4.1.3 for release?"

[2017-07-14 16:54] mrmcduff-stripe commented on #296
Done. Sorry, forgot about that yesterday.

[2017-07-14 16:54] #296 closed

[2017-07-18 15:43] GuillaumeWrobel opened #303 "ExpiryDateEditText is cut off"
Hello

The last « A » of the `ExpiryDateEditText` is cut off.

Screenshots:
![expanded](https://user-images.githubusercontent.com/20317297/28326025-d6f12150-6bdf-11e7-98f5-45c25bb4df55.png)
![focused](https://user-images.githubusercontent.com/20317297/28326024-d6eba19e-6bdf-11e7-9206-c33552b894db.png)

Layout file:

[code]

[2017-07-20 17:41] mrmcduff-stripe commented on #303
Fixed in PR #304 -- we'll release a version of the library with this fix in it ASAP. (Should also include your other contribution)

[2017-07-20 17:41] #303 closed

[2017-07-20 17:57] mrmcduff-stripe commented on #303
Thanks for pointing this out @GuillaumeWrobel !

[2017-07-21 09:05] GuillaumeWrobel commented on #303
You're welcome @mrmcduff-stripe

[2017-07-21 19:32] mrmcduff-stripe commented on #284
Hi Chaitanya,

Sorry I didn't see this email earlier. The CardInputWidget class has a
BRAND_RESOURCE_MAP that is public, so you can use that. The Card object
itself has a static asCardBrand(String possibleCardBrand) function as well,
so you can convert raw Strings to annotated @CardBrand strings for use in
the map. (The getBrand() function returns an @CardBrand which you can use
directly in the st

[2017-07-21 19:36] Cvarier commented on #284
Hey Michael,

I appreciate the help, but fortunately, I was able to figure it out :)

[2017-07-25 09:18] GuillaumeWrobel opened #309 "InputConnection.getHandler() on a null object reference"
**Stripe library version**: 4.1.5 - works well with 4.1.4
**compileSdkVersion**: 26
**buildToolsVersion**: '26.0.1'
**support library version**: 26.0.0
**Android Studio**: 3.0 Canary 8

When the Stripe form appears, I get the following stacktrace is:

[code]

for this layout file

[code]

[2017-07-25 17:09] mrmcduff-stripe commented on #309
I'm not getting a repro on that in the Example project when I set it to use 4.1.5 rather than compile the local projects. What are you doing with your fragments when that happens? I'm curious if you still see this if you're not wrapped inside a fragment.

As for the warnings, those are a bit ambiguous: see [StackOverflow Q1](https://stackoverflow.com/questions/38135226/requestlayout-improperly-cal

[2017-07-27 13:08] GuillaumeWrobel commented on #309
It’s a stupid mistake of mine. I have a `PaymentCardInputLayout` to deal with the `CardInputWidget` and a cardholder name EditText, and I have this method:

[code]

Of course, It should be

[code]

as my PR is merged.

Thanks

[2017-07-27 13:09] #309 closed

[2017-07-29 10:01] maheshordex opened #311 "Account.create() for android ?"
How to create account using api in android like java ?

In java we can create account like this below how we can achieve this in android is there any default method for  android or need to use same method in android ?

Stripe.apiKey = "sk_test_WOvOzKmVcWACFaFyFqd9sbzp";

Map<String, Object> accountParams = new HashMap<String, Object>();
accountParams.put("type", 'standard');
accountParams.put("cou

[2017-07-31 17:03] mrmcduff-stripe commented on #311
Hi @maheshordex. We don't have this ability in the android SDK at the moment specifically because it requires a secret key, which you should never put in an Android application (any raw string that you put into an app can be extracted, leaving you vulnerable to fraud). With the rollout of [ephemeral keys](https://stripe.com/docs/mobile/ios/standard#prepare-your-api) in the mobile API (live for iOS

[2017-07-31 18:38] #311 closed

[2017-08-02 21:04] mrmcduff-stripe commented on #275
I'm going to go ahead and close this on this repo -- the bug is on the server side, so the fix can't be connected to a PR here.

[2017-08-02 21:04] #275 closed

[2017-08-08 06:25] voghDev opened #321 "Internet permission"
Hello,

If the example code is ran without `android.permission.INTERNET`, the following crash appears

    java.lang.RuntimeException: An error occured while executing doInBackground()
                      at android.os.AsyncTask$3.done(AsyncTask.java:300)
                      at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)
                      at java.util.concurrent.F

[2017-08-08 16:54] mrmcduff-stripe commented on #321
Hi @voghDev -- we do indeed need to be able to connect to the internet to hit our servers. I'll go ahead and add it to the readme. Thanks for noticing the omission!

[2017-08-08 16:54] #321 closed

[2017-08-09 05:45] voghDev commented on #321
You're welcome! Keep up the good work! :-)

[2017-08-11 15:01] magrinj commented on #250
@paynd Haha I try to implement this one on your library today, and I faced against it, sadly I find this post only now after looking for hours why the animation isn't working...

@mrmcduff-stripe I understand it's not your plan for the moment to support this, but react-native app are really growing and a lot of companies like mine are actually counting on library like the one of @paynd to implemen

[2017-08-11 21:23] damianesteban opened #326 "Ephemeral Key on Android?"
We just finished adding the new version of the Stripe SDK to our iOS app that uses the ephemeral key. Are there plans to add this to the Android SDK?

[2017-08-11 21:59] mrmcduff-stripe commented on #326
Indeed there are. You can see our progress in the [5-0](https://github.com/stripe/stripe-android/tree/mrmcduff-hawaii) branch -- it's in the works. There are a few more tweaks before we can ship.

[2017-08-11 21:59] #326 closed

[2017-08-14 17:42] damianesteban commented on #326
Ok, thank you.

[2017-08-15 20:07] fxo140130 opened #330 "server"
Do we still need a 3rd party server to process payment with Stripe-android ?

thanks

[2017-08-15 20:11] mrmcduff-stripe commented on #330
Hi @fxo140130 -- you do need to have your own backend to process a payment. The primary reason for this is that you need a stripe secret key to actually make money transfers happen, and this key should never be on your app for security reasons. You can make credit card (and other payment type) tokens with just a public key, but to charge them you need to hit a server endpoint.

We have a lot of ex

[2017-08-15 20:11] #330 closed

[2017-08-15 20:17] fxo140130 commented on #330
mrmcduff-stripe,

I am using Firebase as back end. I tried everything and I cannot create a charge. I am trying to insert the charge under user profile so when it click a button , the charge will be create under his uid.

[2017-08-15 22:43] mrmcduff-stripe commented on #330
@fxo140130 -- our support team has experience in helping work out issues and lead you through this sort of thing (with both Firebase and Android). It'll be a little bit easier there than through github -- can you send an email to support@stripe.com ? It'll get routed to the right engineers.

[2017-08-24 02:56] fxo140130 opened #341 "3 RD PARTY SERVER"
Hi,

Since you can insert the stripe publishable key into your android code , is there a need to have a third party server to process charge. Base on your example, the token is created from the android client side, so no 3rd party server is needed to process the tokken right ?

thanks

[2017-08-24 19:06] mrmcduff-stripe commented on #341
Hi @fxo140130  -- you don't need a 3rd party server to create a card token, but in order to charge that token, you'll need to talk to your own server. Charges can only be created with a secret key. The flow should be something like:
1. User inputs card data in your applicaton
2. You send that data to Stripe via this SDK (no need to hit your own server - this sdk talks directly to stripe)
3. Stripe

[2017-08-24 19:06] #341 closed

[2017-08-24 19:08] fxo140130 commented on #341
Very explanatory Mike. Thanks. This is what i need 😊

________________________________
From: Michael McDuffee <notifications@github.com>
Sent: Thursday, August 24, 2017 2:06:18 PM
To: stripe/stripe-android
Cc: Olayitan, Farouk; Mention
Subject: Re: [stripe/stripe-android] 3 RD PARTY SERVER (#341)

Closed #341<https://github.com/stripe/stripe-android/issues/341>.

—
You are receiving this because y

[2017-08-28 18:41] ncapdevi opened #352 "TokenParser.parseToken no longer available"
With the change to package-private of the .net package, is the TokenParser no longer available? It's necessary if you're grabbing a token from an Android Pay FullWallet.

[2017-08-28 18:51] mrmcduff-stripe commented on #352
Hi @ncapdevi -- I'm updating the docs today. Does Token.fromString(raw string input) work for your needs here?

[2017-08-28 18:54] ncapdevi commented on #352
@mrmcduff-stripe  That would be perfect! Thanks so much for the quick reply.  I'll test it right now, but if you don't hear from me, assume no news is good news. Thanks.

[2017-08-28 18:54] #352 closed

[2017-08-30 12:02] kayoslab opened #354 "Clear CustomerSession"
According to API documentation `clearSession` method should be used to reset the `CustomerSession` singleton. This method appears to be package-protected though. Is there any other way of doing this? Thanks!

[2017-08-30 17:46] mrmcduff-stripe commented on #354
My mistake on the documentation! Sorry about that. You can re-initialize the CustomerSession to clear it, or just call updateCurrentCustomer (assuming your backend knows that the customer is logged out, so it won't return an Ephemeral Key with data).

[2017-08-31 08:06] #354 closed

[2017-08-31 18:45] ncapdevi opened #356 "StripeAndroidPayActivity onActivityResult resultCode == RESULT_CANCELED"
Right now in StripeAndroidPayActivity, when a request is canceled, it just `breaks;` and there's nothing else that happens. Ideally there is a method called to inform the subclass of this event.

Maybe something like
`
protected void onActivityResultCancelled(int requestCode)
`

This would allow the subclass to know which request was cancelled and take any appropriate action.  Granted, right now y

[2017-09-05 00:17] mrmcduff-stripe commented on #356
That sounds like a good idea -- the message should be passed along somehow. Sorry for the omission. I'm happy to look at a PR if you'd like to send one in -- I'm also working on parts of the library right now, so this is something that would be coming across my plate in a bit.

[2017-09-06 01:20] m-revetria opened #361 "Support for creating AliPay sources"
Are you planning adding support for creating AliPay sources using the SDK's API?

Meanwhile, is there a way for creating AliPay sources? Is possible to create an AliPay source using `createCustomParams`?

[2017-09-06 17:01] mrmcduff-stripe commented on #361
Hi @m-revetria -- this is on our roadmap. I'll check and see about doing this with createCustomParams. It's a redirect type, so that might not be possible.

[2017-09-07 01:17] mrmcduff-stripe commented on #361
The AliPay single-use source via app-to-app verification won't work through the android SDK yet, but if you create a custom source with params matching the spec on https://stripe.com/docs/sources/alipay , it ought to theoretically be possible (Alipay will be a redirect type source). This is on our short-term roadmap, though, so stay tuned and it'll get easier than doing a custom source.

Closing t

[2017-09-07 01:17] #361 closed

[2017-09-07 10:06] linkinamine opened #365 "OptionsItemSelected is omitted by uers"
The _"action_save"_ item is most of the times omitted by the users while switching default cards.

Is there a way to make it more intuitive , or to set selection just by checking unchecking the cards ?

![screenshot_20170907-120140](https://user-images.githubusercontent.com/2027355/30158214-d9385af2-93c4-11e7-9e50-aa8c199d8764.png)

[2017-09-07 13:54] mrmcduff-stripe commented on #365
Hi @linkinamine -- do you mean that the "finish" button on the upper right is hard for users to discover / not intuitive? We're in active development on the screens, so stay tuned. This UI pattern synchronizes with what we're doing on the standard integration for iOS (the direction this release is bringing us towards). We'll keep in mind that we want to stay true to Android style, though we did no

[2017-09-07 13:54] #365 closed

[2017-09-14 14:15] awaismazharmobilelive opened #373 "Clear all text fields in the CardMultilineWidget."
Hey @mrmcduff-stripe ,

Clear all text fields method is added in CardInputWidget but missing in CardMultilineWidget.
Please add in this as well.

[2017-09-15 02:47] mrmcduff-stripe commented on #373
Hi @awaismazharmobilelive -- good point. Function added and merged, will ship with our next release.

[2017-09-15 02:47] #373 closed

[2017-09-15 06:51] awaismazharmobilelive commented on #373
Perfect.
Thanks @mrmcduff-stripe
Cheeers!!

[2017-09-21 09:47] nextdimension opened #391 "Card input widget null pointer"
I upgraded the stripe android sdk from 4.0.2 -> 5.0 and I am finding an error with the card Input Widget.

java.lang.NullPointerException: Attempt to invoke interface method 'boolean android.view.inputmethod.InputConnection.finishComposingText()' on a null object reference
When I use setEnabled(true) after first calling setEnabled(false)
It seems that the widget is being recreated and the original

[2017-09-21 19:23] mrmcduff-stripe commented on #391
@nextdimension - thanks for the heads up! I'll look into it right away.

[2017-09-21 20:59] #391 closed

[2017-09-21 21:46] paynd commented on #250
@mrmcduff-stripe Oh, I'm so slowpoke. Trying to find a reason, again.
@magrinj Any ideas?

[2017-09-21 22:45] mrmcduff-stripe commented on #250
@paynd && @magrinj -- the CardMultilineWidget might work a little better, considering it's pretty close to stock Material (and no complicated animation)

[2017-09-22 08:45] paynd commented on #250
@mrmcduff-stripe Unfortunately CardMultilineWidget doesn't match our design.

[2017-09-23 09:18] siokagami opened #406 "Fail compile com.stripe:stripe-android:5.0.0"
when i put compile 'com.stripe:stripe-android:5.0.0'  it report
Error:Failed to resolve: com.android.support:design:26.0.1
Error:Failed to resolve: com.android.support:appcompat-v7:26.0.1
Error:Failed to resolve: com.android.support:support-annotations:26.0.1

[2017-09-25 12:46] VikramSurjan opened #407 "Base Url"
I am a Android Developer.
I have integrate the android code but I need a Baseurl code. can any one help me in this ?

[2017-09-25 15:55] mrmcduff-stripe commented on #407
Hi @VikramSurjan -- if you mean the base url for your backend service (the one that has a "enter your base url here" placeholder in the example project), you'll need to set up a service on Heroku or some other platform to handle your purchases. The Android SDK by itself can't make full purchases without talking to a back end because you need your secret key to process money, and a secret key shoul

[2017-09-25 15:55] #407 closed

[2017-09-25 15:57] mrmcduff-stripe commented on #406
Hi @siokagami -- do you have a reference to Google's Maven repository in your main build file? Something like:
[code]
support@stripe.com might be better able to dig into the problem.

[2017-09-25 21:00] VikramSurjan commented on #407
HelloStripe Team,

Thanks for you feed back.

Can you please provide me the sample code without using the backend URL. So
I just change the thing with the my keys only.. I need it asap

Thanks
On Monday, September 25, 2017, Michael McDuffee <notifications@github.com>
wrote:

--
Thanks and Regards
Vikram Surjan
+919646913833
Chief Executive Officer at 7Horse: Software Development Company
<https://w

[2017-09-25 21:42] #406 closed

[2017-09-25 21:43] mrmcduff-stripe commented on #407
You can work with just your key as long as you don't use the purchase actions, so in the example project, if you just use the top two buttons it should work. This will allow you to create tokens and sources from credit cards, and you don't need to have a backend set up.

[2017-09-26 10:23] VikramSurjan commented on #407
Hello,
But I wan to do the real payment. can you please send me one sample code.
Becuase when I am trying with your code. it's giving me alots of error.

On Tue, Sep 26, 2017 at 3:13 AM, Michael McDuffee <notifications@github.com>
wrote:

--
Thanks and Regards
Vikram Surjan
+919646913833
Chief Executive Officer at 7Horse: Software Development Company
<https://www.facebook.com/7HorseInfo/?ref=br_rs

[2017-09-26 10:27] VikramSurjan commented on #407
Hello,

But I must say, stripe is real bad in documentation. even no help for
this.Very Bad in techincal support.

On Tue, Sep 26, 2017 at 3:53 PM, vikram surjan <vikram.surjan33@gmail.com>
wrote:

--
Thanks and Regards
Vikram Surjan
+919646913833
Chief Executive Officer at 7Horse: Software Development Company
<https://www.facebook.com/7HorseInfo/?ref=br_rs>
CTO at Oogle Academy
<https://www.faceb

[2017-09-26 20:17] mrmcduff-stripe commented on #407
Hi @VikramSurjan -- as mentioned earlier, you can't do the real payment completely inside the app. We deliberately don't allow this to protect both us and you from fraud. For better support, you should email support@stripe.com -- they'll be happy to help you put together your application and server.

[2017-09-27 09:17] RajeshRajendiranT opened #409 "How to Request Payment In Android"
I am integrating stripe android sdk version v 5.1.0
I don't know how to request payment
Can you guide me?

[2017-09-27 16:36] mrmcduff-stripe commented on #409
Hi @RajeshRajendiranT -- I've almost finished the documentation! I'll post back here when it's live.

[2017-09-29 10:26] msquare097 opened #412 "Why com.stripe.android.view.CardNumberEditText#setCardBrandChangeListener() is non public method?"
Instead of using CardInputWidget i just want to use CardNumberEditText.
But i can not able to get card brand using any callbacks. So I am not able to perform any step depending on card brand.

As i looked into the code, I found CardBrandChangeListener, but it's setCardBrandChangeListener() is not public.
So it will be good if you will allow to get the callbacks of CardBrandChangeListener.

[2017-10-01 09:34] AlaaZarifa opened #413 "(NoSuchFieldError) crash when trying to add new card from PaymentMethodsActivity"
I setup the sdk fine, and then made this class to generate empirical key with my server..!
and the it gives response normally.

[code]

-----

Then once the user press pay. `PaymentMethodsActivity` shows no problem, but with no cards.. If I click on (Add New Card..) it crashes and gives me `NoSuchFieldError `exception??

**The Code:**

[code]

-----

**The Error**

[code]

[2017-10-01 11:10] AlaaZarifa commented on #413
Nevermind, the error showed because I created an activity before which has a layout file with a name identical to another layout file of the Stipe SDK. so Stripe didn't find the views IDs in my xml layout file and throws an exception instead.

Once I renamed my xml layout file, the problem is solved.

[2017-10-01 11:10] #413 closed

[2017-10-02 11:54] Petrulak opened #414 "Styling of com.stripe.android.view.PaymentMethodsActivity activity."
SDK Version : `com.stripe:stripe-android:5.0.0`
Hello is there a way to change default style/theme for `PaymentMethodsActivity` ?
We would like to change the color of toolbar and status bar.
Thank you.

[2017-10-02 12:03] Petrulak opened #415 "Adding a Card results in adding a source instead of Card."
SDK version : `compile 'com.stripe:stripe-android:5.0.0'`

When i add a new card using  `com.stripe.android.view.PaymentMethodsActivity, clicking on "+ Add new card.."` Stripe SDK creates a new source(visible on the strip dashboard), instead of a card.
iOS SDK creates an instance of a card.
Is this a feature, or intended behavior?
Thank you.

[2017-10-02 16:44] mrmcduff-stripe commented on #415
It is a source of type `Card`. Sources are generally going to have more flexibility to do things within the Stripe API than Cards (eventually all payment sources will be Sources). We're moving to (very, very slowly) deprecate the use of Tokens in favor of Sources.

If there's any card-specific data that you need from the Source, you can call `Source#getSourceTypeModel` and it will return a `Source

[2017-10-02 16:44] #415 closed

[2017-10-02 17:32] mrmcduff-stripe commented on #409
https://stripe.com/docs/mobile/android/standard#completing-the-purchase

@RajeshRajendiranT - Docs are now live! Sorry about the delay.

[2017-10-02 17:32] #409 closed

[2017-10-02 17:36] mrmcduff-stripe commented on #414
@Petrulak - you can indeed style the activity, using a standard AppCompat theme!

`colorAccent` should take care of the toolbar, and `colorControlNormal` overrides the back button color. Otherwise all standard theme elements of AppCompat are followed (`colorAccent` handling the toolbar is relatively normal - the change to `colorControlNormal` was to catch the back and + buttons)

[code]

[2017-10-02 17:36] #414 closed

[2017-10-02 17:57] mrmcduff-stripe commented on #412
@msquare097 - Let me look into that. We're generally reluctant to expose more methods than are necessary because making it public means that any changes to it are breaking changes, rather than just something we can do under the hood.

[2017-10-03 07:49] Petrulak commented on #414
@mrmcduff-stripe thank you for the answer!
Where/how can I apply the style?
Do I have to declare `com.stripe.android.view.PaymentMethodsActivity ` in my manifest and use `tools:replace` to replace default style?

[2017-10-03 07:53] Petrulak commented on #415
@mrmcduff-stripe sure, I do agree that source is more flexible. The only functionality that we lack at the moment is a way to delete a source in the Stripe dashboard. We can do that with a card, but not with a source. Is there any way how we can achieve that?

[2017-10-03 13:54] TedEriksson opened #416 "Resources are not namespaced"
Hi!
It is pretty easy to get an unintentional clash with resource names.
For example the `add_card` string is a pretty common name and the library can overwrite the resource from the base project.

Would it be possible to namespace library resources (i.e `stripe_add_card`) or to only mark specific ones as public to reduce the probability of clashes?

[2017-10-03 16:29] mrmcduff-stripe commented on #416
@TedEriksson -- good point. We can probably add this for the next iteration. I'll have to think about whether or not that constitutes a breaking change, but otherwise this makes sense.

[2017-10-04 10:17] Petrulak commented on #415
@mrmcduff-stripe any updates ?

[2017-10-04 10:17] Petrulak commented on #414
@mrmcduff-stripe any updates ?

[2017-10-04 11:24] athul-saaranga commented on #406
This issue is not getting resolved.
Tried the solution mentioned above.
![screen shot 2017-10-04 at 4 51 08 pm](https://user-images.githubusercontent.com/32512808/31173207-4a083d0a-a924-11e7-99ef-c6da90423e6a.png)

[2017-10-04 11:34] athul-saaranga opened #417 "Fail Compile compile 'com.stripe:stripe-android:5.1.0'"
when i put compile 'com.stripe:stripe-android:5.1.0' it report
Error:Failed to resolve: com.android.support:design:26.0.1
Error:Failed to resolve: com.android.support:appcompat-v7:26.0.1
Error:Failed to resolve: com.android.support:support-annotations:26.0.1

Tried solving using this : https://github.com/stripe/stripe-android/issues/406 (Closed)
Still no result.
![screen shot 2017-10-04 at 5 08 35

[2017-10-05 21:47] ksun-stripe commented on #417
Hi @athul-saaranga, thanks for the question!
Without your full app setup, it's a little tricky to pin down what might be going wrong especially since you've already tried the solution in  https://github.com/stripe/stripe-android/issues/406.

One thing you can do is see if you're able to compile the support libraries in by themselves to see if it's something with the Stripe config. You'll be better

[2017-10-05 21:47] #417 closed

[2017-10-09 04:42] athul-saaranga commented on #417
Issue occurs only when adding the stripe library. Else the gradle runs perfect.

Thank You,
Athul L S

On 6 Oct 2017, 3:17 AM +0530, ksun-stripe <notifications@github.com>, wrote:

[2017-10-09 07:31] Petrulak opened #419 "PaymentMethodsActivity activity keeps loading after error occurs."
We are getting `Something is not going right on our servers. We are doing our best to come back by your side as soon as possible.` when viewing payment methods. Activity doesn't handle this error and horizontal progress bar keeps running. It might be a good idea to communicate this state to the user.

[2017-10-09 07:36] Petrulak commented on #415
@mrmcduff-stripe any response? I will create a new issue in case i don't get any response :) Just say `there is no way of deleting sources` if that's the case and all if fine.

[2017-10-09 07:36] Petrulak commented on #414
@mrmcduff-stripe can you provide any sample code for this ?

[2017-10-09 07:39] Petrulak opened #420 "Sources added trough Android are not visible on iOS"
Sources(cards) added trough Android platform are not visible/listed on `iOS` since iOS SDK is showing only sources which type is `CreditCard`.

[2017-10-09 12:07] omerozk commented on #420
Thanks @Petrulak to ask again this question.
Is it possible to fetch all sources of type `card` of a Customer? (to be able to update/delete or just display them)
On iOS Should we create also a Source each time we create a Card?

[2017-10-09 17:16] mrmcduff-stripe commented on #420
I'll sync with our iOS team and see why this might be happening. Thanks for letting us know!

[2017-10-09 17:26] mrmcduff-stripe commented on #417
@athul-saaranga -- although support@stripe.com will be better able to walk you through this, I notice that you're specifically getting errors on the support libraries for the build. Does your main `build.gradle` file have a reference to Google's maven repository? Otherwise you won't be able to find the newer versions of the support libraries.

[code]

[2017-10-09 17:31] mrmcduff-stripe commented on #412
Right now we don't want to open that up as a public method because it will increase our breaking change surfaces -- we're looking at potentially atomizing visual elements later, but right now that's not planned. The class isn't final, though, so if you want to subclass it (or fork it), that would be the way to do it for now.

[2017-10-09 17:31] #412 closed

[2017-10-09 17:34] mrmcduff-stripe commented on #356
Note: with the advent of the new [Google Payment API](https://developers.google.com/payments/setup), we're not going to be doing a lot of development on the stripe-android-pay wrapper, as Google is moving toward this new API. I'd be happy to look at/review a PR if you're still interested, but for now we'll have to focus on other parts of our library.

[2017-10-09 17:34] #356 closed

[2017-10-09 18:24] ncapdevi commented on #356
Since there's an easy solution (the one I provided above) and development is shifting in another direction, it's probably best to just leave things as is since this would just be a tiny helper method.  That being said, if you feel like it'd add value, I'd be happy to whip up a PR still.

[2017-10-09 20:50] mrmcduff-stripe commented on #419
I'll put in a fix for this as soon as I can - thanks for posting @Petrulak

[2017-10-09 20:51] mrmcduff-stripe commented on #416
Adding this for the next patch release

[2017-10-10 02:11] bestulin opened #423 "CVC does not get focus"
I noticed that depending on the Theme used in your project, CVC field of the CardInputWidget may not get focus when the the expiration date is entered. Adding the following to the `id/et_cvc_number` element seems to fix the issue.

[code]

[2017-10-10 18:31] mrmcduff-stripe commented on #423
@bestulin -- which Themes seem to be causing the problem?

[2017-10-10 18:33] mrmcduff-stripe commented on #420
@Petrulak && @omerozk -- This is going to be fixed forward on the iOS side. We're still going to create Source objects using our UI because future development at Stripe will require things to be Source objects.

[2017-10-10 18:33] #420 closed

[2017-10-10 19:20] #416 closed

[2017-10-10 21:03] mrmcduff-stripe commented on #419
How are you getting this error? At the moment I'm having trouble getting a repro, even with artificially bad connections.

[2017-10-11 09:10] Petrulak commented on #419
@mrmcduff-stripe We were getting this error randomly last morning. I guess some stripe servers were down or not had not worked properly.

[2017-10-12 10:06] omerozk opened #427 "Duplicate Source (Card)"
I noticed that when adding a source (of type `card`) with the method `stripe.customers.createSource` and sending the exact same `exp_month`, `exp_year`, `number` and `cvc` the source is created.
The API shouldn't tell me that this source already exist?

If it's a normal process how can we check if the user already saved this source (card)?

Thanks

[2017-10-12 18:22] mrmcduff-stripe commented on #427
At the moment, this is actually expected behavior. We tokenize the card each time it is sent up, since it is possible that other things attached to it (name, address, etc) have changed.

[2017-10-12 18:22] #427 closed

[2017-10-12 18:23] mrmcduff-stripe commented on #419
The server bug, I can't help with, but the UI-related part of it, I have a fix incoming for. Look for it in the 5.1.1 release, which shouldn't be too far down the road.

[2017-10-14 00:36] jepoy16 opened #432 "PaymentFlowActivity returns resultcode RESULT_CANCELED when set setShippingMethodsRequired is false"
I was trying to save only shippingInfo but I can't handle paymentdata result since it is returning RESULT_CANCELED instead RESULT_OK on the intent. Looks like onShippingMethodsReady if there is no next page setResult wasn't set.

Appreciate if you can take a look on this. many thanks.

[2017-10-14 15:56] jepoy16 opened #433 "PaymentMethodsActivity ability to edit/delete card"
Sample scenario:
User tried adding a card but the user input wrong cvv. There's no way to delete/edit the card details on PaymentMethodsActivity.

Please advise.

Many thanks

[2017-10-16 09:41] Petrulak opened #434 "Not a source dialog shown upon adding of an invalid card."
SDK version : compile 'com.stripe:stripe-android:5.0.0'

When I add a card which has an invalid CVV or date activity shows `Not a source` dialog.
It might make a sense to provide a more contextual message to a user. Perhaps something like `Incorrect card details. `
![strip_error](https://user-images.githubusercontent.com/16755625/31605288-289b0e36-b266-11e7-8314-72abc69188ce.jpg)

[2017-10-16 09:49] Petrulak opened #435 "Activity doesn't process IME_ACTION_DONE event when adding a card."
SDK Version : `com.stripe:stripe-android:5.0.0`
Activity doesn't trigger any action when user hits `Done` button. It would be a good UX to start `add a card` event.
![screenshot_20171016-114349](https://user-images.githubusercontent.com/16755625/31605911-e389d30c-b267-11e7-9931-1c6b88579f3c.jpg)

[2017-10-16 14:55] Petrulak opened #436 "Is there a way to "subscribe" to customer updates ?"
Is there a way to listen to updates of strip customer ? For example, i would like to be notified each time when a user adds a card using `AddSourceActivity`.

[2017-10-16 17:11] mrmcduff-stripe commented on #435
Good idea. We'll see if we can drop that into the next version.

[2017-10-16 17:15] mrmcduff-stripe commented on #433
This isn't yet supported in our api (backend, not just Android SDK). The user can add a card with the same details but the correct CVV/CVC. Until we do open up this ability (it's actually complicated because of what can happen when a card used for a subscription is deleted), the only remedy is to remove it on your end.

[2017-10-16 17:15] #433 closed

[2017-10-16 20:33] ksun-stripe commented on #432
Apologies for this @jepoy16! Look for a PR later this week addressing this :)

[2017-10-16 21:42] mrmcduff-stripe commented on #434
This one is fixed in 5.1.0, actually

[2017-10-16 21:42] #434 closed

[2017-10-16 21:51] mrmcduff-stripe commented on #436
There isn't yet, at least not for non-one-time updates - the main reason being that this would be an opportunity for a memory leak due to the CustomerSession being a singleton object. We could add this as a local broadcast, perhaps. We'll add it to our feature list. We could more regularly broadcast if we had forced CS to have a context from the beginning (an application context, most likely, sinc

[2017-10-16 21:51] #436 closed

[2017-10-16 21:51] ksun-stripe commented on #436
Hi @Petrulak right now, we don't have a way to do that. Something we can look into going forwar

[2017-10-16 22:14] ksun-stripe commented on #432
fix merged!

[2017-10-16 22:14] #432 closed

[2017-10-16 22:17] #419 closed

[2017-10-17 07:39] jepoy16 commented on #433
@mrmcduff-stripe - don't we have delete function on ios SDK?

[2017-10-17 08:42] Petrulak opened #439 "Activity keeps "loading" forever."
SDK version : compile `com.stripe:stripe-android:5.1.0`
Related to [#434](https://github.com/stripe/stripe-android/issues/434)
App keeps infinitely loading when adding a card with invalid cvv.
![screenshot_20171017-103536 1](https://user-images.githubusercontent.com/16755625/31654963-cf22bb0c-b327-11e7-82e8-f3fbff02a556.png)

[2017-10-17 15:17] jepoy16 commented on #432
Many Thanks @ksun-stripe

[2017-10-17 17:34] mrmcduff-stripe commented on #434
I would think this would have come from surfacing the card errors. Let me check that we notify our progress spinners.

[2017-10-17 21:32] linkinamine opened #441 "App crashes when trying to add a new Card"
Clicking on Add new card causes the following crash, using `5.1.0`

**java.lang.NoSuchFieldError: No field add_source_progress_bar of type I in class Lcom/stripe/android/R$id;
                                                     at com.stripe.android.view.AddSourceActivity.onCreate(AddSourceActivity.java:73)
                                                       at android.app.Activity.performCrea

[2017-10-17 22:01] mrmcduff-stripe commented on #441
could you share a bit more of your build? We don't see this during testing, so I'd love to dig deeper to figure out why you're getting this. Are you trying to reference that resource by ID? The resources are no longer public as of 5.1.0, but that shouldn't stop you from launching the activity itself.

[2017-10-17 22:02] mrmcduff-stripe commented on #439
Thanks for separating this out -- I suspect we've fixed this with the recent surfacing of errors that were accidentally hidden (will be shipping soon), but it's good to keep track of it.

[2017-10-18 09:00] linkinamine commented on #441
@mrmcduff-stripe it seems like I needed to perform a clean and rebuild of the project.
Thanks.

[2017-10-18 09:00] #441 closed

[2017-10-18 13:22] Petrulak opened #443 "com.stripe.android.model.asCard() throws null ."
Calling  `asCard()` on object below throws null.
Am I doing something wrong or what is the proper way of getting card data out of a source?
[code]

[2017-10-18 14:56] mrmcduff-stripe commented on #443
That's intended behavior, because the `object` type is `source`. `asSource` will return the Source object.

[2017-10-18 14:56] #443 closed

[2017-10-18 15:13] Petrulak commented on #443
@mrmcduff-stripe is there a simple way to get credit card details except doing manual parsing of `sourceTypeData` ?

[2017-10-18 15:32] Petrulak opened #444 "Error callback for setCustomerDefaultSource is never called."
I am playing with  `setCustomerDefaultSource` .
It is working fine if I pass `sourceId` which is bound to the user.
However, when I do pass some nonexisting id, for example `src_1BEHKgEdg35FgtQt9i28XXXX -abc` `onError` is never called.
Is this intended behavior?

[2017-10-18 21:08] mrmcduff-stripe commented on #444
No! That's part of what we've got fixed (and not yet shipped) over the past few days -- it is related to the other bug you posted about infinite spinners on errors

[2017-10-19 15:03] caipivara opened #445 "CardInputWidget looks ugly on small screens"
Im using a 2_7_QVGA emulator and input looks like:

<img width="624" alt="screen shot 2017-10-19 at 10 02 38 am" src="https://user-images.githubusercontent.com/76348/31777814-a556f688-b4b4-11e7-90a5-fd31a40e35f3.png">

[2017-10-19 17:05] mrmcduff-stripe commented on #445
How many DP is that across? We have a min width of 320dp, at which we've tested it and not seen that kind of overlap. It is designed to expand and contract, but there's a minimum on how small it can get (as you can see).

[2017-10-19 17:27] caipivara commented on #445
It's 240x320 ldpi, it's the smaller size you can pick creating emulators on AS.
Maybe putting the fields vertical instead of horizontal fix it?

[2017-10-19 17:44] mrmcduff-stripe commented on #445
Putting the fields vertical would break all the animations that occur with that widget. If you can use appcompat themes, the multiline card input widget might work better for you. I'll make sure to bump up the min size; I think I was testing with an mdpi when I saw that as the min width where things don't overlap. (Although I also thought the point of dp was that it didn't matter what res the scre

[2017-10-19 22:29] mrmcduff-stripe commented on #445
Closing this issue to wrap up -- we'll tweak that min size, but we've elected not to fundamentally alter the control to target small screen devices as a priority. Thanks for pointing it out though! We always want to know when a feature's in demand, even if it isn't one we're supporting.

[2017-10-19 22:29] #445 closed

[2017-10-20 18:11] #423 closed

[2017-10-25 06:52] msquare097 opened #453 "SourceRetrievalListener#onSourceRetrieved() never called while adding card of customer."
sdk version : 5.1.1

For adding a new credit card of customer performing following steps.
- Initiate CustomerSession.
- Creating a token for a new card.
- Passing that toekn_id into CustomerSession#getInstance()#addCustomerSource(<all params>).

Using above steps, **card is successfully added on the back end. But the problem is onSourceRetrieved()** never called. So that i can't perform any task o

[2017-10-25 18:08] mrmcduff-stripe commented on #444
This should be fixed with 5.1.1, which is live now!

[2017-10-25 18:08] #444 closed

[2017-10-25 18:08] mrmcduff-stripe commented on #439
This should be fixed with 5.1.1, which is live now!

[2017-10-25 18:08] #439 closed

[2017-10-25 20:11] mrmcduff-stripe commented on #453
Are you creating a Token, not a Source? We should probably still handle this if that's the case, but we're shifting from Tokens to Sources, so this was built with Sources in mind.

[2017-10-25 21:07] Advice-Dog opened #454 "Cannot find symbol when built through JitPack"
When using JitPack to host `stripe-android`, it does not build correctly.

https://jitpack.io/#stripe/stripe-android/v5.1.1

Looking at the log, there are numerous errors about `cannot find symbol` or `error: package com.google.android.gms.wallet does not exist`

Example:

[code]

If you try to use the library as a dependancy you will receive this error:

You can read the entire log [here](https:/

[2017-10-25 21:30] mrmcduff-stripe commented on #454
Hi @Advice-Dog -- we're going to be deprecating stripe-android because of Google's switch to Pay with Google (and the resulting upgrade to Google play services wallet 11.4.2, which breaks pretty much all the old android pay code)

[2017-10-26 00:44] Advice-Dog commented on #454
Hey @mrmcduff-stripe, thanks for getting back to me.

What would be replacing `stripe-android` moving forward? Do you have a time frame for it?

[2017-10-26 05:12] msquare097 commented on #453
Yeah I tried with source too.
In that case onSourceRetrieved() called successfully. But the card was not added to back end.
So then I tried it using token.

[2017-10-26 07:31] tjouin commented on #417
athul-saaranga  Did you find solution ?

[2017-10-26 07:34] athul-saaranga commented on #417
compile 'com.stripe:stripe-android:4.1.6’
This worked fine for me.

Thank You,
Athul L S

On 26 Oct 2017, 1:01 PM +0530, tjouin <notifications@github.com>, wrote:

[2017-10-26 07:34] tjouin commented on #417
Thanks, but that mean to not be on the latest sdk version, that sad. :/

Have a great day.

[2017-10-26 13:18] GuillaumeWrobel opened #455 "TextAppearance.AppCompat.Notification not found (SDK 27)"
File: `/.gradle/caches/transforms-1/files-1.1/stripe-android-5.1.1.aar/xx/res/layout/activity_add_source.xml`

Error: Error:(28) error: resource style/TextAppearance.AppCompat.Notification (aka com.yespark.android.debugprod:style/TextAppearance.AppCompat.Notification) not found.

Config:
[code]

[2017-10-26 16:56] mrmcduff-stripe commented on #417
@tjouin -- that is probably an early enough version that you don't need access to google's maven repository. @athul-saaranga -- did you try adding the line I mentioned above to your repositories in order to point you at the right place to get the support libraries?

[2017-10-26 16:59] mrmcduff-stripe commented on #455
I didn't realize 27 had come out yet. I don't think that's the problem, though - is this looking in your directory for the standard appcompat resource styles? Can you share your gradle files?

[2017-10-26 17:01] mrmcduff-stripe commented on #454
You can actually work right now with the Pay with Google libraries, which we have some [documentation](https://stripe.com/docs/mobile/android/pay-with-google) on. The new api is significantly better than the old Android Pay libraries that we wrapped. I'm working right now on updating the example project and the samplestore with the new libraries.

[2017-10-26 17:04] mrmcduff-stripe commented on #453
You only get that notification when the source has been added to the customer in question. Are you not seeing the logs in your Stripe console?

[2017-10-27 05:46] msquare097 commented on #453
No i haven't checked any logs.
But adding card through token will add card in back end but not giving success or failure notification.
while adding card through source will giving me notification but not adding the card on back end.

If you need any specific information i can provide you.

[2017-10-27 07:56] GuillaumeWrobel commented on #455
I use the v27.0.0 support library ([release changelog)](https://developer.android.com/topic/libraries/support-library/revisions.html#27-0-0) which removes the `support-compat`

The [support/+/master/v7/appcompat/res/values/styles.xml source code announces:](https://android.googlesource.com/platform/frameworks/support/+/master/v7/appcompat/res/values/styles.xml#L332_L353)

[code]

It seems to be co

[2017-10-27 12:00] athul-saaranga commented on #417
Error:(20, 0) Could not get unknown property 'GROUP' for root project ’TestProject' of type org.gradle.api.Project.
I am getting this error when used the code you have shared.

Thank You,
Athul L S

On 26 Oct 2017, 10:26 PM +0530, Michael McDuffee <notifications@github.com>, wrote:

[2017-10-27 12:09] athul-saaranga commented on #417
The Gradle I’m using currently

// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
   repositories {

       maven {
           url "https://maven.fabric.io/public"
       }
       jcenter()
   }

   dependencies {
       classpath 'io.fabric.tools:gradle:1.+'
       classpath 'com.android.tools.build:gradle:2.3.3'

   }
}

allproject

[2017-10-27 18:14] mrmcduff-stripe commented on #455
Oh, I see. That makes a breaking change to support library 27... looks like we'll have to make a breaking change to upgrade to it then. We likely would have to anyway to upgrade to gradle build tools 3 now that it's a stable release. We'll make the upgrade. Release version will have to become 6.0.0 (that doesn't mean wait a certain length of time, just we'll have to break to go up).

[2017-10-27 18:34] mrmcduff-stripe commented on #417
@athul-saaranga You'll need to add the google directory to your maven URLs. You can leave the one you have there too, but you have to add google or you won't be able to get any of the repositories.
[code]

[2017-10-31 05:13] athul-saaranga commented on #417
Results the following error once I add the dependencies and maven google in
gradle

Error:(20, 0) Could not get unknown property 'GROUP' for root project
’TestProject' of type org.gradle.api.Project.

On Sat, Oct 28, 2017 at 12:04 AM, Michael McDuffee <notifications@github.com

--
Thank You,
*Athul L.S*

[2017-10-31 15:48] antonverhoeven32 commented on #455
I am experiencing same issue after upgrading Android studio 3.0. @mrmcduff-stripe could you please let me know what the estimation date of 6.0.0 release is?

[2017-11-01 10:14] Petrulak opened #463 "Adding 4000 0000 0000 0002 throws "Not a source""
SDK version : `compile 'com.stripe:stripe-android:5.1.1'`
Adding `4000 0000 0000 0002` fails with `Not a source` error code.

[2017-11-01 10:51] Petrulak opened #464 "Adding 4000 0000 0000 0119 throws "Not a source""
SDK version : compile `com.stripe:stripe-android:5.1.1`
Adding 4000 0000 0000 0119 fails with Not a source error code.
Expected `Charge is declined with a processing_error code.`-> [Source](https://stripe.com/docs/testing#cards)

[2017-11-01 10:53] Petrulak opened #465 "Adding 4000 0000 0000 0069 fails with Not a source error code."
SDK version : compile `com.stripe:stripe-android:5.1.1`
Adding 4000 0000 0000 0069 fails with Not a source error code.
Expected `Charge is declined with a processing_error code.`-> [Source](https://stripe.com/docs/testing#cards)

[2017-11-01 10:58] Petrulak opened #466 "Adding 4000 0000 0000 0127 fails with Not a source error code."
SDK version : compile `com.stripe:stripe-android:5.1.1`
Adding 4000 0000 0000 0127 fails with Not a source error code.
Expected `Charge is declined with a processing_error code.`-> [Source](https://stripe.com/docs/testing#cards)

[2017-11-01 12:45] HarisSistek commented on #455
Seeing the same issue when updating gradle config from 26.0.2 to 27.0.0. List of main support libs:
[code]

Gradle also updated from 2.3.3 to   3.0.0

[2017-11-01 17:27] mrmcduff-stripe commented on #463
That error shouldn't be reachable anymore. I'll figure out what's going on.

[2017-11-01 17:28] mrmcduff-stripe commented on #455
Updating to 27 by the end of next week - will post here.

[2017-11-02 05:36] rabcat commented on #243
Can we customize the message on the button? Like "return to WebShop"?

[2017-11-02 14:05] Petrulak commented on #463
@mrmcduff-stripe
Just to give a bit more context.
Adding of the source `addSource` works.
[code]
Attaching the source to the customer `addCustomerSource` is thworing `400 Not a source`
[code]

[2017-11-02 16:54] #455 closed

[2017-11-02 20:21] anelder-stripe opened #472 "`metadata`-attribute on `Card`-model"
Please consider adding optional `metadata`-attribute to `Card`-model.  It's undocumented, but still functional and useful for many merchants.

[2017-11-03 00:38] mrmcduff-stripe commented on #463
@Petrulak  Do you by chance have an implementation of a back end that returns that value? The string "Not a source" was completely removed in https://github.com/stripe/stripe-android/pull/438 - it's not in the code base.

When I build the sample project and add a source using the customer session and use 4000 0000 0000 0002, I get a "Your card was declined" popup. (Actually, I think I have a bug w

[2017-11-03 00:40] mrmcduff-stripe commented on #465
When I do this in the example app, I get "Your card has expired", which is the expected error

[2017-11-03 00:41] mrmcduff-stripe commented on #466
I get "Your card's security code is incorrect" (expected)

[2017-11-03 00:42] mrmcduff-stripe commented on #464
I'm getting "An error occurred while processing your card. Try again in a little bit."

[2017-11-03 13:56] Petrulak commented on #463
@mrmcduff-stripe it works now. I can not replicate the issue. I am 99.99% sure that i was using `5.1.1`while testing. But it seems like I was wrong. Sorry for the hassle.
Closing this one and also all related issues.

[2017-11-03 13:56] #463 closed

[2017-11-03 13:57] #464 closed

[2017-11-03 13:57] #465 closed

[2017-11-03 13:57] #466 closed

[2017-11-04 19:46] SiarheiSm opened #474 "Not able to change text color on android 6.0"
Hello.
i've tried to change text color in app theme and it works for hint but input text always white (but i use white color in the app only for background)

[2017-11-06 16:25] linkinamine opened #475 "Charging a customer with a 3DS verified source fails."
We get this error after trying to charge a customer with a 3DS verified card :
[code]

The source staus on the dashborad is `Chargeable`.

[2017-11-06 21:12] mrmcduff-stripe commented on #474
Hi @SiarheiSm -- where are you setting the new color? Could you post some of your code?

[2017-11-06 21:14] mrmcduff-stripe commented on #475
Hi @linkinamine -- you may get better mileage chatting with support@stripe.com on this one -- if the code coming back from the server for 3ds Sources is giving you errors, there's nothing in the Android SDK that can be affecting that.

[2017-11-07 09:49] linkinamine commented on #475
@mrmcduff-stripe thanka a lot, we are contacting the support and will update the issue accordingly.

[2017-11-07 19:19] mrmcduff-stripe commented on #475
Great! They should be able to handle everything. I'm going to close out this github issue, but our support team will track separately.

[2017-11-07 19:19] #475 closed

[2017-11-08 17:33] KevinTheGray commented on #455
Is this fixed?  I'm still seeing this with stripe 5.1.1

[2017-11-09 06:20] jaigupta73 opened #478 "Android Pay is missing in stripe-android"

[2017-11-09 08:54] itaispector opened #479 "Expose text change listener"
Hi!
First of all big thumbs up for the Android SDK!

I'm trying to combine `CardInputWidget` with a credit card view, and I want the text entry to reflect in the card view.

It would be super nice if the EditText's in the widget will have the option of the text change listener exposed.

Now I'm trying to figure out (or hack out) a way to do that.
Any help would be much appreciated.

Best,
Itai

[2017-11-09 13:38] SiarheiSm commented on #474
Hello @mrmcduff-stripe . i've checked [https://stripe.com/docs/mobile/android](url)
"The CardInputWidget is a custom view which contains several customized Android EditText elements. If you set values for EditText attributes in your Theme, they will be picked up by the CardInputWidget."
I've tried to add editText style to styles and set up it to the application Theme. it works for int but not for

[2017-11-09 14:53] GuillaumeWrobel commented on #479
Hey @itaispector you got a [CardInputListener](https://github.com/stripe/stripe-android/blob/c717d92dac9b6a4ee3c92227b6f6181192dd33cd/stripe/src/main/java/com/stripe/android/view/CardInputListener.java). I use it to perform form validation permission.

[2017-11-09 15:16] itaispector commented on #479
@GuillaumeWrobel my goal is to watch every char, becuase I want to reflect it in a visual credit card view. With `CardInputListener` I can only get card information when the all card info is valid.

[2017-11-09 18:20] mrmcduff-stripe commented on #478
Hi @jaigupta73 -- the stripe-android-pay library was deprecated because Google is moving to the Pay with Google framework. The example project shows how to use the new framework with our libraries.

[2017-11-09 18:20] #478 closed

[2017-11-09 18:24] mrmcduff-stripe commented on #474
Setting the colors directly on the widget will fail because of the way the `CardInputWidget` pulls out colors dynamically at runtime -- you'll need to set the colors in the specific attributes defined for that widget (other widgets pick up values from the theme - just not that one). The hint color and error color are defined as new attributes.
[code]

[2017-11-09 18:25] mrmcduff-stripe commented on #479
We'll have to take a look - exposing more public values means that we're more vulnerable to needing to making breaking changes

[2017-11-09 18:31] itaispector commented on #479
@mrmcduff-stripe My inspiration comes from using Stripe's iOS SDK, which over there the Stripe credit card text field `STPPaymentCardTextField ` is exposed.
I've used this library: [https://github.com/orazz/CreditCardForm-iOS](url) which uses Stripe's iOS SDK with Stripe's text field.

[2017-11-09 21:24] mrmcduff-stripe commented on #474
I am a bit surprised that the raw `android:textColor` doesn't pick up. We don't specifically override that value. Is that one also not working, @SiarheiSm ?

[2017-11-10 05:29] jaigupta73 commented on #478
Thanks for update.
But i have to checked google pay its not accepted any testing card . How i will checked Google pay with testing card?

[2017-11-10 09:13] SiarheiSm commented on #474
Hello @mrmcduff-stripe! thank you for response.
[code]
working great. i have an issue with text color - it always white, but i have android:textColor = darkgray in colors.
[image](https://imgur.com/a/WGUWU)
I've tried use different application themes but the result the same,

[2017-11-10 19:04] mrmcduff-stripe commented on #474
What does the theme of your app set the text color of an `editText` to? That's the only place I can think of that it might be picking that up. We definitely don't intentionally default to white-on-white.

[2017-11-10 23:41] mrmcduff-stripe commented on #453
I'm not sure why this callback would be missed -- we've updated to version 6.0.0 now, and included a few fixes in the call flow. Does the problem persist?

[2017-11-10 23:52] mrmcduff-stripe commented on #474
@SiarheiSm -- I'm actually going to be shifting off this repo soon, but support@stripe.com should be able to help you with the text coloring issue. I suspect an odd value is leaking through from your theme or styles. We pull the "cached text color" (the non-error version) from a call to `TextView#getTextColors()`, (see [the code in StripeEditText](https://github.com/stripe/stripe-android/blob/c717

[2017-11-11 18:52] SiarheiSm commented on #474
i've made findViewById and set up color i need.

[2017-11-11 18:52] #474 closed

[2017-11-14 12:54] sj1717 commented on #472
This will be extremely useful, in fact essential, for us as it will allow us to obtain more information from the Token object when using stripe.createToken() in Android, eg. when we get a token back from you we need to link the token back to our process that initially created it. Therefore, if we add our process info (eg. a process ID) in to the Card's metadata then we can retrieve it later from t

[2017-11-17 06:34] vandanabpatel opened #482 "Stripe integration is anyone have done in kotlin using RXJava"

[2017-11-21 11:14] itaispector commented on #479
@mrmcduff-stripe Sorry for disturbing, any updates?

[2017-11-27 16:51] ksun-stripe commented on #482
Hi @vandanabpatel!
I'm understanding your question as, does this library work with RxJava and Kotlin?

Kotlin has 100% interop with Java so this library should work seamlessly with any Kotlin files that you have. We also work well with RxJava :) There's some example of using this with RxJava in our [Sample Store demo](https://github.com/stripe/stripe-android/blob/master/samplestore/src/main/java/c

[2017-11-27 17:13] ksun-stripe commented on #479
Hi @itaispector!

I'm taking over this from @mrmcduff-stripe. Apologies for the delay - I'll look into this for you! :)

[2017-11-27 17:19] itaispector commented on #479
@ksun-stripe
Fantastic!
Looking forward,
thanks

[2017-11-28 18:55] #482 closed

[2017-12-02 08:06] mobilegeekkk opened #485 "Source is Null while CustomerSession at onActivityResult"
Hello, I'm not able to get the Source from the Stripe. It is returning null at onActivityResult.
I always create a init customer session first in which by using Ephemeral Key I get the customer Id and all details from the server and on customer retrieval, I open Stripe's view PaymentMethodsActivity , which returns Selected Sources but from that selected sources, Source Object is null.
And on dashb

[2017-12-04 11:40] ahaverty opened #486 "Adding card using NFC and/or card.io"
Hi Stripe, feature request/discussion:
A lot of Android's have the ability to read cards with NFC/contactless with a library like this https://github.com/pro100svitlo/Credit-Card-NFC-Reader

We're thinking of integrating that library + use stripe's programmatical .set's
Is this something that could be added to Stripe's library?
I haven't seen any apps other than demo apps using contactless, does a

[2017-12-04 17:23] ksun-stripe commented on #486
Hi @ahaverty! Thanks for writing in with the suggestions :)

I want to make sure I understand the suggestions/questions:

- Are you asking if we can add NFC/contactless in the Stripe SDK or are you asking if we have opinions on the security UX of it?
- Are you asking for us to add card.io into the Android library? Were you imaging this would be part of the end to end solution using PaymentsSession

[2017-12-04 17:37] ksun-stripe commented on #485
Hi @mobilegeekkk -- thanks for writing in!

Are you having issues where the list of sources is empty when you're inside PaymentMethodsActivity? Or, are you having issues where you're not getting the selected payment source when you close out the PaymentMethodsActivity?

You'll be in better hands emailing help@stripe.com with integration questions.

[2017-12-04 17:38] ksun-stripe commented on #453
Hi @msquare097! Closing this for now -- feel free to ping back or reopen if you're still having issues!

[2017-12-04 17:38] #453 closed

[2017-12-04 19:55] liaocmq opened #488 "CardMultilineWidget inputs not showing/displaying"
Hello, I've successfully implemented the structure of the CardMultilineWidget, but I found one problem that I could not find any answer:

- 1st: The lines (30 ~ 33) of 'CardMultilineWidget.java' cannot be solved.

![screenshot 30](https://user-images.githubusercontent.com/32904110/33573136-f42edea2-d902-11e7-8044-2d64680ad6c2.png)

[2017-12-05 07:10] ahaverty commented on #486
Hi @ksun-stripe
I'm wondering if stripe cane add either/both. I'd also like to hear if Stripe have any thoughts on the UX/security of either libraries/methods in the meantime.

This stripe library seems to be in great shape!
I meant the card.io android library has been in ruin for the last year.

iOS cardio is usable, surely android could have some great image/NFC libraries. I'm wondering why eith

[2017-12-05 17:59] ksun-stripe commented on #479
@itaispector thanks for your patience with all this :)
I expose interfaces to grab the text watchers in the PR below: does that address your issue?

https://github.com/stripe/stripe-android/pull/487

[2017-12-05 19:28] itaispector commented on #479
@ksun-stripe Absolutely!
Your help is much appreciated, thank you.
I guess patience pays off eventually

[2017-12-05 19:28] #479 closed

[2017-12-11 04:26] ElijahGeorge opened #489 "IllegalStateException: Attempted to get instance of PaymentConfiguration without initialization"
<img width="1334" alt="screen shot 2017-12-10 at 11 22 57 pm" src="https://user-images.githubusercontent.com/13192863/33815684-3f662954-de01-11e7-93c0-0009fea5db69.png">

Hello, I'm getting this error when I try to update card information. I'm using `'com.stripe:stripe-android:5.1.0'`. It occurs as soon as I click the check mark to finish updating card information after `mPaymentSession.presentPay

[2017-12-11 15:38] sdoward opened #490 "Is android pay still supported?"
Your documentation shows that is it https://stripe.com/docs/mobile/android/android-pay

But https://github.com/stripe/stripe-android/pull/467 PR suggests that it's not

[2017-12-11 17:47] anelder-stripe commented on #490
@sdoward - You're correct.  These docs should be getting removed (hopefully today; but more likely within the week).  Please refer to the "Pay with Google" documentation here instead:

https://stripe.com/docs/mobile/android/pay-with-google

[2017-12-11 17:47] #490 closed

[2017-12-11 21:32] anelder-stripe commented on #489
@ElijahGeorge - Did you call `init()`?

https://github.com/stripe/stripe-android/blob/a4dd06e6d91c5a401a586ca36ad0b9f301000edd/stripe/src/main/java/com/stripe/android/PaymentConfiguration.java#L35

That error occurs when `mInstance` isn't set and it gets set with the `init()` method.  In our example app, we do that in the Launcher activity.  You can see how we do that here:

https://github.com/str

[2017-12-11 21:32] #489 closed

[2017-12-11 21:33] anelder-stripe commented on #489
If you require further assistance, please email into Support via https://support.stripe.com/email and we can take a look at what might be going wrong.

[2017-12-11 21:35] anelder-stripe commented on #488
@liaocmq - I'm afraid I'm not sure what you're asking.  Do you think you could rephrase the problem for me?  I'm happy to take a look, once I have a bit more to go on.  Alternatively, if you like, we can resolve this in a 1:1 conversation, all you'd need to do is email into Support via https://support.stripe.com/email.

[2017-12-11 21:43] anelder-stripe commented on #486
@ahaverty - I can't speak to everything here, but EMV (of which NFC is ~classified; thanks to ISO/IEC 14443) is a murky area.  EMV (theoretically) requires hardware certification on a per device, per partner, per territory, and per card brand basis, as far as I know.  Meaning, adding support for this is arguably a violation of the card network's terms.  It's murky though, because it's tough to say

[2017-12-11 21:53] anelder-stripe commented on #485
Hey @mobilegeekkk,

I'm going to close this; however, if you require further assistance, you're welcome to email into Support via https://support.stripe.com/email and we'll work with you to get you up and running.  Okay?

Looking forward to hearing from you!

[2017-12-11 21:53] #485 closed

[2017-12-11 23:13] ElijahGeorge commented on #489
👍 @anelder-stripe it looks like that did it. Thanks so much

[2017-12-12 14:05] fschai89 commented on #433
@mrmcduff-stripe on Payment Method, IOS we do have delete card, why Android cannot remove card?

[2017-12-13 03:09] fschai89 commented on #414
@Petrulak just put this code to your App styles.xml which located at res/values/styles.xml. Change the color accordingly.

[code]

[2017-12-13 10:55] Petrulak commented on #414
Thanks, @fschai89 , we have decided to move away from sample Stripe UI since it was not flexible enough for us.

[2017-12-14 15:16] liaocmq commented on #488
Hi Anelder, thanks for your reply. It's just regarding the lines with the FocusField in red which give me:

-> CardMultilineWidget.java' cannot be solved.

[2017-12-15 12:56] ShrikantBadwaik-007 opened #493 "Auto change brand logo"
Hi, I have designed a custom form for adding card.
I would like to know if there is any way to auto change brand logo on by changing card number?
For ex, if entered card number belongs to card with brand "Visa", then a small logo will appear.

Thanks.

[2017-12-16 07:13] farley-fu opened #494 "打包之后运行的话 会遇到找不到ic_jcb_template_32.xml的问题"

[2017-12-16 07:14] farley-fu commented on #494
但是我在源码中能找到这个文件，只是打包后就找不到了，很费解。我找了张图片代替它 就好了。

[2017-12-16 07:14] #494 closed

[2017-12-18 11:58] paynd opened #495 "Genetare token of Bank account using createBankAccountToken method without routingnumber parameter"
It looks like `routing_number` are [optional](https://stripe.com/docs/api#customer_create_bank_account) and country-specific, and there is no `routing_number` in some countries ([for example in Singapore](https://github.com/tipsi/tipsi-stripe/issues/208)).
How can we get bank account token without this parameter?

[2017-12-20 11:03] linkinamine opened #498 "Possibility to remove a source."
Hey,
I am trying to delete a `customer` `source` using a custom UI by calling this :   ```customer.sources.remove(CustomerSource)``` , the `source` is deleted but somehow the `customer` is not updated, so whenever I refetch the `customer` I still see the deleted source.

Is there any way to successufully perform the deletion ?

[2017-12-21 09:52] paulgeisler opened #499 "when the widget is not visible the input field is still getting focus"
Fire HD 8 Tablet with Alexa, com.stripe.android.view.CardInputWidget.

Even when the widget is not visible the input field is still getting focus and forces the device to open the (numeric) keyboard.

![20171219_220603_1](https://user-images.githubusercontent.com/2124038/34250328-d3d45b04-e63c-11e7-9d11-9d4632304cf9.gif)

[2017-12-21 13:35] paynd commented on #495
Answered [here](https://github.com/stripe/stripe-ios/issues/874)

[2017-12-21 13:35] #495 closed

[2018-01-02 13:28] sarihi opened #500 "Possibility to force focus preferred card field"
I have a use case where user can:

1) launch "scan the card (number)" with button
2) return to the original activity with credit card input
3) edit the credit card (and fill rest of the fields)

In this scenario, when returning into original activity, user would like the keyboard to be open (in correct mode) and have the cursor (force focus) in credit card number (or any other preferred) field. Wi

[2018-01-02 14:05] sarihi commented on #500
I was able to "hack" this with:
[code]
That seems to do the trick also  :) But it would also be nice to have that helper in the api.

[2018-01-03 16:44] sdoward opened #501 "Android Billing Client"
It seems google now offer a different library for Google Pay https://developer.android.com/training/play-billing-library/preparing-iab-app.html

The docs show that we should use the play service version. Do you support the new version, if so can you update the docs?

[2018-01-05 19:33] ksun-stripe commented on #500
Hi @sarihi! Thanks for writing in - let me make sure I understand what you're looking for!

Inside the CardInputWidget, you'd like to be able to be able to put focus on the EditText where the credit card number is input?

If that's the case, theoretically, we should already be requesting focus on that EditText by default.

https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/c

[2018-01-05 19:45] ksun-stripe commented on #501
Hi @sdoward!

My understanding is that In App Billing and Google Pay are different. In App Billing is used to sell digital content from inside your applications. Google handles the processing for these.  https://support.google.com/googleplay/android-developer/answer/112622

Pay with Google is what the Stripe library supports and is for real world goods and services.

Thanks,
Kathy

[2018-01-05 19:45] #501 closed

[2018-01-05 19:52] ksun-stripe commented on #499
Hi @paulgeisler sorry about the long delay here! The CardInputWidget automatically requests focus. However, you can call` cardInputWidget.clearFocus()` to clear the focus.

Though, do keep in mind that with certain XML settings, Android will automatically give focus to the first widget regardless of request/clear focus see [this link](https://stackoverflow.com/questions/1555109/stop-edittext-from-

[2018-01-05 22:54] anelder-stripe commented on #498
Thanks for writing in, @linkinamine!

Just a quick point of clarification before we get too far down a rabbit hole here.  Can you please clarify how you're implementing this behavior?  Are you trying to use the `stripe-android` SDK to remove sources using Java?  Or is this something you're doing in another language or framework?

Is `customer` at this point a `StripeCustomer` (https://github.com/s

[2018-01-05 22:57] ksun-stripe commented on #493
Hi @ShrikantBadwaik-007! Apologies for the delay here. The SDK will update the logo in the CardInputWidget and the CardMultilineWidget with assets already included in the SDK. If you end a card number with the brand visa, we will show a visa logo.

If you'd like your own logos, you can fork the codebase and change the assets provided. They're specified here: https://github.com/stripe/stripe-androi

[2018-01-05 22:57] #493 closed

[2018-01-08 15:11] linkinamine commented on #498
Hey @anelder-stripe, thanks for the reply.

- I am trying to remove a source using the `stripe-android` SDK, we have implemented our own UI for adding and setting a default card, what's remaining is the possibility to remove a `cutomerSource`.
- The Customer is indeed`stripeCustomer`.

[2018-01-08 18:58] anelder-stripe commented on #498
@ksun-stripe - I think this could perhaps be rephrased as a feature request for the ability to remove sources from customers.

[2018-01-11 18:24] josepoq opened #502 "setCvcNumberTextWatcher is adding the watcher to mCardNumberEditText"
The method CardInputWidget#setCvcNumberTextWatcher is adding a listener to mCardNumberEditText instead of mCvcNumberEditText.

[2018-01-12 15:09] linkinamine commented on #498
@anelder-stripe @ksun-stripe
Hey guys, any update on this ?

[2018-01-13 18:17] #502 closed

[2018-01-13 18:17] ksun-stripe commented on #500
@sarihi closing this for now! Feel free to reopen or go to support@stripe.com if this wasn't helpful :)

[2018-01-13 18:17] #500 closed

[2018-01-13 23:32] hbanzon opened #504 "CustomerSession.CustomerRetrievalListener not getting called when retrieving current customer"
I'm experiencing an issue in the Example app included in this project.  I have done the following:
* `PaymentConfiguration.init()` with my test api key
* I have also updated my server api to get me the ephemeral and updated the `ExampleEphemeralKeyProvider` and `StripeService` to make sure that I am able to fetch an ephemeral key and initialize the CustomerSession.

However in the Example app's `C

[2018-01-15 09:59] tayorh27 opened #505 "CardNumberEditText not typing"
<LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_margin="20dp"
        android:background="@drawable/corner"
        android:orientation="vertical"
        android:paddingBottom="15dp"
        android:paddingLeft="20dp"
        android:paddingRight="20dp"
        android:paddingTop="10dp">

        <TextView
            a

[2018-01-17 20:51] anelder-stripe opened #506 "`MM/YY` in Dutch is `MM/JJ`"
https://github.com/stripe/stripe-android/blob/master/stripe/res/values-nl/strings.xml#L7

This just needs to be updated, I think.

[2018-01-20 13:41] Chris59160 opened #507 "Google Wallet not working"
Hello guys,

I have successfully integrated Stripe to my Android App, in sandbox and production.

I had implemented Google Wallet via Stripe. The Test mode works perfectly fine, but the Production just doesn't work at all.
I have set the Stripe keys to live, I have set the Environement of the wallet to Production:

this.m_payment_client = Wallet.getPaymentsClient(this.m_context.get(), new Wallet.W

[2018-01-20 20:19] abhishekujjain opened #508 "Provide capablity to pre fill card data in com.stripe.android.view.CardMultilineWidget"
Please provide similar capablity to add card details  after scanning data from card.io etc.Its there in  com.stripe.android.view.CardInputWidget;

/**
     * Set the card number. Method does not change text field focus.
     *
     * @param cardNumber card number to be set
     */
    public void setCardNumber(String cardNumber) {
        mCardNumberEditText.setText(cardNumber);
        setCardNum

[2018-01-26 10:56] pixellos commented on #498
@anelder-stripe  @ksun-stripe So Is removing a source and a card possible or it's not?

[2018-01-26 17:19] anelder-stripe commented on #498
@pixellos + @linkinamine - It is currently not possible with the SDK.  It's something that needs to get added to the SDK.  I'll work with @ksun-stripe to see if we can have that added shortly.  Sorry for the delay on this!

[2018-01-29 16:44] carmelo-ruota opened #510 "Unable to specity SEPA mandate params"
I can't specify further mandate SEPA params, as described here:
https://stripe.com/docs/api/curl#create_source

[2018-01-29 18:13] turckj commented on #504
Hi Hino

Did you resolve your issue?

I am experiencing the same issue in both example project and our application, behaviour exactly as described above.

To further that, I have attempted to launch the paymentMethodSelection activity via:

`
paymentSession.init(...)
paymentSession.presentPaymentMethodSelection()
`

This successfully launches the payment method selection activity, however any atte

[2018-01-29 18:53] ksun-stripe commented on #510
Hi @carmelo-ruota! Thanks for bringing this our attention :)
I've put into our internal backlog to prioritize! In the meantime, you can use
https://github.com/stripe/stripe-android/blob/a1e88a0726ffdb598b26a829eb95227096e085ab/stripe/src/main/java/com/stripe/android/model/SourceParams.java#L195

which allows you to put whatever params you'd like to specify SEPA params.

[2018-01-29 18:53] #510 closed

[2018-01-29 18:57] ksun-stripe commented on #508
Hi @abhishekujjain!

Thanks for bringing this to our attention. I've gone ahead and put it into the internal task tracking system to prioritize. :)

Thanks,
Kathy

[2018-01-29 18:57] #508 closed

[2018-01-29 19:02] ksun-stripe commented on #507
Hi @Chris59160
I'm so sorry this has happened to you. We had an issue on the Stripe backend which results in the same error condition as you described. That issue has since been fixed -- are you still having issues? Happy to work with you to resolve them if you're still running into issues!
Thanks,
Kathy

[2018-01-29 19:07] ksun-stripe commented on #506
https://github.com/stripe/stripe-android/pull/511

[2018-01-29 19:07] #506 closed

[2018-01-29 19:09] ksun-stripe commented on #486
Moving this to our internal task tracking system so we can get it prioritized. :)
https://jira.corp.stripe.com/browse/ANDROID-196 (internal only link for tracking purposes)

[2018-01-29 19:10] ksun-stripe commented on #499
Closing this for now - feel free to reopen if you're still running into issues! :)

[2018-01-29 19:10] #499 closed

[2018-01-29 19:12] #498 closed

[2018-01-29 19:15] ksun-stripe commented on #505
Hi @tayorh27 !

So sorry - I'm not too sure from just this what the issue is. Can you try support@stripe.com? They'll be more able to help you there!

Thanks,
Kathy

[2018-01-29 19:15] #505 closed

[2018-01-29 19:19] hbanzon commented on #504
I did, the problem I believe is that my backend uses a much older version of the the API.  A version from 2014.  Can you confirm that my api/backend version is incompatible with this SDK?

Thanksk
Hino

[2018-01-29 20:40] ksun-stripe commented on #504
Hi @hbanzon
So sorry you had to figure this out on your own. We should work with all the Stripe versions -- you need to configure the SDK with the specific API version that you're using though.

From: https://stripe.com/docs/mobile/android/standard
"When the SDK requests an ephemeral key, it specifies the version of the Stripe API that it expects the response to come from. Your endpoint should acc

[2018-01-29 20:40] ksun-stripe commented on #504
Closing for now but let us know if you have any issues!

[2018-01-29 20:40] #504 closed

[2018-01-29 21:01] hbanzon commented on #504
@ksun-stripe

Why is the API version number hardcoded in the [EphemeralKeyManager](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/EphemeralKeyManager.java) class on line 39.

This leads me to believe my API version is incompatible with this SDK version.

Also, my backend does expose an input parameter for api_version per the documentation.  I came to t

[2018-01-29 22:29] carmelo-ruota commented on #510
I tried in several ways, but adding a custom hashmap says me:
"[ERROR.....] Received an unknown parameter for payment method `sepa_debit`: sepa_debit[mandate]"

[2018-01-30 09:33] rcgonzalezf opened #513 "Styling CardMultilineWidget"
I noticed there's a way to add different styles to the card widget here:
https://stripe.com/docs/mobile/android#styling-the-card-widget

I would like to have a similar way of tweaking the color for the CardMultilineWidget;
I noticed that applying a Theme I could set the color of the Text Hint, but I also want to set the color of the text once the user is typing, right now it seems that's ignored.

[2018-01-30 09:56] atuldhanuka1990 opened #514 "CVV number should display in dot like input Type password"
Hi,

I am using com.stripe:stripe-android:5.1.1 and i faced one issue that CVV number is directly shown to user it show be in DOT the number should not be visible to user because it is private for security

Like password field

[2018-02-01 00:34] Technickster opened #516 "samplestore 402 payment required"
Hi,

Out of the box the sample store example and the heroku example backend come up with a 402 Payment Required error.

All test keys have been put in the right place, and the backend works on the iOS example.

Any idea's as to why this would be the case?

[2018-02-01 02:02] Technickster commented on #516
The difference between the two that I can see is that the iOS one passes card_xxxxx as the source and android passes a src_xxxxxx

Can the android pass a card_xxxxx token?

[2018-02-02 17:04] carmelo-ruota commented on #510
I did this but doesn't work! Please help me or I will need to use another service.
![image](https://user-images.githubusercontent.com/8983599/35745395-784ac178-0843-11e8-96c5-30f8bfde0766.png)

[2018-02-02 18:02] ksun-stripe commented on #510
@carmelo-ruota we've already filed it as a feature request :) in the meantime, you can go to support@stripe.com for help.

[2018-02-02 18:04] ksun-stripe commented on #516
Hi @Technickster
Card_XXXX is the old style and src_XXX is the new style that we're using across Stripe. I think the iOS SDK will be updated to use the src_XXX in the future. You can to go support@stripe.com for help debugging why the example backend isn't working for you! :)

[2018-02-02 18:04] #516 closed

[2018-02-02 19:38] carmelo-ruota commented on #510
I fixed it by forking the project! Now it works! In the next days I will make a pull request with the fix

[2018-02-02 22:12] Technickster commented on #516
Thanks, I actually found the issue to be with this repo. In StripeService to get it to work with the sample backend you provide, you should change:

`@POST("charge")
    Observable<Void> createQueryCharge(
            @Body Map<String, Object> params);`

to

`@FormUrlEncoded
    @POST("charge")
    Observable<Void> createQueryCharge(
            @FieldMap Map<String, Object> params);`

You will st

[2018-02-12 16:14] premnirmal opened #518 "Crash when reading HttpUrlConnection.getErrorStream()"
In `StripeApiHandler.java` line 893 (https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/StripeApiHandler.java#L893), it tries to parse the errorStream in `StripeApiHandler.getResponseBody(InputStream)`. The error stream here is empty or null, thus throwing a `NoSuchElementException` in line 855 (https://github.com/stripe/stripe-android/blob/master/stripe/s

[2018-02-12 18:24] ksun-stripe commented on #513
Hi @rcgonzalezf! Thanks for messaging in and apologies for the delay! Definitely a great idea, I've added this to our team tracking system and I'll looking into getting it prioritized :)

[2018-02-12 18:24] #513 closed

[2018-02-14 08:46] fb64 commented on #513
@rcgonzalezf you should add the following line in your style to modify the text color of the typed text  :
`<item name="android:editTextColor">@color/white</item>`

[2018-02-14 09:12] rcgonzalezf commented on #513
Thanks for the suggestion, that fixes that particular issue :).

[2018-02-14 18:57] #435 closed

[2018-02-15 23:33] toemat commented on #455
Had this question but realized there are new versions available that are not tagged under git Releases. Current version 6.1.1 is 👍

[2018-02-16 06:46] rcgonzalezf opened #522 "Support for Android Autofill"
The Cardwidgets could have support for Android autofill/ autofill hints, that will be very helpful for our users, in my case it's also consistent since I support autofill in other parts of the app:

https://developer.android.com/guide/topics/text/testautofill.html

The supported hints might be the related to credit cards:
`creditCardSecurityCode`
`creditCardExpirationMonth`
`creditCardExpirationYe

[2018-02-20 19:33] premnirmal commented on #518
Hello, wondering if there is any update on this? Thanks.

[2018-02-21 15:03] fofx opened #523 "CustomerSession.SourceRetrievalListener not getting called when using CustomerSession.addCustomerSource()"
I am using the PaymentMethodsActivity provided by Stripe. The issue occurs on AddSourceActivity - addCustomerSource is called but the SourceRetrievalListener callbacks are never fired.

[2018-02-21 17:50] fofx commented on #504
@turckj Were you able to resolve your problem? I'm facing the same issue.

[2018-02-21 17:59] hbanzon commented on #504
Hi @turckj

I have not resolved this yet unfortunately. The new SDK version is still now working with the old Stripe API version that my backend uses.

We are currently looking into upgrading the Stripe API version of our backend, but I still have not received confirmation from the Stripe team of my findings above.

Hope this helps.

~Hino

[2018-02-22 23:33] fofx commented on #523
I found a solution. I wasn't correctly handling the response from our backend when requesting a new ephemeral key. Originally I had deserialized the response into an object and then serialized that object to a json string before passing to Stripe. I corrected the problem by directly using the string representation of the response instead of doing any unnecessary serialization steps.

I wish there

[2018-02-24 01:50] ksun-stripe commented on #522
Hi @rcgonzalezf
Thanks for the helpful feedback! Sorry for the delay. I've added this feedback to our internal tracking tool where it can get prioritized :)

[2018-02-24 01:50] #522 closed

[2018-02-24 01:51] ksun-stripe commented on #523
Hi @fofx!
Thanks for the helpful feedback and giving us an update on what happened! The details here are really helpful -- I've added it into our internal team planning tool and will work on getting it prioritized :)

[2018-02-24 01:51] #523 closed

[2018-02-26 17:07] PGMacDesign opened #527 "Obfuscation / Minification issues"
When not using any obfuscation or minification, an app using this sdk will work just fine; however, when minification is enabled, the SDK will stop functioning as intended.

It looks like the reason for this is since we are setting the ephemeral key as a raw json string as opposed to a value from a key within a json string, the changed variable names (a, b, c) will prevent the subsequent calls fro

[2018-02-28 16:29] uddyami opened #529 "compile issues"
[code]

Android team changed theming from `AppCompat `  to `Compat` .. can you please look into this.

Stiper version : 5.1.1

[2018-02-28 16:35] #529 closed

[2018-03-02 21:38] #518 closed

[2018-03-02 21:42] ksun-stripe commented on #527
Hi @PGMacDesign! Thanks so much for writing in :) I approved your PR

[2018-03-02 21:42] #527 closed

[2018-03-02 21:44] ksun-stripe commented on #514
Hi @atuldhanuka1990! That's good feedback! I've added it to our internal task tracking system for prioritization!

[2018-03-02 21:44] #514 closed

[2018-03-05 22:18] #507 closed

[2018-03-05 22:18] #488 closed

[2018-03-06 08:25] khiemvu opened #531 "Not able to change text color fkr]"
i've tried to change text color in app but not work

[2018-03-07 18:58] joel-stripe commented on #531
Hi @khiemvu, I'm happy to help! Can you tell me some more about what you were trying to change the color of and how you went about it?

This can be tricky so we have released some [documentation](https://stripe.com/docs/mobile/android#changing-the-text-and-background-colors) on how to change the colors in the `CardInputWidget`.

[2018-03-08 05:59] Flash91FS opened #532 "CardMultilineWidget not supporting setting of values"
Hi,
I am using Stripe library "com.stripe:stripe-android:5.1.0"
While using its CardInputWidget and CardMultilineWidget, i found out that CardMultilineWidget does not support programatically setting of values i.e. Card number, Expiry Date and CVC, whereas the CardInputWidget has setter methods in it which support this feature.
CardInputWidget has these public methods in its class
`public void setC

[2018-03-08 11:13] romainpotier opened #533 "Amex with CVC of 3 digits"
https://github.com/stripe/stripe-android/blob/c591ba980eeb14c14e6beba637c7eac8d617f9e5/stripe/src/main/java/com/stripe/android/view/CardInputWidget.java#L123

Hi,
Some of our customers have a 3 digits CVC number in their AMEX cards, could you fix that ?
Thanks :)
Romain

[2018-03-08 17:13] gabriealfsp commented on #507
Hello,
I need a clarifications for Payment process using Google Pay using Stripe in Android. I checked this link for this task (https://stripe.com/docs/mobile/android/google-pay).

I have two keys from Stripe, Test and Production. While running my app Test key is working good.

While running my application using Production key, It shows an alert issue when "Google Pay" button is selected (Request

[2018-03-08 18:21] joel-stripe commented on #532
Hi @Flash91FS:

Thank you for your request. This seems like a useful feature to have and I like the idea of integrating with card.io this way.

We'll keep this in mind for our future planning.

[2018-03-08 18:24] #532 closed

[2018-03-08 18:32] joel-stripe commented on #531
Hi @khiemvu, are you comfortable posting the XML for the layout in the screenshot?

[2018-03-08 19:09] joel-stripe commented on #533
Hi Romain,

Thank you for bringing this to our attention! We'll prioritize it.

Joel

[2018-03-08 19:09] #533 closed

[2018-03-08 22:37] ksun-stripe commented on #507
Hi @gabriealfsp! The issues are more for bugs and feature requests in the SDK. You'll be more quickly and better helped by going to support@stripe.com.

[2018-03-09 04:41] khiemvu commented on #531
This is my layout

![layout](https://user-images.githubusercontent.com/3601075/37190849-d3d4b22c-238e-11e8-8664-0902c3085db6.png)

[2018-03-09 21:10] joel-stripe commented on #531
I think we're not really well set up to help with this here. Honestly, I think your best bet is to contact support@stripe.com and include a link to this discussion so that they have context.

[2018-03-09 21:10] #531 closed

[2018-03-10 13:09] MohamedHajr opened #534 "Payment Methods activity progress bar keeps loading and not functioning as expected"
I went throw the sample project example and pretty much replicated its payment activity and followed the same steps that it has, however, I have two issues that I can't wrap my head around and can't figure out what is wrong on my end, In the payment session listener onCommunicatingStateChanged method the boolean is set to true once I started the host activity  and the progress dialog keeps going a

[2018-03-15 06:46] murleepatle opened #536 "charge webservice samplestore trow 500 internal error."
when my android app example code of samplestore .
i setup all thing Like testproductkey   and other tghings.
i am using *myappname***.heroku.com endponit base url in app  but when i make payment after fill card entry and shipping address   dailog box showing 500 internal error .

[2018-03-17 00:03] ksun-stripe commented on #536
Hi @murleepatle! Want to make sure you get help on this -- can you email support@stripe.com? They're better equipped to help you figure out what the underlying issue is!

[2018-03-17 00:03] #536 closed

[2018-03-19 07:02] gbawa commented on #536
Hi Guys,

It seems someone added me mistakenly in this repository and I can't unsubscribe. Can you guys unsubscribe me?

[2018-03-19 11:04] robertoestivill opened #540 "Missing releases tags?"
The `README.md` refers to version `6.1.2` as the latest available version, however I don't seem to find it in the releases section of the project

https://github.com/stripe/stripe-android/releases

Are you guys planning to keep tagging releases?
Thanks

[2018-03-19 22:45] joel-stripe commented on #540
Hi @robertoestivill,

Thanks for bringing this to our attention. We are planning to continue to tag releases. In the meantime, you can find our latest release here: https://oss.sonatype.org/#nexus-search;gav~com.stripe~stripe-android

Kind regards,
Joel

[2018-03-19 22:45] #540 closed

[2018-03-20 13:28] heutschibogdan opened #541 "Delete card option on payment methods list"
This option is available on iOS. Do you plan on adding it to android also? If yes do you know when?

[2018-03-20 16:05] sacot41 commented on #474
I was able to fix problem with this :

`<style name="CardWidgetStyle" parent="@android:style/Theme.DeviceDefault">
        <item name="editTextStyle">@style/EditTextOverride</item>
        <item name="android:editTextStyle">@style/EditTextOverride</item>
        <item name="colorAccent">@android:color/white</item>
        <item name="android:textColorHint">#7D868C</item>
        <item name="colorC

[2018-03-20 22:36] joel-stripe commented on #474
Hi @sacot41,

I can certainly understand your frustration. We have released some documentation [here](https://stripe.com/docs/mobile/android#styling-the-card-widget) to help people customize the style of the `CardInputWidget`.

Joel

[2018-03-20 22:38] joel-stripe commented on #541
hi @heutschibogdan,
Thank you for pointing out this issue. We are prioritizing it with our other Android work.
Best regards,
Joel

[2018-03-20 22:38] #541 closed

[2018-03-21 12:15] heutschibogdan commented on #541
@joel-stripe Do you have any idea when this feature will get implemented? this month, in 3 months, in 1 year? I'm interested because we need this feature and depending on your plans we will keep your default ui or implement a custom ui for the cards list.
Thanks,
Bogdan

[2018-03-21 17:34] joel-stripe commented on #541
We're definitely going to prioritize this feature for an upcoming release but I don't have information on when that will be.

[2018-03-27 13:11] hi0001234d opened #542 "Payment Methods activity progress bar keeps loading and not functioning as expected No any error ...."
i set already stripe publish key and BASE_URL  but not saved my card...

public class PaymentMethodsActivity extends AppCompatActivity {

    public static final String EXTRA_SELECTED_PAYMENT = "selected_payment";
    static final String EXTRA_PROXY_DELAY = "proxy_delay";
    static final String PAYMENT_METHODS_ACTIVITY = "PaymentMethodsActivity";

    static final int REQUEST_CODE_ADD_CARD = 700;

[2018-03-28 16:56] anelder-stripe commented on #542
Hey,

This usually means that your EphemeralKeyProvider has been implemented incorrectly and the JSON that the GSON parser expects is malformed.  Unfortunately, the GSON parser likes to fail silently and not surface exactly what's going on.  If you have questions about this, you can reach out to me in the ticket we've been working on with you.  :)

Cheers,
Andrew (AKA Korben)

[2018-03-28 16:56] #542 closed

[2018-03-28 17:35] anelder-stripe commented on #534
Hey,

Thanks for writing in!

Usually this happens because the GSON parser is silently failing.  It looks like you're passing the `response.string()`.  I'd recommend trying `response.body().string()` instead.  I suspect that'll clear up this issue for you.  Sorry it took so long for this to resolve!  We usually try to respond to these in a timely manner.  If you see something like this again or if

[2018-03-28 17:35] #534 closed

[2018-03-28 18:12] anelder-stripe opened #543 "CardSelectWidget Loading Loop"
### Symptom:

Loading bar of the CardSelectWidget (spawned by either the CustomerSession or PaymentSession) just loads forever and doesn't fail or raise an error.  It will simply spin a small blue-bar at the top of the screen indefinitely.

![Infinite Loading Bar in CardSelectWidget](https://media.giphy.com/media/3bzndM2knI8rFrn70W/giphy.gif)

### Cause:

99% of the time, this is cause by a poorly

[2018-04-02 11:07] Jupneet opened #544 "Not able to compile stripe on a sdk version lower than 26"
getting the error : No resource found that matches the given name: attr 'android:keyboardNavigationCluster'.

Is there any way through which i can compile it on 25 ?

[2018-04-02 14:43] joel-stripe commented on #544
Hi Jupneet!

This is unfortunately true if you set the `compileSdkVersion` to 25 inside the SDK. Are you able to use an already compiled release of the library, for example from here: [https://github.com/stripe/stripe-android/releases](https://github.com/stripe/stripe-android/releases)?

Joel

[2018-04-05 15:05] Kandom opened #545 "android.content.res.Resources$NotFoundException ic_jcb_template_32.xml"
Crashed by call paymentSession.presentPaymentMethodSelection.

04-05 22:53:52.446 4675-4675/com.example.lengyue.strip_test E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.lengyue.strip_test, PID: 4675
    android.content.res.Resources$NotFoundException: Drawable com.example.lengyue.strip_test:drawable/ic_jcb_template_32 with resource ID #0x7f07006f
    Caused by: android.content.r

[2018-04-05 17:08] joel-stripe commented on #545
Hi Kandom,
Thank you for bringing this bug to our attention. We'll keep you posted as we work to resolve it.
-Joel

[2018-04-05 17:37] #544 closed

[2018-04-06 01:28] joeEulerity commented on #543
I'm experiencing this loop as well, but I've verified that I'm calling onKeyUpdate with only the id and not the entire server response.

Here's how I'm starting up the PaymentMethodsActivity
[code]
Interestingly, my EphemeralKeyProvider's createEphemeralKey method is being called twice in quick succession.

When I click on "Add new card", I get a fatal exception:
java.lang.NoSuchFieldError: No sta

[2018-04-06 17:10] wyx2000 opened #546 "Tested the code, any idea why CardInputWidget is so slow?"
Basically it is not usable, you cannot continue typing credit number, after each typing you need pause a little and type next number. Any idea?

[2018-04-06 21:48] joeEulerity commented on #543
OK.. please note that I should have paid more attention to JSON blob.. I was just giving the keyUpdateListener the key string itself ,and not the entire JSON of the ephemeral key.

Thanks for posting the sample applications and super simple heroku deployment. It made it much easier for me to set up an environment, step through code, and see what's actually going on :)

[2018-04-06 21:49] joel-stripe commented on #545
Fixed in #547

[2018-04-06 21:49] #545 closed

[2018-04-09 11:59] joel-stripe commented on #546
Thank you for reporting this issue! Could you tell me what phone you're seeing the issue on to help us focus our investigation?

[2018-04-11 05:35] wangshaolei opened #550 "About Card cvcCheck and zipCheck"
hi
i use android's API createToken

token.getCard:
"address_zip_check": "unchecked",
 "cvc_check": "unchecked",
"address_zip": "L4B3A8",
  "brand": "Visa",
  "country": "CA",

js codes:
[code]

android codes:
[code]

@ksun-stripe @anelder-stripe   js code is OK, but android is unchecked? thanks

[2018-04-11 18:30] fyredave opened #551 "AMEX Card Source returning null when converted to Card"
I added a Test AMEX Card Source to my Customer, when retrieving the list of sources I get an unexpected result.

1. This AMEX card's source type is equal to Source.CARD
2. However mStripePaymentSource returns false for instanceof Card

This results in mySource.asCard() returning null but mySource.getType().equals(Source.CARD) returning true.

This appears to happen because I'm adding a Card as a S

[2018-04-11 19:30] fyredave commented on #551
I'm able to work around the issue, at least for now, by doing something like this

``				if(card == null){
					Source tempSource = source.asSource();
					JSONObject json = new JSONObject(tempSource.getSourceTypeData());
					try {
						json.put("object",tempSource.getType());
						json.put("id", tempSource.getId());
						json.put("name", tempSource.getOwner().getName());
					} catch (JSONExc

[2018-04-12 16:47] Xenero commented on #546
I'm also seeing this on a Samsung Galaxy S7 Edge running android 7

[2018-04-12 18:31] Xenero commented on #551
Same issue here for me.

[2018-04-13 14:13] OleksandrGrument opened #552 "PaymentMethodsActivity Disable portrait orientation"
I have in Activity code to set orientation only portrait -

 setRequestedOrientation(ActivityInfo.SCREEN_ORIENTATION_PORTRAIT);

I start the payIntent and PaymentActivity opens. But when i click back the portrait orientation of my activity disabled.

Intent payIntent = PaymentMethodsActivity.newIntent(this);

[2018-04-16 06:15] umarhussain15 opened #553 "Add customer source, callback not invoked."
When I attach a new card source to the customer with the following code, the callback is not triggered although the card is added to customer(checked on app restart i.e. customer fetched again)
[code]
There is a log value printed when the above call is made:
`D/NativeCrypto: jniThrowException: java/net/SocketTimeoutException: Read timed out`

Is this a issue with the library or am I making some mi

[2018-04-16 10:08] chihung93 opened #554 "Stripped invalid locals information from 2 methods ?"
This is a message when running on
Android Studio 3.1.1
Build #AI-173.4697961, built on April 4, 2018
JRE: 1.8.0_152-release-1024-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

Gradle-4.4
com.android.tools.build:gradle:3.1.1

Stripped invalid locals information from 2 methods.
Message{kind=WARNING, text=Stripped invalid locals information from 2 methods., sources=[Unk

[2018-04-16 17:58] anelder-stripe commented on #550
Hey,

So that's actually the expected behavior.  Stripe Checkout actually runs a background $0/$1-authorization that does a check against the card issuer.  This checkout doesn't happen in any other tokenization method though.  To get that information out, you'd need to do one of the following things:

* Attach a token to a customer via the [Update Customer](https://stripe.com/docs/api#update_custo

[2018-04-16 17:58] #550 closed

[2018-04-17 00:53] wangshaolei commented on #550
@anelder-stripe thanks

[2018-04-17 17:25] umarhussain15 commented on #553
I was using token instead of source so although it created the card at the backend it didn't called the callback

[2018-04-17 17:25] #553 closed

[2018-04-17 21:08] joel-stripe commented on #554
Thank you for reporting this issue @chihung93. We've prioritized it and will look into it.
https://jira.corp.stripe.com/browse/ANDROID-238

[2018-04-17 21:08] #554 closed

[2018-04-17 21:13] joel-stripe commented on #552
Hi Oleksandr, you may be better helped by emailing `support@stripe.com`. Just a thought: see what happens if you put a call to `setRequestedOrientation()` in your Activity's `onResume()` method.

[2018-04-17 21:13] #552 closed

[2018-04-18 09:36] chihung93 commented on #554
Hello @joel-stripe : This site can’t be reached
ANW, How to work around this issues.
Thanks.

[2018-04-18 16:12] edenman opened #555 "Feature Request: Opt-out of UI components"
Hi team!  My app is currently using `stripe-android:1.1.0` and I'd like to upgrade, but 6.1.2 gives me hella compilation errors.  Some details:

- I don't use AppCompat or its themes.
- AGP 3.2.0-alpha11, gradle 4.6, kotlin 1.2.31, support lib 27.1.1

I just spent a half-hour trying to whack-a-mole the compile issues and I'm giving up.  Example:

``` /Users/edenman/.gradle/caches/transforms-1/file

[2018-04-18 17:44] ksun-stripe commented on #555
Hi @edenman! Thanks for the feedback! I've added it to own internal team [task tracking tool](https://jira.corp.stripe.com/browse/ANDROID-239) :)
As for the compilation errors, some things that might be helpful:
- The example and sample stores are both kept up to date with the integration.
- support@stripe.com can you help with your compilation issues

[2018-04-18 17:44] #555 closed

[2018-04-18 17:57] edenman commented on #555
Thanks @ksun-stripe!

[2018-04-19 00:32] joel-stripe commented on #554
@chihung93 if you use a release from https://github.com/stripe/stripe-android/releases
or add the line `compile 'com.stripe:stripe-android:6.1.2'` to your `build.gradle` file you should not have this issue.

[2018-04-19 00:48] carlodicelico opened #556 "Email Address and Name fields?"
Is anyone collecting email address and/or name in the same UI as you're collecting card info? If so, how are you doing it? I don't see a clear indication of how to do this via CardInputWidget _or_ CardMultilineWidget, but it seems like something that should be pretty basic and done all the time. Are people just creating a custom UI or what? Thanks.

[2018-04-20 20:04] agustinsivoplas opened #557 "[Question] CardMultilineWidget error color"
It's possible to change the inputs error color? The CardInputWidget has a property stripe:cardTextErrorColor="@color/colorAccent" , but does not works in mutiline widget.

[2018-04-25 15:01] soulaimenk opened #560 "Problem with ViewHolder when using Stripe"
When I add the Stripe lib `implementation 'com.stripe:stripe-android:6.1.2'`, my application crash when inflating RecyclerView views.

`java.lang.IllegalStateException: ViewHolder views must not be attached when created. Ensure that you are not passing 'true' to the attachToRoot parameter of LayoutInflater.inflate(..., boolean attachToRoot)`

I'M not passing 'true' to the attachToRoot parameter.
I

[2018-04-28 08:48] fxo140130 opened #562 "Token"
Why My token format is like this com.stripe.android.model.Token@1d9c91b in the log. How can i have the real token like this format tok_KPte7942xySKBKyrBu11yEpf

thanks

[2018-04-29 20:05] liraz opened #563 "Crashing on ExpiryDateEditText in LG Aristo 2 devices"
**Device:** LG Aristo 2
**Android version:** 7.1.2

**Crash log:**
`Fatal Exception: java.lang.IndexOutOfBoundsException: setSpan (6 ... 6) ends beyond length 5
       at android.text.SpannableStringBuilder.checkRange(SpannableStringBuilder.java:1320)
       at android.text.SpannableStringBuilder.setSpan(SpannableStringBuilder.java:683)
       at android.text.SpannableStringBuilder.setSpan(Spannab

[2018-04-30 08:10] OleksandrGrument opened #564 "CustomerSession without initialization"
Hi, I have your library in project and got the issue. Stripe work well almost on all devices but i've got strange bug in crashlytics that cause stripe. How can i fix it?

Here is the stacktrace
`# Date: 2018-04-27T14:48:00Z
# OS Version: 7.1.1
# Device: Z835
# RAM Free: 24.5%
# Disk Free: 20.2%

#0. Crashed: main
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2697)

[2018-05-01 13:04] carlodicelico commented on #556
@ksun-stripe Thank you!

[2018-05-02 03:16] logicmelody opened #565 "Android app can not type in CardInputWidget on Sony Xperia XZ"
We integrate Stripe Android SDK to let users type credit card information and purchase products. We use CardInputWidget to do the typing stuff.

Here is the Stripe Android SDK version we use:
`implementation 'com.stripe:stripe-android:6.1.2`

Here is how we use it in our layout:
`<com.stripe.android.view.CardInputWidget
    android:id="@+id/card_input_widget_stripe_purchase"
    android:layout_wid

[2018-05-02 04:07] TJBlack31 commented on #565
That video link does not appear to be working

[2018-05-02 14:50] KWestra opened #566 "NullpointerException in MaskedCardView with internal call to updateBrandIcon from MaskedCardAdsapter"
I have noticed that users that add credit cards to their Stripe Customer using `PaymentMethodActivity` and `AddSourceActivity` crash on a `updateBrandIcon()` call. Might be caused by an unsupported credit card brand? I was unable to reproduce this, but wanted to report it anyway.

Crash occurred with Stripe sdk version: 6.1.0

Info below pulled from the `Crashlytics` portal:

<img width="812" alt=

[2018-05-03 06:31] logicmelody commented on #565
Sorry about that. Could you copy the following link and paste to browser:
https://youtu.be/A_DK_qR46RI

Thanks!

[2018-05-03 20:09] fxo140130 opened #567 "Handle insufficient_funds"
Hi,

How do you handle insufficient_funds for Android, to ask the user to use another card? Just the front end.

[2018-05-03 20:11] #562 closed

[2018-05-04 03:37] jkscheung commented on #486
@ksun-stripe Any status update on this issue please? Card.io support would be greatly appreciated!

[2018-05-04 18:52] ksun-stripe commented on #567
Hi! You'll be best served by directing this to support@stripe.com :)

[2018-05-04 18:53] #567 closed

[2018-05-05 08:56] fxo140130 opened #571 "Display error"
Is there any way to display charge errors from back-end server attached to stripe on the android client screen?
Like this error example
Stripe: Cannot charge a customer that has no active card
Please, can you help me how to handle the error on the client side?
Thanks

[2018-05-05 20:51] kirilsokolov opened #572 "iDeal source status with connected account"
When an iDeal source is created it uses the connected account (mStripeAccount) in the RequestOptions.
But when you try go get the source status, although connected account is set, it's not used for RequestOptions resulting in exception com.stripe.android.exception.InvalidRequestException: No such source.

I've created a pull request that fixes this.
@ksun-stripe @joel-stripe  Can you please review

[2018-05-08 17:35] silentright commented on #571
Stripe this is Barry.  I don't know who you've been talking to recently on
this account but it wasn't me and no one else is authoirzed to use this
email.  I hadn't signed in in a while.  It appears that someone has hacked
this account and is u sing it for non- SIlentRight Inc. business.  I don't
know at this time but something is up.  I have a california inc. business
and these other guys/gals/bot

[2018-05-10 06:53] snandroiddev commented on #453
Problem still occurs. Version 7.0.0

Some part of code

`stripe.createToken(card, object : TokenCallback {
            override fun onSuccess(token: Token) {
                android.util.Log.d("1", " onSuccess() token " + token.id + " " + card.id + " " + card.customerId + " tCard= " + token.card.id + " " + token.type)

                CustomerSession.getInstance().addCustomerSource(context, token.

[2018-05-10 06:57] snandroiddev opened #573 "SourceRetrievalListener#onSourceRetrieved() never called while adding card of customer."
sdk version : 7.0.0

Problem still occurs (found duplicate https://github.com/stripe/stripe-android/issues/453)

[code]

[2018-05-15 07:17] 4BooM04 commented on #551
same issue i created
 val sourceParams = SourceParams.createCardParams(card)
            val token = stripe.createSourceSynchronous(sourceParams)
 customerSession.addCustomerSource(context, token.id, token.type, ...
but sources come with type "source" and not the "card" so it cant be converted to card WHY?

[2018-05-15 07:57] 4BooM04 commented on #573
the same if you trying to add token, not the source, but if you trying add a card as a source it creates this [problem](https://github.com/stripe/stripe-android/issues/551)

[2018-05-15 08:01] 4BooM04 commented on #453
the same if you trying to add token, not the source, but if you trying add a card as a source it creates this [problem](https://github.com/stripe/stripe-android/issues/551)

[2018-05-15 11:32] KWestra opened #574 "[iDeal] Leaving out optional `statement_descriptor` also hides bank as side effect."
The documentation on [iDeal sources](https://stripe.com/docs/sources/ideal) mentions that:

<img width="720" alt="screen shot 2018-05-15 at 13 27 37" src="https://user-images.githubusercontent.com/19777398/40054045-c68592e6-5843-11e8-8e2f-d2963ab360d3.png">

This says that it is optional and should fall back to the stripe account default when left out. I however experienced that a `bank` given as

[2018-05-16 18:43] ksun-stripe commented on #571
@fxo140130 this will be dependent on which implementation you're using! You'll be best served by going to support@stripe.com

[2018-05-16 18:43] #571 closed

[2018-05-16 20:03] ksun-stripe commented on #551
hi @4BooM04 @Xenero @fyredave ! sorry for the confusion. Basically, there are tokens (what we used to use to represent cards) and sources (what we use now and represent all sorts of payment methods including cards).

If you attach a token to a customer, you get a card.
If you attach a source to a customer, you get a source with type card. Give a source with a type card, you can get a SourceCardDat

[2018-05-16 20:03] #551 closed

[2018-05-16 20:05] ksun-stripe commented on #573
Ahh yes, so tokens are what Stripe used to use and Sources are the new norm. You should use createSource :) You can go to support@stripe.com where they can be more helpful too! :)

[2018-05-16 20:05] #573 closed

[2018-05-17 04:19] snandroiddev commented on #573
How it solves the problem mentioned above, we create token and attach card to customer but don't have any callback about state that card added or not

[2018-05-17 05:35] umarhussain15 opened #576 "Cancelling ThreadPoolExecutor in CustomerSession without session clearing"
How can we stop the execution in customer session request when the activity or fragment lifecycle finishes?
One way is to use `CustomerSession.getInstance().endCustomerSession();` but it will also clear the session and then we have to again initialize the session, which is an extra step.
Can there be a method like `cancelRequests()` which only perform `mInstance.mThreadPoolExecutor.shutdownNow();`

[2018-05-17 09:29] KWestra commented on #563
I have the exact same crash on a Huawei P8 Lite. Added some context from our Crashlytics page.

<img width="628" alt="screen shot 2018-05-17 at 11 25 35" src="https://user-images.githubusercontent.com/19777398/40169071-71282d80-59c5-11e8-9610-f0b7e612fd7d.png">
<img width="863" alt="screen shot 2018-05-17 at 11 25 50" src="https://user-images.githubusercontent.com/19777398/40169072-71430dbc-59c5-1