[2019-08-06 16:32] #1310 closed

[2019-08-06 17:26] mshafrir-stripe commented on #1311
@SergioDim3nsions I found what was causing your issue, and fixed it in PR #1316. This should be available in the next release. Thanks for reporting.

[2019-08-06 17:46] jackcsk commented on #1085
Thanks @mshafrir-stripe. Do you know if I can apply the same method call for Samsung Pay?

[2019-08-06 19:26] #1313 closed

[2019-08-06 19:42] #1311 closed

[2019-08-06 20:26] mshafrir-stripe commented on #1311
I just published [10.2.1](https://github.com/stripe/stripe-android/releases/tag/v10.2.1), which includes this fix

[2019-08-06 20:26] mshafrir-stripe commented on #1313
I just published [10.2.1](https://github.com/stripe/stripe-android/releases/tag/v10.2.1), which includes this fix

[2019-08-07 02:41] mshafrir-stripe commented on #1085
@jackcsk I'm not familiar with Samsung Pay

[2019-08-07 07:37] zhaoaoranke opened #1324 "zip file is empty"
Hello,
I use implementation 'com.stripe:stripe-android:10.2.1' in build.gradle
When the stripe-android SDK is integrated, there is an error in the Gradle build. When I remove it, everything is normal. How can I solve it?
Log:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:transformClassesWithDexBuilderForDebug'.
	at org.gradle.api.internal.tasks.execution.ExecuteActio

[2019-08-07 09:07] SergioDim3nsions commented on #1311
Thanks!

[2019-08-07 09:21] talhaasim96 commented on #797
@mshafrir-stripe I am experiencing the same issue with version 9.3.6 (also tried latest 10.2.1). In my case, I'm using CustomerSession.initCustomerSession() in onCreate and createEphemeralKey Api hits two times and returns me two customers. I'm not even using getInstance().

[2019-08-07 09:59] tianqin2014 opened #1325 "android sdk 6.0 CardInputWidget have default cvc value"
android 6.0 version ,the StripeEditText have default value 1212 in card_input_widget.xml ，In 8.0 version it fixed. I want to upgraded from 6.0 to 8.0,  whether the official can provide 8.0 version sdk upgrade instructions

[2019-08-07 11:38] mshafrir-stripe commented on #1324
What version of Gradle and Android Gradle Plugin are you using?

[2019-08-07 11:40] mshafrir-stripe commented on #1325
Can you clarify what you mean by default value 1212? Screenshots would help.

[2019-08-07 14:49] zhaoaoranke commented on #1324
Gradle：5.5.1
 Gradle Plugin ：3.4.2
I have found out where the problem is. I used the aspectjx plugin in the project. The Aspectix plugin uses the Transform API. When the project is built, org.bouncycastle:bcprov-jdk15on: The jar package produced by 1.61 is empty, so the build fails.
At present, I have removed the aspectjx plugin and can use stripe normally. What can you analyze?

[2019-08-07 15:19] mshafrir-stripe commented on #1324
@zhaoaoranke I'm not familiar with AspectjX or Transform API, but Bouncy Castle is required by the Stripe Android SDK. Can you send me the gradle dependency tree for your project? Can you also try explicitly adding the Bouncy Castle dependency in your project?

[code]

[2019-08-07 21:20] mshafrir-stripe commented on #797
@talhaasim96 I just tested `CustomerSession.initCustomerSession()` with our [sample store app](https://github.com/stripe/stripe-android#configuring-the-samplestore-app), and I only see `EphemeralKeyProvider#createEphemeralKey()` called once. Can you share some code so that I can repro that method getting called twice?

[2019-08-08 10:52] jackcsk commented on #1085
Thanks @mshafrir-stripe . Further question on Google Pay usage.
Our scenario is: mobile app accept Google Pay, using Stripe as payment gateway. Server receives callback from stripe when the transaction is passed.
After calling `stripe.createPaymentMethod(paymentMethodCreateParams, apiResultCallback)`, I created the confirmPaymentIntentParams by calling `ConfirmPaymentIntentParams.createWithPayment

[2019-08-08 10:53] jackcsk commented on #1085
Another approach is - can stripe provide a full Google Pay example that captures the transaction, just to ensure that I am doing it the right way?

[2019-08-08 11:09] mshafrir-stripe commented on #1085
@jackcsk if you are creating a ConfirmPaymentIntentParams object using PaymentMethodCreateParams, you don’t need to call stripe.createPaymentMethod() in advance. Simple get the token from Google Pay, create the ConfirmPaymentIntentParams object, then pass it to stripe.confirmPayment().

I like your idea of a full example app for Google Pay. This is something we can add.

[2019-08-08 17:13] jackcsk commented on #1085
thx @mshafrir-stripe : after I made the change as you suggested (using `ConfirmPAymentIntentParams`, the transaction works successfully.
Just to confirm, does both approach (i.e. `stripe.createPaymentMethod()` and `ConfirmPaymentIntentParams` require launching web browser for 3DS)?
We want to reduce the hurdles users have to go through on shopping via the app, since Google Pay usually doesn't requ

[2019-08-08 17:23] mshafrir-stripe commented on #1085
@jackcsk I'm glad to hear you worked through your issues. Payment authentication will only trigger when required, and will be handled automatically for you when it is required (you won't need to manage launching a web browser yourself).

[2019-08-09 10:55] jackcsk commented on #1183
@OlafStaf  actually you can use Samsung Pay with Stripe (though it is not officially listed on Stripe).
once you receive the paymentCredential from `PaymentManager.CustomSheetTransactionInfoListener.onSuccess` callback:
extract the stripeToken by:
[code]

and then you may confirm the payment intent via `stripe.confirmPaymentIntentSynchronous(param, pubKey)`

Hope that helps

[2019-08-11 01:31] #1325 closed

[2019-08-11 02:00] tianqin2014 commented on #1325
As shown, 1212 is the StripeEditText text value not text hint
[https://github.com/tianqin2014/test/blob/master/20190811094015.png](url)

[2019-08-11 17:26] sregg opened #1353 "Update zip code format and placeholder based on card number in CardInputWidget"
## Summary
The JS library seems to automatically switch between US Zip code (6 digits only) and postal code (free form string) based on the detected country of the credit card.
The Android SDK and iOS SDK don't see to have that behaviour.

## SDK version
10.2.1

[2019-08-12 13:55] mshafrir-stripe commented on #1324
@zhaoaoranke please reopen if you still need assistance

[2019-08-12 16:28] mshafrir-stripe commented on #1325
@tianqin2014 I'm not clear on what the issue is. Is the issue that a default CVC value is being populated?

[2019-08-13 14:22] nataliakuznetsova commented on #797
@mshafrir-stripe I am using paymentSession in 3D Secure flow. I call `presentPaymentMethodSelection` on the payment session to select a payment methods. First I init CustomerSession with context and emphemeral key provider, then I create and init payment session, and in the end call `presentPaymentMethodSelection`. As a result I see that the end point is called 3 times. Please let me know if more

[2019-08-13 15:04] mshafrir-stripe commented on #797
@nataliakuznetsova thanks for the details. To help me debug this issue, can you tell me if you are directly calling any methods on `CustomerSession`? Would you be able to share the code you're using to init `CustomerSession` and `PaymentSession`?

[2019-08-13 20:58] mshafrir-stripe commented on #1353
@sregg thanks for filing this issue. I've added it to our backlog.

[2019-08-14 10:51] mshafrir-stripe commented on #797
@nataliakuznetsova @talhaasim96 @searchy2

The reason that you're seeing superfluous ephemeral key requests:
1. Calling `CustomerSession#initSession()` makes an initial ephemeral key request by default.
2. Then when the `PaymentSession` is initialized, if an ephemeral key is not available, another request is made.

In your case, there is a race condition in which the request for the first key has

[2019-08-14 10:52] #1324 closed

[2019-08-14 22:16] #797 closed

[2019-08-16 15:47] Greelings commented on #1272
Problem fixed with the 10.3.0 update. Thanks :)

[2019-08-16 15:47] #1272 closed

[2019-08-16 20:48] abdullahayyad commented on #564
Don't call customerSession.getInstance() after CustomerSession.initCustomerSession()  directly and even though it is inside the createEphemeralKey() function

I tried to add sleep time to my code between them and the issue not happened 🤔!!

[2019-08-16 20:52] mshafrir-stripe commented on #564
@abdullahayyad what Stripe Android SDK version are you using? Can you provide sample code?

[2019-08-16 21:04] abdullahayyad commented on #564
@mshafrir-stripe the SDK version is 10.2.1

[2019-08-16 21:09] mshafrir-stripe commented on #564
@abdullahayyad this is happening because `CustomerSession#initCustomerSession()` creates an `EphemeralKeyManager`, which by default calls `createEphemeralKey()`. You should either remove your call to `CustomerSession#getInstance()` from inside your `EphemeralKeyProvider` implementation (I'm actually curious why you need to do this?), or use the version of [CustomerSession#initCustomerSession()](ht

[2019-08-19 09:36] nataliakuznetsova commented on #797
Hello @mshafrir thanks for your fix. Unfortunately, the end point is still triggered more than once in my case:
- PaymentSession.init() triggers fetchCustomer that tiggers retrieveEphemeralKey
- Then I can paymentSession.presentPaymentMethodSelection which will create  PaymentMethodsActivity that also calls to retrieveEphemeralKey in getPaymentMethods

As a result the end point is triggered twice

[2019-08-19 13:46] mshafrir-stripe commented on #797
@nataliakuznetsova are you are calling `PaymentSession#presentPaymentMethodSelection()` immediately after initializing the `PaymentSession`? If that's the case, can you initialize the `PaymentSession` before you need to present the payment methods screen?

For example, initialize the `PaymentSession` when the checkout Activity is created, then only call `presentPaymentMethodSelection()` when the u

[2019-08-19 14:52] javichaques opened #1392 "Get / Set default payment method"
Hi,

I have seen that payment methods can be retrieved, but cannot get / set the default payment method. Does this functionality in the SDK?

Thanks

[2019-08-19 14:56] nataliakuznetsova commented on #797
@mshafrir yes, this is how it is done in the check out flow. But besides the check out flow, the app lets user to manage the card via PaymentMethodActivity outside of payment. And in this flow I wouldn't want to initialize the Payment session too early

I am trying now to call presentPaymentMethodSelection when the callback onPaymentSessionDataChanged is invoked

[2019-08-19 15:16] mshafrir-stripe commented on #1392
A customer can have a default source, but has been deprecated for Payment Methods. You can manage the concept of a default payment method on your backend.

[2019-08-19 15:26] XandrMaster opened #1393 "PaymentMethod.id entity with `pm_` prefix instead of `card_`"
## Summary
PaymentMethod.id entity with `pm_` prefix

## Code to reproduce
https://stripe.com/docs/mobile/android/customer-information#let-your-user-select-their-payment-method

## Installation method
by the gradle library

## SDK version
'9.3.6'

## Other information
Hello ! Could you help us please with PaymentMethod entity ?
We use this approach for edit and choose the bank cards : https://stri

[2019-08-19 15:32] mshafrir-stripe commented on #1393
@XandrMaster it is expected that Payment Method API objects will have an id starting with `pm_`. Before 9.1.0, our UI components used Sources, but we have upgraded them to the new Payment Methods. When did this change in behavior start? Did you upgrade any of your Stripe bindings?

[2019-08-19 15:34] mshafrir-stripe commented on #797
@nataliakuznetsova that makes sense. I put up #1394 to let you customize the prefetch behavior.

[2019-08-19 15:47] nataliakuznetsova commented on #1272
hello @Greelings! Do you still the issue with the other things that you mentioned? Like the progress bar color and status bar color? I am still seeing these issue even with 10.3.0 version

[2019-08-19 15:51] nataliakuznetsova commented on #797
@mshafrir-stripe thanks!

[2019-08-19 16:10] XandrMaster commented on #1393
@mshafrir-stripe Yes , we have updated to version '9.3.6' . So what could you suggest without changes our back-end and just get token with `card_` prefix ?
Thnx.

[2019-08-19 16:20] mshafrir-stripe commented on #1393
@XandrMaster I would recommend upgrading to our [Payment Intents API](https://stripe.com/docs/payments/payment-intents/android), which support Payment Methods API, or downgrading to a pre-9.1.0 version.

[2019-08-19 16:22] mshafrir-stripe commented on #1272
@nataliakuznetsova we've been able to reproduce the issue you described, and will be coming up with a fix. I'll notify you when we have something available.

[2019-08-19 16:23] XandrMaster commented on #1393
Ok @mshafrir-stripe we will roll back to v'9.0.1' for a quick solution .
Thank you for quick response .

[2019-08-19 16:23] #1393 closed

[2019-08-19 16:33] mshafrir-stripe commented on #1392
Please reopen if you need any further assistance on this issue.

[2019-08-19 16:33] #1392 closed

[2019-08-19 19:02] Greelings commented on #1272
@nataliakuznetsova

The 10.3.0 update fixed:
- The 3d secure 2 test screen title "Secure Checkout" (on the toolbar) is gone. So is the cancel button. The toolbar is empty of text, although I can click the button.
- The status bar of the 3d secure 2 test screen should be using the colorPrimaryDark color. it is currently using a dark version of the colorPrimary color.

But NOT these:
- The status ba

[2019-08-20 08:58] XandrMaster commented on #1393
Hello @mshafrir-stripe  ! So now we are using `9.0.1` and now we get this kind of answer :

[2019-08-20 10:38] mshafrir-stripe commented on #1393
@XandrMaster can you clarify what you’re trying to do and why you specifically need a card object?

[2019-08-20 11:25] XandrMaster commented on #1393
@mshafrir-stripe We are trying to get token with `card_` prefix , because it's back-end requirement third party organisation .

[2019-08-20 11:31] XandrMaster commented on #1393
@mshafrir-stripe Also library for iOs gets `card_` prefix always , but for Android is not .

[2019-08-20 11:34] mshafrir-stripe commented on #1393
@XandrMaster what version of the iOS SDK are you using?

[2019-08-20 12:05] XandrMaster commented on #1393
@mshafrir-stripe Stripe SDK 15.0.1 for iOs

[2019-08-20 12:58] nataliakuznetsova commented on #1272
@mshafrir-stripe thanks! Also please not that drop downs on the test page ("Learn more about authentication" and "Need help") have purple color.

[2019-08-21 08:54] XandrMaster commented on #1393
Hello @mshafrir-stripe ! Don't worry , we investigated that `src_` prefix it's ok for our third party backend .
Thanks for help.

[2019-08-21 12:59] Huulivoide commented on #1265
It seems that the documentation has not yet been updated to reflect this. Also if one follows the docs at https://stripe.com/docs/payments/cards/saving-cards create an instance of Stripe at step 2 and then apply the ui customization at step 3.

[2019-08-22 12:14] guidolodetti opened #1411 "AddPaymentMethodActivityStarter is package-private"
Hello,

I am trying to migrate from `AddSourceActivity` to `AddPaymentMethodActivityStarter`, but unfortunately the constructor is package-private and the compiler does not allow me to use the activity. I am only allowed to use the `PaymentMethodsActivityStarter` but it is not what I am looking for (I just need the default "add payment method" activity).

What can I do? Thanks!

[2019-08-22 13:47] mshafrir-stripe commented on #1411
@guidolodetti thanks for flagging this. I'll fix this for the upcoming release.

[2019-08-22 13:50] guidolodetti commented on #1411
Thank you! In the meantime I have found that rolling back to version `10.2` allows me to use the normal `AddPaymentMethodActivity` class! :)

[2019-08-22 14:12] Flo354 opened #1413 "3DS2 - Keyboard doesn't hide with OTP"
## Summary
When using the card *4000 0000 0000 3238* for One Time Passcode 3DS2, when we don't hide the keyboard before clicking on confirm, the keyboard is not hidden when returning to the calling activity.

## Android version
9.0

## Impacted devices
Tested on a Samsung Galaxy S8 (SM-G950F)

## Installation method
Gradle

## SDK version
10.3.0

[2019-08-22 14:27] #1411 closed

[2019-08-22 20:41] mshafrir-stripe commented on #1411
@guidolodetti this is now available in [10.3.1](https://github.com/stripe/stripe-android/releases/tag/v10.3.1)

[2019-08-22 20:42] mshafrir-stripe commented on #1272
@Greelings @nataliakuznetsova this is now available in [10.3.1](https://github.com/stripe/stripe-android/releases/tag/v10.3.1)

[2019-08-22 20:43] mshafrir-stripe commented on #797
@nataliakuznetsova this is now available in [10.3.1](https://github.com/stripe/stripe-android/releases/tag/v10.3.1)

[2019-08-26 09:52] shubhamssinghal commented on #74
In android
Is there any solution for 4 digits cvv card validation as it is throwing error ?

[2019-08-26 09:52] shubhamssinghal opened #1423 "Stripe card validation for 4 digits cvv"
I am integrating stripe for payment but my custom card validation is getting error for 4 digits cvv
Is there any solution for it ?

[2019-08-26 16:02] jeanfw commented on #1270
Hi @mshafrir-stripe, could you advise on an ETA on a fix for this please?

Also, is there somewhere a list of known feature gaps between iOS and Android SDKs such as this one?

Thanks a lot!

[2019-08-27 00:26] MattL-NZ commented on #795
Hey Stripe team, any ideas on when we might see this or an early preview?

[2019-08-27 11:11] InvalidExcepti0n opened #1424 "Dependency isuse with Roboelectric 4.3"
## Summary

There is issue with dependencies with latest Roboelectric and Stripe SDK
As `com.stripe:stripe-3ds2-android` is using old `org.ow2.asm:asm:5.0.4` and Roboelectric is using `org.ow2.asm:asm:7.0`

`Cannot find a version of 'org.ow2.asm:asm' that satisfies the version constraints:
   Dependency path 'fusion:app:unspecified' --> 'org.robolectric:robolectric:4.3' --> 'org.robolectric:sandbo

[2019-08-27 12:14] sanoopv3 opened #1425 "CardInputWidget default number is 42424242.. .how to change this"
Hi , how to change default card number in CardInputWidget Currently it is showing 424242424242..

[2019-08-28 06:06] #1425 closed

[2019-08-28 06:07] sanoopv3 commented on #1425
Thanks a lot

[2019-08-28 12:29] renaudboulard opened #1430 "Canceled 3DS2 payment `Status.Canceled` not returned"
## Summary
- When `authenticatePayment` is called a 3DS2 flow is triggered, example:
<img src="https://user-images.githubusercontent.com/1876653/63854230-ff7d6580-c99c-11e9-9437-05ad92ccdb53.png" width=300/>

- Click on `Cancel`

- As mention in the [documentation](https://stripe.com/docs/payments/payment-intents/android#confirm-payment-intent) we received the response in `onActivityResult(request

[2019-08-28 14:04] Flo354 commented on #532
Hi there,

Any news on this (cc @remi-stripe)? There is the method setCardNumber but no method setExpiryDate nor setCvcCode.

Thanks,

[2019-08-28 16:00] Flo354 opened #1432 "3DS2 - Bug with dark mode"
## Summary
When using the test cards for 3DS2, there is a bug when the phone has the dark mode enabled. The button "submit" is dark grey and the text "submit" is black. We don't see it.

## Android version
9.0

## Impacted devices
Tested on a Samsung Galaxy S8 (SM-G950F)
![IMG_0005](https://user-images.githubusercontent.com/4249311/63872160-9eb25500-c9bd-11e9-951d-156ed209280a.JPEG)

![IMG_0004](h

[2019-08-28 18:35] Flo354 commented on #1432
Hi @jemerick-stripe,

I am not using `Stripe3ds2UiCustomization`. I am using the minimal code:
[code]

[2019-08-28 23:07] fbartho opened #1445 "[Parity Request] PaymentIntent.getPaymentMethodId does not exist"
## Summary

I'm using Stripe via [tipsi-stripe](GitHub.com/tispi/tipsi-stripe) (React-Native, beta versions wrapping stripe-android & I'm contributing to getting tipsi-stripe SCA ready).

My backend team would love to use the confirm PaymentIntents flow just like we use confirm SetupIntents -- which is to say, the client collects the CreditCard with custom UI, then we create an Intent on the backe

[2019-08-29 14:32] mshafrir-stripe commented on #1445
@fbartho thanks for filing this. I've put up a fix.

[2019-08-29 14:38] mshafrir-stripe commented on #1424
@InvalidExcepti0n according to [this comment](https://bitbucket.org/connect2id/nimbus-jose-jwt/issues/239/switch-to-other-json-library#comment-53099123), it seems like we can exclude `asm` from `com.stripe:stripe-3ds2-android`.

[2019-08-29 14:40] codifilo opened #1447 "bcprov-jdk15on-1.61.jar Compilation Conflict"
## Summary

My project compiles perfectly but when I add this to my build.gradle `implementation 'com.stripe:stripe-android:10.3.1'` then I get the following compilation error.

error processing /Users/codifilo/.gradle/caches/modules-2/files-2.1/org.bouncycastle/bcprov-jdk15on/1.61/df4b474e71be02c1349c3292d98886f888d1f7/bcprov-jdk15on-1.61.jar
java.lang.RuntimeException
	at org.objectweb.asm.Class

[2019-08-29 14:54] #1445 closed

[2019-08-29 14:56] mshafrir-stripe commented on #1447
@codifilo a few questions:

1. What version of `stripe-android` are you upgrading from?
2. What version of the Android Gradle Plugin are you using? (e.g. `classpath 'com.android.tools.build:gradle:3.5.0' in `build.gradle`)
3. What version of Gradle are you using? (e.g. `distributionUrl=https\://services.gradle.org/distributions/gradle-5.5.1-all.zip` in `gradle-wrapper.properties`)
4. Do you have a

[2019-08-29 14:59] mshafrir-stripe commented on #1413
@Flo354 this will be available in the next release

[2019-08-29 14:59] #1413 closed

[2019-08-29 15:00] codifilo commented on #1447
1. It's the first time I integrate `stripte-android` so I'm not upgrading from a previous version.
2. `classpath 'com.android.tools.build:gradle:3.2.1'`
3. `distributionUrl=https\://services.gradle.org/distributions/gradle-5.4.1-all.zip`
4. No, I don't.

[2019-08-29 15:02] mshafrir-stripe commented on #1447
The SDK [requires](https://github.com/stripe/stripe-android#requirements) Android Gradle Plugin 3.4.1. Can you try updating to the latest version, 3.5.0?

[2019-08-29 15:59] #1424 closed

[2019-08-29 16:02] jemerick-stripe commented on #1432
It is not mandatory to use `Stripe3ds2UiCustomization`. Just trying to track down where it might be pulling those colors from.  Without providing `Stripe3ds2UiCustomization`, it should use the default Stripe 3DS2 theme which should handle dark mode.

Are you using either the support design library `com.android.support:design` or androidx and materials components in your app?

[2019-08-29 16:10] Flo354 commented on #1432
Oh okay I see.

I am using androidx and material components. Hope it helps.

Le jeu. 29 août 2019 à 18:02, jemerick-stripe <notifications@github.com> a
écrit :

[2019-08-29 19:56] mshafrir-stripe commented on #1424
@InvalidExcepti0n can you upgrade to 10.4.0 and confirm if this is now resolved without needing the workaround?

[2019-08-30 01:00] mshafrir-stripe commented on #1447
@codifilo please reopen if the above suggestion doesn't fix the issue

[2019-08-30 01:01] mshafrir-stripe commented on #1423
@shubhamssinghal please reopen if you still need assistance

[2019-08-30 01:01] #1423 closed

[2019-08-30 08:36] codifilo commented on #1447
@mshafrir-stripe Your suggestion worked. Thank you!

[2019-08-30 08:36] #1447 closed

[2019-08-30 10:33] mshafrir-stripe commented on #1044
@nirpatel15 if you upgrade to stripe-android 10.4.0, you may be able to remove the `resolutionStrategy` for `org.ow2.asm:asm`. Can you confirm?

[2019-08-30 10:34] mshafrir-stripe commented on #1141
@romainpiel @tmtrademarked if you upgrade to stripe-android 10.4.0, you may be able to remove the `resolutionStrategy` for `org.ow2.asm:asm`. Can you confirm?

[2019-08-30 13:05] romainpiel commented on #1141
The resolution strategy is on bouncy castle, not asm 🤔

[2019-08-30 13:56] mshafrir-stripe commented on #1141
@romainpiel thanks for checking

[2019-08-30 15:26] mshafrir-stripe commented on #1270
@jeanfw are you looking for a way to delete a card in the UI (i.e. PaymentMethodsActivity), or via the API bindings?

[2019-08-30 16:12] tmtrademarked commented on #1141
To confirm, I also still see an R8 issue using Firebase Performance Plugin 1.3.1, Firebase Performance 19.0.0, and Stripe 10.4.1. Looks like it's still having trouble with bouncy-castle unless I forcibly downgrade that one.

[code]

[2019-08-30 20:47] mindlapse opened #1460 "Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter returnUrl"
## Summary
A null returnURL when calling confirmPayment(..) resulted in the following error in the logcat.  The application crashed.

[code]

## Code to reproduce

## Android version
Observed on 24, other versions not attempted

## Impacted devices

## Installation method

## SDK version
10.4.0 - the issue is not observed on 10.2.1

## Other information

[2019-08-30 20:48] chander-stripe commented on #1460
Out of curiosity, is your app in Java or Kotlin?

[2019-08-30 21:04] mshafrir-stripe commented on #1460
@mindlapse thanks for filing, fixed in #1461 and will publish a new version

[2019-08-30 21:20] #1460 closed

[2019-08-31 05:00] jeanfw commented on #1270
@mshafrir-stripe In the UI. Depending on whether this (or other feature gaps) limit us from achieving parity between iOS and Android, we might just rebuild custom screens though. What would you recommend? Thanks for your help!

[2019-08-31 10:02] androidget opened #1464 "compile is error"
The following dependencies are project dependencies that are direct or have transitive dependencies that lead to the art
ifact with the issue.
-- Project 'app' depends onto com.nimbusds:nimbus-jose-jwt@7.8
-- Project 'app' depends onto net.minidev:json-smart@2.3
-- Project 'app' depends onto com.stripe:stripe-3ds2-android@1.2.2
-- Project 'app' depends onto com.stripe:stripe-android@10.4.1

For ex

[2019-08-31 11:26] mshafrir-stripe commented on #1464
Please see my response here to see if this fixes your issue: https://github.com/stripe/stripe-android/issues/1447#issuecomment-526223977

[2019-09-02 09:07] haoxiao0107 opened #1465 "or-ccseh-05"
使用测试卡，报 【交易遭拒：付款方式无效。OR-CCSEH-05】

[2019-09-03 09:04] ffdez opened #1466 "Build Fails after update to 10.4.2: UnsupportedOperationException: This feature requires ASM6"
## Summary
Project compiles OK and currently published in production working with stripe-android version 8.7.0.

Trying to update to 10.4.2 and after refactor same code for new changes, when I try to build and execute gradle shows the next error message:

**Caused by: java.lang.UnsupportedOperationException: This feature requires ASM6**

	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(N

[2019-09-03 10:50] mshafrir-stripe commented on #1466
What version of Android Gradle Plugin and Gradle are you using?

[2019-09-03 13:36] ffdez commented on #1466
Android Gradle Plugin is 3.2.1 and Gradle version is 5.1.1

[2019-09-03 13:40] mshafrir-stripe commented on #1466
@ffdez please refer to our [requirements](https://github.com/stripe/stripe-android#requirements). I recommend upgrading to the latest version of Android Gradle Plugin and then verifying if you're still seeing the issue.

[2019-09-03 14:06] Flo354 commented on #1432
Hi there,

Any news about that?

Thanks,

[2019-09-03 15:09] mshafrir-stripe commented on #1465
@haoxiao0107 if you have any issue you'd like to report, can you please provide details about what issue you're experiencing, how to reproduce the issue, what version of the SDK you're using, etc. Please reopen when you have provided more details.

[2019-09-03 15:09] #1465 closed

[2019-09-03 15:09] mshafrir-stripe commented on #1466
@ffdez please reopen if you are still experiencing this issue

[2019-09-03 15:09] #1466 closed

[2019-09-03 15:10] #1464 closed

[2019-09-03 15:20] mshafrir-stripe commented on #1432
@Flo354 I tried to reproduce your issue. I created a new app using AndroidX and
[code]

I created an AVD based on Android 9, and enabled dark mode using the instructions listed in https://9to5google.com/2018/12/17/android-dark-mode-theme-pie/.

I'm not applying any customizations. The following is what I'm seeing:

![Screenshot_1567523928](https://user-images.githubusercontent.com/45020849/6418632

[2019-09-03 16:09] Flo354 commented on #1432
Oh, I found the bug.

It is with the version I am using:
`implementation 'com.google.android.material:material:1.1.0-alpha09'`

With this version the "submit" text is black. But with version `1.0.0`, the "submit" text is white.

So, is it a bug with Stripe which handle badly this new version or is it a bug in the material library?

[2019-09-03 16:16] Flo354 opened #1468 "3DS2 - Can click submit without completing the challenge"
## Summary
When using the test cards for 3DS2, some Activity is shown to the user where it can complete a challenge (insert a code, select option "Complete authentication", and so on).

I just see that it is possible to clic the "submit" button without having the challenge complete.
For instance neither clic on "Complete authentication" or "Fail authentication", just on submit.

Obviously, the 3DS

[2019-09-03 16:25] mshafrir-stripe commented on #1432
@Flo354 thanks. For now, I recommend explicitly setting the color value or reverting to 1.0.0. Is there a reason why you aren't configuring the color?

[2019-09-03 16:44] Flo354 commented on #1432
Yeah, first time I forgot :p.
Second time, I found no use in this. Now that I have an use. I just don't understand how it works...

Does nothing
[code]

Does nothing
[code]

Does nothing
[code]

The UI is always the same (dark mode or not). the colors don't change. So I miss something but don't know what.

[2019-09-03 16:51] mshafrir-stripe commented on #1432
@Flo354 sorry for the confusion - `PaymentAuthConfig.init()` must be called before your Stripe object is initialized. I'll try to make this clearer.

[2019-09-03 16:53] Flo354 commented on #1432
Oh okay, thanks.

So you have to fix this doc also: https://stripe.com/docs/payments/payment-intents/android#confirm-payment-intent
That's from where I took the code. And it's after initialization.

[2019-09-03 16:58] Flo354 commented on #1432
Since my accent color is #EF4B4B (orange/red), now, even if the "submit" text is written in black, it is better since the button takes the accent color.

So, I'll let you choose if you prefer close it or leave it open until the issue is fixed.

Thanks for your help,

[2019-09-03 18:03] mshafrir-stripe commented on #1468
@Flo354 this is expected behavior. The 3DS2 spec doesn't require a user input for submission.

[2019-09-03 18:03] #1468 closed

[2019-09-04 08:44] robertoestivill opened #1469 "Replacement for CardUtils.getPossibleCardType"
## Summary

[This pr](https://github.com/stripe/stripe-android/pull/1443) converted `CardUtils` to a Kotlin internal class, effectively hiding the methods from consumer modules.
We were using `getPossibleCardType` from our source code to detect the `CardBrand`.

This is no longer possible and blocking us from updating to the latest version of the SDK.

Is there any workaround provided by the SDK ?

[2019-09-04 09:04] Flo354 commented on #1468
Thanks for your answer.
Weird spec, but ok

[2019-09-04 12:29] hamzabintariq123 opened #1470 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/stripe/android/stripe3ds2/service/StripeThreeDs2ServiceImpl;"
**For 3D Secure 2.**

when i update the library to

"com.stripe:stripe-android:10.4.2@aar"

i am getting this error

**java.lang.NoClassDefFoundError: Failed resolution of: Lcom/stripe/android/stripe3ds2/service/StripeThreeDs2ServiceImpl;**

when i initialise stripe using this : **Stripe = Stripe(app,KR.strings.stripe_key)**  the application crashes .

Where is this class StripeThreeDs2ServiceImpl

[2019-09-04 13:16] mshafrir-stripe commented on #1469
@robertoestivill thanks for filing. I'll have this fixed and issue a new release today.

[2019-09-04 13:16] mshafrir-stripe commented on #1470
@hamzabintariq123 thanks for filing. I'll have this fixed and issue a new release today.

[2019-09-04 13:18] robertoestivill commented on #1469
That's great to hear. Thanks @mshafrir :)

[2019-09-04 13:38] hamzabintariq123 commented on #1470
@mshafrir  Great 👍 Thanks for replying . looking forward for a quick new release as we are a little short on time and we have to make changes for 3DS2 .

[2019-09-04 13:39] hamzabintariq123 commented on #1470
@mshafrir and do we have a downgraded version which has 3DS2 support without this issue ?

[2019-09-04 14:48] mshafrir-stripe commented on #1470
@hamzabintariq123 can you show me how you list the SDK as a dependency in Gradle?

It should look something like this:

[code]

I noticed you are referencing the aar directly. Can you try removing that?

[2019-09-04 14:48] #1469 closed

[2019-09-04 14:48] mshafrir-stripe commented on #1470
Can you also share what versions of Android Gradle Plugin and Gradle you're using?

[2019-09-04 18:40] mshafrir-stripe commented on #1470
@hamzabintariq123 also, what version did you upgrade from?

[2019-09-05 06:10] hamzabintariq123 commented on #1470
1) i have a separate dependencies file which i use in gradle .
the dependency : ` const val libStripe = "com.stripe:stripe-android:10.4.2@aar"` .
which i use like this :  `implementation Deps.misc.libStripe` .

[2019-09-05 06:11] hamzabintariq123 commented on #1470
<img width="680" alt="Screenshot 2019-09-05 at 11 10 52 AM" src="https://user-images.githubusercontent.com/20186721/64316302-da58aa80-cfcd-11e9-9061-daa7076ddece.png">

[2019-09-05 06:12] hamzabintariq123 commented on #1470
@mshafrir-stripe  i updated from `"com.stripe:stripe-android:6.1.1@aar"`

[2019-09-05 11:28] mshafrir-stripe commented on #1470
Please refer to our installation instructions: https://github.com/stripe/stripe-android/blob/master/README.md#installation

Your Gradle version is out of date. Also the way you are specifying the dependency is wrong. Please remove the `@aar` part.

[2019-09-05 18:37] #1280 closed

[2019-09-06 06:16] hamzabintariq123 commented on #1470
@msaffitz-stripe do you have any version which is compatible with gradle 4.6 and have 3DS2 support . ?  i am unable to update project to 5.1 as alot of libs that i use are crashing with 5.1 unfortunately :(

[2019-09-06 10:07] mshafrir-stripe commented on #1470
Have you tried just removing the @aar part of the dependency definition?

[2019-09-06 12:58] hamzabintariq123 commented on #1470
Yes tried that but no luck .

[2019-09-06 13:23] mshafrir-stripe commented on #1470
@hamzabintariq123 is it the same error without `@aar`, or a different error?

[2019-09-06 13:41] hamzabintariq123 commented on #1470
`In project 'app-guest' a resolved Google Play services library dependency depends on another at an exact version (e.g. "
[1.3.1,2.3]", but isn't being resolved to that version. Behavior exhibited by the library will be unknown.

Dependency failing: com.nimbusds:nimbus-jose-jwt:7.2.1 -> net.minidev:json-smart@[1.3.1,2.3], but json-smart version was
 2.3.

The following dependencies are project dep

[2019-09-06 13:42] hamzabintariq123 commented on #1470
a different one @mshafrir-stripe

[2019-09-06 13:43] hamzabintariq123 commented on #1470
tried to integrate an old one `9.3.6`  but still the same error . this is the same error i get when i use `10.4.3` also

[2019-09-06 13:45] mshafrir-stripe commented on #1470
@hamzabintariq123 can you share the full list of dependencies you're using? Are you using `net.minidev:json-smart` elsewhere?

[2019-09-06 14:06] hamzabintariq123 commented on #1470
no i dont think i am using it anywhere .

[2019-09-06 14:08] hamzabintariq123 commented on #1470
its too big of a file @mshafrir-stripe . actually we create a different file for dependencies and use that in projects where we need .
@mshafrir-stripe

[2019-09-06 14:11] mshafrir-stripe commented on #1470
You could also try this:

[code]

[2019-09-06 14:12] hamzabintariq123 commented on #1470
in top level build.gradle right ?

[2019-09-06 14:22] hamzabintariq123 commented on #1470
No luck  @mshafrir-stripe  . it is an internal dependency for `com.nimbusds:nimbus-jose-jwt:7.8`

but i am not using this any where in my project.  Are you guys using it ?

[2019-09-06 14:32] mshafrir-stripe commented on #1470
@hamzabintariq123 yes, it's required for 3DS2. At this point I highly recommend upgrading to the recommended version of Gradle, since the version you're using is unsupported.

[2019-09-06 14:36] hamzabintariq123 commented on #1470
when i upgrade to gradle 5.1.1 i get this error

`Unable to find method 'org.gradle.api.tasks.compile.CompileOptions.setBootClasspath(Ljava/lang/String;)V'.
Possible causes for this unexpected error include:
Gradle's dependency cache may be corrupt (this sometimes occurs after a network connection timeout.)
Re-download dependencies and sync project (requires network)

The state of a Gradle build p

[2019-09-06 14:38] mshafrir-stripe commented on #1470
@hamzabintariq123 I'm not familiar with that error. Perhaps you can Google for similar instances of that error and see what the resolution was.

Please reopen this ticket if, once you've upgraded Gradle, you're still having issues.

[2019-09-06 14:38] #1470 closed

[2019-09-06 14:42] hamzabintariq123 commented on #1470
@mshafrir-stripe Thanks anyway for your time . i,ll look what i can do with this 👍

[2019-09-07 07:18] PStrelchenkoHH opened #1491 "AndroidX support release"
Hello!

I've seen you have been [merged AndroidX support branch](https://github.com/stripe/stripe-android/issues/1280) into master, it's really great!
Can you say, when you will create maven artifact with it?

Thanks!

[2019-09-07 10:29] mshafrir-stripe commented on #1491
Thanks for reaching out. We plan on releasing v11.0.0 early next week, which will include the AndroidX migration.

[2019-09-07 10:29] #1491 closed

[2019-09-07 22:27] wbeuil opened #1492 "Connect Account Token"
## Summary
Hello guys, I need help to create connect account token with the last android-SDK.

I'm using react-native and native module in java to create the connect account.

For now I have the code below. I don't know how to create the AccountParams and how I can retrieve the value with createAccountTokenSynchronous compared to asynchronous createToken for card token.

Thanks in advance.

## Cod

[2019-09-07 23:45] mshafrir-stripe commented on #1492
@wbeuil your code looks correct. What exactly are you trying to do and what's not working? Is it just that you want to run the account tokenization call asynchronously?

The one thing I noticed is that you're passing `false` for the `tosShownAndAccepted` parameter, and this is required to be true. See https://stripe.com/docs/api/tokens/create_account#create_account_token-account-tos_shown_and_acce

[2019-09-08 00:01] wbeuil commented on #1492
@mshafrir-stripe first thank you for your quick answer. Yes I'd like to do the account tokenization call asynchronously. But I want to put the dateOfBirth variable as well in my individual object. I don't know how to do it in java.

I didn't see the tosShownAndAccepted parameter, thanks for notifying me.

That's what I does for the bankAccount token:

[code]

[2019-09-08 00:54] mshafrir-stripe commented on #1492
@wbeuil are you asking how to run code on a background thread in Android? Take a look at https://developer.android.com/guide/components/processes-and-threads.html. You can use an `AsyncTask`.

[2019-09-08 01:00] wbeuil commented on #1492
@mshafrir-stripe Thanks for sending me that.

What about the dateOfBirth variable ? How can I add it to my tokenized object?

[2019-09-08 01:54] mshafrir-stripe commented on #1492
https://stripe.com/docs/api/tokens/create_account#create_account_token-account-individual-dob

[2019-09-08 13:39] wbeuil commented on #1492
@msaffitz-stripe Thanks for the link !

[2019-09-09 10:17] StudioBookings opened #1493 "NullPointerException while starting PaymentMethodsActivity"
After initializing the customer session successfully, I am retrieving the current customer and on `onCustomerRetrieved`I have written the following code

`final Intent payIntent = PaymentMethodsActivity.newIntent(MainActivity.this);
startActivityForResult(payIntent, REQUEST_CODE_SELECT_SOURCE);`

but it crashes with the following error

`java.lang.RuntimeException: Unable to start activity Compone

[2019-09-09 11:54] mshafrir-stripe commented on #1493
What version are you using?

[2019-09-09 12:22] #1493 closed

[2019-09-09 12:23] StudioBookings commented on #1493
`new PaymentMethodsActivityStarter(MainActivity.this).startForResult();`

Solved the issue

[2019-09-09 12:47] puzanov commented on #1270
Same problem. Want to delete the card from UI. Please advise when you can add this feature @msaffitz-stripe

[2019-09-09 12:56] kasymov commented on #1270
Hi! Oh yeah, when this feature will be ?

[2019-09-09 12:59] mkylychev commented on #1270
Waiting this feature! Can you say, when you planing to realize it?

[2019-09-09 13:02] belek commented on #1270
Please provide this feauture as soon as possible.
Our customers are struggling and feel deprived =(

[2019-09-09 13:03] tamaramun23 commented on #1270
@mshafrir-stripe need the functionality to delete card from UI for my android app. Could you please implement it asap?

[2019-09-09 13:09] Lezh1k commented on #1270
Hello there. Waiting for this feature too :)

[2019-09-09 13:16] w4keupneo commented on #1270
me2, fed up with this

[2019-09-09 13:27] mshafrir-stripe commented on #1492
@wbeuil sounds like you figured it out! 🎉

[2019-09-09 13:27] #1492 closed

[2019-09-09 13:54] GreenDeveloperMukesh opened #1496 "why dont you have code in Native Android than Kotlin"
## Installation method
i am not able to use PaymentIntent because all the code is in Kotlin not in native android for stripe Android

[2019-09-09 14:00] mshafrir-stripe commented on #1496
@GreenDeveloperMukesh can you provide more details as to what issues you're running into? Can you share sample code? What version of stripe-android are you using?

[2019-09-09 14:14] wbeuil commented on #1492
@mshafrir-stripe I got a new problem now. It's the same problem I have in iOS. I got an invalid hash Error when I call the function with all my parameters.

I can't figure out what I'm doing wrong...

[code]

[2019-09-09 14:15] mshafrir-stripe commented on #795
I recommend taking a look at [jonasbark/flutter_stripe_payment](https://github.com/jonasbark/flutter_stripe_payment) as a Flutter Stripe SDK. Note that at this point it only supports a credit card form UI + ability to create a credit card payment method.

[2019-09-09 14:23] mshafrir-stripe commented on #1492
@wbeuil can you share the error?

I think it's likely that you're directly putting the `Address` object in the `Map`.

Instead of
[code]

do
[code]

[2019-09-09 14:53] nataliakuznetsova opened #1498 "UnsupportedOperationException: This isn't a hierarchical URI."
## Summary

This error is reported via Fabric for some of our users:

 Crashlytics - plaintext stacktrace downloaded at Mon, 09 Sep 2019 14:45:21 GMT
 Platform: android
 Date: 2019-09-08T19:01:00Z
 OS Version: 9
 Device: SM-G950F
 RAM Free: 27.8%
 Disk Free: 47.5%

[code]

## Code to reproduce

## Android version

Android 8 and 9
## Impacted devices

Samsung S8, Samsung S10
## Installation method

[2019-09-09 14:59] mshafrir-stripe commented on #1498
@nataliakuznetsova this was fixed in [10.4.0](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1040---2019-08-29)

[2019-09-09 15:01] #1498 closed

[2019-09-09 16:20] mshafrir-stripe commented on #1270
Thanks for all the feedback. This is clearly functionality that is in high demand and we will be prioritizing it accordingly. We plan to ship this in the short-term, and I'll share a concrete date when I have one.

[2019-09-09 16:22] wbeuil commented on #1492
@mshafrir Thanks it works !!

[2019-09-09 18:02] MattL-NZ commented on #795
@mshafrir-stripe thanks. I've had a good look through that package and it doesn't seem to be everything I'm after. One quick question; If I was to write an API where the app parsed the credit card number to this API, is that still allowed? We would ensure that the number is not saved anywhere. Something along the lines of this: https://medium.com/devmins/stripe-implementation-payment-gateway-integ

[2019-09-09 18:05] mshafrir-stripe commented on #795
@MattL-NZ can you elaborate on what you mean by "where the app parsed the credit card number to this API"? I'm not clear on what you meant by "parsing".

If you're asking whether you can call the [Stripe API tokenization API](https://stripe.com/docs/api/tokens/create_card) directly, then the answer is yes. You don't need to use one of Stripe's official libraries.

[2019-09-09 18:10] MattL-NZ commented on #795
@mshafrir-stripe so basically I would build my own credit card hi form in the app. The user would enter their credit card details. I would then take those details and would send them to the API who would then create a token on the stripe side. I'd then assign that token to a customer. The link in my above comment is similar to how I would do it. Hope that makes more sense. Thanks.

[2019-09-09 18:12] mshafrir-stripe commented on #795
@MattL-NZ yes, that would work, as long as you're using the publishable key.

[2019-09-09 20:55] MattL-NZ commented on #795
Wait, so I can't use the secret key? It has to be the publishable key? Why is that?

[2019-09-09 21:11] mshafrir-stripe commented on #795
@MattL-NZ I might have misunderstood the scenario you described, but secret keys should never ship with your app, they should only be used on your backend. See https://stripe.com/docs/keys for more details.

[2019-09-09 21:15] MattL-NZ commented on #795
@mshafrir-stripe Do you guys have a slack channel where we can discuss further? I don't want to fill up this issue thread.

[2019-09-09 21:17] mshafrir-stripe commented on #795
@MattL-NZ I just emailed you at the address listed on your profile

[2019-09-10 06:35] nataliakuznetsova commented on #1498
awesome, thank you!

[2019-09-10 18:49] lukebrandonfarrell opened #1507 "abstract method "void com.stripe.android.ApiResultCallback.onSuccess(java.lang.Object)""
## Summary
This error occurs when using 3D secure 1 with sources. Once we try to invoke the method to move the user into the webview (I believe!) then we get this crash.

[code]

## Code to reproduce
This seemed to occur after installing the OneSignal & CodePush SDK (so it could be something to do with those, any ideas?) but can't be certain.

## Installation method
Using react-native tipsi-stipe

[2019-09-10 19:03] mshafrir-stripe commented on #1507
@lukebrandonfarrell `ApiResultCallback` was introduced in `9.1.0`, yet the version of `stripe-android` that you're using is `8.1.0`. It seems that there's some incompatibility, likely introduced by the libraries you mentioned.

[2019-09-10 19:22] lukebrandonfarrell commented on #1507
@mshafrir-stripe thanks for the quick response! Could you give me some more details about how this method is usually utilised? as I've tried downgrading the tipsi-stripe SDK by two major (7.0.0, 6.0.0, 5.0.0) versions, but this error still is the same on all them?

The strange thing is that we currently have this functionality working in production using tipsi-stripe 7.5.0 which uses 8.1.0 under t

[2019-09-10 19:43] mshafrir-stripe commented on #1507
@lukebrandonfarrell `ApiResultCallback` is the interface for callbacks from Stripe API requests. So something is expecting that class to exist, even though it doesn't exist in 8.1.0. Is it possible that the SDKs you're referencing are doing this?

[2019-09-10 19:58] mshafrir-stripe commented on #1507
What method are you invoking here?

[2019-09-10 21:52] mshafrir-stripe commented on #1496
Please reopen if you still need assistance.

[2019-09-10 21:52] #1496 closed

[2019-09-11 05:50] lukebrandonfarrell commented on #1507
@mshafrir-stripe sorry for the late reply! (timezone difference I'm in UK GMT + 1).

I'm using tipsi-stripe `createSourceWithParams` this handles the redirect flow and invokes the method once the 3D secure 1 has been completed.

[code]

Here is a [link to the Java method from tipsi-stripe line 219 ](https://github.com/tipsi/tipsi-stripe/blob/3917085761a54555e3421d8c371204e4e42200c7/android/src/mai

[2019-09-11 08:54] lukebrandonfarrell commented on #1507
@mshafrir-stripe

Found the issue. We were building out our own implementation of Stripe 3D Secure 2 and that module was using Stripe 9+ which was overwriting the "8.1.0" required in tipsi-stripe.

Thanks for your help!

[2019-09-11 08:54] #1507 closed

[2019-09-11 12:51] msimar opened #1517 "App crashed on pressing double back key on 3DS 2.0 UI"
## Summary
App crashed on pressing double back key on 3DS 2.0 UI, 3DS 1.0 UI work as usual.

3DS 2.0 Card with Error:
4000 0000 0000 3220 3DS 2.0 UI (latest version of 3DS)

3DS 1.0 Card with working ok:
4000 0000 0000 3063 3DS 1.0 UI (old version of 3DS)

## Code to reproduce
Since, it is related to payments, and there are many blocks which tied to our backend, it is hard to provide sample app. S

[2019-09-11 13:23] mshafrir-stripe commented on #1517
@msimar thanks for filing. I was able to reproduce this crash. It looks like it only happens with Fragments, not Activities. I'll post a fix shortly.

[2019-09-11 14:51] Shaita-KrZ opened #1519 "Firebase auth not working after upgrading stripe-android from 9.0.0 to 9.1.1"
## Summary

I'm getting this error from firebase when running my app:

```E/GoogleApiManager: Failed to get service from broker. java.lang.SecurityException: Invalid signature file digest for Manifest main attributes at sun.security.util.SignatureFileVerifier.processImpl(SignatureFileVerifier.java:314) at sun.security.util.SignatureFileVerifier.process(SignatureFileVerifier.java:268) at java.util.

[2019-09-11 15:23] mshafrir-stripe commented on #1519
@Shaita-KrZ thanks for filing, I'm happy to help debug. Is there a particular reason you upgraded to 9.1.1 and not a more recent version of the SDK? Can you try a later version, particularly 10.4.3?

[2019-09-11 17:45] msimar commented on #1517
Awesome, Thanks @mshafrir-stripe for quick fix

[2019-09-11 18:04] #1517 closed

[2019-09-12 13:44] tudorsirbu opened #1528 "Crash caused by ChallengeActivity - You must supply a layout_width attribute."
## Summary
While testing with test card number 4000 0000 0000 3220 the application crashes. Once the confirm setup intent method is called another activity with the Visa logo and a loading spinner comes on top and it immediately crashes.

## Code to reproduce
`val confirmSetupIntentParams = ConfirmSetupIntentParams.create(paymentMethodId, mViewModel.clientSecret)

        PaymentAuthConfig.init(Pa

[2019-09-13 08:35] tudorsirbu commented on #1528
Not sure if it's of any help but I've got this video of the crash happening: https://youtu.be/WfMg7ktdyvM

I've tried updating different dependencies we use to see if it will fix it but nothing worked so far.

[2019-09-13 14:28] javichaques opened #1534 "Can't select current payment method"
Hi,

I can't select current payment method on PaymentMethodsActivity, only can select other cards, in previous version I can.

Android SDK -> 29
Android Version -> API 28
Stripe SDK -> 11.0.3

![Screenshot_1568384694](https://user-images.githubusercontent.com/6851391/64870225-2f866300-d643-11e9-987a-b587cc678781.png)

[2019-09-13 14:38] mshafrir-stripe commented on #1534
@javichaques thanks for filing, just put up a fix

[2019-09-13 15:00] #1534 closed

[2019-09-13 15:39] mshafrir-stripe commented on #1528
@tudorsirbu can you try the latest version, 11.0.4?

[2019-09-13 16:13] mckn opened #1541 "Issues with Swedish BankId authentication (SCA)"
## Summary
We are having problem when our customers tries to authenticate a paymentIntent with Swedish BankId. It seems like they can trigger the authentication flow and they are being redirected to the BankId app. They can authorize the payment via the BankId app but when they return to our app again the Stripe SDK doesn't finalize the confirmation.

## Code to reproduce
We are basically doing th

[2019-09-13 16:24] ejkkan commented on #1541
This also affects the [tipsi-stripe](https://github.com/tipsi/tipsi-stripe) lib which has a lot of users.

Upgrading to 11+ require androidX support for react native apps which will create a lot of issues, a lot of widely used open source projects still don't support it.

Would be awesome with a fix for SDK version 10!

[2019-09-13 16:28] mshafrir-stripe commented on #1541
@mckn @ejkkan thanks for filing. I'm happy to provide a hotfix for 10.x.

[2019-09-13 17:03] mshafrir-stripe commented on #1541
10.4.4 is now released with hot-fixes from 11.x

[2019-09-13 17:06] #1541 closed

[2019-09-13 17:14] ejkkan commented on #1541
Saviour!!

[2019-09-13 19:56] mshafrir-stripe commented on #1528
@tudorsirbu please reopen if the latest version doesn't resolve the issue

[2019-09-13 19:56] #1528 closed

[2019-09-15 14:36] jorg1piano commented on #795
Any updates on this? An official cross-platform dart package from Stripe supporting Payment Intents would be appreciated😇.

[2019-09-16 14:33] ejkkan commented on #1541
@mshafrir-stripe Unfortunately it seems this release does not contain the actual fix for the problem.

https://github.com/stripe/stripe-android/pull/1527

Would it be possible to apply the fixes from this PR to complete the SDK 10x versions support for this issue?

[2019-09-16 14:51] mshafrir-stripe commented on #1541
@ejkkan sorry for missing that fix. I'll issue another release shortly with this.

[2019-09-16 14:54] mckn commented on #1541
@mshafrir-stripe if you ever visit Stockholm I will buy you a beer! Thanks a lot!

[2019-09-16 16:09] freszu opened #1550 "Outdated todo/missing rules in consumerProguardFiles"
## Summary

I noticed that [Readme.md](https://github.com/stripe/stripe-android/blob/master/README.md#proguard) suggest adding proguard rules for the stripe dependency while at the same time the library seems to properly provide the rules with [consumerProguardFiles](https://github.com/stripe/stripe-android/blob/master/stripe/build.gradle#L53).

Is this config still up to date?
I seem to not have

[2019-09-16 16:24] mshafrir-stripe commented on #1541
v10.4.5 is now published, please let me know if this resolves your issues.

[2019-09-16 19:49] ata-n opened #1559 "Too many methods in the SDK prevent from being able to build app"
## Summary
As we know Android allows 65k methods in a single dex file. As of version 9.3.0 (with 3Ds2) the Stripe SDK has a dependency on bouncycastle for encryption (defacto Java encryption library). The issue is this library alone introduces 22k methods. I have noticed the proguard rules also contain a keep line for anything in bouncycastle which prevent them from being and or shrunk.

## Code t

[2019-09-16 21:37] mshafrir-stripe commented on #1270
I posted a PR for deleting Payment Methods: https://github.com/stripe/stripe-android/pull/1560

[2019-09-16 21:47] #1270 closed

[2019-09-17 00:48] FrancoisBlavoet opened #1561 "When submitting the form with errors, the first EditText with an error is not automatically focused."
## Summary
When submitting the form with errors, the first EditText with an error is not automatically focused.
This is an error reported to us by our a11y auditors
When one of the field is errored, ideally it should acquire focus but the stripe widgets do not

## Code to reproduce
Just including the default stripe card input widgets.

## Android version
Android 21, 25, 29

## Impacted devices
Pix

[2019-09-17 00:55] FrancoisBlavoet opened #1562 "Error messages are not associated with their form fields."
## Summary
Another issue reported by our a11y users : for all of the editTexts in our app, we associate the error with the edit text content description.
This way when you tap the edittext, the error is included in the talk back.
It makes it way easier for these users to correct the errors, especially when there are multiple errors or edittexts on the same screen.
However stripe does not do that,

[2019-09-17 02:28] mshafrir-stripe commented on #1559
@ata-n thanks for filing. There like isn't anything we can do in the short-term to fix this, but I'd like to put this on our backlog.

Can you help me understand
(a) how much above the DEX limit you are when integrating with the latest Stripe SDK?
(b) how you use the Stripe SDK?

[2019-09-17 05:20] FrancoisBlavoet commented on #1561
😲
Thanks for the quick fix !

[2019-09-17 05:20] FrancoisBlavoet commented on #1561
💯

[2019-09-17 12:59] samcackett opened #1566 "Possible handler leak with Stripe3DS2AuthCallback"
## Summary
Crash after creating ~100 instantiations of the StripeSDK. App crashes with a memory dump stating `Could not create epoll instance: Too many open files`.

## Code to reproduce
Create ~100 instantiations of the Stripe SDK (this happened for us from an Espresso test run of ~250 tests).

Note that the crash logs mention the Stripe3DS2AuthCallback class. From a bit of googling this looks li

[2019-09-17 13:37] ata-n commented on #1559
Thanks for the response @mshafrir-stripe

1) With a blank app the count hits 71k (Thats with the above mentioned gradle file and no code written in the project)

2) We have an SDK ourselves  (2k methods) and we process payments within it using Stripe (Our SDK offers purchases), so the Stripe SDK is included as a dependency in ours. For our development our workspace consists of our own SDK module t

[2019-09-17 14:25] mshafrir-stripe commented on #1566
@samcackett thanks for filing!

[2019-09-17 14:43] Nahani opened #1569 "Fail to import app to Google Play Console, invalid signature"
## Summary

I have an issue when I try to import my signed Android bundle to the Google Play Console to distribute the app.

I get this error:

The issue come from the android-stripe sdk because when I remove the depandencie  I have no more issues.

I tried with the version 10 and 11 of the sdk and I get the same issue.

With the version 8 I don't have this issue and I can import the APK.

## Code

[2019-09-17 14:45] #1566 closed

[2019-09-17 14:55] samcackett commented on #1566
@mshafrir-stripe That was quick! Thanks for fixing!

[2019-09-17 18:08] mshafrir-stripe commented on #1270
This is now available in [v11.1.1](https://github.com/stripe/stripe-android/releases/tag/v11.1.1)

[2019-09-17 18:12] sunilkumar2222 commented on #1270
Thanks for your support

On Tue 17 Sep, 2019, 11:39 PM Michael Shafrir, <notifications@github.com>
wrote:

[2019-09-17 18:15] mshafrir-stripe commented on #1270
Demo of the functionality:

![swipe-to-delete](https://user-images.githubusercontent.com/45020849/65067890-8a76cd80-d955-11e9-8572-4d1eeac9c3d8.gif)

[2019-09-17 18:29] mshafrir-stripe commented on #1569
@Nahani thanks for filing. I can't tell off the bat what is causing this. Can you try reaching out to Google Play Support to see if there are any more logs on their end that they can share?

[2019-09-17 18:35] mshafrir-stripe commented on #1550
@freszu yes, I believe you are correct that the app doesn't need to specify Proguard rules if they are defined via `consumerProguardFiles`. I'll update the doc accordingly.

[2019-09-17 19:10] Nahani commented on #1569
Ok I will try to have more logs from Google Support.

[2019-09-17 20:08] Nahani commented on #1569
After investigation I found that the issue appear from v9.1.1 and I found that the issue come from this line added from this release:

`implementation "com.stripe:stripe-3ds2-android:0.0.5"`

So I think the issue come from this dependencie but I don't know why...

[2019-09-17 21:03] mshafrir-stripe commented on #1569
@Nahani thanks for investigating. I don't know what about that library would be causing this issue on the Google Play Console side. For what it's worth, I haven't heard of other users reporting this issue. Is this a new or existing app?

[2019-09-18 08:27] Nahani commented on #1569
It's an existing app but before I never used stripe-android sdk

[2019-09-18 13:15] samcackett opened #1579 "setTextBoxCustomisation breaks the 3DS TextView"
## Summary
setTextBoxCustomisation breaks the 3DS TextView. When applying any values here, they don't take effect and the TextView appears broken (hint appears outside of the view bounds, the underline is missing, the colour is still purple).

## Code to reproduce
[code]

## Android version
Any

## Impacted devices
Any

## Installation method
Gradle

## SDK version
11.0.5

## Other information

[2019-09-18 13:50] nataliakuznetsova opened #1580 "Error inflating class com.stripe.android.view.PaymentAuthWebView"
## Summary

Trying to pay with SCA 1 credit card(4000000000003063) on Android 5.1 result in the following crash:

[code]
## Code to reproduce

## Android version

Android 5.1
## Impacted devices

## Installation method

## SDK version

11.1.1
## Other information

[2019-09-18 14:06] mshafrir-stripe commented on #1580
@nataliakuznetsova thanks for filing. I'm able to reproduce the crash. Oddly this is happening on 21 and 22, but not 19 nor later versions.

[2019-09-18 14:25] mshafrir-stripe commented on #1580
@nataliakuznetsova I have a fix ready and will publish a new release today

[2019-09-18 17:24] mshafrir-stripe commented on #1580
@nataliakuznetsova this is now available in [v11.1.2](https://github.com/stripe/stripe-android/releases/tag/v11.1.2)

[2019-09-19 06:01] belek commented on #1270
Thanks!

[2019-09-19 13:18] ejkkan commented on #1541
@mshafrir-stripe we believe that update solved it!
Thank you so much for this!!

[2019-09-19 13:35] thehuangkai commented on #795
Hi @MattL-NZ

May I join the slack channel to discuss too? Looking for ways to integrate stripe to flutter too.

[2019-09-19 14:09] nataliakuznetsova commented on #1580
thank you @mshafrir-stripe !

[2019-09-20 16:44] #1550 closed

[2019-09-20 21:40] mshafrir-stripe commented on #1559
I simplified the BouncyCastle Proguard rules and reduced the count for BouncyCastle to 3800

<img width="586" alt="Screen Shot 2019-09-20 at 5 39 46 PM" src="https://user-images.githubusercontent.com/45020849/65360368-aab0c180-dbcd-11e9-88ac-2e035e29137b.png">

[2019-09-22 21:26] MattL-NZ commented on #795
@thehuangkai Send me a message on Twitter mate: https://twitter.com/MattLDev

[2019-09-23 07:04] shubhamssinghal opened #1604 "Stripe Custom Card Android with 4 digits CVV"
Integrated stripe for payment with custom stripe payment view but card validation fail when i enter 4 digits in cvv column in andorid platform.
Can you give my any solution how to use stripe with 4 digits CVV ?

[2019-09-23 11:52] mshafrir-stripe commented on #1604
@shubhamssinghal what type of card are you testing with?

[2019-09-24 04:49] shubhamssinghal commented on #1604
@mshafrir-stripe I am using  4 digits cvv on an American Express branded credit or debit card

[2019-09-24 12:04] kitetaka commented on #1569
@mshafrir-stripe Just found this thread. We are experiencing the same issue. Once remove strip sdk, it'll go through on play console. Otherwise after uploading APK, we'll get the same signing failure. Please take a look at your earliest convenience. thanks!

[2019-09-24 12:42] mshafrir-stripe commented on #1569
Thanks for filing. I’ll continue investigating. Can you both file an issue with Google Play Console support as well? I’m not sure how much luck I’ll have debugging this without more data from them.

[2019-09-24 13:32] mshafrir-stripe commented on #1569
Did you try contacting Support through this form?

![image](https://user-images.githubusercontent.com/45020849/65515979-29e41500-deae-11e9-9be5-160e807bb64c.png)
![image (1)](https://user-images.githubusercontent.com/45020849/65515981-2badd880-deae-11e9-9cdf-562c26cffefd.png)

[2019-09-24 13:52] mshafrir-stripe commented on #1569
For what it's worth, I tried reproducing the error when uploading my app bundle which uses the latest Stripe SDK through this form, and it succeeded.

<img width="897" alt="Screen Shot 2019-09-24 at 9 50 50 AM" src="https://user-images.githubusercontent.com/45020849/65517537-e212bd00-deb0-11e9-831d-d2acd8083cf1.png">

[2019-09-24 13:53] Nahani commented on #1569
Yes I contact the support through this form.

Please find here all my gradle files:
app/build.gradle
app/expo.gradle
build.gradle

https://gist.github.com/Nahani/5725f19c75eaeac6c6f7185aaf722fd0

[2019-09-24 14:01] mshafrir-stripe commented on #1569
@Nahani does the issue happen without expo?

[2019-09-24 14:07] Nahani commented on #1569
No with a vanilla React native project I don't have this issue... So I think it's something in the expo configuration that causing this issue.

I already open an issue to Expo:
https://github.com/expo/expo/issues/5688

[2019-09-24 14:21] mshafrir-stripe commented on #1604
@shubhamssinghal I could not reproduce this issue with my Amex card. How many digits is your card number?

[2019-09-24 16:06] kitetaka commented on #1569
@mshafrir-stripe  In my case, I'm not using expo and I also made a chat session with Google. Was sent back here since it involves a third party sdk integration.

[2019-09-24 16:13] mshafrir-stripe commented on #1569
@kitetaka is there an issue you can open with Unity?

[2019-09-24 16:33] kitetaka commented on #1569
@mshafrir-stripe what we found is that if not integrating strip or use version 8 of stripe sdk, it'll be fine, so it's not likely an issue with Unity. Further looking into it, the new versions has some additional encryption module compared to version 8, so that could be causing this.

[2019-09-24 21:25] giorgio80 opened #1615 "AddPaymentMethodActivityStarter fromintent is private on 11.1.3"
## Summary
_Hello guys, using 11.1.3 ( I try to update to 11.1.4 but cradle sync cannot resolve) and I'm facing the error on Getting when a card is ADDED.

https://postimg.cc/xNjPpfht

Actually I can get when a card is SELECTED but have no way to detect when a card is ADDED ( at least I would need to extract data )   and also Seems there's not way to get when a card is DELETED.  as I'm saving card

[2019-09-25 01:52] kitetaka commented on #1569
to provide more details, please see attached two pictures of diffs for file that we can see in version 8 vs. version 11. you can see that the new version added quite a few encryption related items. they may be missing signing information required by Google, I guess
![v8](https://user-images.githubusercontent.com/5567767/65562774-261dc480-df7a-11e9-938b-0e1b1a466ee9.jpg)
![v11](https://user-images.

[2019-09-25 11:05] mshafrir-stripe commented on #1569
Nice find. Can you try adding `implementation 'org.bouncycastle:bcprov-jdk15on:1.61'` to your dependencies? That may fix the signing issue.

[2019-09-25 12:57] talhaasim96 commented on #797
@mshafrir-stripe

CustomerSession.initCustomerSession(getContext(),
                        new MyEphemeralKeyProvider(
                                new MyEphemeralKeyProvider.ProgressListener() {
                                    @Override
                                    public void onStringResponse(String string) {
                                        Log.e(TAG, string);

[2019-09-25 13:20] mshafrir-stripe commented on #1615
@giorgio80 thanks for filing. I've submitted a PR to fix this.

As far as notifying whether a Customer chose to add or remove a Payment Method via `PaymentMethodsActivity`, the SDK currently doesn't offer this. Can you give me more context about why you need this information/how you'll use it?

[2019-09-25 13:23] mshafrir-stripe commented on #797
@talhaasim96 you can use one of the overloaded [CustomerSession#initCustomerSession][https://stripe.dev/stripe-android/com/stripe/android/CustomerSession.html#initCustomerSession-android.content.Context-com.stripe.android.EphemeralKeyProvider-boolean-) methods to specify whether the ephemeral key should be prefetched. In your case, you can disable it.

[2019-09-25 13:26] freszu opened #1617 "Add a way to copy and modify billing details retrieved from widgets"
## Summary

Currently there is no way to easily insert additional data that can be retrieved from the user into `PaymentMethod.BillingDetails` that is retrievable through the call `getPaymentMethodBillingDetails()` on for example the `CardMultilineWidget`.

Some models expose `toBuilder()` method that resolves this problem e.g. `Card` allowing to easily make a new copy of object overriding/inserti

[2019-09-25 13:27] kitetaka commented on #1569
eventually we found that it's unity adding some unnecessary stuff in gradle that caused this, after removing that things start to work. Thanks very much for your help @mshafrir-stripe

[2019-09-25 13:28] mshafrir-stripe commented on #1569
@kitetaka fantastic, I'm glad you were able to resolve your issue.

@Nahani can you check if the same thing is happening with Expo?

[2019-09-25 13:34] freszu opened #1618 "Documentation doesn't specify how to retrieve billing details"
## Summary

[Docs](
https://stripe.com/docs/payments/cards/saving-cards-without-payment#collect-payment-details-without-payment) doesn't specify how to retrieve the billing details which actually seems to be retrievable from some widgets through `getPaymentMethodBillingDetails()`.

When migrating from old token api it's easy to make an assumption that all the data that was earlier passed with card

[2019-09-25 14:07] Nahani commented on #1569
@mshafrir-stripe I tested with adding `implementation 'org.bouncycastle:bcprov-jdk15on:1.61'` it doesn't works.

I also sure that it's something added in the gradle by expo that causing this but I don't know what...

@kitetaka Can you please share what are you removed in your gradle ?

[2019-09-25 14:09] mshafrir-stripe commented on #1569
@Nahani does the response in https://github.com/expo/expo/issues/5688 help?

[2019-09-25 14:42] mshafrir-stripe commented on #1618
@freszu thanks for filing. I'll update the docs to use `CardMultilineWidget.getPaymentMethodCreateParams()`.

[2019-09-25 14:43] Nahani commented on #1569
Unfortunately not, my project already enabled 64 bits build...

[2019-09-25 15:19] mshafrir-stripe commented on #1569
Closing and moving conversation to expo/expo#5688.

[2019-09-25 15:19] #1569 closed

[2019-09-25 16:14] #1615 closed

[2019-09-25 16:37] #1617 closed

[2019-09-26 11:30] giorgio80 commented on #1615
Sure . Actually I’m saving card in database for later usage .

If a user add a card , then remove it , I will have no card in stripe but a card in the database so , as when launching the transaction, the paltform look for a valid card id it will launch the transaction with the old card

[2019-09-26 12:39] mshafrir-stripe commented on #1615
Can you elaborate on saving a card in the database - what exactly are you saving?

Does this work for you?

[2019-09-26 13:04] ahaverty opened #1626 "Gradle is unable to find v11.1.4"
```ERROR: Failed to resolve: com.stripe:stripe-android:11.1.4```

v11.1.3 is working correctly. I'm also seeing v11.1.3 as the latest on Bintray
https://bintray.com/bintray/jcenter/com.stripe%3Astripe-android

![image](https://user-images.githubusercontent.com/2920947/65690248-85590300-e066-11e9-9ac6-2479ebb61312.png)

[2019-09-26 17:02] mshafrir-stripe commented on #1626
@ahaverty thanks for filing, I prematurely added a date to the release even though it hasn't been released yet. It should be released today or tomorrow.

[2019-09-26 19:35] mshafrir-stripe commented on #1626
This should be available now.

[2019-09-26 19:35] #1626 closed

[2019-09-27 16:31] Huulivoide commented on #1145
I can confirm this problem happening on Samsung devices with Samsung's keyboard app.
When using alternative keyboard app like GBoard or SwiftKey the inputs work properly.

[2019-09-27 20:52] Nahani commented on #1569
@kitetaka Can you please share what are you removed in your gradle ? Thank you.

[2019-09-30 10:50] Shahzainali opened #1638 "Where is Java Example?"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2019-09-30 17:45] mshafrir-stripe commented on #1638
@Shahzainali I'm happy to put up a Java example app. Are there particular parts of the SDK you wanted examples for?

[2019-09-30 17:50] mshafrir-stripe commented on #804
@nataliakuznetsova The underlying issue is that the static `CustomerSession` instance will be garbage-collected as soon as it is no longer strongly referenced. So that means if you initialized `CustomerSession` in an `Activity`, if that `Activity` goes away, `CustomerSession.getInstance()` will throw an exception.

A short-term fix is to initialize `CustomerSession` in an `Application` subclass, b

[2019-10-01 15:50] hitokiri82 opened #1645 "SCA WebView crashes"
## Summary
I'm running some tests with storing a card that requires SCA for charging it later. I'm using Stripe's test cards as found [here](https://stripe.com/docs/payments/cards/testing).
The issue I'm running into is that the WebView with Stripe's 3DS authorization page work fine as long as I always authorize the operation. If I fail the authorization the WebView stops working for all subsequen

[2019-10-01 16:17] mshafrir-stripe commented on #1645
@hitokiri82 thanks for filing. Did this issue start happening after upgrading from an earlier Stripe SDK version? Does it happen on different Android API versions? How about emulator vs physical device? Also, can you provide a video recording of the behavior you're describing? This will help me investigate.

[2019-10-01 16:43] hitokiri82 commented on #1645
@mshafrir-stripe I have tried with SDK version 11.1.3 and 11.1.4. Havent tried on different Android API versions, nor in an emulator. I will try those out and let you know if it behaves differently.
Is there any way I can get the video to you without posting it here publicly?

[2019-10-01 16:57] mshafrir-stripe commented on #1645
@hitokiri82 can you add your email address to your profile? I can contact you there.

[2019-10-01 17:00] hitokiri82 commented on #1645
Done

[2019-10-01 23:52] spatenotte opened #1650 "Debounce clicks in 3DS2 Screen"
## Summary
If a User clicks the cancel button multiple times in a row in the 3D secure confirmation screen, the `onActivityResult()` callback is called multiple times, causing the Activity to be paused/resumed that many times. It causes issues in our app because we have background/network operations that get automatically canceled when the current Fragment/Activity gets paused.

## Code to reprodu

[2019-10-02 00:18] Sanunez opened #1651 "Payment Method Not Removed From Session"
## Summary

When using `PaymentSession` to present payment method selection and remove a payment method, the PaymentSession does not update.
## Code to reproduce

[code]
## Android version

API 29
## Impacted devices

Tested on Pixel 2 XL
## Installation method

Gradle implementation
## SDK version

11.1.4
## Other information

[2019-10-02 15:26] mshafrir-stripe commented on #1651
@Sanunez thanks for filing, I've added this to our backlog

[2019-10-02 15:26] mshafrir-stripe commented on #1650
@spatenotte thanks for filing, I've added this to our backlog

[2019-10-03 16:46] mshafrir-stripe commented on #1651
@Sanunez after a customer has removed a Payment Method, PaymentMethodActivity automatically selects the most recently added Payment Method as the new choice. However, this wasn't being updated in the UI, so there's a disconnect between what the customer was seeing and what was being reported in `PaymentSessionData`. I'll put up a PR to fix this.

[2019-10-03 17:09] #1651 closed

[2019-10-03 17:37] #1650 closed

[2019-10-03 18:47] bramski opened #1654 "SCA Webview behaving strangely/restarts app after close"
## Summary
See Video: https://cl.ly/6115ddc0378b
After inputting a credit card number requiring SCA, you are unable to click on "Complete Authentication" the video shows someone tapping "FAIL AUTHENTICATION" when they are actually attempting to tap on "Complete Authentication".
The application is then restarted after the tap (splash page is shown instead of the payment screen).

## Code to reprodu

[2019-10-03 22:41] colinrtwhite opened #1656 "Resources are not namespaced to avoid colliding with custom resources."
## Summary
Resources are not namespaced to avoid colliding with custom resources.

We noticed this when our app's `text_color_secondary` was overridden in night mode because it's also declared by the Stripe SDK.

To fix this, I'd recommend adding a `stripe_` prefix to all resources.

## Code to reproduce
- Create an app with `text_color_secondary` set to `#000` in `colors.xml`
- Import the Stripe

[2019-10-04 13:05] mshafrir-stripe commented on #1656
@colinrtwhite thanks for filing. I'll have this fixed for the coming release.

[2019-10-04 18:21] #1604 closed

[2019-10-04 20:40] #1656 closed

[2019-10-07 13:01] JulienDev commented on #1645
I have exactly the same issue on a Pixel 3A XL. No problem with my Pixel 3 XL on the same Android version (10).

[2019-10-07 13:18] mshafrir-stripe commented on #1645
@JulienDev you're seeing the crash on both 10.2.1 and 11.1.4?

[2019-10-07 13:19] JulienDev commented on #1645
Yes

[2019-10-07 13:20] mshafrir-stripe commented on #1654
@bramski thanks for filing. Can you verify if this is happening on a specific Android API version, or across all API versions?. What is the exact stacktrace you're seeing?

[2019-10-07 13:31] mshafrir-stripe commented on #1645
@JulienDev can you share a stacktrace?

[2019-10-07 13:38] JulienDev commented on #1645
Sure, but not publicly, please contact me by email

[2019-10-07 14:42] mshafrir-stripe commented on #1645
@JulienDev can you give me the exact steps to repro the crash? For example, what do you see and what do you click on?

[2019-10-07 15:07] JulienDev commented on #1645
The SCA payment activity is shown with a loader, and when the loader disappear the app crash with the stacktrace I've provided. Nothing is shown inside the webview, it just stays blank

[2019-10-07 16:17] bramski commented on #1654
@mshafrir-stripe Appears to be just the version and device listed though we just put it into the wild so we may see some reports from our customers.

[2019-10-07 16:21] bramski commented on #1654
Stacktrace... did you have a look at the logcat I posted? looks like at `11:28:45.044` the app restarts but I don't see a specific stack trace.  it only appears that the window manager destroys our app and remounts it but I have no idea why.

[2019-10-08 05:20] Agies opened #1676 "Pressing Back (Hardware or Soft) selects a Payment Method on the PaymentMethodSelection Activity"
## Summary
After calling presentPaymentMethodSelection(), if a user presses Back on the Activity or with the Hardware button the Payment Session is updated with a selected Payment Method.

## Code to reproduce
[code]

## Android version
9

## Impacted devices
Samsung Galaxy and Note

## Installation method
Gradle

## SDK version
11.2.0

## Additional Notes
Pressing back and selecting a payment met

[2019-10-09 04:35] RGiVcardo commented on #1638
Hi @mshafrir-stripe ,
I have downloaded this code and full SDK is in kotlin language and I needed in Java for my application. I also tried to decompile it in java language option from android studio but it won't be possible.
Is there any chances to get full SDK in java language?
Please let me know ASAP.
Thanks.

[2019-10-09 06:00] Dhaval2404 opened #1684 "v11.2.1 not found on jcenter repository."
## Summary

As mentioned in README.md configuration, Latest v11.2.1 is not found on jcenter repo.

## Code to reproduce

README.md
![image](https://user-images.githubusercontent.com/7314181/66455138-825b0b00-ea87-11e9-9795-ad6ab4a9b94d.png)

Jcenter Repository.
![image](https://user-images.githubusercontent.com/7314181/66455100-66f00000-ea87-11e9-97e2-a26352ed775b.png)

## Installation method

`im

[2019-10-09 11:27] lopst commented on #1684
The same happens to me

[2019-10-09 11:50] mshafrir-stripe commented on #1638
@RGiVcardo you don't need to download the source code directly, you can integrate with the Stripe Android SDK using

[code]

While the SDK is mostly written in Kotlin, it is completely interoperable with Java.

[2019-10-09 12:04] baderkhane opened #1685 "Names are not shown in stripe dashboard"
Hello Guys,
We upgraded recently our mobil apps & backend side to fit with new europe regulation **strong customer authentication **.

So for the android side we start using `stripe.createPaymentMethodSynchronous(
            paymentMethodCreateParams, stripeAccountPublishableKey)`  instead of `stripe.createTokenSynchronous `.

Since you removed the `card.setName ()`, we are sitting the holder nam

[2019-10-09 13:42] mshafrir-stripe commented on #1684
Thanks for reporting. There's currently an issue with Sonatype that's preventing publishing of the new version. I'll report back when it's actually available.

[2019-10-09 14:20] mshafrir-stripe commented on #1685
@baderkhane thanks for filing. Can you share any relevant code?

[2019-10-09 15:04] jasonblood commented on #1645
We are seeing the same on a One Plus 7 pro on Android 10. Have not reproduced it on another device. It did seem to go away for awhile. But it keeps happening again. Tried uninstalling the app etc and it still keeps happening.

[2019-10-09 15:59] mshafrir-stripe commented on #1645
@jasonblood thanks for reporting this issue. I have a [potential fix](https://github.com/stripe/stripe-android/pull/1686) for the issue, but I can't reproduce the crash myself, so would you be able to confirm?

You'll need to update your top-level `build.gradle` to include:
[code]

Then update your dependency to:
[code]

[2019-10-10 05:56] RGiVcardo commented on #1638
@mshafrir-stripe
I have tried through dependency but it still giving me error.
You can show error in attachment.
Let me know the possible solution for this error & Is It possible to add stripe in lower version of android studio, gradle version and without Kotlin in my code?

![Error](https://user-images.githubusercontent.com/44604490/66542581-a0d90900-eb50-11e9-8568-113cd0c1e898.PNG)

[2019-10-10 12:25] mshafrir-stripe commented on #1638
@RGiVcardo I'm currently having issues with publishing 11.2.1. You can use 11.2.0 for the time being.

[2019-10-10 12:42] RGiVcardo commented on #1638
@mshafrir-stripe
No problem , I will check it and let you know.
But one more question is I have download code  of version 10.0.0 and it gives me below error can you please check and let me know?

**Caused by: java.lang.RuntimeException**
**org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':example:transformClassesWithDexBuilderForDebug'.
	at org.gradle.api.internal.tasks.exec

[2019-10-10 13:17] mshafrir-stripe commented on #1638
@RGiVcardo please make sure you're using the minimum version of Gradle and the Android Gradle Plugin as mentioned here https://github.com/stripe/stripe-android#requirements

[2019-10-10 20:33] jasonblood commented on #1645
Hi @mshafrir-stripe, Will do, sadly I won't be able to do it until Monday but will post back here if no one else beats me to it!

[2019-10-11 09:24] RGiVcardo commented on #1638
@mshafrir-stripe Thanks, I have used 10.0.0 version's code and run app into my device. but after run this example app in my device there is many option. I'm confused, can you please give me idea what I have to do now for making successful test card payments?

[2019-10-11 13:18] mshafrir-stripe commented on #1638
@RGiVcardo I recommend looking at our [sample integration for collecting a card payment on mobile](https://github.com/stripe-samples/mobile-elements-card-payment).

[2019-10-11 13:19] mshafrir-stripe commented on #1638
@Shahzainali you can also reference the above link for Java examples.

[2019-10-11 13:19] #1638 closed

[2019-10-11 14:18] ata-n commented on #1559
Thank you @mshafrir-stripe for the fix! I see there have been changes to the rules for Material as well. Wonderful!

May I ask that these changes be applied to the 10.x version as well? :) We use the Stripe SDK in our own SDK as a dependency and we have a strict no AndroidX policy for maximum compatibility.

[2019-10-11 21:48] mshafrir-stripe commented on #1559
@ata-n yes, I can do a 10.x release next week with the Proguard changes

[2019-10-11 21:50] mshafrir-stripe commented on #1645
This should now be resolved in 11.2.2. Please confirm if it's resolved on your end.

[2019-10-11 21:50] #1645 closed

[2019-10-11 21:51] mshafrir-stripe commented on #1654
@bramski I believe I discovered the cause of the crash. I can release a 10.x release.

[2019-10-13 03:05] bramski commented on #1654
Fabulous! Keep me informed. I'll have to make some PRs and app updates to propagate it.

[2019-10-14 08:22] baderkhane commented on #1685
Thanks man for quick reply, here is some pieces from our code

_**//Here we have already collected card info, so we send the card object to our function exchangeCardToToken.**_

`        val f = adminService
            .getStripeAccountPublishableToken()
            .flatMap { stripePublishableToken ->
                stripeService
                    .exchangeCardToToken(stripePublishableToken,

[2019-10-14 13:24] mshafrir-stripe commented on #1685
@baderkhane can you set a breakpoint before you call `createPaymentMethodSynchronous()` to ensure that `paymentMethodCreateParams` contains the expected value for `name`?

[2019-10-14 14:11] Shahzainali commented on #1638
@msaffitz-stripe I used doc and seeing kotlin code completed puzzle successfully in two days . Thanks

[2019-10-14 15:42] jasonblood commented on #1645
Hi @mshafrir-stripe,

That seems to have fixed the issue alright for me. Nice work! Thanks for the help and quick response.

[2019-10-14 15:43] mshafrir-stripe commented on #1645
@jasonblood that's great to hear. Thanks for confirming.

[2019-10-14 20:53] mshafrir-stripe commented on #1684
v11.2.2 is now available

[2019-10-14 20:53] #1684 closed

[2019-10-14 20:53] mshafrir-stripe commented on #1654
@bramski can you try 10.4.6 and confirm if it fixes the issue?

[2019-10-15 04:56] janki-shah-pavans opened #1703 "last 4 digits of card number is not showing properly , when user enters 1111 as a last 4 digit of card number"
General output that stripe provide [ where card number is 4242 4242 4242 4242]
![general](https://user-images.githubusercontent.com/56550057/66801142-aca04300-ef35-11e9-8e58-28472ecb7af8.jpg)

Testing card widget and user input 4111 1111 1111 1111
![user input](https://user-images.githubusercontent.com/56550057/66801188-d2c5e300-ef35-11e9-84a0-aa2af209e314.jpg)

Issue is : Last 4 digits are not vi

[2019-10-15 08:55] hitokiri82 commented on #1645
Fixed it for me too. Great job!

[2019-10-15 15:15] mshafrir-stripe commented on #1685
@baderkhane I put up a PR to fix the issue. I realized that `BillingDetails` was not being correctly populated.

[2019-10-15 15:24] mshafrir-stripe commented on #1703
@janki-shah-pavans I tried reproducing the issue but wasn't able to. Can you provide a screen recording so I can get more details?

![recording](https://user-images.githubusercontent.com/45020849/66845580-4370fd80-ef3e-11e9-8e77-b6ff0d7a912b.gif)

[2019-10-15 18:02] bramski commented on #1654
@mshafrir-stripe Sorry did not fix the issue.

[2019-10-15 18:15] mshafrir-stripe commented on #1654
@bramski thanks for checking. I'll need to add some log statements and have you run through the use case again to narrow down where the crash is happening. I'll let you know when I have something available.

[2019-10-15 18:36] mshafrir-stripe commented on #1654
Can you use the instructions below to integrate with the [commit](https://github.com/stripe/stripe-android/commit/c9c28730cdfadf4411a99c9d4af6f27ade4b34b0) that adds logging?

https://jitpack.io/#stripe/stripe-android/webview-logs-SNAPSHOT

[2019-10-15 18:38] bramski commented on #1654
Sure. @mshafrir-stripe that commit is in the snapshot or you need me to do something additional to use that commit?

[2019-10-15 18:39] mshafrir-stripe commented on #1654
@bramski integrating with that Jitpack snapshot dependency is enough, nothing else to do

[2019-10-15 20:38] #1685 closed

[2019-10-16 12:29] mattcmf opened #1714 "After clicking into card field - the field is no longer collapsed and CVV appears offscreen"
## Summary

After clicking into card field - the field is no longer collapsed and CVV appears offscreen

## Code to reproduce

`    <com.stripe.android.view.CardInputWidget
        android:id="@+id/card_input_widget"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginStart="8dp"
        android:layout_marginTop="16dp"
        andro

[2019-10-16 14:28] mshafrir-stripe commented on #1654
@bramski were you able to run through the repro steps with logging enabled?

[2019-10-16 23:04] bramski commented on #1654
@mshafrir-stripe
https://gist.github.com/bramski/a4e211cd8014ba71e534111214c2e4df

I'm acting as middleman here, it's our tester and she is not co-located with me so I don't have the device thus its a bit of a long round-trip to repro. Hope this is what you need.

[2019-10-16 23:05] bramski commented on #1654
Suggest we re-open the ticket for now.

[2019-10-17 05:07] janki-shah-pavans commented on #1703
https://drive.google.com/file/d/1grpOQIwcCj3ZtSGi_T9z57aXDu4cm2Pn/view?usp=sharing

[2019-10-17 11:42] mshafrir-stripe commented on #1654
@bramski looks like the call to finish the web view activity finished, so I'll need to add more logs to debug what's happening

[2019-10-17 13:56] mattcmf commented on #1714
Turned out to be a bug with Constraint_layout:2.0.0-beta-2.
We downgraded to  1.1.3 and its now working as expected.

[2019-10-17 13:56] #1714 closed

[2019-10-17 13:57] mshafrir-stripe commented on #1714
@mattcmf thanks for the feedback!

[2019-10-17 15:24] mshafrir-stripe commented on #1703
@janki-shah-pavans what version of our SDK are you using? Are you able to repro the issue in our [example app](https://github.com/stripe/stripe-android/tree/master/example)? Are you able to repro on all API versions, or only specific versions? How about emulator vs physical device? Can you also share what AndroidX dependencies you're currently using?

Can you also provide the style/theme you're us

[2019-10-17 15:24] mshafrir-stripe commented on #1676
@Agies thanks for filing, I'll investigate.

[2019-10-17 20:32] mshafrir-stripe commented on #1654
@bramski can you try

[code]

[2019-10-18 11:23] janki-shah-pavans commented on #1703
I have test this app in both emulator and real devices. When the screen density is hdpi. The code works properly in emulator. For xhdpi and xxhdpi devices [real and virtual devices both], the above specific issue is found. SDK version that we are using is : MinSdk - 19 and TargetSdk - 28. I refer the source code of master branch from https://github.com/stripe/stripe-android

[2019-10-18 15:12] mshafrir-stripe commented on #1703
@janki-shah-pavans thanks, I'll test with those devices. Do you integrate directly with our source code or through a Gradle dependency?

[2019-10-18 21:44] frewsxcv opened #1730 "ConfirmSetupIntentParams should have a constructor that doesn't require a PaymentMethod"
Right now, to _confirm_ a `SetupIntent` with the SDK, one needs to provide either the ID of the `PaymentMethod`, or raw payment method details. It's possible for a `SetupIntent` to be _created_ with a `PaymentMethod`, so supplying it during confirmation should be optional. This would  match the [optional param behavior in the API](https://stripe.com/docs/api/setup_intents/confirm).

Relevant code:

[2019-10-19 09:41] janki-shah-pavans commented on #1703
@mshafrir-stripe In both the cases , same issue is found.

[2019-10-21 05:50] janki-shah-pavans commented on #1703
@mshafrir-stripe While testing the same code today in nexus S and nexus 5X emulator, this is solved automatically. But when i run the application in real device , this issue is still there. I used oppo a5s device for the application testing.

[2019-10-21 13:52] baderkhane commented on #1685
Awesome, it works now. I upgraded to the **latest stripe sdk v12.0.0** and changed this piece of code
I am using `Card.toPaymentMethodsParams()` instead of `card.toPaymentMethodParamsCard()`
[code]

[2019-10-21 15:45] mshafrir-stripe commented on #1730
@frewsxcv thanks for filing!

[2019-10-21 20:35] #1730 closed

[2019-10-22 17:26] andychen1111 commented on #1654
Hi @mshafrir-stripe, I am bramski's co-worker. Here is the new [log](https://gist.github.com/andychen1111/ec7f85a0bdd3eac3f731653213b8b4f8).

[2019-10-22 18:38] mshafrir-stripe commented on #1654
@andychen1111 this is using commit `0dfee80c85`?

Looks like there's a crash when activity.finish() is called. Can you verify if `onActivityResult()` is called from the launching activity in your app?

[2019-10-24 08:23] NanaGithub commented on #413
thank you so much

[2019-10-25 21:20] spatenotte opened #1749 "Stripe SDK 11.0.1 introduces an issue that causes screen to be black on certain devices"
## Summary
Starting from the Stripe SDK release 11.0.1, and still happening in the latest release as of now (12.1.0), some of the users of our Android app have been experiencing a black screen inside of our app.
After some internal testing, we have identified the issue to be with the Stripe SDK, possibly caused by some kind of dark overlay over our main Window, since our automated tests still are

[2019-10-28 13:10] alexanderbezverhni opened #1750 ""Fatal Exception: com.stripe.android.exception.APIConnectionException" causes app crash"
## Summary
Stripe SDK internal unhandled exception causes app crash:
"Fatal Exception: com.stripe.android.exception.APIConnectionException"

## Code to reproduce
I don't have the exact reproduce steps, since crash happens in background for a relatively small fraction of users.

## Android version
API 23 through API 29

## Impacted devices
All over the spectrum

## Installation method
Gradle

## SD

[2019-10-28 13:19] mshafrir-stripe commented on #1750
This is fixed in the latest version of the SDK

[2019-10-28 13:19] #1750 closed

[2019-10-28 15:54] Alvtag commented on #1559
@mshafrir
I tried out the 10.4.6 release on a blank app, still seeing 21~22k methods under org.bouncycastle.

There seems to be many packages other than jcajce and jce:
![image](https://user-images.githubusercontent.com/7252786/67694184-5392cf00-f979-11e9-8817-de81b4306350.png)

Is there any way to reduce this count to the 3800 above?

[2019-10-28 17:59] seth-gravy opened #1754 "No longer able to intercept CardInputWidget EditorInfo.IME_ACTION_DONE"
## Summary

In 11.1.3, we were intercepting `EditorInfo.IME_ACTION_DONE` on `R.id.et_cvc_number` so we could move focus to the next text field in our form.

This approach no longer works with 12.1.0.
`Cannot access 'StripeEditText': it is internal in 'com.stripe.android.view'`

Is there another way for us to accomplish this?

## Code to reproduce

[code]

## Android version

10

## Impacted device

[2019-10-28 18:03] mshafrir-stripe commented on #1559
@Alvtag you need to specify `minifyEnabled true` to take advantage of the Proguard rules.

[2019-10-28 18:03] #1559 closed

[2019-10-28 18:06] mshafrir-stripe commented on #1754
@seth-gravy thanks for filing and sorry for the inconvenience. `StripeEditText` has been made public in https://github.com/stripe/stripe-android/pull/1745, but that change still needs to be released. I'll do so early this week.

[2019-10-28 18:06] seth-gravy commented on #1754
@msaffitz-stripe thank you!

[2019-10-28 18:13] mshafrir-stripe commented on #1749
@spatenotte thanks for filing and for your thorough investigation. The only change that I see introduced in v11.0.1 that may be related is upgrading from `androidx.appcompat:appcompat:1.0.2` to `androidx.appcompat:appcompat:1.1.0`.

Is there any chance that this is related?

[2019-10-28 18:46] Alvtag commented on #1559
@mshafrir Thanks, I updated minify to true, cleared caches and restart,  and rebuilt the APK but still seeing the high number. Are there any Proguard files that I might have to update?
![image](https://user-images.githubusercontent.com/7252786/67707914-b98b5080-f991-11e9-80bc-19822a67aaa2.png)

[2019-10-28 18:48] mshafrir-stripe commented on #1559
What version of Gradle and AGP are you using?

[2019-10-28 18:51] Alvtag commented on #1559
I have
Gradle 5.1.1
Android Gradle Plugin 3.4.2
Android Studio 3.5.1

[2019-10-28 19:05] mshafrir-stripe commented on #1559
@Alvtag try upgrading to the latest version of Gradle and AGP. The SDK's Proguard rules is referenced via `consumerProguardFiles 'proguard-rules.txt'`, so it should be pulled in automatically.

[2019-10-29 14:58] Alvtag commented on #1559
It works! in addition to updating Gradle and AGP, I found that I only had minifyEnabled on release flavor. When I either built under release, or added minifyEnabled to debug, I see the 3800 method count
![image](https://user-images.githubusercontent.com/7252786/67779298-d2037580-fa3a-11e9-890b-a2e21d31eab3.png)

kudos for the help @mshafrir-stripe

[2019-10-29 16:30] #1749 closed

[2019-10-29 16:59] bramski commented on #1654
Hey @mshafrir-stripe please reopen. Got back from vacation yesterday. let's keep working on this!

[2019-10-29 17:34] mshafrir-stripe commented on #1654
@bramski can you set a breakpoint in tipsi? From the Stripe SDK's perspective, the SDK Activity has finished and the result is being returned to the app Activity that launched it.

[2019-10-31 13:20] mshafrir-stripe commented on #1579
@samcackett we've introduced the ability to style the 3DS2 challenge screen UI by defining a `Stripe3DS2Theme` and `Stripe3DS2TextInput`. For an example, see https://github.com/stripe/stripe-android/blob/master/example/res/values/themes.xml#L26. Can you see if this approach works for you?

[code]

[2019-10-31 13:48] mshafrir-stripe commented on #1432
@Flo354 we've introduced the ability to style the 3DS2 challenge screen UI by defining a `Stripe3DS2Theme` and `Stripe3DS2TextInput`. For an example, see https://github.com/stripe/stripe-android/blob/master/example/res/values/themes.xml#L26. Can you see if this approach works for you?

[code]

[2019-10-31 14:18] Flo354 commented on #1432
Hi @mshafrir-stripe,

I will not be able to test for the next two or three weeks. Could you let the issue opened in the meantime? I will test ASAP.

[2019-10-31 18:48] mshafrir-stripe commented on #1754
[v12.2.0](https://github.com/stripe/stripe-android/releases/tag/v12.2.0) has been released

[2019-10-31 18:48] #1754 closed

[2019-11-01 06:16] snehasatya opened #1772 "Kotlin to android(java)"
I want this total project in Android (Java) not in Kotlin language.

Can you please post the total Stripe payment gateway integration project in Android (java)

[2019-11-01 10:02] mshafrir-stripe commented on #1772
@snehasatya I’d be happy to post a Java example. What do you mean by “total Stripe payment gateway integration project”? The example app?

[2019-11-01 10:15] snehasatya commented on #1772
yes i mean stripe payment gateway integration project in android with java

[2019-11-01 10:24] ChristianBecker commented on #1772
I think he do not want a transitive dependency on the Kotlin StdLib in his project, for whatever reason..?

[2019-11-01 10:28] snehasatya commented on #1772
yes i have developed one app previously in android so,
now i need to integrate this payment stripe gateway in that old project
so i don't want in kotlin language. but the mostly example are in kotlin language can you please help me out regarding this

[2019-11-01 11:01] mshafrir-stripe commented on #1772
@snehasatya I’m still not clear on what code you’d like in Java. Can you post a link to the example code that you’d like a Java version of?

[2019-11-01 11:12] snehasatya commented on #1772
https://github.com/stripe/stripe-android     this one

[2019-11-01 11:17] mshafrir-stripe commented on #1772
@snehasatya the Stripe Android SDK is completely interoperable with Java and Kotlin. Can you help me understand what you’re trying to accomplish that you aren’t able to? Do you mean the examples project within stripe-android?

[2019-11-01 11:25] snehasatya commented on #1772
yes

[2019-11-01 11:31] mshafrir-stripe commented on #1772
Can you point me to the specific example you need help with? Please send a link.

[2019-11-01 11:35] snehasatya commented on #1772
i want stripe payment gateway example

[2019-11-01 11:55] mshafrir-stripe commented on #1772
@snehasatya it sounds like this is your first time integrating with Stripe. I would recommend starting with our docs, which include Java code examples.

You can start here for our Android docs: https://stripe.com/docs/mobile/android

We also have Android docs for Collecting Card Details and Creating Charges: https://stripe.com/docs/payments/cards/collecting/android

If you're looking to use Stripe

[2019-11-01 12:00] snehasatya commented on #1772
Can you give post your email then i will ask further details regarding this stripe payment gateway

[2019-11-01 12:03] mshafrir-stripe commented on #1772
Can you add your email to your Github profile? I'll email you there.

[2019-11-01 12:03] #1772 closed

[2019-11-01 12:28] snehasatya commented on #1772
i updated my profile, can you email me with working example for stripe payment gateway

[2019-11-03 15:01] youngliangzhang opened #1778 "Support other country's postal code except for US?"
User could not input postal code except for US. Could you update it?

[2019-11-03 23:12] #1025 closed

[2019-11-04 02:22] Agies opened #1779 "New Cards or Accounts Entered through the Payment Activity are not marked as Default"
## Summary
New Cards or Accounts Entered through the Payment Activity are not marked as Default. This is the behavior within the iOS version of the SDK and allows us to immediately bill a user without requiring us to send a payment method to the server. Or, track which payment method the user has set as their default or picks at the time. This also results in the PaymentActivity not showing a chec

[2019-11-04 04:20] snehasatya commented on #1772
Anyone Can provide the stripe code to integrate only cards to my android app

[2019-11-04 17:42] mshafrir-stripe commented on #1779
@Agies thanks for filing. What version of the iOS SDK are you currently using?

[2019-11-05 03:18] Agies commented on #1779
15.0.1

[2019-11-05 12:52] mshafrir-stripe commented on #1779
`PaymentMethodsActivity` and `AddPaymentMethodActivity` no longer support the Sources API - they only work with the Payment Methods API.

Customer objects have a [default_source](https://stripe.com/docs/api/customers/object#customer_object-default_source) property, but that can only be set to a Source, not a Payment Method.

I believe that if you update the iOS SDK to the latest version, you'll se

[2019-11-05 13:17] Agies commented on #1779
So how do I bridge the gap? How do I take what is returned from the Payment Activity and set it up as the customer's default Payment Source?

I could not find any connection between the two, and the payment method returned from the activity is equally useless when paying through express.

[2019-11-05 13:43] bhavinmdesai commented on #1139
@madsager @msaffitz-stripe I am on Android Studio 3.5.2, Stripe SDK 12.2.0, firebase-perf 19.0.1, firebase:perf-plugin 1.3.1.

I am still getting this error:
[code]

Can you please help? Thanks!

[2019-11-05 14:20] madsager commented on #1139
@bhavinmdesai There was a bug in the Android Gradle Plugin which ended up not filtering out these module classes. This is http://issuetracker.google.com/issues/140290149.

The fix should be in Android Studio 3.6 beta 2. Can you try that out and let me know if that works? If not, I'll open a separate bug so we can work with you to figure out what is going on. Thanks!

[2019-11-05 14:41] mshafrir-stripe commented on #1779
@Agies we have deprecated the concept of a default source on a Customer, because it led to some unexpected scenarios. I recommend explicitly passing the Payment Method id that you wish to charge.

[2019-11-05 16:29] isd4n commented on #1676
@mshafrir-stripe this problem was introduced since version 11.

as you can see here: https://github.com/stripe/stripe-android/blob/3d0ec04c332d54c9706f75dd295d651123b3577b/stripe/src/main/java/com/stripe/android/view/PaymentMethodsAdapter.kt#L32

the adapter is choosing always the last created payment method.

I don't understand why you're doing it but the version 10.4 it was ok:

https://github.c

[2019-11-05 18:41] #1145 closed

[2019-11-05 18:56] mshafrir-stripe commented on #546
Fixed in #1787

[2019-11-06 06:58] bhavinmdesai commented on #1139
@madsager Looks like that module-info.class error has been resolved but now getting the following error:
```SHA-256 digest error for org/eclipse/paho/client/mqttv3/internal/websocket/ExtendedByteArrayOutputStream.class```

Not sure if it is stripe related!

[2019-11-06 07:09] madsager commented on #1139
I do not think that is stripe related. Searching the issue tracker on our end I found this:

http://issuetracker.google.com/issues/115556774

Which is marked as closed. Maybe you can post your setting (version of studio and android gradle plugin used) there so the team can have another look? Thanks for bringing this to our attention.

[2019-11-06 11:57] mshafrir-stripe commented on #1139
@bhavinmdesai are you using BouncyCastle?

[2019-11-06 12:00] bhavinmdesai commented on #1139
No I am not.

But not sure if any other dependency is using it. I have a doubt on the AWS
SDK which I am using.

On Wed 6 Nov, 2019, 5:27 PM Michael Shafrir, <notifications@github.com>
wrote:

[2019-11-07 14:08] #1676 closed

[2019-11-11 07:03] imdBhargav opened #1805 "IllegalStateException: PaymentConfiguration was not initialized"
We have integrated an Stripe and it is running successfully. But in Crashlytics we are showing one crash related to stripe that we are not able to solve. The entire log of an error is as below

The line at which this crash pointing is `CustomerSession.initCustomerSession` to generate an EphemeralKey. And we have initialized the PaymentConfiguration before generating EphemeralKey. See this issues i

[2019-11-11 14:41] valentynsmetanin opened #1806 "Wrong behavior on select payment method."
## Summary
Wrong behavior on select payment method.
After calling presentPaymentMethodSelection(), if a user already has selected payment method and on click "back" on the activity AppBar or with the hardware button - onActivityResult receive Activity.RESULT_OK, but need to return Activity.RESULT_CANCELED.

## Code to reproduce
[code]

## Android version
6, 7, 8, 9, 10

## Impacted devices
Google

[2019-11-11 18:06] thevoiceless opened #1807 "Add postal code support to CardInputWidget"
## Summary
`CardInputWidget` does not support postal code entry on Android, but it does on iOS. According to the docs: `If you have any other data that you would like to associate with the card, such as name, address, or ZIP code, you can put additional input controls on your layout and add them directly to the Card object.`

## SDK version
12.3.0

## Other information
`CardMultilineWidget` does p

[2019-11-11 18:16] thevoiceless opened #1808 "Allow validation of individual fields without error messages in CardMultilineWidget"
## Summary
`CardMultilineWidget` has built-in validation for its fields, but it shows *all* error messages when `getCard()` is invoked. It would be useful to have per-field validation so that we can avoid overwhelming the user with error messages as soon as they start typing.

Example use case: We want to enable/disable other UI elements depends on whether or not a valid card has been entered. To

[2019-11-11 18:20] mshafrir-stripe commented on #1805
@imdBhargav what version of the SDK are you using?

[2019-11-11 22:20] mshafrir-stripe commented on #1808
@thevoiceless thanks for the feedback, we'll add it to the backlog

[2019-11-11 22:22] mshafrir-stripe commented on #1806
@valentynsmetanin thanks for filing. Can you help me understand the underlying issue you're running into? Is it that the behavior changed from when you upgraded to the latest version, or that you simply expect a user tapping back to return `Activity.RESULT_CANCELED`?

I recommend not checking the result code yourself - let `paymentSession.handlePaymentData()` handle it.

[2019-11-11 23:57] mshafrir-stripe commented on #1654
@bramski @andychen1111 please reopen if you're able to get more details from the tipsi side

[2019-11-12 00:59] bramski commented on #1654
Please leave this open. We are still actively working on this.

[2019-11-12 11:33] valentynsmetanin commented on #1806
@mshafrir-stripe It's expected result in onActivityResult (`Activity.RESULT_CANCELED`) on back pressed. Also I have `PaymentSession.PaymentSessionListener` with own business logic. And I receive data in `onPaymentSessionDataChanged` on click "back" on the activity AppBar or with the hardware button too.

[2019-11-13 09:03] imdBhargav commented on #1805
@msaffitz-stripe I am using version 11.1.3

[2019-11-13 12:09] #1806 closed

[2019-11-13 12:15] mshafrir-stripe commented on #1805
@imdBhargav can you upgrade to the latest version, v12.3.0?

[2019-11-13 14:08] imdBhargav commented on #1805
sure, Will do that and will let you know @msaffitz-stripe

[2019-11-14 20:13] bramski commented on #1654
hey @mshafrir-stripe we've stepped through the code. The promise to return the result to our javascript handler gets called and then the app crashes. The window itself is still behaving incorrectly, button presses on the window seem to press both buttons.

[2019-11-14 20:21] mshafrir-stripe commented on #1654
@bramski is there any code you can share? What's the last line of code you reach before the crash happens?

[2019-11-14 20:32] bramski commented on #1654
The promise is successfully resolved here:
https://github.com/bramski/tipsi-stripe/blob/experimental-stripe-android-fix/android/src/main/java/com/gettipsi/stripe/StripeModule.java#L286

[2019-11-14 20:35] bramski commented on #1654
That promise comes from here: https://github.com/bramski/tipsi-stripe/blob/experimental-stripe-android-fix/android/src/main/java/com/gettipsi/stripe/StripeModule.java#L368
and that's the interface to javascript. So it appears that webview is closing on crash or something and that's causing the react-native activity to restart. I'm pretty unfamiliar with how react-native handles returning that asyn

[2019-11-15 16:12] mshafrir-stripe commented on #1654
@bramski is there any code called after the promise is resolved? Is there a way to set a breakpoint in the Tipsi code?

[2019-11-15 17:13] bramski commented on #1654
@mshafrir-stripe that's exactly what we did. We stepped through the java code on the tipsi side. It appears something is crashing in teardown of the webview activity such that it's restarting the activity running the react native app.

[2019-11-15 17:31] mshafrir-stripe commented on #1654
@bramski did you confirm if you only saw crashes on Android 9?

[2019-11-15 19:50] andychen1111 commented on #1654
Hi @mshafrir-stripe, I only have a physical device with Android 9 (Samsung Galaxy S8+), which has the bug. I also tested it again on emulators with Android 7.1.1, 8.1, and 9.0. They did not crash after processing the payment.

[2019-11-17 00:02] Awais-Ali opened #1838 "CardInputWidget - set Card brand by last4 digits, possible?"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2019-11-17 02:22] mshafrir-stripe commented on #1838
@Awais-Ali can you give me more details or an example of what you're trying to do?

[2019-11-17 13:03] Awais-Ali commented on #1838
@mshafrir For example, if I add a source payment to stripe and want to show as a record to the user, I would like to set a brand card on the basis of the stripe server response, last4 digit or brand param. there is no way to set this property. I am using CardInput Widget.

[2019-11-20 20:11] thevoiceless opened #1853 "Prefix all resources in the SDK to prevent conflicts"
## Summary
Drawable resources in the Stripe SDK are not prefixed/namespaced, so they can conflict with resources in client applications. I saw [this issue](https://github.com/stripe/stripe-android/issues/416) was opened for strings, but I'm facing the same behavior with drawables (specifically `ic_checkmark`).

## Code to reproduce
Sample application: [MyApplication.zip](https://github.com/stripe/

[2019-11-20 21:39] mshafrir-stripe commented on #1838
@Awais-Ali so you want a read-only UI component that renders a Card?

[2019-11-21 13:27] Greelings opened #1856 "Fatal Exception after the 12.4.0 update"
With the last update (12.4.0), I always have a Fatal Exception when I try to make a payment. I did not have this issue with the 12.3.0 version.
Please note that the 12.5.0 update it is not yet available on Android Studio.

Test card : 4000 0000 0000 3220 || 4242 4242 4242 4242
Stripe sdk version : 12.4.0
Device : Samsung Galaxy S4 GT-I9505
Android : 5.0.1

Log :
[code]

[2019-11-21 15:23] mshafrir-stripe commented on #1856
@Greelings I put up a PR that hopefully fixes the issue. Since I can't reproduce the issue myself, would you be able to see if the fix resolves the issue?

Instructions for testing the fix are here and below: https://jitpack.io/#stripe/stripe-android/4a0fa9caa7

1. Add the jitpack repository in your root `build.gradle`.
[code]

2. Replace your stripe-android dependency with the jitpack version poi

[2019-11-21 15:32] Greelings commented on #1856
Good news, the fix resolved the issue. Great job!

[2019-11-21 15:34] #1856 closed

[2019-11-21 15:37] mshafrir-stripe commented on #1856
@Greelings that's great to hear. I'll release this fix in 12.5.0 soon.

[2019-11-21 15:51] mshafrir-stripe commented on #1856
`12.5.0` is now released

[2019-11-21 19:27] mshafrir-stripe commented on #1853
@thevoiceless thanks for filing

[2019-11-21 21:41] #1853 closed

[2019-11-23 07:23] Awais-Ali commented on #1838
Correct, if I send last4 digit value it should render a card.

[2019-11-23 13:10] paulbrown579 opened #1869 "stripe.confirmSetupIntent"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2019-11-23 14:00] mshafrir-stripe commented on #1869
@paulbrown579 looks like you didn’t post an issue

[2019-11-23 14:01] mshafrir-stripe commented on #1838
@Awais-Ali I’m still unclear on what you want the component to do. Can you share a screenshot or mockup?

Also, last 4 digits isn’t enough information to determine the card brand.

[2019-11-23 14:02] #1805 closed

[2019-11-24 02:48] #1869 closed

[2019-11-26 06:07] shubhamssinghal commented on #1604
Hi @mshafrir-stripe
I want to use stripe for American Express payment which has 4-digit CVV code.But stripe give error at cvv validation (as accepting only 3 digit cvv).Please guide me.
Thank you

[2019-11-26 06:08] shubhamssinghal opened #1877 "Stripe 4 digit cvv"
Hi
I want to use stripe for American Express payment which has 4-digit CVV code.But stripe give error at cvv validation (as accepting only 3 digit cvv).Please guide me.
Thank you

[2019-11-26 08:42] jose-t opened #1878 "Add the billing address to the AddPaymentMethodActivity"
## Summary
On iOS, when we add a card, the SDK offers to fill in the billing address that will be attached to the new card but on Android there is no such feature.

## SDK version
12.5.0

## Other information
I have found the `PaymentMethod.BillingDetails.Builder` but we can not attach it to the `PaymentMethodsActivityStarter`. It is only for the `PaymentFlowActivityStarter`.

Maybe the `PaymentMe

[2019-11-26 15:39] mshafrir-stripe commented on #1878
@jose-t thanks for the suggestion. We'll explore adding this functionality.

[2019-11-26 15:41] mshafrir-stripe commented on #1877
@shubhamssinghal I'm unable to reproduce this issue with either `CardInputWidget` or `CardMultilineWidget`. As you can see from the screenshots below, I was successfully able to enter an Amex card number with 4 digit CVV.

Can you provide me some way to reproduce this issue?

![Screenshot_1574782811](https://user-images.githubusercontent.com/45020849/69648358-28170900-1039-11ea-91c7-a106a78e99b0.p

[2019-11-26 16:56] shubhamssinghal commented on #1877
Can you please provide me the android code for these UI ?

On Tue, Nov 26, 2019, 9:11 PM Michael Shafrir <notifications@github.com>
wrote:

[2019-11-26 17:10] mshafrir-stripe commented on #1877
@shubhamssinghal please refer to our [example app](https://github.com/stripe/stripe-android/tree/master/example)

[2019-11-26 17:14] shubhamssinghal commented on #1877
Thank you.
But i want to ask is that for custom card ?

On Tue, Nov 26, 2019, 10:40 PM Michael Shafrir <notifications@github.com>
wrote:

[2019-11-26 17:18] mshafrir-stripe commented on #1877
@shubhamssinghal I'm not sure I understand your question. Are you asking if that's a test card? If so, yes, we offer test cards here https://stripe.com/docs/testing#cards

[2019-11-26 17:20] shubhamssinghal commented on #1877
Sorry For misunderstanding.
I am creating custom card layout in my android application when i use
method of stripe with cardvalidation() method if fails at checkcvv()
method

On Tue, Nov 26, 2019, 10:48 PM Michael Shafrir <notifications@github.com>
wrote:

[2019-11-26 17:23] mshafrir-stripe commented on #1877
@shubhamssinghal does it fail with the test card `378282246310005`?

[2019-11-26 17:24] shubhamssinghal commented on #1877
Yes

On Tue, Nov 26, 2019, 10:53 PM Michael Shafrir <notifications@github.com>
wrote:

[2019-11-26 17:25] mshafrir-stripe commented on #1877
@shubhamssinghal it sounds like you might be doing something to modify the default behavior.

What version of stripe-android are you using? Can you share your code here?

[2019-11-26 17:27] shubhamssinghal commented on #1877
Sure
Right now I am at my home its night here as soon as i will reach my office
I'll send u the code

On Tue, Nov 26, 2019, 10:55 PM Michael Shafrir <notifications@github.com>
wrote:

[2019-11-26 19:21] chander-stripe commented on #1604
@shubhamssinghal have you tried w/ test cards? Stripe SDK only allows 4 digit CVV's if we detect it's an AMEX card, so if it's not allowing 4 digits, likely the input may not be AMEX.

Can you try with our test cards here? https://stripe.com/docs/testing

Thanks!

[2019-11-27 05:17] shubhamssinghal commented on #1877
Hey @msaffitz-stripe
Thank you for your valuable support. It is resolved we were using wrong test card.
Thank you again

[2019-11-27 05:17] #1877 closed

[2019-11-27 11:23] alaffray opened #1887 "Instant app with Stripe crash while trying to init"
## Summary
We were looking at implementing  instant app feature but we are currently getting a crash when initialising Stripe.

`Stripe(this, PaymentConfiguration.getInstance(this).publishableKey)`

cause this;
[code]

## Code to reproduce
In order to reproduce, deploy an instant app with an activity that init Stripe SDK 12.5.0

## Android version
API 28

## Impacted devices
Only testing on Androi

[2019-11-27 14:31] mshafrir-stripe commented on #1887
@alaffray thanks for filing, we'll work on fixing this promptly.

[2019-11-27 15:05] #1887 closed

[2019-11-27 15:40] mshafrir-stripe commented on #1887
@alaffray to be clear, you're talking about [Google Play Instant](https://developer.android.com/topic/google-play-instant/getting-started/instant-enabled-app-bundle)?

[2019-11-27 15:43] alaffray commented on #1887
yes.

[2019-11-27 16:45] pvarry opened #1891 "onPaymentResult not working properly for confirmPayment"
I have a Payment Intent witch is not captured and I try to confirm it with the following code, the 3d secure page appear and I validate it normally but the method `onPaymentResult` return a false and the callback is not triggered. Few weeks ago this worked perfectly but one day we got this issue and we don't know if something is wrong.

## Summary
Method `onPaymentResult` on onActivityResult retur

[2019-11-27 17:09] mshafrir-stripe commented on #1887
@alaffray can you verify if `12.6.0` fixes this issue for you?

[2019-11-27 17:10] AndriyTheProgrammer opened #1893 "AddPaymentMethodActivityStarter not working using individually"
## Summary
I used PaymentMethodsActivityStarter to use screens provided by stripe for users to select/delete/add credit cards. It worked. Right now I need to do changes in flow so screen with selecting and deleting cards will be on us. As described here https://stripe.com/docs/mobile/android/basic#use-individual-activities "These activities can also be used individually." So I changed just line of

[2019-11-27 17:24] mshafrir-stripe commented on #1893
@AndriyTheProgrammer thanks for filing this issue.

`AddPaymentMethodActivityStarter`, when used individually, will launch `AddPaymentMethodActivity`, which subsequently returns its result via to your Activity/Fragment. The `PaymentMethod` object can be obtained by passing in the result `Intent` object to `AddPaymentMethodActivityStarter.Result.fromIntent()`.

Here's an example:
[code]

This is mo

[2019-11-27 17:30] mshafrir-stripe commented on #1891
@pvarry I just attempted to reproduce this in our example app's [PaymentAuthActivity](https://github.com/stripe/stripe-android/blob/0e92ee691aea11414868e3924c3b9b25562c6025/example/src/main/java/com/stripe/example/activity/PaymentAuthActivity.kt) and was unsuccessful.

Does `onPaymentResult` always return false for you?

[2019-11-27 18:16] AndriyTheProgrammer commented on #1893
Thanks for quick response. I used
`val response = AddPaymentMethodActivityStarter.Result.fromIntent(data)`
it returned paymentMethod with id `pm_1FjUbYK9QYAUfRBfTVV0925T` but looks like it isn't attached to any customer. On Stripe dashboard->developer->logs I can see new payment method, but there are no any info about that on  dashboard->developer->events, even more I can't find any mentions of th

[2019-11-27 18:57] mshafrir-stripe commented on #1893
@AndriyTheProgrammer take a look at [AddPaymentMethodActivityStarter.Args.Builder](https://github.com/stripe/stripe-android/blob/dc6a80f35ac79a6925e4adf4ed1ee53536e7f29c/stripe/src/main/java/com/stripe/android/view/AddPaymentMethodActivityStarter.kt#L40) for some configuration options.

In particular, you should be able to use `setShouldAttachToCustomer(true)` to attach to the `Customer` represent

[2019-11-27 19:20] mshafrir-stripe commented on #1853
This is now available in v12.6.0

[2019-11-28 08:12] alaffray commented on #1887
Still happening with `12.6.0`

[code]

[2019-11-28 11:00] pvarry commented on #1891
I use this method in 4 differents spots on the app and it work perfectly, but this is the only time I use it with capture amount greeter then pre-auth amount. Also note `paymentMethodId` used on `confirmPayment` is the same one then the first time.

I will explain exact repro steps:
Used card: `4000 0027 6000 3184`
1) The backend make a pre-auth (1.05 €), this card require a 3Ds so a secret is sen

[2019-11-28 12:46] AndriyTheProgrammer commented on #1893
@mshafrir-stripe Thanks that worked for me, now I can handle adding payment method by Stripe and no any visible problems found)
I suggest to make changes to android stripe basic integration guide so this problem will not be encountered by other developers

[2019-11-28 12:46] #1893 closed

[2019-11-28 20:30] Awais-Ali commented on #1838
@mshafrir Any other way that we can populate already added card on the basis of info getting from server, Actually i am showing a list of all added cards, so i was looking for way to populate a relevant card

[2019-11-28 21:34] mshafrir-stripe commented on #1838
@Awais-Ali are these cards attached to a Customer object?

[2019-11-29 23:22] kovac777 opened #1895 "Wrong validateExpYear() method for test cards"
## Summary
When I try validate expiration date (12/99) of card with number 4242 4242 4242 4242 then result is TRUE! Next I send request for get source of this card and I get error what expiration year was incorrect.
Stripe support only expiration year **(now + 50 years)** !!!

## Android version
All

## Impacted devices
All

## SDK version
12.4.0

[2019-11-30 19:18] Awais-Ali commented on #1838
@mshafrir  Correct

[2019-12-02 09:53] deibeeed commented on #1141
for someone out there who's still experiencing the error, this might help
https://github.com/bcgit/bc-java/issues/390

[2019-12-02 09:54] deibeeed commented on #1139
for someone out there who's still experiencing the error, this might help
https://github.com/bcgit/bc-java/issues/390

[2019-12-02 14:25] mshafrir-stripe commented on #1838
@Awais-Ali perfect!

[2019-12-02 14:25] #1838 closed

[2019-12-02 14:38] mshafrir-stripe commented on #1895
@kovac777 can you give me exact repro steps? Is this through `CardInputWidget` or `CardMultilineWidget`? Or directly through the `Card` class?

I wasn't able to reproduce the issue:

![Screenshot_1575297482](https://user-images.githubusercontent.com/45020849/69967961-73249680-14e7-11ea-9371-d80a01e83f73.png)

![Screenshot_1575297471](https://user-images.githubusercontent.com/45020849/69967966-7586

[2019-12-02 15:19] kovac777 commented on #1895
I use my own UI inputs (not from sdk), then call `DateUtils.isExpiryDataValid(expiryMonth: Int, expiryYear: Int)` with params 12 and 99 and this method return true

[2019-12-02 15:36] mshafrir-stripe commented on #1895
@kovac777 do you mean `DateUtils.isExpiryDataValid(expiryMonth: Int, expiryYear: Int)`?

[2019-12-02 19:39] malacavilla opened #1899 "UnknownHostException returned instead of previous APIConnectionException on version upgrade"
## Summary
When upgrading from Stripe SDK version 10.1.1 to 12.5.0, it seems like the previous `APIConnectionException` that would be thrown from methods like `Stripe().createSourceSynchronous()` is instead a `UnknownHostException`. This was found by invoking the above method while the phone is in airplane mode.

## Code to reproduce
Attempt to invoke a method like below while a device is in airpl

[2019-12-02 20:55] mshafrir-stripe commented on #1887
@alaffray this will be fixed in 12.6.1

[2019-12-02 22:42] kovac777 commented on #1895
Corrected the previous comment

[2019-12-03 08:40] alaffray commented on #1887
@mshafrir-stripe Thanks, all good.

[2019-12-03 12:18] sergey-belenkiy opened #1903 "Incorrect payment intent result outcome for canceled (close) 3D Secure"
## Summary
<img width="215" alt="Screen Shot 2019-12-03 at 1 52 06 PM" src="https://user-images.githubusercontent.com/20242621/70048931-210d6f00-15d4-11ea-96fb-60b2a8eae1d8.png">

When user close "Secure Checkout" (3DS) screen using "Close" button on toolbar or physical  back button, PaymentIntentResult returns with `Outcome.FAILED` but expected result is `Outcome.CANCELED`.
Note: For 3DS2 it work

[2019-12-03 12:28] sergey-belenkiy opened #1904 "Add a card: keyboard appears without focus"
## Summary
![mobizen_20191203_125843](https://user-images.githubusercontent.com/20242621/70051055-feca2000-15d8-11ea-8159-bb32ef1cabbd.gif)

## Code to reproduce
`paymentSession.presentPaymentMethodSelection()`

## SDK version
v.12.6.1

[2019-12-03 18:52] #1899 closed

[2019-12-03 20:04] mshafrir-stripe commented on #1904
@sergey-belenkiy thanks for filing. I can't reproduce this on an emulator running API 28 - I only get the keyboard when I tap on one of the fields. What device setup are you on?

[2019-12-03 21:07] mshafrir-stripe commented on #1895
@kovac777 looking into this further, we plan to leave the current behavior as is. If we add client-side rules and the API logic changes, we might have unexpected/breaking behavior.

[2019-12-03 21:07] #1895 closed

[2019-12-04 21:51] samernady commented on #1044
hello any update on this ? I am on 10.4.0 and having the same issue

[2019-12-04 22:02] mshafrir-stripe commented on #1044
@samernady what versions of Gradle and Android Gradle Plugin are you using?

[2019-12-04 22:07] samernady commented on #1044
@msaffitz-stripe :

thank you i used the suggestion of @nirpatel15  and i upgraded the
`        classpath 'com.android.tools.build:gradle:3.2.0'` to
`        classpath 'com.android.tools.build:gradle:3.5.0'
`

and it worked

[2019-12-04 22:12] needlerp commented on #1878
I agree this is necessary - currently in Android a customer can add their card details, but if they don't have an existing billing address associated with their account, attempting to charge the card for a subscription results in a 'Card XXX not ready to charge'

[2019-12-05 19:59] #1903 closed

[2019-12-05 21:25] needlerp opened #1923 "Pre-populate PaymentSession based on payment method"
I'm wanting to populate a PaymentSession with card data based on a paymentMethod that is retrieved from the server (default invoice method), and display the last 4 digits and card type without the customer having to go into presentPaymentMethod Selection.

Is there a way to pass a payment method id to the payment session to allow me to retrieve paymentMethod.card details when a page loads?

This b

[2019-12-06 10:00] sergey-belenkiy commented on #1904
@mshafrir-stripe SM-G965F (API 28)

[2019-12-06 17:00] pvarry commented on #1891
I just updated the library to `12.6.1` and the issue is still present, this issue is blocking for our payment workflow !
Did you have more informations ?

[2019-12-06 17:28] mshafrir-stripe commented on #1891
@pvarry what version did you update from?

[2019-12-06 17:38] pvarry commented on #1891
I provider it in the original message, it's 12.5.0

[2019-12-06 17:43] mshafrir-stripe commented on #1891
@pvarry my understanding is that you're experiencing the issue on 12.5.0 - is that correct? If so, what version did you upgrade from to 12.5.0?

[2019-12-06 18:26] mshafrir-stripe commented on #1923
@needlerp is the idea that you can specify your own `PaymentMethod` so that `PaymentSessionData.isPaymentReadyToCharge` returns true, assuming shipping requirements are met?

[2019-12-06 18:29] needlerp commented on #1923
Yes, and I also want to be able to populate a graphic with card.brand and card.last4 on page load, based on the PaymentMethod that I provide from the backend (the invoice default_payment_method).

[2019-12-06 18:38] #1904 closed

[2019-12-06 18:40] mshafrir-stripe commented on #1904
@sergey-belenkiy I merged a potential fix for the issue. I don't have a Samsung device to test on so I can't verify on my own. Can you try using Jitpack to verify?

https://jitpack.io/#stripe/stripe-android/e339e7e783

[2019-12-06 19:29] pvarry commented on #1891
Sorry I didn't understand the previous message 🤔

I updated from `12.1.0` to `12.5.0` on 14 november and a week ago I start to notice the problem

[2019-12-06 20:03] mshafrir-stripe commented on #1891
@pvarry would you be able to test a few versions between 12.1.0 and 12.5.0 and tell me what version it broke on?

[2019-12-06 20:20] pvarry commented on #1891
Yes I will test the version between the two but right now I don't have my computer. I will add some details soon

[2019-12-06 20:27] mshafrir-stripe commented on #1891
@pvarry thanks for your assistance!

[2019-12-09 11:06] pvarry commented on #1891
Hello again,
After a few hours of debugging I finally found the stupid error I made. I using `resultCode` instead of `requestCode`, and I didn't know why I using this 🤦‍♂

Thanks a lot for your time, and again I'm sorry

[2019-12-09 14:32] mshafrir-stripe commented on #1891
@pvarry I’m glad to hear you were able to resolve this issue. Sounds like an easy mistake to make!

[2019-12-09 14:32] #1891 closed

[2019-12-09 15:11] ichrisa opened #1937 "onActivityResult not always called"
## Summary
We have an issue in production where onActivityResult is received after the calling activity has been destroyed.

To reproduce this I’ve enabled “Don’t keep activities” through the debug settings, however with this setting enabled we don't always receive a callback to `onActivityResult`.

- on API 29 around 3 in 10 `confirmPayment` calls didn't invoke `onActivityResult` when the user ca

[2019-12-09 16:19] chrisanderson79 commented on #1937
After attaching the debugger it appears that when the `Stripe3ds2CompletionStarter` attempts to start the `PaymentRelayActivity` it's host is using a WeakReference to the activity that called it, if this is cleared we never receive a callback.

[code]

[2019-12-09 19:57] timboctwo commented on #796
Hi, I am trying to implement Stripe into my project, I followed the documentation and use the `implementation 'com.stripe:stripe-android:12.6.1'` in my Gradle app file.
The log returns a `Manifest merger failed with multiple errors` I have already migrated my project to AndroidX, upgrade my google services dependencies to `com.google.gms:google-services:4.3.3` and the Gradle tools to `classpath 'c

[2019-12-09 21:56] mshafrir-stripe commented on #796
@timboctwo what version of Gradle are you using? Check `gradle-wrapper.properties`.

[2019-12-09 22:13] timboctwo commented on #796
Nevermind, just check that the minimun SDK must be 19 and I had it on 17. Although thanks for the quick response.

[2019-12-09 23:42] mshafrir-stripe commented on #1923
@needlerp I'm assuming the graphic would be something you render on of your app screens?

[2019-12-09 23:51] mshafrir-stripe commented on #1937
@chrisanderson79 thanks for filing. I'll look into this issue. Can you only reproduce when "Don’t keep activities" is enabled?

[2019-12-10 00:16] mshafrir-stripe commented on #1779
@Agies please re-open this issue if you still need assistance

[2019-12-10 00:16] #1779 closed

[2019-12-10 00:53] mshafrir-stripe commented on #1353
@sregg did you mean `CardMultilineWidget`? We don't yet support postal code in `CardInputWidget`, although we're working on adding it.

[2019-12-10 01:28] mshafrir-stripe commented on #1923
@needlerp for obtaining the PaymentMethod card details, could you use https://stripe.com/docs/api/invoices/object#invoice_object-default_payment_method and expand the field? That way you would get the data you need without needing to fetch it on the client.

Instead of specifying the PaymentMethod to use in `PaymentSessionConfig`, would it be sufficient to add a setter for `isPaymentMethodRequired

[2019-12-10 08:35] chrisanderson79 commented on #1937
The only way we can reproduce this is by enabling the “Don’t keep activities” flag.

[2019-12-10 13:43] needlerp commented on #1923
Yes, currently onPaymentSessionChanged I set a button graphic using paymentMethod.card.brand and paymentMethod.card.last4. However, currently this only works once the customer has selected a card, what I'm trying to do is populate it on page load using the paymentMethod retrieved from default_payment_method.

[2019-12-10 13:48] needlerp commented on #1923
Ah, OK! I'm already retrieving customer.invoice_settings.default_payment_method using stripe.customers.retrieve in the backend - so presumably I just need to expand default_payment_method in that call to pass the required information?  Not as elegant as the iOS SDK, but sounds as though it'll work!

[2019-12-10 14:52] dverrastro opened #1941 "3D Secure flow doesn't appear"
Hi all, I'm trying to integrate Stripe into my Android app. Currently this is my flow:

1) I request my server to create a Stripe Customer (if it doesn't already exist)
2) I request my server to create a PaymentIntent and return it to the client
3) I take the Stripe Card from CardInputWidget
4) I take the SourceParams from Card
5) I request Stripe to create a Source using stripe.createSource (card

[2019-12-10 15:42] mshafrir-stripe commented on #1941
@dverrastro can you verify that the line `stripe.confirmPayment(this, confirmParams)` in step 7 is called by setting a breakpoint?

Did you also override `onActivityResult` to get the result? There might be an exception thrown that would you can access via `stripe.onPaymentResult()` within `Activity.onActivityResult()`.

Can you also provide the test mode Payment Intent id so I can help debug?

[2019-12-10 15:44] mshafrir-stripe commented on #1923
Yes, that should work to get the full Payment Method object.

On the client, are you attempting to collect shipping information via `PaymentSession`?

[2019-12-10 15:46] needlerp commented on #1923
No, I don't need shipping information as it's a digital subscription. However I do need billing information to ensure my Radar doesn't fail on postcode missing - I'm following #1878 as currently the payment fails if the customer doesn't already have billing information associated with their account.

[2019-12-10 15:50] mshafrir-stripe commented on #1923
@needlerp thanks. Are you using `PaymentSession` or `AddPaymentMethodActivity` to collect payment information? You can require postal code in the current SDK:

`paymentSession.presentPaymentMethodSelection(true)`

or

[code]

[2019-12-10 15:51] mshafrir-stripe commented on #1878
If you only need postal code, you can require it currently in the SDK by using:

`paymentSession.presentPaymentMethodSelection(true)`

[2019-12-10 15:52] needlerp commented on #1923
I'm using presentPaymentMethodSelection. My understanding was that currently it only collects US zip codes, and doesn't automatically correct for country data. I'm in the UK so need AlphaNumberic post codes.

[2019-12-10 16:01] dverrastro commented on #1941
Thank you for reply.

Yes, it's called.
I've added this:
[code]
And in fact I get an exception (but 3d secure flow should appear anyway, shouldn't it?)

[code]

Another question, I should use this:
`ConfirmPaymentIntentParams confirmParams = ConfirmPaymentIntentParams.createWithSourceId(sourceId, clientSecret, RETURN_URL);`

instead of:
`ConfirmPaymentIntentParams confirmParams = ConfirmPaymentInt

[2019-12-10 16:07] mshafrir-stripe commented on #1941
@dverrastro can you share the entire Activity if possible?

[2019-12-10 16:16] mshafrir-stripe commented on #1941
@dverrastro I recommend using Payment Methods if you only need to support Cards.

[2019-12-10 16:17] mshafrir-stripe commented on #1923
@needlerp thanks, that makes sense

[2019-12-10 16:24] dverrastro commented on #1941
[code]

[2019-12-10 16:27] needlerp commented on #1923
Yes thanks, expanding default_payment_method gives the information needed.

[2019-12-10 16:28] #1923 closed

[2019-12-10 16:33] mshafrir-stripe commented on #1941
@dverrastro where is `ModelloCondiviso.getSingleton().getBean("params")` coming from? If you're using `CardInputWidget` or `CardMultilineWidget`, you can just call `cardWidget.getPaymentMethodCreateParams()`? Then use that to create `ConfirmPaymentIntentParams`.

Also, the Payment Intent you're attempting to confirm is not associated with the account which the publishable key you're using belongs

[2019-12-10 17:43] dverrastro commented on #1941
Yes I use CardInputWidget.getPaymentMethodCreateParams(). ModelloCondiviso is only a Map where I put the result of CardInputWidget.getPaymentMethodCreateParams() because I have the CardInputWidget in another activity.
How can I associate the PaymentIntent with the account? Or specify the account in the confirm?
The key test on client and backend are the same

[2019-12-10 17:54] mshafrir-stripe commented on #1941
@dverrastro I checked the account associated with the Payment Intent ID (`pi_1FoAwgJiJX5p08gMGEMsqZkN`) and the account associated with the request ID (`req_IEf7yFmDXdcNEK`) and they don't match. Looks like you've mixed up keys at some point. If you're using Connect, which it looks like you might be, you'll need to pass the connected account ID when creating the `Stripe` instance. See https://stri

[2019-12-11 01:06] mshafrir-stripe commented on #1432
@Flo354 please reopen if this is still an issue. Thanks.

[2019-12-11 01:06] #1432 closed

[2019-12-11 10:31] GreenDeveloperMukesh commented on #1496
Thanks i figured it out, converted the code to JavaAndroid, it workis fine thanks

[2019-12-11 13:57] Thamizhan opened #1942 "Always failed with No such payment_intent: "pi_****************************"
## Summary
Whenever we try to confirm payment with Android it getting failed with `No such payment_intent: "pi_***"`

In our app we collect card details and attach it to customer first, we are not calling the payment at this time. At the time of payment we create payment intent in server with already added payment method id or card id and send client secret to Android app. In App we create `Confir

[2019-12-11 14:18] pvarry opened #1943 "[Doc] The online documentation may need a small update on SetupIntent"
I just go to this page of the documentation : https://stripe.com/docs/payments/save-and-reuse#android

Under the section to verify SetupIntent, I notice the link `SetupIntentResult.Status` is dead and the associated page is not found. This paragraph with name of methods and enum may not be correct according the exemple below, can you take a look at it?

Thank,

[2019-12-11 14:22] mshafrir-stripe commented on #1942
@Thamizhan thanks for filing. Looking at the error message, it appears that there's an additional character, `"`, before the `pi_` part of your Payment Intent. Can you double check how you're passing the client secret from the backend and verify that you aren't prepending any characters before `pi_`? I recommend setting a breakpoint in the client to verify.

[2019-12-11 14:49] mshafrir-stripe commented on #1943
@pvarry thanks for filing, I'll fix this

[2019-12-11 22:18] mshafrir-stripe commented on #1943
The docs have been updated.

[2019-12-11 22:18] #1943 closed

[2019-12-11 22:18] dverrastro commented on #1941
Yes, I use Connect. Passing the connected account ID when creating the Stripe instance works for 3D Secure flow, but it creates another problem. I need to create customers and sources and do the attach on the intermediary account (mine) and instead make the payment on the account of the third part (which I used to create the PaymentIntent on the server and the instance of Stripe on client, as you

[2019-12-11 22:23] mshafrir-stripe commented on #1941
@dverrastro for now I would create two Stripe instances. We plan to add support for passing Connected Account on a per-request basis, but it's not available yet.

[2019-12-11 22:49] pvarry commented on #1943
Thanks you a lot

[2019-12-12 04:12] Thamizhan commented on #1942
@mshafrir-stripe Thanks for the hint.
Yes the problem is in how we read client secret from API response.
When creating ConfirmPaymentIntentParams its sending client secret as `"pi_*********************_secret_*******"`. So that extra `""` cause this problem.
Now we have fixed it and everything works perfect.
Thanks you so much for prompt support.

[2019-12-12 04:13] #1942 closed

[2019-12-12 14:17] jose-t commented on #1878
I need a billing address foreach new card. Maybe the user can attach a billing address to a new card but I didn't find a way to do it.

[2019-12-12 19:01] ekimai opened #1945 "Hide content on activities"
## Summary
It is not possible to use the secure flag on stripe activities.  For example, this might be done in the activity as follows:

`window.addFlags(WindowManager.LayoutParams.FLAG_SECURE)`

This has the effect of protecting the content from screen grabs and content showing in the app carousel.  This prevents making content available to any trusted app on the Android device, including the lau

[2019-12-12 20:27] mshafrir-stripe commented on #1945
@ekimai what activities in particular are you hoping to hide content on? AddPaymentMethodActivity?

[2019-12-13 09:37] ekimai commented on #1945
Given the nature of the app I'm working on, it is a requirement to set this flag on **all activities**.  Any third-party libraries we use that call their own activities would need to allow this flag.
.

[2019-12-15 02:31] ryan-ccm opened #1948 "StripeEditText NullPointerException"
## Summary
I got a crash about StripeEditText from Firebase Crashlytics:
[code]

## Code to reproduce
It is crashed on `AddPaymentMethodActivity` from Firebase screen_view event

## Android version
Android 9

## Impacted devices
Samsung Galaxy S8+

## Installation method
build.gradle

## SDK version
12.2.0

## Other information
Date: Dec 11, 2019, 9:46:00 PM

[2019-12-16 14:54] mshafrir-stripe commented on #1948
@ryan-ccm thanks for filing. This appears to be a known issue with Samsung phones: https://issuetracker.google.com/issues/37127697

I'll see if there's a workaround.

[2019-12-16 15:01] ryan-ccm commented on #1948
Noted, thanks for help.

[2019-12-16 16:28] freszu commented on #1937
Hi came across same problem, don't keep activities is not the only case in which it occurs(just in my case i am starting flow from fragment). You can simply just go into split screen and resize activity/fragment while the Auth Fragment is opened and you will never receive the result afterwards.

This is due to the fact that library holds onto the fragment in [weak reference](https://github.com/str

[2019-12-16 17:06] chrisanderson79 commented on #1937
For what its worth we discovered was our stripe instance was scoped at the activity level which meant the weak reference was cleared when the activity gets destroyed. Our setup was similar to the sample here: https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/activity/PayWithGoogleActivity.kt#L31

Moving our stripe instance to be scoped at the application

[2019-12-16 18:25] #1807 closed

[2019-12-16 18:25] #1948 closed

[2019-12-16 22:02] mansoorshahsaid commented on #1878
Need the feature badly! Any way to get the billing information for now without an official build?

[2019-12-16 22:11] needlerp commented on #1878
I've lost several customers of the last week because the Android app comes up with an error 'Card not ready to charge' as there are no billing details.

Is there a timescale for this to get incorporated, or a work-around in the interim?

[2019-12-16 22:39] mshafrir-stripe commented on #1948
This is now available in 12.7.0

[2019-12-16 22:39] mshafrir-stripe commented on #1807
This is now available in 12.7.0

[2019-12-16 22:42] mshafrir-stripe commented on #1703
@janki-shah-pavans can you verify if this is fixed in 12.7.0?

[2019-12-17 03:12] Sakura1 opened #1954 "Error when trying to get a release apk"
My project compiles perfectly but when I tryed to get a release apk then I get the following error.
FAILURE: Build failed with an exception.
What went wrong:
Execution failed for task ':app:transformClassesAndResourcesWithR8ForRelease'.
Java heap space

**I try to add the following code in proguard-rules.pro but it doesn't work**
Rules for IconTextInputLayout
-keep class com.google.android.materia

[2019-12-17 04:51] mshafrir-stripe commented on #1954
@Sakura1 you shouldn't need to explicitly add those Proguard rules. Can you try upgrading Gradle to `5.6.4`? At what point did this issue start happening?

[2019-12-17 06:48] Sakura1 commented on #1954
Upgrading Gradle doesn't work.
It occurs when I Generate Signed a release APK.
And I have just found the solution
set org.gradle.jvmargs=-Xmx4096m in gradle.properties.

[2019-12-17 11:55] sergey-belenkiy commented on #1945
@ekimai
you can try this hack on your application class
`registerActivityLifecycleCallbacks(new ActivityLifecycleCallbacks() {
            @Override
            public void onActivityCreated(@NonNull Activity activity, @Nullable Bundle savedInstanceState) {
                activity.getWindow().addFlags(WindowManager.LayoutParams.FLAG_SECURE);
            }

           ...
        });`

[2019-12-17 12:14] sergey-belenkiy opened #1955 "Failed to resolve: com.stripe:stripe-android:12.7.0"
For exist or new (empty) project
<img width="694" alt="Screen Shot 2019-12-17 at 2 13 58 PM" src="https://user-images.githubusercontent.com/20242621/70994717-7cad2180-20d7-11ea-9df9-635f7a115eb3.png">

[2019-12-17 14:39] mshafrir-stripe commented on #1955
@sergey-belenkiy thanks for filing. I'm publishing it now.

[2019-12-17 14:39] #1955 closed

[2019-12-17 15:50] mshafrir-stripe commented on #1954
@Sakura1 this is expected, because the default max memory allocation was reduced in Gradle 5.x

[2019-12-17 15:50] #1954 closed

[2019-12-17 17:10] mshafrir-stripe commented on #1878
I have put up a PR to add support for this feature. See #1956 for more details.

[2019-12-17 18:16] ViHtarb opened #1959 "AMEX CVC validating"
## Summary
Bugged AMEX CVC validating. AMEX CVC can be 4 symbols only, but card.validateCVC() method returns true in case with 3 symbols.

## SDK version
12.7.0

[2019-12-17 18:19] mshafrir-stripe commented on #1959
@ViHtarb 3 digit CVC is valid in some rare cases for Amex, so we allow both 3 and 4

[2019-12-17 18:19] #1959 closed

[2019-12-17 18:55] #1878 closed

[2019-12-17 19:16] sergey-belenkiy opened #1960 "Error: Duplicate value for resource 'attr/number' with config ''."
## Summary
After update from v.12.6.1 to v.12.7.0 I get error when I try to make rebuild.
<img width="1099" alt="Screen Shot 2019-12-17 at 9 07 58 PM" src="https://user-images.githubusercontent.com/20242621/71026444-f2ce7a00-2111-11ea-9fbf-ca3cbe53625b.png">
I didn't find this attr in Stripe SDK source code but I think it's come from 3DS2 SDK (2.2.5).

## SDK version
v.12.7.0

[2019-12-17 20:20] mshafrir-stripe commented on #1960
@sergey-belenkiy do you define `number` somewhere in your app? I'm not seeing it anywhere in mind. It could be pulled in from another dependency.

[2019-12-17 20:55] #1945 closed

[2019-12-17 20:59] mshafrir-stripe commented on #1945
This will be available in 12.8.0

[2019-12-17 21:01] mshafrir-stripe commented on #1778
@youngliangzhang can you tell me more about your integration? Are you using `CardInputWidget` or `CardMultilineWidget`?

[2019-12-17 21:31] mshafrir-stripe commented on #1878
This is now available in 12.8.0

[2019-12-18 05:42] mshafrir-stripe commented on #1283
This is now available. See #1956.

[2019-12-18 05:42] #1283 closed

[2019-12-18 05:45] mshafrir-stripe commented on #1353
A universal postal code field is now available on `CardInputWidget`.

We don’t plan to offer country detection based on card number in our mobile SDKs.

[2019-12-18 05:45] #1353 closed

[2019-12-18 05:47] #1703 closed

[2019-12-18 06:39] TarunMehandiratta commented on #514
I have added input type as number password but it is not working

[2019-12-18 07:44] Wajahat-Jawaid opened #1964 "PaymentMethod card image"
## Summary
 I can't find the method to retrieve selected payment method card image in **PaymentSession.PaymentSessionListener onPaymentSessionDataChanged().**

## SDK version
I'm using Stripe 12.8.0.

## Other information
On the other hand this property is present in iOS SDK with call **paymentContext.selectedPaymentOption?.image**

[2019-12-18 09:22] SergeyMilewski opened #1965 "New SDK 12.8.0 broke down my build."
After updating to the version 12.8.0 from the 12.6.1 I'm getting an error with compilation. Please see the attachment. Those dialogs inherit BottomSheetDialog. min android sdk 23 target sdk 29
I'm using lates AndroidX libraries.
and stable version implementation 'com.google.android.material:material:1.0.0'
<img width="1370" alt="Screenshot 2019-12-18 at 10 16 08" src="https://user-images.githubuse

[2019-12-18 09:47] youngliangzhang commented on #1283
thanks 👍

[2019-12-18 10:09] XplittR opened #1966 "Version 12.7.0 material-version"
## Summary
Version v12.7.0 broke  our app, as it imports `com.google.android.material:material:1.2.0-alpha2`.

## Code to reproduce
Have a project which uses `com.google.android.material:material:1.0.0`, and get `com.google.android.material:material:1.2.0-alpha2` by importing `com.stripe:stripe-android:12.7.0`.

## Android version
Android  9 and 10, at least

## Installation method
Gradle

## SDK

[2019-12-18 10:32] SergeyMilewski commented on #1966
The same for me. I've rolled back to 12.6.1 alpha version in production it's movetón.

[2019-12-18 12:37] mshafrir-stripe commented on #1966
Sorry for the inconvenience. I’ll roll back the version of the material library and do a new SDK release today.

[2019-12-18 12:38] mshafrir-stripe commented on #1965
Thanks for filing. See #1966 for similar issue.

[2019-12-18 12:38] #1965 closed

[2019-12-18 15:15] #1966 closed

[2019-12-18 16:05] mshafrir-stripe commented on #1960
@sergey-belenkiy I believe this is related to #1966. I'm releasing 12.8.1 shortly. If you're still experiencing this issue after upgrading, please reopen.

[2019-12-18 16:05] #1960 closed

[2019-12-18 16:25] mansoorshahsaid commented on #1964
I have the same issue. On iOS, we can easily get the card image but on Android it looks like the feature is missing. Hopefully an update will come soon!

[2019-12-18 16:40] soulskill opened #1971 "Visa CVC validation is broken"
## Summary
`card.validateCVC()` on a `Visa` card type returns true with 4 characters

## SDK version
both `12.8.0` & `12.8.1`

## Other information
- seems like you guys are undergoing regression atm
- already saw the issue https://github.com/stripe/stripe-android/issues/1959 for AMEX

[2019-12-18 16:47] mshafrir-stripe commented on #1971
@soulskill thanks for filing. How are you able to repro this issue?

We have a test for CVC validation that is passing successfully: https://github.com/stripe/stripe-android/blob/e3cfb9a41894812e845780593cb0fe0bf52ac078/stripe/src/test/java/com/stripe/android/model/CardTest.kt#L519

[code]

[2019-12-18 17:02] thevoiceless commented on #1807
@mshafrir-stripe Thank you!

[2019-12-18 17:29] soulskill commented on #1971
Sorry folks for the late update. Closing this as the issue is non existent; only AMEX was an issue so far.

[2019-12-18 17:29] #1971 closed

[2019-12-18 20:53] mansoorshahsaid opened #1977 "Get default payment method on the UI side"
##  Summary
Any way to get the default payment method and then set it on UI side? On iOS, it is possible by setting `paymentContext.defaultPaymentMethod = "card_token_id" `
and then by doing that it reflects it on the UI side. Calling
`let card = paymentContext.selectedPaymentOption `
gets the correct card along with its information.

## SDK version
12.8.0

## Other information
On iOS we can do
`p

[2019-12-19 04:13] ryan-ccm opened #1979 "BadTokenException on `StripeActivity.showError`"
## Summary
Received crashlytics issue about `android.view.WindowManager$BadTokenException` on StripeActivity.showError().

## Code to reproduce
[code]

## Android version
Android 9

## Impacted devices
Razer Phone

## Installation method
gradle

## SDK version
12.6.1

[2019-12-19 09:04] kushanshah11 opened #1981 "Not able to set card holder name to card"
## Summary
Not able to set card holder name in card.

## Code to reproduce
 val card = etCardInput.card!!
card.name = etFirstName.text.toString().trim()

Error :: Val can not be reassign

## Installation method
API 28

## SDK version
 implementation 'com.stripe:stripe-android:11.2.2'

Thanks.
KushaN

[2019-12-19 09:19] maxxx commented on #1981
There is no cardholder name in default Stripe widget, so get builder from widget and add name to it, then get Card object

[code]

[2019-12-19 10:28] maxxx opened #1982 "Stripe3ds2Config comment mistake"
https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/PaymentAuthConfig.kt#L54
Comment for method "setTimeout(@IntRange(from = 5, to = 99) timeout: Int)" tells "The 3DS2 challenge flow timeout, in seconds." but actually timeout in minutes, not seconds

[2019-12-19 11:35] kushanshah11 commented on #1981
Hi @maxxx ,

Thanks for Quick update. Its working..

[2019-12-19 11:35] #1981 closed

[2019-12-19 12:25] #1982 closed

[2019-12-19 12:26] mshafrir-stripe commented on #1982
@maxxx thanks for filing, this is now updated

[2019-12-19 15:49] #1979 closed

[2019-12-20 11:58] ekimai commented on #1945
Thank you :)

[2019-12-20 14:14] sergey-belenkiy opened #1986 "Add a card: Duplicate billing address "Country" input for United Kingdom"
## Summary
![Screenshot_20191220-160407](https://user-images.githubusercontent.com/20242621/71260498-af5b5200-2343-11ea-8810-57a4666de430.jpg)

## SDK version
v.12.8.1

[2019-12-20 14:43] mshafrir-stripe commented on #1986
@sergey-belenkiy the first field is Country, the second is [County](https://en.wikipedia.org/wiki/Country)

[2019-12-20 14:50] #1986 closed

[2019-12-20 14:51] mshafrir-stripe commented on #1977
@mansoorshahsaid can you help me understand how you're using `defaultPaymentMethod`?

The stripe-ios SDK docs recommend [to no longer use this property](https://stripe.dev/stripe-ios/docs/Classes/STPPaymentContext.html#/c:objc(cs)STPPaymentContext(py)defaultPaymentMethod)

[2019-12-20 15:24] sergey-belenkiy opened #1988 "Add a card: Billing address incorrect validation for postcode and phone number"
## Summary
<img width="1409" alt="Screen Shot 2019-12-20 at 5 18 30 PM" src="https://user-images.githubusercontent.com/20242621/71264587-15000c00-234d-11ea-93fa-299c570d6ac4.png">

Examples:
Valid: SW4 6EN
Invalid: sw46en / SW46EN / sw4 6en

## SDK version
v.12.8.1

[2019-12-20 16:24] mshafrir-stripe commented on #1964
@Wajahat-Jawaid I just put up a PR that introduces a class `CardBrand` that should help with this. Assuming you have a `PaymentMethod` instance, `paymentMethod`, you can do the following:

[code]

[2019-12-20 16:32] mshafrir-stripe commented on #1988
@sergey-belenkiy thanks for filing, I'll investigate making the validation more permissive

[2019-12-20 17:47] #1964 closed

[2019-12-20 17:48] #1988 closed

[2019-12-20 17:58] #1941 closed

[2019-12-20 18:17] mshafrir-stripe commented on #1988
This is now available in `12.8.2`

[2019-12-20 18:18] mshafrir-stripe commented on #1964
This is now available in 12.8.2

[2019-12-20 21:10] ihadeed commented on #1778
@mshafrir-stripe

I'm looking to use the pre-built UIs in [this Capacitor Plugin](https://github.com/zyra/capacitor-stripe) to allow developers to easily integrate Stripe in their hybrid mobile apps. Having programmatic control over the postal code field formatting would be very helpful.

[2019-12-20 21:41] mshafrir-stripe commented on #1778
@ihadeed thanks for the feedback. Can you explain what you mean by "programmatic control over the postal code field formatting"?

[2019-12-20 23:43] youngliangzhang commented on #1778
I am using CardMultilineWidget

On Dec 21, 2019, at 5:41 AM, Michael Shafrir <notifications@github.com<mailto:notifications@github.com>> wrote:

@ihadeed<https://github.com/ihadeed> thanks for the feedback. Can you explain what you mean by "programmatic control over the postal code field formatting"?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2019-12-21 05:04] mansoorshahsaid commented on #1977
Ah thank you for your response, I'll upgrade to the new SDK version on iOS for the pre-selection of the last payment. On the Android side, do we have anything similar? Can the SDK pre-select my last payment?

[2019-12-21 12:57] mshafrir-stripe commented on #1977
@mansoorshahsaid I'm still not clear what "pre-select my last payment" means. Do you mean have the SDK show something in the UI that you provide, or have the SDK up the last payment used for a given customer?

[2019-12-21 23:32] ihadeed commented on #1778
@mshafrir-stripe

The ability to modify the expected format (and related form input validations) by calling certain methods on the Stripe SDK instead of having to modify an `.xml` file.

For example, the 3DS UI can be customized by using  `PaymentAuthConfig`:
[code]

IIRC the iOS SDK automatically detects what format is required based on the provided country. This would be easier than having to ma

[2019-12-23 07:23] Wajahat-Jawaid commented on #1977
Hey I came across the same problem. The problem is, **PaymentSession** needs to be persisted across user session. I've implemented the listener as follows

[code]

Now what I need to implement is whenever user launches this Activity either by navigating from the other activities or even launching a new instance of the app, **onPaymentSessionDataChanged** should be called to preset the last selecte

[2019-12-23 09:07] Wajahat-Jawaid commented on #1964
Thanks @mshafrir-stripe for the resolution!

[2019-12-23 14:53] #1778 closed

[2019-12-23 14:56] utwyko opened #1997 "How to style CardInputWidget on 12.7.0+"
## Summary
On previous versions of the SDK (< 12.7.0), we were able to style `CardInputWidget` by applying an `android:theme` which included an `editTextStyle`.

[code]

[code]

However, since 12.7.0 this style does not seem to be applied anymore. The [documentation page](https://stripe.com/docs/mobile/android#styling-the-card-widget) also seems to be removed. The resulting `CardInputWidget` font

[2019-12-23 20:43] mshafrir-stripe commented on #1997
@utwyko thanks for flagging this. This is a regression introduced in 12.7.0 that hardcodes the `textSize` of the `CardInputWidget` fields. I'll put up a fix shortly.

[2019-12-24 18:19] #1997 closed

[2019-12-27 07:35] Wajahat-Jawaid opened #2008 "No value for secret"
## Summary
I'm trying your sample app. When I call the **capture_payment** endpoint, it returns **{"errors":[{"code":400,"msg":"Oops, something went wrong.."}]}**

## Code to reproduce
[code]

## SDK version
I'm using SDK version 12.6.1

[2019-12-27 12:29] mshafrir-stripe commented on #2008
@Wajahat-Jawaid thanks for filing. Did you configure the secret key?

[2019-12-27 13:38] Wajahat-Jawaid commented on #2008
@mshafrir No. Though I can see it. Is it something to be configured at server end?

[2019-12-27 13:40] mshafrir-stripe commented on #2008
Did you follow the instructions here https://github.com/stripe/stripe-android/blob/master/example/README.md#deploy-the-example-backend-to-heroku

[2019-12-28 07:09] Wajahat-Jawaid commented on #2008
Actually backend is setup by the team and our iOS app is already live in the market which doesn't use any thing like **Secret Key**. Is there any way to trigger payment without having secret key since iOS is also working without that?

[2019-12-28 12:46] mshafrir-stripe commented on #2008
You must use a Secret Key to capture payment. I would figure out which secret key your iOS backend is using.

[2019-12-28 12:46] #2008 closed

[2019-12-30 07:27] xiaoxiaohua333 commented on #591
SourceParams alipaySingleUseParams = SourceParams.createAlipaySingleUseParams(
                1111, // Amount is a long int in the lowest denomination. 50 cents in USD is the minimum
                "AUD",
                "", // customer name
                "", // customer email
                "stripe://alipay");

createSourceSynchronous();

org.json.JSONObject$1 cannot be cast to java.lang.Str

[2019-12-31 05:01] ryan-ccm opened #2009 "NPE on `ShippingInfoWidget.getShippingInformation()`"
## Code to reproduce

       at com.stripe.android.view.PaymentFlowActivity.getShippingInfo(PaymentFlowActivity.java:245)
       at com.stripe.android.view.PaymentFlowActivity.onSaveInstanceState(PaymentFlowActivity.java:167)
       at android.app.Activity.performSaveInstanceState(Activity.java:1555)
       at android.app.Instrumentation.callActivityOnSaveInstanceState(Instrumentation.java:1392)

[2020-01-01 21:48] minhazur-piash opened #2010 "Country list is not updated with prepopulated country address in Add an Address page"
**Add an Address page**'s  country list is not updated with prepopulated country address.
[code]
 Whatever country I pass with shipping information in `setPrepopulatedShippingInfo()`, it's never shown as selected item. The **US**  always appears as first/selected item.

Example of shipping information I used.
[code]

[2020-01-02 13:14] mshafrir-stripe commented on #2010
@minhazur-piash thanks for filing, I'll take a look

[2020-01-02 14:27] mshafrir-stripe commented on #2009
@ryan-ccm does this happen on the latest version of the SDK?

[2020-01-02 14:48] mshafrir-stripe commented on #591
@xiaoxiaohua333 I can't reproduce this issue on the latest SDK. What version of the SDK are you using?

[2020-01-02 20:05] mshafrir-stripe commented on #1562
@FrancoisBlavoet you mentioned that you wish for the EditText’s `contentDescription` to be set to the error message, but in the code example you set the `hintText`. Can you clarify which property you’re expecting to be set?

[2020-01-02 20:17] #2010 closed

[2020-01-02 22:31] FrancoisBlavoet commented on #1562
from our conversation :)

hintText/CD is a bit of an implementation detail :slightly_smiling_face:
the user story from our auditors would be something like : “when there is an error in a form, I want to be able to hear the error associated with a specific field when I tap on it”
Which makes a lot of sense when you have multiple entry fields on the same screen. If you are blind, having the error re

[2020-01-03 15:11] mshafrir-stripe commented on #1562
@FrancoisBlavoet can you confirm that what you're describing is still the case with the most recent Stripe SDK version? When I tap on an EditText in CardMultilineWidget, the error message is read back to me. I'm testing with a Pixel 3a on Android 10.

[2020-01-03 18:01] sergey-belenkiy opened #2017 "Add a card: Billing address incorrect validation for "Postcode" and "Phone number" fields"
## Summary
Incorrect validation for "Postcode" and "Phone number" billing address fields.
![mobizen_20200103_195325](https://user-images.githubusercontent.com/20242621/71740026-bca82e80-2e63-11ea-9e34-87da5367804e.gif)

## SDK version
v.12.8.2

[2020-01-03 19:14] mshafrir-stripe commented on #2017
This is expected behavior. We don't validate the contents of the postcode or phone number.

[2020-01-03 19:14] #2017 closed

[2020-01-05 21:28] alexandre-thauvin opened #2022 "[3DS2] Can't get charge id after confirmint PaymentIntent"
## Summary
I'm implementing the new version of Stripe (SCA-READY), version 12.8.2.
Everything is working as well.
But I need to get the charge ID after confirming the PaymentIntent to send it to my server.
ID that I receive from my server (which forward stripe response) after confirming the PaymentIntent.
However, I do not receive this ID when the process needs 3ds2 (or 3ds).

(the followings snip

[2020-01-06 02:33] ryan-ccm commented on #2009
Currently, cannot be reproduced on latest SDK version.

[2020-01-06 02:40] ryan-ccm opened #2023 "IndexOutOfBoundsException on CardNumberEditText.java line 181"
## Code to reproduce

       at android.text.SpannableStringBuilder.checkRange(SpannableStringBuilder.java:1321)
       at android.text.SpannableStringBuilder.setSpan(SpannableStringBuilder.java:682)
       at android.text.SpannableStringBuilder.setSpan(SpannableStringBuilder.java:674)
       at android.text.Selection.setSelection(Selection.java:93)
       at android.text.Selection.setSelection(Se

[2020-01-06 11:05] imdBhargav commented on #1805
@mshafrir-stripe I have upgraded to the version 12.3.0. But issue is still there.

[2020-01-06 14:14] mshafrir-stripe commented on #1805
@imdBhargav are you calling `PaymentConfiguration.init()`?

[2020-01-06 14:20] mshafrir-stripe commented on #2023
@ryan-ccm thanks for filing. Do you have consistent steps to reproduce this crash?

[2020-01-06 14:23] mshafrir-stripe commented on #2009
@ryan-ccm thanks. I'll close this issue. Please reopen if you see the crash again.

[2020-01-06 14:23] #2009 closed

[2020-01-06 14:27] mshafrir-stripe commented on #2022
@alexandre-thauvin thanks for filing. It sounds like the issue is that when authenticating with 3DS2, there are zero charge objects associated with the PaymentIntent? Can you add your email address to your GitHub profile? I'll reach out to you to get some more details specific to your case.

[2020-01-06 14:35] alexandre-thauvin commented on #2022
Thank you for replying !
You can find my email on my profile :)

[2020-01-06 14:50] ryan-ccm commented on #2023
Actually, it is found by Firebase Crashlytics but I cannot reproduce it, just reported to you all and see if any idea on it.
Anyway, thanks for prompt reply.

[2020-01-06 15:41] mshafrir-stripe commented on #1562
@FrancoisBlavoet I'm closing this as I was able to reproduce the expected behavior in v12.8.2. Please reopen if you're experiencing otherwise.

[2020-01-06 17:24] mshafrir-stripe commented on #2022
@alexandre-thauvin the [charges](https://stripe.com/docs/api/payment_intents/object#payment_intent_object-charges) attribute can only be accessed using a secret key, so it isn't available via the Android SDK. You may obtain it on your backend.

[2020-01-06 18:15] alexandre-thauvin commented on #2022
Thanks for the detail @mshafrir-stripe . I leave that way so.

[2020-01-06 18:24] mshafrir-stripe commented on #2022
@alexandre-thauvin this is expected behavior. The charge isn't created until after authentication succeeds. If you attempt to query for the Payment Intent on your backend after authentication succeeds, you should see the `charges` attribute populated.

[2020-01-06 18:24] #2022 closed

[2020-01-06 18:26] mansoorshahsaid commented on #1977
@mshafrir Hey sorry for the late response. You pointed out how the new iOS version of the Stripe SDK recommending not to use `defaultPaymentMethod` so I updated the SDK. Now everything works perfectly without me needed to do anything on the client side. When I close the app and reopen it after selecting my payment method and adding funds, my payment method is preselected on the iOS page.  The vari

[2020-01-06 19:36] FrancoisBlavoet commented on #1562
Hi,

here is a capture of the behavior in the stripe sample app :
https://youtu.be/JkUp4sl3wbM
Some fields are marked in red, but that's it. It is not enough for blind, colorblind or even non tech savvy users.

Here is the expected behavior, in the instacart app :
https://youtu.be/S5ka66gkrjU

[2020-01-06 19:37] FrancoisBlavoet commented on #1562
I can't reopen since I am not part of the org :)

[2020-01-06 19:40] mshafrir-stripe commented on #1562
@FrancoisBlavoet thanks, that clarifies things. `CardMultilineWidget` is behaving as expected, but `CardInputWidget` needs to be updated.

[2020-01-06 21:18] #2023 closed

[2020-01-06 21:49] mshafrir-stripe commented on #1618
The docs will shortly be updated.

[2020-01-06 21:49] #1618 closed

[2020-01-07 12:08] simonroesch commented on #1937
Is there a timeline for resolving this issue? When the user has to switch to a resource hungry app for confirming the 3d-secure challenge, having our activity destroyed is a case we have to be able to handle during the purchase flow.

[2020-01-07 18:59] mshafrir-stripe commented on #1937
@simonroesch this is on our radar to fix in the near term, but I don't have a target date that I can share at this time

[2020-01-07 20:57] mshafrir-stripe commented on #1654
@bramski @andychen1111 has there been any progress on your end?

[2020-01-08 00:50] FrancoisBlavoet commented on #1561
Hi,
Unfortunately I am still encountering this error on the last release :
https://youtu.be/mo2U8v8kcUk
-> even though the input is incorrect (for example because the expiration date is in the past), I only get an error message and no focus change.

Can this also be fixed for CardInputWidget please ?

[2020-01-08 11:19] pvarry opened #2035 "Keyboard issue with CardInputWidget, unable to long press backspace"
On `CardInputWidget` and `CardNumberEditText`, I'm unable to remove all card number by long pressing backspace, sometime it remove 1 char, sometime 3 char. But in the CVV text field and other text field it work properly.

## Code to reproduce
Simply use a `CardInputWidget` from stripe library

## Impacted devices
Apparently I append only on phone with Google Keyboard. I append on a Pixel 1 and Pix

[2020-01-08 15:04] mshafrir-stripe commented on #2035
@pvarry thanks for filing, I posted a fix

[2020-01-08 15:06] pvarry opened #2037 "Use Stripe callback for extreme customization of card number filling"
For my app I need to create completely custom interface to fill new credit card number, with two line style and boxed text fields. After that I need some code to interact with those elements and Stripe team (thanks ❤️) have already done a part of that work but the interesting part is tagged as `private`.

So I would like to know if its possible to make `brandChangeCallback` and `completionCallback

[2020-01-08 21:55] #2035 closed

[2020-01-08 22:14] #1561 closed

[2020-01-09 23:23] csabol-stripe commented on #2037
Gonna defer to @mshafrir-stripe on this :)

[2020-01-10 21:14] josuerhg opened #2046 "3D Secure Payments - Alternative to ApiResultCallback on Stripe 10.4.6."
## Summary
Hello! I'm currently working on implementing 3D Secure Payments on an Android application, and Stripe has worked great so far for this. I've had no issues until now, but I'd like to request your help with something I'm a little lost on. Currently, I successfully manage to call the Authentication flow using Stripe Android's authenticatePayment() method. I've read the documentation and my

[2020-01-10 22:02] mshafrir-stripe commented on #2046
@josuerhg thanks for filing. I highly recommend upgrading to AndroidX if possible. There have been numerous bug fixes and other API improvements since 10.4.6 (see [CHANGELOG](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md))

`handleNextActionForPayment()` is just a rename of `authenticatePayment()` to better clarify what the method does. The functionality is identical.

`ApiResu

[2020-01-12 20:39] josuerhg commented on #2046
Thanks for the quick answer @mshafrir-stripe ! I've managed to solve my issue: turns out I was indeed overriding onActivityResult() and calling stripe.onPaymentResult(), but I was using the wrong parameters for the latter. Thanks for your recommendation too, we'll definitely upgrade to AndroidX/Stripe 12.6.x as soon as possible.

[2020-01-12 20:39] #2046 closed

[2020-01-14 07:03] Yuvi-29 opened #2051 "kotlin proguard issue when we retriever data from Customer id"
kotlin proguard issue when we  retriever data from Customer id,it return all null value, but if i disable proguard then it works fine
`JSON: {
      "sources": {
        "d": null,
        "e": null,
        "f": null,
        "g": null,
        "h": null,
        "i": null,
        "j": null,
        "k": null
      },
      "subscriptions": {
        "d": null,
        "e": null,
        "f": nu

[2020-01-14 10:42] utwyko opened #2052 "Positioning of Single line CardInputWidget elements is off"
## Summary
Since 13.0.0 (or maybe even 12.7.0) the positioning of the elements in the `CardInputWidget` is off, making the text cut off visually. This is visible in the example app in two places.

1. When clicking on the "MM/YY" field:

<img width="475" alt="Screenshot 2020-01-14 at 11 39 47" src="https://user-images.githubusercontent.com/1324503/72337337-af403f00-36c2-11ea-95ff-721ff01196a6.png">

[2020-01-14 11:44] mshafrir-stripe commented on #2051
@Yuvi-29 what version of the SDK are you using? What Stripe method are you calling? Can you share sample code?

[2020-01-14 12:08] utwyko opened #2053 "Using a 1.1.0+ Material Components theme breaks CardInputWidget layout in 13.0.0"
## Summary
Version `13.0.0` messes up the layout of the `CardInputWidget` when using a theme inheriting from `MaterialComponents` while having a dependency on MaterialComponents `1.1.0-rc01`. My guess that this was caused by the changes in #2029.

Using the stable MaterialComponents 1.0.0 version works correctly. I think this is because the full material theming support is included only in 1.1.0.

[2020-01-14 14:48] mshafrir-stripe commented on #2052
@utwyko thanks for filing. I put up a PR to fix this issue.

[2020-01-14 14:48] mshafrir-stripe commented on #2053
@utwyko thanks for filing. I put up a PR to fix this issue.

[2020-01-14 17:09] pvarry commented on #2037
Hello @mshafrir-stripe,
I would to know if you have any news about this feature request ?

[2020-01-14 19:10] #2052 closed

[2020-01-14 19:34] #2053 closed

[2020-01-15 00:50] vlad-roid commented on #772
@mshafrir-stripe Looks like v13.0.0 has reverted this fix. Not a good idea! I don't want the app to crash on Meizu so I'll stick with 12.8.2.

[2020-01-15 02:40] mshafrir-stripe commented on #772
@vlad-roid this was fixed in Material Components https://github.com/material-components/material-components-android/pull/358

[2020-01-15 02:52] vlad-roid commented on #772
Good to hear, now Google just has to publish a **release** version of it and finally get 1.1.0 out of limbo.

[2020-01-16 06:27] Yuvi-29 commented on #2051
I am using these two dependency in my gradle

*implementation 'com.stripe:stripe-android:12.0.1'implementation
"com.stripe:stripe-java:10.12.1"*
and below code is using for retrive the customer

*fun retriveCustomerSavedCard(cust_id: String){ com.stripe.Stripe.apiKey =
"sk_test_lehq3b5Mt7z9yXP9AeyL8MMZ50cAOTobre" val customerretrive =
Customer.retrieve(cust_id) var customerretrive_json =
customerr

[2020-01-16 17:35] mshafrir-stripe commented on #2051
@Yuvi-29 you should not be using `com.stripe:stripe-java` in an Android app. `com.stripe:stripe-android` is all you need. The reason for this is that `stripe-java` is assumed to be run on a backend, where you can use your secret key. You should only use a publishable key in your Android app. Please update your app accordingly and let me know if this fixes the issue.

[2020-01-16 17:35] #2051 closed

[2020-01-16 22:05] #804 closed

[2020-01-17 09:48] sharmagautam commented on #2051
@mshafrir-stripe, if  i will remove **com.stripe:stripe-java** , I am not able to use **Customer.retrieve(cust_id)** .

also i am not able to use **com.stripe.Stripe.apiKey** in my code.

how can i retrive the customer by using **retrieve** method of **Customer**  class.

[2020-01-17 11:57] massimofrittelli commented on #1430
@mshafrir-stripe Your solution did not solve the problem for me.

### Issue

When the user cancels 3DS authentication, the `paymentIntentResult.getOutcome()`  is `StripeIntentResult.Outcome.FAILED` instead of `StripeIntentResult.Outcome.CANCELED`.

### Steps to reproduce

1. Select test card no. 4000 0025 0000 3155 taken from Stripe documentation page [https://stripe.com/docs/mobile/android/basic#

[2020-01-17 13:30] mshafrir-stripe commented on #2051
Take a look at Steps 1-3 on https://stripe.com/docs/mobile/android/basic

This is how we retrieve a Customer object and perform operations on it.

[2020-01-17 21:21] #1562 closed

[2020-01-17 21:46] mansoorshahsaid commented on #1977
@mshafrir Hey sorry any update on this?

[2020-01-19 02:51] Wajahat-Jawaid commented on #1977
Hey @mansoorshahsaid thanks for the direction on iOS. I was expecting this basic consistency across the platforms. So let's wait for this feature to come to Android.
Thanks!

[2020-01-20 11:06] fkirc opened #2079 "Lowest Supported Client Version"
I am not sure whether this is already documented, therefore I ask it here:

What is the lowest client version that is guaranteed to work?
I am using `com.stripe:stripe-android:10.4.3`.

Are there any critical bugfixes since then?
Is it worth to migrate to version 13+?

[2020-01-20 13:15] mshafrir-stripe commented on #2079
@fkirc you can refer to the [CHANGELOG](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md) for updates since `10.4.3`. In general we recommend upgrading to the latest version of the SDK.

[2020-01-20 15:53] #2079 closed

[2020-01-23 06:58] provJoshMieczkowski opened #2091 "13.1.1 missing from maven?"
Hey guys,

Is 13.1.0 and 13.1.1 missing from the maven? I see in the readme to use 13.1.1 but gradle is unable to find it. 13.0.0 works though.

[2020-01-23 07:54] Yuvi-29 commented on #2051
@mshafrir-stripe , I went through documentation and i have stuck in between.
I have followed the step 1 to 3, and able to launch the **AddPaymentMethodActivity**  and **PaymentMethodsActivity** .

but now I want to following changes in  both activity.
1. I want my own add card button to add the card detail instead of right icon on the toolbar in **AddPaymentMethodActivity**.
2. I want to add funct

[2020-01-23 14:19] mshafrir-stripe commented on #2091
@provJoshMieczkowski thanks for filing. 13.1.0 should be available [0]. It does appear that there was an issue with publishing/propagating 13.1.1, even though it exists on Sonatype [1]. I'll investigate.

[0] https://search.maven.org/artifact/com.stripe/stripe-android/13.1.0/aar
[1] https://oss.sonatype.org/service/local/repositories/comstripe-1905/content/com/stripe/stripe-android/13.1.1/stripe-a

[2020-01-23 14:23] mshafrir-stripe commented on #2037
@pvarry thanks for filing. As far as accessing Stripe string resources, they should be available via `com.stripe.android.R`, e.g. `com.stripe.android.R.string.card_number_hint`.

For making methods public and adding new callbacks, I can investigate that.

[2020-01-23 14:27] mshafrir-stripe commented on #1977
@mansoorshahsaid @Wajahat-Jawaid if I understand correctly, when a customer selects a payment method (and potentially completes a purchase), and then later comes back to make another purchase, that payment method should be persisted and then made accessible? Maybe via something like `paymentSession.defaultPaymentMethodId`?

[2020-01-23 14:31] pvarry commented on #2037
Thanks for your answer.

Yes, I use this ressource like you say but Android Studio give me a warning as follow :
![image](https://user-images.githubusercontent.com/9653913/72993133-27aaac80-3df5-11ea-9074-b468f4cefd00.png)

[2020-01-23 15:07] Ariandr commented on #1977
@mshafrir-stripe
Yes, that's exactly what's needed!

[2020-01-23 15:15] tuclicks opened #2092 "java.lang.RuntimeException: Parcelable encountered IOException writing serializable object (name = com.stripe.android.exception.PermissionException)"
## Summary
Crash on
[code]
## Android version
Android 9, API 28
## Impacted devices
Samsung Galaxy S8
## Installation method
Gradle
## SDK version
com.stripe:stripe-android:13.1.0
## Other information
I feel very similar to [this](https://github.com/stripe/stripe-android/issues/1237) problem

Call this only if less than kitkat
[code]

Security.getProviders()
[code]

This is Error log
[code]

part

[2020-01-23 15:18] mansoorshahsaid commented on #1977
@mshafrir  Exactly, the payment method should be persisted when the user comes back to make another purchase. It was previously implemented on iOS with `paymentContext.defaultPaymentMethod = payment_id` but now like you said this field is not recommended for use anymore. Therefore now on the development side, we don't need to set a `defaultPaymentMethodId` anymore. The SDK automatically handles th

[2020-01-23 15:21] Ariandr commented on #1977
@mansoorshahsaid
Actually, they updated the iOS SDK and it became recommended for use, because it's saved locally on the iPhone. After user chooses the payment method, its `id` is saved and later retrieved.

[2020-01-23 15:24] Ariandr commented on #1977
@mansoorshahsaid
Yes, on iOS the persistency is handled locally on the user device and isn't connected to the cloud customer object.

It would be great to have the same in Android SDK.

[2020-01-23 16:24] mshafrir-stripe commented on #1808
@thevoiceless I posted a PR that solve this issue - https://github.com/stripe/stripe-android/pull/2093

[2020-01-23 16:27] mshafrir-stripe commented on #2092
@tuclicks is this something you experiencing on earlier SDK versions, or only after upgrading? Can you consistently reproduce the issue on both emulators and real devices? If you could help me narrow down the problem surface area that will help in debugging the issue.

[2020-01-23 17:15] #1808 closed

[2020-01-23 18:31] #2092 closed

[2020-01-23 22:13] provJoshMieczkowski commented on #2091
Thanks @mshafrir-stripe ! 13.1.0 did compile for us.

[2020-01-23 22:27] #2091 closed

[2020-01-24 06:45] tuclicks commented on #2092
I first introduced stripe into my app. We have not upgraded.

[2020-01-24 11:23] massimofrittelli commented on #433
@mrmcduff-stripe I have integrated Stripe in my app by using the prebuilt UI. Now I am forced to build a custom UI just to get that "delete payment method" button, a feature that only exists in iOS. This is a bottleneck that locks the potential of Stripe in my opinion.

[2020-01-24 11:40] mshafrir-stripe commented on #433
@massimofrittelli You can swipe to delete any payment method on the Payment Methods screen

[2020-01-24 11:41] mshafrir-stripe commented on #2092
Can you try reproducing this issue with 13.1.2?

[2020-01-24 11:43] mshafrir-stripe commented on #2091
Can you confirm if 13.1.2 is available to you?

[2020-01-24 11:50] massimofrittelli commented on #433
Thank you @mshafrir, I just found your complete answer in another closed issue
[https://github.com/stripe/stripe-android/issues/1270#issuecomment-532339102](url)

[2020-01-25 07:35] bootiyar opened #2100 "FATAL EXCEPTION: DefaultDispatcher-worker-1 & APIException in 13.1.2"
I have a Fatal Exception when I try to confirm Payment

exceptions:
1- FATAL EXCEPTION: DefaultDispatcher-worker-1
2- APIException: Your card was declined.

Stripe sdk version : 13.1.2
Device : Samsung Galaxy
Android : 10

Log:

[code]

[2020-01-27 09:22] vhontar opened #2101 "Question: How to use tok_********** from Google Pay to create payment method id"
Could you please help to understand how to convert token id from google pay to payment method id?

I used your docs, but it's deprecated. First of all, I cannot create payment method without stripe account id, there is an error.

## SDK version
13.1.2

[2020-01-27 11:06] vyasishanatc194 opened #2102 "You're card was not supported"
Unable to handle the error when stripe does not support some cards,
I entered Card number '6200 0000 0000 0005' ,
Month: 04/2025
CVC: 1214.

Unable to create token, error logs that Your card was not supported by Stripe with CardException.

How to handle this kind of error when Stripe does not support some cards. It working fine with Debug mode, but give Crash in release mode.

* `tipsi-stripe` ver

[2020-01-27 13:07] mshafrir-stripe commented on #2102
@vyasishanatc194 it appears that `6200000000000005` is a [card number used for testing](https://stripe.com/docs/testing#cards), in which case it will only work in test mode. It is expected that the API will return an error if you attempt to use this number in live mode.

Please reopen if you have any further questions.

[2020-01-27 13:07] #2102 closed

[2020-01-27 13:12] mshafrir-stripe commented on #2101
@vhontar thanks for filing. Can you point me to the docs you were using, and what was deprecate? What error are you seeing?

Here's a code example for how to create a payment method from a token:

[code]

[2020-01-27 13:13] mshafrir-stripe commented on #2100
@bootiyar thanks for filing! I'm able to reproduce the issue. I'll have a fix ready today.

[2020-01-27 14:37] Arieck-nl opened #2103 "Unable to specify mandate parameters for SEPA debit when confirming Setup Intent"
## Summary
I'm trying to confirm a Setup Intent for a SEPA debit payment method, which results in a status 200, so this part seems to work. The payment method has been added to the user, but looking into the Stripe console, it seems the payment method is `Incomplete` with the reason that the mandate has not been given. The docs do not state how to do this through the Android SDK, but it seems to b

[2020-01-27 17:21] mshafrir-stripe commented on #2103
@Arieck-nl can you add your email address to your GitHub profile so that I can reach out to you with more details?

[2020-01-27 17:48] #2100 closed

[2020-01-28 07:34] Arieck-nl commented on #2103
@mshafrir-stripe Thanks for your response, I have updated my profile with e-mail address.

[2020-01-28 14:23] HJ-626 commented on #500
@ksun-stripe, could this please be reopened?  I also have the same issue where the keyboard is not displaying when the CardInputWidget has focus.  Unfortunately the workaround provided by @sarihi didn't seem to work for me.

Essentially, we have a fragment that contains a CardInputWidget.  When opening the fragment, the cursor in the card number field is flashing, indicating that it would appear t

[2020-01-28 17:08] vhontar commented on #2101
Hi @msaffitz-stripe, here is my code
`
val params = PaymentMethodCreateParams.createFromGooglePay(JSONObject(paymentData.toJson()))
        val stripe = Stripe(getCurrentActivity(),
                PaymentConfiguration.getInstance(getCurrentActivity()).publishableKey,
                stripeParamsSingleton.stripeAccountId,
                true
        )
        stripe.createPaymentMethod(

[2020-01-28 22:35] provJoshMieczkowski opened #2111 "Zip code field is no longer showing an error"
## Summary
Pre-13.x.x builds, when you have zip code enabled, if you left it blank it would show an error message "Your postal code is incomplete." when you try to validate.

## Code to reproduce
set `app:shouldShowPostalCode="true" ` in the `com.stripe.android.view.CardMultilineWidget` and call creditCard.validateCard()

[2020-01-29 15:12] mshafrir-stripe commented on #2103
@Arieck-nl I put up a PR to enable adding Mandate data to the confirm request

[2020-01-29 15:24] Arieck-nl commented on #2103
Great, thank you!

[2020-01-29 16:15] #2103 closed

[2020-01-29 16:33] mshafrir-stripe commented on #2111
@provJoshMieczkowski I put up a PR to optionally require postal code. Note that because some countries do not have postal codes, requiring a postal code will prevent users with cards from those countries from submitting the form successfully.

[2020-01-29 16:34] #2101 closed

[2020-01-29 21:33] #2111 closed

[2020-01-30 08:57] ahjie87 opened #2118 "Sample code in Java"
Hi, Is there a link to download the sample code that written in java? Thanks

[2020-01-30 10:52] bootiyar commented on #2100
Thanks @mshafrir-stripe - 13.1.3  worked

[2020-01-30 11:29] bootiyar opened #2119 "stripe confirmPayment : No such payment_intent"
when try confirmPayment have this error:
Request-id: req_6y8Xwq1OjhKCyo
com.stripe.android.exception.InvalidRequestException: No such payment_intent: pi_1G6avrBMd132PqPYb7DZbmHL

Stripe sdk version : 13.1.3
Device : Samsung Galaxy
Android : 10

------------
i creteate stripe by test publishableKey
[code]

and check server result like this:
[code]
finally in onActivityResult: Handle the result of s

[2020-01-30 14:16] mshafrir-stripe commented on #2119
@bootiyar the request to attach payment method is coming from a different account than the one that owns that Payment Intent. Please check your integration, back on backend and client, to make sure you are using the same keys. If you are passing a Stripe Account Id, you need to be using the same one on both backend and client.

[2020-01-30 14:16] #2119 closed

[2020-01-30 14:59] mshafrir-stripe commented on #2118
@ahjie87 I recommend taking a look at https://github.com/stripe-samples/accept-a-card-payment for Java integration examples

[2020-01-30 14:59] #2118 closed

[2020-02-03 10:57] alaffray opened #2129 "CardMultilineWidget PostalCode hint"
## Summary
The current PostalCode hint is currently displaying "ZIP code" which is mostly used in the USA.

Would it be possible to have the widget handling the English "Postcode" word in either a "values-en-rGB" file or a method to change it programmatically ?

## Android version
All

## Impacted devices
English speaking country which doesn't use the word "ZIP code"

## SDK version
Any that conta

[2020-02-03 11:39] Arieck-nl commented on #2103
@mshafrir-stripe Do you have an ETA for when version 13.2.0 will be released? We are currently holding back our own release until we are able to upgrade to version 13.2.0.

[2020-02-03 16:20] mshafrir-stripe commented on #2103
@Arieck-nl I just released `13.2.0`. It should be available shortly. Let me know if you have any further issues.

[2020-02-04 06:17] msarkrish commented on #795
Any update on flutter stripe plugin in 2020?

[2020-02-05 15:58] mshafrir-stripe commented on #795
@msarkrish a Flutter library is not on our roadmap. Have you looked at https://github.com/jonasbark/flutter_stripe_payment as a 3rd party solution?

[2020-02-05 16:02] initishbhatt opened #2140 "CardMultiLineWidget :keyboard is not displaying when the CardMultiLineWidget has focus"
## Summary

we have a full screen DialogFragment that contains a CardMultiLineWidget. When opening the fragment, the cursor in the card number field is blinking, indicating that it would appear to have focus. However, the soft keyboard does not automatically open. To open the soft keyboard, the user then needs to press on the card number edit field.

## Code to reproduce

## Android version

All

[2020-02-06 14:09] BLASTR commented on #500
@ksun-stripe, i have same issue.  It happened only on android 10. Could this please be reopened?

[2020-02-07 13:14] kushanshah11 opened #2146 "Need Help For Error"
## Summary
I am using **stripe.createCardToken** method to generate token. now i m send token to API it will throws error like
**"A token may not be passed in as a PaymentMethod. Instead, create a PaymentMethod or convert your token to a PaymentMethod by setting the `card[token]` parameter to tok_1G9WIgC2GBuo7MQWlZihojQI."**

## Android version
Android 10

## Impacted devices
Pixel 3A

## Installa

[2020-02-07 14:22] mshafrir-stripe commented on #2146
@kushanshah11 to create a `PaymentMethod` from a token, first take a look at [PaymentMethodCreateParams](https://stripe.dev/stripe-android/com/stripe/android/model/PaymentMethodCreateParams.html) and [PaymentMethodCreateParams.Card.create(token)](https://stripe.dev/stripe-android/com/stripe/android/model/PaymentMethodCreateParams.Card.html#create-token-).

For example

[code]

Then use [Stripe#cre

[2020-02-07 14:22] #2146 closed

[2020-02-07 20:25] mwajeeh opened #2152 "Proguard issue Warning: net.minidev.asm.ASMUtil: can't find referenced class org.objectweb.asm.Type"
## Summary
Compilation of my app is failing with progurad enabled.

[code]

Running `app:dependencies` showed that `net.minidev.asm` is coming from `json-smart` which is being used by stripe:

    +--- com.stripe:stripe-android:12.5.0
    |    +--- com.google.android.material:material:1.0.0 -> 1.2.0-alpha04 (*)
    |    +--- org.jetbrains.kotlin:kotlin-android-extensions-runtime:1.3.60 -> 1.3.61 (

[2020-02-07 20:47] mshafrir-stripe commented on #2152
@mwajeeh what version of Gradle and Android Gradle Plugin are you using?

[2020-02-07 21:41] mwajeeh commented on #2152
Upgrading from 12.5.0. Tried 13.2.0 and it started failing. Had to add `-dontwarn org.objectweb.asm.**` for project to compile.

**BUT** I just downgraded all the way 12.5.0 and still getting same issue. Makes me wonder if something else caused it. I was updating all libraries that we are using and something else started triggering it in Stripe?

![Screen Shot 2020-02-08 at 2 32 03 AM](https://use

[2020-02-07 21:44] mshafrir-stripe commented on #2152
@mwajeeh can you try only updating `stripe-android` and see if you get the issue?

Also, can you try upgrading to Gradle `6.1.1`?

[2020-02-07 21:54] mwajeeh commented on #2152
Just updating stripe to 13.2.0 and keeping gradle-5.4.1 gave me all the above issues as well as the following:

[code]
Trying now with Gradle 6.1.1.
@msaffitz-stripe

[2020-02-07 22:21] mwajeeh commented on #2152
So with gradle-6.1.1-all.zip I am getting the same result as I mentioned in my last message above https://github.com/stripe/stripe-android/issues/2152#issuecomment-583631935

[code]

[2020-02-07 22:48] mshafrir-stripe commented on #2152
@mwajeeh I can fix this issue for the next release

[2020-02-10 05:58] kushanshah11 commented on #2146
HI @mshafrir-stripe ,
i just want to add paymentMethod in token. i cant find particular example or code regarding this. Actual payment done from web we have to just pass stripe token to api.

please do needful with example code how to add paymentmethod in token.

Current Code :

Stripe(this,SharedPref.instance!!.getValueFromPreferences(getString(R.string.key_skey))!!)

**stripe.createCardToken(

[2020-02-10 05:59] kushanshah11 opened #2154 "Add Payment Method in token Only"
HI @mshafrir-stripe ,
i just want to add paymentMethod in token. i cant find particular example or code regarding this. Actual payment done from web we have to just pass stripe token to api.

please do needful with example code how to add paymentmethod in token.

### **Old Code to Generate Token :**

Stripe(this,SharedPref.instance!!.getValueFromPreferences(getString(R.string.key_skey))!!)

stripe

[2020-02-10 15:17] mshafrir-stripe commented on #2154
You can use [Stripe#createCardToken()](https://stripe.dev/stripe-android/com/stripe/android/Stripe.html#createCardToken-card-callback-) to create a card token

[2020-02-10 15:17] #2154 closed

[2020-02-10 15:27] kushanshah11 commented on #2154
Using create card token shipping method is added by default? Or should I have to code for?

Please check my issue I have explained.

[2020-02-10 16:09] #2152 closed

[2020-02-10 16:19] mshafrir-stripe commented on #2154
@kushanshah11 shipping method is not captured in the token itself. You can handle the shipping method logic yourself (e.g. updating the total amount).

[2020-02-11 05:23] kushanshah11 commented on #2154
@mshafrir-stripe i m saying about payment method. have you shown above code which i m using now?
is it ok to generate shipping method?

Thanks

[2020-02-11 06:47] tvhimanshu commented on #563
Hi @ksun-stripe
Experiencing the same problem on production and it's not device specific.
To reproduce write 1 to 22 numbers and copy that input the above error will generate.

[2020-02-12 04:21] cheng-liven opened #2167 "Mastercard brand name: lowercase "c""
## Summary

The card model used `MasterCard` for the Mastercard brand name, c should be lowercase according to their brand guidelines.

https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/CardBrand.kt#L88

## Other information
[Mastercard Branding Requirements](https://brand.mastercard.com/brandcenter/mastercard-brand-mark.html) -> `Using the Masterca

[2020-02-13 14:39] #2167 closed

[2020-02-13 22:10] #1579 closed

[2020-02-14 13:03] #1977 closed

[2020-02-14 13:45] hiasel opened #2183 "Multiple "can't find referenced class" proguard warnings"
Since I've added the Stripe Android SDK (version 13.2.0) to my project I am receiving many proguard warnings and thus cannot build any release version of my app.

As a temporary workaround I had to add the following rules to my proguard.pro file:
[code]

Here is a list of warnings that I receive (I've only added one warning per type to keep it shorter)
[code]

A related issue https://github.com/st

[2020-02-14 14:34] mshafrir-stripe commented on #2183
@hiasel what versions of Gradle + Android Gradle Plugin are you using?

[2020-02-15 20:16] shruti-ahuja opened #2186 "PaymentSession not being saved across activities"
## Summary
Payment Session is not being saved across activities, does it has to be managed by a BaseActivity. It tends to work seamlessly in case of iOS. Tried the `setShouldPrefetchCustomer` also but didn't work. Need help

[2020-02-15 20:49] mshafrir-stripe commented on #2186
@shruti-ahuja can you provide a more concrete example, such as code sample? What version of the SDK are you using?