[2021-09-29 12:59] bhanuka96 commented on #4206
where am I set these configurations?

[2021-09-29 13:08] bhanuka96 commented on #3714
my customers are in UAE. when the payment sheet opens it displays the UK with postal code text Field. Is it possible to disable it or is it possible to set UAE by default? By the way, I am using [flutter_stripe](https://pub.dev/packages/flutter_stripe) plugin.

[2021-09-29 13:13] AIprototype opened #4244 "[BUG] Invalid client secret when using the GooglePayLauncher.presentForpaymentIntent("client_secret")"
## Summary

## Code to reproduce
`
 val googlePayLauncher = GooglePayLauncher(
            fragment = this,
            config = GooglePayLauncher.Config(
                environment = GooglePayEnvironment.Test,
                merchantCountryCode = "UK",
                merchantName = "Test Company"
            ),
            readyCallback = ::onGooglePayReady,
            resultCallback = ::onGo

[2021-10-01 12:52] haid45 opened #4255 "Capture the GooglePay billing details in the PaymentIntent"
## Summary
When a payment is made using google pay (in the awesome new payment sheet), the associated billing details from google are not being shown in the payment intent or captured charge on stripe.

## Code being used
`PaymentSheet.Configuration configuration = new PaymentSheet.Configuration(companyName);`
`configuration.setCustomer(new PaymentSheet.CustomerConfiguration(customer, ephemeralKey

[2021-10-01 17:24] RaG-cell opened #4256 "[BUG]"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

kotlin:
stripe-android:
Android Gradle Plugin:
Gradle:

## SDK classes

## Video

## Other information

[2021-10-01 17:24] RaG-cell opened #4257 "[Feature]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-01 22:12] brnunes-stripe commented on #4256
Hi @RaG-cell, I'm closing this issue, please fill it out with the bug you're facing and reopen, or create a new issue.

[2021-10-01 22:12] #4256 closed

[2021-10-01 22:13] brnunes-stripe commented on #4257
Hi @RaG-cell, I'm closing this issue, please fill it out with the feature request you have and reopen, or create a new issue.

[2021-10-01 22:13] #4257 closed

[2021-10-01 22:19] brnunes-stripe commented on #4244
Hi @AIprototype,
From your description, it looks like you're calling `presentForPaymentIntent` and passing in the client secret for a Setup Intent.
If you're using Setup Intents, please call `googlePayLauncher.presentForSetupIntent(viewModel.setupIntentID.value!!, <your currency code, for example "USD">)`.

[2021-10-01 22:20] #4244 closed

[2021-10-01 23:08] brnunes-stripe commented on #4210
Hi @priyankgandhi0,
The error code seems to indicate that some Google Pay dependency is not up to date. I suspect that if you try to integrate with Google Pay directly, you'd see the same problem.
One thing to try is to make sure you have an up-to-date version of Google Play Services. Step 1 on this guide explains how: https://support.google.com/googleplay/answer/9037938?hl=en

[2021-10-02 07:53] haid45 opened #4260 "Save billing fields to payment method"
## Summary
It'd be amazing if the payment sheet could have the ability to collect the billing details. Either way, we are doing this before the sheet is initialised and the fields are being passed into the configuration, see below.

However, only the country and postalCode are actually being attached to the payment method. This is incredibly important for our use case as we directly link the billi

[2021-10-04 20:38] ccen-stripe commented on #4260
Hi @haid45 could you clarify what you needed here? If `defaultBillingDetails` is set, it will be [prepopulated](https://github.com/stripe/stripe-android/blob/0603446802e93f40d217fec6641560a0a195eb74/paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt#L111) to the add card section UI of `PaymentSheet`, when confirming using this card, [all information](https://github.com/stri

[2021-10-04 20:44] haid45 commented on #4260
None of the billing address fields appear to be shown in the stripe ui asides from country (I am located in Australia)

This could be the reason why only the country and post code are being sent to the stripe server.

[2021-10-04 22:56] aliriaz-stripe commented on #4226
@ilazakis CardFormView does allow you to create a PaymentMethod, you have to manually call the `createPaymentMethod()` function but CardFormView collects the payment method parameters for you to pass to that function.

[2021-10-05 00:20] better-think commented on #4110
I was facing this issue. I have upgraded my Gradle from 3.5.3 to 3.5.4 and solved the issue.
`buildscript {
    ext {
        buildToolsVersion = "29.0.2"
        minSdkVersion = 21
        compileSdkVersion = 29
        targetSdkVersion = 29
        ndkVersion = "20.1.5948944"

        pdfViewer = "3.1.0-beta.1"

    }
    repositories {
        google() // for Firebase
        jcenter()
    }

[2021-10-05 01:56] ccen-stripe commented on #4260
Thanks for the feedback @haid45 , just added this as a feature to support in the future releases

[2021-10-05 17:14] passmanagerapp opened #4264 "[Feature] Android CardInputWidget Vertical Orientation"
Is it possible to position the card number, cvc and the rest vertically instead of horizontally?

[2021-10-05 18:37] skyler-stripe commented on #4264
Hey there,

We have a class  [CardFormView](https://github.com/stripe/stripe-android/blob/05d4053a/payments-core/src/main/java/com/stripe/android/view/CardFormView.kt#L1) for collecting card information, [here](https://github.com/stripe/stripe-android/blob/05d4053ad8e980744e8e7c277857d3e92bc1b608/example/src/main/java/com/stripe/example/activity/CreateCardPaymentMethodActivity.kt#L40) is an exampl

[2021-10-05 20:26] brnunes-stripe commented on #4255
Hi @haid45, currently we don't request the billing details from Google Pay when using Payment Sheet.
I'll update the integration to allow users to set the Google Pay parameters.

[2021-10-06 01:59] LastxTemplar opened #4267 "[BUG] Nvidia Shield / Android TV Payment Sheet does not get focused"
## Code to reproduce
I am using the `flutter-stripe/flutter_stripe` package and I am running the example project on my Nvidia Shield:
`Choose Single Step -> Init payment sheet -> Pay now`
The screen turns to portrait mode and shows the payment sheet but no interaction can be done except for the Back Button.

## Android version
version: Android 11

## Impacted devices
Nvidia Shield TV Pro

## Insta

[2021-10-06 16:41] calvarez-ov commented on #3860
I tried this in a test integration, with test card `4000 0025 0000 1001`.

I did this:

[code]

I was experimenting: I tried to force the visa network  if the brand was visa (it was).

The payment intent id is `pi_3JhcjAJgn5Rr4DxU0uilRSZp`

[2021-10-06 16:46] calvarez-ov commented on #3860
Same behavior with stripe sdk `17.2.0`

[2021-10-06 19:29] skyler-stripe commented on #4264
I think CardFormView will get you pretty close to what you're looking for. You can see it in our example app. Clicking on "Create A Card Payment Method" will get you this screen:
![cardformview](https://user-images.githubusercontent.com/89166418/136270323-d228355e-d2ae-40ae-a7a0-7d46daff1b69.png)

[2021-10-07 09:45] calvarez-ov opened #4268 "[Feature] Make PaymentMethod.Card.networks public"
**Is your feature request related to a problem? Please describe.**
We would like to implement the following:
If a card has both "cartes_bancaires" and another network, only use the other network.

We don't want to eliminate "cartes_bancaires" completely: we still want to support cards that ONLY support "cartes_bancaires".

**Describe the solution you'd like**
If `PaymentMethod.Card.networks` were

[2021-10-08 12:34] sraza295 opened #4275 "Cannot Resolve PaymentConfiguration"
Build. grade:-

apply plugin: 'com.android.application'

android {
    compileSdkVersion 30
    buildToolsVersion "30.0.0"

    defaultConfig {
        applicationId "com.example.stripetest"
        minSdkVersion 16
        targetSdkVersion 30
        versionCode 1
        versionName "1.0"

        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
    }

    buildTypes {

[2021-10-08 16:37] pamobo0609 opened #4276 "[BUG] Issue trying to update library version on Android"
## Summary

I received a notice from the Google Play Store saying my Stripe library version was too old. I'm trying to comply with the update by moving from `14.5.0` to `18.0.0` but I'm having an issue that left me clueless.

## Installation method

Gradle dependency: `implementation "com.stripe:stripe-android:$stripeVersion"` alongside `implementation 'com.google.guava:guava:27.0.1-android'` to a

[2021-10-08 19:35] ccen-stripe commented on #4276
Hi @pamobo0609 , have you tried to follow our [migration guide](https://github.com/stripe/stripe-android/blob/master/MIGRATING.md)? Also I would recommend try compare your project with our [sample store project](https://github.com/stripe-samples/sample-store-android) to see if there are any more difference

[2021-10-08 21:16] pamobo0609 commented on #4276
Hey @ccen-stripe and thanks for replying!

I invalidated and restarted many times with no success. I was planning on following the guide but the project doesn't even build :(

I don't even use Room in my project (I read you guys do) so there's not a slight possibility that I'm using the given key.

[2021-10-09 00:36] fbarthelery opened #4278 "[BUG] paymentsheet has a runtime dependency to androidx.test.ext:junit"
## Summary
`paymentsheet` module now has a runtime dependency to `androidx.test.ext:junit` which adds a few other test dependencies to client applications

## Code to reproduce
Add the dependency to your project

## Dependency Versions
stripe-android: 18.0.0

0c1a691727a4b9295f42e634a742bc2f64512e6a adds
`implementation 'androidx.test.ext:junit-ktx:1.1.3'`
It should be
`testImplementation 'android

[2021-10-11 20:57] langsmith opened #4280 "[DOCS] Update README Google Pay example activity link"
## Summary

The `PayWithGoogleActivity.kt` link at https://github.com/stripe/stripe-android/tree/master/example#source is 404 💀

Looks like it needs to be updated to one of the Google-related activities listed at https://github.com/stripe/stripe-android/tree/master/example/src/main/java/com/stripe/example/activity.

The https://stripe.dev/stripe-android/stripe/com.stripe.android.model/-payment-met

[2021-10-12 00:24] #4275 closed, assigned to ccen-stripe

[2021-10-12 23:49] michelleb-stripe commented on #4280
@langsmith   Thank you for writing in.  We will work to update the readme.

In the meantime if you want to see an example of GooglePay integration.  You can look at [this](https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/activity/GooglePayLauncherIntegrationActivity.kt) activity.  Full instructions can be found [here](https://stripe.com/docs/google-pay)

[2021-10-13 09:16] xiuone commented on #4102
@michelleb-stripe hello , I have the same problem
and visa in my google play account
and
"com.google.android.gms:play-services-wallet:18.1.3"
  "<meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />"
           is added
           please help me ,I don't know do something

[2021-10-13 14:31] michelleb-stripe commented on #4268
@calvarez-ov
It is EU law that the **user** be able to choose which network their payment is processed through.  Stripe has more documentation on the topic here: https://stripe.com/docs/card-brand-choice

I can also take a look at #3860 and comment there.

[2021-10-13 14:32] michelleb-stripe commented on #3860
@calvarez-ov Can you share where in the dashboard you see those payment_method_details?

[2021-10-14 16:51] litmon opened #4292 "[BUG] CVC text does not hide in CardMultilineWidget"
## Summary

When I used CardMultilineWidget in my app, CVC text did not hide.
<img src=https://user-images.githubusercontent.com/6662768/137361814-599fa93a-544f-4513-99a2-96d82aa55fb3.png height=300 />

I think that it should be `inputType = InputType.TYPE_CLASS_NUMBER or InputType.TYPE_NUMBER_VARIATION_PASSWORD`.
https://github.com/stripe/stripe-android/blame/b283ba421a89756d22e9ed986b9bc249e7adc

[2021-10-14 18:23] jt-gilkeson opened #4294 "[BUG] 18.0.0 cuts off top of credit card number when adding card"
We updated to 18.0.0 from 17.1.2 and now the top of credit cards is getting cut off in the screen to add new cards.
![Stripe](https://user-images.githubusercontent.com/8732552/137373349-b81051f0-f4ad-41cd-98ae-96a510cd672f.PNG)

Downgrading the Stripe SDK "fixes" the issue.  So it appears something changed to the theming/layout in 18.0.0?

        PaymentConfiguration.init(activity, activity.getSt

[2021-10-15 15:46] michelleb-stripe commented on #4292
@litmon We will take a look

[2021-10-15 22:22] michelleb-stripe commented on #4226
@ilazakis Glad you were able to get that working.

I added your request for setting up the locale manually and ignoring country selection / postcode inputs to our backlog.  We will provide updates as we work on it.

[2021-10-16 19:36] osamaaftab opened #4301 "Fingerprint is null"
While calling `createCardToken` function we are getting `fingerprint` as null

[2021-10-18 16:18] aliriaz-stripe commented on #4301
@osamaaftab this is expected, `fingerprint` is not returned on a Token or PaymentMethod client-side (aka with your publishable key). It is only exposed with your secret key, so if you retrieve the Token/PaymentMethod server-side with your secret key, you will see the `fingerprint`.

[2021-10-18 16:18] #4301 closed

[2021-10-19 10:31] nataliakuznetsova commented on #4111
Sorry for the delay.

[code]

The other colors work. I see the electric blue everywhere except for the loading

[2021-10-20 14:52] #4292 closed, assigned to michelleb-stripe

[2021-10-21 08:54] St4B opened #4313 "[BUG] PaymentRelayActivity relay crashes sporadically"
## Summary
From time to time I get a crash during the payment process. More specifically I get the following exception:
`
java.lang.RuntimeException: Unable to resume activity {com.theblueground.guestapp.uranus/com.stripe.android.view.PaymentRelayActivity}: java.lang.IllegalStateException: Can't make a decor toolbar out of null
`

## Code to reproduce

## Android version
Android 10

## Impacted de

[2021-10-21 15:12] #4276 closed, assigned to ccen-stripe

[2021-10-21 17:57] gabediazm opened #4314 "[Question] Request Card holder name when using presentWithSetupIntent"
## Summary
Is there any way to request the cardholder name when using PaymentSheet.presentWithSetupIntent function?
Im using latest SDK: com.stripe:stripe-android:18.1.0

![image](https://user-images.githubusercontent.com/73203884/138331608-75b190d3-2e65-42c8-ba52-dd0d36f10397.png)

[2021-10-21 22:18] skyler-stripe commented on #4314
Let me see if I understand your question,

Are you asking to add a new card holder name field to paymentsheet, and you're wanting us to provided that to you after the user goes through the payment sheet flow?

[2021-10-22 14:24] stianjensen opened #4320 "[BUG] Only two challenge options shown in 3D Secure"
## Summary
For some credit cards, when 3d secure is requested by the bank, the user has many different options to choose from to authorize the payment. On our website where we use the Stripe SDK, we see up to five different options the user can choose from. In the Android app, using this SDK, the user is only presented with at most two options, and often not the ones the user is able to use.

## C

[2021-10-26 08:41] Meruj98 opened #4324 "[BUG] Adding credit cart crashes"
after opening payment methods page like this  app crashes if credit card is added
new PaymentMethodsActivityStarter(this).startForResult(new PaymentMethodsActivityStarter.Args.Builder().setBillingAddressFields(BillingAddressFields.None).build());
<img width="1243" alt="Screen Shot 2021-10-26 at 12 38 55" src="https://user-images.githubusercontent.com/37108882/138842643-c0384399-051e-46f1-bcef-132c

[2021-10-27 16:13] Valentin-Anger-qnips opened #4327 "[BUG] `PaymentSheet.presentWithPaymentIntent` fails with reflection exception"
## Summary
After upgrading to version `>=18.0.0` of the SDK,
`PaymentSheet.presentWithPaymentIntent` throws a `KotlinReflectionInternalError`.

The code works unchanged with version `17.2.0`.

## Code to reproduce
Rough setup with which the payment sheet is shown, basically following the [Accept a payment](https://stripe.com/docs/payments/accept-a-payment?platform=android) documentation.

*I can a

[2021-10-28 22:16] #4320 closed, assigned to nobody

[2021-10-28 22:16] brnunes-stripe opened #4336 "[Feature] Allow falling back to webview in 3d secure 2 flow"
See iOS issue: https://github.com/stripe/stripe-ios/issues/1895

[2021-10-28 22:22] #4294 closed, assigned to skyler-stripe

[2021-11-01 00:30] akshaaatt opened #4346 "[BUG] Dependency Issues - Unable to build"
Facing this issue:

`Duplicate class net.jcip.annotations.GuardedBy found in modules jetified-jcip-annotations-1.0 (net.jcip:jcip-annotations:1.0) and jetified-jcip-annotations-1.0-1 (com.github.stephenc.jcip:jcip-annotations:1.0-1)      Duplicate class net.jcip.annotations.Immutable found in modules jetified-jcip-annotations-1.0 (net.jcip:jcip-annotations:1.0) and jetified-jcip-annotations-1.0-1

[2021-11-01 08:12] Meruj98 commented on #4324
Hi @brnunes-stripe, I am seeing this during prod. It crashes after I add MasterCard to my payment methods and when the device language is English. I updated to the last version, but now it's another crash
<img width="974" alt="Screen Shot 2021-11-01 at 12 11 47" src="https://user-images.githubusercontent.com/37108882/139641512-c9559caa-32ca-463e-9030-29e7d996296c.png">
.

[2021-11-01 11:17] michelleb-stripe commented on #3860
@calvarez-ov I am able to reproduce what you are seeing above.  I am still looking into it.

[2021-11-02 20:01] CoreFloDev opened #4350 "[BUG] instant experience doesn't work"
## Summary
When you try to pay using an instant experience app, the 3ds webview doesn't work

## Code to reproduce
I can change your example project if required, it is one line to add in the manifest
[code]
on the manifest tag

## Android version
test on android 11

## Impacted devices
all

## Installation method
Sdk used in an instant enabled app

## Dependency Versions
stripe 18.1.0

## Other in

[2021-11-03 17:37] ccen-stripe commented on #4346
Hi @akshaaatt could you retry Invadlidate cache/restart from you IDE? Also could you provide  the SDK version/environment you're using? Theses annotations don't seem from our SDK

[2021-11-04 18:19] ccen-stripe commented on #4350
Hi @CoreFloDev the reason of this error is our sdk uses a custom scheme "stripesdk://payment_return_url/your_app_package" as a deeplink to link back to the installed app from the browser. A dedicated [intentFilter](https://github.com/stripe/stripe-android/blob/54276bcccbce9f027a9a7d6eb9d72d666318b7eb/payments-core/AndroidManifest.xml#L32) is defined to handle this deeplink. Since instant app doesn

[2021-11-05 09:53] CoreFloDev commented on #4350
Hi @ccen-stripe,

I guessed that part thanks. Could your SDK use an alternative communication pattern compatible with instant app?

Regards,
Flo

[2021-11-05 19:47] brnunes-stripe commented on #4324
The crash seems to indicate that `resources.getString` for the key that we use as the [card label](https://github.com/stripe/stripe-android/blob/master/payments-core/res/values/strings.xml#L122), is either returning an empty string or the string doesn't contain the brand name after we format it.
That's odd, since the string exists and contains two placeholders that are replaced by the card number

[2021-11-05 20:19] ccen-stripe commented on #4350
Sure, that url is dictated by the [return_url](https://stripe.com/docs/api/payment_intents/create#create_payment_intent-return_url),  which is overridable. (If it's not set then the SDK set it to `stripesdk://`). You could override it to your instant app's deeplink when creating a [ConfirmPaymentIntentParams](https://github.com/stripe/stripe-android/blob/36555ccc8ca185c617c377a0d2a503c090a5c26c/pa

[2021-11-06 00:00] akshaaatt commented on #4346
Excluding the duplicated modules this way resolved the issue for me:

[code]

[2021-11-06 00:00] #4346 closed

[2021-11-06 00:07] akshaaatt opened #4361 "[Question] Donations for Non Profit on Google Play Store"
Can we use this SDK for accepting donations to our organization?

[2021-11-08 13:58] adavis opened #4364 "[BUG] Unable to access the card token with Google Pay"
## Summary

Prior to using Google Pay, we send the card token to our backend API

`stripe.createCardTokenSynchronous(stripeCardWidgetRelay.cardParams!!)`

The API only supports receiving a token, not a paymentMethodId. On the Web, they have access to [this function](https://stripe.com/docs/js/payment_request/events/on_token) which allows them to get the token from the payment method. Is there some

[2021-11-08 16:24] aliriaz-stripe commented on #4361
@akshaaatt you technically can, yes, assuming you meet Google Pay's requirements for donation collection: https://developers.google.com/pay/api/android/support/faq

[2021-11-08 16:24] #4361 closed

[2021-11-08 19:08] ccen-stripe commented on #4350
Close the issue for now, please feel free to reopen if you have further questions:)

[2021-11-08 19:08] #4350 closed

[2021-11-08 21:09] aliriaz-stripe commented on #4364
Hello @adavis , GooglePayLauncher is a newer component to make it easier to integrate with Google Pay on the (now fully recommended as of 2+ years) PaymentIntents and PaymentMethod API.

Therefore, GooglePayLauncher does not support creating Tokens. You will have to integrate without GooglePayLauncher and integrate with Google Pay APIs directly as the SDK's example app used to do before GooglePayL

[2021-11-08 21:09] #4364 closed

[2021-11-08 21:23] michelleb-stripe commented on #4327
@Valentin-Anger-qnips Going to close this for now.  Please reopen if you are still experiencing issues.

[2021-11-08 21:24] #4280 closed

[2021-11-08 21:29] michelleb-stripe commented on #4210
@priyankgandhi0 Please reopen if you are still having issues.

[2021-11-08 21:29] #4210 closed

[2021-11-08 22:57] michelleb-stripe commented on #3860
@calvarez-ov Still working on it.

[2021-11-09 11:17] karan-opayn opened #4367 "[BUG]"

[2021-11-09 11:17] #4367 closed

[2021-11-10 05:04] karan-opayn opened #4369 "how to set price in bottom sheet android"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-10 12:15] michelleb-stripe commented on #4369
@karan-opayn

When you create the PaymentIntent on your server you will set the price.  Then pass the client_secret to the Android App on PaymentSheet.Configuration.  You can see a guide on how to get setup [here](https://stripe.com/docs/payments/accept-a-payment?platform=android).

Please let us know if we can help any further.

[2021-11-10 12:16] #4268 closed

[2021-11-10 12:20] michelleb-stripe commented on #4264
Please let us know if you have any other questions or requests.

[2021-11-10 12:20] #4264 closed

[2021-11-10 21:30] YashaswiVemula opened #4371 "[Feature] Update presentPaymentMethodSelection to handle `ActivityResultCallback`"
When launching stripe UI with `presentPaymentMethodSelection` we need implement `onActivityResult` to receive updated to `PaymentSessionListener`.
Since `onActivityResult` is deprecated, do we have an update to handle `ActivityResultCallback` to receive results in `PaymentSessionListener`.

Stripe: 18.2.0.

[2021-11-10 23:40] michelleb-stripe commented on #4067
@plevetsky This is now updated to use the Number password.   Try it again in the latest version and see if it works.   It might also be specific to the phone model.

[2021-11-10 23:43] #4314 closed

[2021-11-10 23:44] #4197 closed

[2021-11-11 10:15] MichaelJokAr commented on #1580
also happend in android10; and the stripe version is v18.2.0

[2021-11-11 11:57] michelleb-stripe commented on #4371
@YashaswiVemula We do not have plans to update PaymentSession away from the onActivityResult.   I recommend taking a look at our new pre-built UIs: https://stripe.com/docs/payments/accept-a-payment?platform=android.

[2021-11-11 12:26] michelleb-stripe commented on #1580
@MichaelJokAr

I was not able to reproduce this issue.  I have a few questions to see if I can help further:
1. Is this only happening on Android 10?
2. Do you have any libraries that are providing localization support?
3. Do you have proguard or minification turned on?  Does the problem happen when there is no minification?
4. Is it the exact same stack trace as the one listed above?

[2021-11-11 12:34] michelleb-stripe commented on #2564
@pvarry The two error message strings for:
stripe_failure_reason_authentication
stripe_failure_reason_timed_out

Have been translated.  Please reopen if you are still experiencing any issues.

[2021-11-11 12:34] #2564 closed

[2021-11-11 12:50] michelleb-stripe commented on #2884
@Irfanhaidermomin and @Flo354 We have a new GooglePayLauncher and GooglePayPaymentMethodLauncher interfaces that might be helpful for your use cases.  You can see the documentation here: https://stripe.com/docs/google-pay

If you are still having issues please let us know and we will reopen the issue.

[2021-11-11 12:50] #2884 closed

[2021-11-11 12:51] MichaelJokAr commented on #1580
[code]

![image](https://user-images.githubusercontent.com/8246218/141301060-70b44333-1156-474d-bbb7-d9081226feb6.png)

[2021-11-11 12:56] michelleb-stripe commented on #2729
@antoinelamy @ghost @ra-devel and @ball1008

In our new pre-built UI when you pass in a customer id the last saved payment method is by default selected.  If they cancel without selecting a new one the last selected payment method.  If they choose to add a new card, that will be returned.  You can read more about it [here](https://stripe.com/docs/payments/accept-a-payment?platform=android).

If th

[2021-11-11 12:56] #2729 closed

[2021-11-11 12:57] #2754 closed

[2021-11-11 13:00] michelleb-stripe commented on #1580
@MichaelJokAr

Thanks for adding the extra information.   It looks like maybe the complete stack trace is not present?

[2021-11-11 13:02] #2264 closed

[2021-11-11 13:11] michelleb-stripe commented on #3615
@vellov
The save and reuse documentation [here][(https://stripe.com/docs/payments/accept-a-payment?platform=android](https://stripe.com/docs/payments/save-and-reuse?platform=android&ui=payment-sheet) has been updated to include using SetupIntents with the pre-built UI.

Please reopen if you are still having issues.

[2021-11-11 13:11] #3615 closed

[2021-11-11 13:18] michelleb-stripe commented on #4209
@ForbiddenZone

If you don't pass in a customer object the only impact should be that you don't see the customer's saved cards, and the customer can't save new cards.

If you are using a PaymentIntent with SetupFutureUsage with a customerID or a SetupIntent you will still be able to enforce that the card is saved.

Does this address the scenarios you are interested in?

[2021-11-11 13:23] michelleb-stripe commented on #2917
@akashydv04 We have made several improvements over the past several months to how we handle activity destruction and have moved away from onActivityResult to [ActivityResultLaunchers](https://developer.android.com/training/basics/intents/result).  In order to take advantage of these improvements you will want to use the PaymentLauncher as described [here](https://stripe.com/docs/payments/accept-a-

[2021-11-11 13:23] #2917 closed

[2021-11-11 13:25] michelleb-stripe commented on #3173
@arslankaleem7229 You can put this in the top level build.gradle file.

[2021-11-11 13:37] arslankaleem7229 commented on #3173
I have put this file outside any function on first lines in  `android/build.gradle` but nothing happened. I am working in flutter but this issue is only showing in android not ios

[2021-11-11 14:00] MichaelJokAr commented on #1580
[code]

[2021-11-11 14:02] MichaelJokAr commented on #1580
[code]

I find why; Thanks!

[2021-11-11 14:46] YashaswiVemula commented on #4371
@michelleb-stripe Thank you, but in our case we are integrating stripe UI to just collect or manage CC details and retrieving selected PaymentMethod to send it to server. Where server handles payment.
Could you link me to that documentation where new stripe UI handles above case and any suggestions would be helpful.

[2021-11-11 15:31] michelleb-stripe commented on #3173
@arslankaleem7229

1. Can you share the gradle version you are using?
2. Can you share the Stripe Android SDK version you are using?
3. By running:
```./gradlew example:dependencies```
you can see the dependency tree and which libraries are including org.bouncycastle.  It would be helpful to know which libraries are including which versions of org.bouncycastle.

[2021-11-11 15:32] michelleb-stripe commented on #1580
@MichaelJokAr Glad you were able to find the problem.

[2021-11-11 15:32] #1580 closed

[2021-11-11 15:41] michelleb-stripe commented on #4371
@YashaswiVemula We don't have anything that supports this yet, but we have it in our backlog.  We will post updates here.

[2021-11-11 17:49] BrunoRCE opened #4374 "[StripeBaseTheme] Graphical issues with rounded TextInputLayout hint custom style."
## Summary

The inset for the label is misplaced and doesn't fully cover the stroke of the container on the Outlined Text Field if corners are rounded.

## Code to reproduce

## Style

[code]
## Layout

[code]

## Android version

Android 9
## Impacted devices

Motorola G6 Play
## Installation method

add to build gradle:  `implementation "com.stripe:stripe-android:18.2.0"`
## Dependency Versions

[2021-11-11 20:03] eduprat-chwy opened #4376 "[BUG] 3d secure activity webview always is in portrait"
## Summary
All my app is in landscape but 3d secure activity webview

## Code to reproduce
Create an empty app with activity in landscape, enter test card 4000008260003178, when 3d secure is open it will be in portrait.

## Android version
10.0
6.1

## Dependency Versions
implementation 'com.stripe:stripe-android:18.1.0'

[2021-11-12 05:56] ColtonIdle commented on #4226
Just want to say that I'm also looking for better out of the box support for stripe + compose. As of right now I have a bug in my project (due to downstream dependencies) that prevents us from using a composable AndroidView. We're considering just building a library that will end up wrapping it, but as of right now I am just trying to build a form by myself to collect CC info. Which isn't actually

[2021-11-15 13:32] michelleb-stripe commented on #4376
@joccjo Thanks for writing in, we will add this to our backlog.

[2021-11-16 22:09] skyler-stripe commented on #4313
Hey there,

Just following up on this. Did you end up updating to a newer version of our SDK? Have you managed to come up with a way to reproduce this issue?

[2021-11-16 22:43] skyler-stripe commented on #4374
Hey there.

Thanks for writing in. I compiled a `styles.xml` with the reference to Stripe omitted:
[code]

I found that without even adding our SDK to my build.gradle that I found I was getting the issue. I don't think this is a problem caused by our SDK. I think it's possible your corners have more dp than the designers of material components intended to have. Have you tried reducing the radius?

[2021-11-17 08:45] St4B opened #4386 "Style more views in 3DS screen"
**Is your feature request related to a problem? Please describe.**
It seems that we can not use styles to change the text appearance of  ActionBar's title, title & message in the 3DS challenge's screen. The only way is to set the font in the `Stripe3DS2Theme` but this is not flexible as there are cases where you want to support different fonts. For example in our app, we have 2 font families.

**D

[2021-11-17 08:48] St4B commented on #4313
Unfortunately, we did not find a way to reproduce it. It seems random... We have not updated our dependencies you use the latest version.

[2021-11-17 19:24] kylegraycar commented on #3173
@arslankaleem7229 I use flutter_stripe and was able to get past this error by adding the configuration code within `.../android/app/build.gradle`

and then pasted the code within `android {}`

like so:
`
...
android {

    configurations.all {
        c -> c.resolutionStrategy.eachDependency {
            DependencyResolveDetails dependency ->
                println dependency.requested.group

[2021-11-17 19:56] arslankaleem7229 commented on #3173
@kylegraycar
Perfect
Thank you so much... I have been searching for solution for 3 weeks. Thank you so much

[2021-11-17 19:56] #3173 closed

[2021-11-18 00:41] skyler-stripe commented on #4386
Thanks for raising this issue. We are actively investigating more customizations and will add this to our backlog.

[2021-11-18 09:54] mtychyna commented on #2958
It would be great to migrate all the Stripe styles to Material Components. It will give possibility to override any style on any screen. Meanwhile with Stripe I everyday face with AppCompat vs MaterialComponents theme conflicts.
![photo_2021-11-18_11-54-06](https://user-images.githubusercontent.com/12296220/142392614-bb812662-23a7-481e-b51e-3367a528226d.jpg)

[2021-11-18 16:58] ajitsingh994 opened #4389 "Default add card screen input field UI issue"
Text input fields used in Add Card Screen is not displaying properly whenever user tried to enter details it's getting cropped.
Kindly find the attached screenshot as reference of the issue.
![20211118135528](https://user-images.githubusercontent.com/86837233/142460999-3a09a289-8f17-4481-a773-e0fd63deeb4d.jpg)

[2021-11-18 17:00] parulgarg004 commented on #4389
@skylar-stripe can you please check

[2021-11-18 19:32] skyler-stripe commented on #4389
Hey there. This is something that should have been fixed.

What version of the SDK are you using? What is the device that you are using that has this issue? I haven't been able to reproduce this on any of my devices.

https://github.com/stripe/stripe-android/pull/4295

![device-2021-11-18-113020](https://user-images.githubusercontent.com/89166418/142484250-42274842-23ab-4d02-beb5-2737dec6d2d6.png)

[2021-11-19 11:43] hrules6872 commented on #4389
Same issue here + expiry/cvc hints are not visible until they got focus

LG G7 Thinq - Android 10 - Stripe SDK v18.2.0

![image](https://user-images.githubusercontent.com/5445152/142616659-c8b266b1-2b69-4d9e-851f-2abd5b4c1569.png)

[2021-11-19 13:01] Berki2021 opened #4390 "Cant run paymentsheet-example, getting "stripe-core:kaptDebugKotlin""
## Summary
I want to run the paymentsheet-example, but I get an error.

## Code to reproduce
1. Clone the repo
2. Run paymentsheet-example

## Android version
29

## Impacted devices
All

## Installation method
I didn't

## SDK version
Don't know

## Other information
Current kotlin android plugin: 1.6.0

### Error Code

[code]

[2021-11-19 19:40] skyler-stripe commented on #4390
Hey there,

I'm wondering if this will help you? https://stackoverflow.com/questions/62131564/a-failure-occurred-while-executing-org-jetbrains-kotlin-gradle-internal-kaptexec

It seems like android studio likes to hide error messages for this kind of thing (I've run into this in the past). I'm curious what you have for java home. You can find this in Preferences -> Build, Execution, and Deployment

[2021-11-21 12:35] Berki2021 commented on #4390
@skyler-stripe Thank you very much for the help. I got into Preferences -> Build, Execution, and Deployment -> Gradle -> Gradle JDK and changed it from Java 16 to Java 11 (just like you have) and now I can successfully build the paymentsheet-example.

But now I have another problem: When I click on the Button "Paymentsheet" or "Paymentsheet Custom" I get the following error:
[code]

Do I have to s

[2021-11-21 12:41] Berki2021 commented on #4390
Now I have a different problem: Clicking on "Paymentsheet Button" and then on "Buy", nothing happens.

[2021-11-22 01:57] mmadjer opened #4392 "CardMultilineWidget: Text input fields cut off"
## Summary
CardMultilineWidget cuts off text input fields.

P.S.
Just saw that someone else logged it as well: [#4389](https://github.com/stripe/stripe-android/issues/4389)

## Code to reproduce
Can be reproduced by simple creating a new empty activity project in Android Studio Arctic Fox (2020.3.1 | Patch 3).
Minimum SDK: API 23
Language: Kotlin

activity_main.xml
`<?xml version="1.0" encoding="u

[2021-11-22 16:18] skyler-stripe commented on #4389
This looks like an issue we can fix. I will continue to work on this and get it in the next release.

[2021-11-22 16:18] skyler-stripe commented on #4392
Resolving this as a dupe: https://github.com/stripe/stripe-android/issues/4389

I'll keep the other issue updated.

[2021-11-22 16:18] #4392 closed

[2021-11-22 16:53] skyler-stripe commented on #4390
So we do use that snackbar to show the result of the payment sheet. To make sure everything else is working we can add a log to the result method [here](https://github.com/stripe/stripe-android/blob/master/paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/samples/activity/BasePaymentSheetActivity.kt#L71)

[code]

If we're getting a result then everything else is working. W

[2021-11-23 04:48] parulgarg004 commented on #4389
Devices
Samsung A21s
OS : 11
Resolution  : 720x1600 pixels

Redmi 5a
OS : 8.1
Resolution  : 720 x 1280 pixels

[2021-11-23 09:16] Ayvytr opened #4401 "[Feature]Do I need to config proguard?"
The  link of "proguard-rules.txt" at bottom of readme is 404. Do I need to config proguard? If I need, what path of "proguard-rules.txt"?

[2021-11-24 10:14] Valentin-Anger-qnips commented on #4327
@michelleb-stripe Thank you for your time and sorry for my irresponsiveness.

- This occurs with both proguard being enabled or disabled.
- We are not using `kotlinx-serialization-json` directly, but all `kotlinx-serialization` libraries in our dependency tree are at version `1.3.0`.

[2021-11-25 21:21] CoreFloDev commented on #4350
Hi @ccen-stripe,

I am trying the approach you described, when I set a custom url like this:
[code]
it doesn't seems to work

Could you also explain me what is it supposed to do during the callback?

Thanks,
Flo

[2021-11-26 09:19] arslankaleem7229 commented on #3173
bro this solution worked perfectly but i have seen that it go through all of used library which is I think no efficient approach because its taking 3 4 min to run the app everytime although its the only solution I got and its working

[2021-11-26 10:17] CoreFloDev commented on #4401
no the rules comes from the dependency

[2021-11-29 01:40] brnunes-stripe commented on #4401
Hi @Ayvytr,
Thanks for raising this issue!
It's up to you to use proguard or not, but you shouldn't need to worry about the library in case you decide to use.
The link became broken after we've modularized the SDK, but each module has a proguard rule to keep the names of the Stripe classes.
I'm updating the documentation and removing that section to avoid confusion.

[2021-11-29 01:40] #4401 closed

[2021-11-29 11:33] deakjahn commented on #3173
With the obvious modification that the `println` line is no longer required when it already works. :-)

Thanks, I came here for the same problem (even with a different module) and this helped.

[2021-11-29 14:29] CoreFloDev opened #4419 "[BUG] instant experience not working"
Hi,

## Summary
Instant experience doesn't work, you use a deeplink with a personnalised schema `stripeSDK://` for redirection that isn't supported in instant app context. I have tried to specify a custom return_url but it isn't called on your webview it will still use the default one. When I put breakpoints on your sdk code, I ca confirm that the returnUrl is changed.

The idea, I was thinking ab

[2021-11-30 00:57] Ayvytr opened #4421 "[Question] How to custom payment?"
How to set test to EditText of payment sheet that I don't need to input?Or how to skip payment sheet, use my app payment ui?

[2021-11-30 03:27] ccen-stripe commented on #4421
Hi @Ayvytr , please check our [Card Elements Only](https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=custom) flow, You can build your own UI and use the [PaymentLauncher](https://github.com/stripe/stripe-android/blob/779a71c6/payments-core/src/main/java/com/stripe/android/payments/paymentlauncher/PaymentLauncher.kt#L1) API we provided to confirm a `PaymentIntent`

[2021-11-30 14:20] sofi-kry commented on #4389
We are experiencing the same issue, in non-focused edit texts the hint is always white (so not visible against a white background). Is there a workaround?

[2021-11-30 18:51] dmytroKarataiev opened #4423 "[BUG] Memory leaks when closing and opening CardDataCollectionFragment"
## Summary
Multiple memory leaks:
[code]

[code]

## Code to reproduce
Not at the moment.

## Android version
Android 11

## Impacted devices
Samsung Galaxy S20+

## Installation method
Gradle dependency

## Dependency Versions

kotlin: 1.5.21
stripe-android: 18.2.0
Android Gradle Plugin: 4.2.2
Gradle: 7.0.1

## Video
With don't keep activities on:
https://user-images.githubusercontent.com/1495872

[2021-11-30 22:08] paetztm commented on #3973
Same issue on a Samsung S8 with Android 9 using PaymentSheet.FlowController

[2021-12-01 05:29] ccen-stripe commented on #4419
Hi @CoreFloDev thanks for reporting this. I have put up #4426  to not override the `stripesdk://payment_return_url` return url when it's instant app, you don't need to provide the returnUrl override, now at the end of flow it should show a page to let user dismiss the webView:

![instantApp](https://user-images.githubusercontent.com/79880926/144176842-108f2efa-9ee2-4404-80fe-829ab73f8151.gif)

[2021-12-01 09:17] Ayvytr commented on #4421
Thank you!
And here is another question: Is it correct using when I use visa, master card and paypal? Just use `PaymentMethodCreateParams.createPayPal()` for PayPal, don't need argument `metadata`?

[code]

[2021-12-01 09:41] Ayvytr commented on #4421
And when I call `paymentLauncher.confirm(confirmParams)`, it will open browser, then get payment result. Is there any way don't open browser? Because if I don't click jump return my app, I can't close browser page, return to my app widget.

[2021-12-01 11:21] MounikaV45 opened #4427 "Issue with dagger if stripe implementation is added"
Hi,

When i am integrating stripe in my project which also has dagger implementation, I am facing issues in dagger libraries.

Stripe implementation : implementation 'com.stripe:stripe-android:18.2.0'
dagger :
implementation "com.google.dagger:hilt-android:2.35"
![Screenshot 2021-12-01 at 4 50 01 PM](https://user-images.githubusercontent.com/92711559/144225634-eb368ac1-b7d1-4c38-baa5-37d201f567a4.

[2021-12-02 16:32] paetztm commented on #3973
This issue mysteriously went away without any code changes on our end... Gotta love Android development :)

[2021-12-02 17:15] ccen-stripe commented on #4427
Hi @MounikaV45 , could you try `invalidate caches and restart` , and probably share your gradle file if it still persists? I tried to have the following two in a sample android app and it's able to build correctly.

[code]

[2021-12-03 04:41] MounikaV45 commented on #4427
Yeah, I have done all the possible ways like invalidate caches and restart, rebuild, sync project sort of things.
My build file is:
yes, I am using the same gradle implementations that you have mentioned

[2021-12-03 08:11] MichaelJokAr opened #4435 "[BUG] Crash on v18.2.0"
we used the v18.2.0 sdk;; crash happend in HUAWEI  LIO-AL00 Android 10 and not root

crash page is PaymentSheetActivity,

this is log
[code]

[2021-12-03 10:05] alexandrudumbravan-nutmeg opened #4436 "[Feature] Google Play card filtering by funding"
**Is your feature request related to a problem? Please describe.**
I've checked out the guide to use Google Pay in here (https://stripe.com/docs/google-pay) and want to migrate the project to this approach, however I haven't seen a way to check if a card is debit or credit card is selected. This is important because I would like to reject debit cards.

**Describe the solution you'd like**
If possi

[2021-12-03 13:36] CoreFloDev commented on #4419
Amazing work, do you know when it will be available to use?

[2021-12-03 16:04] ccen-stripe commented on #4421
metadata is not required as long as the payment method creation API correctly returns a PaymentMethod.

`paymentLauncher.confirm` 's work is to make sure this PaymentIntent is confirmed, so the step to open the browser is not skippable. As for some PM it requires the client to click the confirm button in the page, for others it requires the user to input an SMS message code then click confirm. Wit

[2021-12-03 16:07] ccen-stripe commented on #4435
Hi @MichaelJokAr could you provide the actual code how you use PaymentSheet to reproduce this? Is it happening consistantly?

[2021-12-03 17:04] ccen-stripe commented on #4427
Hi @MounikaV45 , I have just put up a sample app here: https://github.com/ccen-stripe/daggerTest, it is based off the vanilla Android studio's "Basic Activity" App, plus a String [injected](https://github.com/ccen-stripe/daggerTest/blob/ef0e76c78f8127e685077ea4f4f693860b29a63f/app/src/main/java/com/example/daggertest/MainActivity.kt#L28) using hilt in `MainActivity`, and a Stripe's [PaymentLaunche

[2021-12-03 17:07] MounikaV45 commented on #4427
Thank you so much for your response. I will check that.Thanks & Regards,Mounika,8019592257. ---- On Fri, 03 Dec 2021 22:34:33 +0530  ***@***.***  wrote ----
Hi @MounikaV45 , I have just put up a sample app here: https://github.com/ccen-stripe/daggerTest, it is based off the vanilla Android studio's "Basic Activity" App, plus a String injected using hilt in MainActivity, and a Stripe's PaymentLaunc

[2021-12-03 18:14] brnunes-stripe commented on #4436
Hi @alexandrudumbravan-nutmeg,
How would you filter the Google Pay tokens by funding?
Behind the scenes we just use Google Pay's APIs, and I don't see that option on [Google's documentation](https://developers.google.com/pay/api/android/reference/request-objects#CardParameters)

[2021-12-03 18:24] ccen-stripe commented on #4423
Hi @dmytroKarataiev , would you mind sharing how your client is integrating with the `PaymentSheet` API? Is the leak constantly reproducible? I tried with the same set with our `PaymentSheet` [example app](https://github.com/stripe/stripe-android/blob/adc83cf6b7a836430770ddc2ccaaa72b1b7930e0/paymentsheet-example/src/main/java/com/stripe/android/paymentsheet/example/playground/activity/PaymentSheet

[2021-12-03 18:29] alexandrudumbravan-nutmeg commented on #4436
Hello @brnunes-stripe. That option is part of Stripe's API.
Currently we are using the Google Wallet to obtain the PaymentData from the intent which is a JSON object from which we extract the "paymentMethodData" object and eventually a "token". We then create a Token object using the Stripe library with Token.fromJson(JSONObject(jsonObject)). The token object contains a card object which contains

[2021-12-03 18:42] dmytroKarataiev commented on #4423
@ccen-stripe yes, constantly reproducible. Did you enable "Don't keep activities ON" in the dev settings for both phones, then closed and opened the app again?

Looking at your example our app is only missing the PaymentSheet itself:
[code]
I added it just in case and tested - still no luck. We also launch Stripe from a fragment and not an Activity.

[2021-12-03 18:59] brnunes-stripe commented on #4436
I see, so you're using Stripe's Token API?
`GooglePayLauncher` works with `PaymentIntent/SetupIntent`, and `GooglePayPaymentMethodLauncher` works with `PaymentMethod`. Token is part of the older [`Charges` API](https://stripe.com/docs/payments/accept-a-payment-charges?platform=android), which is not supported by them.
If you're willing to move to the newer `PaymentMethod` API, then you should be a

[2021-12-03 19:34] alexandrudumbravan-nutmeg commented on #4436
@brnunes-stripe
Thank you for the information but I don't think that's an option for us because we don't confirm the payment through the BE at the moment, which means that at the moment we won't be able to use the GooglePayLauncher because there's no point in between Google Pay and Confirming the payment through Stripe where we can verify the selected card.

[2021-12-03 21:04] dmytroKarataiev commented on #4423
I was able to reproduce memory leaks in your sample app too. But to reproduce them I need to call `flowController.presentPaymentOptions()` directly instead of calling `startCompleteCheckout()`:

https://user-images.githubusercontent.com/14958724/144672671-4bca899a-f578-488e-b767-b7bb59844560.mp4

[2021-12-03 21:08] dmytroKarataiev commented on #4423
I also confirmed (was just trying to emulate our scenario 1 to 1) that memory leaks happen when you use Stripe either directly in an Activity or in a Fragment.

[2021-12-03 21:08] dmytroKarataiev commented on #4423
Let me know if you need more information, happy to help.

[2021-12-06 05:22] MounikaV45 commented on #4427
Hi Chen,

Thank you so much for the sample code, now I am able to build the app successfully without any issues. 

Thanks & Regards,

Mounika,

8019592257.

---- On Fri, 03 Dec 2021 22:34:33 +0530 Chen Cen ***@***.***> wrote ----

Hi https://github.com/MounikaV45 , I have just put up a sample app here: https://github.com/ccen-stripe/daggerTest, it is based off the vanilla Android studio's "Basic A

[2021-12-06 07:38] #4421 closed

[2021-12-06 13:39] sugukung opened #4442 "Missing 'package' key attribute on element package at [com.stripe:payments-core:18.2.0] AndroidManifest[BUG]"
**While i update stripe version to latest it shows error**
[code]

[2021-12-06 16:26] #4427 closed

[2021-12-06 16:47] ccen-stripe commented on #4442
Hi @sugukung , could you verify your [AGP](https://github.com/stripe/stripe-android/blob/eb8d50da2c75d981c8691a6f9a3e7ac6a63e4406/build.gradle#L15) version and kotlin version is up to date?

[2021-12-07 20:21] dmytroKarataiev opened #4449 "[BUG] Payment gets stuck when you switch between the apps and the stripe activity gets killed"
## Summary
When you use a sample app Playground experience, select a payment method, close/open the app with don't keep activities on and then try to pay - the app would get stuck and you would need to close/open it again to be able to pay.

This also happens in our real app where we use the sdk.

## Code to reproduce
https://github.com/stripe/stripe-android/tree/master/paymentsheet-example

## An

[2021-12-08 03:40] jigneshappdev commented on #3333
@arpitagarwal1301
Yes, it's worked for me.
Thanks

[2021-12-09 07:47] nambv commented on #4169
Hi @Greelings did you update the policy to make the app live again? Can you update more detail please?

[2021-12-09 11:08] Greelings commented on #4169
@nambv Yes I did. You can find all the detailed instructions [here](https://stackoverflow.com/a/69072022/5607457).

[2021-12-09 13:26] freszu opened #4457 "[BUG] Payment sheet errors out if activity is killed in 3ds flows"
## Summary

I was investigating the possibility of integrating this component and run a few tests - while its really nice and takes away some integration burdens its once again new component that ignores android lifecycle and its quirks which means it can't be integrated in current state.
## Code to reproduce

1. Launch Payment sheet example
2. Default
3. Buy
4. Enter card requiring 3ds flow eg. 4

[2021-12-09 13:29] michelleb-stripe commented on #4457
@freszu Thanks for your report.  We will take a look.

[2021-12-09 13:29] michelleb-stripe commented on #4449
@dmytroKarataiev  Thanks for your report.  We will take a look.

[2021-12-09 21:45] brnunes-stripe commented on #4436
Hi @alexandrudumbravan-nutmeg,
You can still use the SDK and confirm in the client, by creating a [ConfirmPaymentIntentParams](https://github.com/stripe/stripe-android/blob/master/payments-core/src/main/java/com/stripe/android/model/ConfirmPaymentIntentParams.kt) with the id of the `PaymentMethod` returned and then calling [PaymentLauncher.confirm](https://github.com/stripe/stripe-android/blob/mas

[2021-12-09 21:53] brnunes-stripe commented on #4436
So you would:
- Create the `PaymentIntent` on the server, retrieve its `client_secret` on the client
- Use `GooglePayPaymentMethodLauncher` to create a `PaymentMethod` on the client
- Have your own logic to check if it's a debit card
- If it's all good, create a `ConfirmPaymentIntentParams` with [ConfirmPaymentIntentParams.createWithPaymentMethodId](https://github.com/stripe/stripe-android/blob/ma

[2021-12-11 04:20] ndungudedan commented on #4442
Facing the same issue..
Tried to update kotlin to the latest version but its not working

[2021-12-11 16:53] michelleb-stripe commented on #4442
@ndungudedan Based on [this](https://android-developers.googleblog.com/2020/07/preparing-your-build-for-package-visibility-in-android-11.html) article from Android developers you should also take a look at your gradle plugin version.

Possible related issues:
https://github.com/stripe/stripe-android/issues/4099
https://github.com/stripe/stripe-android/issues/3885

[2021-12-11 16:56] #4110 closed

[2021-12-11 16:56] #4067 closed

[2021-12-13 10:03] alexandrudumbravan-nutmeg commented on #4436
@brnunes-stripe Thank you very much. Feel free to close this ticket. Apologies for missing this approach.

[2021-12-13 15:06] #4436 closed

[2021-12-14 11:52] michelleb-stripe commented on #4457
@freszu As we work on these issues are you particularly interested in the custom or complete flow?

[2021-12-14 14:07] freszu commented on #4457
Not sure about the terminology but seems i was testing the complete flow. We are interested in migrating payment method setup (subscription model) so the exact flow for us would be Playground->Checkout mode : setup -> Complete it seems.

I didn't test the custom flow for these issues - but i feel like the issue could be affecting these as well 🤷

[2021-12-14 20:25] michelleb-stripe commented on #4457
@freszu ok, great, thanks for those added details.  We are working on that flow with don't keep activities now, and should have some updates to make it work better.

[2021-12-15 07:58] surajnavkudkar opened #4473 "[BUG] Not able to display SEPA debit using paymentsheet"
## Summary
We are using the code provided in this documentation https://stripe.com/docs/payments/save-and-reuse?platform=android&ui=payment-sheet.  Using it we are only able to display the payment bottom sheet with cards but we also want to display SEPA.

## Code to reproduce
`val customerConfig = PaymentSheet.CustomerConfiguration(
    "cus_xxxxxx",
    "ek_test_xxxxxxx"
)

paymentSheet.presentWi

[2021-12-15 11:26] michelleb-stripe commented on #4473
@surajnavkudkar I just want to make sure, you are not expecting re-opening the sheet to show the saved card for the customer to select.  This is used for later off-session PaymentIntent confirmation?

[2021-12-15 11:33] michelleb-stripe commented on #4369
@karan-opayn Please reopen if you are still experiencing issues

[2021-12-15 11:33] #4369 closed

[2021-12-15 11:34] michelleb-stripe commented on #4324
@Meruj98 Please reopen if you are still experiencing issues

[2021-12-15 11:34] #4324 closed

[2021-12-15 11:34] michelleb-stripe commented on #4040
@palakRpatel Please reopen if you are still experiencing issues

[2021-12-15 11:34] #4040 closed

[2021-12-15 11:35] michelleb-stripe commented on #4374
@BrunoRCE Please reopen if you are still experiencing issues

[2021-12-15 11:35] #4374 closed

[2021-12-15 11:36] surajnavkudkar commented on #4473
@michelleb-stripe  I am expecting a SEPA debit option to be shown on sheet
Below example taken from https://stripe.com/docs/payments/payment-element
<img width="601" alt="Screenshot 2021-12-15 at 5 05 06 PM" src="https://user-images.githubusercontent.com/54832352/146179485-9e3607c6-77dc-4023-bcf8-46b69b0bf45c.png">

[2021-12-15 11:47] michelleb-stripe commented on #3642
@josefXitaso If you are still having issues, can you please share a PaymentIntent id?

[2021-12-15 11:49] michelleb-stripe commented on #4389
@sofi-kry @parulgarg004 @ajitsingh994 This is now resolved in 19.0.0.  Please let us know if you have any other issues.

[2021-12-15 11:49] #4389 closed

[2021-12-15 11:54] michelleb-stripe commented on #4164
@GaneshkumarOPTISOL Please reopen and let us know if we can help any further

[2021-12-15 11:54] #4164 closed

[2021-12-15 12:56] michelleb-stripe commented on #4449
@dmytroKarataiev I have been able to confirm that this is an issue on API versions <= 29.  It does appear to work though if the process is killed.  I am continuing to look into the issue.

[2021-12-15 13:05] michelleb-stripe commented on #4473
@surajnavkudkar This is not currently supported on PaymentSheet.  We hope to enable it soon.

[2021-12-15 13:17] surajnavkudkar commented on #4473
@michelleb-stripe  can you guide me to a document or example where we can integrate sepa debit for android app .

[2021-12-15 13:58] surajnavkudkar commented on #4473
@michelleb-stripe  do we need to use sources  https://stripe.com/docs/mobile/android/sources . If yes then do we have a UI widget or util for validation of IBAN number?

[2021-12-15 14:23] michelleb-stripe commented on #4473
@surajnavkudkar There is an example activity [here](https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/activity/ConfirmSepaDebitActivity.kt) which confirms a SEPA payment.

This is just an example, in production code you will want to create the PaymentIntent on the server.   In your production code you will want to create a PaymetnMethodCreateParams:
`Pay

[2021-12-15 14:29] brnunes-stripe commented on #4209
Hi @ForbiddenZone,
Could you also tell us a little more about your use case? You are using Payment Intents and taking only on-session payments?
Check out https://stripe.com/docs/payments/payment-intents#future-usage

[2021-12-15 14:41] ajitsingh994 opened #4474 "Facing compile time issues on updating to 19.0.0"
After updating to 19.0.0 there are some compilation and data binding errors and I'm unable to run my application.
Can you please check @skylar-stripe

![Screen Shot 2021-12-15 at 7 47 38 PM](https://user-images.githubusercontent.com/86837233/146206306-7de308b1-338b-4506-8929-cea4203ddc81.png)

[2021-12-15 14:42] surajnavkudkar commented on #4473
Thanks @michelleb-stripe  will try

[2021-12-15 15:05] ndungudedan commented on #4442
@michelleb-stripe Thanks for your help.
I was able to resolve the problem by upgrading my gradle plugin version to the latest as stated in the [article](https://android-developers.googleblog.com/2020/07/preparing-your-build-for-package-visibility-in-android-11.html) you shared.

[2021-12-15 16:53] skylar-stripe commented on #4474
@skyler-stripe * 😄

[2021-12-15 18:32] skyler-stripe commented on #4390
This is released in our SDK. Let us know if you have any further issues.

[2021-12-15 18:32] #4390 closed

[2021-12-15 18:36] michelleb-stripe commented on #4313
@St4B We will keep a look out for this issue.  If you encounter it more and have any more details to provide, please feel free to reopen.

[2021-12-15 18:36] #4313 closed

[2021-12-15 18:48] michelleb-stripe commented on #4474
@ajitsingh994 Can you run the build with the argument `--stacktrace` and see if there is any additional information printed?

[2021-12-15 18:48] ccen-stripe commented on #4419
fixed in [19.0.0](https://github.com/stripe/stripe-android/releases/tag/v19.0.0)

[2021-12-15 18:51] #4419 closed

[2021-12-16 01:18] michelleb-stripe commented on #4473
@surajnavkudkar yeah, it will work with Setup intents for SEPA

[2021-12-16 05:10] surajnavkudkar commented on #4473
Thanks, @michelleb-stripe  we were able to add Iban using the above code. I have a question regarding MandateDataParams in javascript we were able to use the parameter inferFromClient but in android SDK it is private so IP address and the user agent are the only way to provide mandate info to setupIntent?

[2021-12-16 09:46] alexandrudumbravan-nutmeg opened #4479 "[BUG] ChallengeResult.RuntimeError has non-parcelable fields"
## Summary
Our application is sometimes experiencing crashes.

## Code to reproduce
In the "com.stripe:stripe-3ds2-android:6.1.3" library there's a sealed class named ChallengeResult. One of the sub-classes is called RuntimeError and looks like this:
[code]
The class is meant to be parcelable but Throwable or in the user's case kotlinx.coroutines.TimeoutCancellationException contains an object tha

[2021-12-16 10:34] KristapsKrumins opened #4480 "[Feature] Save card from Google Pay without payment"
When I launch PaymentMethodsActivityStarter
[code]
there is an option to add a card. If I add a card there, then it will show up in Stripe dashboard automatically. No requests to backend is required. How to do the same with Google Pay? I would like an option to select one of the card from GooglePay so that after I have chosen the card, it shows up in Stripe dashboard. For Google Pay there is Googl

[2021-12-16 21:52] michelleb-stripe commented on #4474
@ajitsingh994 Sometimes a clean rebuild or in some case invalidating the Android Studio caches are an issue.  If you are still having problems let us know, and we can dig into it further.

[2021-12-16 22:18] aliriaz-stripe commented on #4480
When you use GooglePayPaymentMethodLauncher, you get a PaymentMethod back. Then on your backend you have to attach the PaymentMethod to the Customer using https://stripe.com/docs/api/payment_methods/attach

[2021-12-16 22:18] #4480 closed

[2021-12-17 11:34] michelleb-stripe commented on #4473
@surajnavkudkar I will look into it.

[2021-12-21 08:32] ciccilleju opened #4483 "[BUG] Excessive Sdk Size?"
## Summary

My app APK, before installing the Capacitor Plugin (which use your sdl), was 6,8 mb big (released with the--prod flag)

Now, it's 18 mb

Is it normal or do I need to set something?

thanks

## Android version
version 10 and 11.

## Installation method
gradle

## Dependency Versions
<!-- Plese post the output of the following script.  If the result does not contain a version number you

[2021-12-21 12:40] michelleb-stripe commented on #4483
@ciccilleju The PaymentSheet in the SDK includes the Jetpack Compose library.   This library is large, but with proguard turned on you can reduce the size and in some cases make it even smaller.

I wrote some instructions [here](https://github.com/stripe/stripe-react-native/issues/527#issuecomment-910400987) in another issue.   Please post again if you still have issues.

[2021-12-21 12:48] ciccilleju commented on #4483
thank you! I will try and let you know as soon as possibile

[2021-12-27 06:19] periva101 commented on #4102
any news?

[2022-01-03 10:58] cogandroid opened #4487 "Issue when i run the app"
I am using 19.0.0 and I'm unable to run my application.
Can you please check the below mentioned error:

[code]

[2022-01-04 08:30] jleprinc commented on #4479
The same 2 crashes are happening to me in production with the stripe SDK (can't replicate it though). It is happening on every API Level and on different devices (Samsung, Xiaomi, Huawei, ...).

Version: com.stripe:stripe-android:18.2.0

[2022-01-04 11:03] alexandrudumbravan-nutmeg opened #4488 "[BUG] CardException and APIException do not return valid error codes and decline codes"
## Summary
I am trying to use com.stripe.android.core.exception.APIException and com.stripe.android.exception.CardException to obtain an error code and a decline code and it appears that for APIException the StripeError field seems to be null and doesn't contain any of these codes. I am using the PaymentIntent with the Card widget from here https://stripe.com/docs/payments/accept-a-payment?platfor

[2022-01-04 23:35] skyler-stripe commented on #4488
Hey there. Thanks for writing in. We generally discourage using these exception classes directly. The preferred way is to do what we have in our examples below.

[code]
I tried this card in the custom flow example of our [accept a payment repo](https://github.com/stripe-samples/accept-a-payment) and was able to get the following error message : `Your card has insufficient funds.` would that error

[2022-01-04 23:49] skyler-stripe commented on #4487
Hey there. Thanks for writing in.

What version of gradle are you using? This article indicates that this error can happen if you're using an older version: https://android-developers.googleblog.com/2020/07/preparing-your-build-for-package-visibility-in-android-11.html

[2022-01-05 00:08] alexandrudumbravan-nutmeg commented on #4488
Hello @skyler-stripe. Thank you for the reply. Our use case involves using the error codes and the decline codes which we then use to request an error messages we can display to the user based on those codes. I did see that the error message is used in the example, but I am not sure if we should use that text to display to the user directly. In the past we found that those particular exceptions co

[2022-01-05 00:16] skyler-stripe commented on #4488
As noted in the comment that particular error message comes from [here](https://stripe.com/docs/api/payment_intents/object#payment_intent_object-last_payment_error-message) and is perfectly valid for showing to a user. Assuming this is for user facing messaging, `paymentResult.throwable.message` should be suited for your app.

[2022-01-05 09:44] alexandrudumbravan-nutmeg commented on #4488
@skyler-stripe Thank you. We'll update the app to directly show the error message from there. This ticket can be closed

[2022-01-07 09:57] alexandrudumbravan-nutmeg commented on #4488
@skyler-stripe Apologies for bringing this back up, but after some internal discussions we realised we cannot display the error messages directly from Stripe because of compliance requirements. Is there anyway the error codes and decline codes can be packaged in some exception so we could use those instead?

[2022-01-07 17:56] skyler-stripe commented on #4488
So the `GooglePayPaymentMethodLauncher.Result` does provide error codes but they are limited to three very basic results. We'll investigate further on if we can provide some sort of error code for you. For your reference, we use these error messages ourselves in the `PaymentSheet`.

[2022-01-09 06:12] SebghatYusuf opened #4501 "[BUG] Card details has merged the date and card number"
## Summary
CardField is showing card number and date placeholders merged together.
![issue ss](https://user-images.githubusercontent.com/48417629/148671265-d60e9ced-e17b-46be-a1fa-39eb57affaf3.png)

## Code to reproduce
1. Install the app on lower-resolution phones or make text bigger from the phone settings.
2. open card field page.

## Android version
All

## Impacted devices
* Device: [RUIO S65

[2022-01-10 08:25] MichaelJokAr commented on #4435
Thank's your reply, we find this crash is create from automated test； ignore this issue

[2022-01-10 08:25] #4435 closed

[2022-01-10 18:26] skyler-stripe commented on #4501
Hey @SebghatYusuf

Thanks for writing in. I'd love to see an example of your XML so I can try and reproduce this. It would be helpful to know what classes you're using and in what ways to build your UI. I've tried to increase the font size and I am not seeing the issue.

[2022-01-10 20:31] SebghatYusuf commented on #4501
@skyler-stripe,
Thank you actually I'm using flutter to develop my app, meanwhile, I'm using [flutter_strip](https://github.com/flutter-stripe/flutter_stripe) package to integrate stripe, but I had this issue, I've reported this issue there as well, they told me they've limited support for the layout [this comment](https://github.com/flutter-stripe/flutter_stripe/issues/524#issuecomment-1007965371

[2022-01-13 13:20] SebghatYusuf commented on #4501
Hi @skyler-stripe!
why the ticket status is still Waiting on Asker?

[2022-01-13 17:50] skyler-stripe commented on #4501
Hey there. Sorry I forgot to hit enter on my response!.

We'll take this into our backlog and look into it.

[2022-01-13 18:13] SebghatYusuf commented on #4501
Hi and thanks,
I was wondering why the status is on waiting...  because this issue is delaying our release, so for us, it's an urgent problem.

[2022-01-13 20:23] skyler-stripe commented on #4501
Hey there,

I'm trying to get into contact with the flutter maintainers to figure out what parts of our SDK they're using. We're trying to reproduce the issue without flutter.

[2022-01-14 17:45] skyler-stripe commented on #4501
Hey there. So it looks like this issue comes from a view within our (react native sdk)[https://github.com/stripe/stripe-react-native]. Could you file an issue over there and I'll make sure to figure out who should look into it in the next few business days?

[2022-01-14 17:45] #4501 closed

[2022-01-14 18:15] SebghatYusuf commented on #4501
Hi @skyler-stripe ,
Thanks, of course, I'll open an issue there.

[2022-01-14 18:22] SebghatYusuf commented on #4501
@skyler-stripe , Here is the ticket
https://github.com/stripe/stripe-react-native/issues/773

[2022-01-15 06:30] 22106331 opened #4509 "[BUG] UnionPay fail"
## Summary
I paid with UnionPay card, the payment was successful, but the sdk callback gave the wrong result.

## Code to reproduce
paymentLauncher = PaymentLauncher.Companion.create(
            activity,
            paymentConfiguration.publishableKey,
            paymentConfiguration.stripeAccountId,
            ::onPaymentResult
        )
private fun onPaymentResult(paymentResult: PaymentResul

[2022-01-18 06:08] NuHunter commented on #227
I have the same problem

[2022-01-18 19:53] SebghatYusuf commented on #4501
Hi @skyler-stripe!
Can you please let me know if there's any progress on this?

[2022-01-18 21:41] skyler-stripe commented on #4501
our react team is still investigating ownership for the issue. The issue will be updated when there is movement.

[2022-01-18 21:47] nextdimension commented on #227
This is an old issue! I guess they never did fix it, because irc, it was happening 100% of the time for me. I no longer use stripe.

[2022-01-19 21:36] jchio001 opened #4513 "[Feature] Expose an interface to prevent CardInputView from showing the soft keyboard when child views are focused"
## Is your feature request related to a problem? Please describe.
I'm using CardInputWidget in a way where I'm showing a custom keypad for the user to use to input values. One problem that has come up while doing so is that if the user clicks on any of the EditTexts nested within CardInputWidget, the soft keyboard will pop over and overlap with this custom keyboard.

Here's a gif demo of the behav

[2022-01-20 12:15] Mihirebiztrait commented on #1155
Hello, I also got the same error and I was using paymentSheet not terminal, SO as per docs need to pass ephemeralkey in payment sheet, just replace ephemeral key to your secret key and will work like a charm. Ephemeral key is for using terminal.

Hope this help
Thanks

[2022-01-20 12:38] vivek-modi opened #4516 "[BUG] CardMultilineWidget is not showing PlaceHolder or hint"
Hey I am using stripe in my application. The problem is placeholder is missing in Samsung Galaxy Note 10+ in android 11. I don't understand why is causing in this device. In other device is working fine. I tried some code which is working in other device and it's not working in specific device which I mention above. Can someone guide me please. Thanks

<img width="373" alt="Eh62X" src="https://use

[2022-01-21 08:10] sofi-kry commented on #4389
Hi 👋 we are still experiencing this issue with version 19.0.0, as you can see in this screenshot:

![150340933-802f0735-58a0-4f91-8b93-2b23ea0fba33](https://user-images.githubusercontent.com/93991979/150490243-60e9f12d-bc08-4eb7-a9e5-976c3b7a30d8.png)

[2022-01-21 22:36] brnunes-stripe commented on #4509
Hi @22106331, thanks for raising the issue!
Can you consistently reproduce this?
Does it happen in test or live mode?
Can you provide the stack trace for the exception? It'll help us understand where the exception is coming from.

[2022-01-21 22:50] brnunes-stripe commented on #4479
Hi @alexandrudumbravan-nutmeg,
Thanks for the detailed report!
I can reproduce the issue and I'm working on a fix, we'll release it soon.

[2022-01-21 23:21] brnunes-stripe commented on #4513
Hi @jchio001,
Can you share more of the code you're using for this behavior?
Are you just calling `setCardNumber`, `setExpiryDate`, etc when the user types in?

This is not really supported by `CardInputWidget`, so let me suggest a few workarounds that might work for your case:
- Have you tried [setting a CardInputListener](https://github.com/stripe/stripe-android/blob/master/payments-core/src/mai

[2022-01-25 02:19] michelleb-stripe commented on #4516
@vivek-modi Thanks for writing in.  I am curious if removing the style from the CardMultilineWidget has any impact on how it is displayed?  Also, can you share the value of @color/smoke?

[2022-01-25 02:52] michelleb-stripe commented on #4483
@ciccilleju Please reopen if we can provide further assistance.

[2022-01-25 02:52] #4483 closed

[2022-01-25 02:53] michelleb-stripe commented on #3952
@maciej-wichrowski Please reopen the issue if we can help you any further.

[2022-01-25 02:53] #3952 closed

[2022-01-25 02:54] michelleb-stripe commented on #4094
@lbrembil Please reopen if we can help you any further.

[2022-01-25 02:54] #4094 closed

[2022-01-25 02:54] michelleb-stripe commented on #4442
@ndungudedan Glad to hear it!

[2022-01-25 02:54] #4442 closed

[2022-01-25 02:56] michelleb-stripe commented on #4474
@ajitsingh994 Please reopen if we can provide further assistance.

[2022-01-25 02:56] #4474 closed

[2022-01-25 03:00] michelleb-stripe commented on #4457
@freszu We have several updates on this work, but have a couple of regressions that we need to fix..

[2022-01-25 06:29] vivek-modi commented on #4516
@michelleb-stripe thanks for replying me. I am adding my github project [link](https://github.com/vivek-modi/StripeExample). I successfully change the hint color by override the stripe style. I am facing issue on **activation indicator** or **boxStrokeColor** and font family with focus and vice versa. Can you guide me to resolve this?

[2022-01-25 10:00] 22106331 commented on #4509
It happen in live mode.
I user under api can solve the problem.

val confirmParams = ConfirmPaymentIntentParams.createWithPaymentMethodId(paymentMethodId, clientSecret)
                stripe.confirmPayment(activity, confirmParams)
stripe.onPaymentResult(requestCode, data, object : ApiResultCallback<PaymentIntentResult> {})

[2022-01-25 13:13] michelleb-stripe commented on #4473
@surajnavkudkar I apologize for the delayed response.  For the MandateDataParams, you should be able to use `MandateDataParams.Type.Online.DEFAULT`.  It is not fully supported and so will not auto-complete in your IDE, but that should work for you.

[2022-01-25 17:17] #4473 closed

[2022-01-25 17:18] surajnavkudkar commented on #4473
@michelleb-stripe  thanks for the info

[2022-01-26 08:46] Crown-23 opened #4524 "[BUG] Use PaymentSheet on Huawei phone. when selecting region, it only shows chinese region"
i use your sdk in my project. When selecting region, it only shows chinese region. i tested your demo, it has the same problem. Some Huawei phones are tested, they both have the problem.

## Impacted devices
Huawei phones

## Installation method
implementation 'com.stripe:stripe-android:19.0.0'

![Screenshot_20220126_164213_com android settings](https://user-images.githubusercontent.com/59108544/1

[2022-01-26 09:06] Crown-23 commented on #4524
when system language is English, it can show all region. But it only show chinese region in Chinese language

[2022-01-26 12:36] Kang-Kim1 commented on #3714
@yuki-stripe  Do you have any update on this request ?

[2022-01-26 12:41] michelleb-stripe commented on #4524
@Crown-23 I was wondering if you could verify the results of running the following function on your Android phone and report the results back to us.

`Locale.getISOCountries()`

[2022-01-26 14:08] michelleb-stripe commented on #4516
Try adding the following to your styles.xml file in your application:
`
    <style name="Stripe.CardMultilineWidget.TextInputLayout"
        parent="Widget.MaterialComponents.TextInputLayout.FilledBox" >
        <item name="boxStrokeColor">@android:color/holo_green_dark</item>
    </style>
`

Then you can choose which parent theme you want to use, and set the properties in this way.

[2022-01-26 14:52] vivek-modi commented on #4516
![Screenshot_20220126-131518.jpg](https://user-images.githubusercontent.com/24395678/151186070-93a6a66e-d330-46d3-a2d6-e9cd26f52a81.jpg)

[2022-01-26 14:54] vivek-modi commented on #4516
@michelleb-stripe

[2022-01-26 19:49] vivek-modi commented on #4516
@michelleb-stripe

1. The screenshot is for real device. I used OnePlus 5t with android 10.

2. Yes Icon of card number is white in white background. And when you click on CVC it's show me different kind of icon.

3. When you enter 4242 4242 4242 4242 the icon is different and it look perfect.

The project link of mine

https://github.com/vivek-modi/StripeExample

[2022-01-27 02:48] michelleb-stripe commented on #4516
@vivek-modi Thanks for the example, we will take a look.

[2022-01-27 03:35] Crown-23 commented on #4524
@michelleb-stripe I ran the function using the following code.
###### Language
Chinese
###### Codes
LogUtil.e("ISOCountries = ${Gson().toJson(Locale.getISOCountries())}")
###### Results
E/MyLog: ISOCountries = ["AD","AE","AF","AG","AI","AL","AM","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BV","BW","BY","BZ","CA"

[2022-01-27 13:32] michelleb-stripe commented on #4516
@vivek-modi I was only able to reproduce the issue when Dark Mode is set in the Android Settings.  When in dark mode the surface is expected to be dark so it will use the dark mode icons which have a very light colored background.  This background is too light, so you won't see it on a white surface.

Depending on what you are trying to achieve a couple of options are:
1. In your themes.xml set th

[2022-01-27 16:25] Janekxyz opened #4532 "CardMultilineWidget hints language"
Is it possible to set default locale/language to CardMultilineWidget?
I would like it to be e.g. English all the time but unfortunately when user change device locale, CardMultilineWidget starts to display hints in device locale language.

[2022-01-27 20:23] michelleb-stripe commented on #4532
@Janekxyz We do not currently have a way to set the language from the SDK, but Android has some mechanism for setting the locale on an activity or Application level.   [This](https://stackoverflow.com/questions/4985805/set-locale-programmatically) stackoverflow thread might be helpful.

Let us know if we can help more.

[2022-01-28 02:19] jchio001 commented on #4513
How this integration between this custom keypad and `CardInputView` works is that the keypad exposes a stream of `KeyEvent`s and we're passing it to `CardInputView` by calling `cardInputWidget.dispatchKeyEvent`. For the 2 workarounds:
- I haven't tried it yet: I'll take a pass at it and record the experience. If the experience feels as though we're not showing the keyboard at all, I'll close this

[2022-01-28 20:59] jchio001 commented on #4513
So I tried 2 approaches:
- I set a `CardInputListener` as you described, and that led to the soft keyboard being sometimes dismissed but still showing up for the majority of interactions.
[code]
- I created an extension method that trawled through `CardInputWidget`'s view hierarchy that make every nested `EditText` focusable but with `showSoftInputOnFocus` set to `false`:
[code]

Neither of these

[2022-01-28 22:19] Dave181295 commented on #486
Okay so Stripe just announced the ScanCard feature, but I don't see any doc about it, I saw the repo , need to create a CIV intent , any infos please?

[2022-01-30 15:57] michelleb-stripe commented on #4524
@Crown-23 Can you check to make sure that you are not pre-populating fields by setting a billing address in the [configuration](https://github.com/stripe/stripe-android/blob/d154d6f4dccd0715435f6baa0952a5118b015014/paymentsheet/src/main/java/com/stripe/android/paymentsheet/PaymentSheet.kt#L178).  There is a bug here that if this is set only countries that start with that name can be selected.  You

[2022-01-30 21:04] michelleb-stripe commented on #3818
@condesales If you are in need of more styling now, forking the repository and making modifications is probably the best option.

We are working to add better styling customization, and while it might not include 100% of all possible styling customization, we do plan for much more than what is currently available.  If you have particular areas of styling that you would like for us to consider your

[2022-02-01 11:15] Vkalns commented on #4102
I think this assumption might not be entirely correct.
In my scenario I have google account which uses [Google provided Test Card suite](https://developers.google.com/pay/api/android/guides/resources/test-card-suite). And if you [are setting allowed auth methods to include PAN_ONLY](https://github.com/stripe/stripe-android/blob/master/payments-core/src/main/java/com/stripe/android/GooglePayJsonFac

[2022-02-03 01:09] ahmedg-stripe commented on #3714
@danijorda1 would you mind the specific request being shared by the regulator?

[2022-02-03 01:19] ahmedg-stripe commented on #4532
Also @Janekxyz are you newly integrating CardMultilineWidget? We strongly advice against it and recommend using PaymentSheet instead. Any reason you are going the CardMultilineWidget route over PaymentSheet?

[2022-02-03 01:27] ahmedg-stripe commented on #4516
Also @vivek-modi why are you using CardMultilineWidget instead of Payment Sheet? Is there something missing from PaymentSheet that would better meet your needs?

[2022-02-03 18:28] skyler-stripe commented on #4479
Hey there,

Just an update. We found that this issue was among a group of issues found during an audit of our SDK. I will keep this ticket updated as this issue has been fixed it just needs to be taken in to our payments SDK and released. Thanks for your patience.

[2022-02-03 23:23] skyler-stripe commented on #4513
I think I have a solution for you that allows you to keep focus without the keyboard. I stepped through your second snippet and noticed it wasn't actually hitting the right child views to change. Here's what I did:

[code]

Then there was a problem that the edit texts would request focus upon starting the activity. I added this to my manifest to make it so the keyboard doesn't popup in the activit

[2022-02-03 23:36] skyler-stripe commented on #4509
hey there @22106331

Do you have any more details on the APIException you're getting? You're saying using the `Stripe.kt` methods work for you but payment launcher does not?

[2022-02-03 23:37] skyler-stripe commented on #4336
We're working on a solution for this. If you're experiencing this issue and would like to opt into our testing program, please email [3ds2-mobile-fallback@stripe.com](mailto:3ds2-mobile-fallback@stripe.com) with your [account ID](https://stripe.com/docs/dashboard#find-account-id). Thanks!

[2022-02-03 23:38] skyler-stripe commented on #4487
I'm going to close out this issue. Please let us know if you are still having troubles.

[2022-02-03 23:38] #4487 closed

[2022-02-03 23:55] skyler-stripe commented on #3642
Hey there. Going to close this issue. Feel free to reopen and we can look into this more.

[2022-02-03 23:55] #3642 closed

[2022-02-04 00:00] skyler-stripe commented on #3423
Going to close out this issue. Please feel free to reopen it if CardFormView is not working for you!

[2022-02-04 00:00] #3423 closed

[2022-02-04 16:57] condesales commented on #3818
@michelleb-stripe thank you for your comments!

As I mentioned in the previous messages, we can easily customize the forms in whichever way we want since `CardNumberEditText` `ExpiryDateEditText` and `CvcEditText`are views from the library we can easily put into our own XML and customize. That's what we currently do, matching what has been requested by our design team.
<img src="https://user-image

[2022-02-04 22:13] jchio001 commented on #4513
Looks like that worked! Would it be possible to expose an interface to toggle this exposed in `CardInputView`?

[2022-02-04 23:13] skyler-stripe commented on #4513
I'm unsure if there are resources to take this on as we prefer people to use payment sheet. I'll discuss with my team the implications of exposing this api.

However, I recommend you proceed with your own extension function if my solution works for you.

[2022-02-08 03:14] DodoSpringLove commented on #3615
# Summary
Fatal Exception: java.lang.RuntimeException
Unable to start activity ComponentInfo{com.instpower.global/com.stripe.android.view.AddPaymentMethodActivity}: java.lang.IllegalArgumentException: Required value was null.

android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2951)
android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:3086)
android.app.servertran

[2022-02-08 03:16] DodoSpringLove commented on #3615
@vellov Has this problem been solved?

[2022-02-08 17:11] michelleb-stripe commented on #4457
@freszu We have made many improvements to our complete flow.  There are still a few corner cases to resolve, but I think you will find the next release will have big improvements.

Wait for the next release after 19.1.1.  https://github.com/stripe/stripe-android/releases

[2022-02-08 20:46] jchio001 commented on #4513
That works for me! Since you've self-assigned this ticket, I'll leave it open for you to close it whenever those discussions resolve.

[2022-02-08 20:57] skyler-stripe commented on #4513
Great !

Feel free to reopen this ticket if you discover another related issue.

[2022-02-08 20:57] #4513 closed

[2022-02-09 07:37] Crown-23 commented on #4524
The billing address is not pre-populating in my project. XIAOMI/ONEPLUS/HUAWEI phones were tested and only HUAWEI has the problem. Problem exitsts in your github demo too. Can you test your demo on HUAWEI phone?
I have set a breakpoint in CardDataCollectionFragment.populateFieldsFromArguments, but i didn't trigger it

[2022-02-09 16:01] michelleb-stripe commented on #4524
@Crown-23 Unfortunately I don't have a Huawei phone to test it with.  Can you set a breakpoint in CountryUtils.getSortedLocalizedCountries.  This is where the CardDataCollectionFragment is using the BillingAddressView to get the list of countries.

[2022-02-09 19:42] brnunes-stripe commented on #4195
We appreciate the feedback on this!
I'm moving this to our backlog as it's not something that blocks usage of our existing API, but an improvement that we'll keep in mind as we design new APIs or update the existing ones.

[2022-02-10 09:55] mathemandy opened #4570 "[BUG] PaymentSheet Prevents keyboard from launching using Bancontact"
## Summary
- When i select buy on the `paymentsheet-example` , which brings up the  payment sheet.
- Selecting Bancontact and attempt to type in the name field.
-  The keyboard attempts to show and then fails, this continues repeatedly.

## Code to reproduce
- reproducable with paymentsheet-example

## Android version
 Android 12

## Impacted devices
- Samsung s21+

## Installation method
- I clon

[2022-02-11 22:23] brnunes-stripe commented on #4570
Hi @mathemandy,
Thanks for the feedback!
I wasn't able to reproduce on a Galaxy S21 Ultra with the default Samsung keyboard, the Microsoft SwiftKey or the Google GBoard.
That's very weird because the UI element used is exactly the same as the one in the iDEAL form, which works according to you screen recording.
Do you see any relevant logs in logcat that can give us more insight into what's happen

[2022-02-14 13:20] mathemandy commented on #4570
I'll investigate more and see if i can find additional logs for you

[2022-02-14 23:15] awush-stripe commented on #486
hi @Dave181295 , Stripe card scanning will release today, and will not require a CIV intent. CIV intent is for a future product.

[2022-02-20 22:12] Dave181295 commented on #486
That's fantastic news! When will Stripe's docs be updated? @awush-stripe

[2022-02-21 12:40] meeeee12 opened #4613 "[BUG] Crashing when trying to process a payment"
## Summary
My app crashes everytime a try to process a test payment. I am using the test api key and card number 4242 4242 4242 4242.

## Code to reproduce

https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=custom

## Android version

10

## Installation method

gradle

## Dependency Versions

kotlin:
stripe-android: 9.1.1
Android Gradle Plugin: 4.1.1

## SDK classes

PaymentLa

[2022-02-21 15:28] MoustafaElsaghier commented on #4078
any updates on this?

[2022-02-22 18:42] skyler-stripe commented on #4613
Hey there,

Thanks for reporting this. We are looking into it on this issue here: https://github.com/stripe/stripe-android/issues/4479

Updates will be posted there.

[2022-02-22 18:42] #4613 closed

[2022-02-25 23:03] hszlangbaum opened #4623 "Is it safe to exclude BouncyCastle from Stripe gradle dependencies?"
Is it safe to exclude BouncyCastle from Stripe gradle dependencies?
I'm using R8 but BouncyCastle is adding an extra ~700KB to the app size.

This is what I'd lke to do:
[code]

[2022-02-25 23:13] hszlangbaum opened #4624 "Is it safe to exclude PaymentSheet from Stripe gradle dependencies?"
Is it safe to exclude PaymentSheet from Stripe gradle dependencies?
I'm not using PaymentSheet functionality.
PaymentSheet is adding an extra ~270KB to the app size.

This is what I'd lke to do:
[code]

[2022-02-28 17:45] michelleb-stripe commented on #4532
Please let us know if we can help you any further

[2022-02-28 17:45] #4532 closed

[2022-02-28 17:46] #3818 closed

[2022-02-28 19:46] michelleb-stripe commented on #4623
bouncycastle is required for 3DS2 authentication of card payments, so it is required for the SDK.

[2022-02-28 19:48] michelleb-stripe commented on #4624
If the size of PaymentSheet was smaller would you be able to use this integration?

PaymentSheet is our recommended integration path and is getting new many new features and updates.  Our other integrations are in maintenance mode and are not getting any new features.

[2022-03-01 13:43] MuzammalHussain007 opened #4629 "java.lang.NullPointerException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter paymentIntentClientSecret[BUG]"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

kotlin:
stripe-android:
Android Gradle Plugin:
Gradle:

## SDK classes

## Video

## Other information

[2022-03-01 13:47] michelleb-stripe commented on #4629
@MuzammalHussain007 I am sorry you are having trouble, hopefully we can get things working for you.

1. Are you using PaymentSheet?
2. Can you share the full stacktrace?

[2022-03-01 13:57] MuzammalHussain007 commented on #4629
kindly tell me the solution.

On Tue, Mar 1, 2022 at 6:55 PM muzammal hussain <
***@***.***> wrote:

[2022-03-01 14:38] michelleb-stripe commented on #4629
@MuzammalHussain007
In logcat you will see the full stack trace which contains function names and line numbers.  Can you please attach that?

[2022-03-01 16:18] hszlangbaum commented on #4623
I've excluded that and tested a flow with the authentication required (card number: 4000 0027 6000 3184) and it seemed alright.
Is there a min Android version that wouldn't require this dependency?
The Stripe Android library is relatively big, which is even more pronounced in small apps.

[2022-03-01 16:23] hszlangbaum commented on #4624
Does it mean it's okay to exclude it?

I'd consider using it if I had a granular control over styling it. I'd like it to seamlessly blend in with the rest of the app.

[2022-03-01 18:04] sjcqs opened #4630 "[BUG] Resources are not namespaced to avoid colliding with custom resources."
## Summary

Similar to #1656

The arrow in the 3DS `ChallengeActivity` are not prefixed.

## Code to reproduce
1. Create an app with a drawable called `ic_arrow`
2. Open the 3DS screen (via `PaymentLauncher` or the `PaymentSheet`)
3. The arrows are not the right ones (in the light theme, it's not colliding in the dark one)

## Android version
Every versions

## Impacted devices
Every devices

## I

[2022-03-01 18:55] michelleb-stripe commented on #4624
@hszlangbaum You will be able to exclude it.

We do have plans to add in more styling to the PaymentSheet, if you wouldn't mind sharing a screenshot or some details of what your styling looks like we will try to incorporate them into our upcoming work.

[2022-03-01 20:03] michelleb-stripe commented on #4623
@hszlangbaum We have in our backlog plans to improve the proguard file, so that only required resources are required when building.  This should do a lot to improve the size.

Can you verify that bouncycastle is not anywhere else in your dependency tree by running: ./gradlew :app:dependencies?

[2022-03-01 22:13] hszlangbaum commented on #4623
@michelleb-stripe Positive. Stripe is the only dependency pulling this in.
Zero chance of safely getting rid of BouncyCastle for now?

[2022-03-02 11:24] #4624 closed

[2022-03-02 20:06] skyler-stripe commented on #4630
Hey there. These live in our closed source 3ds2 repo. I've submitted a PR to rename the icons missing the stripe prefixes. The change should go out in the next release. I will update when status changes on the PRs.

[2022-03-02 20:07] skyler-stripe commented on #4479
I've submitted a PR for this in our closed source 3ds2 repo. I will keep this ticket updated as it moves to different states. I plan on this going out with our next release.

[2022-03-03 07:45] sjcqs commented on #4630
Thanks you 👍

[2022-03-03 16:03] Rioverde opened #4643 "[BUG] Flutter: Google Pay or Apple Pay duplicates cards when choosing payment"
Flutter 2.10.1
Using stripe library flutter_stripe: ^2.3.0
https://pub.dev/packages/flutter_stripe

In app I use 3 types of payment
1. Google Pay
2. Apple Pay
3. Card Payment

In case when I use Apple Pay or Google Pay methods from Library, each time, it duplicates used bank card numbers to the list of cards in Card Payment method's card list

Methods I use are:
Stripe.instance.presentApplePay()
S

[2022-03-03 19:08] awush-stripe commented on #486
hi @Dave181295 we're working on the docs presently, and we'll likely be making some small API tweaks. Expect an update in the next few weeks.

[2022-03-03 20:47] skyler-stripe commented on #4630
The update to our 3ds2 sdk is merged. It will go out in the next release.

[2022-03-03 20:48] skyler-stripe commented on #4479
The update to our 3ds2 sdk is merged. It will go out in the next release.

[2022-03-03 21:48] michelleb-stripe commented on #4643
@Rioverde When using a PaymentIntent with SetupFutureUsage set to "on" or "off", or using a SetupIntent, the payment method will be saved to the user.  Open the paymentsheet again with the same customer id will show the saved card.

Some possible options depending on your use case:
1. If you don't need the saved card functionality you can remove the customer id from the PaymentSheet configuration.

[2022-03-05 00:01] 256hz opened #4652 "Scan Card option on PaymentSheetFragment"
## Is your feature request related to a problem? Please describe.
We love the scan card functionality in the iOS Stripe SDK and would love to see it on the Android side as well.

## Describe the solution you'd like
Match the iOS card scan feature/UI in the Android SDK

## Describe alternatives you've considered
Manual entry will always work but is slower and more error-prone

Forgive me if there i

[2022-03-05 08:50] Rioverde commented on #4643
@michelleb-stripe so this issue will be fixed soon, if you have it on backlog ?
And thanks a lot for provided answer !

[2022-03-07 07:22] meeeee12 opened #4658 "[BUG] Version 9.1.1 is the lastest that can be used"
## Summary

Cannot use version 9.2.0 or 9.2.2.
9.1.1 is the lastest version that works. In the newer versions, android studios cannot find the Stripe classes such as `PaymentLauncher`

## Code to reproduce

create a blank project and add `implementation 'com.stripe:stripe-android:19.2.2'` to build.grade file and try to import Stripe classes in the activity

## Android version

Android Studio 4.1.1

[2022-03-07 12:53] michelleb-stripe commented on #4658
@meeeee12

Android studio sometimes has a hard time finding the dependencies.  Here are a couple of things to try:
1. Set the gradle dependency to `implementation 'com.stripe:stripe-android:19.2.2'`

2. Verify PaymenLauncher matches the example shown [here](https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/activity/StripeIntentActivity.kt)

3. Reload the

[2022-03-07 12:54] michelleb-stripe commented on #4652
This is in our backlog and will post here when we have an update soon.

[2022-03-07 12:55] michelleb-stripe commented on #4643
@Rioverde We don't currently have it planned in our upcoming sprints, but will provide an update when we do.

[2022-03-07 14:52] nataliakuznetsova commented on #4111
seems to be fixed in the version 18.2.0, thank you

[2022-03-07 14:52] #4111 closed

[2022-03-07 15:19] nataliakuznetsova opened #4659 "[BUG] EditText hint color is incorrect"
## Summary

ChallangeProgressActivity edit text is in purple color. I am configuring the 3ds with an accent color and text box with border color, but the text of the hint is purple. Stripe version 18.2.0

Expected: the hint is blue same as border
Actual: the hint has default purple color

![Screenshot_1646665923](https://user-images.githubusercontent.com/42141970/157062307-d6e945c9-ca3f-49b5-a23b-

[2022-03-07 19:02] 256hz commented on #4652
Awesome thank you!

[2022-03-07 21:53] michelleb-stripe commented on #4659
@nataliakuznetsova Thanks for writing in.  We will add this to our backlog

[2022-03-09 20:04] dazza5000 opened #4673 "[BUG] PaymentMethodsViewModel -> Cannot invoke setValue on a background thread"
## Summary

[code]
## Code to reproduce
[code]

## Android version

## Impacted devices

## Installation method

## Dependency Versions

kotlin:
stripe-android:
Android Gradle Plugin:
Gradle:

## SDK classes

## Video

## Other information

[2022-03-09 21:12] dazza5000 commented on #4435
We are experiencing this out in the field and getting crashes related to this in Firebase

[code]

[2022-03-09 21:33] michelleb-stripe commented on #4673
@dazza5000 It looks like you are using our older basic integration.  I was wondering if our new PaymentSheet integration would work for you.  It has a lot of great new features and many more are in the pipeline.  You can learn more about it [here](https://stripe.com/docs/payments/accept-a-payment?platform=android).

Please let us know if you have any questions about it, and if it doesn't meet your

[2022-03-10 21:01] ball1008 commented on #4479
I just downloaded 19.2.2 and I am getting this crash.  Does 19.2.2 contain this fix.  If not when will this be corrected?

[2022-03-10 21:05] skyler-stripe commented on #4479
Hey there,

This fix has not been released yet. It will be going out with our next release in the coming weeks.

[2022-03-10 21:07] ball1008 commented on #4479
Thx for the quick response.  We are trying to go live next week.  Do you have a suggested work around?

[2022-03-10 21:18] skyler-stripe commented on #4479
We have a release scheduled for early next week (either monday or tuesday. They've been blending into Tuesday as of late)

If that's not acceptable you can use jitpack to create a snapshot of the master branch while you wait for a formal release to do testing: https://jitpack.io/#stripe/stripe-android . I don't recommend using this for your release but it could be helpful to test.

[2022-03-11 11:28] sugukung opened #4686 "[BUG]"
## Summary
 `have integrated stripe on android it cuts the half text when we go to settings-> display -> font size.  navigate increase font size
       `
![image](https://user-images.githubusercontent.com/48944725/157858400-bd848b2b-6408-4bf9-b06a-0203fa014f23.png)

## Code to reproduce
[code]

## Dependency Versions
implementation 'com.stripe:stripe-android:18.2.0'

[2022-03-11 16:51] MinaGabriel commented on #4652
What is a good workaround to this issue? I totally agree that manual entry is not the best practice, I have my own POS with a built-in card scanner and I can't use it.

[2022-03-11 18:07] marcosrocha85 commented on #4078
I don't know when, but taking @michelleb-stripe action adding Build label to this. I upgraded my Stripe to 19.1.1 and the error has gone. I suggest you to make your package most updated as possible (I will do that soon).

[2022-03-11 19:53] michelleb-stripe commented on #4686
@sugukung It looks like you are using the CardFormView?  Can you share which version on the Stripe SDK you are using, your Screen resolution and display settings (such as font size)?

[2022-03-11 20:12] 256hz commented on #4652
@MinaGabriel I'm not sure.  I would caution against building a custom solution unless you are ready to take on the PCI compliance that entails.  The best solution for the average Stripe SDK user would be to have it integrated.

[2022-03-14 20:32] bellierjonathan opened #4701 "[BUG][PushProvisioning] PushProvisioningEphemeralKeyProvider seems to block the main thread"
## Summary
When I use `PushProvisioningEphemeralKeyProvider` I got `NetworkOnMainThreadException` when I try to create my ephemeral key.

It looks to be exactly the same problem like this one : https://github.com/stripe/stripe-android/issues/3499

How I use Rx in the key provider :

[code]
How I use my `EphemeralKeyProvider`
[code]

## Dependency Versions
`com.stripe:stripe-android-issuing-push-pr

[2022-03-15 02:00] meeeee12 commented on #4658
I'm still having problems. Android Studios cannot import the classes from the stripe package.
![stripe](https://user-images.githubusercontent.com/22572797/158290642-19dc1689-6062-4d97-be5c-764cbadb9e77.jpg)
_

[2022-03-15 05:50] meeeee12 commented on #4658
I have upgraded android studios to the latest version and the probem is gone.

[2022-03-15 05:50] #4658 closed

[2022-03-15 09:04] meeeee12 commented on #4479
I have tried using the master-branch from jitpack and I am still experiencing this error. It happens everytime I try to process a payment in landscape mode. The devices goes into portrait mode by itself then crashes. Processing a payment in portrait mode works fine, but I need this work in landscape mode.

[2022-03-15 16:11] skyler-stripe commented on #4479
For now we don't actually support landscape formally in our native 3ds2 SDK and flows.

Two things you can do for me:
1. We're working migrating all users to a webview flow. Most issues with the native SDK are solved with the webview and if you would like to opt into our testing program, please email [3ds2-mobile-fallback@stripe.com](mailto:3ds2-mobile-fallback@stripe.com) with your [account ID](h

[2022-03-15 16:41] skyler-stripe commented on #4509
Hey there. If this continues to be an issue for you feel free to reopen and we can continue our investigation.

[2022-03-15 16:41] #4509 closed

[2022-03-15 16:42] skyler-stripe commented on #4516
Hey there,

If this continues to be an issue feel free to reopen and we'll try to find a different solution for you.

[2022-03-15 16:42] #4516 closed

[2022-03-15 16:43] #4457 closed

[2022-03-15 16:54] skyler-stripe commented on #3581
Hey there.

If `CardFormView` is not a solution, I also recommend [PaymentSheet](https://stripe.com/docs/payments/accept-a-payment?platform=android). Feel free to reopen if neither of those are helpful.

[2022-03-15 16:54] #3581 closed

[2022-03-16 04:47] meeeee12 commented on #4479
If I opt into the testing program, can I still use the normal native 3ds2 SDK? Also, how much will I need to modify my current code
 based on the demo code provided to make it compatible with the webview version?

[2022-03-16 09:13] 22106331 opened #4713 "[BUG] wechatpay not working"
## Summary
I call sdk code return exception.
com.stripe.android.core.exception.InvalidRequestException: Missing required param: payment_method_options[wechat_pay][client].

## Code to reproduce
[code]

## Android version
all

## Impacted devices

## Installation method
gradle

## Dependency Versions
19.1.0

For kotlin:
 ./gradlew :dependencies | grep kotlin

For stripe-android:
 ./gradlew :depende

[2022-03-16 09:16] 22106331 commented on #4713
Can you give the correct code reference.

[2022-03-16 21:28] skyler-stripe commented on #4713
Hey there,

I'm not quite sure what the issue is, but I have two suggestions for you.

1. You're using an older API for confirm the payment. The new preferred way is `PaymentLauncher`. There are some docs here for it: https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=custom

You would do mostly the same steps, but instead of
`val confirmParams = ConfirmPaymentIntentParams.creat

[2022-03-17 03:34] 22106331 commented on #4713
I tried it with reference to the documentation and still got an error.   com.stripe.android.core.exception.InvalidRequestException: Missing required param: payment_method_options[wechat_pay][client].

my code
 val weChatPaymentMethodCreateParams = PaymentMethodCreateParams.createWeChatPay()
                val confirmParams = ConfirmPaymentIntentParams.createWithPaymentMethodCreateParams(weChatPay

[2022-03-17 03:35] 22106331 commented on #4713
implementation 'com.stripe:stripe-android:19.1.0'
    implementation 'com.stripe:stripe-wechatpay:19.1.0'
    implementation 'com.tencent.mm.opensdk:wechat-sdk-android-without-mta:6.8.0'

[2022-03-17 13:19] Wulff-1996 opened #4723 "[BUG] Unavailable/offline SCA throws error on client while payment succeeds"
## Summary

When we request SCA for a payment but the bank cannot provide the flow for whatever reason, the transaction goes through successfully but the SDK calls its error handler with this error instead of success. This is confusing to the user as it would appear that the transaction failed.

`Error encountered during 3DS2 authentication request. Code: 303, Detail: sdkReferenceNumber not recogn

[2022-03-21 03:49] 22106331 opened #4734 "[BUG] Pay anr with Alipay."
## Summary
Pay anr with Alipay.

[code]

## Code to reproduce
[code]

## Android version
android11

## Impacted devices

## Installation method
gradle
## Dependency Versions
implementation 'com.stripe:stripe-android:19.3.0'
    implementation 'com.stripe:stripe-wechatpay:19.3.0'

For kotlin:
 ./gradlew :dependencies | grep kotlin

For stripe-android:
 ./gradlew :dependencies | grep com.android.too

[2022-03-21 18:55] reiaz-gafar opened #4739 "[BUG] Crash when calling PaymentLauncher.confirm(params:)"
## Summary

When trying to use the PaymentLauncher to confirm a payment, it crashes the app.

## Code to reproduce

`paymentLauncher.confirm(confirmParams)`

## Android version

Using Android 12, happening on Stripe SDK versions 17+

## Impacted devices

Happens on all devices tried on.

## Installation method

Gradle

## Dependency Versions

kotlin: 1.6.10
stripe-android: 19.3.0
Android Gradle Pl

[2022-03-21 23:12] jameswoo-stripe commented on #4734
Hi @22106331, thank you for reporting this issue. Can you please let us know which version of the Alipay SDK you are using?

[2022-03-22 00:01] jameswoo-stripe commented on #4713
This error case is because you will need to construct `PaymentMethodOptionsParams.WeChatPay`:

[code]

Let us know if you need further help

[2022-03-22 01:04] 22106331 commented on #4734
I am using implementation files('libs/alipaysdk-15.8.06.211122170115.aar')
I am running in release mode.

[2022-03-22 05:51] jameswoo-stripe commented on #4734
Hi @22106331, I mean that your Stripe Dashboard account (dashboard.stripe.com) should be running in live mode:

![Screen Shot 2022-03-21 at 10 50 18 PM](https://user-images.githubusercontent.com/99316447/159416539-94f6d9ad-c2e1-41e2-86b0-570152c3c3b8.png)

[2022-03-22 07:22] sahilXperge commented on #4686
@michelleb-stripe

[2022-03-22 07:27] sahilXperge commented on #4686
**Stripe  version** :-- 18.2.0
**Font size settting**

![Screenshot_2022-03-22-12-55-47-52](https://user-images.githubusercontent.com/98319747/159429069-cdf77d6d-452b-4b11-821e-babf2c116e10.jpg)

[2022-03-22 09:05] 22106331 commented on #4734
Thanks, my problem is solved.

[2022-03-22 09:05] #4734 closed

[2022-03-22 09:14] 22106331 commented on #4713
Can you provide the complete wecahtpay sample code?

[2022-03-22 09:14] 22106331 commented on #4713
Can you provide the complete wecahtpay sample code?

[2022-03-22 09:33] 22106331 commented on #4713
I use your code to suggest such error.
StripeError(type=card_error, message=The payment failed., code=payment_intent_payment_attempt_failed, param=null, declineCode=generic_decline, charge=null, docUrl=https://stripe.com/docs/error-codes/payment-intent-payment-attempt-failed)

[2022-03-22 09:57] 22106331 commented on #4713
activity.lifecycleScope.launch {
                    kotlin.runCatching {
                        val paymentMethod = PaymentMethodCreateParams.createWeChatPay()
                        val confirmParams = ConfirmPaymentIntentParams.createWithPaymentMethodCreateParams(
                                paymentMethodCreateParams = paymentMethod,
                                clientSecret = clientSe

[2022-03-22 16:28] jameswoo-stripe commented on #4739
Hi @reiaz-gafar, thank you for reporting this issue. Can you provide a little more information:
1. on what your `confirmParams` looks like? For example, which payment method you are using
2. how you constructed `paymentLauncher`

[2022-03-22 17:16] jameswoo-stripe commented on #4723
Hi @Wulff-1996, thanks for reporting this issue. While we investigate this issue, would you like to opt in to using the web flow instead of the native 3ds2 flow? If so, please email [3ds2-mobile-fallback@stripe.com](mailto:3ds2-mobile-fallback@stripe.com) with your [account ID](https://stripe.com/docs/dashboard#find-account-id). Thanks!

The web flow shouldn't have the same inconsistency that you

[2022-03-22 18:26] jameswoo-stripe commented on #4713
Can you try this?

Create intent and try to confirm:
[code]

In your activity:
[code]

[Be sure to make sure you have the following](https://github.com/stripe/stripe-android/blob/master/wechatpay/README.md#notice):

1. Make sure your Android app is registered in [WeChat Open Platform](https://open.weixin.qq.com/) and its package name (应用包名) from `AndroidManifest.xml` and signature (应用签名) correctly

[2022-03-22 21:32] skyler-stripe commented on #4686
Hey there,

Have you tried updating your stripe dependency? I think that should fix the issue for you.

[2022-03-22 21:35] jameswoo-stripe commented on #4701
Hi @bellierjonathan can you try updating your gradle dependency to `implementation 'com.stripe:stripe-android-issuing-push-provisioning:1.0.9'`?

Please let us know if that fixes the issue.

[2022-03-22 21:35] skyler-stripe commented on #4652
Assigning @awush-stripe who is working on the card scan functionality and can comment on what is in progress and what is currently available.

[2022-03-22 21:38] skyler-stripe commented on #4630
Hey there,

This should be fixed in the latest release. Let us know if you're stilling having issues.

[2022-03-22 21:38] #4630 closed

[2022-03-23 08:17] 22106331 commented on #4713
I try you code .  I got an error message from onActivityResult The payment failed.

[2022-03-23 10:26] bellierjonathan commented on #4701
Nice looks to works thanks 🌞
If i'm right you did an update of documentation here :
https://stripe.com/docs/issuing/cards/digital-wallets

To be sure with Google’s [TapAndPay private SDK](https://developers.google.com/pay/issuers/apis/push-provisioning/android/releases) you still advice to use version `17.1.2` with `stripe-android-issuing-push-provisioning:1.0.9` ?

Thanks

[2022-03-23 12:08] sahilXperge commented on #4686
@skyler-stripe Thanks sir it worked.

[2022-03-23 14:13] reiaz-gafar commented on #4739
Hi @jameswoo-stripe.

1. `ConfirmPaymentIntentParams(paymentMethodCreateParams=PaymentMethodCreateParams(type=card, card=Card(number=4242424242424242, expiryMonth=2, expiryYear=2042, cvc=424, token=null, attribution=[CardInputView]), ideal=null, fpx=null, sepaDebit=null, auBecsDebit=null, bacsDebit=null, sofort=null, upi=null, netbanking=null, billingDetails=BillingDetails(address=Address(city=nul

[2022-03-23 17:38] #4686 closed

[2022-03-23 17:38] skyler-stripe commented on #4686
Feel free to reopen if the issue persists.

[2022-03-23 17:40] skyler-stripe commented on #4723
Hey there,

Try using `v19.3.1`, the issue should be fixed there.

[2022-03-23 18:24] jameswoo-stripe commented on #4713
@22106331 can you share what you see in your dashboard for that payment request?

1. Go to https://dashboard.stripe.com/test/payments
2. Find the payment request related to this error
3. Screenshot the results here

[2022-03-23 18:26] jameswoo-stripe commented on #4701
@bellierjonathan yes, go ahead and update to 1.0.9, thanks! The API should not have changed from the previous version, this is a patch update to fix the blocking thread issue you have posted here.

[2022-03-23 18:27] #4701 closed

[2022-03-23 20:59] jameswoo-stripe commented on #4739
@reiaz-gafar, thanks for the information. Been trying to reproduce this issue without any success, it is hard to find out why the coroutine is cancelling without more information.

I can propose a bandaid solution that will just wrap the `JobCancellationException` into a `Throwable`, so that when we try to serialize it, it won't crash.

In the meantime, it would be helpful to understand how you ar

[2022-03-24 06:06] 22106331 commented on #4713
{
  "object": {
    "id": ["py_3Kgjh5GJs89P0wjL0MjEgGWV"](https://dashboard.stripe.com/payments/py_3Kgjh5GJs89P0wjL0MjEgGWV),
    "object": "charge",
    "amount": 500,
    "amount_captured": 500,
    "amount_refunded": 0,
    "application": null,
    "application_fee": null,
    "application_fee_amount": null,
    "balance_transaction": null,
    "billing_details": {
      "address": {
        "c

[2022-03-24 06:14] 22106331 commented on #4713
![image](https://user-images.githubusercontent.com/6029511/159853721-1a285cfd-3cd2-4552-8c9b-e079b517e8e4.png)

[2022-03-24 13:59] reiaz-gafar commented on #4739
Thanks for looking into this @jameswoo-stripe. I've created a stripped down sample app where I'm still seeing the issue here: https://github.com/reiaz-gafar/stripe-manual-entry-crash.

It still has the same crash location
[code]

As for our main app where it's crashing to answer your questions:

1. The `PaymentLauncher` is being created in the `onCreate` of the fragment. The launcher itself is bei

[2022-03-24 18:47] reiaz-gafar commented on #4739
There may also be a reason to believe that Locale has something to do with this, is there something in the SDK that uses the locale to construct anything in this flow?

The reason I'm mentioning this is that we have a colleague in the UK that has the exact same code and does NOT crash, but myself and others in the New York City region ARE crashing.

[2022-03-24 20:56] jameswoo-stripe commented on #4713
Have you tried using a different card from your wechat pay wallet? Have you had success with a previous payment from your wechat pay wallet?

It looks like the bank is declining the payment:
[code]

[2022-03-24 21:59] jameswoo-stripe commented on #4739
Hi @reiaz-gafar thanks so much for the sample app. I tried it out and was not able to reproduce the issue. I am based in the Seattle region and I am not able to get a crash. I tested multiple emulators, upgraded my kotlin version, but no luck so far.

My machine:
- macOS Monterey 12.1
- Macbook Pro 16-inch, 2019

Android emulator:
- API level: 31 (Android 12.0)
- image.sysdir.1: system-images/andr

[2022-03-25 04:09] reiaz-gafar commented on #4739
@jameswoo-stripe Thanks for continuing to look at this.

To answer your questions:

1. My machine is:

- Running macOS Monterey 12.0

- MacBook Pro 16 inch, 2021

- M1 Pro Apple Silicon chip

2. Android devices - crashes on both 100% of the time:
- Running it on a physical Samsung Galaxy Tab A, Model SM-5510, Android Version 10

- Running on an emulator made inside Android Studio, Pixel C, Api 32

[2022-03-25 18:10] jameswoo-stripe commented on #4739
@reiaz-gafar Thank you so much for the detailed responses! This was extremely valuable information and we have found the issue. This issue seems to happen on landscape mode and not portrait mode. There is a configuration change which causes the `JobCancellationException` being thrown. We will take a look into getting a fix out, thanks again!

[2022-03-25 23:35] jameswoo-stripe commented on #4739
@reiaz-gafar You can subscribe to this PR: https://github.com/stripe/stripe-android/pull/4776. Once merged we can discuss about releasing a patch fix. In the meantime, can you work on this using portrait mode (e.g. using a phone instead of a tablet)?

[2022-03-26 01:49] 22106331 commented on #4713
I have the same problem with other cards.

[2022-03-28 12:48] reiaz-gafar commented on #4739
@jameswoo-stripe Thanks for raising that PR, I have suscribed. Unfortunately our app is locked to landscape mode so we are blocked until this patch is released. Thanks again for looking into this and communicating well!

[2022-03-28 14:18] Wulff-1996 commented on #4723
@skyler-stripe Okay thanks. Given the circumstances, it seems it's not really possible to test for us, as it would require a bank to be offline for SCA. But I will update the SDK and return if the issue persists.

[2022-03-30 06:22] tayyabshafiq0602 commented on #1139
Execution failed for task ':app:processDebugResources'.

     ERROR:C:\Users\iambi\.gradle\caches\transforms-3\cc50bc3e5c6d257b3f66cfaf74d406fc\transformed\jetified-payments-core-19.3.1\res\values\values.xml:189:5-199:13: AAPT: error: style attribute 'attr/colorSurface (aka com.ugopro:attr/colorSurface)' not found.

* Try:
Run with --info or --debug option to get more log output. Run with --scan t

[2022-03-30 08:59] alexandrudumbravan-nutmeg commented on #4479
@skyler-stripe Any updates on the above.
Thank you.

[2022-03-31 16:50] jameswoo-stripe commented on #4739
Hi @reiaz-gafar, the fix is merged and we are scheduling a release for April 4. Once released, feel free to update your dependency. Please let us know if you run into more issues.

[2022-03-31 19:50] reiaz-gafar commented on #4739
@jameswoo-stripe Amazing, thanks so much for the quick resolution!

[2022-04-05 15:51] jameswoo-stripe commented on #4739
@reiaz-gafar I have tried reproducing the issue you are seeing with a tablet in landscape mode in both our example app and the app that you posted previously. Unfortunately, I am unable to see the issue you are seeing. Have you tried invalidating and restarting Android Studio, clearing the gradle cache, cleaning and rebuilding?

20.0.0 does include some breaking changes, but I can't see anything t

[2022-04-05 19:39] reiaz-gafar commented on #4739
@jameswoo-stripe Let me do a bit more investigation and get back, it can totally be something on our side.

[2022-04-06 12:18] hrules6872 commented on #4389
It happens with new version 20.0.0 as well 👎🏼

[2022-04-06 13:20] michelleb-stripe commented on #4389
@hrules6872 and @sofi-kry
I am sorry to hear you are still having difficulties with the color of the placeholder text even after the update.   I am not able to reproduce the issue here and I suspect that maybe there is a difference in our styles.

You can override the style of the CardFormView style by adding the following to the application res/styles.xml file
<style name="Stripe.CardMultilineWid

[2022-04-06 13:29] michelleb-stripe commented on #1139
@tayyabshafiq0602

What gradle version are you using?  You can find this by running './gradlew --version' on the command line.  Also sometimes a rebuild or invalidating Android Studio caches will help.

[2022-04-06 13:31] michelleb-stripe commented on #4524
@Crown-23 Please reopen if you are still experiencing issues.

[2022-04-06 13:32] michelleb-stripe commented on #4327
@Valentin-Anger-qnips Please reopen if you are still experiencing issues.

[2022-04-06 13:33] michelleb-stripe commented on #4570
@mathemandy Let us know if you were able to find any more details and reopen the issue.

[2022-04-06 13:35] michelleb-stripe commented on #4673
@dazza5000 If you still require basic integration the full guide can be found here: https://stripe.com/docs/mobile/android/basic

Please let us know if we can help any further.

[2022-04-06 13:35] #4673 closed

[2022-04-06 13:45] michelleb-stripe commented on #4623
@hszlangbaum BouncyCastle is required for 3DS2 native flows.  There is work being done to move to a web flow, but for now bouncycastle is still required.

[2022-04-06 14:02] hszlangbaum commented on #4623
@michelleb-stripe
Thanks. Is there a way for me to test whether my flow requires this dependency?

Atm when I receive a 3D Secure request, I do 2 things:

Step 1:
Call: `Stripe.handleNextActionForPayment(fragment, clientSecret)`

Step 2
Handle the result via: `onActivityResult()`

[2022-04-06 14:51] tayyabshafiq0602 commented on #1139
Thanks for replying , My issue was resolved.

[2022-04-06 19:11] michelleb-stripe commented on #4623
@hszlangbaum Testing with the 3DS2 test card `4000000000003220`, will trigger the 3DS2 code which requires bouncycastle.

[2022-04-07 00:40] anandkumarnyc commented on #4739
Hi @jameswoo-stripe, I see below code in PaymentLauncherConfirmationActivity.kt which changes activity orientation to portrait mode. This might explain why we have this issue.

[code]

[2022-04-07 07:03] Nourhazimhmaidi opened #4839 "Check out "Engineering Maths 1""
https://play.google.com/store/apps/details?id=engg.hub.enggmathsone

[2022-04-07 08:51] hszlangbaum commented on #4623
@michelleb-stripe
I've just excluded BouncyCastle and tested that card on a real device and it worked fine.

Your test 3DS2 screen showed, I accepted the payment and it went through.

Does that mean that my particular flow doesn't require BouncyCastle?

[2022-04-07 17:30] skyler-stripe commented on #4839
Hey there,

Please keep all issues filed related to `stripe-android`, if your app is using our SDK and you have a question please let us know.

[2022-04-08 03:14] AlaHashesh opened #4845 "[BUG] Changing the default country when using presentWithPaymentIntent"
## Summary
When calling `presentWithPaymentIntent` the Country is always set to "Afghanistan" and I'm unable to change it.
Please note that it works fine with `19.3.1`

## Code to reproduce
[code]

## Android version
12.0

## Impacted devices
Samsung S21+

## Installation method
Gradle (implementation 'com.stripe:stripe-android:20.0.0')

## Dependency Versions
kotlin: 1.5.10
stripe-android: 20.0.0

[2022-04-08 13:20] michelleb-stripe commented on #4845
@AlaHashesh Thanks for writing in. I was able to reproduce the problem and we should have a release with a fix soon.

[2022-04-08 13:54] keithmacklin commented on #4739
Hi @jameswoo-stripe I tried the latest SDK in portrait and it does crash the application for me too. However, if I run it on an emulator that is specifically SDK 26 (Android Oreo), it works fine. That would indicate to me that it is this line that is causing the crash.

What would be the ramifications if you were to just remove the orientation line completely?
`requestedOrientation = ActivityInfo.

[2022-04-08 17:35] reiaz-gafar commented on #4739
Hi @jameswoo-stripe, my teammates posted some of their findings above, what do you think of them?

[2022-04-08 17:55] jameswoo-stripe commented on #4739
@anandkumarnyc, @keithmacklin, @reiaz-gafar, thanks for the follow up. I am consulting with the team to see if we can remove the force portrait mode.

[2022-04-08 20:30] michelleb-stripe commented on #4623
@hszlangbaum After thinking about this some more I am concerned that not all devices will have the required crypto algorithms, so while it works on one phone, it might not work on all.  By including bouncycastle we can be sure it works on all phones.

[2022-04-08 20:46] hszlangbaum commented on #4623
@michelleb-stripe
Thanks. Could you let me know what algorithms are required? Pointing me to the relevant files in this repository would be enough.
It would allow me to go through each Android API level to see whether it supports these algorithms.

[2022-04-11 20:12] jameswoo-stripe commented on #4739
@anandkumarnyc @keithmacklin @reiaz-gafar here is a potential workaround PR up: https://github.com/stripe/stripe-android/pull/4855

[2022-04-12 18:27] skyler-stripe commented on #4723
The release out should fix the issue for us. Please reopen if the issue persists.

[2022-04-12 18:27] #4723 closed

[2022-04-12 18:29] skyler-stripe commented on #4479
Hey there,

No updates other than suggesting you try the latest release. You can also opt in to the web flow.

[2022-04-13 07:12] Pulit commented on #4102
any news here?

I have a same issue.

But, when I tested with a google wallet library not using stripe library, I can get a true value from ready callback listener.

I created a PaymentsClient directly with same Test Environment, and added cards listof (AMEX, DISCOVER, JCB, MASTERCARD, VISA), afterwards, I was able to get a true value.

Is it related with a Country Code?? It seems like It might af

[2022-04-13 23:35] hszlangbaum commented on #4623
@skyler-stripe
Thanks for that. Do you need BouncyCastle because of Nimbus JOSE + JWT library that you use?
I can see that Nimbus JOSE library supports the algorithms from the spec above but it doesn't require BouncyCastle.
It looks that if an app supports Java 8 and higher, it supports those algorithms.

Please see the screenshots below, taken from their website: https://connect2id.com/products/n

[2022-04-14 17:31] skyler-stripe commented on #4623
We do fall back to bouncy castle in certain situations. It seems like your use case doesn't trip the fallback. I think, looking at the logic we have, we'd use the defaults that are bundled and everything should work correctly. However, I can't verify that 100% until our next round of certification.

I would encourage you to do more testing with actual cards before making any commitment. We also ha

[2022-04-14 17:50] jameswoo-stripe commented on #4739
@anandkumarnyc @keithmacklin @reiaz-gafar hi folks, https://github.com/stripe/stripe-android/pull/4855 was merged. Please be on the lookout for a release this Monday.

[2022-04-18 21:51] jameswoo-stripe commented on #4739
@reiaz-gafar Please update to 20.1.0 and let us know if this fixes your issue.

[2022-04-19 05:00] nuWolf13 commented on #4102
I am facing the same issue. I have tried it on multiple android devices but the ready callback is always false. I have also tried multiple merchant ids including: US, IN, HK - same result.

[2022-04-19 15:20] reiaz-gafar commented on #4739
@jameswoo-stripe It's looking pretty good now, thanks! Going to do a bit more testing but everything seems to be in order 🤞

[2022-04-19 16:53] jameswoo-stripe commented on #4739
Great, thank you for the update! Feel free to open a new issue if you find one.

[2022-04-19 16:53] #4739 closed

[2022-04-19 19:09] acrabb commented on #3245
bump / +1

[2022-04-19 20:51] hszlangbaum commented on #4623
@skyler-stripe
Thanks. When is your next round of certification?
Are there any files I could look into, to see the usage of those algorithms?

[2022-04-19 21:48] skyler-stripe commented on #4623
We don't typically do certification often. Nothing is scheduled for now.

Unfortunately our 3ds2 SDK is closed source so I can't provide any code samples.

[2022-04-19 22:01] hszlangbaum commented on #4623
@skyler-stripe
Thanks. Will the web based logic (which doesn't require BC) always kick in as long as I don't use the Payment Sheet?

[2022-04-19 22:35] skyler-stripe commented on #4623
The web based fallback will work for you even if you use payment sheet.

[2022-04-19 22:44] hszlangbaum commented on #4623
@skyler-stripe
I may email 3ds2-mobile-fallback@stripe.com to force the webview fallback.
I'll also do some more testing in order to try to safely exclude BC.
Thanks for the help 👍

[2022-04-19 23:19] skyler-stripe commented on #4623
I'm going to close out this issue. If you have any other questions feel free to reopen and ping me.

[2022-04-19 23:19] #4623 closed

[2022-04-25 04:20] Pulit commented on #4102
We found the solution of the ready callback returning false.
Anyone who has trouble of ready callback always returns false,
Please check the sim-card's country code.
On our case, the google pay is only enabled with only sim-card of google pay available countries (such as JP).
The device with sim-card of google pay not available country (such as KR), ready callback always returns false.

[2022-04-26 19:12] awush-stripe commented on #4652
hey @256hz , apologies for the very late reply here (my notifications don't seem to be working right, I'm trying to fix this).

This was actually just released yesterday! see https://github.com/stripe/stripe-android/pull/4804

[2022-04-26 21:20] 256hz commented on #4652
Hey that's great news!  Thanks for the update @awush-stripe and the hard work!

[2022-04-27 15:58] kaoDev commented on #4570
@michelleb-stripe I can add that it is happening for me in a react-native app on android (device samsung galaxy s20) payment method giroPay the name input field

[2022-04-27 20:06] Dimmondback opened #4922 "[BUG] KOIN Injection Crash When Using Stripe Android Version 20.0.1"
## Summary
We are using KOIN for DI and are encountering a crash with our splash screen's ViewModel on startup with version 20.0.1. When using version 20.0.0, this crash does not occur.

## Code to reproduce
Stack Trace:
`2022-04-27 13:04:29.067 15887-15887/com.carvana.carvanaTest E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.carvana.carvanaTest, PID: 15887
    java.lang.RuntimeExceptio

[2022-04-28 06:32] brnunes-stripe commented on #4922
Hi @Dimmondback, thanks for filing the bug.
I don't see any reference to our SDK's classes in the stacktrace. The crash is caused by not being able to instantiate `SplashViewModel` without any arguments.

[code]

What are the arguments that the constructor takes? What SDK methods do you call during initialization?

[2022-04-28 22:11] Dimmondback commented on #4922
SplashViewModel has arguments being passed in via DI and no such constructor/method exists with 0 arguments.

For Stripe's SDK methods, I haven't included any functional code yet. This is just with importing the Stripe dependency into Gradle and running the project. The only code difference is when I switch between 20.0.0 and 20.0.1 for the dependency.

[2022-04-29 11:38] avinashcoder opened #4933 "Showing Error in ViewModelProvider Factory class after upgrading from 20.0.0 to 20.2.0"
## Summary

Showing Error in my all ViewModelProviderFactory class after upgrading stripe from 20.0.0 to latest version

## Code to reproduce

[code]

Showing Error in this class after upgrading from 20.0.0 to any latest version(20.2.0).
`Inheritance from an interface with '@JvmDefault' members is only allowed with -Xjvm-default option`

## Android version

## Impacted devices

## Installation met

[2022-04-29 19:52] tommyzat commented on #4222
Is someone looking into this?

[2022-04-29 19:54] tommyzat commented on #4222
Is this getting implemented?

[2022-05-01 00:38] ColtonIdle opened #4943 "[BUG] AMEX image is wrong/cutoff"
## Summary
The amex logo, as seen here isn't centered and seems to be cut off on the right side of the card.

https://github.com/stripe/stripe-android/tree/master/payments-model/res/drawable

[2022-05-02 14:15] michelleb-stripe commented on #4943
@ColtonIdle This is the intended design for AmEx.

[2022-05-02 14:17] ColtonIdle commented on #4943
Whoops. Thanks for confirming. Our iOS app looked different hence why I thought maybe the svg got messed up.

[2022-05-03 10:18] #4943 closed

[2022-05-03 10:19] #4652 closed

[2022-05-03 16:35] michelleb-stripe commented on #4570
@kaoDev Are you using the [stripe-react-native](https://github.com/stripe/stripe-react-native) sdk?

[2022-05-03 18:12] kaoDev commented on #4570
yes I am using the stripe-react-native sdk in version 0.8.0

[2022-05-04 20:41] michelleb-stripe commented on #4570
@kaoDev I have been able to reproduce the issue when google pay is not shown, and only 1 payment method is visible. We are just trying to work on a solution.

[2022-05-05 08:41] rchouhan-dackinc opened #4959 "[BUG] Failed Request-id: req_WbCENLfMsfRrdJ com.stripe.android.core.exception.InvalidRequestException: You cannot confirm this PaymentIntent because it has already succeeded after being previously confirmed."
## Summary

When i am confirming payment from PaymentLauncher. confirm() in PaymentLauncher.Callback I am receiving failed with this throwable

Failed Request-id: req_WbCENLfMsfRrdJ
    com.stripe.android.core.exception.InvalidRequestException: You cannot confirm this PaymentIntent because it has already succeeded after being previously confirmed.

## Android version

Android 11

## Dependency Ver

[2022-05-05 10:02] rchouhan-dackinc opened #4960 "[BUG] onPaymentResult is not called after stripe.confirm() is called"
## Summary

onActivityResult is being called but sometimes onPaymentResult is called with resultCode = -1 but callback is not triggered

## Code to reproduce

[code]

[code]

## Android version

Android 11

## Installation method

Gradle Dependecy

## Dependency Versions

[code]

kotlin:
stripe-android: 20.2.1
Android Gradle Plugin: 7.1.3
Gradle:

## SDK classes

## Video

## Other information

[2022-05-05 12:38] michelleb-stripe commented on #4845
@AlaHashesh This has been fixed in 20.2.1

[2022-05-05 18:48] michelleb-stripe commented on #4959
@rchouhan-dackinc It sounds like you are using PaymentLauncher.confirm to confirm multiple times with the same PaymentIntent.  Each time you collect payment, you will need a new PaymentIntent.

[2022-05-05 18:51] michelleb-stripe commented on #4959
@rchouhan-dackinc I would also like to encourage you to use our new UI integration which has a complete UI, and will close when payment is complete.  You can read more about it [here](https://stripe.com/docs/payments/accept-a-payment?platform=android).

[2022-05-05 18:55] michelleb-stripe commented on #4960
@rchouhan-dackinc I recommend using either the [PaymentSheet](https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=payment-sheet) (also know as Payment Element) integration or the [PaymentLauncher](https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=custom).

[2022-05-05 19:00] michelleb-stripe commented on #4570
I am working on a potential fix in this PR: https://github.com/stripe/stripe-android/pull/4961

[2022-05-05 19:23] brnunes-stripe commented on #4922
Hi @Dimmondback,
We suspect this might have to do with some dependency that was updated on v20.0.1, and your app is depending on some other version of it. Can you run `./gradlew :dependencies` from your project's root folder and paste the result here?

[2022-05-05 22:42] brnunes-stripe commented on #4933
Hi @avinashcoder,
This should be fixed by #4966, we'll release a new version early next week with the update.

[2022-05-05 22:45] brnunes-stripe commented on #4922
Hi @Dimmondback,
We expect that #4966 will fix this. We'll release a new version early next week, please try it out and let us know.

[2022-05-06 02:48] rchouhan-dackinc commented on #4959
@michelleb-stripe thanks for replying. But my payment is collected on server side and server is responding client secret to me every time to do payment. When i confirm that payment on client end this is error i am getting.

[2022-05-06 02:51] rchouhan-dackinc commented on #4960
I tried with payment launcher as well. I just wants to confirm payment on client end. So, i think PaymentSheet is suitable as per use-case. Dropping code of PaymentLauncher i have tried.

[2022-05-06 05:36] 4samy commented on #2871
Yes we need support arabic language

[2022-05-06 13:40] michelleb-stripe commented on #4659
We are now tracking this internally as issue 824.

[2022-05-06 13:40] #4659 closed

[2022-05-06 14:01] michelleb-stripe commented on #4267
@LastxTemplar We still do not officially support Android TV, but I am also curious if the issue you describe is unique to a TV, or if it also occurs on any android phone?

Also, I am curious if you are still seeing the problem with the disabled back button on the latest version.  (Flutter 1.2.0 was built with the stripe-android SDK version 16.10.0 and the latest version of flutter is built with st

[2022-05-06 14:03] #4643 closed, assigned to nobody

[2022-05-06 14:04] michelleb-stripe commented on #4713
WeChat Pay is no longer officially supported by the SDK.

[2022-05-06 14:04] #4713 closed

[2022-05-06 14:06] michelleb-stripe commented on #4960
@rchouhan-dackinc We found an issue with one of our dependencies and have made a [PR](https://github.com/stripe/stripe-android/pull/4966) to fix it.  This might impact that callback from being called.   Please try 20.0.0.

[2022-05-06 14:24] michelleb-stripe commented on #4267
@LastxTemplar Sorry we were not able to support this feature in time.  We have continue to have the request for TV support to our internal backlog 826.

[2022-05-06 14:25] #4267 closed

[2022-05-06 16:08] Dimmondback commented on #4922
Yes we are indeed running a different version of lifecycle dependencies. Our current version is `2.3.1` for `androidx.lifecycle`.

[2022-05-06 16:18] #4933 closed

[2022-05-06 16:35] brendanm-stripe commented on #4959
Yes the `client_secret` exists on each Payment Intent even after it is successful, as it still has other uses like retrieving status client side. If the payment is already successful during server-side confirmation, there is no need to confirm it again client-side.

For more help with building your integration you might want to join us in our developer community Discord where you can ask questions

[2022-05-07 08:45] 4samy opened #4978 "Arabic support"
We ask you to add the Arabic language, it is very important, how do we provide the service for Arabic speakers within an Arabic language application
And everything is in English

## Summary

## Code to reproduce

## Android version
All version
## Impacted devices

## Installation method

## SDK version
All SDK

## Other information

[2022-05-07 08:48] 4samy commented on #4978
I can volunteer to translate all texts into Arabic

[2022-05-09 05:24] rchouhan-dackinc commented on #4959
How to retrieve status on client side through client secret in android without getting this issue **You cannot confirm this PaymentIntent because it has already succeeded after being previously confirmed**

[2022-05-09 12:17] avinashcoder commented on #4933
Thanks @brnunes-stripe, for fixing the issue. waiting for the update

[2022-05-09 14:02] brendanm-stripe commented on #4959
@rchouhan-dackinc You can do so using `retrievePaymentIntent` and providing the client secret parameter:
https://stripe.dev/stripe-android/payments-core/com.stripe.android/retrieve-payment-intent.html

You should not (and cannot) _confirm_ the payment intent if it's already `succeeded`.

[2022-05-09 22:14] brnunes-stripe commented on #4922
Hello,
We've released [v20.2.2](https://github.com/stripe/stripe-android/releases/tag/v20.2.2) today. It depends on `androidx.lifecycle` v2.4.1 and `androidx.navigation` v2.4.2.
We believe the issue was due to the dependency on `androidx.navigation` v2.5.0-beta01 which was pulling `androidx.lifecycle` v2.5.0-beta01 too.
Please try using this new release and let us know if the issue persists.

[2022-05-09 22:17] brnunes-stripe commented on #4933
Hello,
We've released [v20.2.2](https://github.com/stripe/stripe-android/releases/tag/v20.2.2) today which includes the fix.
Please try it out and let us know if the issue persists.

[2022-05-10 05:02] milanvadhel-mi commented on #4102
I am still facing this issue. Any update on this?

[2022-05-10 14:05] hszlangbaum opened #4989 "Is Stripe uploading users' Installed Applications and Phone Number information?"
My payment flow doesn't collect or upload users' Installed Applications and Phone Number information.
Does Stripe SDK do that?

From Google Play:

---
![stripe](https://user-images.githubusercontent.com/11201677/167647326-2bcb8d45-7e93-4807-81ee-242c24044037.png)

[2022-05-10 15:03] hszlangbaum commented on #4989
It's complaint since 14.4.0
https://github.com/stripe/stripe-android/issues/4054#issuecomment-887695847
https://github.com/stripe/stripe-android/issues/4054#issuecomment-887846414

[2022-05-10 18:21] awush-stripe commented on #3973
Please feel free to re-open this bug if it comes up again!

[2022-05-10 18:21] #3973 closed

[2022-05-10 18:24] michelleb-stripe commented on #4960
@rchouhan-dackinc We have also made an update and a fix in version 20.2.2

[2022-05-10 18:54] skyler-stripe commented on #4978
Hey there,

thanks for writing in. This is a duplicate issue: https://github.com/stripe/stripe-android/issues/2871

Unfortunately we're still working through Arabic and do not have any updates at this time.

[2022-05-10 18:54] #4978 closed

[2022-05-10 18:56] skyler-stripe commented on #4479
We have a few changes that might fix this issue. I think it's possible it has been fixed for you.

Can you try the latest release?

[2022-05-10 20:40] davidme-stripe commented on #4989
No, we don't collect this data. Earlier versions of the SDK contained code to collect these attributes as part of the 3D Secure 2 specification, but that code was never used, and a hard-coded filter prevented it from ever running in a production app. We deleted these functions in SDK 14.4.0.

[2022-05-10 21:00] hszlangbaum commented on #4989
Thank you for confirming that 👍

[2022-05-11 08:40] kaoDev commented on #4570
thanks a lot

[2022-05-11 09:05] alexandrudumbravan-nutmeg commented on #4479
@skyler-stripe We will look at updating the library in the weeks that follow. I'll update the ticket if we see these issues re-occurring.

[2022-05-11 17:23] #4922 closed

[2022-05-13 12:39] FlorentDambreville opened #5006 "[Feature] Get the most recent error in the PaymentSheetResult.Cancelled case"
## Is your feature request related to a problem? Please describe.
We are starting to use the new `PaymentSheet` in our app (which is [Libon](https://www.libon.com/)).

Our problem occurs with the payment sheet result.
**We need to know which error the user encountered when he closed the payment sheet.**
### Our use case is as follows:

1. The user clicks on "Pay" in our application
2. The Stripe P

[2022-05-13 13:23] FlorentDambreville commented on #5006
I found an alternative to get the last error on a payment :

Using the `paymentIntent.lastPaymentError` as described in the [documentation about error handling](https://stripe.com/docs/error-handling?lang=java#use-stored-information)

[code]

[2022-05-13 17:03] litmon opened #5007 "[BUG] PaymentSheet loading never disappears from Stripe SDK v19.2.0"
## Summary

PaymentSheet.presentWithPaymentIntent() displays a sheet but it hangs with loading indicator; actual payment UI and buttons never appear. This is happening since SDK v19.2.0, and was working until v19.1.1

I believe the change https://github.com/stripe/stripe-android/pull/4466/files#diff-70dbb06321de1c31ebb42820b27ce9a7afec4d8f11add2646c621098cd0fa3b8R151 contributing to this issue.

#

[2022-05-13 17:06] skyler-stripe commented on #5006
Hey there,

Thanks for writing in. We have added this to our backlog of things to do. This seems like something we should add in general. Does grabbing the error from the payment intent directly unblock for you now?

[2022-05-14 06:20] itboy87 opened #5013 "Stripe-Android SDK doesn’t comply with the User Data and Mobile Unwanted Software policies of Google Play Store"
Google play removed my app saying this
"We’ve identified that your app is using Stripe SDK or library, which facilitates the transmission and collection of Phone Number and Installed Application information without meeting the prominent disclosure guidelines. Make sure to also post a privacy policy in both the designated field in the Play Developer Console and from within the Play distributed app

[2022-05-14 10:20] maganap opened #5014 "[BUG] Missing translation to Spanish: single label in bottom sheet"
## Summary

I'm using [flutter_stripe](https://pub.dev/packages/flutter_stripe) package for an app developed in Flutter.
There's a specific label, "Card Information", that is not being translated to Spanish es-ES. The rest of the bottom sheet seems fine.

![Screenshot 2022-05-14 at 12 13 37](https://user-images.githubusercontent.com/6942131/168421477-9dd41327-2d7d-4dbd-b6f6-a6f44ce76ece.png)

I as

[2022-05-14 14:44] isegal commented on #4989
Having the same issue here on SDK 20.1.0. Google appears to flag Stripe SDK in its entirety as one that collects information about Installed Apps and Phone Number. This started happening recently out of the blue and we have not changed anything. I've reached out to their appeals/support because we do not want to make sure that our disclosures are accurate and are not unnecessarily scaring away use

[2022-05-15 20:04] hszlangbaum commented on #4989
Build a brand new app version and publish it to all Gooogle Play tracks that you've used.

Don't reuse an existing version from Google Play library even if you're sure it's using the safe Stripe SDK version. A new version, with an updated version code needs to be published.

Google will review all these and they should approve your app.

[2022-05-16 08:55] romainpiel opened #5016 "[Feature] Add a way to set allowCreditCards when creating a PaymentDataRequest through GooglePayLauncher"
## Is your feature request related to a problem? Please describe.
I would like to filter out credit cards from the cards listed by Google Pay when using `GooglePayLauncher`.

## Describe the solution you'd like
The [Google Pay documentation](https://developers.google.com/pay/api/android/reference/request-objects#CardParameters) specifies the boolean `allowCreditCards` which I could set to `false`

[2022-05-16 10:22] korzonkiee commented on #5013
I'm experiencing the same issue. My previous release was referencing `com.stripe:stripe-android: 19.2.+` version. After upgrading to `com.stripe:stripe-android: 20.1.+` my release has been rejected with the following message:

![CleanShot 2022-05-16 at 13 21 22](https://user-images.githubusercontent.com/26259846/168572367-49087651-9e21-45a7-bd27-684550cc7bf3.png)

[2022-05-16 16:57] jameswoo-stripe commented on #5016
Hi @romainpiel, thanks for the feature request. We will take a look into this.

[2022-05-16 17:00] jameswoo-stripe commented on #5014
Hi @maganap thanks for filing the issue. We will take a look.

[2022-05-16 17:43] jameswoo-stripe commented on #5013
Hi @itboy87, @korzonkiee, thank you for reporting this issue. Can you please make sure you have checked the following?

- If you're using [tipsi-stripe](https://github.com/tipsi/tipsi-stripe), you must upgrade to v9.1.0+
- You don't have older versions of your app bundled in your active release (to support older Android versions, for example)
    - Some users reported that even inactive channels a

[2022-05-16 23:45] jameswoo-stripe commented on #5007
Thanks for creating this issue @litmon. Our team will investigate this issue.

[2022-05-16 23:50] #5014 closed

[2022-05-17 04:30] kingkick2008 opened #5024 "[BUG]"
I'm using the [flutter_stripe package ](https://pub.dev/packages/flutter_stripe)for my flutter app.
The translation does not support the Arabic language on the presentPaymentSheet. I have tested on many Android devices and iOS devices.
I changed the mobile settings to the Arabic language.
I added to may Info.plist
`<key>CFBundleAllowMixedLocalizations</key>
<string>true</string>
<key>CFBundleLocal

[2022-05-17 09:07] korzonkiee commented on #5013
I'm not using tipsi-stripe. I'm using [flutter_stripe](https://pub.dev/packages/flutter_stripe) package.

I was able to successfully release an Android app to Google Play Console using [flutter_stripe:2.4.0](https://pub.dev/packages/flutter_stripe/changelog#240) which was referencing [com.stripe:stripe-android:19.2.+](https://github.com/flutter-stripe/flutter_stripe/blob/2.4.0/packages/stripe_andr

[2022-05-17 16:25] jameswoo-stripe commented on #5024
We currently do not support Arabic languages at this time. We added this to our backlog of things to do.

[2022-05-18 05:28] isegal commented on #4989
No such luck. We've upgraded stripe library and removed all the old builds. We actually never had a 14.4.0.
Google continues to insist that Stripe SDK is collecting Phone Number and Installed Application and is demanding explicit consent pop-up.

If anyone has been able to successfully get past this after their May 11 change of policy please post here.

My best guess currently is that Google is fl

[2022-05-18 09:45] itboy87 commented on #5013
@jameswoo-stripe I'm not using tipsi-stripe. I have only added `implementation 'com.stripe:stripe-android:20.2.2'` dependency. It was working fine with 19.+ version.

[2022-05-18 16:31] jameswoo-stripe commented on #5024
@kingkick2008 Please keep discussion related to Android issues. If you have found an iOS issue, please open an issue in the iOS repository: https://github.com/stripe/stripe-ios

That said, I did verify that Android has Qatar in the country list:

<img src="https://user-images.githubusercontent.com/99316447/169094659-c7edf6fd-6bd2-4b95-ae16-4b5718aa7055.png" height=400/>

[2022-05-18 16:44] michelleb-stripe commented on #4989
We are currently investigating any possible issues with version 20.0.0 and later versions, but 19.3.1 is currently working. @isegal

[2022-05-18 18:40] michelleb-stripe commented on #5013
We are looking into any possible issues with version 20.0.0 of the SDK, but can confirm that 19.3.1 is approved by Google Play Policies. If possible please revert back to that version and remove all bundles in violation of the policy from all tracks in the console @itboy87

After a rejection from Google Play, you must remove all bundles that are in violation of the policy from all tracks in the co

[2022-05-19 08:57] eriksquare commented on #5013
I had the exact same issue, i've tried all the 20+ releases (every time updating all bundles in all tracks) but i've got finally accepted only after restoring 19.3.1

[2022-05-19 13:43] JaredBanyard opened #5035 "[BUG] CardMultilineWidget marks postal code as valid before completion"
## Summary
The CardMultilineWidget callback reports the postal code as valid after only a single character has been entered. This is true even when `postalCodeRequired` and `usZipCodeRequired` are marked as true.  Expected behavior would be for the validation callback to return valid only when a valid US Postal Code has been entered.

## Code to reproduce
Using the latest 20.2.2 SDK, the callback

[2022-05-19 13:49] #5035 closed

[2022-05-19 13:59] FlorentDambreville commented on #5006
Hello,

Thank you 🙏

Yes it does 👍

[2022-05-19 15:27] ahashesh-umass opened #5036 "[BUG] Localization and country dropdown alignment!"
## Summary
1. When calling `presentWithPaymentIntent` the sheet is not localized to `ar`, only the **country** dropdown and the **price** are localized.
2. The country dropdown list looks weird and texts are not positioned correctly.
<img src="https://assets.tawazonapp.com/cached_uploads/resize/1200/1000/2022/05/19/whatsapp-image-2022-05-19-at-11-18-46-am-1652973903.jpeg" height=400/>

## Code to

[2022-05-19 17:13] nasahapps opened #5037 "[BUG] Crash when calling ActivityResultLauncher<GooglePayLauncherContract.Args>.launch(paymentIntentArgs)"
## Summary
When trying to use the GooglePayLauncher to use Google Pay, it crashes the app. This issue is an exact duplicate of https://github.com/stripe/stripe-android/issues/4739, but for GooglePayLauncher instead of PaymentLauncher

## Code to reproduce
With an app in landscape,

[code]

This forces the app into portrait mode and crashes the app. This issue does not happen if this call is made w

[2022-05-19 17:47] jameswoo-stripe commented on #5036
@ahashesh-umass thank you for reporting this issue, our team will investigate.

[2022-05-19 17:49] jameswoo-stripe commented on #5037
@nasahapps Thanks for reporting this issue. Our team will investigate.

[2022-05-19 19:27] jameswoo-stripe commented on #5036
Hi, this issue has been fixed. Keep an eye out for the next release this coming Monday. Please create a new issue if it still persists for you.

[2022-05-19 19:27] #5036 closed

[2022-05-19 20:09] jameswoo-stripe commented on #5036
Arabic languages are currently not supported, but is being tracked here: https://github.com/stripe/stripe-android/issues/5024

[2022-05-19 20:09] #5037 closed

[2022-05-19 20:10] jameswoo-stripe commented on #5037
@nasahapps The issue has been resolved, please keep an eye out for the next release this Monday. Please reopen this issue if the problem persists.

[2022-05-20 01:11] isegal commented on #4989
We got a response from google's support, they specifically are flagging the following component:

`com/stripe/android/stripe3ds2/init`

I've checked out ADK and I do not see any calls to getInstalledApplications, so either this is a false-positive or there is some other way to enumerate installed applications that we are not aware of.

Here is the only hint I found about getting installed applicat

[2022-05-20 07:03] changjiashuai opened #5043 "[Fatal Exception: java.lang.IndexOutOfBoundsException Index: 2, Size: 2]"
## Summary

I have added two test cards. This time, when the pop-up box pops up, I click Edit, and then start to delete the card. When I delete the last one, there is a crash.

## Code to reproduce

    private fun presentPaymentSheet(
        setupIntentClientSecret: String,
        customerConfig: PaymentSheet.CustomerConfiguration
    ) {
        paymentSheet.presentWithPaymentIntent(

[2022-05-20 08:52] Keko2025 opened #5044 "[Feature] About Google Pay"

[2022-05-20 10:08] Keko2025 opened #5045 "[Bug] Get Google Pay user information"
## Is your feature request related to a problem? Please describe.
I want to get the user's email information after calling google pay with GooglePayLauncher, or get the data of GooglePayResult after calling googlePayLauncher?

## Describe the solution you'd like
This information can be returned in resultCallback .

[2022-05-20 10:38] #5044 closed

[2022-05-20 17:21] jameswoo-stripe commented on #5043
@changjiashuai Thanks for reporting this issue. Our team will investigate.

[2022-05-20 18:51] jameswoo-stripe commented on #5045
Hi @Keko2025 thanks for writing in. Can you try retrieving the payment method after the payment has been confirmed? You will need the payment intent client secret to get the payment method id. From there you can use any REST client to perform the following request:

[code]

Your server can also retrieve the payment method:

[code]

[2022-05-21 02:34] Keko2025 commented on #5016
Hi @jameswoo-stripe, thanks for your answer. But the retrieve method can only get the shipping information, not the account Email.

[2022-05-21 02:35] Keko2025 commented on #5045
Hi @jameswoo-stripe, thanks for your answer. But the retrieve method can only get the shipping information, not the account Email.

[2022-05-21 06:31] Keko2025 commented on #5045
@jameswoo-stripe
“stripe.retrievePaymentIntent("pi_client_secret_", callback = object : ApiResultCallback<PaymentIntent> {
    override fun onSuccess(result: PaymentIntent) {
        println("result: " + result.paymentMethodId)
        // fetch the paymentMethod by ID: https://api.stripe.com/v1/payment_methods/<payment_method_id>
    }

    override fun onError(e: Exception) {
        // handle er

[2022-05-21 08:33] Keko2025 commented on #5045
![image](https://user-images.githubusercontent.com/15627485/169643153-7701f275-5684-4efb-99fe-e7ad44d3f18c.png)
Can the receiptEmail field of the PaymentIntent model returned by the stripe.retrievePaymentIntent(...) method return the account email? Please confirm the relevant method, how to get the account email after calling googlePayLauncher to complete Google Pay? Thank you

[2022-05-21 15:30] remonh87 commented on #5013
@michelleb-stripe  thanks for quickly acting upon this issue. We got quite some people having the same issue in our Flutter Stripe library. What is weird though is that the rejection seems completely random (I was able to upload an app with 20+ without issues).  Let me know if I can help pinpointing the issue

[2022-05-21 18:11] michelleb-stripe commented on #5013
@remonh87 Thanks for letting us know about your success with a 20+ version of the SDK.  We have not found any cases of our SDK that would cause the Google Play policy violations and are communicating with the Google teams to resolve the issue.

1. I am curious if you could report exactly which version of the Stripe SDK you are using?
2. Can you also share if your application is already in need of

[2022-05-21 18:13] michelleb-stripe commented on #5013
@korzonkiee If you are still seeing rejections with 19.3.1 go back into all tracks and make sure any bundle with the 20.0.0+ Stripe SDK is removed.

[2022-05-22 14:27] remonh87 commented on #5013
@michelleb-stripe  here are my answers:
1. We are using [Stripe 20.1+ ](https://github.com/flutter-stripe/flutter_stripe/blob/cc77f2157007b1697bbc838691a5cc85e6837d29/packages/stripe_android/android/build.gradle#L4 ). We follow the react-native library when setting the android sdk.

2. Yes we use Firebase Auth with phone verification enabled. I did check the merged_manifest and no  `QUERY_ALL_PACK

[2022-05-23 09:01] Keko2025 commented on #5045
Hi @jameswoo-stripe, thanks for your answer. But the retrieve method returns both shipping and email are null.
The following figure is the data returned by the retrieve method.
![image](https://user-images.githubusercontent.com/15627485/169783512-bea6ddf7-11f5-47b2-bdb6-aa285ab93487.png)

[2022-05-23 10:47] Keko2025 commented on #5045
My goal is to get the user's email and shipping after the GooglePayLauncher method calls Google pay to pay successfully

[2022-05-23 10:55] albertolina commented on #5013
Hi @michelleb-stripe & @remonh87 just a feedback from us, in our app we were using flutter_stripe version ˆ2.5.0 (which is dependant on Stripe 20.1+) and we got rejected 3 times, then we downgraded to 2.4.0 (dependent on 19.2.+) and we got the app approved immediately, we did update all the tracks with the latest build.

[2022-05-23 17:47] #5043 closed

[2022-05-23 18:02] isegal commented on #4989
Hi team, is it ok to keep this issue open? (or link to another one of necessary).

There are multiple vendors and customers that are now affected and we could probably help get to the bottom of this.

At the surface it looks like a false-positive but we need to gather enough evidence to prove this. If it is indeed a false-positive, then providing information to google can help them in fixing this

[2022-05-23 18:05] jameswoo-stripe commented on #5043
@changjiashuai This issue was fixed. Please keep an eye out for the next release, which should be today.

[2022-05-23 19:37] #5016 closed

[2022-05-23 19:49] jameswoo-stripe commented on #5016
Hi @romainpiel, this issue has been resolved. Please keep an eye out for a release today.

[2022-05-23 22:53] Keko2025 commented on #5045
@jameswoo-stripe
![image](https://user-images.githubusercontent.com/15627485/169916554-4737b1c0-00e0-4331-9bd8-1c4d3e8dc9e0.png)
Yes, email and shipping in GooglePayLauncher.Config() are both true, and our server engineer also calls the retrieve method to test that the returned data(email & shipping) is all null, so I am very confused. At present, the version I am using is 20.0.0. Other versions h

[2022-05-23 23:03] Keko2025 commented on #5045
@jameswoo-stripe So it looks like this is a bug? Please confirm this case, thanks!

[2022-05-23 23:11] Keko2025 commented on #5045
At first I thought it was desensitizing Google's internal data. Now I can basically conclude that this is a bug. We have called the retrieve method on both the front and back ends, and the conclusion is the same. We cannot get email and shipping.
![image](https://user-images.githubusercontent.com/15627485/169918891-0ac08a60-be8d-41f3-8249-36ec29dadccf.png)

[2022-05-24 00:28] isegal commented on #5013
Confirmed also the same issue. We were able to release the app multiple times with no issue until recently. My guess is this has something to do with Google's recent policy change.

From google appeals/support:

"We have performed another review on your app and are able to verify that your app is uploading users' Installed Application and Phone Number information to Stripe SDK.

Kindly check your

[2022-05-24 06:41] Keko2025 commented on #5045
The server sdk version is too low, it can be upgraded after the upgrade.

[2022-05-24 06:41] #5045 closed

[2022-05-24 07:59] FlorentDambreville opened #5058 "[BUG] Translation Errors"
## Summary
There are several missing translations for error message that we need.
It is critical for us because our user often have payment issues.

| Insufficient funds      | card declined | card expired |
| ----------- | ----------- | ----------- |
| ![image](https://user-images.githubusercontent.com/5547520/169973539-4386da2d-44e1-4915-91cf-4dd9c60ca6d2.png) | ![image](https://user-images.gith

[2022-05-24 11:06] josemifever opened #5059 "[BUG] 3DS2 don't finalizing after authentication completed"
## Summary

If you see the attached video, the 3DS2 authentication flow gets stuck after perform validation. You need to close manually the window and that triggers the "Cancel" response from the flow, which it not correct. That happens with the card number 4000000000003220 (**3DS2**) but don't happen with 4000000000003063 (**3DS1**).

Navigating through the SDK I found that when you suffer 3DS2 t

[2022-05-25 02:30] davidme-stripe commented on #4989
We're working with Google to investigate this issue, and they've temporarily paused notifications for the impacted versions of the Stripe SDK. Let us know if you're still seeing this message on app submission, and feel free to [submit an appeal](https://support.google.com/googleplay/android-developer/troubleshooter/2993242) with a link to this thread.

[2022-05-25 02:30] davidme-stripe commented on #5013
We're working with Google to investigate this issue, and they've temporarily paused notifications for the impacted versions of the Stripe SDK. Let us know if you're still seeing this message on app submission, and feel free to [submit an appeal](https://support.google.com/googleplay/android-developer/troubleshooter/2993242) with a link to this thread.

[2022-05-25 04:21] isegal commented on #5013
We have been going through appeals and ended up at a dead end. Here is the last correspondence from Google:

[code]

( Google Ticket #8-6995000032714 in case this is helpful)

In the meantime I have re-submitted another build with earlier version of the library.

Happy to hear that there is progress with Google from your side.

[2022-05-25 10:20] romainpiel commented on #5016
Amazing, thanks!

[2022-05-25 21:10] skyler-stripe commented on #5059
Hey there!

I'm curious about your use case. Trying that card both with `Paymentsheet` and `PaymentLauncher` (our preferred integration path now) took me out of the 3ds2 flow expected. I'm curious if you could provide more sample code or help me understand why you're not using our preferred integration. Using `Stripe.kt` directly is something we discourage.

[2022-05-25 21:29] skyler-stripe commented on #5058
Hey there!

Thanks for writing in. I'm curious how you're changing your device language. I was able to change my device language on my pixel 3a and got the error messages translated. They come from the server for us based on the Locale.

I'm wondering if our call with a locale is failing. Could you place a breakpoint here: https://github.com/stripe/stripe-android/blob/master/paymentsheet/src/main/

[2022-05-26 06:46] maganap opened #5074 "[BUG] Localized error strings not being translated to Spanish"
## Summary

I'm using [flutter_stripe](https://pub.dev/packages/flutter_stripe) package for an app developed in Flutter. After some initial setup, this package automatically sets the payment bottom sheet language to the language configured on the cell phone.

We're working in Spanish es-ES. The bottom sheet certainly shows in Spanish, but the localizad error messages are always shown in English. F

[2022-05-26 07:47] josemifever commented on #5059
Hey Skyler! thanks for the reply.

We are using Stripe.kt cause PaymentLauncher doesn't fit our needs, we don't want to have the app's UI and the business logic mixed. The UI is only used when needed, that's just for the 3DS authentication screen, and payment launcher is highly coupled with it.
Besides, I don't know why this isnt a bug, manual confirmation is something that you have written down i

[2022-05-26 22:07] skyler-stripe commented on #5059
Hey there,

After getting set up on this issue (I was calling a different method than you, my bad) I was able to reproduce. I have PR our with a fix. I'll close out this ticket once the release is live with this commit: https://github.com/stripe/stripe-android/pull/5079

[2022-05-30 07:10] josemifever commented on #5059
Thank you guys! 🙏

[2022-05-30 13:02] maganap commented on #5074
Seems related:
https://github.com/stripe/stripe-android/issues/5058

[2022-05-30 13:24] FlorentDambreville commented on #5058
Hi Skyler,

Thanks for your answer

I see the same issue on your example app :

<img src="https://user-images.githubusercontent.com/5547520/171000888-e354ae8a-9aad-4d70-a959-1bd73dda7114.png" alt="drawing" width="200"/>

I placed a breakpoint on https://github.com/stripe/stripe-android/blob/master/paymentsheet/src/main/java/com/stripe/android/paymentsheet/repositories/StripeIntentRepository.kt#L56

[2022-05-30 13:57] leandrofavarin opened #5090 "[BUG] Missing classes detected while running R8"
## Summary

When compiling with `minifyEnabled`, the task `minifyReleaseWithR8` prints several warnings, such as:

<details>
  <summary>Logs:</summary>
<pre>

WARNING:Missing classes detected while running R8. Please add the missing classes or apply additional keep rules that are generated in /Users/aditya/builds/ZoQnz68G/1/climatelabs/klima/klima-android/app/build/outputs/mapping/release/missing_

[2022-05-31 12:48] NG-Gaurav opened #5093 "Page is not loading properly in webview"
Page is not loading properly in WebView.  We are using the latest version of SDK

[https://drive.google.com/file/d/1TI5Tm7y6-jszULxYLDe1fW_qz3xEvJwu/view?usp=sharing](url)

[2022-05-31 12:57] michelleb-stripe commented on #5093
@NG-Gaurav Can you share the payment intent ID of the transaction causing the issue?

[2022-05-31 13:04] michelleb-stripe commented on #2871
Related to #5024

[2022-05-31 13:17] korzonkiee commented on #5013
@davidme-stripe do you have any updates? We've reverted Stripe to com.stripe:stripe-android:19.2.+., but Google Play keeps rejecting our builds.

[2022-05-31 16:36] carlosmuvi-stripe commented on #5090
Hi @leandrofavarin! Thanks for the report.

The consumer proguard file is configured to keep everything under the `com.stripe.android` package: https://github.com/stripe/stripe-android/blob/master/financial-connections/proguard-rules.txt#L1.

Trying to reproduce this directly on the `financial-connections-example` we don't find any missing class under the stripe domain:

[code]

Can you add the fo

[2022-05-31 21:33] carlosmuvi-stripe commented on #5090
You should not need to include anything manually. Stripe SDKs declare their consumer proguard rules, that are included in your final proguard configuration.

I can see `-keep class com.stripe.android.** { *; }` on your final configuration file, all these classes should be kept.

Are you including the `financial-connections` directly or via the `payments` SDK to handle ACH payments?

[2022-06-01 08:16] leandrofavarin commented on #5090
I'm not, just the `com.stripe:stripe-android:20.4.0` coordinates.

I got a repro on [this link](https://github.com/leandrofavarin/stripe-r8-issue), feel free to run `./gradlew :app:assembleRelease` to check the warnings being printed.

[2022-06-01 12:32] michelleb-stripe commented on #4327
@naveenprakash74 Can you provide some additional information:
1. Provide a full stack trace
2. Confirm you are using the same dependency versions:
[code]

[2022-06-01 14:54] carlosmuvi-stripe commented on #5090
Oh, then having this`financialconnections` classes missing is expected.

Financial Connections is declared as `compileOnly` on the `com.stripe:stripe-android` SDK, being just available at compile time but not at runtime.

If your app is planning on using bank (ACH) payments, `com.stripe.financial-connections` has to be added explicitly as a dependency together with `com.stripe:stripe-android`.

If

[2022-06-01 15:46] carlosmuvi-stripe commented on #5090
Actually this is a good point. We'll add these warning suppressions to our payments SDK proguard config.

Thanks Leandro!

[2022-06-01 19:12] skyler-stripe commented on #5059
Fixed here: https://github.com/stripe/stripe-android/releases/tag/v20.5.0

Please reopen if you still have issues.

[2022-06-01 19:13] skyler-stripe commented on #4479
Closing this one out. Feel free to reopen if you're still having issues!

[2022-06-01 19:13] #4479 closed

[2022-06-03 11:00] rajkumar-rpoli commented on #4102
googlePayLauncher =
            GooglePayLauncher(
                fragment = this,
                config = GooglePayLauncher.Config(
                    environment = GooglePayEnvironment.Test,
                    merchantCountryCode = "US",
                    merchantName = "Widget Store",
                    existingPaymentMethodRequired = false
                ),

                readyCallba

[2022-06-06 08:15] josemifever commented on #5059
Hey @skyler-stripe, sorry to bother, but we are having the same issue again, but now for the 4242424242424242 card.
This card usually don't trigger the 3DS flow but we are forcing it. Can you please take a look? 🙏  Im not able to reopen the issue so tell me if you need me to create another one.

https://user-images.githubusercontent.com/98746994/172122550-4d628932-4e27-4738-befe-f419cd36f99c.mp4

[2022-06-06 11:07] alexandrudumbravan-nutmeg commented on #4479
@skyler-stripe We've updated and published a new version recently and haven't seen the issue yet, so i believe closing this one is good for the moment. Thank you for the support.

[2022-06-06 23:03] myroniak commented on #2958
Hi all, you try declaring style like this:
[code]

In layout should be like this:
[code]
Result:
![Screenshot_20220607_015807](https://user-images.githubusercontent.com/12006826/172263024-c5640240-4839-4206-809b-4d51cf1ba43c.png)

[2022-06-08 07:26] korzonkiee commented on #5013
Sorry to bug you, but we were unable to launch the app for 3 weeks now. We rolled back to flutter_stripe: 2.4.0 (Android Stripe SDK 19.3.1), but the builds it still being rejected with the same message. It seems that the only way to overcome this is to implement a "prominent disclosure" about the data that is being collected (installed applications & phone numbers) as required by Google Play, alth

[2022-06-08 08:29] josemifever opened #5127 "[BUG] Payment authentication get stuck"
## Summary
This problem was fixed in https://github.com/stripe/stripe-android/issues/5059 for 3DS2 cards. But the same issue is happening for non-required 3DS cards, like  4242424242424242. See the video attached.
This card usually doesn't trigger the 3DS flow but we are forcing it when the payment intent is created in the backend. Can you please take a look? 🙏

## Video
https://user-images.github

[2022-06-08 17:48] jameswoo-stripe commented on #5127
@josemifever thanks for reporting this issue, our team will take a look.

[2022-06-08 19:38] michelleb-stripe commented on #5013
@isegal and @korzonkiee If you could do a few things:
1. Make sure that tracks (closed testing, internal testing, etc) do not contain a version of the SDK that has been rejected.  Any old version will need to be removed.
2. Double check that the app bundle version listed in the notification is deleted (even if it contains a version of the SDK you think is good).
3. Update the version number of you

[2022-06-09 09:19] mathemandy opened #5134 "SupportedPaymentMethod.kt line 393"
## Summary
App Crashes on Production on these two devices. Not sure how to reproduce. Would require any pointers.

## Android version
 Android Version on Crashlytics shows on `9` and `10`

## Impacted devices
- Huwaei P and Huwaei y6 2019 so far

## Installation method
- Gradle Dependecy

## Dependency Versions
- v20.4.0

For kotlin:
 ./gradlew :dependencies | grep kotlin

For stripe-android:
 ./g

[2022-06-09 09:23] mathemandy commented on #5134
Ideally, I would want to know what  scenarios would make this value null.

[2022-06-09 12:41] vidicunt opened #5135 "[Feature] Disabled button color not available in new Appearance API"
Hello!

The new appearance API is great!
However I'd love it if it included an option for setting background and foreground colors when the primary button is inactivated.

Also borderStrokeWidthDp = null doesn't seem to be respected.

I'd also recommend giving us the option to select the typography text style using Compose and not a resId.

[2022-06-09 14:02] romainpiel opened #5136 "[Feature] Add an `ActivityResultContract` for `handleNextActionForPayment()` functions"
## Is your feature request related to a problem? Please describe.
There's currently no easy way to use `handleNextActionForPayment()` (or any other `handleNextAction` functions) in a compose screen. It would be great to have an `ActivityResultContract` which would start an activity and make the call to `handleNextAction` transparent. (similarly to `GooglePayPaymentMethodLauncherContract`).

## Des

[2022-06-09 17:10] jameswoo-stripe commented on #5136
@romainpiel Thanks for the request, our team will take a look.

[2022-06-09 17:11] jameswoo-stripe commented on #5135
@tommyzat Thanks for the request, our team will take a look

[2022-06-09 17:24] jameswoo-stripe commented on #5134
@mathemandy Thanks for reporting this issue, we will take a look

[2022-06-09 19:45] jameswoo-stripe commented on #5134
@mathemandy Are your clients running v20.4.0? Could you bump to version v20.5.0 and see if the issue persists? I looked through the code, but couldn't find anything that really stands out.

[2022-06-09 19:52] mathemandy commented on #5134
Ill bump this to v20.5.0 on the next release and will share my findings

[2022-06-13 11:16] michelleb-stripe commented on #5013
@korzonkiee Glad to hear that it worked out.

Google has indicated to us that Google has paused any notifications.  If you update the Stripe SDK and your version number and re-submit, there should be no issue.

[2022-06-14 00:06] brnunes-stripe commented on #5007
Hi @litmon, I'm testing with our [example app](https://github.com/stripe/stripe-android/tree/master/paymentsheet-example) and can't reproduce this issue.
Can you confirm whether you're still seeing this issue when using our most recent version (v20.5.0)?
If so, can you share the code around where you're launching PaymentSheet so we can try to understand what's going on?
Thanks!

[2022-06-14 00:08] brnunes-stripe commented on #4960
Hi @rchouhan-dackinc I'll assume this is fixed, please reopen if you're still seeing this issue.

[2022-06-14 00:08] #4960 closed

[2022-06-14 00:29] brnunes-stripe commented on #4959
Hi @rchouhan-dackinc I'm assuming the answers above helped you, if you still need help please reopen this issue.

[2022-06-14 00:29] #4959 closed

[2022-06-14 00:35] brnunes-stripe commented on #5093
Hi @NG-Gaurav,
It looks like that's a 3DS verification screen. If that's the case, that page is hosted by the card issuer. We redirect the user to that page for verification and expect a response from it. This might have been a temporary issue serving that page. If that's not the case and you're still having this problem, please reopen this issue and provide us the Payment Intent or Setup Intent i

[2022-06-14 00:35] #5093 closed

[2022-06-16 00:08] jt-gilkeson opened #5153 "Delete payment method is non-intuitive"
## Is your feature request related to a problem? Please describe.
The UI to delete card payment methods requires a user to guess / discover how to do so.  For a non-tech savvy audience this doesn't work.  There is no indicator in the UI to help the user discover this.  We've had irate users complain / write negative reviews that the app doesn't let them delete their payment method.

## Describe th

[2022-06-16 13:11] romainpiel opened #5154 "[BUG] `Stripe.handleNextActionForPayment()` does not use `PaymentAuthConfig`"
## Summary

I am setting a custom config for the 3DS screen just before I create my `Stripe` object:
[code]

However when I call `Stripe.handleNextActionForPayment()` and get redirected to a 3DS screen (in my case represented by a `PaymentAuthWebViewActivity`), the settings I set are not picked up. Debugging `PaymentAuthWebViewActivity` and its view model, I notice that we use the args passed to t

[2022-06-16 19:55] brnunes-stripe commented on #5153
Hi @jt-gilkeson, thanks for the feedback!
I suppose you're referring to the so called "Basic integration". That integration path is in maintenance mode and we don't plan on adding new features to it.
We strongly encourage users to integrate using the Mobile Payment Element instead, which is in active development and provides a much richer feature set. It also includes an "Edit" button that makes i

[2022-06-20 08:24] josemifever commented on #5127
@brnunes-stripe @skyler-stripe Hi guys, any update on this? sorry for the ping 🙏

[2022-06-21 18:19] skyler-stripe commented on #5127
Hey there,

Still investigating this. I'm curious if you have a a minimal app to reproduce this or some example code. I'm mostly wondering why you're forcing 3ds2 on a non 3ds2 card, I think that's maybe causing the issue.

[2022-06-22 07:45] josemifever commented on #5127
Hey,

I don't have any simple code, but you should be able to reproduce it with the same code that you used in the another issue.
Have you tried to force 3ds? We are sending { "required_3ds": true } in the payment intent metadata, at creation time. This way you should reproduce it.

Following the trace, I found that the callback url is different than the last issue, it looks this way:
[code]
This

[2022-06-22 15:22] samerhamdani01 opened #5193 "Unable to close google pay sheet programmatically"
Hello, I'm looking forward for finding a way to close google pay sheet programmatically on Android.

The main scenario that needs to be handled, once the app goes the background and the OS aims to kill the activity or fragment, If in any how the user goes back to the app, we can always find the previously initialized google pay sheet still there but with no way to reach the same instance back (Fra

[2022-06-22 20:53] brnunes-stripe commented on #5154
Hi @romainpiel, thanks for filing the issue!
Those customization parameters are applied to the 3DS2 native version. If your authentication flow is using `PaymentAuthWebViewActivity` that means you're going through a web version of 3DS. In that case we load a URL provided by the issuer, so not all of those customization parameters can be used. Our backend decides whether to use the native or web ve

[2022-06-23 06:01] rajputmukesh748 opened #5197 "[BUG]"
Hi Team,
Any API or SDK feature is available for converting one currency prince into another currency before payment.

Please help can't see anything in the doc. If any feature is available please share
Thank you.

[2022-06-23 16:41] skyler-stripe commented on #5127
That *should* be all I need. We're currently investigating another 3ds2 issue internally and this may be related. It's difficult to test, but I should have an update for you in the coming ~week.

Feel free to ping me if you want an update, but I'll try to keep this issue updated too.

[2022-06-23 17:17] GMetaxakis opened #5201 "[Feature] GooglePayPaymentMethodLauncher for compose"
## Is your feature request related to a problem? Please describe.
`GooglePayPaymentMethodLauncher` works without an issue for `activities`/`fragments`, but it will be very nice to consider support it an alternative creation method like the `PaymentLauncher.Companion.createForCompose` for `JetpackCompose` usage.

## Describe the solution you'd like
A way to create the `GooglePayPaymentMethodLaunche

[2022-06-24 20:44] brnunes-stripe commented on #5197
Hi @rajputmukesh748,
We don't offer currency conversion when charging a customer. You must define the currency when you create the Payment Intent object in your backend, and the customer will be charged in that currency.
If you want to charge in a different currency depending on the customer, you would decide which currency to use (by asking the customer, or checking the device's Locale, for examp

[2022-06-24 21:25] brnunes-stripe commented on #5193
Hi @samerhamdani01,
Are you using [`GooglePayLauncher`/`GooglePayPaymentMethodLauncher`](https://stripe.com/docs/google-pay)?
You don't need to manually close the sheet. We use the Activity Result API, and `GooglePayLauncher` calls [`registerForActivityResult`](https://developer.android.com/training/basics/intents/result#register) to get the result of a launched activity. So as long as you recover

[2022-06-24 21:37] brnunes-stripe commented on #5201
Hi @GMetaxakis,
Thanks for filing the issue. That's definitely something we want to support better. I'll take a look and test the PR.

[2022-06-25 14:51] GuoXiaoyang commented on #4989
Hi, any update on this?

[2022-06-27 23:11] skyler-stripe commented on #5135
Hey there,

So excited you're using our new API.

For the new colors, we'll take it into our backlog. I think it's a good idea we just had limited scope in the first iteration.

For the borderstroke width, setting it to be `null` will have it use Shapes.borderStrokeWidth value. This is the default value. I was able to see that it's working as intended via our example app's playground. Let me know

[2022-06-28 17:25] samerhamdani01 commented on #5193
Hey @brnunes-stripe
In my case GooglePayLauncher is used.
For forcing this scenario I'm enabling the don't keep activities in the phone's developer options.

- Scenario 1:
1. Initiate GooglePayLauncher on the fragment's OnCreateView.
2. App to background
3. App to foreground
4. App state recovered
5. Previous GooglePayLauncher bottom sheet is appearing and a new one appears on top when OnCreateVie

[2022-06-28 21:08] brnunes-stripe commented on #5193
Hi @samerhamdani01,
Thanks for the detailed response.
I was able to reproduce the issue, and this is a bug in our implementation that happens when the ViewModel is destroyed. I'm fixing it in #5226, which will be included in our next release on this or next week.

[2022-06-29 11:26] stubshqappdeveloper opened #5230 "[BUG] Android Payment Sheet UI compressed"
Payment sheet UI is compressed when opened via presentWithSetupIntent. Initially it was showing properly with full width of device but now showing margins on side. I also upgraded SDK verison to 20.6.2.

Please see attached screenshot. Please assist me why its appearing? Thanks
![Screenshot_20220629_160607](https://user-images.githubusercontent.com/48493463/176425745-9c41d50f-d933-4286-ac2c-c7d7ff

[2022-06-29 16:53] skyler-stripe commented on #5230
Hey there,

This one may be hard for us to reproduce. Do you have any information about your device? Things I need you to try for me:

1. Another device emulator
2. Another version of our SDK (which version worked and what one doesn't)
3. Can you try building our sample app from this repo and looking at the sheets inside?

I'm curious if it's the way you've integrated or your device causing the pr

[2022-06-30 06:31] stubshqappdeveloper commented on #5230
Hi, thanks for your reply. Yes it's not tablet.

- It's on actual devices, I tried on Huawei P20 lite, Samsung Note 8, Samsung S6, Vivo.
- I had checked with 19.3.0 & 20.6.2.
- I had setup as per your SDK document, I will check sample app.

[2022-06-30 06:39] stubshqappdeveloper commented on #5230
Hi, I got the issue.

There was one change in my app after that it was showing like this. I had changed my "screenOrientation" from "portrait" to "unspecified" in Manifest. I set back orientation forcefully to portrait mode and its showing perfectly now.

Any suggestion if I want to make my app open for any orientation, then how can I achieve it?

[2022-06-30 17:21] skyler-stripe commented on #5230
Hey !

Great job finding your issue. I still think it might be possible to fix this for all orientations. Let me take a look and get back to you.

[2022-06-30 18:31] #5193 closed

[2022-07-01 06:48] stubshqappdeveloper commented on #5230
Hi, I have made below changes in my app:

---Manifest---
 <activity
            android:name=".ui.MainScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

---Acitivity Class---
@Override
    protected void onCreate(@Nullable Bundle savedIns

[2022-07-01 06:50] stubshqappdeveloper commented on #5230
Edit:

---Manifest---
 <activity
            android:name=".ui.MainScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

[2022-07-01 09:31] abusuioc opened #5244 "Support for Huawei Mobile Services"
(This started as a question on your Discord channel and supporters there told me it's better to open an issue here.)

We would like to recommend Stripe to [Huawei Mobile Services](https://developer.huawei.com/consumer/en/hms/) (HMS) users/developers too.
But it's not clear if this SDK is compatible with HMS. The first step to find out is to identify if there are dependencies in the Stripe SDK from

[2022-07-01 17:31] rajputmukesh748 commented on #5197
ok, thanks @brnunes-stripe.
It's very helpful for me. Thanks a lot for your help.

[2022-07-01 17:31] #5197 closed

[2022-07-01 18:14] brnunes-stripe commented on #5201
I started working on this and found some issues with the current approach we are using. You need to call `createForCompose` from inside a compose function, but it needs to be called only once or you'll create a new object every time the UI is recomposed. Starting with a null object and only instantiating once results in another error when launching the Activity. So I'll need to come back to this i

[2022-07-05 06:49] GMetaxakis commented on #5201
@brnunes-stripe any luck? I saw a comment on an email on me few days ago but i don't see it here, could i help with anything?

[2022-07-05 14:33] michelleb-stripe commented on #5134
@mathemandy Were you able to try the latest version?

[2022-07-05 16:51] skyler-stripe commented on #5127
Hey there,

We're still trying to prioritize working on 3ds2 things. For now, a work around would be using the webflow. It uses webviews instead of our native SDK and circumvents a lot of issues.

If you're interested you can email your merchant IDs to 3ds2-mobile-fallback@stripe.com and we can get it going for you. Otherwise I'll keep this ticket updated for you

[2022-07-07 18:51] alcarazolabs commented on #4933
Just set in your module build.gradle file:

   android {
   // ...
      kotlinOptions {
        jvmTarget = "1.8"
        freeCompilerArgs += [
            '-Xjvm-default=enable'
        ]
      }
   }

[2022-07-12 08:10] tnt-ndriqimrr commented on #3714
Still waiting on this. I hope it's not an abandoned request. Anyone any update on how to hide the Country/Region UI?

[2022-07-12 14:36] dmytroKarataiev commented on #4449
Is there an update for this?

[2022-07-13 11:55] michelleb-stripe commented on #4989
@GuoXiaoyang We are seeing 20.x.x APKs successfully being used, and believe that Google's pause on notifications is working.

Please let us know if you are still experiencing issues.

[2022-07-15 16:28] maher1337 opened #5287 "[Feature] Canada PADs confirmAcssDebit & confirmAcssDebitSetup"
## Is your feature request related to a problem? Please describe.
The problem is for PADs in the mobile apps we're unable to confirm acss setup intents. We have to redirect the users to the web and it breaks a smooth user experience.

## Describe the solution you'd like
Build a way to confirm acss debits and setup intents in the mobile sdks.

## Describe alternatives you've considered
We redirect

[2022-07-21 03:49] maher1337 commented on #5287
Hi @brnunes-stripe.
Yes that's exactly how we are doing it and we use an event channels between the mobile app and the web view

[2022-07-21 03:50] brnunes-stripe commented on #5153
I'm closing this issue, feel free to open a new one if you need any help.

[2022-07-21 03:50] #5153 closed

[2022-07-21 03:51] brnunes-stripe commented on #5007
I'll close this issue as we weren't able to reproduce. Please let us know if you're still facing this after upgrading to the newest SDK version.

[2022-07-21 19:57] brnunes-stripe commented on #5287
Thanks for sharing!
I think that's a good approach for now. ACSS requires a lot of client side logic, so it might take some time until we have it implemented natively.

[2022-07-22 08:42] changjiashuai opened #5315 "ComponentInfo{com.imile.oasis/com.stripe.android.paymentsheet.PaymentOptionsActivity}: java.lang.IllegalArgumentException:"
The crash log is from firebase, and my own recipient has not been able to reproduce it. Please confirm whether there is a problem with the SDK.

## Summary

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.imile.oasis/com.stripe.android.paymentsheet.PaymentOptionsActivity}: java.lang.IllegalArgumentException: Required value was null.
       at android.app.Act

[2022-07-22 09:02] changjiashuai opened #5316 "Fatal Exception: java.lang.RuntimeException Unable to start activity ComponentInfo{com.imile.oasis/com.stripe.android.stripe3ds2.views.ChallengeActivity}: java.lang.IllegalArgumentException: Required value was null."
The crash log is from firebase, and my own recipient has not been able to reproduce it. Please confirm whether there is a problem with the SDK.

## Summary
Caused by java.lang.IllegalArgumentException
Required value was null.
com.stripe.android.stripe3ds2.views.ChallengeViewArgs$Companion.create (ChallengeViewArgs.kt:34)
com.stripe.android.stripe3ds2.views.ChallengeActivity$viewArgs$2.invoke (Chal

[2022-07-25 11:06] michelleb-stripe commented on #5007
@litmon I was able to see this issue when using a library called hyperion from willowtree.  Can you share a list of dependencies in your application?

[2022-07-25 20:38] michelleb-stripe commented on #5316
@changjiashuai

I apologize you experiencing issues with the 3DS2 authentication.   I suspect this is an issue when android kills the process or the activity.  We will take a look.

In the meantime we have the ability to add your merchant so that customers always uses a web flow instead of the native flow in the SDK.  If you are interested you can send an email to: 3ds2-mobile-fallback@stripe.com

[2022-07-25 20:39] michelleb-stripe commented on #5315
@changjiashuai

This seems similar to an issue we recently fixed when the activity is killed (this is not typical).  We have a fix coming out in the next couple of weeks to fix it.

See https://github.com/stripe/stripe-android/pull/5268

[2022-07-25 20:50] michelleb-stripe commented on #4449
@dmytroKarataiev

This will be fixed in the next release.

https://github.com/stripe/stripe-android/pull/5268

[2022-07-26 16:15] FestakEvgeny opened #5326 "[Feature] Ability to create GooglePayPaymentMethodLauncher without having publishableKey"
## Is your feature request related to a problem? Please describe.
The current problem is that sometimes publishableKey comes on fly while the app is running (i.e. singleActivity + singleFragment approach). But GooglePayPaymentMethodLauncher initialization requires publishable key, because it uses for analytics in init block. But the main problem is that with SingleActivity + SingleFragment approac

[2022-07-26 21:07] michelleb-stripe commented on #5326
@FestakEvgeny Thanks for writing in, this is something that we have in our backlog.

RUN_MOBILESDK-714

[2022-07-27 22:33] jt-gilkeson opened #5331 "[BUG] androidx.security version is overriding our app version"
## Summary
Our app uses "androidx.security:security-crypto:1.0.0-rc02".  When updating from Stripe 18.2.0 to 20. 5.0 we see in the dependency tree that Stripe is overriding the version used in the app to "1.1.0-alpha03" which causes problems.

Other libs don't seem to do this - even though they use a different version of the security-crypto it doesn't override it for the app.

Is there something w

[2022-07-28 04:10] Chismmike332 opened #5332 "App Center"
https://www.paypal.com/merchantapps/appcenter

[2022-07-28 04:15] #5332 closed

[2022-07-28 08:39] changjiashuai commented on #5316
Can I only use web flow? Do you have any fix plans now? @michelleb-stripe

[2022-07-28 12:17] michelleb-stripe commented on #5316
@changjiashuai This work is in our backlog, but I don't have a date on when it will be fixed.

[2022-07-28 21:41] brnunes-stripe commented on #5331
Hey @jt-gilkeson,
We use `1.1.0-alpha03` because it [supports Android API 21 (since alpha01)](https://developer.android.com/jetpack/androidx/releases/security#security-crypto-1.1.0-alpha01). If you exclude it, and at runtime `1.0.0-rc02` is available, I think that would cause an error or crash on devices with Android 21.
If your app only supports API 23+, then it might be safe to do what you're su

[2022-07-29 01:07] jt-gilkeson commented on #5331
Thank you for the quick reply.

Yes we are 23+  Is there any particular functionality of the SDK that we should concentrate testing on?

Unfortunately there are problems with updating the version, something to do with newer versions having an issue with  keystores when people get a new phone and their data was automatically transferred (there are a lot of reports of others having this same issue -

[2022-07-29 02:49] changjiashuai commented on #5316
Got it. I'll observe it first. If there are many such problems, I'll contact you and change it to web flow.

[2022-07-29 11:23] abusuioc commented on #5244
Update: I wrote to support as instructed and received a very generic answer that everything is going to be fine and my feedback will be passed to the product team. So not sure what should we do with this ticket now ...

[2022-07-29 11:49] michelleb-stripe commented on #5244
@abusuioc You will be able to use the Stripe SDK on phones that do not have Google Play Services or Firebase.

The request to add support for Huawei Wallet and Huawei Pay is a much larger effort than just this team. By letting Stripe know that you are interested in this functionality it will help in prioritization of the request.  We can keep this request open for now as well to track the request

[2022-07-29 11:50] michelleb-stripe commented on #5316
@changjiashuai If you decide you would like to use the web flow just send an email to [3ds2-mobile-fallback@stripe.com](mailto:3ds2-mobile-fallback@stripe.com).

[2022-07-30 06:53] zhao1515437040 opened #5345 "[BUG] java.lang.NoSuchMethodError: No static method $private$all(Landroidx/compose/ui/layout/ParentDataModifier;Lkotlin/jvm/functions/Function1;)"
## Summary
 FATAL EXCEPTION: main
    Process: com.voghion.app:secondProcess, PID: 3725
    java.lang.NoSuchMethodError: No static method $private$all(Landroidx/compose/ui/layout/ParentDataModifier;Lkotlin/jvm/functions/Function1;)Z in class Landroidx/compose/ui/layout/ParentDataModifier$-CC; or its super classes (declaration of 'androidx.compose.ui.layout.ParentDataModifier$-CC' appears in /data/

[2022-07-31 04:08] Chismmike332 opened #5346 "button_get_started.png"
https://stayhomeprofits.biz/0E814B/step2.php

[2022-07-31 04:11] Chismmike332 opened #5347 "Logo"
https://www.bing.com/images/search?q=Logo&mmreqh=bIp3XOC0ERZv4jD411vBylHaXRBQViS81IFmynK38VU%3d&form=INLIRS

[2022-07-31 12:38] Chismmike332 opened #5348 "Funds are ready for collection"
https://iparier.com/ar/index.php/campaigns/nd5336gf2qf67/track-url/gz543nxrxs278/ab07f52479dd1591d1c5e5b0f81f41dfc46eaecb

[2022-07-31 20:25] Anon-twon7474 commented on #1997
I'm in my middle in in in it in it by

[2022-08-01 02:34] zhao1515437040 commented on #5345
project use  classpath 'com.android.tools.build:gradle:3.6.4'

[2022-08-01 17:29] skyler-stripe commented on #5345
Hey there!

Are you using compose by chance? You need to make sure you're using all of the required compose dependencies or you can get weird errors like these.

We're on `    androidxComposeVersion = '1.2.0-rc02'` and ` androidxActivityVersion = '1.5.1'`

[code]

More reading: https://developer.android.com/jetpack/compose/setup?gclid=Cj0KCQjw852XBhC6ARIsAJsFPN1M9Aotq189yZY1CSc-JmjafaM-rhOzFhmUQ-g

[2022-08-02 00:06] brnunes-stripe commented on #5201
Hello,
[Version 20.8.0](https://github.com/stripe/stripe-android/releases/tag/v20.8.0) released today contains the changes mentioned above.
Please try it out and let us know if you have any feedback!

[2022-08-03 17:33] davidme-stripe commented on #3516
Sorry, but we haven't been able to reproduce this on our end. We'd recommend using [PaymentSheet](https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=payment-sheet), our modern prebuilt payment UI.

[2022-08-03 17:33] #3516 closed

[2022-08-03 22:53] alvesleonardo commented on #4222
I'm facing the same problem with FlowController, unfortunately the payment sheet do not solve anything to me. I need control between the user select a payment and confirm it. There's a way to use compose without sending multiple objects between the activity and the compose elements?