[2022-08-03 23:16] alvesleonardo opened #5365 "[BUG] FlowController theme customization is not working"
## Summary
Any custom color in dark theme is not working
The customization of FlowController is not correctily working in the payment sheet. Basically I'm trying to customize the dark theme and the saved payment options is not changing.

<img src="https://user-images.githubusercontent.com/5604321/182726886-0f649ebb-76ec-41c5-8b55-d681b504fce2.png" height=600/>

## Code to reproduce
Create a new Pa

[2022-08-03 23:16] alvesleonardo commented on #5365
I made it white to help undestand where the customization is working or not

[2022-08-04 11:39] GMetaxakis commented on #5201
When I am trying to use it with a wrong `clientSecret` it crashes the app instead of showing any error, not sure if this is the actual problem to be honest
[code]

example of usage

[code]

[2022-08-04 18:41] davidme-stripe commented on #2037
I'm very sorry about this, but we don't intend to make these methods and resources public. For truly custom UI, it may make more sense for you to fork this package. (But keep in mind PCI compliance: Visit the [Mobile SDK section of our Integration security guide](https://stripe.com/docs/security/guide) for details.)

[2022-08-04 18:41] #2037 closed

[2022-08-05 00:57] brnunes-stripe commented on #5331
We use `EncryptedSharedPreferences` from that library, and [our implementation](https://github.com/stripe/stripe-android/blob/master/link/src/main/java/com/stripe/android/link/account/EncryptedStore.kt), uses the `MasterKey` class which is new to 1.1.0. So I think if you exclude 1.1.0 and include 1.0.0, it will crash at runtime.
Once #5340 is merged and a new version is released you'll be able to

[2022-08-05 09:43] zhao1515437040 commented on #5345
i have not used the compose, only add your stripe sdk, i update plugin  com.android.tools.build:gradle to 7.2.1,   it seems no problem.

[2022-08-05 11:29] daviejaneway commented on #4209
Hi @ForbiddenZone. Would you be able to share how you achieved this, please? We have a use case where we want to use Customers but also hide the save card checkbox.

[2022-08-05 18:16] michelleb-stripe commented on #5365
@alvesleonardo

Hello! Can you share the appearance configuration passed to PaymentSheet in the video above?

[2022-08-05 18:17] michelleb-stripe commented on #5345
@zhao1515437040 Are things working for you now?

[2022-08-05 18:25] michelleb-stripe commented on #4222
@alvesleonardo

Hello!

Use the following to setup the launcher, and launch the PaymentSheet.  You should not need the client secret until you are ready to present the Sheet.

[code]

[2022-08-05 20:07] alvesleonardo commented on #4222
But this is a PaymentIntentSheet, not a flow controller used in this flow: https://stripe.com/docs/payments/accept-a-payment?platform=android&ui=payment-sheet#android-flowcontroller

[2022-08-05 20:55] alvesleonardo opened #5372 "[BUG] Setup intent not attaching a payment menthod."
## Summary
When the user don't change the selected card in FlowController payment sheet the FlowController.confirm() function don't attach the selected payment method to the current SetupIntent.

Steps:
-  Create a setup intent
- Start the flow controller with a customer set up (using clientId and ephemeralKey), this user should have cards saved to use.
- Open the paymentOptions dialog. .getPaymen

[2022-08-05 21:03] alvesleonardo commented on #5365
colorsDark = PaymentSheet.Colors(
        primary = Color(0xFFF4F4F6),
        surface = Color(0xFFFFFFFF),
        component = Color(0xFFFFFFFF),
        componentBorder = Color(0x66DADADA),
        componentDivider = Color(0x66DADADA),
        onComponent = Color(0xFF0C0C0C),
        subtitle = Color(0xFF52575C),
        placeholderText = Color(0xFF52575C),
        onSurface = Color(0xFF0C0C0C),

[2022-08-06 01:15] brnunes-stripe commented on #5201
Hi @GMetaxakis I cannot reproduce the crash you're seeing. Can you share more of your code? The full Activity would be very helpful.
Also take a look at the example in [GooglePayLauncherComposeActivity](https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/activity/GooglePayLauncherComposeActivity.kt), starting from it might help.

[2022-08-06 01:20] zhao1515437040 commented on #5345
yes, it works

[2022-08-08 11:29] #5345 closed

[2022-08-08 23:26] jameswoo-stripe commented on #4222
@KristapsKrumins, @alvesleonardo, I have a patch file for you that you can use on this repo. It edits `ComposeExampleActivity.kt`:
[flowcontroller.txt](https://github.com/stripe/stripe-android/files/9285522/flowcontroller.txt)

Go ahead and apply this patch and see the example video:

https://user-images.githubusercontent.com/99316447/183530665-04b61865-24f3-4bf4-baa4-4b55869ce225.mov

Things to n

[2022-08-10 16:28] jameswoo-stripe commented on #5365
Hi @alvesleonardo, I can verify that there is an issue with FlowController appearance theming.

[2022-08-10 16:52] jameswoo-stripe commented on #5365
I was able to reproduce the issue but did find a possible fix. I can now see something like:

<img src="https://user-images.githubusercontent.com/99316447/183969169-1ec836d0-bebc-4973-9188-40d4ee68e62c.png" height=400/>

Using this configuration:

[code]

[2022-08-11 22:41] jameswoo-stripe commented on #5365
I will consider this fixed, keep an eye out for the next release August 15. Feel free to reopen this issue if it persists.

[2022-08-11 22:41] #5365 closed

[2022-08-12 19:12] brnunes-stripe commented on #5372
Hi @alvesleonardo, thanks for raising the issue!
I checked the Setup Intents you shared, and there wasn't any attempt to confirm them, so it looks like something in your logic is resulting in `confirm()` not being called.
Can you share more of your code? The part you shared looks correct. A minimum working Activity that I can use to try to reproduce would be very helpful.

[2022-08-15 13:43] alvesleonardo commented on #5372
Hi Bruno, I'm preparing a demo code to send to you. Until the end of the day I'll send here a repository

[2022-08-15 18:08] alvesleonardo commented on #5372
You can reproduce the error using the app: [https://github.com/alvesleonardo/stripe_bug](https://github.com/alvesleonardo/stripe_bug)

[2022-08-16 02:14] upside-sarah commented on #486
@awush-stripe is there an update on this? are the docs up-to-date?

[2022-08-17 07:05] #5201 closed

[2022-08-17 18:33] alvesleonardo commented on #4222
Thanks, I've done that. I just found one bug in flowcontroller and already reported. Basically there's one problem when the user dismiss the dialog or select the last used card. At this time the FlowController.confirm() will not attach a payment method and this is holding the release.

[2022-08-17 22:17] brnunes-stripe commented on #5372
Thank you, I'll check it out and try to reproduce.

[2022-08-18 22:13] tommyzat commented on #4222
Is FlowController the only way to select a payment method without making a payment intent? This is really hard to hoist for really nested composeables, what would be a solution for that case?

[2022-08-19 02:04] sjthfm opened #5427 "PaymentSheet Google Pay button may no longer be compliant with brand guidelines"
## Is your feature request related to a problem? Please describe.
Hello. I was advised to post this as an issue here.

To summarise: New integrations will not be approved because the google pay button does not meet Google's brand guidelines. This appears to be the case for Google Pay Button on the PaymentSheet.

## Describe the solution you'd like
Implement google payment button according to speci

[2022-08-19 06:01] ananth10 opened #5430 "Card scanning is not working properly"
Hello Team,

I have integrated StripeCardScan SDK into my application, it was scanning and returning card number for couple of days. but today i am getting error in logcat that says **"StripeApi: Unable to upload scan stats (400): StripeServerErrorResponse(error=StripeServerError(code=parameter_missing, docUrl=https://stripe.com/docs/error-codes/parameter-missing, message=Missing required param: p

[2022-08-19 23:21] brnunes-stripe commented on #5427
Hey @sjthfm, thanks for raising the issue!
We'll update the assets we use to match Google's guidelines

[2022-08-20 01:39] brnunes-stripe commented on #5372
Hi @alvesleonardo,
I made a small change to your sample code to fetch the keys from the server, so that we can launch the app multiple times and it'll try to confirm a new Setup Intent.
Here are the changes: https://github.com/brnunes-stripe/stripe_bug/tree/fetch_keys
On that app, I can confirm the Setup Intent using the default card, whether I dismiss the sheet by clicking outside of it or click

[2022-08-20 01:42] brnunes-stripe commented on #5372
If you want to use your Stripe account to see the Setup Intent status in your dashboard, just remix this glitch project and add your test secret key, publishable key, and a customer id: https://glitch.com/edit/#!/mango-outgoing-chamomile

[2022-08-20 02:07] brnunes-stripe commented on #4989
We haven't seen any more users having this issue, so I think this has been fixed on Google's side.
Please open a new ticket if you have a similar issue.

[2022-08-20 02:07] #4989 closed

[2022-08-22 00:24] ColtonIdle opened #5433 "[Feature] Provide docs on how to minify when using Stripe SDK"
## Is your feature request related to a problem? Please describe.
I am minifying my app (r8) and my apps dex file size according to apk analyzer is ~6MB after all is said and done, but Stripe takes up like 4.9MB. 🤯 The thing is that I use my own UI for stripe, and use a very minimal set of apis. (all i do is save credit cards to a user, and then use those credit cards to make a payment with my use

[2022-08-22 01:59] ColtonIdle commented on #5433
It looks like everything boils down to a bunch of activities that are added to my AndroidManifest?

BUT I did try the tools node remove trick to get rid of like the 50 activities that are pulled in by Stripe, but no luck. my final release apk is still like 50% stripe UI (which again, i do not use)

[2022-08-22 04:44] ColtonIdle commented on #5433
I moved to just using

  implementation("com.stripe:payments-core:20.9.0")
  implementation("com.stripe:payments-model:20.9.0")
  implementation("com.stripe:stripe-core:20.9.0")

instead of

  implementation("com.stripe:stripe-android:20.9.0")

and now instead of 4.9MB taken up by stripe, there is only 2.6MB, but when my app is 4.3 and 2.6 is taken up by stripe something feels wrong.

any idea why

[2022-08-22 20:26] awush-stripe commented on #5430
Hi @ananth10 ,

I'll take a note that we need to add a "user cannot scan" button to the cardscan activity. We have this for verification, but it was omitted for scan.

The scan stats error should not impact the performance of the scan for you, since scan stats errors are ignored. However, it does look like stats collection is broken. Was there another error that fired before this one? What the the

[2022-08-23 06:07] ananth10 commented on #5430
@awush-stripe Thanks for quick reply!. I think i was getting that error because of i did not verify the mail that sent to my inbox during registration. so I have registered with new mail id in stripe console and activated my account and card scan is working now. but its only extracted the card number, so how to extract expiry date also?

And if you going add "user cannot scan" button to the card s

[2022-08-23 16:23] awush-stripe commented on #5430
Hi @ananth10 , glad it's working now!

Presently, the SDK only extracts the card number. We would like to add expiry and name extraction, but those tasks are not yet prioritized.

We don't have a solid date for the "user cannot scan" button. It is also not prioritized presently, however I'll add this comment for future request tracking.

Yes, the card scan SDK is released under the MIT license, an

[2022-08-24 09:41] susanapons89 commented on #4488
Hello! Is there any news on this topic? I'm are having the same issue

[2022-08-24 12:51] ananth10 commented on #5430
@awush-stripe Thanks for your comments and I am hoping to see those nice features in the future release. Thanks again for your support!!

[2022-08-24 19:48] #5013 closed

[2022-08-25 14:35] #5430 closed

[2022-08-25 20:17] trifagabriel commented on #3719
@michelleb-stripe  - thanks for your answers. I'm trying to access the link you set above to see the solution but it gives 404. Can you please update it?

[2022-08-26 07:22] FestakEvgeny commented on #5326
@michelleb-stripe Hi, sorry. Do we have any updates on this improvement? It is kind of blocker for our google pay feature. We added initial google pay init with test hardcoded publishableKey, but pretty want to remove this weird workaround :) So it would be nice to see approximate time of being this task done. Thank you

[2022-08-26 15:23] fanwgwg opened #5471 "[BUG] Success payment after Alipay returns "Exception while parsing response body" error (webhook still succeeds)"
## Summary
I'm trying to integrate with Alipay using this SDK. However, after a successful alipay payment (I have alipay app installed on my device, the payment is redirected to the alipay app and it succeeds, I'm not able to reproduce this issue if Alipay is not installed), `ApiResultCallback#onError` was triggered, with the following error
[code]

## Code to reproduce

1. Make sure Alipay is ins

[2022-08-26 15:34] fanwgwg commented on #5471
Another thing I observe is that no matter Alipay is installed or not, if I cancel the payment within Alipay (e.g, tapping close button in the redirected Alipay activity), the `PaymentIntentResult` will contain status `RequiresAction` instead of `Cancelled`, with message ` We are unable to authenticate your payment method. Please choose a different payment method and try again`

[2022-08-29 05:50] gitetech opened #5477 "[BUG]"
## Summary
facing issue to integrating PaymentSheet.  Not opening Payment Sheet checkout view.
## Code to reproduce
Hi, I am following https://stripe.com/docs/payments/accept-a-payment?platform=android
link to integrate.

Using code like
[code]

## Android version

## Impacted devices

## Installation method

## Dependency Versions
com.stripe:stripe-java:20.77.0
com.stripe:stripe-android:20.9.0

F

[2022-08-30 01:29] Micnubinub opened #5486 "Android card scan sheet crashes on some devices[BUG]"
## Summary
Some devices crash when cardScanSheet.present is called

## Code to reproduce

[code]

## Android versions: 9, 10, 12

## Impacted devices: OPPO Reno 10x room, Samsung galaxy s9 and Samsung Galaxy Note 10

## Installation method
`
implementation 'com.stripe:stripe-android:20.10.0'
implementation 'com.stripe:stripecardscan:20.10.0'
`

## Dependency Versions

kotlin:  1.6.21
stripe-androi

[2022-08-30 18:31] awush-stripe commented on #5486
hi @Micnubinub , looks like the stack trace and actual exception are truncated. Do you have the beginning of the trace?

[2022-08-30 22:42] Micnubinub commented on #5486
Sadly not, that's all I got sent to firebase. I'll try get a hold of the
device next week and send the logs through. In the meantime I managed to
fix it by using the .attach() on the fragment container

On Wed, 31 Aug 2022, 04:32 Adam Wushensky, ***@***.***> wrote:

[2022-08-30 22:59] brnunes-stripe commented on #5477
Hi @gitetech, thanks for filing the issue!
I don't see anything wrong with the snippet of code you shared.
Can you share a full Activity/Fragment where you're seeing this issue, so I can try to understand what's going on?

[2022-08-30 23:40] brnunes-stripe commented on #5433
Hi @ColtonIdle, thanks for the feedback!
We're planning on taking a deeper look into reducing our libraries' sizes over the coming months. Meanwhile, I'll investigate if there's something we can do in the short term to support this specific use case of not using any of our views.
To confirm, you're using only methods from the `Stripe` class?

[2022-08-31 08:37] VinuPolly-Bonnet opened #5498 "3DS verification crashes when using production cards on production Stripe[BUG]"
## Summary
I recently updated the stripe android SDK to 20.11.0, haven't updated in a long time (was 17.2.0). When using this new SDK all test cards works on staging using Stripe's staging cards including the (4000 0027 6000 3184), which is used to check 3DS versification browser. But when checking the prod version and adding a real bank card, the 3DS window pops up, but crashes immediately afterw

[2022-08-31 09:45] Sahil-133 commented on #4102
Hi ,
I am facing same issue again

[2022-08-31 15:15] ColtonIdle commented on #5433
We use these imports for just adding and removing cards in our app. Our backend actually does the charging and everything

import com.stripe.android.Stripe
import com.stripe.android.core.StripeError

import com.stripe.android.CustomerSession
import com.stripe.android.createPaymentMethod
import com.stripe.android.PaymentConfiguration

import com.stripe.android.EphemeralKeyProvider
import com.stripe

[2022-08-31 15:17] ColtonIdle commented on #5433
but yeah. let me know if you want me to help test in anything related to shrinking the size. even if there are proguard rules. im more than happy to put them into testing internally in our company to see if the app breaks in some way.

[2022-08-31 16:20] awush-stripe commented on #5486
sounds good, I'm glad you got it solved for now!

[2022-08-31 20:37] brnunes-stripe commented on #5433
If you don't use them, it's safe to remove:
- `AddPaymentMethodActivity`
- `PaymentMethodsActivity`
- `PaymentFlowActivity`
- `StripeGooglePayActivity`
- `GooglePayLauncherActivity`
- `GooglePayPaymentMethodLauncherActivity`
- `CollectBankAccountActivity`

This should allow the views to also be stripped. Can you try that and let me know if it helps?
I'll be moving them to a separate module so that

[2022-08-31 21:14] ColtonIdle commented on #5433
AWESOME. I didn't know if safe to remove because (for example) i didn't know if I built my own add credit card flow, if certain cards would require additional verification and therefore itd start an activity (somehow). but it seems like thats not the case?

I'll remove them now and make a build to see if it reduces apk size!

[2022-08-31 21:27] brnunes-stripe commented on #5433
Right, some of the activities will still be kept, the ones that are needed for authentication. You can verify that by testing with a [test card that requires 3DS authentication](https://stripe.com/docs/testing#regulatory-cards).
Those that I listed are part of different integrations, so they can be safely removed in your specific case. They are also the ones that use our UI elements, like `CardMul

[2022-08-31 21:30] ColtonIdle commented on #5433
Oh interesting. Okay. I was just about to come here and ask "Are you sure I can't get rid of"

"com.stripe.android.view.AddPaymentMethodActivity"
"com.stripe.android.view.PaymentMethodsActivity"
"com.stripe.android.view.PaymentFlowActivity"
"com.stripe.android.view.PaymentAuthWebViewActivity"
"com.stripe.android.view.PaymentRelayActivity"
"com.stripe.android.payments.StripeBrowserLauncherActivity"

[2022-08-31 21:32] ColtonIdle commented on #5433
Not really relevant, butinteresting that ChallengeActivity doesn't allow itself to be removed

<img width="1075" alt="2022-08-31 at 17 31 21" src="https://user-images.githubusercontent.com/31751141/187788824-4b46fd29-0309-4d62-9364-4a7f44eee55c.png">

[2022-08-31 21:38] ColtonIdle commented on #5433
Hm. Can't remove two of the activities

[code]

[2022-08-31 21:44] ColtonIdle commented on #5433
After removing all of the other activities except for those 2 above, there was no change in apk size 😦

More than happy to test any new dependencies you come up with that'll shrink this for use cases like mine. cheers

[2022-08-31 21:50] brnunes-stripe commented on #5433
Okay, I'll need to refactor our modules then to move those activities, so that they're not included in the dependencies for a use case like yours.
This is the proper long term solution, I was hoping we'd be able to achieve that by manually removing, but it looks like that won't work.
I'll start by moving the ones that should be most impactful. I'll keep this ticket open to track progress and updat

[2022-08-31 22:06] ColtonIdle commented on #5433
Awesome. Looking forward to lowering my apk size!

[2022-09-02 03:58] raymond-hitpay opened #5507 "Android Terminal retrievePaymentIntent for NFC Tap to Phone Crash[BUG]"
## Summary

App crashes when Terminal.getInstane().retrievePaymentIntent is called

Crash happens for Galaxy A21 device

## Code to reproduce

`Terminal.getInstance().retrievePaymentIntent(clientSrt, createPaymentIntentCallback);
`
## Android version

Android version 11

## Impacted devices

Galaxy A21

## Installation method

Through a gradle dependency

## Dependency Versions

stripe-android: 2.

[2022-09-02 12:36] Lonexera opened #5508 "[BUG] PaymentRelayActivity is not started and it results in PaymentResult.Failed"
## Summary

`PaymentRelayActivity` is not started on Android 10 and 11 when after `paymentLauncher.confirm(params)` user collapses app and returns to it few seconds later. This results in payment result as `PaymentResult.Failed`, when in fact it could've been `PaymentResult.Completed`.

## Code to reproduce

paymentLauncher initialization:
[code]

payment confirmation:
[code]

## Android version

[2022-09-02 15:12] awush-stripe commented on #5486
@Micnubinub I'm going to close this issue for now. Please feel free to re-open if more info becomes available or if the bug crops up again!

[2022-09-02 17:37] chr-stripe commented on #5507
Hi @raymond-hitpay, it looks like you're encountering an issue with Terminal specifically, is that correct? If so, would you mind filing this issue in the [Terminal repo](https://github.com/stripe/stripe-terminal-android) instead?

[2022-09-02 22:48] brnunes-stripe commented on #5498
Hi @VinuPolly-Bonnet, thanks for filing the issue!
Just to confirm, your app is written in Kotlin, right?
Does your app declare any dependency on `androidx.core:core-ktx` or `androidx.core:core`? If so, which versions?

[2022-09-02 22:54] VinuPolly-Bonnet commented on #5498
Hi @brnunes-stripe
Yes the app is written in Kotlin, and also I use the `androidx.core:core-ktx` as below
`implementation 'androidx.core:core-ktx:1.9.0-alpha01'`

Thanks

[2022-09-05 01:51] raymond-hitpay commented on #5507
hi @chr-stripe thanks, will file an issue to the Terminal repo instead.

[2022-09-07 02:13] Micnubinub commented on #5486
Sorry, I worked from home all week last week, so I didn't have access to
the devices. The .present() method crashes as the fragment is being created
for a second, then relaunches and works. The crash seems to be happening
~30% of the time... Cleared my logs then triggered the .present() and got
the following:

2022-09-07 12:12:03.272 20317-20317/com.instantconsult E/libc: Access

On Sat, Sep 3, 20

[2022-09-07 02:53] brnunes-stripe commented on #5471
Hi @fanwgwg, thanks for raising the issue.
I'm working on reproducing and fixing this, will keep this issue up to date.

[2022-09-07 15:34] michelleb-stripe commented on #5508
@Lonexera

I am having trouble reproducing the behavior.

Also I am not completely clear on the steps you are running to create this issue.  Please correct the steps I have below:
1. Create a PaymentLauncher
2. Call PaymentLauncher.confirm
3. Press recent app prior to the authorization activity being launched so the recent app shows the pre-authorization screen.
4. (The authorization screen will t

[2022-09-08 06:57] matghazaryan opened #5531 "[BUG] retrievePaymentIntent is not giving a success or failure callback"
## Summary
retrievePaymentIntent is not giving a success or failure callback. If I do the first time it's okay, the second time it's okay.
I am starting not to receive a callback if I am creating the payment and canceling it immediately then creating again then canceling it again.

## Code to reproduce

 Terminal.getInstance().retrievePaymentIntent(clientSecret,
                object : PaymentInt

[2022-09-08 07:03] #5531 closed

[2022-09-08 19:37] kaushalp123 commented on #4102
Yes existingPaymentMethodRequired = false, worked for me

[2022-09-09 09:03] sandyscoffable opened #5539 "[BUG] CardInputWidget - Expiry Date not always formatted properly"
## Summary

When entering an expiry date, the expiry date isn't always formatted with a `/`, especially if entering the information quickly

## Code to reproduce

Layout:
[code]

Fragment code:
[code]

## Android version
Android 12

## Impacted devices
Physical device: Samsung Galaxy A71

## Installation method
Gradle dependency

## Dependency Versions

kotlin: 1.7.10
stripe-android: 20.11.0
Andro

[2022-09-10 10:30] tgensol commented on #5127
Any news on this one ?

[2022-09-11 17:15] ColtonIdle commented on #5433
@brnunes-stripe just as a heads up. I finally went around and tested 3ds cards as per your comment

"Right, some of the activities will still be kept, the ones that are needed for authentication. You can verify that by testing with a [test card that requires 3DS authentication](https://stripe.com/docs/testing#regulatory-cards)."

but the activities for 3ds auth never started. Not sure if you have

[2022-09-12 09:01] Lonexera commented on #5508
To see the issue I am using the card that doesn't require authorization.  And the steps to reproduce it:
(use Android 10 or 11)
1. Create a PaymentLauncher
2. Call PaymentLauncher.confirm
3. Press recent app or press home (it doesn't matter - only the app must be in background)
4. Wait for 5 seconds
5. Click recent apps to switch back to the application

Then the payment is failed with the message

[2022-09-13 20:50] brnunes-stripe commented on #5427
Hi @sjthfm, this is fixed in the latest release, [v20.12.0](https://github.com/stripe/stripe-android/releases/tag/v20.12.0).

[2022-09-13 20:50] #5427 closed

[2022-09-14 13:40] tillh-stripe commented on #5539
Hi Sandy 👋 Thanks for reporting this. I have a draft pull request up to make this work correctly. Can you do the following in your app to test it and confirm that the input formatting works correctly now?

[code]

If everything looks good, let me know and I’ll include this fix in the next release. If not, I’m happy to investigate further.

[2022-09-14 16:49] tillh-stripe commented on #4449
Hi @dmytroKarataiev 👋 I’m closing this issue for now, but feel free to open another one if the issue persists for you.

[2022-09-14 16:49] #4449 closed

[2022-09-14 16:50] tillh-stripe commented on #5134
Hi @mathemandy, I’m closing this issue due to inactivity. Feel free to open another issue if you’re continuing to see issues.

[2022-09-14 16:50] #5134 closed

[2022-09-14 16:51] tillh-stripe commented on #5372
Hi @alvesleonardo, any updates on your end?

[2022-09-16 22:22] brnunes-stripe commented on #5471
Hey @fanwgwg, I was able to reproduce and fixed the issue in #5554.
Regarding the status after cancelation, `RequiresAction` is correct, and means that the user needs to confirm the payment on Alipay. `Canceled` in this case would mean that you've canceled the Payment Intent, and it cannot be confirmed anymore. See more about the Intent statuses on our docs: https://stripe.com/docs/payments/intent

[2022-09-16 23:02] brnunes-stripe commented on #5477
I'll close this issue as we need more information to understand the problem and help you.
Please feel free to open a new one if you still need help.

[2022-09-16 23:02] #5477 closed

[2022-09-20 00:24] brnunes-stripe commented on #5471
The fix is live in [v20.13.0](https://github.com/stripe/stripe-android/releases/tag/v20.13.0), please try it out and let us know if you have any problems.
[The integration docs](https://stripe.com/docs/payments/alipay/accept-a-payment?platform=mobile&ui=android#android-redirect-alipay-wallet) were also updated to clarify the `RequiresAction` status.
Thanks again for raising this!

[2022-09-20 00:24] #5471 closed

[2022-09-20 14:13] fanwgwg commented on #5471
Thank you @bruno-stripe for the quick action! I have one question regarding the PR #5554 and the documentation. In PR #5554, the example `AlipayPaymentNativeActivity` was updated with the following code block
[code]
From what I can understand, we're treating `RequiresAction` as cancellation here. However, at the [documentation here](https://stripe.com/docs/payments/alipay/accept-a-payment?platform

[2022-09-21 10:18] canercanbaz commented on #5372
Hi @brnunes-stripe @tillh-stripe, I didn't want to create a separate issue since my problem is similar to this one. When I delete the default payment method and then press the "Set up" button, it just throws an error. See the screenshot below. I checked the dashboard, and the setup intent was confirmed by the deleted payment method (4444) and failed because it was detached. It should have been (42

[2022-09-21 15:38] awush-stripe commented on #5486
Thanks @Micnubinub ! it looks like a layout issue, I agree. I've created an internal ticket to track this.

[2022-09-21 16:58] tgensol opened #5586 "[Feature] : Add shippingAddressRequired and shippingAddressParameters"
Hi there

## Is your feature request related to a problem? Please describe.
I am trying to get the shipping address from the customer with the Google Pay method, so my customer can save some time when paying, and to not have to fill it into my app.

## Describe the solution you'd like
I tried to look https://developers.google.com/pay/api/android/reference/request-objects#PaymentDataRequest, but I

[2022-09-22 01:16] brnunes-stripe commented on #5372
Hey @canercanbaz, thanks for reporting that!
I can reproduce and have fixed the issue. The fix will be included in our next release.

[2022-09-22 09:01] canercanbaz commented on #5372
Hey @brnunes-stripe, thanks for your quick response! Is it also possible to disable the "Set up" button when all of the cards are deleted? That error is also shown in that case.

[2022-09-23 03:16] brnunes-stripe commented on #5372
It will be released next week.
Right, I missed that. Will fix.

[2022-09-23 06:06] brnunes-stripe commented on #5586
Hi @tgensol, thanks for the feedback!
It looks like it's simple to expose those settings, I'll give it a try.

[2022-09-23 19:44] Lee-Hounshell-at-MarianaTek commented on #4435
We are seeing a similar crash in the field when using stripe-android version **20.5.0**:

com.stripe.android.paymentsheet.PaymentOptionsActivity$viewModelFactory$2.invoke (PaymentOptionsActivity.kt:1)
com.stripe.android.paymentsheet.PaymentOptionsActivity$viewModelFactory$2.invoke (PaymentOptionsActivity.kt:2)
com.stripe.android.paymentsheet.PaymentOptionsViewModel$Factory.create (PaymentOptionsVi

[2022-09-23 19:52] Lee-Hounshell-at-MarianaTek commented on #3615
We are seeing a similar issue using stripe-android version **20.5.0**:
Cause by IllegalArgumentException
required value was null.

com.stripe.android.paymentsheet.PaymentOptionsActivity$viewModelFactory$2.invoke (PaymentOptionsActivity.kt:1)
com.stripe.android.paymentsheet.PaymentOptionsActivity$viewModelFactory$2.invoke (PaymentOptionsActivity.kt:2)
com.stripe.android.paymentsheet.PaymentOptionsV

[2022-09-26 16:51] yipeiguan opened #5616 "[BUG] presentPaymentMethodSelection always crashes with TransactionTooLargeException"
## Summary
Whenever we call presentPaymentMethodSelection, the AddPaymentActivity is shown, but then right after, it crashes.

## Code to reproduce
Upon a click listener
`is PresentCardOptions -> paymentSession.presentPaymentMethodSelection()`
[code]

## Android version
We are compiling on API 33

## Impacted devices
Pixel 5

## Installation method
We used a gradle dependency

`implementation("com

[2022-09-26 19:02] brnunes-stripe commented on #5471
Hey @fanwgwg, thanks for pointing that out.
I'll update the docs. That's not required, as the `confirmAlipayPayment` method will already handle authentication, and if the status is still `RequiresAction` after that, it means the user canceled the authentication.
[code]

[2022-09-27 00:39] brnunes-stripe commented on #5372
The issue is fixed on the latest release, [v20.14.0](https://github.com/stripe/stripe-android/releases/tag/v20.14.0).
I'll close this ticket. If you find any issues please open a new one to let us know.

[2022-09-27 00:39] #5372 closed

[2022-09-27 14:44] sandyscoffable commented on #5539
Sorry, I've just noticed your message today (I don't think I got a notification - thanks GH!) ... I'll see if I get some time today to try this out.

[2022-09-27 14:54] sandyscoffable commented on #5433
I'm seeing the same issue. Our app was previously **3.9 MB**, and having included Stripe Payments it's increased to **8 MB**. I got a warning when uploading the app bundle to the dashboard. We also have a competitors SDK (in the original 3.9MB size).

We're not using Stripe payment sheet, we've got our own UI (but delegate to the SDK for 3DS etc). We also use the card entry widget, but that's it.

[2022-09-27 15:15] sandyscoffable commented on #5433
[code]
instead of
[code]

Does seem to help somewhat, but I hate this as it goes against the online documentation, and like I say, the tree shaking should be automatic.

[2022-09-27 15:50] sandyscoffable commented on #5433
Ok, some figures.

I was a bit wrong about our old app size, it was actually **3.79MB**. Like I say, including `stripe-android` increased this to **8MB**.

By instead including the sub modules, the app size is now **5.95MB**. Not ideal but it'll have to do for now, until a solution presents itself.

[2022-09-27 16:05] sandyscoffable commented on #5539
Ok, for some reason it's not liking that import. It says read timeout ... private repo?

[2022-09-27 16:06] sandyscoffable commented on #5539
[code]

[2022-09-27 16:24] sandyscoffable commented on #5539
Ok, I've managed to manually test it now, and I can no longer replicate the buggy behaviour.

So, 👍 👍 for your PR.

[2022-09-27 20:37] brnunes-stripe commented on #5433
Hey @sandyscoffable, thanks for the feedback!
I'll be working on this in Q4, will make sure that users that are only using methods from `Stripe`, or just the card collection UI are not including unnecessary classes from our SDK.

[2022-09-27 21:30] jameswoo-stripe commented on #5498
Hi @VinuPolly-Bonnet, I tested this using a release version of the example app from this repo using live mode. Were you able to resolve this issue?

[2022-09-28 03:51] brnunes-stripe commented on #4102
Hello,

This issue has been open for a while, and it seems to have attracted people who are having problems with their Google Pay integration, but haven't opened a new issue.

One thing I noticed that might be casing confusion is the "Google Pay" branding. We support the [Google Pay API](https://developers.google.com/pay/api/android/overview), which lets you pay with credit or debit cards, or link

[2022-09-28 03:51] #4102 closed

[2022-09-28 09:59] jemaystermind commented on #5059
@skyler-stripe I am facing the same issue on version `15.1.0`. Unfortunately, I cannot upgrade to at least version `20.5.0` which includes your fix in PR #5079.

Is it possible to backport your fix to older versions? If not, do you have any recommendation on how to resolve this?

[2022-09-28 10:05] vpmalley opened #5629 "[BUG] Crash when cannot instantiate FinancialConnectionsSheetState"
## Summary
The app seldom crashes, according to Crashlytics reports.

## Code to reproduce
The app uses a `com.stripe.android.view.CardInputWidget` as well as a `com.stripe.android.stripecardscan.cardscan.CardScanSheet`. It uses these components to create a payment method.

## Android version
It happened on a few devices with version 9 or 12. Reports are from Crashlytics

## Impacted devices
Repor

[2022-09-28 10:48] gokulrajkc opened #5630 "Add Promotional feature is available only in WebView and not in SDK"
## Is your feature request related to a problem? Please describe.
I implemented the payment gateway in WebView i am able to see the Add Code in the WebView but when i try the same by initiating the API through SDK. I am not able to see the option. Is there any configuration , i need to configure?

## Describe the solution you'd like
I need to show the add code option when initiating the payment in

[2022-09-28 12:52] tillh-stripe commented on #5539
Perfect, thanks for confirming 🙏 I’ll have the fix included in our next release.

[2022-09-28 17:12] #5539 closed

[2022-09-28 20:04] bibbin-blockfi opened #5635 "[Feature] Add separate CardInputListener interface callback methods for isCardNumberIncomplete & isCardNumberValid"
## Is your feature request related to a problem? Please describe.
On Android SDK version `20.0.0`, I'm trying to get card validation callbacks for when `CardInputWidget` has the following scenarios :

1. has an input complete or incomplete (based on card max length required) - what would be the best recommendation to validate whether the user has completed till the expected card length?
![Screensh

[2022-09-29 13:07] Mukhtar-Ali-Khan commented on #3173
Thank you, I was facing this issue. and this worked for me

[2022-09-29 23:13] VinuPolly-Bonnet commented on #5498
Hi @jameswoo-stripe, not yet, I have just updated the Gradle and the Kotlin version to 1.7.10, will be posting a result soon.
Thanks

[2022-09-30 09:39] muccy-timeware commented on #4210
Hi,
we have the same error on a couple of physical devices.

* Using `implementation 'com.stripe:stripe-android:19.2.0'`
* If I inspect the resulting APK I find `play-services-wallet_client=19.1.0`
![image](https://user-images.githubusercontent.com/74927063/193241332-a265dd43-bb25-4cf2-bffa-098225acdd79.png)

The issue is happening on these devices:
* RealMe RMX 3363 with Android 12
* RealMe RMX 2

[2022-09-30 22:12] 4bambi opened #5650 "[BUG]"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

kotlin:
stripe-android:
Android Gradle Plugin:
Gradle:

## SDK classes

## Video

## Other information

[2022-09-30 22:13] 4bambi opened #5651 "[Feature]"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Addi

[2022-10-02 10:14] juaram2 opened #5655 "[BUG] The payment failed with the message "Invalid Payment Intent client secret""
## Summary
Hi Team,
The secret key was successfully created, but the payment failed with the message "invalid payment intent client secret".

Thanks in advance.

## Code to reproduce
### Composable
[code]

### ViewModel
[code]

## Android version
9, 12

## Installation method

Through a gradle.

## Dependency Versions

kotlin: 1.6.10
stripe-android: 20.14.0
Android Gradle Plugin: 7.1.1
Gradle: 7.2

[2022-10-03 19:10] tillh-stripe commented on #5651
Hi! Closing this empty issue. Feel free to open another one if you have any feature requests.

[2022-10-03 19:10] #5651 closed

[2022-10-03 19:10] tillh-stripe commented on #5650
Hi! Closing this empty issue. Feel free to open another one if you’re experiencing any issues.

[2022-10-03 19:10] #5650 closed

[2022-10-04 16:04] tillh-stripe commented on #5616
Hi @yipeiguan 👋 Happy to help figure out what the issue is!

A few questions for you:
1. You’re writing that the “AddPaymentActivity” is being opened. Just to make sure I fully understand, do you mean `AddPaymentMethodActivity`? Calling `presentPaymentMethodSelection()` should actually open `PaymentMethodsActivity` — can you confirm that this is what’s happening?
2. Is there any Bundle-related stu

[2022-10-04 16:17] tillh-stripe commented on #5655
Hi @juaram2 👋 Based on the provided code, nothing stands out to me as odd. Can you provide a [minimal sample](http://sscce.org/) that allows us to reproduce this issue?

[2022-10-04 16:33] yipeiguan commented on #5616
1. This activity shows up for a split second, and then the app crashes.  I believe this should be PaymentMethodsActivity?
<img width="537" alt="Screen Shot 2022-10-04 at 9 31 16 AM" src="https://user-images.githubusercontent.com/92393241/193874692-8631ef35-3d30-4054-8d3a-6ded07b0a2ca.png">

2.

We have one place where this happens:
[code]

It saves an array of integers to the saveInstanceState.

[2022-10-04 16:37] carlosmuvi-stripe commented on #5629
Thanks for reporting this @vpmalley!

Besides `stripe-android: 20.11.0` and `stripecardscan: 20.11.0`, is your app also depending on [financial-connections](https://stripe.com/docs/financial-connections/other-data-powered-products?platform=android#setup-client-side)?

This codes lives in the Financial Connections SDK, and the stacktrace seems to indicate `FinancialConnectionsSheetActivity` is bein

[2022-10-04 17:03] tillh-stripe commented on #5616
Does anything change if you comment out your `saveInstanceState` code?

[2022-10-04 18:50] tillh-stripe commented on #5630
Hi @gokulrajkc 👋 Can you provide a bit more information about what you’re trying to achieve? Is this related to discounts?

[2022-10-04 18:55] gokulrajkc commented on #5630
Yes , I need to implement discount .

When trying with payment link , when loading in webview we are able to see
“add code” option .

When implemented in native using payment sheet , the discount “add code” is
not available .

Is there any additional config should we provide in payment sheet
configuration. Let me know

On Wed, 5 Oct 2022 at 12:21 AM, Till Hellmund ***@***.***>
wrote:

[2022-10-04 19:40] tillh-stripe commented on #5630
The Payment Sheet doesn’t support discount codes at the moment. It’s a feature that we want to support in the future, but we don’t have a concrete timeline yet.

[2022-10-04 19:45] gokulrajkc commented on #5630
Thanks for the info .

On Wed, 5 Oct 2022 at 1:10 AM, Till Hellmund ***@***.***>
wrote:

[2022-10-04 20:02] tillh-stripe commented on #5635
Hi @bibbin-blockfi 👋

If I understand you correctly, you want to be able to get a callback when the card number is generally valid, even if it isn’t the correct length yet? Please correct me if I’m wrong. Can you tell us a little bit about the use case you’re trying to solve with this?

[2022-10-04 22:17] tillh-stripe commented on #5508
Hi @Lonexera 👋 Sorry that it took us so long to get back to you.

I was able to reproduce the issue on an Android 11 emulator. I’m working on the pull request that fixes it [here](https://github.com/stripe/stripe-android/pull/5667), and should have it merged for the next release or the one after.

[2022-10-04 22:27] dingwilson commented on #5486
Hello @awush-stripe - any updates here?

[2022-10-06 07:16] juaram2 commented on #5655
Hi @tillh-stripe
Please try this [sample](https://github.com/juaram2/StripeSample). Thanks in advanced.

### Additional Info
I think backend is fine. Because it works very well in React project. 🥲

[2022-10-06 09:03] bibbin-blockfi commented on #5635
@tillh-stripe The use-case which I'm particularly trying to track down is how to differentiate between or how to have different callbacks :

when a card number input is incomplete (does not meet required length - eg : when card number entered is 8 digits and I try to advance to card expiry field input)
AND
when a card number is invalid (meets required length based on Brand type for example, but do

[2022-10-06 13:17] #5655 closed

[2022-10-06 15:37] Angelia-Gong opened #5678 "Stop CardFormView from automatically change to dark view mode"
My app currently does not support dark mode, so the background always stays as white.  I have integrated CardFormView to my app and noticed that when the phone setting is set to dark mode, the border lines and text colors become white, which means invisible in my app.

I tried setting `isForceDarkAllowed = false` but it doesn't work.

I can't seem to find a way to stop the component from switching

[2022-10-06 17:42] awush-stripe commented on #5486
Hi @dingwilson , my current read of this bug is that the `present` method is being called while the fragment is still being created. Because the card scanner SDK needs to understand the dimensions of the screen to calculate image crops from the camera, it is breaking when the enclosing fragment is not fully laid out.

Would it be possible to delay calling `present` until after the fragment layout

[2022-10-06 20:31] awush-stripe commented on #5486
@ccen-stripe FYI

Thanks for the update @coreywjohnson . Seems like there's more going on here than I originally thought. Would you be able to provide a reproducible demo? I'll try to reproduce this problem myself in the mean time.

[2022-10-06 21:15] coreywjohnson commented on #5486
@awush-stripe Appreciate you looking into it! unfortunately I'm not able to share our code or debug builds, but I have captured this video of the crash happening (taken from another phone since we block screenshots/recording of our payments flows). If there is anything else that might help please let me know.
We've disabled the feature for the moment in our production app, but if it helps I can wh

[2022-10-07 15:37] awush-stripe commented on #5486
that's quite helpful. thank you!

[2022-10-07 15:55] tillh-stripe commented on #5678
Hi @Angelia-Gong 👋 Happy to help here!

Are you using `CardFormView` in an `AppCompatActivity`? If that’s the case, you can call the following in your `Application.onCreate()` to use light mode throughout your app even if dark mode is turned on:

[code]

Let me know if that works for you 🙂

[2022-10-07 16:14] #5678 closed, assigned to nobody

[2022-10-07 16:16] Angelia-Gong opened #5685 "Setting default country for CardFormView"
## Describe the solution you'd like
Ability to override the default country instead of seeing United States all the time.

Basically [this](https://github.com/stripe/stripe-react-native/issues/695) on native android

[2022-10-09 13:33] MoustafaElsaghier commented on #5629
I'm facing the same issue, can you please help me?

       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3635)
       at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:3792)
       at android.app.servertransaction.LaunchActivityItem.execute(LaunchActivityItem.java:103)
       at android.app.servertransaction.TransactionExecutor.executeCallbacks(Transa

[2022-10-09 14:59] vpmalley commented on #5629
@carlosmuvi-stripe Sorry I realised I haven't replied to you. Thank you for taking a look.

No, it's not and that's indeed why that's a weird bug to me, I don't see why this dependency is also pulled.

[2022-10-09 18:53] carlosmuvi-stripe commented on #5629
Thanks @vpmalley and @MoustafaElsaghier for the info and logs.

Opened a PR preventing `FinancialConnectionsActivity` from crashing if no arguments are passed. https://github.com/stripe/stripe-android/pull/5688.

We'll update the issue when the new version fixing the issue gets deployed.

[2022-10-10 08:15] MoustafaElsaghier commented on #5629
can't be there any hot fix as I'm getting a lot of crashes in my firebase?

[2022-10-10 15:11] carlosmuvi-stripe commented on #5629
HI @MoustafaElsaghier! We'll be releasing a new version today. We'll update here once the version is deployed. Thanks again!

[2022-10-10 17:24] MoustafaElsaghier commented on #5629
Okay thank you, waiting for it

On Mon, Oct 10, 2022, 5:11 PM Carlos M ***@***.***> wrote:

[2022-10-10 19:46] carlosmuvi-stripe commented on #5629
PR has been merged on our stable branch, but deployment might get delayed until tomorrow.

In the meantime, you can depend on our SDKs via this [Jitpack snapshot](https://jitpack.io/#stripe/stripe-android/e5ea04d962) that points to the latest master state including the fix.

Thank you!

[2022-10-11 09:12] MoustafaElsaghier commented on #5629
Awesome, thanks for the update.

On Mon, Oct 10, 2022, 9:46 PM Carlos M ***@***.***> wrote:

[2022-10-11 11:07] Tatev98 opened #5690 "[Feature]Add isBlank() Validation for ShippingInfoWidget fields."
## Is your feature request related to a problem? Please describe.
There is a case regarding Shipping address page in our app, when a user is entering  only spaces in the fields , it counts as an already filled (not empty) field. So as a result we have blank name and no actual text in it.
I used ShippingInfoWidget for adding Shipping information and user can add only spaces for ShippingInfoWidget f

[2022-10-11 22:07] carlosmuvi-stripe commented on #5629
Version [20.15.0](https://github.com/stripe/stripe-android/releases/tag/v20.15.0) Has been released with the fix!

Closing the issue, let us know if you encounter any other problem.

[2022-10-11 22:07] #5629 closed

[2022-10-11 22:40] MoustafaElsaghier commented on #5629
Awesome, thanks for the update!

Moustafa EL-Saghier
Android Developer

*+2 01113970586  <+2+01113970586> |  +2 01017509660
<+2+01017509660> |  ***@***.***
***@***.***>*

*Gesr EL-Suez, Cairo*

[image: App Social Buttons Image]
<https://www.linkedin.com/in/moustafaelsaghier/>

On Wed, 12 Oct 2022 at 00:07, Carlos M ***@***.***> wrote:

[2022-10-12 09:40] KavinPrabhuChinnasamy commented on #2186
@aliriaz-stripe As @shruti-ahuja mentioned, the payment method is null and useGooglePay is false. For the same scenario, card payment is returned without any issues!

Stripe version: "19.1.1"

[2022-10-12 12:50] mehdisatei opened #5697 "[BUG] PaymentSheet does not call back PaymentSheetResult.Failed in case card information is wrong"
## Summary
`PaymentSheet` does not call back `PaymentSheetResult.Failed` in case card information is wrong

## Code to reproduce
1. Initialize the PaymentSheet
[code]
2. Let the fragment extend `PaymentSheetResultCallback`
3. Present the sheet
`stripePaymentSheet?.presentWithPaymentIntent(paymentIntentClientSecret = reference)`
4. Start a transaction and enter the correct card number and correct e

[2022-10-12 12:53] KavinPrabhuChinnasamy opened #5698 "Payment session is not saved across activities if the selected payment is Google Pay"
## Summary
I have payment session initiated in multiple activities. On selecting Google Pay as a default payment in one activity and try to initialise the payment session in second activity, the PaymentMethod is null and useGooglePay is false in PaymentData

Similar issue was raised https://github.com/stripe/stripe-android/issues/2186 and fix PR (https://github.com/stripe/stripe-android/pull/2179)

[2022-10-12 19:41] brnunes-stripe commented on #5586
The PR linked above exposes the Google Pay shipping address settings, however we still have no way of returning the values collected to the caller. That will require changing the public interface of GooglePayLauncher, so it needs more careful design consideration and discussion. I'm working on proposing an API change, and will post updates to this issue as we move forward with it.

[2022-10-12 22:11] brnunes-stripe commented on #5685
Hey @Angelia-Gong,
The country selected by default on `CardFormView` is not always US, it is based on the device's Locale.
Is that not the behavior you're seeing? I just tested on the latest version and it behaves as expected.
Change the locale on the device's settings (System > Languages & input > Languages), and the country selected by default will match it.
We don't have plans to support settin

[2022-10-12 22:33] brnunes-stripe commented on #5690
Hey @Tatev98, thanks for the feedback!
Fixed to treat blank fields as invalid too in #5701.
The change will be available in our next release, likely next week.

[2022-10-13 12:14] Tatev98 commented on #5690
Thanks much will wait for the release

[2022-10-13 19:08] Angelia-Gong commented on #5685
Setting it based on device Locale is also not the most ideal for my use case. Thanks for adding the request to the backlog.

[2022-10-14 20:35] brnunes-stripe commented on #5685
Can you explain more about your use case? Why isn't device locale ideal?
Trying to understand if this is a common issue or specific to your application.

[2022-10-14 23:50] Wrathchyld opened #5710 "Ok"
https://github.com/OpenZeppelin/openzeppelin-contracts/blob/v3.4.1-solc-0.7-2/contracts/proxy/TransparentUpgradeableProxy.sol

[2022-10-16 09:48] MoustafaElsaghier opened #5711 "[BUG] Getting ANR on Android 11"
## Summary
Started to get firebase ANRs while using payments with stipe and it's not form my side.
main (runnable): tid=1 systid=10243
       at com.stripe.android.PaymentConfiguration.<clinit>(PaymentConfiguration.kt)
       at com.chefaa.customers.ChefaaApplication.setupStripe(ChefaaApplication.kt:163)
       at com.chefaa.customers.ChefaaApplication.onCreate(ChefaaApplication.kt:94)
       at a

[2022-10-17 15:14] hibob224 opened #5714 "[BUG] Can't enter UK postcode on payment sheet, only one character allowed"
## Summary
Postcode entry field on Payment Sheet only allows one character when entering a UK postcode

## Code to reproduce

[Repo](https://github.com/hibob224/Stripe-postcode-bug)

## Android version

Android 13

## Impacted devices

Observed on a Pixel 6 Pro

## Installation method

gradle dependency

## Dependency Versions

kotlin: 1.7.20
stripe-android: 20.15.0 (can replicate since 20.14.0)
A

[2022-10-17 15:24] tillh-stripe commented on #5710
Closing this issue. Please add more context on what your issue or feature request is.

[2022-10-17 15:24] #5710 closed

[2022-10-17 15:25] tillh-stripe commented on #5711
Hi @MoustafaElsaghier 👋 Can you provide a small sample application for us to reproduce the issue?

[2022-10-17 16:23] Angelia-Gong commented on #5685
Our customer represents individual shops and they have the option to choose which country their shop is located at during sign-up.  It is possible that their locale is different from the card locale they use for purchasing, especially for our EU customers.  It is also possible that multiple show owners or staffs use the same account.  Before integrating with the Stripe component, we wrote our own

[2022-10-17 16:48] MoustafaElsaghier commented on #5711
Unfortunately, i don't have the specific scenario for reproduce the issue.
As i mentioned earlier it's delivered to the crashlytics in firebase

On Mon, Oct 17, 2022, 5:25 PM Till Hellmund ***@***.***>
wrote:

[2022-10-17 16:55] tillh-stripe commented on #5711
Can you share a code snippet of what’s happening in your `Application` class?

[2022-10-17 17:57] #5714 closed

[2022-10-17 17:58] tillh-stripe commented on #5714
Fix is merged and should go out with a patch release later today.

[2022-10-17 21:04] #5508 closed

[2022-10-18 19:47] brnunes-stripe commented on #5697
Hi @mehdisatei,
That's the expected behavior. If the customer enters an invalid payment method, we'll show the error message in the `PaymentSheet` UI, and let them try again with a new payment method. You'll only receive a callback with `PaymentSheetResult.Failed` if the payment failed in some other part of flow and we couldn't recover from the failure.
You'll receive the success/error/canceled ca

[2022-10-18 20:49] dingwilson commented on #5486
Hey @awush-stripe ! Do you have any updates here or possible timeline to fix?

[2022-10-19 07:24] Tatev98 opened #5725 "[BUG] Placeholder "Country" is staying visible under the actually selected country in ShippingInfoWidget"
## Summary
On the ShippingInfoWidget screen, the placeholder "Country" is staying visible under the actually selected country. For example in the screenshot attached you can check that the "Country" placeholder is visible under the "United States".

![Screenshot_20221019_112333](https://user-images.githubusercontent.com/52719177/196623948-a500e5f2-b9c9-4ecb-8333-c87ab0b07ff3.png)

[2022-10-19 14:46] MoustafaElsaghier commented on #5711
call this function in onCreate of Application class
    private fun setupStripe() {
        if (BuildConfig.FLAVOR == "staging") {
            PaymentConfiguration.init(applicationContext,
getStripeTestKey())
        } else {
            PaymentConfiguration.init(applicationContext,
getStripeLiveKey())
        }
    }

Moustafa EL-Saghier
Android Developer

*+2 01113970586  <+2+01113970586> |  +2

[2022-10-19 15:28] tillh-stripe commented on #5725
Hi @Tatev98 👋 I’ll take a closer look at this. Thanks for reporting it!

[2022-10-20 03:44] erjanakmahato commented on #4613
payment sheet not working and counter this error. please look this one ASAP

E/MethodChannel#flutter.stripe/payments(13789): 	at com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run(RuntimeInit.java:631)
E/MethodChannel#flutter.stripe/payments(13789): 	at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:978)
I/flutter (13789): Unforeseen error: PlatformException(error, Unable to find

[2022-10-20 21:39] awush-stripe commented on #5486
Hey @dingwilson apologies for the delay. I've included a fix PR which should solve the issue here.

[2022-10-20 21:45] dingwilson commented on #5486
That is great news! Thank you so much @awush-stripe! How often do you ship new releases of the SDK / when can we expect this change to be available for us to consume?

[2022-10-20 21:46] MoustafaElsaghier commented on #5711
Thank you I'll do it for now

On Thu, Oct 20, 2022, 6:16 PM Till Hellmund ***@***.***>
wrote:

[2022-10-24 15:09] RuslanKharkevych opened #5737 "[BUG] Crash when trying to present payment sheet with setup intent"
## Summary
Getting crash when trying to present payment sheet with setup intent in Jetpack Compose project.

[code]

## Code to reproduce
[code]

## Android version
Android 12 (reproducible on other versions too)

## Impacted devices
Samsung M32 (reproducible on other devices / emulators too)

## Installation method
Installed Stripe SDK through a Gradle dependency

## Dependency Versions
kotlin: 1

[2022-10-24 16:23] tillh-stripe commented on #5725
Hi @Tatev98! Can you share the definition of the theme used in this activity? I have an idea of how to fix it, but I want to make sure it works for your situation.

[2022-10-24 22:08] awush-stripe commented on #5486
hey @dingwilson , we're anticipating a release tomorrow.

[2022-10-25 06:59] brnunes-stripe commented on #5690
This is fixed in [v20.15.1](https://github.com/stripe/stripe-android/releases/tag/v20.15.1)+.

[2022-10-25 06:59] #5690 closed

[2022-10-25 15:50] Tatev98 commented on #5725
Hi @tillh-stripe
I used ShippingInfoWidget in one of my Fragments for adding the User’s shipping address. The main container of Fragment is ConstraintLayout, and ShippingInfoWidget is in NestedScrollView. I added a theme for ShippingInfoWidget like this
<style name="ShippingStyle" >
    <item name="android:editTextColor">@color/black</item>
    <item name="android:backgroundTint">@color/white</ite

[2022-10-25 17:23] tillh-stripe commented on #5725
That’s helpful, thanks @Tatev98. Can you also share what your app theme ([this thing](https://github.com/stripe/stripe-android/blob/60f266a7cbcffa3e70015202c6a1fbea54b796c0/paymentsheet-example/src/main/res/values/themes.xml#L3)) looks like?

[2022-10-25 18:15] #5737 closed

[2022-10-25 18:52] brnunes-stripe commented on #5737
Hi @RuslanKharkevych,
Thanks for filing the issue, I was able to reproduce and submitted a fix. We're releasing a new version today that will include it.

[2022-10-25 18:53] brnunes-stripe commented on #5698
Hey @KavinPrabhuChinnasamy,
Thanks for filing the issue! We're releasing a new version today that will include the fix.

[2022-10-25 19:09] #5698 closed

[2022-10-25 20:21] trifagabriel commented on #3715
@brnunes-stripe  - Hi Bruno,
Thanks for your explanation. I'm facing an interesting issue and i hope you might help or point me in the right direction.
Im currently using the latest Android Stripe api (20.15.1) and im having issues while trying to show the previously saved cards.

The flow is:
1) i get the customer id, ephemeral key and client secret from server
2) i initalize the PaymentSheet.Con

[2022-10-26 03:20] brnunes-stripe commented on #5697
I'll close this as working as intended, please let us know if that's not the case.

[2022-10-26 03:20] #5697 closed

[2022-10-26 03:23] brnunes-stripe commented on #4229
Customizing the PaymentSheet appearance has been live for some time now. You can learn more on the docs and give it a try: https://stripe.com/docs/elements/appearance-api?platform=android

[2022-10-26 03:23] #4229 closed

[2022-10-26 09:36] Tatev98 commented on #5725
Here is my app theme @tillh-stripe
 <style name="Theme.App" parent="Theme.MaterialComponents.Light.NoActionBar">

        <item name="colorPrimary">@color/dark_blue</item>
        <item name="colorPrimaryVariant">@color/dark_blue</item>
        <item name="colorOnPrimary">@color/white</item>

        <item name="colorSecondary">@color/dark_blue</item>
        <item name="colorSecondaryVariant">@co

[2022-10-26 15:37] awush-stripe commented on #5486
This was released with version 20.15.2

[2022-10-26 15:39] coreywjohnson commented on #5486
Awesome, thank you!

[2022-10-26 15:43] Angelia-Gong opened #5745 "[BUG] Unable to scan card into CardFormView"
## Summary
I have a screen with the Stripe CardFormView. Manual typing works.  Auto complete (from Google payment method in my account) works.  But when I tap on the scan button above my android keyboard and try to scan the card, it errors and exits out the screen.

I get the following errors:
[code]

I'm actually not sure if this is a problem with the stripe component, or if it's Google.  Could I

[2022-10-26 21:41] #5486 closed

[2022-10-27 20:16] Angelia-Gong opened #5753 "[BUG] [CardFormView] Country and Zip code hints jumping between left-aligned and centre aligned"
## Summary
Country and Zip code hints jumping between left-aligned and centre aligned

## Android version
tested on 9, 12

## Impacted devices
tested on Pixel 6, Samsung Galaxy Note 9

## Installation method
gradle dependency

## Dependency Versions
'com.stripe:stripe-android:20.5.0',

kotlin:
stripe-android:
Android Gradle Plugin:
Gradle:

## SDK classes
CardFormView

## Video

https://user-image

[2022-10-29 11:18] jameswoo-stripe commented on #5753
Hi @Angelia-Gong thank you for raising this issue. I will take a look into this.

[2022-10-29 11:19] jameswoo-stripe commented on #5745
Hi @Angelia-Gong thank you for raising this issue, I will take a look into this.

[2022-10-29 11:23] jameswoo-stripe commented on #5753
@Angelia-Gong I was not able to reproduce the issue you are seeing. Can you provide some code snippets I can use?

[2022-10-30 16:19] kefahB opened #5756 "[BUG] createPaymentSession get called 3 times"
Hi,

I use Nativescript stripe plugin, before implementing `shouldPrefetchEphemeralKey` createPaymentSession get called 4 times  and after implemented the `shouldPrefetchEphemeralKey` they get called 3 times !

?

[2022-10-31 08:35] DonnyDevIT opened #5757 "[BUG] Error in buiding, Could not resolve com.stripe:stripe-android:20.9.+"
## Summary
i was building my android app, and his error stops my buid.
I am using  `flutter_stripe: ^5.0.0`
[code]

## Code to reproduce
None

## Android version
Buiding on android 10, but no updated done, same things as 2 days ago.i changed nothing

## Impacted devices
All the devices

## Installation method
Using pubspec

## Dependency Versions
5.0.0

For kotlin:
 ./gradlew :dependencies | grep

[2022-10-31 08:41] DonnyDevIT commented on #5757
https://downforeveryoneorjustme.com/jcenter.bintray.com

Seems like repository site is down 😢

[2022-10-31 10:04] xzhorikx commented on #5757
Same goes for version `com.stripe:stripe-android:14.4.1`

[code]

[2022-10-31 10:09] DonnyDevIT commented on #5757
Repository web is down rn
https://downforeveryoneorjustme.com/jcenter.bintray.com

[2022-10-31 11:38] phucnguyen1901 commented on #5757
It's solved by https://stackoverflow.com/questions/74258160/is-jcenter-down/74261483#74261483.
In build.gradle , add the following:
    allprojects {
      repositories {
          all { ArtifactRepository repo ->
              println repo.url.toString()
              if (repo.url.toString().startsWith("https://jcenter.bintray.com/")) {
                  project.logger.warn "Repository ${repo.url

[2022-10-31 12:16] Sapnajain01 commented on #5757
Thanks, @phucnguyen1901 that issue was resolved but i got new error
<img width="1680" alt="Screen Shot 2022-10-31 at 5 37 52 PM" src="https://user-images.githubusercontent.com/43822881/199005413-4c4c226a-73ef-4f61-b14f-4a6e01eded8b.png">

[2022-10-31 15:31] Angelia-Gong commented on #5753
I think what's resulting in the behaviour of the video is `            android:windowSoftInputMode="adjustResize" `.  I have
[code]
When I remove the windowSoftInputMode line, it doesn't center-align when I click on different text fields anymore.

[2022-10-31 16:06] Angelia-Gong commented on #5753
Is there any logic in the component that will make some of the texts center-aligned? I'm also noticing that when I make my bottom button showing the loading circle, it makes the texts in the card form center-aligned.

[2022-10-31 16:14] Angelia-Gong commented on #5745
Thanks for looking into this. I've figured out what the problem is. The problem is on my own code - I set the activity noHistory = true, which should be false.

[2022-10-31 16:14] #5745 closed

[2022-10-31 21:33] juanCoutoWalla opened #5761 "[BUG] Error when using stripe as payment gateway with Google Pay API"
## Summary
I'm integrating Google Pay API as the doc suggest in [https://developers.google.com/pay/api/android/guides/tutorial](https://developers.google.com/pay/api/android/guides/tutorial)
If I add the example payment gateway it works as expected, but if I add stripe as payment gateway its giving an error when trying to process the payment.
A dialog is  displayed saying : "An unexpected error ah

[2022-11-01 01:33] brnunes-stripe commented on #5757
Hello, thanks for reporting the issue!
[From reading up online](https://stackoverflow.com/questions/74258160/is-jcenter-down-permanently-31-oct), my understanding is that JCenter has been sunset for some time but was still functioning, and now it has been shut down.
If you use [`mavenCentral()`](https://docs.gradle.org/current/userguide/declaring_repositories.html#sub:maven_central) in your `build

[2022-11-01 01:49] brnunes-stripe commented on #5757
I'll keep this open in case someone has issues with the `stripe-android` dependency specifically, but I couldn't reproduce the error in the [comment above](https://github.com/stripe/stripe-android/issues/5757#issuecomment-1296861630). That library is also available on Maven Central, and was fetched normally in my tests: https://mvnrepository.com/artifact/net.minidev/json-smart

[2022-11-01 07:01] bridgingamit18 commented on #5761
A dialog is displayed saying: "An unexpected error has occurred. Please try again later. [OR_BIBED_07]

**Dependency Versions**
implementation 'com.stripe:stripe-android:20.15.3'
implementation 'com.google.android.gms:play-services-wallet:19.1.0'

**Android version**
I experienced this issue on Android 10, and Android 12.

Kindly Please check ASAP.
Our Customer not doing payments through Google Pl

[2022-11-01 17:55] brnunes-stripe commented on #5761
Hi, thanks for reporting! I'm taking a look and trying to reproduce. Just to confirm, this is happening in prod?

[2022-11-01 23:45] brnunes-stripe commented on #5761
I was able to reproduce the error `[OR_BIBED_07]` when trying to collect a payment in production from an app that wasn't approved by Google to take payments through Google Pay. I see this error log on logcat:
[code]

I also confirmed that Google Pay is working for a release build of an app that has been approved, so this is not an issue with Stripe or the Android SDK.

Have you followed Google's i

[2022-11-01 23:55] brnunes-stripe commented on #5761
@juanCoutoWalla I'm using [these parameters](https://github.com/stripe/stripe-android/blob/d8460ee2f2c554df245cf7a0ca92d76be6195bca/payments-core/src/main/java/com/stripe/android/GooglePayConfig.kt#L25-L33), where `apiVersion` is `"2020-03-02"`.
I tested with `"stripe:version": "2018-10-31"` and it still works normally, I wasn't able to reproduce the error `[OR_BIBED_01]`.
Have you [requested prod

[2022-11-02 01:05] brnunes-stripe commented on #5761
I was able to reproduce the error `[OR_BIBED_01]`:

- Using a signed, release build of my test app that has been approved by Google to process Google Pay payments in production.
- Setting the environment to production on the [Google Pay settings](https://developers.google.com/android/reference/com/google/android/gms/wallet/Wallet.WalletOptions#environment).
- Creating a Payment Intent in test mode

[2022-11-02 04:03] bridgingamit18 commented on #5761
Hello Team,
This is not happening in the Production Environment.
This issue facing in Stripe Test Environment/Sandbox Environment. So I m requesting kindly please fix this issue.

[2022-11-02 09:47] TalverseZaidi opened #5771 "Payment gets failed on back press."
Hi there, I have a payment method of card whenever I do payment it shows a progress bar for processing and while showing progress bar If I presses the back button, it cancels my payment in the middle of processing, but it creates that payment on the backend successfully because confirmPayment is working fine and it is the PaymentResult which shows me the PaymentResult.Failed. I do not know why thi

[2022-11-02 20:56] brnunes-stripe commented on #5761
Hi @bridgingamit18,
As I mentioned above, I've tested the most recent version of the SDK and everything is working correctly.
If you're seeing an error, it's likely due to some misconfiguration. Can you post a code snippet of your integration? What classes is your integration using? A fully working sample where the issue occurs would be great, as it would allow me to test and find out what the iss

[2022-11-02 21:23] brnunes-stripe commented on #5756
Hi @kefahB,
Can you provide a sample code that would allow me to reproduce the issue you're seeing?
We don't support third party libraries, but happy to help you with any issues on the Android SDK.

[2022-11-02 21:24] brnunes-stripe commented on #5757
Closing now as it seems that this is not happening anymore.

[2022-11-02 21:24] #5757 closed

[2022-11-04 11:52] maulik-vegans commented on #486
Hello , Any  updates on having scan card option for android same like in IOS ?

[2022-11-07 05:02] Micnubinub opened #5779 "[BUG] Crash in CardScanFragment"
## Summary

The card scan fragment crashes in com.stripe:stripecardscan:20.15.3 and com.stripe:stripecardscan:20.15.2, com.stripe:stripecardscan:20.15.1 works fine

<img width="393" alt="Screenshot 2022-11-07 at 14 51 12" src="https://user-images.githubusercontent.com/4921356/200229655-187cb81d-4fd4-4fff-8207-a36b2a6a1826.png">
<img width="414" alt="Screenshot 2022-11-07 at 14 53 15" src="https://

[2022-11-07 13:13] maulik-vegans opened #5780 "how to disable pay using link inside paymentsheet"
## Summary
How can I disable this pay using link option from stripe payment sheet?
And because of this option i can not get that checkbox of save card for future payments

![image](https://user-images.githubusercontent.com/83755559/200319867-9ad09d1a-fea6-4a6e-8b76-42d3dad3499d.png)

## Dependency Versions
I am using latest version 20.15.7 and before(link related PR merged) 2.14.1 it is working fi

[2022-11-07 14:38] tillh-stripe commented on #5779
Hi @Micnubinub 👋 Thanks for reaching out.

Can you provide some more information on how you’re invoking the card scan fragment and post the stacktrace of the crash?

[2022-11-07 16:01] tillh-stripe commented on #5771
Hi @TalverseZaidi 👋 Thanks for sending this in. I can understand the confusion.

For some context: When you call `paymentLauncher.confirm()`, we launch a transparent activity to confirm the intent and handle any authentication that might be required. Pressing the back button during intent confirmation closes that activity, and it reports back a failed payment result (even if the payment goes throu

[2022-11-07 16:23] tillh-stripe commented on #5725
Sorry for the delay in getting back to you, @Tatev98.

I was able to confirm that the `ShippingInfoWidget` doesn’t work well with `MaterialComponents` themes. For the activity in which you’re using `ShippingInfoWidget`, are you able to use an `AppCompat` theme as a workaround? You would do that by setting `android:theme` for that activity in the `AndroidManifest.xml`.

Generally speaking, we’re no

[2022-11-07 22:26] myfknoll commented on #5757
Its happening again.. would be nice to  get rid of jcenter soon ;)

[2022-11-07 23:04] Micnubinub commented on #5779
Calling showCardScanFragment() from an activity
Kotlin
`  cardScanSheet = activity?.let {
            CardScanSheet.create(
                from = this,
                stripePublishableKey = getString(R.string.stripe_key),
                { cardScanSheetResult: CardScanSheetResult -> }
            )
        }`

`
    fun showCardScanFragment() {
        cardScanSheet?.attachCardScanFragment(

[2022-11-08 05:37] Tatev98 opened #5786 "Fatal Exception: java.lang.RuntimeException: Unable to destroy activity {com.mtailor.android/com.stripe.android.payments.paymentlauncher.PaymentLauncherConfirmationActivity}: java.lang.IllegalArgumentException: Required value was null."
I have not been able to reproduce this crash but here is the log from firebase. Please confirm whether there is a problem with the SDK.

Fatal Exception: java.lang.RuntimeException: Unable to destroy activity {com.mtailor.android/com.stripe.android.payments.paymentlauncher.PaymentLauncherConfirmationActivity}: java.lang.IllegalArgumentException: Required value was null.
       at android.app.Activ

[2022-11-08 05:47] Tatev98 opened #5787 "Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.mtailor.android/com.stripe.android.payments.bankaccount.ui.CollectBankAccountActivity}: java.lang.IllegalArgumentException: Required value was null."
I have not been able to reproduce this crash but here is the log from firebase. There were also 2 more crashes, maybe they are connected
https://github.com/stripe/stripe-android/issues/5786
https://github.com/stripe/stripe-android/issues/5316
Please confirm whether there is a problem with the SDK.

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.mtailor.andr

[2022-11-08 07:13] TalverseZaidi commented on #5771
Hi @tillh-stripe 👋 Thanks for your understanding.
It's been a major issue for our release, and it is in pending with this issue. Because, in some way, if user cancels his payment while it is being processed, it will appear to have been cancelled even though the money has already been processed on the backend. Please make sure to find a solution as soon as you can so we can release our product.

[2022-11-08 12:13] Tatev98 commented on #5725
Hello @tillh-stripe
Thanks for the answers & advices.
Regarding the Payment sheet, we are using it for the Cart Data, there isn't anything for address, please correct me If I missed something.
Will try to change the AppCompattheme just quit bit afraid that it will affect other things in app.
Will wait for the new separate sheet designed for shipping address collection soon.

[2022-11-08 14:36] tillh-stripe commented on #5779
Can you also share the console output that’s printed when the crash occurs?

[2022-11-08 14:56] Micnubinub commented on #5779
Oh, sorry, I thought I had pasted it:

`java.lang.IllegalArgumentException: View finder Rect(0, 0 - 1080, 2041) is outside preview image bounds Rect(0, -558 - 1080, 1362)
at com.stripe.android.camera.framework.image.ImageKt.cropCameraPreviewToViewFinder(Image.kt:77)
at com.stripe.android.stripecardscan.payment.ml.SSDOcr$Companion.cameraPreviewToInput(SSDOcr.kt:123)
at com.stripe.android.stripecard

[2022-11-08 20:34] awush-stripe commented on #5779
Hey @Micnubinub , sorry to have another crash show up! This looks very similar to the previous issue https://github.com/stripe/stripe-android/issues/5486 in that the camera is initializing and sending frames before the view is fully populated.

interestingly, 20.15.2 contains a fix specifically for this problem, so I'm surprised to see it popping up again.

How are you triggering the `showCardScan

[2022-11-09 00:16] Micnubinub commented on #5779
Oh, 2.15.1 was working just fine, what was the fix addressing?

cardScanSheet is initialised in onCreate(), then when a button is pressed, the showCardScanFragment() above is called

[2022-11-09 15:16] tillh-stripe commented on #5725
I’ll let you know once the sheet for address collection is available.

[2022-11-09 19:43] awush-stripe commented on #5779
Looking at this a little more closely, it looks like we may actually be calculating the viewfinder incorrectly. The original fix was for https://github.com/stripe/stripe-android/issues/5486, but I'm no longer confident that this is the same bug.

It's definitely still a layout issue. The camera preview rect is showing up as `0, -558, 1080, 1362` which is an offset (strange) 1080x1920 image. The vi

[2022-11-10 16:20] #5771 closed

[2022-11-10 16:21] tillh-stripe commented on #5771
Hi @TalverseZaidi, I merged a fix just now. It’ll be part of the next release (presumably 20.15.5) next week. Feel free to reach out again if other issues come up.

[2022-11-10 16:29] tillh-stripe commented on #5780
Hi @maulik-vegans 👋

If you’re using automatic payment methods, you’d need to turn off Link in your account’s payment method settings at `settings/payment_methods`. If not, you’ll need to remove `'link'` as a payment method type in your integration.

Also, I’d love to hear more about why you prefer the existing checkbox over Link. Like the checkbox, Link gives you a saved payment method experience

[2022-11-10 16:29] TalverseZaidi commented on #5771
Thank you so much for understanding the problem and to find a better solution in no time. Really appreciated 👍

[2022-11-11 02:48] 22106331 opened #5808 "sofort payment [BUG]"
## Summary
sofort payment clicks the AUTHORIZE TEST PAYMENT button in the test environment, and the obtained status is Processing.

## Code to reproduce

## Android version
 android 12
v20.15.4

## Impacted devices
no

## Installation method
gradle

## Dependency Versions

kotlin:
stripe-android:
Android Gradle Plugin:
Gradle:

## SDK classes

## Video

![Screenshot_20221111_104404](https://user-i

[2022-11-11 15:53] tillh-stripe commented on #5808
Hi @22106331 👋 Does the status eventually move to `succeeded`? If yes, that should be the expected behavior for Sofort, which is a delayed payment method.

[2022-11-11 19:44] tillh-stripe commented on #5616
Hi @yipeiguan, were you able to resolve your issue?

[2022-11-11 21:59] tillh-stripe commented on #5786
Hi @Tatev98, thanks for reporting this. We’ll have a look and let you know what we find.

[2022-11-11 21:59] tillh-stripe commented on #5787
Hi @Tatev98, thanks for reporting this. We’ll have a look and let you know what we find.

[2022-11-12 04:53] 22106331 commented on #5808
no, No, in the test environment the status is always processing.

[2022-11-14 18:36] alexgerardojacinto commented on #2101
@mshafrir-stripe I was looking at your example and I'm wondering where I should get the `token id` from. Is it somewhere inside the `paymentMethodData` JSON object that Google Pay returns after accepting the payment in the Google Pay payment sheet?

[2022-11-14 19:59] jameswoo-stripe commented on #2101
@alexgerardojacinto If you are using `GooglePayLauncher` or `GooglePaymentMethodLauncher`, there isn't an immediate way to get the `tokenId` from Google Pay. Is there a reason why you need it?

[2022-11-14 23:08] samhorne commented on #4226
Hi @michelleb-stripe @michelleb-stripe can we get an update on where this is in the backlog?

[2022-11-15 03:23] yixi195 opened #5827 "[BUG] AAPT error"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## Dependency Versions

kotlin: 1.4.10
stripe-android: 20.15.4
Android Gradle Plugin: 4.0.1
Gradle: 6.5

## SDK classes

## Video

## Other information

/Users/supermac/.gradle/caches/transforms-2/files-2.1/ab30a712c3b5340b17f46406bf0504b7/jetified-payments-core-20.15.4/res/layout/address_widget.xml:

[2022-11-15 09:11] alexgerardojacinto commented on #2101
@jameswoo-stripe thanks for your answer! I'm not using `GooglePayLauncher` or `GooglePaymentMethodLauncher`. I have implemented the Google Pay integration in my app and now wish to use the payment data I get from Google Pay to be processed by Stripe using the Stripe Android SDK. I'm just not sure what to I should pass in the `tokenId` parameter.

[2022-11-15 12:08] pauloaapereira opened #5830 "[BUG] FinancialConnectionsSheetActivity - IllegalStateException: Failed to create initial state!"
## Summary
This crash has appeared on Firebase Crashlytics and seems to be completely related to the SDK, having no reference to the code where we're using Stripe.

## Code to reproduce
[code]

[code]
## Android version
12L, SDK 32

## Impacted devices
20 crashes, 20 users, 50% Android 9, 35% Android 12, 15% Android 11

## Installation method
Gradle Dependency

## Dependency Versions

kotlin: 1.7.

[2022-11-15 12:27] jameswoo-stripe commented on #5830
@pauloaapereira Thanks for raising this issue.

@carlosmuvi-stripe do you mind taking a look at this?

[2022-11-15 12:29] jameswoo-stripe commented on #5827
@yixi195 can you please provide a little more information? How are you seeing this issue? Any code samples?

[2022-11-15 12:33] jameswoo-stripe commented on #5753
@Angelia-Gong Happy that you found a workaround. I will close this issue, please reopen a ticket if you see this issue again.

[2022-11-15 12:33] #5753 closed

[2022-11-15 12:36] #5616 closed

[2022-11-15 12:37] jameswoo-stripe commented on #5498
@VinuPolly-Bonnet any updates on your side?

[2022-11-15 12:39] jameswoo-stripe commented on #5331
Hi @jt-gilkeson have you found a potential workaround that suits your use case?

[2022-11-15 12:40] VinuPolly-Bonnet commented on #5498
@jameswoo-stripe I am afraid I am getting the same issue, tested it a while back, will be running another series of compatibility tests soon, would update you here.

Thanks

[2022-11-15 12:45] jameswoo-stripe commented on #5230
Hi @stubshqappdeveloper, I am glad you found a workaround for your app. PaymentSheet is currently portrait mode only, we cannot promise anything, but we are planning to make PaymentSheet compatible for landscape mode as well.

I will close this issue for now, please reopen if you have additional issues.

[2022-11-15 12:45] #5230 closed

[2022-11-15 12:48] jameswoo-stripe commented on #5154
Hi @romainpiel just wanted to give you an update on this issue. We still aren't sure when we will be able to add this feature, but it is on the roadmap!

[2022-11-15 12:51] jameswoo-stripe commented on #5127
Hi @josemifever, is it possible to share the payment intent object related to this issue? We are seeing other issues like this.

[2022-11-15 13:11] josemifever commented on #5127
@jameswoo-stripe Sure, this was obtained from our sandbox env pi_3M4OtyLQ9tHHlgNY1sHSFaso.

[2022-11-15 13:25] jameswoo-stripe commented on #5127
@josemifever thank you! It appears that each payment flow is going through the web fallback and not through the mobile SDK. I am working with our authentication team (who know more about this web flow) to get some more insights. It could be happening because the card doesn't require 3DS flow? I will investigate more and let you know what I find. Thanks for your patience!

[2022-11-15 14:53] josemifever commented on #5127
Yes, this card doesn't require it, but we are forcing it through a rule.
Thank you for your help 🙏

[2022-11-15 16:23] GhassenMsd opened #5833 "[BUG] com.stripe.android.core.exception.APIException in Stripe3ds2TransactionActivity"
## Summary
- Hello, we recently received some payment bugs for some users on our production app (since September to be more precise) knowing that nothing has changed on our side. I can't reproduce myself but the bug appears when calling the onPaymentResult after a 3D secure paiement.

## Code to reproduce

[code]

## Error

`com.stripe.android.core.exception.APIException · com.nimbusds.jose.jwk.EC

[2022-11-15 16:30] jameswoo-stripe commented on #5007
Closing as there is no activity.

[2022-11-15 17:13] carlosmuvi-stripe commented on #5830
@pauloaapereira Thanks for reporting. This issue was fixed in [20.15.0](https://github.com/stripe/stripe-android/releases/tag/v20.15.0), I'd suggest updating the SDK version.

[2022-11-15 19:48] awush-stripe commented on #5779
@Micnubinub this should be fixed with the latest change. Releases are every week on Monday, so it should go out then.

[2022-11-15 22:59] CompuGenius commented on #2861
@aliriaz-stripe hi!

I figured out steps 2-4 myself, but I'm a bit stuck on step one. I figured I was suppose to use a `SetupIntent` to add a payment method to the customer before then creating the subscription using the default payment method, but is that correct? it causes a lot of duplicate code as [Creating a SetupIntent](https://stripe.com/docs/payments/save-and-reuse?platform=android&ui=paym

[2022-11-16 01:25] yixi195 commented on #5827
An error was reported during the compilation process, causing the compilation to fail.
What do I think is the conflict

[2022-11-16 03:13] ColtonIdle commented on #4226
I could have sworn that they did release some compose stuff for stripe. in my case, i just built everything by hand.

[2022-11-17 08:12] asjad-developer opened #5841 "[BUG] Stripe add card issue"
<img src="https://user-images.githubusercontent.com/55906294/202392245-21a1e4ad-ca96-4e3b-9444-2e8c546bb430.png" height=600 />

## Summary
Not getting expiry date separator while adding card

## Code to reproduce
while we put card numbers and expiry date, and cvc, after that we erase cvc, expiry date and two or threee digits of card and then again complete the card number and then we put expiry da

[2022-11-17 10:27] jameswoo-stripe commented on #5841
Hi @asjad-developer can you try running our example application? I am not seeing this issue with our latest version.

<img src="https://user-images.githubusercontent.com/99316447/202422280-e60e8d01-201f-4bec-9db6-48a06877ee81.png" height=600/>

[2022-11-17 10:38] asjad-developer commented on #5841
hi @jameswoo-stripe can you tell me stripe's latest version, we are using 20.5.0 version

[2022-11-17 11:20] jameswoo-stripe commented on #5841
@asjad-developer you can always find our releases here: https://github.com/stripe/stripe-android/releases/latest

The latest version at this time is 20.16.0

[2022-11-17 11:20] jameswoo-stripe commented on #5833
Hi @GhassenMsd thanks for raising this issue, we will take a look.

[2022-11-17 11:41] asjad-developer commented on #5841
ok let me try this, thanks a lot

[2022-11-17 23:59] fbarthelery opened #5844 "[BUG] [PaymentSheet] Payment gets failed on back press."
## Summary

Related to #5771, if user presses back button in the middle of processing, the `PaymentSheetActivity` may finish before processing complete and the result intent will not be set. `PaymentSheetContract.parseResult()` will then set a `PaymentSheetResult.Failed` while backend will get a confirmed payment.

stripe-android: 20.16.0

## SDK classes
PaymentSheet, PaymentSheetActivity

[2022-11-18 14:37] tillh-stripe commented on #5725
We released the Address Element earlier this week with version 20.16.0. Since you’re already using Payment Sheet, this should be a good companion for collecting address information and a replacement for `ShippingInfoWidget`.

There’s more information [in our docs](https://stripe.com/docs/elements/address-element/collect-addresses?platform=android). Would love to see if this fits your use case and

[2022-11-18 16:23] jameswoo-stripe commented on #5841
@asjad-developer has upgrading to the latest version fixed your issue?

[2022-11-18 16:49] jameswoo-stripe commented on #5844
@fbarthelery do you mind sharing a video of your error? I think I understand the issue, based on the one you linked. I was able to reproduce a part of your issue, but I only get `PaymentSheetResult.Canceled`. It still isn't ideal, but I would like to see how you are receiving `PaymentSheetResult.Failed`.

I will look into this issue further. Thank you for raising it!

[2022-11-18 17:40] #5844 closed

[2022-11-18 17:43] jameswoo-stripe commented on #5844
Hi @fbarthelery I have merged a PR to potentially fix this issue. Please let me know if you continue to see this problem after upgrading to the latest version. We typically release every monday.

[2022-11-18 18:26] fbarthelery commented on #5844
My bad I meant `PaymentSheetResult.Canceled` not failed.
I think the fix should be good. I'll test it when the release is out.

[2022-11-18 22:31] jaynewstrom-stripe commented on #3860
Hi @calvarez-ov and @apelt

I spent some time working on this today and I wasn't able to recreate it. I'm guessing due to this issue being open for so long (sorry!) it's been fixed.

Could you try this again to see if the issue still exists?

<details>
<summary>Curl equivalent</summary>

[code]
</details>

[2022-11-22 16:25] #2915 closed

[2022-11-22 16:25] #5074 closed

[2022-11-22 16:25] tillh-stripe commented on #2915
Hi @jhonnyx2012 👋 We’ve fixed the issue now. Sorry that it took us so long. Please continue reaching out to us if you experience any other issues.

[2022-11-22 16:25] tillh-stripe commented on #5058
Hi @FlorentDambreville 👋 We’ve fixed the issue now. Sorry that it took us so long. Please continue reaching out to us if you experience any other issues.

[2022-11-22 16:25] tillh-stripe commented on #5074
Hi @maganap 👋 We’ve fixed the issue now. Sorry that it took us so long. Please continue reaching out to us if you experience any other issues.

[2022-11-22 18:36] fbarthelery commented on #5844
@jameswoo-stripe , I tested the fix on 20.16.1, it works great. However I just want to give you an heads up that `Activity.onBackPressed()` is not called when you opt in to [predictive back gesture](https://developer.android.com/guide/navigation/predictive-back-gesture#opt-predictive).

So #5771 should be fixed with predictive back gesture enabled, but this #5848 bug is not fixed with predictive b

[2022-11-22 19:47] jameswoo-stripe commented on #5827
@yixi195 Can you share your build.gradle?

[2022-11-23 09:45] GhassenMsd commented on #5833
Hello @jameswoo-stripe ! Do you have any news about this bug? we are receiving a lot of calls from users blocked on payment process because of this issue, we have almost 100 users affected, I don't know if it can help but we noticed that they are all on Android 7 and 8.
Can you help me understand what is happening please ? Thanks !

[2022-11-25 11:49] meirbnb opened #5875 "Make filling billing address optional when making a payment on Telegram bots [Feature]"
## Is your feature request related to a problem? Please describe.
My clients always struggle with filling billing addresses especially when it comes to filling postal codes as some countries have optional postal codes. It makes the payment process a little bit slower when filling an additional data other than card details.

## Describe the solution you'd like
In the telegram bot api, not requiring

[2022-11-25 14:48] ColtonIdle opened #5876 "[BUG] Using Stripe SDK ALWAYS reports 3 specific crashes in Crashlytics"
## Summary
I've integrated Stripe SDK into my app and every release I have has 3 distinct crashes in crashlytics and it's messing with our crash free users reporting.

## Code to reproduce
I don't have reproducible code, but if needed I can give you all of the Stripe apis I do use since I use a VERY small subset of apis.

## Impacted devices
The crash on crashlytics always happens within a few min

[2022-11-25 14:50] ColtonIdle commented on #5876
Maybe there's just a way to add those activities on a denylist or something so that they can't be randomly called by the system? I'm not sure if they're exported true by default?

[2022-11-25 14:52] ColtonIdle commented on #5876
Or mybe for the sake of crash rates everywhere we just don't throw an IAE and instead just silently close? idk. just sucks because we compare ios vs android crash rates weekly and android always looks worse because of this stripe integration. =(

[2022-11-28 02:50] urica12 opened #5879 "Note: This change was added to fix `warning: default will never be executed`"
Note: This change was added to fix `warning: default will never be executed`

_Originally posted by @yuki-stripe in https://github.com/stripe/stripe-ios/pull/2085#discussion_r1022018577_

[2022-11-28 15:41] tillh-stripe commented on #5725
I’m going to close this issue now. Feel free to reach out if anything else comes up 🙂

[2022-11-28 15:41] #5725 closed

[2022-11-28 18:55] awush-stripe commented on #5779
Closing this issue since a fix was released. Please feel free to re-open if it continues to occur.

[2022-11-28 18:55] #5779 closed

[2022-11-29 07:32] yixi195 commented on #5827
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'
apply plugin: 'com.android.application'
apply plugin: 'kotlin-android'
apply plugin: 'kotlin-android-extensions'
apply plugin: 'kotlin-kapt'
apply plugin: 'androidx.navigation.safeargs.kotlin'
//firebase
apply plugin: 'com.google.gms.google-services'
apply plugin: 'com.google.firebase.crashlytics'

android {
    compileSdkVersion bui

[2022-11-29 07:32] yixi195 commented on #5827
@jameswoo-stripe

[2022-11-29 16:45] jaynewstrom-stripe commented on #5879
Hi @urica12 could you provide more context for us on this issue? I'm not sure what you're requesting.

[2022-11-29 17:29] jameswoo-stripe commented on #5827
@yixi195 the error you gave me shows 20.15.4, but you are using 20.16.0:

[code]

Have you tried [clearing your cache](https://stackoverflow.com/questions/23025433/how-to-clear-gradle-cache)? Manually delete your gradle cache, invalidate Android cache and restart, and then report back here.

[2022-11-29 17:45] jaynewstrom-stripe commented on #5876
These activities aren't exported, and it's likely a rooted device running some sort of scanner on them.

I created a PR to fail a little bit more gracefully. See #5883

[2022-11-29 19:22] jaynewstrom-stripe commented on #5876
PR merged. It should be released next week.

[2022-11-29 19:22] #5876 closed

[2022-11-30 07:59] ColtonIdle commented on #5876
Oh man. thank you so much. My team is forever grateful

[2022-11-30 08:25] PrimeDominus opened #5887 "[BUG] Payment button is disabled when only one card is already saved on payment sheet."
## Summary
Payment button is disabled when only one card is already saved on payment sheet. We've tested this when 2 cards have been previously saved, and it works fine. When only one card is previously saved it forces us to go through the Add Card process to enable the payment button.

## Code to reproduce
We have used the exact code from https://stripe.com/docs/payments/accept-a-payment?platform

[2022-11-30 11:19] karamatpkid commented on #1580
In My Case, Strip flutter package is conflicting with nb_utils in android . it might be possible in your case, it is conflicting with  other library or package..

[2022-11-30 11:46] meirbnb commented on #5875
@jaynewstrom-stripe, this screenshot is from telegram. I am not using any SDK but developing telegram bot with payment using telegram API. By default, stripe seems to require the details shown in the screenshot above, so my question was related to payments, though not directly related to android SDK.

[2022-11-30 16:30] tillh-stripe commented on #5887
Hi there 👋 Thanks for reporting this. I’m able to reproduce the issue, though only in the following scenario:

1. Open `PaymentSheet` with a number of payment methods. The payment button is enabled.
2. Press the `Add` button, then go back without adding a new payment method.
3. Now, the payment button is incorrectly disabled.

Is that the same for you or are you seeing the disabled payment button

[2022-11-30 21:02] juanCoutoWalla commented on #5761
Hi @brnunes-stripe , I'm still facing this issue.
I'm trying it in test environment and also using the test key for stripe.
`    const val PAYMENTS_ENVIRONMENT = WalletConstants.ENVIRONMENT_TEST
`
I'm able to open the google pay bottom sheet and choose my cc. Although when I click the button to continue with the payment I receive the error [OR_BIBED_01] as shown in the image attached.
If you could