[2020-02-16 13:47] shruti-ahuja commented on #2186
I am using `13.2.0`. My issue is with the payment Session. The selected card/payment method isn't being saved. I selected a payment method in one activity and i want to show the selected card/payment method in some other activity.

[2020-02-16 14:13] shruti-ahuja commented on #2186
I have 2 activities with the same code to get the payment Session.
[code]

This same code returns paymentMethod in one activity but null in another activity.

Do I have to maintain one paymentSession for the entire application?

[2020-02-17 08:45] hiasel commented on #2183
@mshafrir-stripe I'm using gradle version 6.1.1 and Android Gradle Plugin version 3.5.3

[2020-02-17 10:56] imdBhargav commented on #1805
Yes
`PaymentConfiguration.init(this, sharedPref.getString(SharedPrefConstant.STRIPE_PUBLISHABLE_KEY));`

[2020-02-18 08:03] vhontar opened #2187 "Value upstream of type java.lang.String cannot be converted to JSONObject"
#1213  Summary
Firebase crashanalytics shows that 3 crashes happened  to users when they were trying to work with stripe sdk. Could you please help to understand what is the cause of these crashes?

## Android version
Android 8, 10

## Impacted devices
LG k8, Galaxy S9

## Installation method
gradle

## SDK version
 implementation 'com.stripe:stripe-android:13.1.2'

## Other information
[code]

[2020-02-18 15:07] mshafrir-stripe commented on #2186
@shruti-ahuja this should be fixed with #2179. This will be available in the next release.

[2020-02-18 15:07] #2186 closed

[2020-02-18 15:47] mshafrir-stripe commented on #1805
@imdBhargav can you update to v13.2.0 and see if you can reproduce on that version?

[2020-02-18 16:06] shruti-ahuja commented on #2186
Thanks, when can I expect the release fix?

[2020-02-18 18:59] mshafrir-stripe commented on #2186
@shruti-ahuja v14.0.0 has been released, along with the fix

[2020-02-18 18:59] mshafrir-stripe commented on #2183
@hiasel can you try integrating with v14.0.0 and verify if your issues are resolved?

[2020-02-18 19:54] mshafrir-stripe commented on #563
@tvhimanshu what do you mean by "write 1 to 22 numbers"?

[2020-02-18 19:56] mshafrir-stripe commented on #2154
@kushanshah11 unfortunately I don't understand your question. What isn't working as expected?

[2020-02-18 19:57] mshafrir-stripe commented on #2152
@mwajeeh can you try updating to v14.0.0 and let me know if this resolves the issue?

[2020-02-19 00:57] FrancoisBlavoet opened #2200 "Display error icon in CardInputWidget"
CardInputWidget only relays its error state visually by coloring the text in red :

![image](https://user-images.githubusercontent.com/1502975/74791225-c4366200-526e-11ea-9a58-cb7507225d2f.png)

The issue is that for many users (including myself) this is almost impossible to differentiate from the black font used in the normal case, so the error state is not visible.

A possible fix would be to re

[2020-02-19 21:12] nachtmare opened #2205 "Diners Club card number (16 digits)"
Do you plan to add support for Diners Club cards with 16 digit PAN? (now only 14 digits are allowed)

[2020-02-21 14:31] mshafrir-stripe commented on #2183
@hiasel Please re-open if you still need assistance

[2020-02-21 14:31] #2183 closed

[2020-02-21 15:12] mshafrir-stripe commented on #2140
@initishbhatt I recommend that you let your app handle showing the keyboard in this case. You can do it pretty simply, see https://stackoverflow.com/questions/10508363/show-keyboard-for-edittext-when-fragment-starts

[2020-02-21 15:12] #2140 closed

[2020-02-24 13:33] justforjava opened #2212 "How to do the old project of java architecture"
Very sad, no java project was considered at all.
like as：CustomerSessionActivity， Keep reporting error
With kotlin, I have no opinion, but the demo should work normally？
Very Sad....

[2020-02-24 14:19] mshafrir-stripe commented on #2212
@justforjava can you provide me with details about the errors you're seeing?

[2020-02-24 14:49] marcin-oziemski opened #2213 "CardInputWidget crash when shouldRequirePostalCode="true" on imeAction next"
## Summary
CardInputWidget crash when shouldRequirePostalCode="true" and click imeAction next on postalCode EditText.

## Code to reproduce
Just use normal
`<com.stripe.android.view.CardInputWidget`
and add
`app:shouldRequirePostalCode="true"`
in xml layout.

## Android version
9 (Samsung S10)

## Impacted devices
Probably more than just that one.

## Installation method
gradle:
implementation "co

[2020-02-24 15:14] mshafrir-stripe commented on #2213
@marcin-oziemski thanks for filing. Can you test on an Android Emulator to confirm if this crash is device specific? I wasn't able to reproduce based on the description you gave.

[2020-02-24 15:23] mshafrir-stripe commented on #2213
@marcin-oziemski I did notice that the `imeOptions` value wasn't set on the postal code field. #2215 fixes this, which may be related to the crash.

[2020-02-24 15:32] marcin-oziemski commented on #2213
Hey @msaffitz-stripe  i done it on emulator with the same behavior.
![image](https://user-images.githubusercontent.com/56084313/75165774-2ede1680-5723-11ea-9779-bdf053b214c4.png)

[2020-02-24 15:34] mshafrir-stripe commented on #2213
@marcin-oziemski can you do a video capture so I can try to reproduce?

[2020-02-24 16:04] omerfarukyilmazmd opened #2217 "PaymentConfiguration.init missing parameter for Connect Account ID"
## Summary

In this link (https://stripe.com/docs/connect/authentication#adding-the-connected-account-id-to-a-client-side-application) it has been written that we should add the connect account id like this:

PaymentConfiguration.init(this, "{{PLATFORM_PUBLISHABLE_KEY }}", "{{CONNECTED_STRIPE_ACCOUNT_ID}}");

But we can not add the last parameter.

With out adding this parameter, we can still **do

[2020-02-24 20:26] #2205 closed

[2020-02-25 09:11] marcin-oziemski commented on #2213
Strange but when i isolate it actually works, so this is probably some other issue as still the selection is visible on postal code but it the maybe catch some other focus and thats could be the cause, sorry for  problem.

[2020-02-25 09:11] #2213 closed

[2020-02-25 11:02] mshafrir-stripe commented on #2217
@omerfarukyilmazmd thanks for pointing this out. This is an error in the docs, we currently don't accept the Connect account id in `PaymentConfiguration`. I will update the docs today to reflect this.

[2020-02-25 11:02] #2217 closed

[2020-02-25 17:42] mshafrir-stripe commented on #2200
@FrancoisBlavoet please take a look at the PR, specifically the recording.

[2020-02-26 01:15] ergindogan opened #2228 "Gradle exact dependency error. 13.2.0 -> 14.0.0"
## Summary
Updating from `13.2.0` to `14.0.0` resulted in dependency issues.

## Code to reproduce
Building the app causes the error.

## Android version
All versions.

## Impacted devices
All devices.

## Installation method
Through gradle.
[code]

## SDK version
`14.0.0`

## Other information
I am getting below error:

Only thing I have changed in my dependency is increasing `com.stripe:stripe-a

[2020-02-26 14:06] mshafrir-stripe commented on #2228
@ergindogan can you share your other dependencies, including AndroidX libraries? What version of Gradle are you using?

[2020-02-26 14:08] mshafrir-stripe commented on #2228
Also if you run the `:app:dependencies` Gradle task you may be able to determine what dependency is being referred to by `1.3.1` and `2.3`

[2020-02-26 15:47] #2200 closed

[2020-02-26 15:50] mshafrir-stripe commented on #2212
@justforjava please reopen if you still need assistance

[2020-02-26 15:50] #2212 closed

[2020-02-26 16:28] #1654 closed

[2020-02-26 17:20] mshafrir-stripe commented on #2187
@vhontar I'm adding more details to the exception to help debug the issue in the future

[2020-02-26 18:03] ergindogan commented on #2228
I am using gradle version `5.6.4`. Here are the list of other dependencies:
[code]

[2020-02-26 18:07] mshafrir-stripe commented on #2228
Can you try updating to Gradle 6.2.1? Also what version of Google Services Gradle Plugin are you using? 4.3.3 is the latest.

[2020-02-26 18:23] ergindogan commented on #2228
Updating Gradle to `6.2.1` and Google Services Gradle Plugin to `4.3.3` worked. Thank you for your help!

[2020-02-26 18:23] #2228 closed

[2020-02-26 18:28] #2187 closed

[2020-02-26 22:58] FrancoisBlavoet commented on #2200
Thanks for the quick fix @mshafrir  !

Looks like this will make it a bit easier to realize that you are in an error state.

[2020-02-27 07:33] justforjava commented on #2212
thanks ！Already working to change kotlin to java to meet the needs of old projects.

[2020-02-27 07:35] justforjava opened #2232 "How do I get a list of bound bank cards? Which API should I use? thank you very much!"
The current requirement is to obtain a list of bound bank cards. If so, pay directly and rebind if not.
The question is, am I not sure which API to use?
Please help me。

[2020-02-27 17:10] mshafrir-stripe commented on #2232
@justforjava I'm not familiar with bound bank cards. What are they?

[2020-02-27 20:22] dkeydevs opened #2233 "createCardToken needs String? in Kotlin"
## Summary
Hello, I switched from my Java Implementation to Kotlin and got a strange Error which I think is a bug in the Code.
I tokenize my Card and send it to my server together with the session id so the backend can handle the payment correctly.
First the Java Implementation which works fine:

[code]

Now the Kotlin Version:

[code]

its basically the same but on the object : ApiResultCallback<

[2020-02-27 21:03] mshafrir-stripe commented on #2233
The method signature is:

[code]

So if you prefix the callback with `callback = ...`, it will work:
[code]

[2020-02-27 21:04] dkeydevs commented on #2233
oh man, that took me a while to figure out. Thank you!

[2020-02-27 21:04] #2233 closed

[2020-02-28 08:49] justforjava commented on #2232
If I add two credit cards to pay, then when I pay, I can get the list information of these two credit cards, and I can choose one to pay.
I have a list of credit cards in my application, which api do I use to get the list of credit cards？

[2020-02-28 14:42] mshafrir-stripe commented on #2232
You can use `CustomerSession#getPaymentMethods()`. Also see https://stripe.com/docs/mobile/android/basic

[2020-02-28 14:42] #2232 closed

[2020-03-03 09:52] bhavin-chauhan commented on #1703
@mshafrir-stripe  I've test Sample code and it is working fine if we don't use custom font see here is demo
https://www.screencast.com/t/hHYufV4CC
But When we use custom fonts it is not working proper.
https://www.screencast.com/t/L7ukI0nzRy

[2020-03-03 11:17] massimofrittelli opened #2240 "Detaching a PaymentMethod does not update the PaymentSessionData accordingly"
I think I have found a regression in Stripe Android SDK by upgrading from V.13 to V.14.

## Summary
I select a `PaymentMethod` by using the prebuilt UI. Then I decide to programmatically `detach` that `PaymentMethod`  from my `CustomerSession`. Afterwards, the `PaymentSessionData` still contains the `PaymentMethod` I have just `detach`ed, which should no longer be there. This issue was not present

[2020-03-03 11:39] vhontar opened #2241 "Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.ProgressBar.setVisibility(int)' on a null object reference"
## Summary
Hi, I got a crash when tried to add a new card
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.ProgressBar.setVisibility(int)' on a null object reference

## Code to reproduce
I just opened
PaymentMethodsActivityStarter(activity).startForResult()
Then I clicked on "+ Add new card"

One moment that I've already have cards.

## Android vers

[2020-03-03 13:45] mshafrir-stripe commented on #2241
@vhontar thanks for filing. Can you provide more specific repro conditions? Does it also happen on other devices/emulators? Other API versions? I just tested on an emulator on 14.1.0 and can't reproduce.

![crash](https://user-images.githubusercontent.com/45020849/75781533-5dfc1580-5d2b-11ea-8db1-b96f36aefd5d.gif)

[2020-03-03 13:52] mshafrir-stripe commented on #1703
@bhavin-chauhan can you try updating to the latest version of the SDK? Then, you can override the text size settings to your preference.

[code]

[2020-03-03 13:57] vhontar commented on #2241
On Tue, 3 Mar 2020 at 15:45, Michael Shafrir <notifications@github.com>
wrote:

Hi, I tested it on real devices. I didn’t even try to do it on emulators

[2020-03-03 14:00] mshafrir-stripe commented on #2241
@vhontar I tried on a real device, I couldn't reproduce there either. Does this crash always happen across multiple devices?

[2020-03-03 14:43] vhontar commented on #2241
On Tue, 3 Mar 2020 at 16:00, Michael Shafrir <notifications@github.com>
wrote:

I have three cards one with src_****** and 2 pm_*******, test cards of
stripe. I just updated the stripe and tried to add the card and got this
crash. Is this issue connected to this plugin?

[2020-03-03 14:45] mshafrir-stripe commented on #2241
@vhontar I can't determine what is causing the crash without being able to reproduce. Can you provide a screen capture so I can see what you're doing?

[2020-03-03 14:49] vhontar commented on #2241
On Tue, 3 Mar 2020 at 16:45, Michael Shafrir <notifications@github.com>
wrote:

Yes, definitely! I will provide you the video in 30 minutes. Thank you for
your help!

[2020-03-03 15:42] vhontar commented on #2241
here it is!

On Tue, Mar 3, 2020 at 4:49 PM Vladyslav Hontar <vladislav.hontar@gmail.com>
wrote:

[2020-03-03 16:46] mshafrir-stripe commented on #2241
@vhontar I don't see anything in your post. Can you try posting through the website?

[2020-03-04 04:35] bhavin-chauhan commented on #1703
@msaffitz-stripe  I've tried style as well but still it is not working
I've downloaded code from master branch Version 14.0.0
Device : Xiaomi Poco F1
OS :  Android 9.0
Issue is only occurred  when I use custom fonts. Let me know if I missed something
I've tried to comment **ciw_stripe_edit_text_size** dimen also
`<style name="Stripe.CardInputWidget.EditText" parent="Stripe.Base.CardInputWidget.Edi

[2020-03-04 06:30] vhontar commented on #2241
What website can I use for this purpose?

On Tue, Mar 3, 2020 at 6:46 PM Michael Shafrir <notifications@github.com>
wrote:

[2020-03-04 09:13] vhontar commented on #2241
https://gifyu.com/image/II2e

[2020-03-04 22:42] mshafrir-stripe commented on #2241
This issue is potentially fixed with #2245, but given that I can't reproduce it I can't confirm for sure.

[2020-03-04 22:43] #2241 closed

[2020-03-05 02:56] justforjava commented on #2232
thanks!

[2020-03-05 15:51] simonroesch opened #2261 "Error messages are not localized"
## Summary
If during payment an error occurs, e.g. CardException, there is no localized error message that an app could display for the user. In the iOS-Stripe-SDK the localized messages are already present.

## SDK version
12.8.2

[2020-03-05 15:54] mshafrir-stripe commented on #2261
If you upgrade to 14.0.0, API errors should be localized. https://github.com/stripe/stripe-android/blob/master/MIGRATING.md#migrating-from-versions--1400

[2020-03-05 15:54] #2261 closed

[2020-03-05 16:44] simonroesch opened #2264 "Language de-CH is not supported for Error Messages"
## Summary
If the device language is German (Switzerland) = de-CH the error messages are displayed in English instead of German. With German (Germany) = de-DE it works as expected.

## Android version
10

## SDK version
14.1.0

## Additional Info
![image](https://user-images.githubusercontent.com/30999902/76003814-de2ba200-5f08-11ea-9ca7-527dbab4cd6e.png)
![image](https://user-images.githubusercon

[2020-03-05 16:59] mshafrir-stripe commented on #2240
@massimofrittelli thanks for filing. I was able to reproduce this issue.

I put up a PR that adds `PaymentSession#clearPaymentMethod()`. You can call this when you call `CustomerSession#detachPaymentMethod()`.

[2020-03-05 17:22] mshafrir-stripe commented on #2264
@simonroesch unfortunately `de-CH` is not a currently supported locale. I don't have any timeline for when it will be supported.

[2020-03-05 17:51] #2240 closed

[2020-03-05 19:17] simonroesch commented on #2264
Well for the moment it would be perfectly fine, if the de-DE text is displayed for the de-CH locale. Would be awesome if you could fix that in the backend, otherwise I would need to build my own version of the client SDK where I can overwrite the language code...

[2020-03-05 22:42] mshafrir-stripe commented on #2264
Are you showing these error messages through `PaymentSession`/one of the Stripe Activities? If so, you can use `ErrorMessageTranslator`.

[2020-03-06 08:57] massimofrittelli commented on #2240
Thank you for the fix. This is useful, but still does not match the ideal behaviour of SDK 13. I want to clear the `PaymentSession`'s `PaymentMethod` only if it is the same `PaymentMethod` I have just `detach`ed from the `CustomerSession`, which now requires an additional check.

[2020-03-06 09:57] simonroesch commented on #2264
No, unfortunately we only use the stripe.confirmPayment call and create the UI ourselves...

[2020-03-06 13:37] vhontar commented on #2241
@mshafrir-stripe yes

[2020-03-06 20:45] smolster opened #2267 "Creating an external card token using prebuilt UI"
##  Summary

I'm trying to create an external card token (NOT a PaymentMethod) using the prebuilt `AddPaymentMethodActivity`/`AddPaymentMethodActivityStarter`.

For example:
[code]

Is this possible? Did any version of this SDK support using the prebuilt UIs to create external tokens, or did it only support PaymentMethods from the beginning?

Thanks so much for any help!

## Android version
N/A

#

[2020-03-06 20:49] mshafrir-stripe commented on #2267
@smolster older versions of the SDK created Sources instead of PaymentMethods. I don't believe there was a version that created Tokens. You can use `CardInputWidget`/`CardMultilineWidget` directly if you want to create Tokens.

[2020-03-09 11:12] romainpiel opened #2268 "Lint error related to bouncy castle on 14.0.0"
## Summary

Lint throws an error on Stripe 14.0.0+:
![image](https://user-images.githubusercontent.com/464320/76207873-e16fa800-61fe-11ea-8489-cce4e41c079e.png)

## Code to reproduce

I just included a version of the dependency in our build.gradle.

## Android version

Any

## Impacted devices

Any

## Installation method

Gradle

## SDK version

14.0.0 (also tried 14.1.0)

## Other information

I

[2020-03-09 13:47] smolster commented on #2267
Thank you @mshafrir-stripe. I'll close this issue.

[2020-03-09 13:47] #2267 closed

[2020-03-09 15:30] mshafrir-stripe commented on #2268
@romainpiel Thanks for filing. I was able to reproduce this issue. Based on some investigation, it appears that this class isn't needed [0]. I'll put up a PR to not keep it in Proguard.

[0] https://github.com/justinludwig/jpgpj/issues/3#issuecomment-297897934

[2020-03-09 16:32] #2268 closed

[2020-03-09 17:22] luismierez opened #2273 "Add validation/inputType option to zip code field"
## Summary

Zip Code field doesn't have any validation. Also, it doesn't seem like we can change the `inputType` on that field to prevent the user from inputting a bunch of letters.

## SDK version

14.1.0

[2020-03-10 11:58] vhontar commented on #2241
@mshafrir-stripe the error was resolved in the 14.1.1 version

[2020-03-10 14:24] mshafrir-stripe commented on #2273
@luismierez thanks for filing. If you require a valid zip code it will restrict your customers to only those that are US-based. Is that your intention?

[2020-03-10 14:30] luismierez commented on #2273
@mshafrir-stripe yeah, our product is only offered in the US. I just noticed that there is a way to add a  `TextWatcher` to the zip code field, so I could do the validation there, but it would be a better user experience if we could also change the `inputType` for that field.

[2020-03-10 19:12] #2273 closed

[2020-03-10 19:30] mshafrir-stripe commented on #2129
@alaffray with #2279, `CardMultilineWidget` will show the hint text "Postal code" by default.

[2020-03-10 20:40] #2129 closed

[2020-03-11 12:38] justforjava opened #2280 "The previous old project was written in java. Cannot find listenerActivity after upgrading？"
SDK version：com.stripe:stripe-android:14.0.0

As shown below：

![image](https://user-images.githubusercontent.com/19586166/76417611-23a01180-63d8-11ea-9e7c-5656c0030d1f.png)

Please help me see what is the problem?

[2020-03-11 13:37] mshafrir-stripe commented on #2280
@justforjava this is now accessible using `getListenerActivity()`. Sorry for the inconvenience.

[2020-03-11 13:37] #2280 closed

[2020-03-12 12:54] silverstay opened #2286 "Stripe crashes when trying to add wrong card"
I am having an issue with Stripe API on Android. I'm trying to add a card, and so far if you make a successful card everything works fine. If you add a card (that is meant to fail) it results in a full application crash.

I have followed stripe instructions on how to do it. But I'm not able, to catch the once it happens.

[code]
I should be getting `onError`  catch (in this function, but nothing)

[2020-03-12 13:45] mshafrir-stripe commented on #2286
@silverstay what version of the SDK are you using?

[2020-03-12 13:53] silverstay commented on #2286
com.stripe:stripe-android:13.1.2

[2020-03-12 13:57] mshafrir-stripe commented on #2286
@silverstay if you update to the latest version this should be resolved

[2020-03-12 14:08] silverstay commented on #2286
@mshafrir-stripe
I'm not able to build with new version

[code]

Any quick ideas, how could i overcome this issue?

[2020-03-12 14:20] mshafrir-stripe commented on #2286
Are you including `net.minidev:json-smart:2.3` directly as a dependency?

[2020-03-12 14:23] silverstay commented on #2286
No.

[2020-03-12 14:38] mshafrir-stripe commented on #2286
Are you using `com.google.gms:google-services` and if so what version?

[2020-03-12 14:42] silverstay commented on #2286
classpath 'com.google.gms:google-services:4.3.2'

[2020-03-12 14:47] silverstay commented on #2286
Just upgraded to : `com.google.gms:google-services:4.3.3`
I also upgraded all of other dependencies

And now i'm able to compile stripe with newest version.

It also now throws error properly. I'm so happy man. Thank you for sticking with me.

[2020-03-12 14:47] mshafrir-stripe commented on #2286
Glad to hear this worked for you! I'd also recommend upgrading to the latest version of Gradle and Android Gradle Plugin if you haven't.

[2020-03-12 14:51] silverstay commented on #2286
Will check, if i haven't done it. Thanks man. Much appreciated .

[2020-03-12 14:51] #2286 closed

[2020-03-13 08:50] imkhalid commented on #1237
Geting this issue new Version 13 while adding test card from production:

E/AndroidRuntime: FATAL EXCEPTION: DefaultDispatcher-worker-1
    Process: one.qairos.PassengerQairos, PID: 6892
    java.lang.RuntimeException: Parcelable encountered IOException writing serializable object (name = com.stripe.android.exception.InvalidRequestException)
        at android.os.Parcel.writeSerializable(Parcel.ja

[2020-03-13 08:55] imkhalid opened #2287 "Caused by: java.io.NotSerializableException: com.stripe.android.StripeError"
## Summary
Getting the issue while Adding test card to production

## Code to reproduce
E/AndroidRuntime: FATAL EXCEPTION: DefaultDispatcher-worker-1
    Process: one.qairos.PassengerQairos, PID: 6892
    java.lang.RuntimeException: Parcelable encountered IOException writing serializable object (name = com.stripe.android.exception.InvalidRequestException)
        at android.os.Parcel.writeSerializ

[2020-03-13 09:05] imkhalid commented on #2287
Try updating 13.1.0 to 13.1.2 with gradle 5.5.1 but still getting same issue

[2020-03-13 09:23] imkhalid commented on #2287
Caused by: Request-id: req_K74UBxcXU35QKV
    com.stripe.android.exception.APIException: Your card was declined.

[2020-03-13 10:06] #2287 closed

[2020-03-13 10:06] imkhalid commented on #2287
this issue was working in 13.1.3 version

[2020-03-13 12:53] ddyakovenko opened #2288 "Black screen after open GPay"
## Summary

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/29120614/76622184-ad1b2500-6539-11ea-9ccf-0d73cc6e35bb.gif)

After call GPay dialog with code:
[code]
User see only black screen. On other devices it's ok.
What problem can cause this?
## Android version
Android 9

## Impacted devices
Nokia 4.2 model: TA-1157

## Installation method
    implementation 'com.stripe:strip

[2020-03-13 13:29] mshafrir-stripe commented on #2287
@imkhalid I recommend upgrading to the latest, `14.1.1`

[2020-03-13 13:50] mshafrir-stripe commented on #2288
@ddyakovenko I would open this issue with Google Pay for Android support - https://developers.google.com/pay/api/android/support/how-to-get-help

For what it's worth, it not possible to do a screenshot/screen recording of a Google Pay screen because it's a secure screen, so I would expect this to always be black.

[2020-03-13 13:50] #2288 closed

[2020-03-15 05:22] tixbee commented on #646
Definitely not handled... No one can log into your site right now.

[2020-03-15 10:36] jamiejackherer commented on #486
Very interested bro see what happened here. I have seen lots about the NFC payment method but yet to see it's possible

[2020-03-16 08:59] bhavin-chauhan commented on #1703
@msaffitz-stripe Can you please confirm version of SDK. Let me know if you need any more information from my side?
Thanks!
Bhavin

[2020-03-16 18:59] #1937 closed

[2020-03-16 19:00] mshafrir-stripe commented on #646
@tixbee can you elaborate on what you're experiencing?

[2020-03-16 19:20] tixbee commented on #646
It literally just says, "You appear to be offline. Please check your internet connection." I'm very much online.

[2020-03-16 19:40] mshafrir-stripe commented on #646
Where are you seeing this screen?

[2020-03-17 14:24] mshafrir-stripe commented on #1703
@bhavin-chauhan can you share what font you're testing with?

[2020-03-17 15:45] bhavin-chauhan commented on #1703
@mshafrir-stripe  I've used circular std book.ttf font Let me know if you need this font

[2020-03-18 15:12] leandrofavarin opened #2296 "Lint fails with InvalidPackage from bouncycastle"
## Summary
Lint fails from `InvalidPackage` rule. Lint results:
[code]

## Code to reproduce
New Project > add Stripe as dependency > Execute gradle task: `:app:lintRelease`.

## SDK version
`com.stripe:stripe-android:14.1.1`

[2020-03-18 20:34] mshafrir-stripe commented on #2296
See #2268. This will be fixed in the next release.

[2020-03-18 20:34] #2296 closed

[2020-03-19 11:19] karlr-stripe opened #2298 "Can't use SourceParams.OwnerParams : "Cannot access '<init>': it is internal in 'OwnerParams'""
## Summary
Per the changelog in https://github.com/stripe/stripe-android/blob/master/MIGRATING.md#migrating-from-versions--1300 , I'm trying to set the `owner` params for a Source. I can't seem to find a way to do it though because the constructor for OwnerParams is private.

## Code to reproduce

[code]
Fails with `Cannot access '<init>': it is internal in 'OwnerParams' `

## Installation method

[2020-03-19 15:56] #2298 closed

[2020-03-20 10:06] bhavin-chauhan commented on #1703
@msaffitz-stripe  need any more information from my side? let me know if you need
Thanks
Bhavin

[2020-03-20 12:30] silverstay opened #2301 "Stripe not sending response message, on payment request."
When trying to create a payment, with `stripePaymentMethodId `and `stripeClientSecret` (function : `ConfirmPaymentIntentParams.createWithPaymentMethodId(methodId, secret)` )
I can do get 3d secure payment view. Where i can cancel and complete authentication. But once i do it, i do not get any response on  `onActivityResult`. I do get one small error
[code]
This is the only error i recieve. Applica

[2020-03-20 13:06] mshafrir-stripe commented on #2301
@silverstay are you only seeing this when triggering the 3DS1 web view? Or also for 3DS2? Is there a Stripe test card number I can use to reproduce?

[2020-03-20 13:44] silverstay commented on #2301
`4000 0027 6000 3184`  This is the card i use, to test

[2020-03-20 13:50] silverstay commented on #2301
But it does look, like its all of 3DS2 . I have seen it work and give responses back previously. But not recently . Not exactly sure, why is this happening.

[2020-03-20 13:53] mshafrir-stripe commented on #2301
@silverstay does this happen in 14.1.1, or only 14.2.0? Have you tested on different devices and API versions? Are you confirming the SetupIntent from an Activity or Fragment?

[2020-03-20 13:55] silverstay commented on #2301
This was happening on 14.2.0  (previously i had 14.1.2 - i think, but i did notice this issue, so i upgraded. It did not resolve my issue though... I'm doing it on Fragment, but catching results on Activity.

[2020-03-20 14:01] mshafrir-stripe commented on #2301
@silverstay do you have "Don't keep activities" enabled in developer options?

[2020-03-20 14:05] mshafrir-stripe commented on #2301
@silverstay I can't reproduce this when using the Fragments Example in the examples app

![frag](https://user-images.githubusercontent.com/45020849/77171076-4d210300-6a92-11ea-93ac-f125f7a39da0.gif)

[2020-03-20 14:07] mansoorshahsaid opened #2302 "Lower-case letters for Canadian postal codes"
## Summary
It would be awesome for the Stripe SDK to accept lower case letters on a Canadian postal code when entering our billing information. Or automatically write in capital-case and not giving the option to go lower-case.

Right now if you try to write your postal code in lower-case, it simply tells you "Your postal code is invalid". The error message is also a little confusing for the user.

[2020-03-20 14:08] silverstay commented on #2301
No.
I'll try to triage more. It does look like, when adding cards - callbacks, do come. But when i try to authenticate payment with 3ds2 it does not. I'll keep posted ,if i find something new.

[2020-03-20 14:11] silverstay commented on #2301
[code]

Could this be related?

[2020-03-20 14:14] mshafrir-stripe commented on #2301
@silverstay so you get callbacks for 3DS1 but not 3DS2? Which card are you testing with for 3DS2?

[2020-03-20 14:16] mshafrir-stripe commented on #2302
@mansoorshahsaid can you share a screenshot of what you're seeing?

[2020-03-20 14:23] silverstay commented on #2301
Sorry, i might wrote something wrong. (english is not my native language)
I have used primarly two cards
`4242424242424242`
and
`4000 0027 6000 3184`

When adding card (ending with 3184) i can get callbacks.
But once i try to issue a payment, it does not give callback back.

[2020-03-20 14:39] mansoorshahsaid commented on #2302
Sure @mshafrir-stripe, here you go. In both of these cases (space in the middle or not) work with upper case letters. But as you can see it does not work when lowercased.

![issue-1](https://user-images.githubusercontent.com/22176322/77173994-c9b5e080-6a96-11ea-8a08-519275784734.PNG)
![issue-2](https://user-images.githubusercontent.com/22176322/77173996-ca4e7700-6a96-11ea-9878-abfe00a0ed12.PNG)

[2020-03-20 14:40] mshafrir-stripe commented on #2302
Thanks!

[2020-03-20 14:40] mshafrir-stripe commented on #2301
@silverstay what API version are you testing on? Device or emulator?

[2020-03-20 15:03] #2302 closed

[2020-03-20 15:46] silverstay commented on #2301
I'm testing on two real devices, Nokia 4.2 (Android 9) And Samsung S9+ (Android 10)

On backend, seems that api version is : `7.13.19` and another one i see is `7.15.0`

[2020-03-20 15:50] mshafrir-stripe commented on #2301
@silverstay when you say the callback doesn't happen, do you mean `onActivityResult()`, or the the callback to the last argument in `Stripe#onSetupResult()`?

[2020-03-20 15:53] silverstay commented on #2301
` stripe.onSetupResult` is not beeing called out.
I can see that `onActivityResult` is beeing called. (i get a log outside of stripe) . But nothing from stripe function itself.

[2020-03-20 15:54] mshafrir-stripe commented on #2301
Have you set up breakpoints in both methods of `ApiResultCallback` to confirm?

[2020-03-20 16:01] silverstay commented on #2301
Yes. stripe.onSetupResult isn't beeing called

[2020-03-20 16:09] mshafrir-stripe commented on #2301
@silverstay can you set breakpoints in your code to verify the last line of code that is executed?

[2020-03-20 16:22] silverstay commented on #2301
Yes, i did that. Last line that was called was

`logd("TESTABLE", "IT WAS CALLED")`

![image](https://user-images.githubusercontent.com/4472155/77183914-afe8bd80-6ad7-11ea-9a18-eb0bfe62450a.png)

It does not go into` stripe.onSetupResult`

[2020-03-20 16:38] silverstay commented on #2301
I found the issue, i was having.
Thank you for all the support.

[2020-03-20 16:38] #2301 closed

[2020-03-23 20:58] wchristiansen opened #2311 "Add support to launch AddPaymentMethodActivity from a Fragment"
## Summary
Currently the SDK does not provide a way to utilize the `AddPaymentMethodActivityStarter` from within a fragment. It would be useful to be able to launch the `AddPaymentMethodActivity` from within a fragment class, similar to how `PaymentMethodsActivityStarter` allows this.

## SDK version
14.2.0

## Other information
Source of how the `PaymentMethodsActivityStarter` can be used from a

[2020-03-24 10:54] jose-t opened #2314 "Add handler before removing a card into the PaymentMethodsActivityStarter"
## Summary
Hi,

I encounter a specific problem when I create a PaymentIntent via the Stripe API without confirming.
My users can add and remove cards from the PaymentMethodsActivityStarter.
They can also validate an order that trigger a new PaymentIntent.
If the user removes a card attached to a PaymentIntent which is not confirmed, the PaymentIntent can never be confirmed.

The problem could be r

[2020-03-24 12:49] mshafrir-stripe commented on #2311
@wchristiansen thanks for filing, we will add this support.

[2020-03-24 16:57] #2311 closed

[2020-03-26 15:47] rahsheen commented on #655
Still curious about a fix for this or suggestions for a workaround. I know there are other official inputs to use such as the multi-line widget, but if there's a way to wrap this for React Native, I'd love to help figure it out.

[2020-03-26 16:06] mshafrir-stripe commented on #655
@rahsheen unfortunately I don't have any follow-up at this time. What version of the SDK are you using?

[2020-03-27 14:16] minhazur-piash opened #2327 "After adding a credit card, it should be set as the default card"
**Added credit card should be selected**
It's not intuitive for users to select after adding a credit card. It'd be very helpful if the added card was selected after adding it.

[2020-03-30 09:51] ened commented on #784
@mshafrir `createFromGooglePay(JSONObject)` will not work when the PaymentData is coming back via an intent; in that case toJson will return null, as stated in the [documentation](https://developers.google.com/android/reference/com/google/android/gms/wallet/PaymentData#public-string-tojson-):

[2020-03-30 13:09] mshafrir-stripe commented on #784
@ened Correct. The `Builder` approach is deprecated - https://developers.google.com/android/reference/com/google/android/gms/wallet/PaymentDataRequest.Builder

[2020-03-30 13:22] ened commented on #784
Do you know of a replacement flow? Intent in JSON out won’t work in the future.

[2020-03-30 13:29] mshafrir-stripe commented on #784
@ened inspect the `PaymentData` object. It should have an embedded Token JSON string. You can parse the string and obtain the Token Id.

See https://github.com/stripe/stripe-android/blob/ec1d8ea73b95fb27022dc8b6a1f7d1530261ffe3/stripe/src/main/java/com/stripe/android/model/GooglePayResult.kt

Also see https://stripe.com/docs/api/tokens/object for an example of a Token object's JSON representation.

[2020-03-30 17:06] mansoorshahsaid opened #2333 "Billing information improvement requests"
## Summary
We're using the billing form for credit cards quite extensively inside our app. We found some suggestions for improving this page. Here are some of the things we'd love to see:
- When entering the postal code, the return button should go to the next input. Currently, it creates a new line inside the field and it's not needed in a postal code.
- If there is an error inside the form, the

[2020-03-30 22:16] ened commented on #784
@mshafrir-stripe I meant say that when a PaymendData object comes from the intent, then it's .toJson method won't work, as documented by Google:

And from google side any but the toJson fromJson methods are deprecated, which means this code:

[code]

will work but create "deprecation" warnings. I was simply wondering if you know of a better or alternative way in order to avoid the deprecation warn

[2020-03-31 09:01] ezet commented on #795
@msaffitz-stripe Is it possible to have https://pub.dev/packages/stripe_sdk added to the list of community libraries? It is a native dart library, which provides a dart API for endpoints accessible with a publishable or ephemeral key. It also offers some basic UI widgets for flutter, and handles SCA with a webview (using stripes hosted SCA) that redirects back to the app with a deeplink after comp

[2020-03-31 14:13] mshafrir-stripe commented on #2333
@mansoorshahsaid thanks for filing.

I merged #2336 which addresses some of the issues you highlighted.

I'll investigate this issue.

Delete is already available, just try swiping on one of the Payment Methods in the list! However, we clearly need to do a better job of highlighting this feature.

[2020-03-31 17:58] mansoorshahsaid commented on #2333
Awesome thank you @mshafrir-stripe! And you're right delete works, we forgot the common swipe gesture. 🙃

[2020-03-31 19:41] mshafrir-stripe commented on #784
@ened the reason that it is marked as deprecated is because the Builder pattern for creating a `PaymentRequest` is deprecated

[2020-04-02 13:30] odedharth opened #2341 "When adding a card, it should be selected automatically"
## Summary

- In the Stripe iOS SDK, when adding a card, it is selected automatically, see in [this video](https://www.dropbox.com/s/44ksltxo2jodstw/ios.MP4?dl=0).
- In the Stripe Android SDK, when adding a card, it is **not** selected automatically, see in [this video](https://www.dropbox.com/s/mm8y1el2tzkewdt/android.mp4?dl=0).

This makes the android card adding process confusing since people d

[2020-04-03 10:16] ChiragSavsani opened #2344 "Why Card.io for scan is not available in Android like iOS?"
## Summary

I want to add scan card functionality like ios, but I am not able to find an option to add that functionality.

## Android version

Any

## Installation method

I added using gradle dependencies.

## SDK version

'com.stripe:stripe-android:11.1.1'

[2020-04-03 14:41] mshafrir-stripe commented on #2344
@ChiragSavsani closing as this is a duplicate of #486

[2020-04-03 14:41] #2344 closed

[2020-04-03 16:06] draza opened #2345 "'android:attr/colorAccent' not found problem"
I can't use Stripe library in my project, because there is one resource problem that I didn't know how to solve. I need to use Stripe as .aar library (in future I'll use it as an Android plugin for Unity). So I imported Stripe_14.2.1.aar to my Android test app with simple activity in Android Studio (min Android api level -> 19, Gradle Version 5.6.4, Gradle Plugin Version 3.6.2.)
  When I try to bu

[2020-04-03 16:13] mshafrir-stripe commented on #2345
stripe-android uses `com.google.android.material:material:1.1.0`. Is it possible that there's a dependency conflict? Can you try `1.1.0` instead of `1.2.0-alpha05`?

[2020-04-03 16:17] draza commented on #2345
I tried to change to **com.google.android.material:material:1.1.0.**, but there is even more problem :(

AAPT: error: resource android:style/TextAppearance.Material not found.
error: resource android:style/TextAppearance.Material.Body1 not found.
error: resource android:style/TextAppearance.Material.Body2 not found.
error: resource android:style/TextAppearance.Material.Button not found.
error: res

[2020-04-03 16:22] mshafrir-stripe commented on #2345
What version of Gradle and Android Gradle Plugin are you using?

[2020-04-03 16:23] draza commented on #2345
Gradle Version 5.6.4, Gradle Plugin Version 3.6.2.

[2020-04-03 16:29] mshafrir-stripe commented on #2345
@draza can you try updating to the latest Gradle Version, 6.3?

[2020-04-03 16:37] draza commented on #2345
Thanks for advice, but nothing changed. Gradle updated to 6.3., Gradle Plugin Version 3.6.2.

AAPT: error: resource android:style/TextAppearance.Material not found.
error: resource android:style/TextAppearance.Material.Body1 not found.
...

Android resource linking failed
AAPT: error: resource android:style/TextAppearance.Material not found.
error: resource android:style/TextAppearance.Material.Bo

[2020-04-03 16:43] draza commented on #2345
There is a link for my trivial Android Studio project on my gDisk:
https://drive.google.com/open?id=1tL0_HGBBQdtGisy6WMMu_Vx2N14t3hUu

[2020-04-03 17:09] mshafrir-stripe commented on #2345
@draza I just noticed you referenced the aar directly? Can you import the dependency as described here: https://github.com/stripe/stripe-android#configuration

[2020-04-06 05:06] ChiragSavsani commented on #2344
Thanks but Is card scan available for use now?

[2020-04-06 05:07] ChiragSavsani commented on #486
May I know the status of Card scan functionality? When It will be available for use?

[2020-04-06 09:20] thebillington opened #2348 "AddPaymentMethodActivity continuously loading, only adds card when back button pressed"
## Summary
I have just implemented Stripe into Android for the first time and the library is very clean, but I am having an issue when launching the AddPaymentActivity using:

[code]

When I use `shouldAttachToCustomer(false)` the Activity immediately finishes when the tick is pressed and my callback in `onActivityResult` is triggered in the calling Activity. However when I use `shouldAttachToCust

[2020-04-06 12:51] mshafrir-stripe commented on #486
@ChiragSavsani I don't have any updates to share at this time, but you can follow this issue to be notified of any future updates.

[2020-04-06 13:35] mshafrir-stripe commented on #2348
@thebillington I was able to verify that the scenario you described worked on my end. The response from your backend should look something like the JSON below. Can you verify that this is what you're receiving?

[code]

[2020-04-06 13:57] thebillington commented on #2348
@mshafrir-stripe I've tested the response from the ephemeral key endpoint and can verify that I'm receiving back:

[code]

I've done a lot more testing through the day and have been inspecting network traffic for the request. I have found that the first time I login on a brand new account the request is successful to add a card, however on any further requests the previously described issue occurs

[2020-04-06 15:11] thebillington commented on #2348
I have found a way to consistently get this to work by:

1. Logging out of the app (this removes the OAuth token)
2. Force closing the app (swiping up from recents)
3. Restarting the app and logging in

I initially thought that the issue may be on the server with using the same auth token (as an auth token refresh seems to do the trick), but if I simply logout and log back in the issue is still th

[2020-04-06 15:14] mshafrir-stripe commented on #2348
Can you try setting up your `CustomerSession` in your `Application` subclass?

[2020-04-06 15:19] thebillington commented on #2348
@mshafrir-stripe my architecture uses coroutines and `LiveData` to observe the api call meaning my endpoint to get the ephemeral key requires a lifecycle owner:

[code]

I will remove the need for the call to be lifecycle managed and try setting up the `CustomerSession` in my `Application` subclass as you suggested. I'll let you know the result.

[2020-04-07 10:30] thebillington commented on #2348
@mshafrir-stripe your solution worked.

Setting up the `CustomerSession` in the `Application` subclass was what was needed to ensure the ephemeral key is always fetched. To get it to work I had to change my call to the ephemeral key endpoint to no longer be a suspended coroutine call and return type `Call<String>` instead:

[code]

Then I updated the EphemeralKeyProvider:

[code]

Lastly I moved t

[2020-04-07 10:30] #2348 closed

[2020-04-07 12:52] mshafrir-stripe commented on #2348
@thebillington I'm glad to hear you figured it out

[2020-04-07 20:13] mshafrir-stripe commented on #2345
@draza I will attempt to reproduce your setup and let you know if I run into similar issues. Can you share other relevant dependencies you're using?

[2020-04-07 20:14] mshafrir-stripe commented on #2327
Duplicate of #2341

[2020-04-07 20:14] #2327 closed

[2020-04-08 11:37] mshafrir-stripe commented on #643
I'm no longer seeing these warnings on the latest version of the SDK.

[2020-04-08 11:37] #643 closed

[2020-04-08 15:13] draza commented on #2345
There is my whole gradle file:
`apply plugin: 'com.android.application'

android {
    compileSdkVersion 19
    buildToolsVersion "29.0.2"
    defaultConfig {
        applicationId "com.pavelplatil.stripetest"
        minSdkVersion 21
        targetSdkVersion 29
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
    }
    bui

[2020-04-08 22:31] fbartho commented on #655
@mshafrir-stripe Some customers are reporting this to us too.
At least one was on the `Pixel 3a XL` & they tried with 3 different credit cards.
![Screenshot of Android Pixel 3a XL not animating](https://user-images.githubusercontent.com/209712/78839750-ed8d8780-79ad-11ea-9324-ca4365fd030f.png)

We use `tipsi-stripe@8.0.0-beta.10` -- which corresponds to this: https://github.com/tipsi/tipsi-stripe/

[2020-04-08 22:34] fbartho commented on #655
@mshafrir-stripe Some customers are reporting this to us too.
At least one was on the `Pixel 3a XL` & they tried with 3 different credit cards.
![Screenshot of Pixel 3a XL with stuck animation](https://user-images.githubusercontent.com/209712/78839918-54ab3c00-79ae-11ea-9f52-2089812017e5.png)

We use `tipsi-stripe@8.0.0-beta.10` -- which corresponds to this: https://github.com/tipsi/tipsi-stripe/b

[2020-04-10 15:47] mshafrir-stripe commented on #655
@fbartho I recommend updating to the latest version, v14.2.1, and seeing if that resolves the issues you're experiencing.

[2020-04-10 15:54] fbartho commented on #655
I was lookin a the Changelog/Migration Guide and it looks like there are a heck of a lot of breaking changes between 10 and 14. I’m no Android expert/hadn’t been the one maintaining the tipsi-stripe Android, so this is going to be difficult. *sigh*

If you’re interested in moving Stripe for react-native in-house, I’d love to chat with you, as the CI for this project simply hasn’t worked since 2 ye

[2020-04-10 16:24] mshafrir-stripe commented on #655
@fbartho thanks for taking a look. Are you able to switch to using `CardMultilineWidget`?

[2020-04-10 16:27] fbartho commented on #655
That's a good idea. It would be a breaking change for the tipsi-stripe library, but then so is the Migration.

I'll take a look with the preference of upgrading, and fallback to the Multiline Widget if the upgrade takes too long.

[2020-04-13 09:05] justforjava opened #2372 "What is the difference between charge and payment when initiating payment"
Sir：As shown below, in webhooks Detail,
What is the difference between charge and payment when initiating payment？

![avatar](C:\Users\ll\Desktop\q1.png)

[2020-04-13 09:07] justforjava commented on #2372
![GitHub Logo](/D:/androidtest/q1.png)

[2020-04-13 09:08] justforjava commented on #2372
![GitHub Logo](D:\androidtest\q1.png)

[2020-04-13 09:13] justforjava commented on #2372
[question](D:\androidtest\q1.png)

[2020-04-13 09:14] justforjava commented on #2372
![qu](D:\androidtest\q1.png)

[2020-04-13 09:18] justforjava commented on #2372
![question](https://github.com/justforjava/test_clong/blob/master/q1.png)

[2020-04-13 11:56] mshafrir-stripe commented on #2372
@justforjava can you link to the docs you're looking at?

[2020-04-14 04:58] justforjava commented on #2372
When we initiate payment, the callback received is charge, but your demo here is the callback of payment, what is the difference between charge and payment?
Here is the link:    https://stripe.com/docs/webhooks/signatures

[2020-04-14 06:29] justforjava commented on #2372
I see it  。thanks！

[2020-04-14 06:29] #2372 closed

[2020-04-25 01:15] colinrtwhite opened #2426 "Sources aren't uploaded in the library's AAR."
## Summary
Code sources aren't being uploaded in the library's AAR. I tested on the latest version `com.stripe:stripe-android:14.3.0`. If you navigate to the library's sources in Android Studio it shows the decompiled sources.

## Installation method
Gradle

## SDK version
14.3.0

Let me know if I can provide more info!

[2020-04-26 08:12] BeantSingh96 opened #2427 "Failed to transform 'C:\Users\dell\.gradle\caches\modules-2\files-2.1\org.bouncycastle\bcprov-jdk15on\1.65\320b989112f00a63a3bcfa5a98f31a4f865a20fa\bcprov-jdk15on-1.65.jar' using Jetifier. Reason: null. (Run with --stacktrace for more details.)"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2020-04-26 15:04] mshafrir-stripe commented on #2427
@BeantSingh96 what versions of Gradle and Android Gradle Plugin are you using? How are you adding the SDK as a dependency?

[2020-04-26 15:06] mshafrir-stripe commented on #2426
@colinrtwhite thanks for filing. What version are upgrading from? Did that version correctly show sources?

I see `stripe-android-14.3.0-sources.jar` listed under https://oss.sonatype.org/service/local/repositories/releases/content/com/stripe/stripe-android/14.3.0/. I'll need to investigate why it isn't showing up for you when integrating.

[2020-04-26 21:33] colinrtwhite commented on #2426
Hmm I see the sources jar locally as well actually, but they aren't resolved in Android Studio. I'm able to reproduce by importing `com.stripe:stripe-android:14.3.0` into a new Android Studio project. If you create a new project are sources visible for you?

[2020-04-27 09:38] rcd27 opened #2428 "[BUG] PaymentSessionListener recieves non-null PaymentSessionData with null values"
## Summary
Initiating `PaymentSession` with `ComponentActivity` as constructor argument. Firing `paymentSession.presentPaymentMethodSelection()` from Fragment, and listening to `PaymentSession.PaymentSessionListener`, which receives non-null `PaymentSessionData`. But all fields are null there.
This bug can be fixed by passing an instance of `Fragment` to `PaymentSession` constructor.

## Android v

[2020-04-27 13:44] mshafrir-stripe commented on #2428
@rcd27 please make sure you're using the [PaymentSession constructor that accepts a `Fragment` instance](https://stripe.dev/stripe-android/com/stripe/android/PaymentSession.html#PaymentSession-fragment-config-). This should resolve your issue.

[2020-04-27 13:44] #2428 closed

[2020-04-27 14:59] mshafrir-stripe commented on #2426
@colinrtwhite I'm able to reproduce the issue and I've found a fix. This should be resolved for the next release. Thanks again for filing.

[2020-04-27 17:34] #2426 closed

[2020-04-28 10:21] mshafrir-stripe commented on #2427
@BeantSingh96 please re-open if you still need assistance with this isisue

[2020-04-29 04:12] Gior80 opened #2438 "after updating to 14.4 can't see more fromString on PaymentIntent and fromJson it's not present"
## Summary

We updated to 14.4.0.

We can no more see PAymentIntent.fromstring

as our backend give us back a PI_XXXXX. we have no way to re-create the paymentintent object to launch 3ds

## Code to reproduce

[https://postimg.cc/RWRYQrJ3](url)

## Android version

9
## Impacted devices

all
## Installation method

Gradle

## SDK version

 implementation 'com.stripe:stripe-android:14.4.0'

## Othe

[2020-04-29 06:38] rajeshrathi2007 commented on #2427
I also face this issue. I am using gradle version 5.4.1, plug in version 3.5.0 and dependency implementation 'com.stripe:stripe-android:14.4.0'

[2020-04-29 10:29] mshafrir-stripe commented on #2438
@Gior80 thanks for filing. Instead of passing the entire JSON representation of the PaymentIntent object from your backend to your app, you only need to pass the PaymentIntent's [`client_secret`](https://stripe.com/docs/api/payment_intents/object#payment_intent_object-client_secret). If you need the entire object, you can retrieve it on the client using [`Stripe#retrievePaymentIntent()`](https://s

[2020-04-29 10:29] #2438 closed

[2020-04-29 10:31] mshafrir-stripe commented on #2427
@rajeshrathi2007 what SDK version are you upgrading from? Can you try upgrading to the latest version of Gradle (6.3) and Android Gradle Plugin (3.6.3) and see if that resolves the issue? Also, how are you integrating the SDK dependency - can you share your `build.gradle` dependency?

[2020-04-29 14:20] mshafrir-stripe commented on #655
Given my unfamiliarity with React Native and the current inability of tipsi-stripe to update to the latest version of the Android SDK, I am going to close this issue with the recommendation to use `CardMultilineWidget`.

[2020-04-29 14:20] #655 closed

[2020-04-29 16:21] abedsh opened #2440 "Can't catch an illegal argument exception"
## Summary
I can't catch an illegal argument exception throws on confirmPayment, even though try catch surrounds the method that causes it

## Code to reproduce
[code]
uncaught exception is
[code]
## Android version
7.0

## Impacted devices
no

## Installation method
Dub mode

## SDK version
14.4.0

## Other information

[2020-04-29 18:25] mshafrir-stripe commented on #2440
@abedsh thanks for filing. I posted a PR to correctly handle this exception and return it via `ApiResultCallback#onError()`.

That said, it appears that you are passing an invalid client_secret [0] to `Stripe#confirmPayment()`. PaymentIntent client_secrets should start with `pi_`, not `cs_`.

[0] https://stripe.com/docs/api/payment_intents/object#payment_intent_object-client_secret

[2020-04-29 18:53] #2440 closed

[2020-04-30 10:51] thebillington commented on #486
@mshafrir-stripe is there an update on this functionality? One of our clients explicitly wants card scan functionality, we chose Stripe as we know it is supported on the iOS version by default with the Stripe prebuilt components.

If there are no plans to add this functionality then would it be possible to do so with a custom implementation without using the pre-built components? I would like to k

[2020-04-30 11:10] rajeshrathi2007 commented on #2427
I cannot share my gradle file to you...but if i use 14.0.0 stripe version then this issue is not observed on same gradle version 5.4.1 and plugin version 3.5.0

[2020-04-30 11:14] mshafrir-stripe commented on #2427
@rajeshrathi2007 Can you try updating your Gradle + AGP versions as mentioned in my previous comment?

Does the `build.gradle` dependency look exactly like this?

[code]

[2020-04-30 12:03] ymane commented on #2427
i am also facing same issue but issue with `android.enableJetifier=true`

[2020-04-30 18:43] #2427 closed

[2020-04-30 19:27] mshafrir-stripe commented on #2427
stripe-android v14.4.1 has been released, which should fix this issue

[2020-05-02 08:47] Flo354 commented on #1432
@mshafrir-stripe sorry for the (very) long delay to answer... I only had a chance to test this today.

So, I was able to customize the button like this:

[code]

So I guess it works and the issue can stay closed.

Thanks for your help,

[2020-05-06 06:47] odedharth commented on #2341
Hi @csabol-stripe,

I saw that you've started working on this a month ago, but the PR has not been merged: https://github.com/stripe/stripe-android/pull/2347

I'm wondering if you have an estimation of when will this feature be ready?

[2020-05-07 13:44] Philio opened #2457 "3DS2 customisation doesn't seem to work"
## Summary
Adding PaymentAuthConfig doesn't change 3DS2 screen

## Code to reproduce
        PaymentAuthConfig.init(
            PaymentAuthConfig.Builder()
                .set3ds2Config(
                    PaymentAuthConfig.Stripe3ds2Config.Builder()
                        .setTimeout(5)
                        .setUiCustomization(
                            PaymentAuthConfig.Stripe3ds2UiCust

[2020-05-07 13:46] mshafrir-stripe commented on #2457
@Philio did you configure `PaymentAuthConfig` before instantiating your `Stripe` instance?

[2020-05-07 13:56] Philio commented on #2457
@mshafrir-stripe It's in `Application.onCreate()` so it should be. I stuck a breakpoint on `PaymentAuthConfig.get()` to confirm that the correct version with customisations is returned and it looks correct.

[2020-05-07 16:01] mshafrir-stripe commented on #2457
@Philio I'll investigate why your configuration isn't being picked up.

In the meantime, can you try creating `PaymentAuthConfig.Stripe3ds2UiCustomization.Builder` with `createWithAppTheme(activity)`? This should pick up your app theme and style the challenge screen accordingly. You'll need to move this code into an `Activity`.

[code]

[2020-05-07 18:55] Philio commented on #2457
Hi @mshafrir, that didn't do anything either unfortunately.
I am using card widget + Google pay with server side payment intents, if this helps. Hence the 3DS UI is the only activity from the Strip SDK in use.
`Stripe` object is lazy injected in the checkout flow when we first call `createPaymentMethod`.

[2020-05-08 09:26] odedharth opened #2459 "Disable deletion of payment methods"
In the Stripe iOS SDK there is a config option for disabling the option to delete payment methods:
`config.canDeletePaymentOptions = false`

Can you add to the Android SDK as well?

[2020-05-08 11:01] n-sviridenko commented on #1519
No. It doesn't work even on `10.4.6`

[2020-05-08 11:02] n-sviridenko commented on #1519
It also fails downloading video-streams. Here are the details: https://github.com/tipsi/tipsi-stripe/issues/538#issuecomment-625741192

[2020-05-08 11:02] n-sviridenko commented on #1519
@mshafrir-stripe

[2020-05-08 11:08] n-sviridenko opened #2460 "[Urgent] Cannot play videos when stripe-android@10.4.6 is installed 🚨"
## Summary

1. [Expo AV](https://github.com/expo/expo/tree/master/packages/expo-av) fails to download video streams
2. Firebase Auth fails to request a device token

And all this caused by:

[code]

## Code to reproduce

Here's the repo: https://github.com/stripe/stripe-android/issues/2460#issuecomment-626153937

## Android version

Android 10.0

## Impacted devices

Pixel 2 (API 29, emulator). It

[2020-05-08 13:58] mshafrir-stripe commented on #2460
@n-sviridenko thanks for filing. We'll investigate the issue internally and get back to you.

[2020-05-08 13:59] mshafrir-stripe commented on #2460
@n-sviridenko does downgrading to an earlier version of the SDK that doesn't present this issue work for you?

[2020-05-08 17:58] n-sviridenko commented on #2460
@mshafrir-stripe we need SCA support, so there is no possibility for downgrading, unfortunately.
In the other issue I liked it was happening even to `9.xx`. So we need to investigate further.
It postponed our launch for **7 days** and continues blocking us, we spent a week on debugging this issue before determining that Stripe was the root cause.
We appreciate if you can prioritize this. Thanks!

[2020-05-08 20:46] mshafrir-stripe commented on #2460
@n-sviridenko this seems to be related to a [known issue between Expo and BouncyCastle](https://github.com/expo/expo/issues/5688). BouncyCastle is a cryptography library that is required for 3DS2/SCA.

[2020-05-08 20:49] mshafrir-stripe commented on #2459
@odedharth thanks for filing. I've added this request to our backlog.

[2020-05-08 21:03] n-sviridenko commented on #2460
@mshafrir-stripe interesting. The issue is that it works and gets successfully published to google play. But once Stripe is added, it starts performing security checks. What’s the easiest workaround until the issue is not resolved?

[2020-05-08 21:20] mshafrir-stripe commented on #2460
Can you try updating your app's build.gradle to include the following and see if it resolves the issue?

[code]

[2020-05-08 22:54] mshafrir-stripe commented on #1569
@Nahani Can you try updating your app's build.gradle to include the following and see if it resolves the issue?

[code]

[2020-05-09 08:48] n-sviridenko commented on #2460
@mshafrir-stripe we did this before. It never helped, unfortunately.

[2020-05-09 09:38] n-sviridenko commented on #2460
@mshafrir-stripe furthermore, I don't think it's related to https://github.com/expo/expo/issues/5688 as we upgraded to `36.1.0-rc.0` which doesn't contain SpongyCastle references any longer and the app still fails.

[2020-05-09 11:30] n-sviridenko commented on #2460
@mshafrir-stripe I created a repo reproducing the issue and all recommendations applied there which don't work at the end: https://github.com/n-sviridenko/stripe-expo-av-android-bug/tree/stripe-fix (steps to reproduce are below in the README)
Here's the PR showing the diff: https://github.com/n-sviridenko/stripe-expo-av-android-bug/pull/1/commits

We're getting when trying to play a video using `e

[2020-05-09 11:31] n-sviridenko commented on #2460
Feel free to play with it and submit a PR.

[2020-05-11 05:18] tinydiv333 opened #2463 "CardInputWidget auto focus in edit text"
How to remove CardInputWidget auto focus ?? i tried focusedByDefault="false" but it didn't work and my scrollview scroll whenever loading my screen get focused on CardInputWidget control.

[2020-05-11 06:17] sharadrb commented on #655
We are trying to integrate Stripe-Android to react native as well and facing same issue. Card number does not animate and shrink and because of this I can not see CVC number. Any help will be highly appreciable.

We are using Stripe Android 14.4.1 and Android SDK 29.

[2020-05-11 10:23] mshafrir-stripe commented on #655
@sharadrb as mentioned above, I recommend using [CardMultilineWidget](https://stripe.dev/stripe-android/com/stripe/android/view/CardMultilineWidget.html) instead.

[2020-05-11 14:01] mshafrir-stripe commented on #2460
Thanks for sharing. I left a comment on the PR.

[2020-05-11 14:58] hmercade opened #2465 "Card validation failing with some specific cards"
For some specific cards, Android SDK is reporting invalid card number (card number field in red in the widget, while iOS sdk says ok and adding the card manually to stripe works.

It seems that `isValidCardLength` in `CardUtils` is returning false. This seems to happen because `getPossibleCardBrand` is returning `Unknown` for these cards (they are correctly identified in iOS).

This has happened t

[2020-05-11 14:58] sharadrb commented on #655
@mshafrir-stripe
Thank you for suggesting workaround.  CardMultilineWidget did work. Is there equivalent to CardMultilineWidget in iOs as well? We want similar UI behavior in Android and iOs

[2020-05-11 15:17] mshafrir-stripe commented on #655
@sharadrb unfortunately there currently isn't a multiline widget in the iOS SDK

[2020-05-11 15:23] mshafrir-stripe commented on #2465
@hmercade thanks for filing. Can you share the BIN of the card you're testing with? This would be the first 6 numbers of your card.

[2020-05-11 15:26] hmercade commented on #2465
Edited the issue with the BIN number

[2020-05-11 18:09] #2465 closed

[2020-05-11 18:54] smaskell-stripe commented on #2463
Hi @tinydiv333. Can you provide more context for where you're using CardInputWidget? Is it in a fragment? Any sample code would help.

[2020-05-11 22:19] #2463 closed

[2020-05-12 03:11] abedsh opened #2478 "How to close Secure Checkout when needed"
## Summary
Is there a way to check if the Secure Checkout form has opened so I can handle session time out on the app by closing it in case the user is idle on it for a specific period of time ?

## Code to reproduce
  I am following the [basic accept payment tutorial](https://stripe.com/docs/payments/accept-a-payment) with the test card that triggers the secure checkout process (4000002500003155)

[2020-05-12 16:29] condesales commented on #1853
you should do the same to all resources, not only drawables
![image](https://user-images.githubusercontent.com/1881318/81720255-105fff80-9476-11ea-91e8-1c10096ca61b.png)

[2020-05-13 09:07] K4KYA opened #2481 "Lint error related to bouncycastle"
## Summary

Lint throws an error on Stripe 14.0.0+
<img width="660" alt="Screenshot 2020-05-13 at 10 02 16" src="https://user-images.githubusercontent.com/1469780/81793555-70e84e80-9501-11ea-801d-2381b452799e.png">

## Code to reproduce

Include the stripe dependency and run lint

## Android version

Any

## Impacted devices

Any

## Installation method

Gradle

## SDK version

14.4.1 (but seen th

[2020-05-13 13:39] mshafrir-stripe commented on #2481
@K4KYA thanks for filing. Was this happening prior to 14.0.0, for example on 13.2.0?

Can you provide the following:
- How are you specifying your dependency?
- What version of Gradle are you using?
- What version of Android Gradle Plugin are you using?

[2020-05-13 13:40] mshafrir-stripe commented on #2478
@abedsh thanks for filing. By "Secure Checkout" do you mean the 3DS2 challenge screen?

[2020-05-13 16:09] freszu opened #2482 "3ds2Auth result is never delivered to calling fragment"
## Summary

After update from 12.8.x to 14.4.1 result of 3ds auth is not delivered to fragment.
I believe the cause is these changes: https://github.com/stripe/stripe-android/commit/1ed92155099af844486867ff8364fa0693b33a5e
Which tried to fix issue with result never being delivered once configuration change occurs. It seems to me that Stripe is trying really hard to fight the system... It should de

[2020-05-13 17:08] mshafrir-stripe commented on #2482
@freszu thanks for filing. Would you be able to pass the `onActivityResult` call from the `Activity` to the `Fragment`? That's what we're doing in FragmentExamplesActivity https://github.com/stripe/stripe-android/blob/787d1401b6b74d3aa57e347bcf296fa37da1d8e6/example/src/main/java/com/stripe/example/activity/FragmentExamplesActivity.kt#L49

Meanwhile I'll investigate if there's a fix for this issue

[2020-05-13 17:29] abedsh commented on #2478
Correct

On Wed, May 13, 2020, 9:40 AM Michael Shafrir <notifications@github.com>
wrote:

[2020-05-13 19:26] freszu commented on #2482
That's not an option - stripe functionality is enclosed in fragment and can be used across many activities and nested in other fragments. Doing it proposed way enforces hard coupling and should always be avoided.

[2020-05-13 19:27] mshafrir-stripe commented on #2482
@freszu I found the issue, and verified the fix. It should be available in the next release.

[2020-05-14 02:48] mshafrir-stripe commented on #2478
@abedsh does configuring a timeout as explained in https://stripe.com/docs/payments/3d-secure#when-to-use-3d-secure work for you?

[2020-05-14 14:42] abedsh commented on #2478
Thank you, this can help but will the form dispatch any event that I can
listen to when it closes ?

On Wed, May 13, 2020 at 10:48 PM Michael Shafrir <notifications@github.com>
wrote:

[2020-05-14 14:47] mshafrir-stripe commented on #2478
You can be notified of the event in `onActivityResult()` via `Stripe#onPaymentResult()`. The outcome value will be `Outcome.TIMEDOUT`.

[2020-05-15 10:24] calvarez-ov opened #2493 "3DS v1: isn't webview inherently insecure?"
If I understand correctly, for 3DS **version 1**, the Stripe android sdk displays the bank page inside a WebView.  (I know this isn't an issue for version 3DS2, which uses a native activity instead of Webview)

Even though an app integrating this sdk may promise to behave well, and not capture data the user inputs, webviews are inherently insecure, from what I understand.

Here are a few examples/

[2020-05-15 17:25] #2482 closed

[2020-05-16 21:32] rscherf opened #2503 "PaymentIntentParameters.setDescription() is being ignored by API when using Stripe Terminal"
## Summary
The `description` parameter is not passed along via the SDK to Stripe. Although I am setting it via the `PaymentIntentParameters` builder, I cannot seem to get it to persist at Stripe. The PaymentIntent succeeds, but `description` is ignored.

## Code to reproduce
[code]
Here is a TEST mode request, which shows `description` as `null`. `req_LkDIGwE4APei9x`

## Android version
compile/ta

[2020-05-16 21:34] #2503 closed

[2020-05-18 13:38] mshafrir-stripe commented on #2493
@calvarez-ov thanks for filing this detailed ticket. We'll investigate this issue and get back to you soon.

[2020-05-18 13:44] mshafrir-stripe commented on #2460
@n-sviridenko bumping https://github.com/stripe/stripe-android/issues/2460#issuecomment-626720150

[2020-05-18 13:45] mshafrir-stripe commented on #2481
@K4KYA please reopen if you still need assistance with this issue

[2020-05-18 13:45] #2481 closed

[2020-05-18 14:40] mshafrir-stripe commented on #2457
@Philio I was able to successfully get your UI customizations to apply in our example app by adding them to `StripeFactory` before creating the `Stripe` instance.

![3ds2](https://user-images.githubusercontent.com/45020849/82225948-dd918d80-98f3-11ea-96e5-7b33f2cb9c09.gif)

[2020-05-18 17:15] K4KYA commented on #2481
@mshafrir-stripe

Sorry, on those points we're currently using: 13.2.0 and not seeing this issue.

The dependency is specified in gradle using:

`implementation "com.stripe:stripe-android:13.2.0"`

We're using the Android Gradle Plugin `3.6.3`

[2020-05-18 17:33] abedsh commented on #2478
I have successfully configured a PaymentAuthConfig with a timeout , the
challenge screen is closing accordingly, but I am not receiving any event
on onActivityResult() . This also applies to when the user closes the
challenge screen by pressing on the cancel button

Test was made on card (4000000000003220)

On Thu, May 14, 2020 at 10:47 AM Michael Shafrir <notifications@github.com>
wrote:

[2020-05-18 20:02] mshafrir-stripe commented on #2478
@abedsh can you share code so I can see your implementation?

[2020-05-19 02:11] abedsh commented on #2478
Sure,

[code]

[2020-05-19 10:35] mshafrir-stripe commented on #2478
Use [PaymentIntentResult#getOutcome()](https://stripe.dev/stripe-android/com/stripe/android/PaymentIntentResult.html), and then compare the value against the [Outcome](https://stripe.dev/stripe-android/com/stripe/android/Outcome.Companion.html) constants. Specifically, [Outcome.TIMEDOUT](https://stripe.dev/stripe-android/com/stripe/android/Outcome.Companion.html#TIMEDOUT).

[2020-05-19 10:37] mshafrir-stripe commented on #2481
What version of Gradle are you using? Check `gradle-wrapper.properties`.

[2020-05-19 11:02] abedsh commented on #2478
@mshafrir I am not even receiving any events that triggers a call to onActivityResult when the form closes by itself on timeout

[2020-05-19 13:20] mshafrir-stripe commented on #2478
@abedsh I can't reproduce this issue - I get a callback when I cancel the 3DS2 challenge screen. Can you try reproducing with our example app?

[2020-05-19 15:24] abedsh commented on #2478
@mshafrir-stripe I am not sure if all the test card are supposed to behave the same, I just need a way to consistently tell when a challenge screen is closed either by the user or automatically (by  time out) so I can probably integrate it in the payment flow of my app

With card (4000002500003155):

-  onActivityResult is called when I press on the close button of the challenge screen
-  The chal

[2020-05-19 15:29] mshafrir-stripe commented on #2478
@abedsh in your example, what is the superclass of `PackageOrderStripePaymentWorkflow`?

[2020-05-19 15:39] abedsh commented on #2478
@mshafrir-stripe PackageOrderStripePaymentWorkflow is a Fragment with a BottomSheetDialogFragment parent

[2020-05-19 15:42] mshafrir-stripe commented on #2478
There is a bug where the 3DS2 challenge flow is launched from the Fragment's Activity instead of from the Fragment itself. This was fixed in #2494 but hasn't been released yet. In the mean time, you can override `onActivityResult` in your Activity and pass to the Fragment.

[2020-05-19 15:42] #2478 closed

[2020-05-20 21:56] smaskell-stripe commented on #2314
@jose-t thanks for filing. @shengwei-stripe is this covered by your fix for #2459 ?

[2020-05-21 05:58] jose-t commented on #2314
@smaskell-stripe yes perfectly. Thank you!

[2020-05-21 05:58] #2314 closed

[2020-05-21 16:36] jakeaaron opened #2515 "Tint CardBrandView in CardInputWidget"
## Summary
I'm having trouble figuring out how to tint the CardBrandView image for the case when `brand == CardBrand.Unknown`

I can see that it uses a `tintColorInt` to tint it but it's an internal field in an internal class that I can't access without reflection.

Looking at the `CardInputWidget` it appears that changing the `hintTextColors` for the `EditText` associated with the brand view woul

[2020-05-21 17:16] #2459 closed

[2020-05-27 06:32] hzjchina opened #2522 "a problem about locale"
after
     implementation 'com.stripe:stripe-android:14.4.1'
and do nothing
"
Configuration configuration = getResources().getConfiguration();
configuration.setLocale(Locale.ENGLISH);//different phone
createConfigurationContext(configuration);
"

this code cannot work
the locale can not change.
"getResources().getConfiguration()" get result, the locale all the same (same of phone)

[2020-05-27 13:16] CoreFloDev opened #2523 "tint the check image on toolbar"
## Summary
I can't tint the check image on the toolbar to add a card as you can see on the screenshot, it is black and I would like it to be green

I have already tried:
- overriding the asset
- overriding the attribute used by the asset
- changing the attributes on the StripeToolBarStyle

## Android version
android 10

## Installation method
I used the guide on the stripe doc https://stripe.com/d

[2020-05-28 15:41] mshafrir-stripe commented on #2522
@hzjchina thanks for filing. It's unclear to me what the issue you're experiencing is. It should be unrelated to the Stripe SDK.

[2020-05-28 15:59] mshafrir-stripe commented on #2523
@CoreFloDev thanks for filing. In that screenshot, what attribute are you setting as green?

FYI the tint color currently comes from `"titleTextColor"`:

https://github.com/stripe/stripe-android/blob/19316e6449373d336f323312e264f0fd0b3e8a49/stripe/src/main/java/com/stripe/android/view/StripeActivity.kt#L83

[2020-05-28 21:03] CoreFloDev commented on #2523
Thanks, I found the issue with your comment, if I want you only have the icon tinted, it require to use the attribute twice. I have joined the code I used for reference in case it help some else.
[code]
Result
![device-2020-05-28-230253](https://user-images.githubusercontent.com/1541410/83193472-6223ad80-a137-11ea-9ad5-a20567397432.png)

[2020-05-28 21:03] #2523 closed

[2020-05-29 09:39] ccmtmp opened #2528 "Any way to add an email address field to shipping address form ?"
Is there a way to add an additional input field `Email Address` to Address.Builder() like iOS's requiredShippingAddressFields() configuration ?

[2020-05-30 10:32] noahutz commented on #2296
This has been reported closed but I am still receiving the same error when running lint check. I am using version `14.4.1` on a clean Android app.

[2020-06-01 11:03] hzjchina commented on #2522
I found that the SDK affects the execution of this code. The results of the code execution are different before and after using the SDK. After using the SDK, can not change my app's locale.

[2020-06-03 03:00] FuckSky opened #2538 "Your card dose not support this type of purchase! But IOS devices can use this card"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2020-06-03 03:05] #2538 closed

[2020-06-03 07:14] isthisshivam commented on #1604
@shubhamssinghal
I have tried via testing cards but its not allowing me to make a payment  when using Amex Card because it's have 4 digit cvv
Please tell me the solution  , if anyone is genious

[2020-06-07 18:23] niqo01 opened #2550 "DiskReadViolation exception when creating a Stripe object"
## Summary
When enabling Android Strict mode, creating a "Stripe" object result in DiskReadViolation.

## Code to reproduce
Enable Android Strict mode.
Inside an Android fragment create a Stripe object:
[code]

## Android version
Android 10

## Impacted devices
Pixel 2 XL

## Installation method
Android ADB

## SDK version
Target SDK: 29
Min SDK: 21

## Other information
Stacktrace:
[code]

[2020-06-08 20:14] mshafrir-stripe commented on #2528
@ccmtmp unfortunately this isn't something we support at this time. We can explore adding it in a future release.

[2020-06-08 23:42] #2550 closed

[2020-06-09 00:24] ccmtmp commented on #2528
I see, thanks!

[2020-06-09 00:24] #2528 closed

[2020-06-09 15:33] minhazur-piash opened #2560 "Function to check card is added on google pay"
## Summary
In stripe iOS sdk, there is a function to check whether apple pay is enabled that means card is added on apple pay to make payment. It'd be helpful if there was a similar function in android sdk as well that helps to know whether google pay is enabled and the card is added there.

## Android version
Android with minimum sdk level 21

## Impacted devices
Every android device has this pro

[2020-06-09 18:17] mshafrir-stripe commented on #2560
@minhazur-piash if I understand correctly, you want a means to check if Google Pay is available and whether a given card exists in the customer's Google Pay wallet?

The [Google Pay API for Android tutorial](https://developers.google.com/pay/api/android/guides/tutorial#isreadytopay) shows an example for how to check for Google Pay availability.

Can you give me an example of why you would need to

[2020-06-09 20:11] mshafrir-stripe commented on #2522
@hzjchina do you have a sample project that can reproduce this behavior? Can you try upgrading to 14.5.0 and confirm if the behavior exists there?

[2020-06-09 20:12] mshafrir-stripe commented on #2296
@noahutz you can add the following to your Lint rules:

[code]

I'll continue to explore if there's a way to avoid this rule.

[2020-06-09 23:45] minhazur-piash commented on #2560
@mshafrir Thanks for the doc. In our app, there are two buttons on subscription page one to add a payment method and another to add a shipping address. If a user has already added card in his google wallet, he is most likely to make the payment using google pay and I don't need to show him the add shipping address button cause it'll be provided from google pay. Hope that's clear to you.

[2020-06-10 12:48] pvarry opened #2564 "Localized error message for end users"
## Summary
There is a way to have localized error message returned by Stripe SDK and directly displayable to the end user ?
This is to avoid create error message for every error in multiples languages. I search on the documentation but I found only one thing, a error message only usable internally and not localized : `result.intent.lastSetupError?.message`.
One other thing, SDK for iOS have locali

[2020-06-10 14:15] CoreFloDev opened #2567 "Missing api to add a default payment method"
## Summary
I believe there is a missing api on the sdk to add a default payment method. At the moment, it is possible to add a default method only via a source but that seems to be deprecated as https://stripe.com/docs/sources. Is it possible to add a way to set a default payment method via a com.stripe.android.model.PaymentMethod.id ?

## SDK version
14.5.0

[2020-06-10 15:15] freszu opened #2573 "Config change cause result never being delivered to the fragment"
## Summary

related #2482
related #1937
I've actually commented once about this already in https://github.com/stripe/stripe-android/issues/1937#issuecomment-566135730 - the issue indeed seems to be fixed for activities but its still occurring in case of using the stripe in fragment and is reproducible in the sample - FragmentExampleFragments
## Steps to reproduce

1. Open Fragment Examples
2. Star

[2020-06-10 15:22] freszu opened #2574 "Examples: StrictModeViolation - DiskReadViolation on payment auth fragments"
## Summary

Came across this while creating #2571  and #2568  - didn't investigate it further.
## Code to reproduce

Start auth on FragmentExamples - think this also occurs on activity ones as well
[code]

[2020-06-10 17:38] #2574 closed, assigned to mshafrir-stripe

[2020-06-10 20:57] #2567 closed, assigned to nobody

[2020-06-11 06:33] odedharth opened #2578 "Google Pay Review Issue"
## Summary

We've implemented the google pay integration using the latest Stripe SDK, and applied for the Google Pay Review with screenshots from our app.

We have received the following response from Google

They attached to the email the following screenshot:
![Screenshot 2020-06-10 at 12 14 31 PM](https://user-images.githubusercontent.com/624023/84352744-8dda7500-abc6-11ea-9732-6c2e8a86df8d.png

[2020-06-11 12:35] ezet commented on #2296
I am also experiencing this issue on `14.5.0`.

[2020-06-11 14:43] mshafrir-stripe commented on #2578
@odedharth how are you taking a screenshot? It looks like there are artifacts on the icon that I'm not able to reproduce. What device/API are you rendering on?

[2020-06-11 19:34] CoreFloDev opened #2583 "Issue with 3DS: Missing required view with ID: brandLogo"
## Summary
App crash when trying to display the 3ds view with the testing card 4000 0000 0000 3220

## Code to reproduce
Call
[code]

## Android version
android 10

## Impacted devices
Samsung s10e

## SDK version
14.5.0 or 14.4.1

## Other information

Stacktrace
[code]

[2020-06-11 19:58] mshafrir-stripe commented on #2583
@CoreFloDev thanks for filing. Can you verify if this is happening with 14.4.1?

[2020-06-11 20:03] CoreFloDev commented on #2583
yes I have tried both version because the 3ds sdk version isn't the same on both

[2020-06-11 21:03] CoreFloDev commented on #2583
@mshafrir-stripe is it because I don't specify a `returnUrl` when I call the confirm payment? Where can I find that `returnUrl` ?

[2020-06-11 21:20] CoreFloDev commented on #2583
I have tried downgrading until 14.0.0 it still crash for a Null pointer exception on a drawable asset this time. At the moment, does 3ds V2 have to work if I want to do a release? The crash happens only on 3DS V2

[2020-06-12 02:44] mshafrir-stripe commented on #2583
@CoreFloDev I tried reproducing with `minifyEnabled true` but couldn't trigger the crash. What versions of Gradle and Android Gradle Plugin are you using?

[2020-06-12 04:29] TankJK opened #2585 "Getting error No such SetUpIntent for version 14.5.0"
## Summary

We have two different Android applications which is using Stripe.

First application is using Java and has 10.4.2 Stripe Android SDK. This application is able to get setupIntentClientSecret  from server and confirmSetupIntent successfully.

Second application is using Kotlin and 14.5.0 Stripe Android SDK. Application is able to get the setupIntentClientSecret from server and than Confi

[2020-06-12 07:07] CoreFloDev commented on #2583
Hi @msaffitz-stripe

I have tried with:
[code]
and the crash still happen.

I am using:

[2020-06-12 07:45] CoreFloDev commented on #2583
@msaffitz-stripe what's the layout file name for ChallengeProgressDialogActivity? I might have a clash with it

[2020-06-12 08:07] CoreFloDev commented on #2583
found it, I got a layout that also have the name progress_view_layout

[2020-06-12 08:07] #2583 closed

[2020-06-12 13:12] mshafrir-stripe commented on #2583
@CoreFloDev I will update the layout resource to prefix with `stripe_`

[2020-06-12 15:27] mrjameshamilton opened #2586 "ProGuard -keep rule for bouncycastle keeps too much"
## Summary

The recently added ProGuard rule in commit [f28fa31ff1072f0f6104c39fbe27c267bbf68008](https://github.com/stripe/stripe-android/commit/f28fa31ff1072f0f6104c39fbe27c267bbf68008) has the effect of keeping **all classes except `org.bouncycastle.jce.provider.X509LDAPCertStoreSpi`**.

In the ProGuard configuration format `!org.bouncycastle.jce.provider.X509LDAPCertStoreSpi` is equivalent to

[2020-06-12 16:20] #2586 closed

[2020-06-12 16:28] mshafrir-stripe commented on #2585
@TankJK I can't reproduce the error on my end. Can you share the id of the testmode SetupIntent?

[2020-06-12 17:44] TankJK commented on #2585
@mshafrir-stripe I have generated many during my testing, one of the SetUpIntent id is seti_1GsjwNFvbisHamMm673vPHbQ.
Another issue which I faced was that by default the CardInputWidget was white, so not able to view it on app.  I need to set android:theme="@style/Stripe3DS2Theme" to view it properly.

[2020-06-12 20:10] mshafrir-stripe commented on #2585
@TankJK are you using Connect?

[2020-06-13 00:07] minhazur-piash opened #2591 "Adding Gpay card as payment method doesn't update shipping address on stripe"
## Summary
If a user adds Gpay card as a payment method, the shipping address is auto-populated so the user doesn't need to fill the shipping address. But this doesn't update the customer's shipping address on stripe.

## Code to reproduce

## Android version
Android with minimum sdk level 21

## Impacted devices
Every android device has this problem

## Installation method
Installed as gradle dep

[2020-06-13 04:33] briskemen commented on #1466
Now, I use sdk version v14.5.0, It still build fail : This feature requires ASM6

[2020-06-13 04:37] briskemen opened #2592 "Build fail with Stripe sdk v14.5.0 : This feature requires ASM6"

[2020-06-13 05:19] TankJK commented on #2585
@mshafrir-stripe I didnt get your point. Can you please elaborate it? Even if its Connect, it is working with our other apps which has Android Java and Stripe SDK Version 10.4.2.

In this new Android app, com.stripe:stripe-android:14.5.0 and Kotlin is used.

We have launch coming and we need to solve this issue asap as we are using Stripe in all our apps.

There are basically 2 issues:
1. No such

[2020-06-13 23:12] mshafrir-stripe commented on #2592
What version of Gradle and Android Gradle Plugin are you using? Can you try upgrading to the latest of both?

[2020-06-13 23:16] mshafrir-stripe commented on #2585
@TankJK can you add your email to your profile so I can contact you?

[2020-06-14 13:23] odedharth commented on #2578
@mshafrir it is with Galaxy S8, with the latest Stripe SDK.

This is not happening because of the way I'm taking the screenshot, I can see the issue on the screen regardless.

[2020-06-14 14:54] briskemen commented on #2592
sorry, Android Gradle Plugin is 3.6.1 and Gradle version is 5.6.4

[2020-06-15 09:26] mshafrir-stripe commented on #2592
@briskemen Did you try upgrading to Android Gradle Plugin 4.0.0 and Gradle 6.5? Can you share your dependencies list?

[2020-06-15 09:29] mshafrir-stripe commented on #2585
@TankJK can you also share a request id from one of the failed requests? It is a field on the `InvalidRequestException` object.

[2020-06-15 09:30] mshafrir-stripe commented on #2578
@odedharth can you verify if the issue is happening on other devices?

[2020-06-15 10:02] TankJK commented on #2585
@mshafrir-stripe I have just now tried and it failed. Request ID is req_LkPHJwdbP0wxfH and detailMessage is No such setupintent: seti_1GuF7mFvbisHamMmw80kXCUr

[2020-06-15 10:12] mshafrir-stripe commented on #2585
`seti_1GuF7mFvbisHamMmw80kXCUr` is owned by a different account than the one making the confirmation request. Are you specifying an account id when you are confirming the SetupIntent?

[2020-06-15 10:55] TankJK commented on #2585
@mshafrir-stripe
I have just specifying the stripe_key while instantiating the Stripe object as follows:
PaymentConfiguration.init(context,stripeKey)
Stripe(context,PaymentConfiguration.getInstance(context).publishableKey)

Client secrets for confirming the SetupIntent are returned by server.  This has to be true as our one of the app is using the same and it's working.

[2020-06-15 11:14] mshafrir-stripe commented on #2585
How are you creating the SetupIntent on your backend?

[2020-06-15 11:15] mshafrir-stripe commented on #2585
@TankJK can you share more of your code?

[2020-06-15 11:24] TankJK commented on #2585
@mshafrir-stripe

[code]

[2020-06-15 11:39] mshafrir-stripe commented on #2585
I would also compare the secret key that you're creating the SetupIntent with and the publishable key you're using on the client and verify that they're from the same pair. Somewhere you're not using the correct value. I can confirm this by the fact that you're confirming a SetupIntent owned by another account.

[2020-06-15 11:39] mshafrir-stripe commented on #2585
Can you add your email address? I can provide you with more details.

[2020-06-15 11:43] TankJK commented on #2585
jignesh@lattis.io

[2020-06-15 12:10] TankJK commented on #2585
@msaffitz-stripe Hope you have noted the email, if not, please let me know.

[2020-06-15 12:20] odedharth commented on #2578
Yes, this is happening on other devices as well.

On Mon, Jun 15, 2020 at 12:30 PM Michael Shafrir <notifications@github.com>
wrote:

--
עודד

[2020-06-15 12:49] TankJK commented on #2585
@mshafrir-stripe Just trying to understand that app don't have any other account information throughout the application, how can it be different.
Also, our other Android application using 10.4.2 version of stripe SDK has same stripe_key and its working well.
Also, if you have not noted my email address, please let me know. I can put here back.

[2020-06-15 12:56] mshafrir-stripe commented on #2578
Here's a screenshot taken from my Pixel 3a. I don't see the artifacts.

<img width="433" alt="Screen Shot 2020-06-15 at 8 54 27 AM" src="https://user-images.githubusercontent.com/45020849/84659787-f63a9680-aee5-11ea-9d0b-a2e0012c8092.png">

[2020-06-15 12:56] mshafrir-stripe commented on #2585
Moved to email.

[2020-06-15 12:56] #2585 closed

[2020-06-15 13:02] mshafrir-stripe commented on #2460
Please re-open if you still need assistance.

[2020-06-15 13:02] #2460 closed

[2020-06-15 14:09] minhazur-piash commented on #2578
This is how it looks on my Xiaomi mi a1 device. As you can see the **google pay** image is pixelated.

<img width="508" alt="Screenshot 2020-06-15 at 8 03 19 PM" src="https://user-images.githubusercontent.com/11093179/84666737-45fb7b00-af43-11ea-866e-21fbb3ed16e8.png">

[2020-06-15 14:28] briskemen commented on #2592
I upgrading to  Android Gradle Plugin 4.0.0 and Gradle 6.5, But it doesn't work。

[2020-06-15 14:51] minhazur-piash commented on #2578
I was able to fix it by adding the following lines.
[code]
I think the height of the imageview is problematic for some devices to render the vector image

[2020-06-15 15:09] mshafrir-stripe commented on #2592
@briskemen can you provide the full error message/stacktrace? Do you see this at compile time or runtime?

[2020-06-15 15:10] mshafrir-stripe commented on #2592
@briskemen can you also run the dependencies Gradle task and see what is depending on ASM 6?

[2020-06-15 15:49] mshafrir-stripe commented on #2578
@minhazur-piash thank you!

[2020-06-15 16:39] #2578 closed

[2020-06-16 09:47] jameslevine commented on #486
Would be great to know if there is any update on this?

[2020-06-16 10:38] thebillington commented on #486
@jameslevine doesn't seem the Stripe team are doing any work on this right now, hopefully there'll be a proper solution soon.

In the meantime I setup my own solution with the help of our web team. For the API when you create an account [send a request to Stripe to create a customer](https://stripe.com/docs/payments/save-and-reuse#android-create-customer) and then create endpoints for creating a p

[2020-06-16 11:06] freszu commented on #2573
@mshafrir-stripe Sorry for late response

Device: Pixel 4
Android: 10
Sdk: current master a08c4148a4189ac182eea58c4c477d4e9169a959 + same is reproducible in the app using 14.5.0

All the issues are reproducible in examples provided in stripe repository. Every single of them is reproducible with any config change (e.g. screen rotation, going split screen, language change).

**I use here split scree

[2020-06-16 22:53] smaskell-stripe commented on #2591
Hey @minhazur-piash. Thanks for filing. Can you give me more detail on what you expect the behavior to be here? There are multiple ways to associate a Payment Method with a Customer so just making sure I have the right context 😄 . Are you using PaymentSession? Any example code would be super helpful. Thanks!

[2020-06-17 14:07] edwardharks commented on #2481
This is @K4KYA's colleague. I can confirm we're still experiencing this issue with stripe version 14.5.0.

We're using gradle version 6.4

[2020-06-17 20:50] mshafrir-stripe commented on #2522
@hzjchina please reopen if you can create a sample project that reproduces the issue

[2020-06-17 20:50] #2522 closed

[2020-06-17 20:57] smaskell-stripe commented on #2564
Hi @pvarry. Thanks for filing. Can you point me to the specific error messages you're looking for from the iOS SDK? Thanks!

[2020-06-18 03:42] briskemen commented on #2592
only this , What can I do to provide you with useful information？
![image](https://user-images.githubusercontent.com/24949704/84975720-b3342980-b158-11ea-9f74-6c95c983e835.png)

[2020-06-18 07:36] pvarry commented on #2564
Thanks for your answer, I miss understand the implementation of iOS SDK. I though the iOS SDK have a lot of translated error but it didn't. And please don't take in consideration the sentence in original message.

The main point is : can you return translated and user ready error message on every error.
For exemple, the app try to make a payment with `confirmPayment` but the bank block the payment

[2020-06-18 10:49] mshafrir-stripe commented on #2592
@briskemen if you. run `./gradlew :app:dependencies` (or whatever your app's module is), you'll get a list of dependencies. Look for dependencies that require `asm` and share here.

[2020-06-18 19:26] smaskell-stripe commented on #2564
Thanks. That makes sense. I agree! Error messages should be localized and in most cases, they are.

Typically, these error messages are communicated via the `ApiResultCallback` (e.g. the one you pass to `onPaymentResult`). If `onError` is called, the `Exception` should have a localized message.

For an example, see our example - https://github.com/stripe/stripe-android/blob/master/example/src/main

[2020-06-18 20:17] smaskell-stripe commented on #2564
Please note that this only applies to SDK versions >= 14.0.0

[2020-06-19 10:36] dominolog opened #2600 "Using Google Pay as payment source - how to?"
## Summary
Using Google Pay as payment source - how to?

## Code to reproduce

## Android version
Each

## Impacted devices
Any

## Installation method
Via gradle

## SDK version
14.X.X

## Other information
I want to implement Google Pay as PaymentSource. How to do that? Do I need to manually integrate the Google Pay SDK? Is it possible to obtain stripe token from Google Pay PaymentSource?

[2020-06-19 11:32] stele95 opened #2601 "No way to see user's Bank Account"
## Summary

There is no way to fetch the user's Bank Account payment method.
The user we tested this with had only Bank Account entered for payment methods on Stripe Dashboard.
Calling `CustomerSession.getInstance().getCachedCustomer().getDefaultSource()` returns the ID of the default Source, in this case the ID of the Bank Account, but calling `CustomerSession.getInstance().getCachedCustomer().ge

[2020-06-20 06:48] briskemen commented on #2592
![image](https://user-images.githubusercontent.com/24949704/85195313-e666ec00-b303-11ea-83f1-fe94aebbadad.png)

[2020-06-20 06:50] briskemen commented on #2592
[dependencies.zip](https://github.com/stripe/stripe-android/files/4807472/dependencies.zip)

[2020-06-23 10:47] pvarry commented on #2564
I use SDK 14.5.0

In the localized of your exemple, the term `SetupIntent` is used, for me this is a engineer term and specific of how Stripe is working and cannot be show to the people using the app in real-life (end-user).

I'am looking for a error message who can be display to [End Users](https://en.wikipedia.org/wiki/End_user), this message must be easily comprehensible by everyone and without

[2020-06-23 17:57] mshafrir-stripe commented on #2600
@dominolog yes, you will need to integrate with the Google Pay SDK. Please see our instructions here: https://stripe.com/docs/google-pay

[2020-06-23 17:57] #2600 closed

[2020-06-23 18:04] mshafrir-stripe commented on #2592
@briskemen if you run `./gradlew :app:assembleDebug` from the command line, do you get the error?

I can't see any issues in the attached file. I would recommend creating a new project with the Stripe SDK and latest Gradle versions, then add in a dependency at a time until you find out which one is failing.

[2020-06-24 23:33] smaskell-stripe commented on #2564
That makes sense. You are correct that many error messages are intended for engineers, not end users. I do not believe we have a holistic strategy around end-user messaging. I'll see if I can get this on the roadmap. Thanks again for filing this issue. We always appreciate the feedback! This is definitely an area where Stripe can improve.

[2020-06-26 02:55] jayjun commented on #795
If Stripe decides to support Flutter, a native Dart version that does not rely on platform channels is preferred. The indirection really isn’t necessary since Dart is perfectly capable of talking to RESTful APIs. The publishable key can be added once in the Dart land, instead of trying to setup and debug across three platforms all the time. Native Flutter widgets are also preferred since many choo

[2020-06-27 09:58] irfan-429 opened #2620 "NullPointerException: Attempt to invoke virtual method 'java.lang.String com.stripe.android.model.Source.getFlow()' on a null object reference"
I'm getting null pointer exception when I replace **Live Publishable Key** with my Test Key. With test Key it works fine. I'm new to Stripe and I really don't know why am I getting this error after placing Live Key.

[code]

[2020-06-28 09:08] lyptt opened #2621 "PaymentData is deprecated, but this is what's used in the Google Pay guide"
## Summary
The [documentation](https://stripe.com/docs/google-pay#charges) runs through creating Stripe payments with Google Pay. In that guide, it tells you to extract the payment information from the Google Pay process via `PaymentData.getFromIntent(data!!)`.

The problem here is every accessor on this class is deprecated. There's no documentation at all for this class in your JavaDocs, there's

[2020-06-28 09:38] lyptt commented on #2621
As it turns out Google's basically deprecated the whole class and expects you to instead pull the data out of the JSON directly, handy!

[2020-06-29 07:48] briskemen commented on #2592
![image](https://user-images.githubusercontent.com/24949704/85987062-ba441d00-ba1f-11ea-8fa6-9243b42d65c9.png)

[2020-06-29 11:52] mshafrir-stripe commented on #2592
Looks like this is being caused by `classpath 'me.ele:lancet-plugin:1.0.6'` from https://github.com/eleme/lancet.

Can you file an issue with the developer to upgrade their version of ASM? They'll need to fix this on their end.

I also noticed that another userr filed a similar issue: https://github.com/eleme/lancet/issues/40

[2020-06-29 11:55] mshafrir-stripe commented on #2621
@lyptt you can do something like this:

[code]

See

[2020-06-29 11:55] #2621 closed

[2020-06-29 11:57] mshafrir-stripe commented on #2620
@irfan-429 thanks for filing. Can you share how you're creating the Source object? It sounds like you're running into an error and not correctly handling it.

[2020-06-29 12:28] lyptt commented on #2621
Yeah I managed to figure it out in the end, thanks. Might be worth updating your docs re the Google Pay deprecations.

[2020-06-29 15:40] pvarry commented on #2564
Tanks you for your answer, I hope you will find time to add this

[2020-06-30 11:27] irfan-429 commented on #2620
Here I'm creating the source in this way:

[code]

[2020-06-30 12:49] mshafrir-stripe commented on #2620
Do you see your request in [https://dashboard.stripe.com/logs](https://dashboard.stripe.com/logs)?

[2020-06-30 16:52] jayjun commented on #2564
English strings are unsuitable for end users too. The iOS SDK shows suitable ones. For comparison, `result.intent.lastPaymentError?.message` shows

**Android SDK**

**iOS SDK**

To reproduce, use the `4000 0025 0000 3155` test card then fail authentication.

[2020-07-01 06:06] briskemen commented on #2592
thanks, You guys are really great.

[2020-07-01 06:07] #2592 closed

[2020-07-06 01:30] briskemen opened #2624 "Support the same function suggestions as JS SDK to automatically determine whether postal code needs to be filled in"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

v14.5.0
## Other information

We found that when using the stripe to fill in the credit card on the web, "US, CA, GB" credit cards in these three countries, Stripe requires to fill in the postal code. We hope that the Android and iOS SDK will also add this feature.

[2020-07-06 16:24] sivabala142 opened #2625 "About Card card.getAddressZipCheck() is always return "unchecked""
I have added addressZip value while creating a token. Still token.card.getAddressZipCheck() is always return "unchecked. Please advice me on the same.

stripe.createCardToken(card, new ApiResultCallback() {
          public void onSuccess(Token token) {
                    token.getCard().getAddressZipCheck()
          }
}

[2020-07-06 16:27] sivabala142 commented on #2625
stripe.createCardToken(card, new ApiResultCallback<Token>() {
                        public void onSuccess(Token token) {
                                 token.getCard().getAddressZipCheck()
                        }
}

I have added addressZip value while creating a token. Still token.card.getAddressZipCheck() is always return "unchecked. Please advice me on the same.

[2020-07-06 16:34] aliriaz-stripe commented on #2625
Hello @sivabala142

The address verification check is not run at Token creation. It happens when a card is validated, either on attaching it to a Customer or when a Charge is created.

Since this is only Token creation (and no validation has occurred), the zip check has not happened, hence it is `unchecked`

Closing this issue as Github Issues for this repo should only be opened if it is an SDK bu

[2020-07-06 16:34] #2625 closed

[2020-07-06 17:21] sivabala142 commented on #2625
Thanks @aliriaz-stripe
We want to validate Zip code / Postal code when users add a Credit card to our app. So kindly assist us to validate postal code from mobile app side.

Note : Let us know if you have any option to validate postal code via CardMultilineWidget or any API to check postal code validations

[2020-07-06 17:45] aliriaz-stripe commented on #2625
@sivabala142 hello again!

The best way to do this would be to attach the Token/PaymentMethod to a Customer (which is a server-side operation) and then inspect the value for `address_zip_check`

This can be one of `pass`, `fail`, `null`, `unavailable` or `unchecked`. The latter 2 are for when this field could not be verified with the bank or if the bank just did not check that zip code field.

[2020-07-06 17:57] sivabala142 commented on #2625
@aliriaz-stripe
Thank a lot for your prompt reply. But Uber and Lynk apps are using Stripe payment and they are validating this Zipcode from the mobile app side during user add a new card. Can you please assist us to do same validation from our mobile app?

[2020-07-06 19:40] sivabala142 commented on #2625
@aliriaz-stripe
I kindly request you to reply to my question : Uber and Lynk apps are using Stripe payment and they are validating this Zipcode from the mobile app side during user add a new card. Can you please assist us to do same validation from our mobile app?

[2020-07-06 19:43] aliriaz-stripe commented on #2625
@sivabala142 I'm not sure how those other apps are doing this but this could still work _mostly_ the same on your end too.

Your mobile app will make a request to your server to attach the PaymentMethod to a Customer. Your server can then return a response to your mobile app, informing it if the zip/postal validation checks succeeded or not. You could then update your UI accordingly.

Hope that he

[2020-07-06 20:21] sivabala142 commented on #2625
Thanks a lot for your update. It would be really helpful for us

[2020-07-07 09:08] initishbhatt opened #2628 "CardMultiLineWidget: Not respecting Application theme"
i have set the  the app theme for text input layout to have a certain background, it is reflected in all the input fields in the app but not on the cardMultilineWidget, it still has the white background.

## Summary

## Code to reproduce

## Android version
All

## Impacted devices
ALL

## Installation method

## SDK version
14.5.0

## Other information

|Required background|Actual|
|---------|---

[2020-07-07 18:09] ArsenNersisyan opened #2629 "GooglePayJsonFactory.TransactionInfo.totalPrice"
## Summary
GooglePayJsonFactory.TransactionInfo.totalPrice type is Int instead of String (required by GPay). So I can't pass floating point summaries
E.g. It allows to charge $1, but not $1.9

## Code to reproduce
`

    /**
     * Launch the Google Pay sheet
     */
    private fun payWithGoogle() {
        AutoResolveHelper.resolveTask(
            paymentsClient.loadPaymentData(

[2020-07-08 19:23] mshafrir-stripe commented on #2629
@ArsenNersisyan the comment on that property is a bit misleading, but it should still work for your use case. The `Int` value you specify is converted to a string using the following logic:

[code]

So specifying `totalPrice = 500` will result in the string "5.00". In your cause, I believe you'll want to specify `1000080` for `"10000.80"`.

See https://github.com/stripe/stripe-android/blob/master/

[2020-07-08 20:33] mshafrir-stripe commented on #2621
@lyptt thanks for the feedback, I'll update the docs.

[2020-07-08 23:17] ArsenNersisyan commented on #2629
@mshafrir-stripe Understood so `{price: Float} * 100` will be correct value to charge.

Update the comment above the function please, so others wouldn't face the problem

[2020-07-09 05:45] ankitjain10 opened #2633 "No such payment_intent"
## Summary
Not able add card in payment method
No such payment_intent: pi_1H2aQK2eZvKYlo2CGD1jLh86

## Code to reproduce
paymentSession.presentPaymentMethodSelection(null);
adding test card details.

## Android version
9.0
SDK>19.

## Impacted devices
NA

## Installation method
gradle

## SDK version
implementation 'com.stripe:stripe-android:14.5.0'

## Other information
We are retrieving customer

[2020-07-09 10:01] mshafrir-stripe commented on #2633
@ankitjain10 thanks for posting. That Payment Intent id is associated with a Stripe test account, so that result is expected. Please double check the publishable and secret keys you're using both in your Android app and backend, and make sure they belong to your account.

[2020-07-09 10:02] #2633 closed

[2020-07-09 10:02] #2620 closed

[2020-07-09 18:53] rsanjuan87 opened #2637 "Entry name 'XPP3_1.1.4c_VERSION' collided"
Hi
I'm getting this error
`Entry name 'XPP3_1.1.4c_VERSION' collided`
whe I add
`    implementation "com.stripe:stripe-android:14.5.0";`
Any ideas why?

[2020-07-09 19:52] remi-stripe commented on #2637
@rsanjuan87 Thanks for reaching out and sorry for the trouble. This is not an error we're familiar with or have seen before unfortunately. This sounds like a conflict between some dependencies.

Would you be able to share the list of dependencies you have in your application and maybe your gradle file?

[2020-07-09 21:12] #2629 closed

[2020-07-10 01:35] rsanjuan87 commented on #2637
hi @remi-stripe
I guess you mean `run gradlew app:dependencies`
here is the out log
[deps.log](https://github.com/stripe/stripe-android/files/4900297/deps.log)

[2020-07-10 12:42] twobeeronebread opened #2640 "Support for ActivityResultContract"
## Summary

With onActivityResult being deprecated and it being suggested to use registerForActivityResult I am hoping that the sdk can add support for this. A simple example can be found here: https://developer.android.com/training/basics/intents/result#custom

## Code to reproduce

This is particular important when calling handleNextActionForPayment or any of the other methods that will require

[2020-07-10 12:53] mshafrir-stripe commented on #2640
@twobeeronebread thanks for filing and for your helpful suggestions. This is definitely something on our radar and something we've begun discussing internally. We'll keep you posted here on any updates.

[2020-07-10 14:29] mshafrir-stripe commented on #2637
@rsanjuan87 this looks to be an issue with the CometChat Pro SDK:

[code]

Have you tried posting an issue in https://github.com/cometchat-pro/android-chat-sdk/issues?

Also, what version of Gradle and Android Gradle Plugin are you using?

[2020-07-10 15:03] mshafrir-stripe commented on #2601
@stele95 thanks for filing. This will be added in #2641.

[2020-07-10 16:31] rsanjuan87 commented on #2637
in comet.. not yet,

gradle 6.5, android gradle plugin 4.0.0

[2020-07-10 17:30] mshafrir-stripe commented on #2637
Can you clarify what this means?

[2020-07-10 17:49] ankitjain10 commented on #647
Your referencedoc still stay so at [Link](https://stripe.com/docs/mobile/android/basic)
If your current user logs out of the app, clear the current CustomerSession singleton using the clearInstance method.

[2020-07-10 18:30] smaskell-stripe commented on #2628
Hey @initishbhatt. Thanks for filing. I can definitely look into this. Would you mind sharing your theme (or something similar) so I can make sure I'm testing the right use case? Thanks!

[2020-07-10 18:32] mshafrir-stripe commented on #647
@ankitjain10 thanks for flagging. This will be fixed in our docs shortly.

[2020-07-10 18:34] rsanjuan87 commented on #2637
Sorry I haven't posted yet in https://github.com/cometchat-pro/android-chat-sdk/issues

[2020-07-10 18:40] #2601 closed

[2020-07-10 20:13] rsanjuan87 commented on #2637
done
https://github.com/cometchat-pro/android-chat-sdk/issues/32

[2020-07-10 23:03] mboudraa opened #2642 "Support for suspended function"
## Summary

More and more apps are using Kotlin as a main language for android apps and it would be nice to have support for suspendable functions instead of wrapping callback api into a `suspendCoroutine`.

This would also help to cancel a call to stripe when a user leaves a screen for instance.

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

[2020-07-13 06:25] initishbhatt commented on #2628
Hey @smaskell-stripe sure
in the base theme I use  `<item name="textInputStyle">@style/TextInputLayoutAppearance</item>` to set the the TextInputLayoutAppearance for the whole app.
`  <style name="TextInputLayoutAppearance" parent="Widget.MaterialComponents.TextInputLayout.FilledBox">
        <item name="boxBackgroundColor">"can be any background color"</item>
        <item name="materialThemeOver

[2020-07-13 23:42] twobeeronebread commented on #2640
Sounds good, i was looking into the stripe source code to add support but it did seem like a few refactoring are needed to properly expose the intent.

Thanks for getting back so quick!

[2020-07-15 07:06] angelocapone opened #2645 "Any plan to support Flutter?"
I believe the Flutter community deserves official support from Stripe.
The unofficial ones are not reliable enough.
Is there any plan to support Flutter?

[2020-07-15 19:53] mshafrir-stripe commented on #2645
@angelocapone thanks for filing. We don't have any plans to create an official Stripe SDK for Flutter at this time. We'll update #795 if we have any updates.

[2020-07-15 19:53] #2645 closed

[2020-07-15 19:54] mshafrir-stripe commented on #2640
@twobeeronebread btw we'll hold off on supporting this until the API is in release.

[2020-07-15 19:57] mshafrir-stripe commented on #2642
@mboudraa thanks for filing. This is something roughly on our radar. We'll let you know if we have any updates.

[2020-07-15 23:29] twobeeronebread commented on #2640
That makes sense. I forgot that we are using the alpha version of androidx.activity:activity

[2020-07-16 17:50] #2628 closed

[2020-07-16 18:06] smaskell-stripe commented on #2628
Hi @initishbhatt. Thanks for raising this issue and sorry for the delay. This was indeed an oversight on our part. Unfortunately, we cannot use the default `textInputStyle` without affecting the default styling of the card widget. However, we have created `Stripe.CardInputWidget.TextInputLayout`, which you can override in your app.
e.g.
[code]
If you already have a text input style  that you want

[2020-07-20 13:50] Andralisimus opened #2650 "Not clear how to finish google pay"
## Summary

I was following https://stripe.com/docs/google-pay documentation. Where in last step I used Payment Intents API. And everything goes fine and Im reaching onSuccess in stripe.createPaymentMethod. But then I got lost. Because there is no information what to do next, and there is no information about successful payment in dashboard as-well.

I have PaymentMethod result but what to do with

[2020-07-21 08:30] Andralisimus commented on #2650
`stripe.confirmPayment(activity,ConfirmPaymentIntentParams.createWithPaymentMethodId(result.id,clientSecret));`

Made it. Now payment is shown in dashboard. But for me there are still questions.
So we use google pay just to take user info from google pay and then payment is created with stripe.confirmPayment? Or payment will be done without stripe.confirmPayment?

And also. Now in my case price is

[2020-07-21 15:38] aliriaz-stripe commented on #2650
hello @Andralisimus !
Great questions, I'll detail below:

Correct! To be more specific, what `confirmPayment()` does is, it confirms a PaymentIntent from your mobile app. "Confirming" a PaymentIntent means to attempt creating a charge on it.

The `totalPrice` you define in your Google Pay `paymentDataRequest` params is more for display reasons. The actual amount on the charge is what the PaymentI

[2020-07-21 15:38] #2650 closed

[2020-07-24 17:08] kenetix opened #2656 "FPX Account Selection Issue (Urgent)"
We've implemented **FPX payments for Android using SDK version 15.0.0**

However when we get to the bank's account selection page, we're unable to toggle the dropdown menu to select the bank account to pay from.

Basically **nothing happens when tapping on the dropdown menu**. This is happening for multiple banks pages.

This is tested on:
- SDK Version 15.0.0
- Android version 29 & 30

Is the web

[2020-07-26 08:51] kenetix commented on #2656
Just done a new test. It appears that all <SELECT> menus on Stripe's Android SDK WebView aren't loading.

@mshafrir

[2020-07-27 13:22] mshafrir-stripe commented on #2656
@kenetix thanks for filing and explaining how to reproduce the issue. I was able to reproduce this issue on my end as well. We will be issuing a release with the fix as soon as possible.

[2020-07-27 17:22] kenetix commented on #2656
Hi @mshafrir-stripe thank you so much! Looking forward to the update.

Also, please let me know if I can assist in other areas as well.

[2020-07-27 22:29] csabol-stripe commented on #2624
Hi @briskemen , thanks for the request. We are tracking this internally and will update this ticket with any updates :)

[2020-07-28 13:45] #2656 closed

[2020-07-28 21:09] mshafrir-stripe commented on #2637
@rsanjuan87 please reopen if you still need assistance

[2020-07-28 21:09] #2637 closed

[2020-07-28 21:11] mshafrir-stripe commented on #2656
@kenetix this issue should be resolved in [15.0.1](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1501---2020-07-28). Thanks again for filing.

[2020-08-04 09:24] briskemen opened #2683 "In project 'app' a resolved Google Play services library dependency depends on another at an exact version (e.g. "[1.3.1 ,2.3]", but isn't being resolved to that version"
## Summary

## Code to reproduce

## Android version

gradle_version=3.6.1
gradle-5.6.4-all.zip
## Impacted devices

## Installation method

yes
## SDK version

v15.0.1
## Other information

when I upgradle the sdk version 14.5.0-->15.0.1, build and sync，and run fail.

[code]

![image](https://user-images.githubusercontent.com/24949704/89277335-4aa4fb80-d677-11ea-9bfa-8dd4c34a4849.png)

[2020-08-04 10:33] briskemen commented on #2683
update google-services=4.3.3 is solved

[2020-08-04 10:33] #2683 closed

[2020-08-04 13:10] RAJESHKUMAR21TL commented on #1942
@Thamizhan and @msaffitz-stripe can you help me how you resolved? Me also facing "" issue

[2020-08-04 15:06] aliriaz-stripe commented on #1942
@RAJESHKUMAR21TL hello!

Do you have the same problem, where your client_secret string also includes `""` quotes in it?

If so, you need to modify your server-side code to return only the client_secret of the PaymentIntent, not wrapped in quote characters. Or on your Android side, you need to trim string to remove the wrapping quotes.

[2020-08-05 09:30] kenetix opened #2685 "CRASH - java.lang.RuntimeException on AddPaymentMethodFpxView.kt"
This crash keeps happening on some devices.

The current device its on is:
- Sony Xperia XZ1
- Android 9 (SDK 28)

[code]

[2020-08-05 11:01] mshafrir-stripe commented on #2685
@kenetix are you calling `PaymentConfiguration.init()` before starting `AddPaymentMethodActivity` with `AddPaymentMethodActivityStarter`?

[2020-08-07 08:30] Bharanitharan06 commented on #1942
HI, am facing same issue in android. i tried  remove double quotes and verified the secretkey also but am stilla getting error on every time how i can fix it.

Api response

` StringRequest request = new StringRequest(Request.Method.POST, url,

                new Response.Listener<String>() {

                    public void onResponse(String response) {
                        try {

[2020-08-07 08:33] Bharanitharan06 opened #2690 "Am getting error every time with No such payment_intent: "pi_**************************** in android"
HI, am facing no such payment_intent issue in android. i tried  remove double quotes and verified the secret key also but am still getting error on every time how i can fix it.

Api response

` StringRequest request = new StringRequest(Request.Method.POST, url,

                new Response.Listener<String>() {

                    public void onResponse(String response) {

[2020-08-07 13:05] alexandrudumbravan-nutmeg commented on #2573
Hello,

I've noticed this ticket and would like to make an update with regards to 3DS2. For 3DS1 I was able to reproduce the issue using Don't Keep Activities however there's a different behaviour for 3DS2 (Card: 4000000000003220).
In Stripe version 14.5.0 the Auth Screen gets stuck in the loading state endlessly
In Stripe version 15.0.2 the Auth Screen opens and then closes without any confirmati

[2020-08-07 16:22] amanpreeto7 opened #2691 "OnActivityResult request code"
What is the request code here as in android app we cannot have only one code in onActivityResult

[code]

[2020-08-07 22:18] chander-stripe commented on #2690
This sounds like a *Terminal* bug - that project is located [here](https://github.com/stripe/stripe-terminal-android/), but it sounds like you're facing an integration error. If you email support-terminal@stripe.com, we can help you out over there!

[2020-08-07 22:18] #2690 closed

[2020-08-07 22:26] smaskell-stripe commented on #2691
Hi @amanpreeto7. Thanks for reaching out. The request code used when confirming a payment intent is defined [here](https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/StripePaymentController.kt#L1041)

However, you should not to reference the request code directly. Instead, `stripe.onPaymentResult` will check if the request code matches and if it doesn't, w

[2020-08-07 22:36] smaskell-stripe commented on #2515
Hi @jakeaaron. Sorry for the late response here! Seems like we completely missed this issue.

You can use the [`cardTint`](https://github.com/stripe/stripe-android/blob/master/stripe/res/values/attrs.xml#L5) attribute to achieve this result

e.g.
[code]
![Screenshot_1596839698](https://user-images.githubusercontent.com/47332718/89693599-c8f5dd80-d8c3-11ea-94aa-3466779656e7.png)

[2020-08-07 22:36] #2515 closed

[2020-08-09 07:32] #2691 closed

[2020-08-10 15:49] aliriaz-stripe commented on #1942
@Bharanitharan06 hello! the issue you're running into might be that your client-side (i.e. your Android app) isn't authenticated as the Connect account but only as the Platform account (via the Platform's publishable key)

Are you passing the Connect account ID to your `Stripe()` instance on your Android app?
e.g. https://stripe.com/docs/connect/authentication#adding-the-connected-account-id-to-a-

[2020-08-10 16:42] mshafrir-stripe commented on #2522
@hzjchina this issue looks to be related to appcompat v1.1.0. The next release of our SDK will upgrade to v1.2.0, which should fix the locales issue.

https://developer.android.com/jetpack/androidx/releases/appcompat#version_120_3

[2020-08-11 08:19] Flo354 opened #2695 "method Token.fromString removed"
## Summary
Up to version 14.4.0, there was a method fromString to the class `com.stripe.android.model.Token`. Bumping to version 15.0.2 this method was removed. Since I am using jackson json as json library, this is counter intuitive

## Code to reproduce
[code]

## SDK version
15.0.2

[2020-08-12 09:48] ahqmrf opened #2698 "SDKRuntimeException: SDK app id is not available"
## Summary
App crashes when triggering the 3D secure 2 window with the following logcat:
`2020-08-12 15:35:24.812 2914-3400/com.example.app.debug E/AndroidRuntime: FATAL EXCEPTION: DefaultDispatcher-worker-4
    Process: com.example.app.debug, PID: 2914
    com.stripe.android.stripe3ds2.exceptions.SDKRuntimeException: SDK app id is not available
        at com.stripe.android.stripe3ds2.init.m.a(Un

[2020-08-12 13:58] mshafrir-stripe commented on #2698
@ahqmrf thanks for filing. Can you reliably reproduce this crash?

[2020-08-12 14:15] ahqmrf commented on #2698
Yes. Do you need any more information? @mshafrir-stripe

[2020-08-12 14:42] mshafrir-stripe commented on #2698
@ahqmrf yes, can you share repro steps?

[2020-08-12 14:55] ahqmrf commented on #2698
I have mentioned in the description. When a payment is introduced, we get a client secret from backend server and use that for handling 3DS 2 flow. The crash occurs when we call this method `Stripe#handleNextActionForPayment(activity, clientSecret)`.

[2020-08-12 14:59] mshafrir-stripe commented on #2698
@ahqmrf what I'd like to clarify is if this is always happening, or only on a particular device/API model?

[2020-08-12 15:06] ahqmrf commented on #2698
This is happening for that specific test card regardless of the device model or API version. I have not tested all other cards where 3DS 2 is required. I have checked that with `4000 0025 0000 3155` the crash does not happen. It is currently happening with `4000 0000 0000 3220`

[2020-08-12 19:56] mshafrir-stripe commented on #2698
@ahqmrf I merged a fix to our 3DS2 SDK. This should be resolved in the next release.

[2020-08-13 07:04] ahqmrf commented on #2698
@mshafrir-stripe thank you! Looking forward to using the next release 👍

[2020-08-13 16:36] #2698 closed

[2020-08-13 18:32] mshafrir-stripe commented on #2685
@kenetix please reopen if you still need assistance

[2020-08-13 18:32] #2685 closed

[2020-08-14 16:34] RAJESHKUMAR21TL commented on #1085
Hi Jackcsk,

Can you help me to fix the google pay issue? Me also facing the same issue. Thank you.

[2020-08-14 16:36] aliriaz-stripe commented on #1085
@RAJESHKUMAR21TL hello!
Could you say more, what exact issue are you facing? What is the error message you get back?

Any small code snippets you could paste here to show where the error is occurring would be helpful!

[2020-08-14 16:39] RAJESHKUMAR21TL commented on #1085
stripe = new Stripe(
                getApplicationContext(),
                Objects.requireNonNull(stripePublishableKey),vendorStripeID
        );

        final PaymentMethodCreateParams paymentMethodCreateParams =

                PaymentMethodCreateParams.createFromGooglePay(
                        new JSONObject(paymentData.toJson()));

        ConfirmPaymentIntentParams confirmParams = Con

[2020-08-14 16:47] RAJESHKUMAR21TL commented on #1085
https://stripe.com/docs/google-pay

I followed this above link I could not make it because after google payment is done from android the status is not getting updated in server and we are not able to get payment status of it. After I say this issues/1085 I tried with

[2020-08-14 17:03] RAJESHKUMAR21TL commented on #1085
SDK version is 29

[2020-08-14 17:11] aliriaz-stripe commented on #1085
@RAJESHKUMAR21TL sorry I meant the stripe-android SDK version (e.g Stripe Android is v15.1.0 latest)

[2020-08-17 04:16] RAJESHKUMAR21TL commented on #1085
implementation 'com.stripe:stripe-android:15.0.2'

and

implementation 'com.google.android.gms:play-services-wallet:18.0.0'

[2020-08-17 12:35] YussefSeddik opened #2720 "Notification sound issue"
## Summary
when adding custom sound to notification on android studio it work correctly without stripe sdk, when add stripe sdk notification sound not work!

## Code to reproduce

## Android version
api 29

## Impacted devices
all devices

## Installation method
with clone source to android studio

## SDK version
14.4.1

## Other information

[2020-08-17 13:02] mshafrir-stripe commented on #2720
@YussefSeddik thanks for filing. Can you share your dependencies?

[2020-08-17 15:55] YussefSeddik commented on #2720
I added my project to github have a look please.
if i removed stripe sdk the notification sound work well.
https://github.com/YussefSeddik/StripeTest

[2020-08-17 17:27] mshafrir-stripe commented on #2720
@YussefSeddik  can you first try upgrading to the most recent version of Gradle, `6.6`?

https://github.com/YussefSeddik/StripeTest/blob/master/gradle/wrapper/gradle-wrapper.properties

[2020-08-17 18:33] aliriaz-stripe commented on #1085
@RAJESHKUMAR21TL so from what I can tell, when your Google Pay token is initially created, it is created on your Platform account.

However, in your later request to confirm the PaymentIntent, your integration is using a PaymentIntent that was created on the Connect account, and your stripe-android SDK is also initialized as the Connect account in

[code]

Can you double check that when you call y

[2020-08-17 21:17] ball1008 opened #2729 "Preselect payment method"
## Summary

We are calling PaymentMethodsActivity successfully to present payment methods for selection.  When we start PaymentMethodsActivity with a payment method id, it is selected when the activity is presented.  When we call with null and then hit Add a Card, use AddPaymentMethodActivity to add a card, and then return to PaymentMethodsActivity, the card we just added is not selected.  If the

[2020-08-18 05:12] RAJESHKUMAR21TL commented on #1085
@aliriaz-stripe Thanks a lot. It is working now!

[2020-08-18 07:33] YussefSeddik commented on #2720
I tried to update gradle to 6.6 but still the same issue.

[2020-08-18 16:08] ESHVAR289 opened #2732 "App crashing on startup"
## Summary

Taken the pull of **stripe-android** repository
compile and build the code and when trying to launch the app it is crashing on my device (Xiomi POCO F1)

## Code to reproduce

`2020-08-18 18:34:19.522 16615-16615/com.stripe.example E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.stripe.example, PID: 16615
    java.lang.RuntimeException: Unable to create application com.stripe.

[2020-08-18 16:19] austinletson opened #2733 "CardInputWidget is overlapping with itself"
## Summary

The CardInputWidget is overlapping with itself. See picture below
![image](https://user-images.githubusercontent.com/21346448/90536556-33bbda00-e14a-11ea-9f13-8e3c5d9a1b39.png)

## Code to reproduce

Here are some code snippets of how we use the sdk (I have included code related to UI, but I can provide the rest if necessary):
[code]

[code]

## Android version

Our client observed the

[2020-08-18 16:24] ESHVAR289 commented on #2732
Found out what was the issue.
I diddn't put the configuration url's.

[2020-08-18 16:24] #2732 closed

[2020-08-18 17:48] Yeifri-Traders opened #2736 "Stripe Bot"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2020-08-18 18:38] mshafrir-stripe commented on #2733
@austinletson can you upgrade to the latest version (`15.1.0`) and see if the behavior is the same?

[2020-08-21 13:42] ra-devel opened #2754 "Unable to get option to set default payment method in inbuild UI"
Unable to get option to set default payment method and edit card option in in-build UI

## Summary
As we are allowing customers to manage multiple cards, We are using pre-build UI to display it. But we missing 2 important features in SDK.
(1) Allow to set default payment method
(2) Allow to Edit payment method.

## Code to reproduce
We are using below code to display/manage cards and its working f

[2020-08-24 09:21] maya165 opened #2761 "Issues with card icon"
When the page opens up, the card error icon is deployed before anything is typed. Once something has been typed and removed the error icon gets removed. Is it possible not to display the error icon until after the user starts to type the card details?

<img width="297" alt="Screen Shot 2020-08-24 at 1 36 04 AM" src="https://user-images.githubusercontent.com/70137061/91026279-66812a80-e5af-11ea-805

[2020-08-24 16:18] austinletson commented on #2733
Sorry for the delay. We are currently upgrading to 15.1.0. However we weren't able to reproduce the issue that the customer had so we won't be able to tell for sure if it is resolved. Is this something that has come up before for earlier versions and has since been fixed?

[2020-08-26 00:20] smaskell-stripe commented on #2761
Hi @maya165. Thanks for reaching out. Can you tell me which version of the stripe sdk you're using and what device/android version you're testing on? Can you provide some sample code to reproduce this issue (i.e. how you're instantiating the view). Thanks!

[2020-08-26 03:02] maya165 commented on #2761
Hi, thanks for replying.

<img width="260" alt="Screen Shot 2020-08-25 at 7 27 51 PM" src="https://user-images.githubusercontent.com/70137061/91250390-c2fa5c00-e70d-11ea-881a-bda346189dd6.png">

<img width="260" alt="Screen Shot 2020-08-25 at 7 37 19 PM" src="https://user-images.githubusercontent.com/70137061/91250413-caba0080-e70d-11ea-9397-66a356a6fadb.png">

<com.stripe.android.view.CardInputWi

[2020-08-26 04:00] maya165 commented on #2761
I problem was the cardInputWidget.getPaymentMethodCard(), I believe I called it too early.

[2020-08-26 04:00] #2761 closed

[2020-08-26 05:30] soorajaj opened #2762 "Card payment-Passing Billing details in android (user details like name, email id and phonenumber)"
@aliriaz-stripe   hi, I am new to the strip, and I am facing an issue in card payment, I need to display the user name and email id in the dashboard. in ios -(let paymentMethodParams = STPPaymentMethodParams(card: cardParams, billing details: getBillingDetails(), metadata: nil))
we can pass billing details like this, in android how we will pass billing details?.
My android Code for card payment is

[2020-08-26 09:24] pvarry commented on #2037
Hello, do you have any news about this issues ?
@mshafrir-stripe @smaskell-stripe

[2020-08-26 09:25] pvarry commented on #2564
Hello, do you have any news about this issues ?

[2020-08-26 16:06] calvarez-ov commented on #2493
Any input on this?

[2020-08-26 16:39] smaskell-stripe commented on #2761
Ah, yes. When you call `getPaymentMethodCard` we attempt to validate the input. Since no card number has been entered yet, this appears to be an invalid card. Glad you figured out a solution!

[2020-08-26 19:05] smaskell-stripe commented on #2037
Hey @pvarry. @mshafrir-stripe is currently working some changes to our card brand logic but is on vacation this week. We can discuss this when he returns.

As for the resource issue, it looks like we made most of our resources private years ago to avoid naming conflicts (see #424). We may need to revisit our strategy here. This is something we can discuss as well, though we don't have anything to

[2020-08-27 04:31] soorajaj commented on #1085
@aliriaz-strip I am facing an issue in card payment,
I need to sent billing details like owner name, email, phone number. I didn't find any solution for this in the strip SDK dock.
Following is my code to initiate a card payment

PaymentMethodCreateParams params = cardInputWidget.getPaymentMethodCreateParams();
if (params != null) {

                   ConfirmPaymentIntentParams confirmParams = Co

[2020-08-27 17:28] smaskell-stripe commented on #2564
Hey @pvarry. Sorry for the delay here. We don't have any updates at the moment but I've added as task to our next sprint to revisit this.

[2020-08-28 23:35] scaralfred opened #2763 "Redirection after Alipay payment hangs on hooks.stripe.com"
## Summary
We have integrated Alipay payment. Apparently anything works fine and even the Alipay payment goes through, but when it comes to redirect the user to the app we only see a blank webpage "hooks.stripe.com". There should be an Alipay page with a button to go back to the app.
Weird fact is that this happens 90 percent of the times. A very few times this goes though. This was tested with di

[2020-08-30 16:35] shruti-ahuja commented on #2186
@mshafrir-stripe Any updates?

[2020-08-31 16:00] aliriaz-stripe commented on #2186
@shruti-ahuja hello, could you say a bit more? Feel free to attach screenshots explaining what you're seeing and I can have a look

[2020-08-31 17:57] smaskell-stripe commented on #2763
Hi @scaralfred. Thanks for reaching out. It looks like you're using react native/tipsi-stripe - is that correct? We don't officially support react native at this time but, of course, want to make this work if at all possible. Can you tell me a bit more about your integration? It looks like you're authenticating using the web, not the alipay sdk, correct? Thanks!

[2020-09-01 14:15] scaralfred commented on #2763
Hi @smaskell-stripe.Thanks for your help. Yes we are using "tipsi-stripe" and I assume this library is using the method pasted below to run this operation:

@ReactMethod
  public void createSourceWithParams(final ReadableMap options, final Promise promise) {
    String sourceType = options.getString("type");
    SourceParams sourceParams = null;
    switch (sourceType) {
      case "alipay":

[2020-09-04 04:00] jayce211 commented on #2762
I hope someone answers, I have been looking for two weeks now and I still can't find proper documentation to do this.

[2020-09-04 17:38] aliriaz-stripe commented on #2762
@soorajaj @jayce211 Hello, sorry for the delay here

You would do something like this:

[code]

Basically, you create a copy of PaymentMethodCreateParams and pass in your `Address` instance under `BillingDetails`

Hope that helps!

[2020-09-04 17:38] #2762 closed

[2020-09-05 02:12] jayce211 commented on #2729
Same exact issue I came here looking for, the only thing I can figure out so far is to store their default payment method id on the server and use that one, which doesn't seem like it should be the correct way to do things.

[2020-09-05 05:23] jayce211 commented on #2762
@aliriaz-stripe thanks, from that code I was able to get it working on Java as well. The only thing I couldn't find was the new way to get the zip code from the card, so I had to use the deprecated way. So if you know a way to do that, please share :)

Java Code

        PaymentMethodCreateParams.Card card = cardMultilineWidget.getPaymentMethodCard();
        String postalCode = Objects.requireNon

[2020-09-07 14:40] CoreFloDev opened #2816 "Stripe crash on provided activities"
## Summary
Application crashes on prod, all the code is stripe, so I don't see what can I do to fix that issue
[code]

## Code to reproduce
Unable to reproduce

## Android version
any

## Impacted devices
galaxy A10 but also happened on other devices

## SDK version
15.0.0 but it was also happening on stripe previous version

[2020-09-08 10:52] amrishkakadiya opened #2817 "Create custom card object"
hello I am using
`implementation 'com.stripe:stripe-android:14.5.0'`

I am using my own UI for taking card number, card cvv, card expiry but to
`com.stripe.android.model.Card` have only one constructor with many parameters,

![image](https://user-images.githubusercontent.com/37258496/92467563-732c9200-f1ef-11ea-8308-087f134904b4.png)

I know if i use **card_multiline_widget** i can get card object

[2020-09-08 10:57] amrishkakadiya commented on #1145
How can I use my own edittext and create Card Object?

[2020-09-08 13:08] #2736 closed

[2020-09-09 05:57] romanpozd-tg17 opened #2826 "Duplicate class a.a.a.a.a.a found in modules classes.jar"
Hey!
We're using both openTok-android and stripe libraries in our project and after an attempt to update opentok version to 2.18.0 today we've got:
java.lang.RuntimeException: java.lang.RuntimeException: Duplicate class a.a.a.a.a.a found in modules classes.jar (com.opentok.android:opentok-android-sdk:2.18.0) and classes.jar (com.stripe:stripe-3ds2-android:4.0.5)

Any idea how to solve this conflic

[2020-09-10 13:27] mshafrir-stripe commented on #2816
@CoreFloDev thanks for filing. We'll fix this.

[2020-09-10 13:31] mshafrir-stripe commented on #2817
@amrishkakadiya I recommend upgrading to the latest version, [v15.1.0](https://github.com/stripe/stripe-android/releases/tag/v15.1.0), and using `CardParams` instead of `Card`. Please let me know if you have any follow-up questions.

[2020-09-10 14:43] #2816 closed

[2020-09-11 09:32] odedharth commented on #2341
@csabol-stripe @mshafrir-stripe I see that you've created a pull request but it wasn't merged. Any plan to merge it?

[2020-09-14 15:23] mshafrir-stripe commented on #2733
@austinletson I tried reproducing this issue on an emulator with a tiny screen and was not able to. See attachment below.

One idea: can you use `CardMultilineWidget` instead of `CardInputWidget`?

![Screenshot_1600096911](https://user-images.githubusercontent.com/45020849/93105019-8f5f8180-f67c-11ea-9533-3b91235c0b34.png)

[2020-09-14 15:34] mshafrir-stripe commented on #2817
Please reopen if you still have questions.

[2020-09-14 15:34] #2817 closed

[2020-09-14 23:25] smaskell-stripe commented on #2564
I've attempted to re-create some of the logic we have in the iOS SDK in #2849 and have sent this strings for translation. Thanks for pointing out this disparity! In general, Stripe is not committed to providing end-user messaging but I hope this is still useful. I'll try to remember to update this ticket when the translations are available. Let me know if you have additional feedback!

[2020-09-15 06:48] xiaoxiaohua333 opened #2851 "Unable to start activity ComponentInfo{com.XXX/com.stripe.android.stripe3ds2.views.ChallengeActivity}"
## Summary

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.easi.customer/com.stripe.android.stripe3ds2.views.ChallengeActivity}: com.stripe.android.stripe3ds2.exceptions.SDKRuntimeException: No TransactionTimer for transaction id 67ef8243-0d6c-4546-ac4e-26e9837dcff6
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3448)

[2020-09-15 09:15] pvarry commented on #2564
Thanks you for taking this in considerations

[2020-09-15 15:39] jakeaaron opened #2852 "RTL CardInputWidget error with CVC field"
using sdk version 14.5.0, running Android 11 on emulator:

CVC field is overlapping card field using `CardInputWidget` in a RTL language (arabic, for instance).

![Screenshot_1600184220](https://user-images.githubusercontent.com/18410663/93232462-90a5b280-f73f-11ea-8b5e-b42a3044ddce.png)

[2020-09-15 16:39] jakeaaron commented on #2515
Hey, @smaskell-stripe, no worries. Thanks a lot for the response 🙏

[2020-09-16 13:26] mshafrir-stripe commented on #2720
@YussefSeddik did you end up figuring out what the issue was? I haven't had a chance to investigate yet.

[2020-09-16 13:31] mshafrir-stripe commented on #2695
@Flo354 out of curiosity, what is your use case for creating your own Token object? You can use `GooglePayResult.fromJson()` to get all the relevant data out of a Google Pay response.

[2020-09-16 13:42] Flo354 commented on #2695
Hmmm, I wasn't aware that this class existed. Maybe it was not implemented back to when I did my implementation of Google Pay, so I had to use this to build the token. I don't remember...

But if the generated Token is the same from my code and your code, I think I can easily use GooglePayResult, since it also extract other information that I am extracting manually, like for creating the Token.

[2020-09-16 13:44] YussefSeddik commented on #2720
No I don't reach this issue reason, but i have used MediaPlayer class to play ringtone sound.

[2020-09-16 14:51] mshafrir-stripe commented on #2720
@YussefSeddik thanks for following up. If that solution works for you, can we close this issue?

[2020-09-16 14:51] mshafrir-stripe commented on #2695
@Flo354 good to hear!

[2020-09-16 14:51] #2695 closed

[2020-09-16 18:55] smaskell-stripe commented on #2754
Hi @ra-devel. Thanks for reaching out. For the first issue, you should be able to use `setInitialPaymentMethodId` on `PaymentMethodsActivityStarter.Args.Builder`. If there is a payment method with the provided id, it will be pre-selected in the UI as such:

![Screenshot_1600282301](https://user-images.githubusercontent.com/47332718/93379844-468e0100-f813-11ea-937f-099fcdd6bc02.png)

Unfortunately,

[2020-09-17 08:00] itboy87 opened #2861 "Subscription on android app"
Actually I first talked with support but they recommend me to file an issue here on GitHub or try StackOverflow.

## Summary
I didn't get any doc for subscription on android online. I'm stuck and confused about what to do next after creating payment session created and the user select an added card.

## Code to reproduce
I'm creating customer session & payment session like that:

In createEphemera

[2020-09-17 19:41] itboy87 commented on #2861
Well I'm able to create a subscription with
[code]

But now the issue is that I don't know how to handle 3d secure?

[2020-09-17 20:06] aliriaz-stripe commented on #2861
@itboy87 hello! Thanks for the detailed question!

So the basic Subscription flow on Stripe works like this:

1) create a PaymentMethod via the mobile SDKs
2) attach it to a Customer object
(You are already doing both these steps with PaymentSession, where you initialize a Customer and then attach a PaymentMethod to them)

3) Server-side, you create a Subscription using the `customer: cus_123` and

[2020-09-17 20:06] #2861 closed

[2020-09-18 07:29] itboy87 commented on #2861
@aliriaz-stripe thanks for responding it is working fine now. But I have a few more questions about it.

First, if 3d Secure enabled do I need to ask the user again to confirm payment by verifying 3d secure when the subscription renews or it will only once at the start?

Second, I have a small issue with callbacks of payment session. I want callback when the user selects the payment method. I know

[2020-09-18 18:30] mshafrir-stripe commented on #2851
@xiaoxiaohua333 thanks for filing. This will be fixed in the next release.

[2020-09-18 18:30] #2851 closed

[2020-09-18 21:52] aliriaz-stripe commented on #2861
@itboy87

3DS authentication is dependent on the card issuer, so any payment (either the initial payment or a recurring payment) can ask for authentication. Which is why our docs recommend that you build in a recovery flow, where you email your user to bring them back into your website/app to authenticate a recurring payment: https://stripe.com/docs/billing/subscriptions/overview#recurring-charges

[2020-09-21 08:40] calvarez-ov opened #2871 "Add Arabic support"
## Summary
Please add translations for Arabic in the android sdk (as well as error messages from the backend, which will be displayed in the Android app)

## Code to reproduce
N/A

## Android version
21+

## Impacted devices
Not device-specific

## Installation method
`implementation "com.stripe:stripe-android:15.1.0"`

## SDK version
15.1.0

## Other information

[2020-09-21 13:50] calvarez-ov opened #2872 "Make it possible for the user to decide, on a per-card basis, whether to attach the card or not"
## Summary
The braintree sdk provides an [option to add a "save card" checkbox](https://github.com/braintree/braintree-android-drop-in/blob/4.6.0/Drop-In/src/main/java/com/braintreepayments/api/dropin/DropInRequest.java#L221) in the card entry screen, which will determine if the card will be persisted in their backend or not:
<img width="453" alt="braintree" src="https://user-images.githubusercont

[2020-09-21 15:51] mshafrir-stripe commented on #2852
@jakeaaron thanks for filing, we'll have this fixed for the upcoming release

[2020-09-21 15:55] jakeaaron commented on #2852
Great, thanks @mshafrir-stripe !

[2020-09-21 18:08] angelocapone opened #2875 "Official Stripe SDK for Flutter ?"
Other Payment gateways, such us Square, are starting providing official SDK support for Flutter.
I think it’s the time for Stripe to support Flutter too as it is becoming more popular.
Unfortunately the unofficial ones are not reliable enough.
Is there any rough plan on this?
Thank you.

[2020-09-21 19:04] #2852 closed

[2020-09-21 19:27] mshafrir-stripe commented on #2875
@angelocapone thanks for your feedback. Unfortunately we don't have any short-term plans to offer a Flutter SDK. If we have any news to share, we'll communicate in #795.

[2020-09-21 19:27] #2875 closed

[2020-09-22 10:49] kashif-javaid opened #2879 "Android Stripe Source Creation for Klarna with Date of Birth Parameters passed , works only for double digit Days and Month"
## Summary

Given I create a Stripe Date of Birth Object in Android with day = 1 , month = 1 and year 1990, Stripe Date of birth object is successfully created , so does the KlarnaSourceParams and Source Object from these parameters. but resolved source object gives error about Data of Birth not valid ,

The same code works fine if you create date of object with day = 21 , month = 11 and year 1990

[2020-09-22 11:22] mshafrir-stripe commented on #2879
@kashif-javaid Thanks for filing this issue! This will be fixed in the next release.

[2020-09-22 11:28] mshafrir-stripe commented on #2826
@romanpozd-tg17 thanks for filing. To help debug, if you remove the opentok dependency, do you still get the error?

[2020-09-22 14:08] #2879 closed

[2020-09-22 15:06] matecode opened #2881 "Cannot access invoice_settings from Customer Model"
## Summary
The default payment method is not reflected in the Customer Model received by CustomerRetrievalListener

should include fields for:
[code]

## Code to reproduce
[code]

## Android version
all

## Impacted devices
all

## SDK version
15.1.0

## Other information
would be great if all fields from api response are accessible

[2020-09-22 17:17] aliriaz-stripe commented on #2881
@matecode Hello!

Setting `invoice_settings.default_payment_method` on a Customer is not currently supported in the Android SDK.

To set this field, you would have to leverage your server-side code and set the field there.

[2020-09-22 17:17] #2881 closed

[2020-09-23 08:47] c34d57 opened #2883 "Printah manual suport"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2020-09-23 10:30] Flo354 opened #2884 "GooglePayResult does not follow the PaymentData logic"
As stated in my previous issue https://github.com/stripe/stripe-android/issues/2695, there is a `GooglePayResult` class which can handle for us the parsing of the json returned by GooglePay.

I noticed few things that I consider myself problems.

1/ `PaymentData.toJson()` from Google library returns a `String`, not a `JSONObject`. It could be nice to actually have a static method which handles the

[2020-09-23 12:51] mshafrir-stripe commented on #2883
@c34d57 please reopen with the issue you're experiencing if you need assistance.

[2020-09-23 12:51] #2883 closed

[2020-09-23 12:56] mshafrir-stripe commented on #648
@fadibouteraa thanks for filing. `CardInputWidget ` is specifically for credit cards. At this time we don't have plans to create a UI component for Bancontact. I recommend creating your own if needed.

[2020-09-23 12:56] #648 closed

[2020-09-23 20:43] mshafrir-stripe commented on #2872
@calvarez-ov thanks for filing. This definitely makes sense as a feature to add. We'll add it to our backlog.

[2020-09-23 20:43] #2720 closed

[2020-09-24 09:08] droidluv opened #2893 "CardParams cannot be created with values provided by us"
In 16.0.0 CardParams cannot be created with values from our own custom UI like how we used to build a card with Card.Builder(), CardParams uses an internal constructor and most of the validation on the params that could be done on the Card object is deprecated.

**We are forced to use the CardInputWidget to obtain the cardparams data** is this an intentional move?, **is there any new way to create

[2020-09-24 12:55] mshafrir-stripe commented on #2893
@droidluv thanks for filing. I see that `CardParams`'s constructors are internal, which is unintentional. I'll have this fixed and issue a new release as soon as we can.

Additionally, what methods were using previously that are no longer available? If you could share a code example that would be very helpful.

[2020-09-24 18:53] #2893 closed

[2020-09-25 07:45] briskemen opened #2896 "CVC EditTextView"
## Summary

## Code to reproduce

## Android version

V16.0.0
## Impacted devices

vivo z5
## Installation method

gradle
## SDK version

## Other information

![image](https://user-images.githubusercontent.com/24949704/94240596-126abc80-ff46-11ea-9282-0dd481537936.png)

[2020-09-25 13:23] mshafrir-stripe commented on #2522
@hzjchina see https://cs.android.com/androidx/platform/frameworks/support/+/androidx-master-dev:appcompat/appcompat/src/androidTest/java/androidx/appcompat/app/NightModeCustomApplyOverrideConfigurationActivity.java for an example of how to override Locale

[2020-09-25 14:32] #2896 closed

[2020-09-27 09:32] gunjot-mansa commented on #2893
Do anyone have idea, when 16.1.0 is going to be released?

[2020-09-29 14:21] mshafrir-stripe commented on #2493
@calvarez-ov sorry for the delay in responding to you. We're continuing to investigate this issue internally, including exploring a solution using Chrome Custom Tabs.

For the time being, if you wish to avoid using WebViews for security concerns, you can handle the payment authentication by doing something like the code below. You would also need to set up your app to handle the return URL.

[code

[2020-09-29 15:39] calvarez-ov commented on #2493
Thanks for the reply @mshafrir !

I seem to missing a piece of the puzzle: once my app is reopened again thanks to the `returnUrl`, how can I obtain the `PaymentResult`?

[2020-09-29 15:42] mshafrir-stripe commented on #2493
@calvarez-ov the `returnUrl` will have query parameters including the `client_secret`. You can re-fetch the `PaymentIntent` using the client secret and check its status to determine if user actions were successfully resolved.

Let me know if that makes sense!

[2020-09-29 15:46] calvarez-ov commented on #2493
If it's not too much trouble, could you point me in the direction of the api used to refetch the `PaymentIntent`?

[2020-09-29 15:49] mshafrir-stripe commented on #2493
@calvarez-ov sure:

[Stripe.retrievePaymentIntent(clientSecret, callback)](https://stripe.dev/stripe-android/stripe/com.stripe.android/-stripe/retrieve-payment-intent.html)

[2020-09-29 16:09] calvarez-ov commented on #2493
Thanks! This has been a big help to get started 👍

[2020-09-29 16:12] mshafrir-stripe commented on #2493
@calvarez-ov I'm happy to hear that. I'll close this issue but feel free to reopen if you need further assistance.

[2020-09-30 20:36] qw0c opened #2904 "Getting result of stripe.onSetupResult from fragment"
## The issue
If I call stripe.onSetupResult from Fragment, onActivityResult is not called in Fragment (but called in Activity).

## SDK version
14.2.0 and newer. 14.1.1 works as intended.

## Other information
In the example project, there is a way to simulate correct behavior, but it looks a bit hacky:
https://github.com/stripe/stripe-android/blob/93a41bc3825ce4489ef098f2d2f39a7707d5a102/example/

[2020-09-30 20:43] mshafrir-stripe commented on #2904
@qw0c thanks for filing. Is this fixed for you in the latest version, v16.0.0?

[2020-09-30 21:13] qw0c commented on #2904
@mshafrir-stripe, oh I'm a little behind on this project 😅

Yeah, this issue was fixed earlier (https://github.com/stripe/stripe-android/issues/2482), thank you!

[2020-09-30 21:13] #2904 closed

[2020-10-02 11:24] calvarez-ov commented on #2493
We've got a POC with custom tabs basically working.

It's a lot of code changes for us though. (We were previously using the basic integration.) So I'm not sure if it's worth it to continue in this direction, or to wait for the stripe sdk to have custom tabs support.

To help us decide, could you please provide whatever information you can at this point for the following questions?
* When the stri

[2020-10-05 21:14] jhonnyx2012 opened #2915 "Wrong localization for non es-ES spanish locale"
## Summary
While trying to tokenize a test card I'm getting a non lokalized (english when it should be spanish) error string from the sdk.
The device is in es-CL locale.

Test card I'm using (JCB):
Number: 3566 1111 1111 1113
Exp. date: 12/22
CVV: 123

## Code to reproduce

## Android version
It happens in different android versions but I'm using android 10.

## Impacted devices
It happens in diff

[2020-10-06 01:57] mshafrir-stripe commented on #2915
@jhonnyx2012 can you provide a screenshot or the string you're seeing?

[2020-10-06 02:00] jhonnyx2012 commented on #2915
Sure.
![Clipboard 2020-02-10 at 5 34 23 PM](https://user-images.githubusercontent.com/6137546/95150404-79fee400-075e-11eb-8b5e-680f193f682e.png)

[2020-10-06 12:04] gaffycool opened #2917 "during stripe.confirmPayment, the activity/fragment can get destroyed/recreated causing issue with onActivityResult"
## Summary

the issue is that during the stripe.confirmPayment, it requires to pass an activity or fragment and does not accept application context. the issue is that when the confirmPayment method gets called, the activity or fragment could get destroyed or recreated. this causes some issues such as loosing the response, loosing data and not being able to hit the success or failure inside the onA

[2020-10-06 12:26] gaffycool commented on #2917
@mshafrir @NotWoods

[2020-10-06 13:08] mshafrir-stripe commented on #2917
@gaffycool `onActivityResult` guarantees passing back the result even if the launching `Activity` is destroyed/recreated. Can you reproduce an example where this isn't happening?

We require passing `Activity` because confirmation may require launching a subsequent `Activity` for payment authentication.

If you wish to handle confirmation manually, you can use [Stripe# confirmPaymentIntentSynchron

[2020-10-06 14:40] gaffycool commented on #2917
@mshafrir yes that's correct, but stripe actually holds the reference to the old activity when it is destroyed. for example during the payment let say the user presses the home button during the payment, that activity will get recreated, stripe confirm payment holds the old reference to the activity and then it will never fall into the onActivityResult

[2020-10-06 14:50] gaffycool commented on #2917
it never comes into the onActivityResult if the view gets destroyed or recreated. I have also refactored the above to use the AndroidViewModel but that only works with the method stripe.createPaymentMethod because that method you can pass application context, however it doesn't do the same thing from my understand as the confirmPayment because confirmPayment actually creates the payment transactio

[2020-10-07 18:04] tmtrademarked opened #2921 "SDK includes BouncyCastle tests"
## Summary
After updating to 16.0.1, our instrumentation tests fail with a newly included BouncyCastle test. It appears that this test is incorrectly included in the BouncyCastle library itself. The specific test that fails is `org.bouncycastle.pqc.crypto.qtesla.QTeslaKeyEncodingTests.testDecodeEncodePrivateKeyQT3P`.

## SDK version
16.0.1

## Other information
As pointed out by BouncyCastle, I be

[2020-10-07 18:14] mshafrir-stripe commented on #2921
@tmtrademarked thanks for filing. What version of `stripe-android` did you upgrade from?

[2020-10-07 18:21] tmtrademarked commented on #2921
We upgraded from a very old version - 10.4.2 to be exact.

[2020-10-07 18:49] tmtrademarked commented on #2921
To validate my suspicion, I was able to work around this for now by adding the following to our build.gradle:
[code]

[2020-10-07 18:55] mshafrir-stripe commented on #2921
Unfortunately BouncyCastle v1.65 [introduced issues for some users](https://github.com/stripe/stripe-android/issues/2427). It also appears that [v1.66](https://github.com/bcgit/bc-java/issues/762) introduces its own issues. We'll need to investigate this further. For the time being, we'll need to continue using v1.64.

[2020-10-07 19:04] tmtrademarked commented on #2921
Ugh, yuck - that is unfortunate. :-/ Thanks for taking a look here! I'm not sure if there are better solutions here than my hack in the build file. I wonder if other users are experiencing anything similar, or if there's something unique in our setup that causes this. I'm sure we could change the command we use to run tests or some such, as a possibility, but that also feels potentially dangerous.

[2020-10-07 19:20] mshafrir-stripe commented on #2921
@tmtrademarked yeah agreed that this is unfortunate. BouncyCastle can clearly be finicky on Android. This is the first I've heard of this issue, so I don't have any prior art for the best way to resolve it. I haven't tested this approach, but could you try excluding BouncyCastle entirely just in your tests? This would work in theory unless you are somehow instrumenting the 3DS2 challenge flow.

[c

[2020-10-07 19:57] tmtrademarked commented on #2921
Yeah, that's a good idea - I can give that a shot. If we don't use the 3DS2 features, is there any harm to just excluding the `bcprov-jdk15on` module from the library in our app in the first place? Ie, anything you can see that would be a problem with just:
[code]

[2020-10-07 20:03] mshafrir-stripe commented on #2921
@tmtrademarked I can't really recommend doing that without knowing more about your integration. Can you exclude in debug and include in release builds?

[2020-10-07 20:18] tmtrademarked commented on #2921
Hmm. Unfortunately, it looks like just excluding from the tests doesn't quite work, probably because the app's version of the library itself still pulls this dependency in. We could go with excluding in debug and not in release, but at that point, I think we're making things harder on ourselves later.

[2020-10-11 11:59] ali9653 opened #2923 "Flutter Android App Crashes on Adding A Stripe Card"
## Summary
I have integrated the stripe plugin with my Flutter android app. Whenever I add a card the app crashes.

## Code to reproduce
Fatal Exception: java.lang.NoSuchFieldError: No field type of type Ljava/lang/String; in class Lcom/stripe/android/model/PaymentMethod; or its superclasses (declaration of 'com.stripe.android.model.PaymentMethod' appears in /data/app/com.myapp.app-TWmb3n7398GJPF-

[2020-10-12 14:03] mshafrir-stripe commented on #2923
@ali9653 what version of the Stripe Android SDK are you using? Looks like the version used by tipsi is incompatible with whatever version you're using.

[2020-10-12 14:39] ali9653 commented on #2923
stripe_sdk 3.0.1+1

[2020-10-12 14:42] mshafrir-stripe commented on #2923
@ali9653 that appears to be the Flutter SDK. What version of `stripe-android` are you using?

[2020-10-12 15:10] ali9653 commented on #2923
where can I check this?

[2020-10-12 15:14] mshafrir-stripe commented on #2923
@ali9653 can you share your app's dependencies list?

[2020-10-12 15:27] ali9653 commented on #2923
name: headstrt_app
description: A new Flutter project.

version: 3.0.0+3

environment:
  sdk: ">=2.8.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^0.5.10
  matrix_gesture_detector: ^0.1.0
  cloud_firestore: ^0.14.0+2
  firebase_dynamic_links: ^0.6.0
  firebase_core: ^0.5.0
  cupertino_icons: ^0.1.3
  http: ^0.12.2
  line_icons: ^0.2.0
  url_launcher: ^5.5.2
  animated

[2020-10-12 15:27] ali9653 commented on #2923
name: my_app
description: A new Flutter project.

version: 3.0.0+3

environment:
  sdk: ">=2.8.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^0.5.10
  matrix_gesture_detector: ^0.1.0
  cloud_firestore: ^0.14.0+2
  firebase_dynamic_links: ^0.6.0
  firebase_core: ^0.5.0
  cupertino_icons: ^0.1.3
  http: ^0.12.2
  line_icons: ^0.2.0
  url_launcher: ^5.5.2
  animated_text_

[2020-10-12 15:36] mshafrir-stripe commented on #2923
@ali9653 it appears that there's an issue with the Stripe Flutter library you're using. Likely an incompatibility between underlying dependencies. I would file an issue with that repo: https://github.com/jonasbark/flutter_stripe_payment/

[2020-10-12 15:36] #2923 closed

[2020-10-14 12:36] gerbiljames commented on #2921
I think the fix here is to upgrade to bouncycastle 1.66 but switch to using the JDK 1.5-1.8 library (bcprov-jdk15to18) instead of the 1.5 onwards library (bcprov-jdk15on). It seems 1.66 added support for Java 15 to the latter which causes Jetifier to crash as it doesn't have support for that bytecode version. I would offer a PR but the 3ds2 library appears to be closed source.

[2020-10-15 11:09] condesales opened #2935 "PAYMENT_REQUEST_CODE accessible outside SDK"
## Summary
Make [PAYMENT_REQUEST_CODE](https://github.com/stripe/stripe-android/blob/52e73a51dc5e9e47369f24649331279323456f67/stripe/src/main/java/com/stripe/android/StripePaymentController.kt#L1136) accessible outside the SDK

The app can have an activity that handles multiple Request Codes
i.e:
[code]

I wanted to make sure I'm passing on the intent to stripe to handle on `stripe.onPaymentResult

[2020-10-15 11:16] #2935 closed

[2020-10-16 10:07] juschmitt-ioki opened #2940 "Cannot enter 19-digit CreditCards with CardMultilineWidget"
## Summary

We're currently in the process of updating the Stripe SDK in our project to the latest Version (16.0.1) and read in your migration guide, that with this version, we should be able to enter 19-digit CreditCards using the `CardMultilineWidget`.
We're already using this Widget, but are not able to enter any 19-digit CreditCard no matter which Brand it is.

The `CardNumberEditText` just st

[2020-10-16 13:58] mshafrir-stripe commented on #2940
@juschmitt-ioki thanks for filing. Can you provide the BIN of the card number you are testing with?

[2020-10-19 07:30] juschmitt-ioki commented on #2940
@mshafrir-stripe Sure! Here are two that we tried:

VISA: 4539017541309771431
Discover: 6011423711019440124

These are just random valid 19-digit BINs, as the point is that we can't even enter them into the field.

[2020-10-20 07:31] juschmitt-ioki commented on #2940
Ah alright! No worries, I guess this can be closed then.
Thank you guys for the quick responses.

[2020-10-20 07:31] #2940 closed

[2020-10-20 11:54] sabvente opened #2944 "Unable to set cardholder name in PaymentMethodCreateParams.Card."
## Summary
There is no way to add cardholder name when making a basic checkout with a card.

## Code to reproduce
See `PaymentMethodCreateParams.createCard`.

`CardParams.name`, `CardParams.address`, `CardParams.currency` and `CardParams.metadata` gets lost during the mapping, because `PaymentMethodCreateParams.Card` doesn't have these properties.

## SDK version
16.0.1

[2020-10-20 12:45] utwyko opened #2945 "Redirect to Banking App install page in iDEAL flow"
## Summary
The iDEAL flow currently only works if you have a banking app installed. If not, after clicking on the "Go to mobile banking app" the Android app receives a cancelled `PaymentIntentResult`. I'd expect it to instead open the Play Store or web page where the banking app can be installed.

## Code to reproduce
1. Create an iDEAL `PaymentIntent` with a bank for which you do not have the mob

[2020-10-20 13:05] mshafrir-stripe commented on #2945
@utwyko thanks for filing. Can you run `adb logcat -s StripeSdk` while you're attempting authentication and share the logs?

[2020-10-20 13:06] mshafrir-stripe commented on #2944
@sabvente thanks for filing. Can you share your code?

[2020-10-20 13:26] utwyko commented on #2945
Of course, thanks for the quick response.

[code]

[2020-10-20 13:32] sabvente commented on #2944
@mshafrir-stripe Sure
[code]

[2020-10-20 15:11] mshafrir-stripe commented on #2940
@juschmitt-ioki the BIN for `4539017541309771431` has 16-digit numbers, so that number appears to be invalid to me. How did you generate it?

The BIN for `6011423711019440124` has 19-digit numbers, so that is a number we should support.

[2020-10-20 15:20] mshafrir-stripe commented on #2944
@sabvente `PaymentMethodCreateParams.createCard()` will populate the name and address information in `params.billingDetails`. See the implementation below.

[code]

[2020-10-20 15:20] #2944 closed

[2020-10-20 15:27] mshafrir-stripe commented on #2945
To clarify the expected behavior:

If the banking app is not installed, are you expecting to be directed to authenticate the transaction in a WebView (and you aren't seeing that)?

[2020-10-21 04:46] juschmitt-ioki commented on #2940
As we don't have any 19-digit CreditCards ourselves or Test Numbers, we generated them using some online tool which claims to generate valid numbers (which just wouldn't work without the expiry date and cvc).

I was under the impression that, as long as the CreditCard number can be verified using the Luhn Algorithm they should at least work for entering them into the Card number input field.

[2020-10-21 06:10] StefMa commented on #2940
Does it make sense to update the [stripe testing page](https://stripe.com/docs/testing) and add a valid 19 digits card there? 🤔

[2020-10-21 07:11] utwyko commented on #2945
When I opened this ticket I expected the install page (either Play Store or a custom page) to be opened. Looking at the logs, I realise that that's up to the individual bank to handle.

In this example, `nl-regiobank-ideal://payment` is requested and cannot be handled by any installed apps. From Stripe's perspective I'd expect nothing to happen and the `Secure Checkout` webview to remain open. Tha

[2020-10-21 13:07] mshafrir-stripe commented on #2493
@calvarez-ov we will investigate adding Custom Tabs support sometime in the future, but unfortunately I can't provide any timeline or guarantees at this time. I would recommend implementing this functionality yourself if you need it.

[2020-10-22 03:53] 95DBC opened #2957 "Type parameter 'com.stripe.android.PaymentIntentResult' is not within its bound; should extend 'com.stripe.android.model.StripeModel'"
## Summary
Type parameter 'com.stripe.android.PaymentIntentResult' is not within its bound; should extend 'com.stripe.android.model.StripeModel'

## Code to reproduce
[code]
## Android version
Android 10

## Impacted devices
Pixel 3

## SDK version
 implementation 'com.stripe:stripe-android:16.0.1'
 implementation(name:"alipaySdk-15.5.9-20181123210601", ext:"aar")

## Other information
When I use

[2020-10-22 09:48] leandrofavarin opened #2958 "Support for OutlinedBox"
## Summary
Can't use the Material `OutlinedBox` variant of the `TextInputLayout`

## Code to reproduce
[code]

## Android version
Q

## Impacted devices
n/A

## Installation method
n/A

## SDK version
16.0.1

## Other information
Also tried using the `Stripe.CardInputWidget.TextInputLayout`, as well as without the `TextInputLayout` wrapping the `CardInputWidget`.

Currently it looks like this:

<i

[2020-10-22 21:44] mshafrir-stripe commented on #2958
@leandrofavarin thanks for filing. We'll add this to our backlog.

[2020-10-22 21:45] mshafrir-stripe commented on #2957
@95DBC I can't reproduce this issue. Where are you seeing that message? A screenshot would help.

[2020-10-23 08:07] 95DBC commented on #2957
[https://stripe.com/docs/payments/alipay/accept-a-payment](url)  This is the official example.
[https://github.com/95DBC/test_img/blob/master/app/src/main/res/drawable/1.png](url) This is my problem.

[2020-10-23 08:14] leandrofavarin commented on #2958
Thanks Michael!

[2020-10-23 08:36] 95DBC commented on #2957
[https://github.com/95DBC/test_img/blob/master/app/src/main/res/drawable/2.png](url) This is another question about Google Pay. It also comes from the official example  :)

[2020-10-23 14:17] mshafrir-stripe commented on #2957
@95DBC I can't reproduce this issue. It might be based on some IDE setting you've enabled?

<img width="479" alt="Screen Shot 2020-10-23 at 10 16 52 AM" src="https://user-images.githubusercontent.com/45020849/97014861-df9def00-1518-11eb-80dd-adf20c6e086a.png">

[2020-10-26 05:40] s675660665 opened #2967 "Stripe crash with error SIGTRAP on PaymentAuthWebViewActivity running js"
## Error Stack
#00 pc 0000000001eb96e4 /system/app/WebViewGoogle/WebViewGoogle.apk
#01 pc 0000000001eb95a4 /system/app/WebViewGoogle/WebViewGoogle.apk
java:
android.os.MessageQueue.next(MessageQueue.java:332)
android.os.Looper.loop(Looper.java:168)
android.app.ActivityThread.main(ActivityThread.java:6878)
java.lang.reflect.Method.invoke(Native Method)
com.android.internal.os.RuntimeInit$MethodAndA

[2020-10-26 05:50] s675660665 commented on #2967
##SDK version
14.4.1

[2020-10-26 12:57] mshafrir-stripe commented on #2967
@s675660665 thanks for filing. Can you reproduce the error? Does it still happen if you upgrade to `16.0.1`?

[2020-10-26 20:11] abobr commented on #597
@ksun-stripe hi, any news on supporting 19 digits cards (ie Visa) anytime soon ?

[2020-10-27 06:34] s675660665 commented on #2967
@mshafrir-stripe This error still occurs every day, almost 1100 users using our app affected.And we are trying to update the Stripe SDK version to solve it.I will add comments when our app released for a while to tell you whether it works for us.
Thanks.

[2020-10-27 11:18] briskemen opened #2972 "Expiry can't input 12223 five number"
## Summary

## Code to reproduce

## Android version

9
## Impacted devices

Redmi
## Installation method

gradle
## SDK version

V15.0.1
## Other information

![image](https://user-images.githubusercontent.com/24949704/97294487-034e9580-1889-11eb-805b-920f17148842.png)
1. input 1.33, and delete
2. faster input 12223, and you can see that

[2020-10-27 15:47] mshafrir-stripe commented on #2972
@briskemen thanks for filing. How did you reproduce inputting "12223" into the field?

[2020-10-27 21:51] #2972 closed

[2020-10-28 13:16] ealfonso93 opened #2978 "Crash when trying to launch webview for 3D Secure card"
## Summary
payment_auth_web_view_activity: Error inflating class

## Android version
Android 10 (MIUI 12.0.5.0)

## Impacted devices
Xiaomi Mi9T

## SDK version
Saw it happen with `14.5.0` but still the same with `16.0.1`

## Other information
Have been using mostly `4000 0025 0000 3155` test card, but saw it happening with any card trying to launch the webview
Here's the stack trace from the cras

[2020-10-28 13:20] mshafrir-stripe commented on #2978
@ealfonso93 thanks for filing. Can you reproduce the issue consistently?

[2020-10-28 13:31] ealfonso93 commented on #2978
Yes, tried doing a fresh Gradle invalidate / restart on Android Studio plus a fresh simulator (usually I use the mentioned Xiaomi Mi9T and it's happening as well) and consistently I'm getting the crash on both phones

[2020-10-28 13:32] mshafrir-stripe commented on #2978
@ealfonso93 which simulator are you using? Can you provide exact details including API version?

[2020-10-28 13:34] ealfonso93 commented on #2978
Sorry, bad wording I meant to write emulator and I'm using Pixel 2 API 30 (Android 11) with Play Store

[2020-10-28 13:44] mshafrir-stripe commented on #2978
I couldn't reproduce the crash using an API 30 emulator:

![test](https://user-images.githubusercontent.com/45020849/97444149-35500e00-1902-11eb-8d74-85b2aef036e1.gif)

[2020-10-28 14:17] ealfonso93 commented on #2978
I'm still getting the crash, Can I sent you the full session logs to some address? Just in case there's some extra info there, meanwhile I'll give a try to the sample if there's any for 3D secure.

Thanks

[2020-10-28 15:03] mshafrir-stripe commented on #2978
@ealfonso93 can you add your email address to your profile? I can contact you there.

[2020-10-28 15:06] ealfonso93 commented on #2978
Sure, done

[2020-10-28 15:07] dtfortunato opened #2983 "Paying with 3D Secure always receive the status=requires_action"
I'm implementing your SDK to execute the payments and everything works good besides when I try to test with the card: 4000000000003220
When I try to execute the payment with this test card, I receive the `PaymentIntentResult.outcome == FAILED` and `PaymentIntentResult.status == requires_action`
I only see a screen with a Visa logo and a progress indicator, but then it closes and nothing happen. I

[2020-10-28 16:05] mshafrir-stripe commented on #2983
@dtfortunato thanks for filing. I'm unable to reproduce the issue. Do you see anything in logcat which might help debug?

[2020-10-28 16:08] mshafrir-stripe commented on #2978
I noticed this in the stacktrace:
[code]

- Are you using material components?
- What is your app theme?

[2020-10-28 16:38] ealfonso93 commented on #2978
Yes

The app theme is `Theme.MaterialComponents.Light.NoActionBar`

[2020-10-28 16:39] mshafrir-stripe commented on #2978
What version of material components?

[2020-10-28 16:41] ealfonso93 commented on #2978
`1.2.0`

[2020-10-28 17:21] dtfortunato commented on #2983
Not really, I just see the activity Stripe3ds2CompletionActivity is created and then destroyed immediately after. Then, I'm checking the code of that Activity: https://github.com/stripe/stripe-android/blob/4836d3e38e1588a887a016f8497f365ab75929cb/stripe/src/main/java/com/stripe/android/view/Stripe3ds2CompletionActivity.kt
and only do that:
- Set the result
- Send a local broadcast action
- Destroy

[2020-10-28 17:28] mshafrir-stripe commented on #2983
@dtfortunato I haven't tested with a Dynamic Feature Module. I can try to verify behavior.

[2020-10-28 17:35] mshafrir-stripe commented on #2978
Can you share your other dependencies?

[2020-10-28 17:37] mshafrir-stripe commented on #2978
It appears that the issue is related to inflating `<com.google.android.material.appbar.AppBarLayout />`

[2020-10-28 17:52] dtfortunato commented on #2983
I will appreciate it. Because, this is the only test payment that doesn't work properly. And based on your current code, should be related with the Broadcast receiver

[2020-10-28 20:02] Mihir3646 commented on #2348
I am facing the same issue, I have tried with the application class object also.

[code]

ExampleEphemeralKeyProvider class

[code]

[2020-10-29 08:35] xiaoxiaohua333 opened #2986 "StripePaymentController handlePaymentResult"
## Summary
[code]

## Code to reproduce
[code]

## Android version
android 8

## SDK version
 implementation 'com.stripe:stripe-android:16.0.1'
## Other information
please check resultCode or throws exception when getClientSecret()

[2020-10-29 08:36] xiaoxiaohua333 opened #2987 "PaymentSession handlePaymentData Parameter specified as non-null is null:"
## Summary
[code]

## SDK version
 implementation 'com.stripe:stripe-android:15.1.0'

[2020-10-29 09:51] ealfonso93 commented on #2978
`StripeDefaultTheme` is overriden by:

[code]

If I remove this style override the crash disappears

[2020-10-29 13:31] ealfonso93 commented on #2978
Further debugging this issue with a coworker we found out that it seems that the theme is trying to apply `colorPrimary` as `?attr/colorPrimary` but the on the [AppBar itself](https://github.com/stripe/stripe-android/blob/5c89cd634a308616e7a72a47fac6ecddb4e2b39a/stripe/res/layout/payment_auth_web_view_activity.xml#L34) the background is pointed to look for that same attribute which at the same tim

[2020-10-29 13:54] mshafrir-stripe commented on #2987
@xiaoxiaohua333 thanks for filing

[2020-10-29 14:31] mshafrir-stripe commented on #2978
@ealfonso93 can you share a diff of the change that resolves the crash?

[2020-10-29 14:33] #2986 closed

[2020-10-29 14:45] mshafrir-stripe commented on #2978
Shouldn't the values in your theme point to actual color values? Currently they appear to be self-referential.

[2020-10-29 17:11] mshafrir-stripe commented on #2348
@Mihir3646 in what class does this code reside?

[code]

[2020-10-29 17:37] #2987 closed

[2020-10-29 17:49] Mihir3646 commented on #2348
@mshafrir-stripe Thank you for the quick reply.

The code resides in the Application class.

[2020-10-29 19:14] mshafrir-stripe commented on #2348
@Mihir3646 what is the exact issue you're experiencing?

[2020-10-30 09:14] Mihir3646 commented on #2348
@mshafrir-stripe While I am calling the `presentPaymentMethodSelection` method it will open the `PaymentMethodsActivity` and then open `AddPaymentMethodActivity`, after adding the card info when I try to add that it continuously loading.

Here is the video.
https://drive.google.com/file/d/1QtbBuBesNRpbXepEc0wzymEinwqahrZ3/view?usp=sharing

[2020-10-30 11:18] dtfortunato commented on #2983
@mshafrir-stripe Sorry, but do. you have any news about this topic? Could you test it with DFM? I think the issue can be related with that. Or do you have an idea of a workaround that I can do on my side to handle this issue?

[2020-10-30 12:31] mshafrir-stripe commented on #2983
@dtfortunato I haven't been able to verify yet, will likely need to wait until next week. If possible, could you verify if it works when used in a non-feature module?

[2020-10-30 15:37] ealfonso93 commented on #2978
@mshafrir-stripe We realised that you were right (thanks), in the end we dropped the style itself (it doesn't 100% fit the material theming and trying to maintain it for several different flavours could be a huge burden, ignoring the style for the toolbar, and for just a webview we decided to drop it.

As a nice addition could be good to have that toolbar respect the `PaymentAuthConfig` provided s

[2020-10-30 15:43] mshafrir-stripe commented on #2978
@ealfonso93 I'm happy to hear that you were able to resolve the issue. Regarding styling via `PaymentAuthConfig`, we may look at deprecating that class in a future release because it seems that using themes is a more native/standard approach. Would this work for you?

[2020-10-30 15:43] #2978 closed

[2020-11-02 17:06] mptechjolly opened #3004 "Create Stripe Express Account"
Hi, is it possible to integrate stripe express account creation in app using this sdk and how ?

[2020-11-02 17:18] aliriaz-stripe commented on #3004
@mptechjolly that would be a great question for the Support team at https://support.stripe.com/contact , please write in to them and they should be able to help you!

[2020-11-02 17:18] #3004 closed

[2020-11-03 16:59] dtfortunato commented on #2983
@mshafrir-stripe We just found the issue. We started to test this on our core module and due to some of our modifications, we found out there was missing some style properties on the theme.

I will suggest you to at least throw an exception or a log when you don't have the required style properties to open the authorization screen.

Anyway, on our side seems to be working good now. Thank you for y

[2020-11-03 17:26] dtfortunato commented on #2983
Also, we had to add the dependency on the core module, otherwise will not work as well.

[2020-11-04 12:01] Mihir3646 commented on #2348
@mshafrir-stripe Any solution? I also contact the support still not get any proper solution. If resolve soon so, It's a great help to me.

[2020-11-04 19:19] #2921 closed

[2020-11-05 16:10] mshafrir-stripe commented on #2348
@Mihir3646 what version of the SDK are you using?

[2020-11-06 09:43] Mihir3646 commented on #2348
@msaviano-stripe I am using the 16.0.1 version SDK.

[2020-11-06 13:28] THTServe opened #3014 "Error: uses-sdk:minSdkVersion 16 cannot be smaller than version 19 declared in library [com.stripe:stripe-android:10.4.6]"
## Summary
Unable to run app if stripe_payment is installed.  Reports Error:  uses-sdk:minSdkVersion 16 cannot be smaller than version 19 declared in library [com.stripe:stripe-android:10.4.6].   Default app is created with version 16 currently.

## Code to reproduce
Add to Pubspec.yaml then try and run app after pub get.

## Android version
API 30

## Impacted devices
Any

## Installation method

[2020-11-06 13:44] mshafrir-stripe commented on #3014
@THTServe thanks for filing an issue. Can you clarify when this issue started happening? Can you upgrade to the latest version of `stripe-android`? `10.4.6` is an old version.

[2020-11-06 13:46] mshafrir-stripe commented on #2348
@Mihir3646 when you run `adb logcat`, do you see anything in the logs that indicates an issue?

[2020-11-06 14:02] THTServe commented on #3014
Started today after getting via pubspec.yaml inclusion.  So this should be latest version?

`dependencies:`
`  stripe_payment: ^1.0.8`

.packages says:
`stripe_payment:file:///C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/stripe_payment-1.0.8/lib/`

[2020-11-06 14:11] mshafrir-stripe commented on #3014
FYI `stripe_payment` is not an official Stripe library - it is maintained here https://github.com/jonasbark/flutter_stripe_payment.

I would check the `uses-sdk:minSdkVersion` of your other dependencies and make sure they are all set to at least 19.

[2020-11-06 14:11] #3014 closed

[2020-11-06 14:23] THTServe commented on #3014
Many thanks for quick response.  As per my comment above the minSDKVersion of 19 causes further issues.  (with dex).  Fix seems to require  minSDKVersion to be at least 21.

[2020-11-06 15:47] mshafrir-stripe commented on #2921
I just published [v16.1.0](https://github.com/stripe/stripe-android/releases/tag/v16.1.0). This upgrades BouncyCastle to 1.6.7. Let me know if this resolves the issue.

[2020-11-06 15:47] mshafrir-stripe commented on #2986
I just published [v16.1.0](https://github.com/stripe/stripe-android/releases/tag/v16.1.0). This should resolve your issue.

[2020-11-06 15:48] mshafrir-stripe commented on #2987
I just published [v16.1.0](https://github.com/stripe/stripe-android/releases/tag/v16.1.0). This should resolve your issue.

[2020-11-06 17:07] Mihir3646 commented on #2348
@mshafrir-stripe Nothing. Is ther any specific tag that I can track?

Just this logs when adding card detail, but no log after "right image click"

W/IInputConnectionWrapper: getSelectedText on inactive InputConnection
W/IInputConnectionWrapper: getTextAfterCursor on inactive InputConnection
W/IInputConnectionWrapper: sendKeyEvent on inactive InputConnection
W/IInputConnectionWrapper: sendKeyEvent

[2020-11-09 21:03] tmtrademarked commented on #2921
It looks like using BouncyCastle 1.6.7 does in fact fix this - I was able to remove my hack in the gradle file, and everything continued working as expected with no extraneous tests. Thanks for the update!

[2020-11-10 07:12] ssuresh1295 commented on #1808
Hi team
card_multiline_widget.setCardValidCallback(object : CardValidCallback {
override fun onInputChanged(
isValid: Boolean,
invalidFields: Set<CardValidCallback.Fields>
) {
// added as an example - no-op
}
})

Here you are giving callback of invalid fields. And not error message respective to the input. And If I start to enter the Card number, this callback gives all the three fields are invali

[2020-11-10 10:14] leandrofavarin commented on #2296
Still happening on `16.1.0`.

The up to date fix is:

[code]

[2020-11-11 15:20] MrSatan opened #3029 "onError Called After Paying in test version"
## Summary
everything was ok until today . after i pay for somthing the result will produce on Error

## Code to reproduce
W/System.err: com.stripe.android.exception.APIException: length=0; index=0
        at com.stripe.android.exception.StripeException$Companion.create(StripeException.kt:54)
        at com.stripe.android.StripePaymentController$startConfirm$1$1.invokeSuspend(StripePaymentControll

[2020-11-11 15:43] mshafrir-stripe commented on #3029
@MrSatan did this start happening immediately after upgrading your SDK version to `16.1.0`?

[2020-11-11 15:43] mshafrir-stripe commented on #2957
Closing - can't reproduce.

[2020-11-11 15:43] #2957 closed

[2020-11-13 07:57] MrSatan commented on #3029
No , it started on previous version , i upgreades to new version i hoped it fixed , but didn't
im using pay intent in android

[2020-11-13 21:03] mshafrir-stripe commented on #3029
@MrSatan can you reproduce the issue? If so, can you set a breakpoint inside `StripeException.create()` and share details about the `Throwable` object?

[2020-11-14 08:37] MrSatan commented on #3029
@mshafrir-stripe  unfortunately the error is gone and i can't reproduce it . if it happened again i will share it with you

[2020-11-15 15:13] mshafrir-stripe commented on #3029
Feel free to reopen if this happens again.

[2020-11-15 15:13] #3029 closed

[2020-11-23 13:57] Mihir3646 commented on #2348
@mshafrir-stripe Any update or any changes I can do? Still not able to resolve the issue.

[2020-11-23 19:52] mshafrir-stripe commented on #2348
@Mihir3646 is it possible that you aren't calling `onKeyUpdate()` or `onKeyUpdateFailure()` in your `EphemeralKeyProvider` implementation? I don't see that happening in your code.

[2020-11-23 19:52] mshafrir-stripe commented on #2348
@Mihir3646 can you share more code examples of how you're using `PaymentSession`?

[2020-11-24 02:47] xiaoxiaohua333 opened #3081 "UnknownHostException Unable to resolve host "errors.stripe.com""
## Summary
we get the crash from firebase

[code]

## Android version

![image](https://user-images.githubusercontent.com/9317990/100040400-28abd080-2e42-11eb-929b-6089d77a6112.png)

## Installation method
 implementation 'com.stripe:stripe-android:16.1.0'

## SDK version
16.1.0

## Other information
   implementation 'com.squareup.okhttp3:okhttp:3.12.1'
    implementation 'com.squareup.okhttp3:lo

[2020-11-24 12:24] mshafrir-stripe commented on #3081
@xiaoxiaohua333 thanks for filing. I am able to reproduce the issue and will be issuing a new release with the fix.

[2020-11-24 16:00] Mihir3646 commented on #2348
@mshafrir-stripe Here is all the thing what I did

Payment Session which I am setting in the Application class before landing on the payment page of my app.

`    public void setUpPaymentSession (String publisherKey) {
        PaymentConfiguration.init(getApplicationContext(), publisherKey);

        CustomerSession.initCustomerSession(this, new ExampleEphemeralKeyProvider(), false);
    }
`

Exam

[2020-11-24 19:37] #3081 closed

[2020-11-25 06:25] SergeyMilevskiy opened #3086 "crash with CardWidgetProgressView"
<img width="1097" alt="Screenshot 2020-11-25 at 07 23 26" src="https://user-images.githubusercontent.com/5111553/100190805-4daa4d00-2eef-11eb-92e7-766f85faf896.png">

[2020-11-25 13:51] mshafrir-stripe commented on #3086
@SergeyMilevskiy thanks for filing. What version of the SDK are you using? Can you reproduce the issue?

[2020-11-25 14:54] SergeyMilewski commented on #3086
@mshafrir-stripe I guess the latest  =>  'com.stripe:stripe-android:16.1.0'

[2020-11-25 16:14] mshafrir-stripe commented on #2348
Where do you call `mEphemeralKeyUpdateListener` in `ExampleEphemeralKeyProvider`?

[2020-11-25 16:16] mshafrir-stripe commented on #3086
This should be fixed with #3072. How many instances of this crash have you had?

[2020-11-25 16:46] SergeyMilewski commented on #3086
@mshafrir-stripe Take a look at statistics, we don't have so many users, but that is why I decided to put it here.
<img width="379" alt="Screenshot 2020-11-25 at 17 40 49" src="https://user-images.githubusercontent.com/1695291/100256993-b4f2ec00-2f45-11eb-9f96-3c898bbdf485.png">
<img width="1120" alt="Screenshot 2020-11-25 at 17 41 21" src="https://user-images.githubusercontent.com/1695291/1002570

[2020-11-25 17:53] mshafrir-stripe commented on #3086
This should be fixed in version `16.1.1`, which was just released.

https://github.com/stripe/stripe-android/releases/tag/v16.1.1

[2020-11-25 17:53] #3086 closed

[2020-11-25 17:53] mshafrir-stripe commented on #3081
This should be fixed in version `16.1.1`, which was just released.

https://github.com/stripe/stripe-android/releases/tag/v16.1.1

[2020-11-25 17:55] jhonnyx2012 commented on #2915
Hello, is there any update in this issue?

[2020-11-26 09:54] Krishnasony commented on #2733
I'm using the latest stripe dependency but CardInputWidget is overlapping.  like this issue

[2020-11-26 12:50] mshafrir-stripe commented on #2733
@Krishnasony can you try switching to `CardMultilineWidget`?

[2020-11-26 15:06] Mihir3646 commented on #2348
Actually, not calling. What is the use of it and when I need to call?

[2020-11-26 15:08] mshafrir-stripe commented on #2348
@Mihir3646 please take a look at our documentation for how to implement an `EphemeralKeyProvider `

https://stripe.com/docs/mobile/android/basic#set-up-ephemeral-key-client-side

[2020-11-26 16:10] Mihir3646 commented on #2348
Tons of Thanks @mshafrir-stripe

I missed a very important line of code. Here are the changes what I made in my **ExampleEphemeralKeyProvider class** and It's working

[code]

[2020-11-27 11:21] Krishnasony commented on #2733
Actually requirement is CardInputWidget. but Thank you it resolved by just changing some space attribute. like I added padding before so, I removed it and make it full width. It's working fine

[2020-11-30 03:48] mshafrir-stripe commented on #2967
@s675660665 please reopen if you still see this issue after upgrading.

[2020-11-30 03:48] #2967 closed

[2020-11-30 03:51] mshafrir-stripe commented on #2345
@draza are you still experiencing this issue on the latest version of the SDK?

[2020-11-30 03:51] #2345 closed

[2020-12-01 01:44] DomenicBianchi01 commented on #486
Any updates on this? Would be awesome if Stripe for Android had the same scanning feature as the iOS version!

[2020-12-01 08:04] emre-kocaman opened #3098 "CardInput widget not found"
## Summary
I implemented the stripe library. However, CardInputWidet view cannot be found by the java class.

## Code to reproduce
![sorun](https://user-images.githubusercontent.com/57297688/100713172-e72c9f80-33c4-11eb-8e97-0a63ec7ced52.JPG)

## Android version
Android studio version: 4.1

## Installation method
//stripe
    implementation 'com.stripe:stripe-android:16.1.0'
    implementation 'co

[2020-12-01 13:56] mshafrir-stripe commented on #3098
Did you upgrade from a previous version or is this a new integration?

Are you importing `com.stripe.android.view.CardInputWidget`?

[2020-12-01 21:00] c34d57 opened #3103 "Summary"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2020-12-01 21:01] c34d57 opened #3104 "Android version"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2020-12-01 21:01] c34d57 opened #3105 "Installation method"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2020-12-01 21:02] c34d57 opened #3106 "sdk version"
version

## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2020-12-01 21:02] c34d57 opened #3107 "Oter information"
information

## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2020-12-03 14:44] jamesdixon commented on #486
I second what @DomenicBianchi01 said 👍

[2020-12-04 05:51] briskemen opened #3122 "[bug] stripe3ds2.exceptions.SDKRuntimeException Directory server name null is not supported"
## Summary

My application is connected to the stripe sdk, and it is put on Google Play, but firebase crashlytics monitors that the stripe crashes.
## Code to reproduce

com.stripe.android.stripe3ds2.exceptions.SDKRuntimeException$Companion.create (SDKRuntimeException.java:12)
a.a.a.a.g.s$a$a.a (s.java:50)
com.stripe.android.stripe3ds2.views.ChallengeProgressActivity.onCreate (ChallengeProgressAct

[2020-12-04 05:52] briskemen commented on #3122
![image](https://user-images.githubusercontent.com/24949704/101127185-f0717280-3637-11eb-9d68-abd2c92120f5.png)
![image](https://user-images.githubusercontent.com/24949704/101127197-fbc49e00-3637-11eb-9695-b01e79a559b4.png)

[2020-12-04 11:06] slott commented on #115
com.stripe.android.BuildConfig.VERSION_NAME has been removed in latest version... What to use now ?

[2020-12-04 13:34] mshafrir-stripe commented on #115
@slott out of curiosity, how are you using this value?

[2020-12-04 14:39] mshafrir-stripe commented on #3122
Thanks for filing. What version of the SDK are you running? This should be resolved in the latest version.

[2020-12-05 02:55] briskemen commented on #3122
v15.0.1

[2020-12-05 14:53] mshafrir-stripe commented on #3122
You can upgrade to the latest (`v16.1.1`) to fix this.

[2020-12-08 07:41] cmbaykal commented on #486
Any updates on this?

[2020-12-08 15:31] mshafrir-stripe commented on #486
Thanks for your feedback. We don't have any updates to share at this time, but will keep this issue posted if anything changes.

[2020-12-08 18:11] Saravana-Gunaseelan opened #3147 "Hint overlaps with the title in CardMultilineWidget"
## Summary
Focus in the `CardMultilineWidget` is reset to the card number on device rotation. This causes the hint text of previously shown edittext to overlap with the edittext title

![stripe_hint_bug](https://user-images.githubusercontent.com/53452295/101523609-70584f00-394e-11eb-9a8f-3fedeba238ff.gif)

## Code to reproduce

[code]

## Android version
Android studio version: 4.1

## Installatio

[2020-12-08 22:40] mshafrir-stripe commented on #3147
@Saravana-Gunaseelan thanks for filing the detailed issue. I am able to reproduce and am posting a PR to fix.

[2020-12-08 22:49] #3147 closed

[2020-12-09 13:41] MrBrightside29 commented on #2826
I'm also facing this issue but with [Teads SDK](https://github.com/teads/TeadsSDK-android)
[code]

[2020-12-10 12:02] amrishkakadiya commented on #2893
Already released and, its working with new version, I have tested with 16.1.1

[2020-12-10 13:10] #3098 closed

[2020-12-11 02:13] briskemen commented on #3122
thanks. I updated and will try to relist it on Google Play.

[2020-12-11 14:20] lamrak opened #3173 "Duplicate classes"
## Summary

We are using in our application stripe sdk version 16.1.1 and gradle can't build project due to duplicated class.
[code]
It looks like a library has changed from bcprov-jdk15on-N.jar to bcprov-jdk15to18-N.jar since version 16.1.0 (bcprov-jdk15on is part of other library that used in our project and could not be removed or updated).

Do you have any solution, ideas, how to avoid current

[2020-12-11 18:45] mshafrir-stripe commented on #3173
@lamrak thanks for filing this issue. I'll investigate and let you know what I find.

[2020-12-11 22:30] mshafrir-stripe commented on #3122
@briskemen please reopen if you're still running into this issue.

[2020-12-11 22:30] #3122 closed

[2020-12-18 02:57] mshafrir-stripe commented on #3173
Could you provide more details about the other library? Was it compatible with `bcprov-jdk15on`?

[2020-12-18 08:44] lamrak commented on #3173
Sure,

other library is the same on but with minor differences (described here https://www.bouncycastle.org/latest_releases.html):

`bcprov-ext-jdk15to18-167.jar`

This version 15to18 comes In our project with the smack library.

You can try add this to catch this issue:

[code]

I see that in 16.0.0 you also have the same version of `bcprov-jdk15on` but starting from 16.1.0 (or 16.1.1) it was cha

[2020-12-18 14:51] #2983 closed

[2020-12-22 12:36] AhmadShaheer28 commented on #2585
Hello, sir I'm getting the same error in SDK version 16.1.1

[2020-12-22 14:51] mshafrir-stripe commented on #2585
@AhmadShaheer28 please verify that the publishable key you're supplying to the Android SDK pairs with the secret key you're using to create the SetupIntent on your backend.

[2020-12-28 07:38] VictorKalevich opened #3217 "CVC/CVV is not masked"
in demo https://raw.githubusercontent.com/stripe/stripe-android/master/assets/card_input.gif we see CVV masked automaticaly from 123 to ***. but possibility of disguise is absent.
Adding param android:inputType="numberPassword" in XML not working https://github.com/stripe/stripe-android/issues/514
version 14.1.1 and 16.1.1 act the same way

[2020-12-29 06:55] AhmadShaheer28 commented on #2585
@mshafrir-stripe verified, but still facing the same issue.

[2020-12-29 12:52] AhmadShaheer28 commented on #2585
PaymentMethodCreateParams.Card card = m_stripeCard.getPaymentMethodCard();

if (card != null) {
  PaymentMethod.BillingDetails billingDetails =
          new PaymentMethod.BillingDetails.Builder()
                  .setEmail(AccountUtils.currentUser.getEmail())
                  .build();

  PaymentMethodCreateParams paymentMethodParams = PaymentMethodCreateParams
          .create(card, billingDe

[2021-01-02 22:08] sushmasatish commented on #1085
The initialisation of GooglePayConfig with stripeAccountID resolved the issue for me. Thanks a lot. I wish the docs at https://stripe.com/docs/google-pay - CheckoutActivity gets an update with GooglePayConfig initialization step.

[2021-01-05 18:55] js-bonin commented on #2341
Our users are experiencing the same confusion as described in this issue, is there any update on this? @csabol-stripe @mshafrir-stripe

Thanks!

[2021-01-08 10:24] odedharth opened #3236 "Google Pay - Strong Customer Authentication"
We are using Google Pay via the Stripe SDK, and just receive from Google the email shown below.
What do we need to do to comply with this?

![Screenshot at Jan 08 12-21-40](https://user-images.githubusercontent.com/624023/104004381-5bb8e200-51ac-11eb-9328-8b63dd3943af.png)

[2021-01-08 14:58] mshafrir-stripe commented on #3236
@odedharth thanks for filing this issue. Can you share the code you're using to configure Google Pay?

[2021-01-09 06:00] minhazur-piash commented on #3236
@mshafrir-stripe Here is the code we are using to configure google play.
[code]

[2021-01-11 15:06] mshafrir-stripe commented on #3236
You'll want to specify `countryCode` in the `TransactionInfo` constructor.

[2021-01-11 20:14] mshafrir-stripe commented on #2826
@romanpozd-tg17 @MrBrightside29 can you verify if upgrading to stripe-android `16.2.0` resolves this issue?

[2021-01-11 20:14] #2826 closed

[2021-01-11 20:20] mshafrir-stripe commented on #3173
Can you try upgrading to `stripe-android:16.2.0` and check if you are still experiencing this issue?

[2021-01-12 04:38] ccmtmp opened #3245 "Hide phone number field on Billing Address Form"
For using this config:
[code]

Could I hide the phone number field ?